Repository Card-Forge/forge, pull requests merged in 2022-10, with the labels that each got.

#1621 Add BOT edition
  forge-gui/res/editions/Transformers.txt
Labels: Upcoming Set

#1608 BRC Mishra, Eminent One
  forge-gui/res/cardsfolder/upcoming/mishra_eminent_one.txt
Labels: Upcoming Set

#1618 BRO 3 cards + some Deckhints stuff for assembly-workers + 3 fix
  forge-gui/res/cardsfolder/a/assembly_worker.txt
  forge-gui/res/cardsfolder/m/mishras_factory.txt
  forge-gui/res/cardsfolder/m/mishras_workshop.txt
  forge-gui/res/cardsfolder/s/self_assembler.txt
  forge-gui/res/cardsfolder/u/urzas_factory.txt
  forge-gui/res/cardsfolder/upcoming/mishras_foundry.txt
  forge-gui/res/cardsfolder/upcoming/recruitment_officer.txt
  forge-gui/res/cardsfolder/upcoming/sloppity_bilepiper.txt
  forge-gui/res/cardsfolder/upcoming/surge_engine.txt
  forge-gui/res/cardsfolder/upcoming/the_lost_and_the_damned.txt
  forge-gui/res/cardsfolder/upcoming/the_war_in_heaven.txt
Labels: Upcoming Set, Card Cleanup

#1627 YDMC, SLD, BRR, BOT edition updates
  forge-gui/res/editions/Alchemy Dominaria.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/The Brothers War Retro Artifacts.txt
  forge-gui/res/editions/Transformers.txt
Labels: Upcoming Set

#1628 BOT missed one
  forge-gui/res/editions/Transformers.txt
Labels: Upcoming Set

#1614 40K: Kharn, the Betrayer and support (including another KW to static refactor!)
  forge-ai/src/main/java/forge/ai/AiBlockController.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/combat/CombatUtil.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityMustBlock.java
  forge-game/src/main/java/forge/game/trigger/TriggerChangesController.java
  forge-gui/res/cardsfolder/a/academic_dispute.txt
  forge-gui/res/cardsfolder/b/berserkers_frenzy.txt
  forge-gui/res/cardsfolder/b/boros_battleshaper.txt
  forge-gui/res/cardsfolder/b/brutal_hordechief.txt
  forge-gui/res/cardsfolder/c/courtly_provocateur.txt
  forge-gui/res/cardsfolder/c/culling_mark.txt
  forge-gui/res/cardsfolder/d/domineering_will.txt
  forge-gui/res/cardsfolder/g/grand_melee.txt
  forge-gui/res/cardsfolder/i/invasion_plans.txt
  forge-gui/res/cardsfolder/i/iron_golem.txt
  forge-gui/res/cardsfolder/m/mark_for_death.txt
  forge-gui/res/cardsfolder/n/nacatl_hunt_pride.txt
  forge-gui/res/cardsfolder/n/noxious_gearhulk.txt
  forge-gui/res/cardsfolder/p/peema_aether_seer.txt
  forge-gui/res/cardsfolder/p/predatory_rampage.txt
  forge-gui/res/cardsfolder/p/provoke.txt
  forge-gui/res/cardsfolder/r/razorgrass_screen.txt
  forge-gui/res/cardsfolder/r/relentless_raptor.txt
  forge-gui/res/cardsfolder/rebalanced/a-shessra_deaths_whisper.txt
  forge-gui/res/cardsfolder/s/shessra_deaths_whisper.txt
  forge-gui/res/cardsfolder/s/spirespine.txt
  forge-gui/res/cardsfolder/t/timely_interference.txt
  forge-gui/res/cardsfolder/upcoming/kharn_the_betrayer.txt
  forge-gui/res/cardsfolder/w/watchdog.txt
  forge-gui/res/cardsfolder/y/youve_been_caught_stealing.txt
  forge-gui/res/editions/Warhammer 40,000.txt
  forge-gui/res/lists/NonStackingKWList.txt
Labels: Upcoming Set, Game Mechanics

#1626 move keyword choice to PumpEffect from GenericChoice
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/ability/effects/PumpEffect.java
  forge-game/src/main/java/forge/game/player/PlayerController.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/PlayerControllerForTests.java
  forge-gui/res/cardsfolder/a/alchemists_gift.txt
  forge-gui/res/cardsfolder/b/butcher_of_the_horde.txt
  forge-gui/res/cardsfolder/g/gideon_blackblade.txt
  forge-gui/res/cardsfolder/g/golem_artisan.txt
  forge-gui/res/cardsfolder/j/jodahs_avenger.txt
  forge-gui/res/cardsfolder/l/lunar_avenger.txt
  forge-gui/res/cardsfolder/m/multiform_wonder.txt
  forge-gui/res/cardsfolder/s/shifting_ceratops.txt
  forge-gui/res/cardsfolder/s/silverquill_pledgemage.txt
  forge-gui/res/cardsfolder/u/urzas_avenger.txt
  forge-gui/res/cardsfolder/v/veteran_warleader.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: AI, Card Cleanup

#1624 40K: Mutalith Vortex Beast and support
  forge-game/src/main/java/forge/game/ability/effects/FlipCoinEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PumpEffect.java
  forge-gui/res/cardsfolder/upcoming/mutalith_vortex_beast.txt
  forge-gui/res/cardsfolder/y/yusri_fortunes_flame.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#1622 Fix crash from meld missing backside for new Urza
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-game/src/main/java/forge/game/ability/effects/MeldEffect.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
Labels: Game Mechanics

#1635 Add Arcane Signet & Command Tower to Brawl format and ANB edition
  forge-gui/res/editions/Arena Beginner Set.txt
  forge-gui/res/formats/Casual/Brawl.txt
Labels: Format Changes

#1636 Cleanup & fixes
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAllAi.java
  forge-ai/src/main/java/forge/ai/ability/ControlGainAi.java
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
  forge-ai/src/main/java/forge/ai/ability/PumpAi.java
  forge-ai/src/main/java/forge/ai/ability/TokenAi.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseTypeEffect.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/phase/Untap.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/d/defiant_vanguard.txt
  forge-gui/res/cardsfolder/j/justice.txt
  forge-gui/res/cardsfolder/v/volcanic_offering.txt
Labels: AI, Card Patch

#1639 YDMU: Darigaaz, Shivan Champion and support
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-gui/res/cardsfolder/upcoming/darigaaz_shivan_champion.txt
Labels: Upcoming Set, Game Mechanics

#1625 YDMU 5 cards + Urza Fix
  forge-gui/res/cardsfolder/upcoming/diminished_returner.txt
  forge-gui/res/cardsfolder/upcoming/niambi_beloved_protector.txt
  forge-gui/res/cardsfolder/upcoming/skywriter_djinn.txt
  forge-gui/res/cardsfolder/upcoming/smogbelcher_chariot.txt
  forge-gui/res/cardsfolder/upcoming/urza_chief_artificer.txt
  forge-gui/res/cardsfolder/upcoming/wandering_treefolk.txt
Labels: Upcoming Set

#1637 A bit more with AI for Pump + KWChoice
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-ai/src/main/java/forge/ai/SpecialCardAi.java
  forge-game/src/main/java/forge/game/ability/effects/PumpEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/player/PlayerController.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/PlayerControllerForTests.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: AI

#1650 BRO: Urza, Lord Protector + The Mightstone and Weakstone
  forge-gui/res/cardsfolder/upcoming/the_mightstone_and_weakstone.txt
  forge-gui/res/cardsfolder/upcoming/urza_lord_protector_urza_planeswalker.txt
  forge-gui/res/tokenscripts/c_1_1_a_soldier.txt
Labels: Upcoming Set

#1641 YDMU 7 more
  forge-gui/res/cardsfolder/upcoming/coalition_construct.txt
  forge-gui/res/cardsfolder/upcoming/ghitu_embercoiler.txt
  forge-gui/res/cardsfolder/upcoming/juggernaut_peddler.txt
  forge-gui/res/cardsfolder/upcoming/nantuko_slicer.txt
  forge-gui/res/cardsfolder/upcoming/reezug_the_bonecobbler.txt
  forge-gui/res/cardsfolder/upcoming/slimefoot_thallid_transplant.txt
  forge-gui/res/cardsfolder/upcoming/tiana_angel_mechanic.txt
Labels: Upcoming Set

#1654 Edition updates P30A, YDMU, DMR, BRO, BRR, 40K, 30A, PR23, SLC
  forge-gui-desktop/src/test/java/forge/card/CardDbCardMockTestCase.java
  forge-gui-desktop/src/test/java/forge/card/CardEditionCollectionCardMockTestCase.java
  forge-gui-desktop/src/test/java/forge/deck/DeckRecognizerTest.java
  forge-gui/res/editions/30th Anniversary Edition.txt
  forge-gui/res/editions/30th Anniversary Promos.txt
  forge-gui/res/editions/Alchemy Dominaria.txt
  forge-gui/res/editions/Dominaria Remastered.txt
  forge-gui/res/editions/Regional Championship Qualifiers 2023.txt
  forge-gui/res/editions/Secret Lair 30th Anniversary Countdown Kit.txt
  forge-gui/res/editions/The Brothers War Retro Artifacts.txt
  forge-gui/res/editions/The Brothers War.txt
  forge-gui/res/editions/Warhammer 40,000.txt
Labels: Upcoming Set

#1660 SLD: Warhammer
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#1657 Desktop: speed up lobby slot type changes caused by multiple deck generation calls in some cases
  forge-core/src/main/java/forge/deck/generation/DeckGenerator2Color.java
  forge-core/src/main/java/forge/deck/generation/DeckGenerator3Color.java
  forge-core/src/main/java/forge/deck/generation/DeckGenerator4Color.java
  forge-core/src/main/java/forge/deck/generation/DeckGenerator5Color.java
  forge-core/src/main/java/forge/deck/generation/DeckGeneratorBase.java
  forge-core/src/main/java/forge/item/ItemPredicate.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-gui-desktop/src/main/java/forge/deckchooser/FDeckChooser.java
  forge-gui-desktop/src/main/java/forge/itemmanager/DeckManager.java
  forge-gui/src/main/java/forge/deck/ColorDeckGenerator.java
  forge-gui/src/main/java/forge/deck/CommanderDeckGenerator.java
  forge-gui/src/main/java/forge/deck/DeckgenUtil.java
  forge-gui/src/main/java/forge/gamemodes/limited/CardThemedDeckBuilder.java
Labels: GUI

#1610 UNF edition
  forge-gui/res/editions/Unfinity.txt
Labels: Upcoming Set

#1662 Unblockable fixes
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/AiBlockController.java
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-ai/src/main/java/forge/ai/ability/AttachAi.java
  forge-ai/src/main/java/forge/ai/ability/EffectAi.java
  forge-ai/src/main/java/forge/ai/ability/EncodeAi.java
  forge-ai/src/main/java/forge/ai/ability/PumpAiBase.java
  forge-game/src/main/java/forge/game/combat/CombatUtil.java
  forge-game/src/main/java/forge/game/staticability/StaticAbility.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantAttackBlock.java
  forge-gui/res/cardsfolder/a/azorius_knight_arbiter.txt
  forge-gui/res/cardsfolder/g/gray_harbor_merfolk.txt
  forge-gui/res/cardsfolder/j/jhessian_infiltrator.txt
  forge-gui/res/cardsfolder/p/phantom_warrior.txt
  forge-gui/res/cardsfolder/p/plasma_elemental.txt
  forge-gui/res/cardsfolder/s/soulsworn_spirit.txt
  forge-gui/res/cardsfolder/t/triton_shorestalker.txt
  forge-gui/res/cardsfolder/v/vedalken_infiltrator.txt
Labels: bug, AI, Card Patch, Crash fix

#1644 BRO Mishra, Claimed by Gix + Support
  forge-game/src/main/java/forge/game/ability/effects/MeldEffect.java
  forge-gui/res/cardsfolder/upcoming/mishra_claimed_by_gix_mishra_lost_to_phyrexia.txt
  forge-gui/res/cardsfolder/upcoming/phyrexian_dragon_engine.txt
Labels: Upcoming Set

#1665 StaticAbilityCanAttackDefender try to fix NPE
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCanAttackDefender.java
Labels: bug

#1671 TargetSelection: improve check for enough targets
  forge-gui/res/cardsfolder/a/ashiok_nightmare_weaver.txt
  forge-gui/res/cardsfolder/e/electropotence.txt
  forge-gui/src/main/java/forge/player/TargetSelection.java
Labels: bug, GUI

#1672 Ravenous update for rules
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
Labels: Rules compliance

#1673 Arbiter of the Ideal / DigEffect update
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-gui/res/cardsfolder/a/arbiter_of_the_ideal.txt
Labels: Game Mechanics, Card Cleanup

#1638 YDMU: Priest of Possibility and support
  forge-game/src/main/java/forge/game/StaticEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/staticability/StaticAbility.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-gui/res/cardsfolder/upcoming/priest_of_possibility.txt
Labels: Upcoming Set, Game Mechanics

#1678 Fixes
  forge-gui/res/cardsfolder/b/bazaar_trader.txt
  forge-gui/res/cardsfolder/b/bronze_bombshell.txt
  forge-gui/res/cardsfolder/h/helm_of_kaldra.txt
  forge-gui/res/cardsfolder/i/iymrith_desert_doom.txt
  forge-gui/res/cardsfolder/s/spire_of_industry.txt
Labels: Card Cleanup, Card Patch

#1676 BRO Queen Kayla bin-Kroog
  forge-gui/res/cardsfolder/upcoming/queen_kayla_bin-kroog.txt
Labels: Upcoming Set

#1681 Cleanup + Fixes
  forge-gui/res/cardsfolder/a/archfiend_of_depravity.txt
  forge-gui/res/cardsfolder/b/balduvian_warlord.txt
  forge-gui/res/cardsfolder/b/boreas_charger.txt
  forge-gui/res/cardsfolder/b/brudiclad_telchor_engineer.txt
  forge-gui/res/cardsfolder/c/celestial_judgment.txt
  forge-gui/res/cardsfolder/c/crackling_doom.txt
  forge-gui/res/cardsfolder/d/discordant_dirge.txt
  forge-gui/res/cardsfolder/d/drana_the_last_bloodchief.txt
  forge-gui/res/cardsfolder/d/duneblast.txt
  forge-gui/res/cardsfolder/e/eunuchs_intrigues.txt
  forge-gui/res/cardsfolder/e/extortion.txt
  forge-gui/res/cardsfolder/f/false_orders.txt
  forge-gui/res/cardsfolder/f/frostwielder.txt
  forge-gui/res/cardsfolder/g/goblin_war_cry.txt
  forge-gui/res/cardsfolder/l/last_one_standing.txt
  forge-gui/res/cardsfolder/m/mirror_of_fate.txt
  forge-gui/res/cardsfolder/m/mist_of_stagnation.txt
  forge-gui/res/cardsfolder/m/myrkuls_edict.txt
  forge-gui/res/cardsfolder/n/negan_the_cold_blooded.txt
  forge-gui/res/cardsfolder/n/no_one_will_hear_your_cries.txt
  forge-gui/res/cardsfolder/p/phylactery_lich.txt
  forge-gui/res/cardsfolder/p/plargg_dean_of_chaos_augusta_dean_of_order.txt
  forge-gui/res/cardsfolder/p/professor_onyx.txt
  forge-gui/res/cardsfolder/r/rags_riches.txt
  forge-gui/res/cardsfolder/r/reap_intellect.txt
  forge-gui/res/cardsfolder/s/sajis_torrent.txt
  forge-gui/res/cardsfolder/s/sakashima_the_impostor_avatar.txt
  forge-gui/res/cardsfolder/s/sakashimas_will.txt
  forge-gui/res/cardsfolder/s/selfless_glyphweaver_deadly_vanity.txt
  forge-gui/res/cardsfolder/s/soul_shatter.txt
  forge-gui/res/cardsfolder/s/stinging_study.txt
  forge-gui/res/cardsfolder/t/tectonic_giant.txt
  forge-gui/res/cardsfolder/t/the_mimeoplasm.txt
  forge-gui/res/cardsfolder/u/urge_to_feed.txt
  forge-gui/res/cardsfolder/upcoming/the_horus_heresy.txt
  forge-gui/res/cardsfolder/upcoming/vodalian_tide_mage.txt
  forge-gui/res/cardsfolder/v/vivien_on_the_hunt.txt
  forge-gui/res/cardsfolder/w/watchers_of_the_dead.txt
  forge-gui/res/cardsfolder/w/worldpurge.txt
Labels: Card Cleanup, Card Patch

#1685 Rebalancing: Diviner of Fates
  forge-gui/res/cardsfolder/d/diviner_of_fates.txt
Labels: Rules/Oracle Changes

#1686 Remove TSR from Modern due to allowing non-legal cards
  forge-gui/res/formats/Archived/Modern/2021-03-19.txt
  forge-gui/res/formats/Archived/Modern/2021-04-23.txt
  forge-gui/res/formats/Archived/Modern/2021-06-18.txt
  forge-gui/res/formats/Archived/Modern/2021-07-23.txt
  forge-gui/res/formats/Archived/Modern/2021-09-24.txt
  forge-gui/res/formats/Archived/Modern/2021-11-19.txt
  forge-gui/res/formats/Archived/Modern/2022-01-28.txt
  forge-gui/res/formats/Archived/Modern/2022-02-18.txt
  forge-gui/res/formats/Archived/Modern/2022-03-07.txt
  forge-gui/res/formats/Archived/Modern/2022-04-29.txt
  forge-gui/res/formats/Archived/Modern/2022-09-09.txt
  forge-gui/res/formats/Archived/Modern/2022-10-10.txt
  forge-gui/res/formats/Sanctioned/Modern.txt
Labels: Format Changes

#1689 Update winterthorn_blessing.txt
  forge-gui/res/cardsfolder/w/winterthorn_blessing.txt
Labels: Card Patch

#1693 Fix refund for paying triggers like Primal Adversary
  forge-gui/res/cardsfolder/c/crested_sunmare.txt
  forge-gui/res/cardsfolder/d/dread_linnorm_scale_deflection.txt
  forge-gui/res/cardsfolder/s/storm_of_souls.txt
  forge-gui/res/cardsfolder/t/timber_protector.txt
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: bug, Card Patch

#1696 Underdark Beholder & Amplifire & Threats Undetected
  forge-gui/res/cardsfolder/a/amplifire.txt
  forge-gui/res/cardsfolder/t/threats_undetected.txt
  forge-gui/res/cardsfolder/u/underdark_beholder.txt
Labels: Card Patch

#1698 Fix Ozolith logic
  forge-ai/src/main/java/forge/ai/ability/CountersMoveAi.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TwoPilesEffect.java
  forge-gui/res/cardsfolder/b/burning_rune_demon.txt
  forge-gui/res/cardsfolder/c/conflux.txt
  forge-gui/res/cardsfolder/d/doubling_chant.txt
  forge-gui/res/cardsfolder/e/embermage_goblin.txt
  forge-gui/res/cardsfolder/g/gem_of_becoming.txt
  forge-gui/res/cardsfolder/g/growth_chamber_guardian.txt
  forge-gui/res/cardsfolder/k/krosan_verge.txt
  forge-gui/res/cardsfolder/l/llanowar_sentinel.txt
  forge-gui/res/cardsfolder/s/screaming_seahawk.txt
  forge-gui/res/cardsfolder/s/shard_convergence.txt
  forge-gui/res/cardsfolder/s/skyshroud_sentinel.txt
  forge-gui/res/cardsfolder/w/whisper_squad.txt
  forge-gui/res/cardsfolder/y/yasharn_implacable_earth.txt
  forge-gui/src/main/java/forge/player/TargetSelection.java
Labels: AI, Card Cleanup, Card Patch

#1711 SLD October Super Drop
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#1699 Create arvad_weatherlight_smuggler.txt
  forge-gui/res/cardsfolder/upcoming/arvad_weatherlight_smuggler.txt
Labels: Upcoming Set

#1716 Level up improvements
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/b/beastbreaker_of_bala_ged.txt
  forge-gui/res/cardsfolder/b/brimstone_mage.txt
  forge-gui/res/cardsfolder/c/coralhelm_commander.txt
  forge-gui/res/cardsfolder/d/dire_fleet_captain.txt
  forge-gui/res/cardsfolder/e/echo_mage.txt
  forge-gui/res/cardsfolder/e/enclave_cryptologist.txt
  forge-gui/res/cardsfolder/g/guul_draz_assassin.txt
  forge-gui/res/cardsfolder/h/hada_spy_patrol.txt
  forge-gui/res/cardsfolder/h/halimar_wavewatch.txt
  forge-gui/res/cardsfolder/h/hedron_field_purists.txt
  forge-gui/res/cardsfolder/h/hexdrinker.txt
  forge-gui/res/cardsfolder/i/ikiral_outrider.txt
  forge-gui/res/cardsfolder/j/joraga_treespeaker.txt
  forge-gui/res/cardsfolder/k/kargan_dragonlord.txt
  forge-gui/res/cardsfolder/k/kazandu_tuskcaller.txt
  forge-gui/res/cardsfolder/k/knight_of_cliffhaven.txt
  forge-gui/res/cardsfolder/l/lighthouse_chronologist.txt
  forge-gui/res/cardsfolder/l/lord_of_shatterskull_pass.txt
  forge-gui/res/cardsfolder/n/null_champion.txt
  forge-gui/res/cardsfolder/s/skywatcher_adept.txt
  forge-gui/res/cardsfolder/t/transcendent_master.txt
  forge-gui/res/cardsfolder/z/zulaport_enforcer.txt
  forge-gui/src/main/java/forge/gui/card/CardDetailUtil.java
Labels: enhancement, Card Cleanup

#1718 YDMU: Teferi's Contingency (+ Lumbering Lightshield fixes)
  forge-game/src/main/java/forge/game/ability/effects/RevealEffect.java
  forge-gui/res/cardsfolder/l/lumbering_lightshield.txt
  forge-gui/res/cardsfolder/upcoming/teferis_contingency.txt
Labels: enhancement, Upcoming Set, Card Patch

#1722 Random cleanup + fixes
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
  forge-ai/src/main/java/forge/ai/ability/CounterAi.java
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-game/src/main/java/forge/game/ability/effects/CloneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CounterEffect.java
  forge-gui/res/cardsfolder/b/blim_comedic_genius.txt
  forge-gui/res/cardsfolder/c/counterflux.txt
  forge-gui/res/cardsfolder/d/detention_sphere.txt
  forge-gui/res/cardsfolder/g/grimoire_thief.txt
  forge-gui/res/cardsfolder/h/hapatra_vizier_of_poisons.txt
  forge-gui/res/cardsfolder/i/insist.txt
  forge-gui/res/cardsfolder/k/kadenas_silencer.txt
  forge-gui/res/cardsfolder/m/marsh_viper.txt
  forge-gui/res/cardsfolder/o/overmaster.txt
  forge-gui/res/cardsfolder/p/pure_reflection.txt
  forge-gui/res/cardsfolder/r/ride_the_avalanche.txt
  forge-gui/res/cardsfolder/s/shark_typhoon.txt
  forge-gui/res/cardsfolder/s/summary_dismissal.txt
  forge-gui/res/cardsfolder/s/swift_silence.txt
  forge-gui/res/cardsfolder/t/trickbind.txt
  forge-gui/res/quest/bazaar/bird_pet_l4.txt
Labels: Card Cleanup, Card Patch

#1725 BOT: Goldbug and Paired Tactician refactor
  forge-gui/res/cardsfolder/p/paired_tactician.txt
  forge-gui/res/cardsfolder/upcoming/goldbug_humanitys_ally_goldbug_scrappy_scout.txt
Labels: Upcoming Set, Card Cleanup

#1727 Fix Bargaining Table
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseNumberEffect.java
  forge-game/src/main/java/forge/game/cost/Cost.java
  forge-gui/res/cardsfolder/b/bargaining_table.txt
  forge-gui/res/cardsfolder/b/blizzard.txt
  forge-gui/res/cardsfolder/b/bloodline_keeper_lord_of_lineage.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Card Patch, Rules compliance

#1734 Edition updates: add J22 & PEWK, update GN3, SLD, SLC, BRC
  forge-gui/res/editions/Eternal Weekend 2022.txt
  forge-gui/res/editions/Game Night 2022.txt
  forge-gui/res/editions/Game Night Free-for-All.txt
  forge-gui/res/editions/Jumpstart 2022.txt
  forge-gui/res/editions/Secret Lair 30th Anniversary Countdown Kit.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/The Brothers War Commander.txt
Labels: Upcoming Set

#1735 Formats update: Add GN3 to Legacy & Vintage
  forge-gui/res/formats/Archived/Legacy/2022-10-14.txt
  forge-gui/res/formats/Archived/Vintage/2022-10-14.txt
  forge-gui/res/formats/Sanctioned/Legacy.txt
  forge-gui/res/formats/Sanctioned/Vintage.txt
Labels: Format Changes

#1724 BOT: Jetfire and related improvements
  forge-game/src/main/java/forge/game/ability/effects/ManaEffect.java
  forge-game/src/main/java/forge/game/cost/Cost.java
  forge-game/src/main/java/forge/game/cost/CostRemoveAnyCounter.java
  forge-game/src/main/java/forge/game/cost/CostRemoveCounter.java
  forge-gui/res/cardsfolder/b/black_mana_battery.txt
  forge-gui/res/cardsfolder/b/blue_mana_battery.txt
  forge-gui/res/cardsfolder/b/bottomless_vault.txt
  forge-gui/res/cardsfolder/c/catti_brie_of_mithral_hall.txt
  forge-gui/res/cardsfolder/d/dwarven_hold.txt
  forge-gui/res/cardsfolder/f/fountain_of_cho.txt
  forge-gui/res/cardsfolder/g/green_mana_battery.txt
  forge-gui/res/cardsfolder/h/hollow_trees.txt
  forge-gui/res/cardsfolder/i/icatian_store.txt
  forge-gui/res/cardsfolder/m/mage_ring_network.txt
  forge-gui/res/cardsfolder/m/mercadian_bazaar.txt
  forge-gui/res/cardsfolder/o/ooze_flux.txt
  forge-gui/res/cardsfolder/r/rasputin_the_oneiromancer.txt
  forge-gui/res/cardsfolder/r/red_mana_battery.txt
  forge-gui/res/cardsfolder/r/rushwood_grove.txt
  forge-gui/res/cardsfolder/s/sand_silos.txt
  forge-gui/res/cardsfolder/s/saprazzan_cove.txt
  forge-gui/res/cardsfolder/s/subterranean_hangar.txt
  forge-gui/res/cardsfolder/upcoming/jetfire_ingenious_scientist_jetfire_air_guardian.txt
  forge-gui/res/cardsfolder/w/white_mana_battery.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: enhancement, Upcoming Set

#1745 Fix BecomesTargetOnce multiple triggers + some others
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ReplaceEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ReplaceTokenEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/mana/ManaPool.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/l/lavinia_azorius_renegade.txt
  forge-gui/res/cardsfolder/m/mount_velus_manticore.txt
  forge-gui/res/cardsfolder/m/mourners_shield.txt
  forge-gui/res/cardsfolder/p/plague_reaver.txt
  forge-gui/res/cardsfolder/p/protective_sphere.txt
  forge-gui/res/cardsfolder/r/raggadragga_goreguts_boss.txt
  forge-gui/res/cardsfolder/r/roiling_vortex.txt
  forge-gui/res/cardsfolder/u/undead_slayer.txt
  forge-gui/res/cardsfolder/v/vazi_keen_negotiator.txt
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
  forge-gui/src/main/java/forge/player/TargetSelection.java
Labels: Card Cleanup, Card Patch, Rules compliance, GUI

#1680 BOT: Arcee and support
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-gui/res/cardsfolder/d/dack_fayden.txt
  forge-gui/res/cardsfolder/o/orvar_the_all_form.txt
  forge-gui/res/cardsfolder/upcoming/arcee_sharpshooter_arcee_acrobatic_coupe.txt
  forge-gui/res/cardsfolder/v/vesuvan_duplimancy.txt
  forge-gui/res/cardsfolder/z/zevlor_elturel_exile.txt
Labels: Upcoming Set, Game Mechanics

#1746 BRO: Gix, Yawgmoth Praetor; Teferi, Temporal Pilgrim + Token script
  forge-gui/res/cardsfolder/upcoming/gix_yawgmoth_praetor.txt
  forge-gui/res/cardsfolder/upcoming/teferi_temporal_pilgrim.txt
  forge-gui/res/tokenscripts/u_2_2_spirit_vigilance_drawcounter.txt
Labels: Upcoming Set

#1752 Edition updates: BRO, BRC & BRR
  forge-gui/res/editions/The Brothers War Commander.txt
  forge-gui/res/editions/The Brothers War Retro Artifacts.txt
  forge-gui/res/editions/The Brothers War.txt
Labels: Upcoming Set

#1754 Fix color choice
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseColorEffect.java
  forge-game/src/main/java/forge/game/mana/ManaPool.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/b/blood_divination.txt
  forge-gui/res/cardsfolder/c/charge_of_the_forever_beast.txt
  forge-gui/res/cardsfolder/e/evelyn_the_covetous.txt
  forge-gui/res/cardsfolder/s/swallow_whole.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Card Cleanup, GUI

#1760 some typos
  forge-gui/res/cardsfolder/p/plate_armor.txt
  forge-gui/res/cardsfolder/rebalanced/a-plate_armor.txt
  forge-gui/res/cardsfolder/w/watcher_for_tomorrow.txt
Labels: Card Cleanup

#1749 BRO 9 cards
  forge-gui/res/cardsfolder/upcoming/ashnods_harvester.txt
  forge-gui/res/cardsfolder/upcoming/feldon_ronom_excavator.txt
  forge-gui/res/cardsfolder/upcoming/hurkyl_master_wizard.txt
  forge-gui/res/cardsfolder/upcoming/mishra_excavation_prodigy.txt
  forge-gui/res/cardsfolder/upcoming/mishra_tamer_of_mak_fawa.txt
  forge-gui/res/cardsfolder/upcoming/scrapwork_cohort.txt
  forge-gui/res/cardsfolder/upcoming/splitting_the_powerstone.txt
  forge-gui/res/cardsfolder/upcoming/urza_powerstone_prodigy.txt
  forge-gui/res/cardsfolder/upcoming/urza_prince_of_kroog.txt
Labels: Upcoming Set

#1743 BRO Titania, Voice of Gaea & Titania, Voice of Gaea
  forge-gui/res/cardsfolder/upcoming/argoth_sanctum_of_nature.txt
  forge-gui/res/cardsfolder/upcoming/titania_voice_of_gaea_titania_gaea_incarnate.txt
Labels: Upcoming Set

#1755 BRC 10 cards
  forge-gui/res/cardsfolder/upcoming/glint_raker.txt
  forge-gui/res/cardsfolder/upcoming/machines_god_effigy.txt
  forge-gui/res/cardsfolder/upcoming/sanwell_avenger_ace.txt
  forge-gui/res/cardsfolder/upcoming/scavenged_brawler.txt
  forge-gui/res/cardsfolder/upcoming/smelting_vat.txt
  forge-gui/res/cardsfolder/upcoming/terisiares_devastation.txt
  forge-gui/res/cardsfolder/upcoming/thopter_shop.txt
  forge-gui/res/cardsfolder/upcoming/wire_surgeons.txt
  forge-gui/res/cardsfolder/upcoming/wondrous_crucible.txt
  forge-gui/res/cardsfolder/upcoming/wreck_hunter.txt
Labels: Upcoming Set

#1762 BRO 10 cards
  forge-gui/res/cardsfolder/upcoming/argothian_opportunist.txt
  forge-gui/res/cardsfolder/upcoming/bitter_reunion.txt
  forge-gui/res/cardsfolder/upcoming/clay_revenant.txt
  forge-gui/res/cardsfolder/upcoming/drafna_founder_of_lat_nam.txt
  forge-gui/res/cardsfolder/upcoming/gaeas_courser.txt
  forge-gui/res/cardsfolder/upcoming/mishras_juggernaut.txt
  forge-gui/res/cardsfolder/upcoming/overwhelming_remorse.txt
  forge-gui/res/cardsfolder/upcoming/soul_partition.txt
  forge-gui/res/cardsfolder/upcoming/stern_lesson.txt
  forge-gui/res/cardsfolder/upcoming/tawnos_the_toymaker.txt
Labels: Upcoming Set

#1767 tweaks for PR 1762/1743
  forge-gui/res/cardsfolder/upcoming/bitter_reunion.txt
  forge-gui/res/cardsfolder/upcoming/clay_revenant.txt
  forge-gui/res/cardsfolder/upcoming/drafna_founder_of_lat_nam.txt
  forge-gui/res/cardsfolder/upcoming/gaeas_courser.txt
  forge-gui/res/cardsfolder/upcoming/mishras_juggernaut.txt
  forge-gui/res/cardsfolder/upcoming/overwhelming_remorse.txt
  forge-gui/res/cardsfolder/upcoming/soul_partition.txt
  forge-gui/res/cardsfolder/upcoming/titania_voice_of_gaea_titania_gaea_incarnate.txt
Labels: Card Cleanup

#1757 BRC 5 more
  forge-gui/res/cardsfolder/upcoming/farid_enterprising_salvager.txt
  forge-gui/res/cardsfolder/upcoming/hexavus.txt
  forge-gui/res/cardsfolder/upcoming/kaylas_music_box.txt
  forge-gui/res/cardsfolder/upcoming/march_of_progress.txt
  forge-gui/res/cardsfolder/upcoming/scholar_of_new_horizons.txt
  forge-gui/res/tokenscripts/scrap.txt
Labels: Upcoming Set

#1769 BRO 10 more
  forge-gui/res/cardsfolder/upcoming/ashnod_flesh_mechanist.txt
  forge-gui/res/cardsfolder/upcoming/hall_of_tagsin.txt
  forge-gui/res/cardsfolder/upcoming/harbin_vanguard_aviator.txt
  forge-gui/res/cardsfolder/upcoming/portal_to_phyrexia.txt
  forge-gui/res/cardsfolder/upcoming/third_path_savant.txt
  forge-gui/res/cardsfolder/upcoming/thran_spider.txt
  forge-gui/res/cardsfolder/upcoming/tocasias_onulet.txt
  forge-gui/res/cardsfolder/upcoming/tocasias_welcome.txt
  forge-gui/res/cardsfolder/upcoming/yotian_dissident.txt
  forge-gui/res/cardsfolder/upcoming/yotian_medic.txt
  forge-gui/res/tokenscripts/c_3_3_a_zombie.txt
Labels: Upcoming Set
