Repository Card-Forge/forge, pull requests merged in 2022-05, with the labels that each got.

#181 Fix some Rhino stuff
  forge-gui/res/cardsfolder/c/crashing_footfalls.txt
  forge-gui/res/cardsfolder/upcoming/rhox_pummeler.txt
Labels: Card Patch

#183 More card tweaks
  forge-gui/res/cardsfolder/d/drowsing_tyrannodon.txt
  forge-gui/res/cardsfolder/upcoming/mysterious_limousine.txt
Labels: Upcoming Set, Card Cleanup, Card Patch

#184 Random patch for Hideaway and some cards
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/a/awe_strike.txt
  forge-gui/res/cardsfolder/m/mana_vapors.txt
  forge-gui/res/cardsfolder/p/pollen_lullaby.txt
Labels: Card Patch, Rules compliance

#182 SNC: 30 April
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/backstreet_bruiser.txt
  forge-gui/res/cardsfolder/upcoming/glittering_stockpile.txt
  forge-gui/res/cardsfolder/upcoming/soul_of_emancipation.txt
  forge-gui/res/cardsfolder/upcoming/structural_assault.txt
Labels: Upcoming Set

#179 SNC: Hold for Ransom and support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/SacrificeAllEffect.java
  forge-gui/res/cardsfolder/upcoming/hold_for_ransom.txt
Labels: Upcoming Set, Game Mechanics

#187 Remove duplicate exalted calculation
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
Labels: AI

#190 DigEffect getStackDescription() improvements + some card tweaks
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-gui/res/cardsfolder/e/eye_of_ugin.txt
  forge-gui/res/cardsfolder/n/narset_parter_of_veils.txt
  forge-gui/res/cardsfolder/o/once_upon_a_time.txt
  forge-gui/res/cardsfolder/p/prismatic_vista.txt
Labels: AI, Card Cleanup, StackDesc

#188 SNC: 1 May
  forge-gui/res/cardsfolder/upcoming/citizens_crowbar.txt
  forge-gui/res/cardsfolder/upcoming/pyre_sledge_arsonist.txt
Labels: Upcoming Set

#191 NCC: 1 May
  forge-gui/res/cardsfolder/upcoming/kitt_kanto_mayhem_diva.txt
  forge-gui/res/cardsfolder/upcoming/phabine_bosss_confidant.txt
Labels: Upcoming Set

#200 NCC: kros_defense_contractor.txt
  forge-gui/res/cardsfolder/upcoming/kros_defense_contractor.txt
Labels: Upcoming Set

#195 NCC: Perrie and support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/perrie_the_pulverizer.txt
Labels: Upcoming Set, Game Mechanics

#202 GameAction: Add ETB counters before checking statics
  forge-game/src/main/java/forge/game/GameAction.java
Labels: Game Mechanics

#203 Cleanup Count$TotalCounters
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/a/ascendant_acolyte.txt
  forge-gui/res/cardsfolder/b/bioessence_hydra.txt
  forge-gui/res/cardsfolder/c/consuming_ferocity.txt
  forge-gui/res/cardsfolder/d/deepwood_denizen.txt
  forge-gui/res/cardsfolder/f/fungal_behemoth.txt
  forge-gui/res/cardsfolder/g/gleam_of_authority.txt
  forge-gui/res/cardsfolder/r/rumbling_ruin.txt
Labels: Card Cleanup

#208 NPE tweaks
  forge-game/src/main/java/forge/game/ability/effects/CopyPermanentEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
Labels: Crash fix

#206 Fix Ascendant Acolyte
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/a/avatar_of_the_resolute.txt
  forge-gui/res/cardsfolder/b/blackcleave_cliffs.txt
  forge-gui/res/cardsfolder/b/blooming_marsh.txt
  forge-gui/res/cardsfolder/b/botanical_sanctum.txt
  forge-gui/res/cardsfolder/c/canopy_vista.txt
  forge-gui/res/cardsfolder/c/cave_of_the_frost_dragon.txt
  forge-gui/res/cardsfolder/c/centaur_vinecrasher.txt
  forge-gui/res/cardsfolder/c/cinder_glade.txt
  forge-gui/res/cardsfolder/c/concealed_courtyard.txt
  forge-gui/res/cardsfolder/c/copperline_gorge.txt
  forge-gui/res/cardsfolder/d/darkslick_shores.txt
  forge-gui/res/cardsfolder/d/deathcap_glade.txt
  forge-gui/res/cardsfolder/d/den_of_the_bugbear.txt
  forge-gui/res/cardsfolder/d/deserted_beach.txt
  forge-gui/res/cardsfolder/d/diregraf_colossus.txt
  forge-gui/res/cardsfolder/d/drakestown_forgotten.txt
  forge-gui/res/cardsfolder/d/dreamroot_cascade.txt
  forge-gui/res/cardsfolder/g/golgari_grave_troll.txt
  forge-gui/res/cardsfolder/g/golgari_raiders.txt
  forge-gui/res/cardsfolder/h/hall_of_storm_giants.txt
  forge-gui/res/cardsfolder/h/haunted_ridge.txt
  forge-gui/res/cardsfolder/h/hive_of_the_eye_tyrant.txt
  forge-gui/res/cardsfolder/i/inspiring_vantage.txt
  forge-gui/res/cardsfolder/k/kinsbaile_borderguard.txt
  forge-gui/res/cardsfolder/l/lair_of_the_hydra.txt
  forge-gui/res/cardsfolder/m/myriad_construct.txt
  forge-gui/res/cardsfolder/o/overgrown_farmland.txt
  forge-gui/res/cardsfolder/p/prairie_stream.txt
  forge-gui/res/cardsfolder/r/razorverge_thicket.txt
  forge-gui/res/cardsfolder/r/rockfall_vale.txt
  forge-gui/res/cardsfolder/s/seachrome_coast.txt
  forge-gui/res/cardsfolder/s/shattered_sanctum.txt
  forge-gui/res/cardsfolder/s/shipwreck_marsh.txt
  forge-gui/res/cardsfolder/s/smoldering_marsh.txt
  forge-gui/res/cardsfolder/s/spirebluff_canal.txt
  forge-gui/res/cardsfolder/s/squad_captain.txt
  forge-gui/res/cardsfolder/s/stormcarved_coast.txt
  forge-gui/res/cardsfolder/s/sundown_pass.txt
  forge-gui/res/cardsfolder/s/sunken_hollow.txt
  forge-gui/res/cardsfolder/t/towering_titan.txt
  forge-gui/res/cardsfolder/u/ulasht_the_hate_seed.txt
  forge-gui/res/cardsfolder/u/unbreathing_horde.txt
  forge-gui/res/cardsfolder/u/undergrowth_scavenger.txt
  forge-gui/res/cardsfolder/z/zombie_mob.txt
Labels: Card Patch

#225 NCC: Boxing Ring and support
  forge-game/src/main/java/forge/game/ability/effects/FightEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/upcoming/boxing_ring.txt
Labels: Upcoming Set, Game Mechanics

#224 NCC: Mari, the Killing Quill and support
  forge-game/src/main/java/forge/game/ability/effects/CountersRemoveEffect.java
  forge-gui/res/cardsfolder/e/etrata_the_silencer.txt
  forge-gui/res/cardsfolder/upcoming/mari_the_killing_quill.txt
Labels: Upcoming Set, Game Mechanics

#238 ManaEffect > getStackDescription() try to dodge NPE
  forge-game/src/main/java/forge/game/ability/effects/ManaEffect.java
Labels: Crash fix

#239 ManaEffect > getStackDescription() negative restrictions
  forge-game/src/main/java/forge/game/ability/effects/ManaEffect.java
Labels: StackDesc

#229 NCC: 2 May
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/upcoming/spiteful_repossession.txt
  forge-gui/res/cardsfolder/upcoming/swindlers_scheme.txt
  forge-gui/res/cardsfolder/upcoming/threefold_signal.txt
Labels: Upcoming Set

#233 Create silvanuss_invoker.txt
  forge-gui/res/cardsfolder/s/silvanuss_invoker.txt
Labels: Upcoming Set

#243 Fix Cycle of Life
  forge-gui/res/cardsfolder/c/cycle_of_life.txt
Labels: Card Patch

#245 Alchemy Rebalancing for May 5, 2022
  forge-gui/res/cardsfolder/a/artillery_enthusiast.txt
  forge-gui/res/cardsfolder/c/captain_eberhart.txt
  forge-gui/res/cardsfolder/c/citystalker_connoisseur.txt
  forge-gui/res/cardsfolder/e/experimental_pilot.txt
  forge-gui/res/cardsfolder/g/garruk_wrath_of_the_wilds.txt
  forge-gui/res/cardsfolder/g/geist_of_regret.txt
  forge-gui/res/cardsfolder/p/painful_bond.txt
  forge-gui/res/cardsfolder/rebalanced/a-omnath_locus_of_creation.txt
  forge-gui/res/cardsfolder/s/semblance_scanner.txt
  forge-gui/res/cardsfolder/s/settle_the_wilds.txt
  forge-gui/res/cardsfolder/s/swarm_saboteur.txt
  forge-gui/res/cardsfolder/t/tireless_angler.txt
  forge-gui/res/cardsfolder/v/veteran_ghoulcaller.txt
Labels: Rules/Oracle Changes

#211 NCC: Vazi, Keen Negotiator and support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-gui/res/cardsfolder/a/akim_the_soaring_wind.txt
  forge-gui/res/cardsfolder/e/esix_fractal_bloom.txt
  forge-gui/res/cardsfolder/t/thalisse_reverent_medium.txt
  forge-gui/res/cardsfolder/upcoming/vazi_keen_negotiator.txt
Labels: Upcoming Set, Game Mechanics

#246 Create eldritch_pact.txt
  forge-gui/res/cardsfolder/e/eldritch_pact.txt
Labels: Upcoming Set, Wait For Rules

#244 Update some older cards to use LKI correctly
  forge-ai/src/main/java/forge/ai/ability/PumpAi.java
  forge-gui/res/cardsfolder/h/howling_mine.txt
  forge-gui/res/cardsfolder/m/mana_vault.txt
  forge-gui/res/cardsfolder/n/nim_abomination.txt
  forge-gui/res/cardsfolder/s/sphinx_sovereign.txt
  forge-gui/res/cardsfolder/upcoming/syndicate_infiltrator.txt
  forge-gui/res/cardsfolder/v/voodoo_doll.txt
Labels: Card Patch

#236 NCC: Tenuous Truce
  forge-gui/res/cardsfolder/upcoming/tenuous_truce.txt
Labels: Upcoming Set

#271 PLIST edition update
  forge-gui/res/editions/The List.txt
Labels: Upcoming Set

#273 NCC: 6 April
  forge-gui/res/cardsfolder/upcoming/angelic_sleuth.txt
  forge-gui/res/cardsfolder/upcoming/damning_verdict.txt
  forge-gui/res/cardsfolder/upcoming/resourceful_defense.txt
  forge-gui/res/cardsfolder/upcoming/skyboon_evangelist.txt
Labels: Upcoming Set

#265 TokenEffect > getStackDescription() try to catch more possibilities
  forge-game/src/main/java/forge/game/ability/effects/TokenEffect.java
Labels: StackDesc

#263 various getStackDescription improvements
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/MillEffect.java
  forge-gui/res/cardsfolder/b/blood_for_bones.txt
  forge-gui/res/cardsfolder/b/blood_on_the_snow.txt
  forge-gui/res/cardsfolder/b/bond_of_insight.txt
  forge-gui/res/cardsfolder/c/cauldrons_gift.txt
  forge-gui/res/cardsfolder/c/connive_concoct.txt
  forge-gui/res/cardsfolder/c/corpse_dance.txt
  forge-gui/res/cardsfolder/e/eerie_ultimatum.txt
  forge-gui/res/cardsfolder/f/forbidden_friendship.txt
Labels: StackDesc

#276 Shield Broker (NCC) and AI for Sewer Crocodile
  forge-gui/res/cardsfolder/upcoming/sewer_crocodile.txt
  forge-gui/res/cardsfolder/upcoming/shield_broker.txt
  forge-gui/res/cardsfolder/upcoming/storm_of_forms.txt
Labels: Upcoming Set, AI

#221 NCC Park Heights Maverick
  forge-gui/res/cardsfolder/upcoming/oskar_rubbish_reclaimer.txt
  forge-gui/res/cardsfolder/upcoming/park_heights_maverick.txt
  forge-gui/res/cardsfolder/upcoming/tivit_seller_of_secrets.txt
Labels: Upcoming Set

#281 Create citadel_gate.txt
  forge-gui/res/cardsfolder/c/citadel_gate.txt
Labels: Upcoming Set

#268 NCC: Contractual Safeguard, Aven Courier and support
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-gui/res/cardsfolder/u/unbreakable_formation.txt
  forge-gui/res/cardsfolder/upcoming/aven_courier.txt
  forge-gui/res/cardsfolder/upcoming/contractual_safeguard.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Upcoming Set, Game Mechanics, StackDesc

#286 sewer_crocodile.txt remove bad NonStackingEffect line
  forge-gui/res/cardsfolder/upcoming/sewer_crocodile.txt
Labels: AI

#282 NCC: Bribe Taker and support
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-gui/res/cardsfolder/upcoming/bribe_taker.txt
Labels: Upcoming Set, Game Mechanics

#283 Fix casting card copies not being added to stack correctly
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/AbandonEffect.java
  forge-game/src/main/java/forge/game/ability/effects/BalanceEffect.java
  forge-game/src/main/java/forge/game/ability/effects/BidLifeEffect.java
Labels: bug

#293 NSC: Lagrella, the Magpie
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPanharmonicon.java
  forge-gui/res/cardsfolder/upcoming/lagrella_the_magpie.txt
Labels: Upcoming Set, Game Mechanics

#297 ComputerUtilMana: Fix payment fails with TapsForMana triggers
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
Labels: AI

#299 NCC: 8 April
  forge-gui/res/cardsfolder/upcoming/brokers_confluence.txt
  forge-gui/res/cardsfolder/upcoming/denry_klin_editor_in_chief.txt
  forge-gui/res/cardsfolder/upcoming/familys_favor.txt
  forge-gui/res/cardsfolder/upcoming/skyboon_evangelist.txt
Labels: Upcoming Set

#311 NCC: 9 April
  forge-gui/res/cardsfolder/upcoming/parnesse_the_subtle_brush.txt
  forge-gui/res/cardsfolder/upcoming/syrix_carrier_of_the_flame.txt
Labels: Upcoming Set

#310 Cleanup some scripts
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/card/CardPredicates.java
  forge-game/src/main/java/forge/game/combat/CombatUtil.java
  forge-gui/res/cardsfolder/a/ambuscade_shaman.txt
  forge-gui/res/cardsfolder/f/farsight_adept.txt
  forge-gui/res/cardsfolder/f/flumph.txt
  forge-gui/res/cardsfolder/i/in_the_web_of_war.txt
  forge-gui/res/cardsfolder/m/marauding_raptor.txt
  forge-gui/res/cardsfolder/m/mercadian_atlas.txt
  forge-gui/res/cardsfolder/o/ogre_battledriver.txt
  forge-gui/res/cardsfolder/r/river_of_tears.txt
  forge-gui/res/cardsfolder/r/rock_jockey.txt
  forge-gui/res/cardsfolder/s/secret_rendezvous.txt
  forge-gui/res/cardsfolder/upcoming/kros_defense_contractor.txt
  forge-gui/res/cardsfolder/v/vorinclex_voice_of_hunger.txt
Labels: AI, Card Cleanup

#300 NCC: Agent's Toolkit and support
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/upcoming/agents_toolkit.txt
Labels: Upcoming Set, Game Mechanics

#274 Fix Slogurk not triggering when dying from SBA legendary
  forge-game/src/main/java/forge/game/zone/MagicStack.java
Labels: Game Mechanics

#298 NCC: Gavel of the Righteous and output support
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/upcoming/gavel_of_the_righteous.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Upcoming Set

#317 NCC: Smuggler's Buggy and a little support
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-gui/res/cardsfolder/upcoming/smugglers_buggy.txt
Labels: Upcoming Set, Game Mechanics

#319 NCC: 10 April
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/upcoming/extravagant_replication.txt
  forge-gui/res/cardsfolder/upcoming/sinister_concierge.txt
  forge-gui/res/cardsfolder/upcoming/spellbinding_soprano.txt
  forge-gui/res/cardsfolder/upcoming/waste_management.txt
Labels: Upcoming Set

#329 NCC: 11 April
  forge-gui/res/cardsfolder/l/lilianas_standard_bearer.txt
  forge-gui/res/cardsfolder/t/the_grand_tour.txt
  forge-gui/res/cardsfolder/upcoming/aerial_extortionist.txt
  forge-gui/res/cardsfolder/upcoming/audacious_swap.txt
  forge-gui/res/cardsfolder/upcoming/bellowing_mauler.txt
  forge-gui/res/cardsfolder/upcoming/body_count.txt
Labels: Upcoming Set, AI, Card Patch

#330 Update demonfire.txt
  forge-gui/res/cardsfolder/d/demonfire.txt
Labels: Card Patch

#327 NCC: Bess, Soul Nourisher and support
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/upcoming/bess_soul_nourisher.txt
Labels: Upcoming Set, Game Mechanics

#315 Removal of 3 un-needed "digital" formats
  forge-gui/res/formats/Digital/Duels.txt
  forge-gui/res/formats/Digital/MTGO.txt
  forge-gui/res/formats/Digital/MicroProse.txt
Labels: Format Changes

#338 NCC: Change of Plans and support
  forge-game/src/main/java/forge/game/ability/effects/PhasesEffect.java
  forge-gui/res/cardsfolder/upcoming/change_of_plans.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Upcoming Set, Game Mechanics

#342 New edition files: 2X2, 40K, PLG22, SCH
  forge-gui/res/editions/Commander Legends Battle for Baldur's Gate.txt
  forge-gui/res/editions/Double Masters 2022.txt
  forge-gui/res/editions/Love Your LGS 2022.txt
  forge-gui/res/editions/Store Championships 2022.txt
  forge-gui/res/editions/Warhammer 40,000.txt
Labels: Upcoming Set

#336 Fix missing check for mana abilities at instant speed
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
Labels: Game Mechanics

#353 CountersPutEffect fix backward stackDesc logic
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
Labels: StackDesc

#354 NCC Currency Converter and stackDesc tweaks
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TokenEffect.java
  forge-gui/res/cardsfolder/upcoming/currency_converter.txt
Labels: Upcoming Set, StackDesc

#352 NCC: 13 April
  forge-gui/res/cardsfolder/upcoming/determined_iteration.txt
  forge-gui/res/cardsfolder/upcoming/dodgy_jalopy.txt
  forge-gui/res/cardsfolder/upcoming/dogged_detective.txt
  forge-gui/res/cardsfolder/upcoming/false_floor.txt
  forge-gui/res/cardsfolder/upcoming/flawless_forgery.txt
  forge-gui/res/cardsfolder/upcoming/grand_crescendo.txt
  forge-gui/res/cardsfolder/upcoming/grime_gorger.txt
Labels: Upcoming Set

#355 Fix NCC First Responder
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-gui/res/cardsfolder/upcoming/first_responder.txt
Labels: Wait For Rules

#345 Run AbilityCast triggers for mana abilities
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ManaReflectedEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/b/battlemages_bracers.txt
  forge-gui/res/cardsfolder/b/burning_tree_shaman.txt
  forge-gui/res/cardsfolder/c/ceaseless_searblades.txt
  forge-gui/res/cardsfolder/c/crackdown_construct.txt
  forge-gui/res/cardsfolder/f/flamescroll_celebrant_revel_in_silence.txt
  forge-gui/res/cardsfolder/g/grip_of_chaos.txt
  forge-gui/res/cardsfolder/h/harsh_mentor.txt
  forge-gui/res/cardsfolder/i/illusionists_bracers.txt
  forge-gui/res/cardsfolder/i/immolation_shaman.txt
  forge-gui/res/cardsfolder/i/imprison.txt
  forge-gui/res/cardsfolder/k/kurkesh_onakke_ancient.txt
  forge-gui/res/cardsfolder/r/rings_of_brighthearth.txt
  forge-gui/res/cardsfolder/r/rowan_kenrith.txt
  forge-gui/res/cardsfolder/r/runic_armasaur.txt
Labels: Game Mechanics, Rules compliance

#360 Card: ignoreLegendRule as StaticAbility
  forge-ai/src/main/java/forge/ai/ability/AttachAi.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/CountersPutOrRemoveAi.java
  forge-ai/src/main/java/forge/ai/ability/CountersRemoveAi.java
  forge-ai/src/main/java/forge/ai/ability/PermanentAi.java
  forge-ai/src/main/java/forge/ai/ability/RepeatAi.java
  forge-ai/src/main/java/forge/ai/ability/SetStateAi.java
  forge-core/src/main/java/forge/card/CardDb.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GlobalRuleChange.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardPredicates.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityIgnoreLegendRule.java
  forge-gui/res/cardsfolder/b/brothers_yamazaki.txt
  forge-gui/res/cardsfolder/m/mirror_box.txt
  forge-gui/res/cardsfolder/m/mirror_gallery.txt
  forge-gui/res/cardsfolder/s/sakashima_of_a_thousand_faces.txt
Labels: Game Mechanics

#361 Fix Tezzeret, Betrayer of Flesh
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/PermanentAi.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ManaEffect.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-gui/res/cardsfolder/h/hematite_talisman.txt
  forge-gui/res/cardsfolder/s/shreds_of_sanity.txt
  forge-gui/res/cardsfolder/t/tezzeret_betrayer_of_flesh.txt
Labels: Rules compliance

#368 Spy Kit Fix
  forge-game/src/main/java/forge/game/ability/effects/EncodeEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/s/skeletonize.txt
Labels: Game Mechanics

#371 NCC: 16 April
  forge-gui/res/cardsfolder/c/crovax.txt
  forge-gui/res/cardsfolder/s/silhana_wayfinder.txt
  forge-gui/res/cardsfolder/upcoming/in_too_deep.txt
  forge-gui/res/cardsfolder/upcoming/industrial_advancement.txt
  forge-gui/res/cardsfolder/upcoming/jailbreak.txt
Labels: Upcoming Set, Card Cleanup, Card Patch

#393 CLB edition update
  forge-gui/res/editions/Commander Legends Battle for Baldur's Gate.txt
Labels: Upcoming Set

#380 NCC: 17 April
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-gui/res/cardsfolder/r/repository_skaab.txt
  forge-gui/res/cardsfolder/upcoming/killer_service.txt
  forge-gui/res/cardsfolder/upcoming/life_insurance.txt
  forge-gui/res/cardsfolder/upcoming/maestros_confluence.txt
  forge-gui/res/cardsfolder/upcoming/make_an_example.txt
  forge-gui/res/cardsfolder/upcoming/mask_of_the_schemer.txt
  forge-gui/res/cardsfolder/upcoming/master_of_ceremonies.txt
  forge-gui/res/cardsfolder/upcoming/mezzio_mugger.txt
  forge-gui/res/cardsfolder/upcoming/misfortune_teller.txt
Labels: Upcoming Set

#375 Jabari's Influence: multiplayer fix
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardDamageHistory.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/combat/CombatUtil.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-gui/res/cardsfolder/j/jabaris_influence.txt
  forge-gui/res/cardsfolder/p/port_razer.txt
Labels: Card Patch

#407 NCC: 18 April
  forge-gui/res/cardsfolder/upcoming/next_of_kin.txt
  forge-gui/res/cardsfolder/upcoming/obscura_confluence.txt
Labels: Upcoming Set

#423 NCC: 19 May
  forge-gui/res/cardsfolder/upcoming/prosperous_partnership.txt
  forge-gui/res/cardsfolder/upcoming/protection_racket.txt
Labels: Upcoming Set

#406 NCC: Weathered Sentinels and support (Refactor "CARDNAME can attack as though it didn't have defender" to static)
  forge-ai/src/main/java/forge/ai/ability/AttachAi.java
  forge-ai/src/main/java/forge/ai/ability/PumpAiBase.java
  forge-game/src/main/java/forge/game/combat/CombatUtil.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCanAttackDefender.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantAttackBlock.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-gui/res/cardsfolder/a/animate_wall.txt
  forge-gui/res/cardsfolder/a/arcades_the_strategist.txt
  forge-gui/res/cardsfolder/a/assault_formation.txt
  forge-gui/res/cardsfolder/c/colossus_of_akros.txt
  forge-gui/res/cardsfolder/d/dark_maze.txt
  forge-gui/res/cardsfolder/d/drowsing_tyrannodon.txt
  forge-gui/res/cardsfolder/f/faithbound_judge_sinners_judgment.txt
  forge-gui/res/cardsfolder/g/geist_of_the_lonely_vigil.txt
  forge-gui/res/cardsfolder/g/glade_watcher.txt
  forge-gui/res/cardsfolder/g/guardians_of_oboro.txt
  forge-gui/res/cardsfolder/h/high_alert.txt
  forge-gui/res/cardsfolder/h/hightide_hermit.txt
  forge-gui/res/cardsfolder/m/mirror_wall.txt
  forge-gui/res/cardsfolder/m/mobile_fort.txt
  forge-gui/res/cardsfolder/n/nivix_cyclops.txt
  forge-gui/res/cardsfolder/n/novice_knight.txt
  forge-gui/res/cardsfolder/o/o_kagachi_vengeful_kami.txt
  forge-gui/res/cardsfolder/o/ogre_jailbreaker.txt
  forge-gui/res/cardsfolder/p/pillar_of_war.txt
  forge-gui/res/cardsfolder/p/piston_fist_cyclops.txt
  forge-gui/res/cardsfolder/p/prismari_pledgemage.txt
  forge-gui/res/cardsfolder/p/prison_barricade.txt
  forge-gui/res/cardsfolder/r/returned_phalanx.txt
  forge-gui/res/cardsfolder/r/rolling_stones.txt
  forge-gui/res/cardsfolder/r/roving_keep.txt
  forge-gui/res/cardsfolder/s/scuttlegator.txt
  forge-gui/res/cardsfolder/s/skyclave_sentinel.txt
  forge-gui/res/cardsfolder/s/skyclave_squid.txt
  forge-gui/res/cardsfolder/s/slithering_shade.txt
  forge-gui/res/cardsfolder/s/spire_serpent.txt
  forge-gui/res/cardsfolder/s/steelclad_spirit.txt
  forge-gui/res/cardsfolder/t/teyo_aegis_adept.txt
  forge-gui/res/cardsfolder/t/thoughtbound_phantasm.txt
  forge-gui/res/cardsfolder/upcoming/backstreet_bruiser.txt
  forge-gui/res/cardsfolder/upcoming/weathered_sentinels.txt
  forge-gui/res/cardsfolder/v/vodalian_war_machine.txt
  forge-gui/res/cardsfolder/w/wakestone_gargoyle.txt
  forge-gui/res/cardsfolder/w/walking_wall.txt
  forge-gui/res/cardsfolder/w/wall_of_one_thousand_cuts.txt
  forge-gui/res/cardsfolder/w/wall_of_wonder.txt
  forge-gui/res/cardsfolder/w/warmongers_chariot.txt
  forge-gui/res/lists/NonStackingKWList.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#432 NCC: 20 May
  forge-gui/res/cardsfolder/upcoming/riveteers_confluence.txt
  forge-gui/res/cardsfolder/upcoming/rose_room_treasurer.txt
  forge-gui/res/cardsfolder/upcoming/scepter_of_celebration.txt
Labels: Upcoming Set

#421 NCC: Rain of Riches and support
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-gui/res/cardsfolder/upcoming/rain_of_riches.txt
Labels: Upcoming Set, Game Mechanics

#429 Various card cleanups
  forge-gui/res/cardsfolder/a/angelic_arbiter.txt
  forge-gui/res/cardsfolder/c/curse_of_echoes.txt
  forge-gui/res/cardsfolder/h/hive_mind.txt
  forge-gui/res/cardsfolder/o/obzedat_ghost_council.txt
  forge-gui/res/cardsfolder/o/omnath_locus_of_creation.txt
  forge-gui/res/cardsfolder/rebalanced/a-omnath_locus_of_creation.txt
  forge-gui/res/cardsfolder/z/zurs_weirding.txt
Labels: Card Cleanup

#409 Card fixes
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseGenericEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DrainManaEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EncodeEffect.java
  forge-game/src/main/java/forge/game/ability/effects/FlipCoinEffect.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-gui/res/cardsfolder/a/archangel_of_strife.txt
  forge-gui/res/cardsfolder/h/hoarders_greed.txt
  forge-gui/res/cardsfolder/s/sea_troll.txt
  forge-gui/res/cardsfolder/s/sirens_ruse.txt
  forge-gui/res/cardsfolder/t/tezzeret_betrayer_of_flesh.txt
  forge-gui/res/cardsfolder/upcoming/spiteful_repossession.txt
  forge-gui/res/cardsfolder/v/vizkopa_confessor.txt
  forge-gui/res/cardsfolder/w/world_at_war.txt
Labels: Card Cleanup, Card Patch

#439 riveteers_confluence fix
  forge-gui/res/cardsfolder/upcoming/riveteers_confluence.txt
Labels: Card Patch

#441 clb_edition_update
  forge-gui/res/editions/Commander Legends Battle for Baldur's Gate.txt
Labels: Upcoming Set

#442 PlayEffect: add TriggerChangesZoneAll
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
Labels: Game Mechanics

#428 NCC: The Beamtown Bullies and some related ChangeZoneEffect cleanup
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-gui/res/cardsfolder/c/captive_audience.txt
  forge-gui/res/cardsfolder/d/dubious_challenge.txt
  forge-gui/res/cardsfolder/e/extus_oriq_overlord_awaken_the_blood_avatar.txt
  forge-gui/res/cardsfolder/p/pendant_of_prosperity.txt
  forge-gui/res/cardsfolder/p/persist.txt
  forge-gui/res/cardsfolder/p/plague_reaver.txt
  forge-gui/res/cardsfolder/t/thieves_auction.txt
  forge-gui/res/cardsfolder/t/traveling_plague.txt
  forge-gui/res/cardsfolder/upcoming/the_beamtown_bullies.txt
  forge-gui/res/cardsfolder/v/verdant_mastery.txt
  forge-gui/res/cardsfolder/x/xantcha_sleeper_agent.txt
  forge-gui/res/cardsfolder/y/yavimaya_dryad.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#437 NCC: Smuggler's Share and support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/smugglers_share.txt
Labels: Upcoming Set, Game Mechanics

#448 NCC: Skyway Robber and support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/skyway_robber.txt
Labels: Upcoming Set, Game Mechanics

#460 NCC: 22 April
  forge-gui/res/cardsfolder/upcoming/viviens_stampede.txt
  forge-gui/res/cardsfolder/upcoming/writ_of_return.txt
  forge-gui/res/cardsfolder/upcoming/xanders_pact.txt
Labels: Upcoming Set

#459 Various little fixes
  forge-game/src/main/java/forge/game/ability/effects/DiscardEffect.java
  forge-gui/res/cardsfolder/g/gravewaker.txt
Labels: Card Cleanup, StackDesc

#443 Dread Linnorm // Scale Deflection, Monster Manual // Zoological Study, Stirge
  forge-gui/res/cardsfolder/d/dragonscale_boon.txt
  forge-gui/res/cardsfolder/upcoming/bhaal_lord_of_murder.txt
  forge-gui/res/cardsfolder/upcoming/dread_linnorm_scale_deflection.txt
  forge-gui/res/cardsfolder/upcoming/monster_manual_zoological_study.txt
  forge-gui/res/cardsfolder/upcoming/stirge.txt
Labels: Upcoming Set

#458 NCC: Wave of Rats and support
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/upcoming/wave_of_rats.txt
Labels: Upcoming Set, Game Mechanics

#457 Smuggler's Share fix and some others
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-gui/res/cardsfolder/a/alaborn_veteran.txt
  forge-gui/res/cardsfolder/a/apprentice_sorcerer.txt
  forge-gui/res/cardsfolder/c/cao_cao_lord_of_wei.txt
  forge-gui/res/cardsfolder/c/capricious_sorcerer.txt
  forge-gui/res/cardsfolder/c/coastal_wizard.txt
  forge-gui/res/cardsfolder/c/cunning_advisor.txt
  forge-gui/res/cardsfolder/d/diaochan_artful_beauty.txt
  forge-gui/res/cardsfolder/e/emergent_sequence.txt
  forge-gui/res/cardsfolder/f/fire_bowman.txt
  forge-gui/res/cardsfolder/g/goblin_firestarter.txt
  forge-gui/res/cardsfolder/g/gyome_master_chef.txt
  forge-gui/res/cardsfolder/h/hobgoblin_bandit_lord.txt
  forge-gui/res/cardsfolder/h/hua_tuo_honored_physician.txt
  forge-gui/res/cardsfolder/k/kings_assassin.txt
  forge-gui/res/cardsfolder/l/lady_sun.txt
  forge-gui/res/cardsfolder/l/lavaball_trap.txt
  forge-gui/res/cardsfolder/l/loyal_retainers.txt
  forge-gui/res/cardsfolder/l/lu_su_wu_advisor.txt
  forge-gui/res/cardsfolder/m/maddening_imp.txt
  forge-gui/res/cardsfolder/n/nettling_imp.txt
  forge-gui/res/cardsfolder/n/norwood_priestess.txt
  forge-gui/res/cardsfolder/p/pang_tong_young_phoenix.txt
  forge-gui/res/cardsfolder/r/ravenous_trap.txt
  forge-gui/res/cardsfolder/s/shu_farmer.txt
  forge-gui/res/cardsfolder/s/steam_catapult.txt
  forge-gui/res/cardsfolder/s/stern_marshal.txt
  forge-gui/res/cardsfolder/s/stone_catapult.txt
  forge-gui/res/cardsfolder/s/suicidal_charge.txt
  forge-gui/res/cardsfolder/t/talas_researcher.txt
  forge-gui/res/cardsfolder/t/temple_elder.txt
  forge-gui/res/cardsfolder/upcoming/smugglers_share.txt
  forge-gui/res/cardsfolder/w/whiplash_trap.txt
  forge-gui/res/cardsfolder/w/wu_longbowman.txt
  forge-gui/res/cardsfolder/x/xiahou_dun_the_one_eyed.txt
  forge-gui/res/cardsfolder/x/xun_yu_wei_advisor.txt
  forge-gui/res/cardsfolder/z/zhuge_jin_wu_strategist.txt
Labels: Card Patch, Rules compliance

#473 CountersRemoveEffect fix possible NPE at prompt
  forge-game/src/main/java/forge/game/ability/effects/CountersRemoveEffect.java
Labels: Crash fix

#470 Teferi's Time Twist tweak
  forge-gui/res/cardsfolder/t/teferis_time_twist.txt
Labels: Card Cleanup, Rules compliance

#434 NCC: Seize the Spotlight and support
  forge-game/src/main/java/forge/game/ability/effects/ControlGainEffect.java
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/seize_the_spotlight.txt
  forge-gui/res/cardsfolder/upcoming/turf_war.txt
Labels: Upcoming Set, Game Mechanics

#477 CLB: 23 May
  forge-gui/res/cardsfolder/a/aerie_worshippers.txt
  forge-gui/res/cardsfolder/j/jeleva_nephalias_scourge.txt
  forge-gui/res/cardsfolder/t/the_hippodrome.txt
  forge-gui/res/cardsfolder/upcoming/elminsters_simulacrum.txt
  forge-gui/res/cardsfolder/upcoming/myrkul_lord_of_bones.txt
Labels: Upcoming Set, AI, Card Cleanup, Card Patch

#469 CLB: Wyll's Reversal and support/refactor
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/spellability/TargetRestrictions.java
  forge-gui/res/cardsfolder/b/bolt_bend.txt
  forge-gui/res/cardsfolder/c/chefs_kiss.txt
  forge-gui/res/cardsfolder/d/deflection.txt
  forge-gui/res/cardsfolder/d/divert.txt
  forge-gui/res/cardsfolder/i/imps_mischief.txt
  forge-gui/res/cardsfolder/m/misdirection.txt
  forge-gui/res/cardsfolder/m/muck_drubb.txt
  forge-gui/res/cardsfolder/r/radiant_performer.txt
  forge-gui/res/cardsfolder/r/radiate.txt
  forge-gui/res/cardsfolder/r/rebound.txt
  forge-gui/res/cardsfolder/r/reflecting_mirror.txt
  forge-gui/res/cardsfolder/r/reroute.txt
  forge-gui/res/cardsfolder/r/ricochet_trap.txt
  forge-gui/res/cardsfolder/s/shunt.txt
  forge-gui/res/cardsfolder/s/silver_wyvern.txt
  forge-gui/res/cardsfolder/s/swerve.txt
  forge-gui/res/cardsfolder/t/torchling.txt
  forge-gui/res/cardsfolder/upcoming/wylls_reversal.txt
  forge-gui/res/cardsfolder/w/warriors_lesson.txt
  forge-gui/res/cardsfolder/w/willbender.txt
  forge-gui/src/main/java/forge/player/TargetSelection.java
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#479 TriggeredNewCardLKICopy -> Remembered
  forge-gui/res/cardsfolder/h/hofri_ghostforge.txt
  forge-gui/res/cardsfolder/n/nightmare_shepherd.txt
  forge-gui/res/cardsfolder/upcoming/myrkul_lord_of_bones.txt
Labels: Card Cleanup

#377 NCC: Lethal Scheme and ConniveEffect improvements
  forge-game/src/main/java/forge/game/ability/effects/ConniveEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/upcoming/lethal_scheme.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectCardsForConvokeOrImprovise.java
Labels: Upcoming Set, Game Mechanics

#462 CLB: Zevlor, Elturel Exile and support
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/CopySpellAbilityEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-gui/res/cardsfolder/upcoming/zevlor_elturel_exile.txt
Labels: Upcoming Set, Game Mechanics

#493 CLB edition update
  forge-gui/res/editions/Commander Legends Battle for Baldur's Gate.txt
Labels: Upcoming Set

#486 CBL: Astarion, the Decadent + 3 cards
  forge-gui/res/cardsfolder/upcoming/astarion_the_decadent.txt
  forge-gui/res/cardsfolder/upcoming/gales_redirection.txt
  forge-gui/res/cardsfolder/upcoming/legion_loyalty.txt
  forge-gui/res/cardsfolder/upcoming/wizards_of_thay.txt
Labels: Upcoming Set

#496 CLB: Raggadragga, Goreguts Boss and support
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-gui/res/cardsfolder/l/lavinia_azorius_renegade.txt
  forge-gui/res/cardsfolder/r/roiling_vortex.txt
  forge-gui/res/cardsfolder/upcoming/raggadragga_goreguts_boss.txt
Labels: Upcoming Set, Game Mechanics

#490 CLB: 24 May
  forge-gui/res/cardsfolder/l/laurine_the_diversion.txt
  forge-gui/res/cardsfolder/upcoming/commander_liara_portyr.txt
  forge-gui/res/cardsfolder/upcoming/gorion_wise_mentor.txt
  forge-gui/res/cardsfolder/upcoming/lozhan_dragons_legacy.txt
  forge-gui/res/cardsfolder/upcoming/mazzy_truesword_paladin.txt
  forge-gui/res/cardsfolder/upcoming/raphael_fiendish_savior.txt
Labels: Upcoming Set

#512 ControlGainEffect fix crash
  forge-game/src/main/java/forge/game/ability/effects/ControlGainEffect.java
Labels: Crash fix

#514 various random fixes
  forge-gui/res/cardsfolder/c/crackdown_construct.txt
  forge-gui/res/cardsfolder/r/reckless_amplimancer.txt
Labels: Card Cleanup

#517 ControlGain: Fix NPE
  forge-game/src/main/java/forge/game/ability/effects/ControlGainEffect.java
Labels: Crash fix

#509 CLB: Nemesis Phoenix and support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/combat/Combat.java
  forge-gui/res/cardsfolder/upcoming/nemesis_phoenix.txt
Labels: Upcoming Set, Game Mechanics

#525 Fix AI cheating when chaining dmg spells with DividedAsYouChoose
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
Labels: AI

#524 Fix Tap trigger decisions
  forge-ai/src/main/java/forge/ai/ability/DrawAi.java
  forge-ai/src/main/java/forge/ai/ability/TapAiBase.java
  forge-ai/src/main/java/forge/ai/ability/UntapAi.java
  forge-game/src/main/java/forge/game/ability/effects/ControlGainEffect.java
Labels: AI

#520 Housekeeping
  forge-gui/res/cardsfolder/c/citadel_gate.txt
  forge-gui/res/cardsfolder/l/life_insurance.txt
  forge-gui/res/cardsfolder/r/rose_room_treasurer.txt
  forge-gui/res/cardsfolder/s/seize_the_spotlight.txt
  forge-gui/res/cardsfolder/s/smugglers_share.txt
  forge-gui/res/cardsfolder/s/summon_undead.txt
  forge-gui/res/cardsfolder/t/titan_of_industry.txt
Labels: AI, Card Cleanup

#536 Tyvar update
  forge-gui/res/cardsfolder/rebalanced/a-tyvar_kell.txt
  forge-gui/res/cardsfolder/t/tyvar_kell.txt
Labels: Card Cleanup

#497 Baba Lysaga, Night Witch and Oji, the Exquisite Blade
  forge-gui/res/cardsfolder/upcoming/baba_lysaga_night_witch.txt
  forge-gui/res/cardsfolder/upcoming/oji_the_exquisite_blade.txt
Labels: Upcoming Set

#466 Update a few damage replacements from Pump to Effect
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PumpEffect.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/a/aggravate.txt
  forge-gui/res/cardsfolder/a/ajanis_aid.txt
  forge-gui/res/cardsfolder/a/alluring_siren.txt
  forge-gui/res/cardsfolder/a/azorius_ploy.txt
  forge-gui/res/cardsfolder/a/azra_oddsmaker.txt
  forge-gui/res/cardsfolder/b/basandra_battle_seraph.txt
  forge-gui/res/cardsfolder/b/benalish_missionary.txt
  forge-gui/res/cardsfolder/b/boiling_blood.txt
  forge-gui/res/cardsfolder/b/boros_fury_shield.txt
  forge-gui/res/cardsfolder/b/bullwhip.txt
  forge-gui/res/cardsfolder/b/burrenton_forge_tender.txt
  forge-gui/res/cardsfolder/c/cephalid_illusionist.txt
  forge-gui/res/cardsfolder/c/chemisters_trick.txt
  forge-gui/res/cardsfolder/c/courtly_provocateur.txt
  forge-gui/res/cardsfolder/d/deftblade_elite.txt
  forge-gui/res/cardsfolder/d/delirium.txt
  forge-gui/res/cardsfolder/e/ebony_horse.txt
  forge-gui/res/cardsfolder/e/elvish_scout.txt
  forge-gui/res/cardsfolder/e/energy_arc.txt
  forge-gui/res/cardsfolder/f/falling_timber.txt
  forge-gui/res/cardsfolder/f/fend_off.txt
  forge-gui/res/cardsfolder/f/fighting_chance.txt
  forge-gui/res/cardsfolder/f/foxfire.txt
  forge-gui/res/cardsfolder/g/gideon_ally_of_zendikar.txt
  forge-gui/res/cardsfolder/g/gideon_champion_of_justice.txt
  forge-gui/res/cardsfolder/g/gideon_jura.txt
  forge-gui/res/cardsfolder/g/gideon_martial_paragon.txt
  forge-gui/res/cardsfolder/g/gideon_of_the_trials.txt
  forge-gui/res/cardsfolder/g/gideon_the_oathsworn.txt
  forge-gui/res/cardsfolder/g/glyph_of_destruction.txt
  forge-gui/res/cardsfolder/g/gossamer_chains.txt
  forge-gui/res/cardsfolder/g/guard_dogs.txt
  forge-gui/res/cardsfolder/h/heckling_fiends.txt
  forge-gui/res/cardsfolder/h/heroism.txt
  forge-gui/res/cardsfolder/h/horn_of_deafening.txt
  forge-gui/res/cardsfolder/i/ignoble_soldier.txt
  forge-gui/res/cardsfolder/i/imps_taunt.txt
  forge-gui/res/cardsfolder/i/into_the_fray.txt
  forge-gui/res/cardsfolder/i/ith_high_arcanist.txt
  forge-gui/res/cardsfolder/k/kor_haven.txt
  forge-gui/res/cardsfolder/k/kytheon_hero_of_akros_gideon_battle_forged.txt
  forge-gui/res/cardsfolder/l/lady_evangela.txt
  forge-gui/res/cardsfolder/l/loafing_giant.txt
  forge-gui/res/cardsfolder/m/maze_of_ith.txt
  forge-gui/res/cardsfolder/m/maze_of_shadows.txt
  forge-gui/res/cardsfolder/m/moonlight_geist.txt
  forge-gui/res/cardsfolder/r/rage_nimbus.txt
  forge-gui/res/cardsfolder/r/resistance_fighter.txt
  forge-gui/res/cardsfolder/r/restrain.txt
  forge-gui/res/cardsfolder/s/safeguard.txt
  forge-gui/res/cardsfolder/s/serene_sunset.txt
  forge-gui/res/cardsfolder/s/shipwreck_singer.txt
  forge-gui/res/cardsfolder/s/songstitcher.txt
  forge-gui/res/cardsfolder/s/soratami_cloud_chariot.txt
  forge-gui/res/cardsfolder/t/telekinesis.txt
  forge-gui/res/cardsfolder/t/the_akroan_war.txt
  forge-gui/res/cardsfolder/w/warning.txt
Labels: Card Patch, Rules compliance

#467 wasAttackedThisCombat restriction for multiplayer
  forge-ai/src/main/java/forge/ai/ability/DestroyAi.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/combat/CombatUtil.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-gui/res/cardsfolder/a/assassins_blade.txt
  forge-gui/res/cardsfolder/b/bearer_of_the_heavens.txt
  forge-gui/res/cardsfolder/c/champions_victory.txt
  forge-gui/res/cardsfolder/c/command_of_unsummoning.txt
  forge-gui/res/cardsfolder/c/cryptic_gateway.txt
  forge-gui/res/cardsfolder/d/deep_wood.txt
  forge-gui/res/cardsfolder/d/defiant_stand.txt
  forge-gui/res/cardsfolder/e/eightfold_maze.txt
  forge-gui/res/cardsfolder/h/harsh_justice.txt
  forge-gui/res/cardsfolder/h/heavy_fog.txt
  forge-gui/res/cardsfolder/h/holistic_wisdom.txt
  forge-gui/res/cardsfolder/j/just_fate.txt
  forge-gui/res/cardsfolder/k/kongmings_contraptions.txt
  forge-gui/res/cardsfolder/r/rally_the_troops.txt
  forge-gui/res/cardsfolder/r/remove.txt
  forge-gui/res/cardsfolder/s/scorching_winds.txt
  forge-gui/res/cardsfolder/s/sigardian_zealot.txt
  forge-gui/res/cardsfolder/t/treetop_defense.txt
  forge-gui/res/cardsfolder/v/vigorous_charge.txt
  forge-gui/res/cardsfolder/v/viridian_zealot_avatar.txt
  forge-gui/res/cardsfolder/w/warriors_stand.txt
Labels: Rules compliance

#563 Update more cards with timestamps
  forge-gui/res/cardsfolder/a/arcane_adaptation.txt
  forge-gui/res/cardsfolder/a/auriok_replica.txt
  forge-gui/res/cardsfolder/b/beacon_of_destiny.txt
  forge-gui/res/cardsfolder/b/bone_mask.txt
  forge-gui/res/cardsfolder/c/charm_peddler.txt
  forge-gui/res/cardsfolder/c/cho_arrim_alchemist.txt
  forge-gui/res/cardsfolder/c/circle_of_despair.txt
  forge-gui/res/cardsfolder/c/circle_of_protection_artifacts.txt
  forge-gui/res/cardsfolder/c/circle_of_protection_black.txt
  forge-gui/res/cardsfolder/c/circle_of_protection_blue.txt
  forge-gui/res/cardsfolder/c/circle_of_protection_green.txt
  forge-gui/res/cardsfolder/c/circle_of_protection_red.txt
  forge-gui/res/cardsfolder/c/circle_of_protection_shadow.txt
  forge-gui/res/cardsfolder/c/circle_of_protection_white.txt
  forge-gui/res/cardsfolder/c/conspiracy.txt
  forge-gui/res/cardsfolder/d/dark_sphere.txt
  forge-gui/res/cardsfolder/d/deflecting_palm.txt
  forge-gui/res/cardsfolder/e/eye_for_an_eye.txt
  forge-gui/res/cardsfolder/g/generals_regalia.txt
  forge-gui/res/cardsfolder/h/haazda_shield_mate.txt
  forge-gui/res/cardsfolder/h/harms_way.txt
  forge-gui/res/cardsfolder/h/healing_grace.txt
  forge-gui/res/cardsfolder/h/honorable_passage.txt
  forge-gui/res/cardsfolder/i/intervention_pact.txt
  forge-gui/res/cardsfolder/i/invulnerability.txt
  forge-gui/res/cardsfolder/j/jade_monolith.txt
  forge-gui/res/cardsfolder/k/kithkin_armor.txt
  forge-gui/res/cardsfolder/k/kor_chant.txt
  forge-gui/res/cardsfolder/k/kor_dirge.txt
  forge-gui/res/cardsfolder/l/lithomancers_focus.txt
  forge-gui/res/cardsfolder/m/martyrs_cause.txt
  forge-gui/res/cardsfolder/m/mirrorwood_treefolk.txt
  forge-gui/res/cardsfolder/n/nova_pentacle.txt
  forge-gui/res/cardsfolder/o/opal_eye_kondas_yojimbo.txt
  forge-gui/res/cardsfolder/o/oracles_attendants.txt
  forge-gui/res/cardsfolder/p/pay_no_heed.txt
  forge-gui/res/cardsfolder/p/pentagram_of_the_ages.txt
  forge-gui/res/cardsfolder/p/prahv_spires_of_order.txt
  forge-gui/res/cardsfolder/r/reflect_damage.txt
  forge-gui/res/cardsfolder/r/refraction_trap.txt
  forge-gui/res/cardsfolder/r/reverse_damage.txt
  forge-gui/res/cardsfolder/r/rhystic_circle.txt
  forge-gui/res/cardsfolder/r/righteous_aura.txt
  forge-gui/res/cardsfolder/r/riths_charm.txt
  forge-gui/res/cardsfolder/s/samite_blessing.txt
  forge-gui/res/cardsfolder/s/samite_ministration.txt
  forge-gui/res/cardsfolder/s/sanctum_guardian.txt
  forge-gui/res/cardsfolder/s/seasoned_tactician.txt
  forge-gui/res/cardsfolder/s/shadowbane.txt
  forge-gui/res/cardsfolder/s/shaman_en_kor.txt
  forge-gui/res/cardsfolder/s/shining_shoal.txt
Labels: Card Patch

#564 AiHints upgrade
  forge-ai/src/main/java/forge/ai/AiBlockController.java
  forge-core/src/main/java/forge/card/CardRulesPredicates.java
  forge-core/src/main/java/forge/card/DeckHints.java
Labels: AI

#513 CLB: Dynaheir, Inovker Adept and support (kills another non-keyword keyword)
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/cost/CostTap.java
  forge-game/src/main/java/forge/game/cost/CostUntap.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityActivateAbilityAsIfHaste.java
  forge-gui/res/cardsfolder/t/thousand_year_elixir.txt
  forge-gui/res/cardsfolder/upcoming/dynaheir_invoker_adept.txt
Labels: Upcoming Set, Game Mechanics

#574 pygmy_troll.txt typo
  forge-gui/res/cardsfolder/p/pygmy_troll.txt
Labels: Card Cleanup

#576 CLB edition update
  forge-gui/res/editions/Commander Legends Battle for Baldur's Gate.txt
Labels: Upcoming Set

#577 Non-mana abilities incorrectly triggering/replaced
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
  forge-game/src/main/java/forge/game/trigger/TriggerTapsForMana.java
  forge-gui/res/cardsfolder/p/pillar_of_war.txt
  forge-gui/res/cardsfolder/p/piston_fist_cyclops.txt
Labels: Game Mechanics, Rules compliance

#555 CLB: Brainstealer Dragon, Giant Ankheg + 4 cards
  forge-gui/res/cardsfolder/upcoming/amethyst_dragon_explosive_crystal.txt
  forge-gui/res/cardsfolder/upcoming/ancient_copper_dragon.txt
  forge-gui/res/cardsfolder/upcoming/black_market_connections.txt
  forge-gui/res/cardsfolder/upcoming/brainstealer_dragon.txt
  forge-gui/res/cardsfolder/upcoming/giant_ankheg.txt
  forge-gui/res/cardsfolder/upcoming/zhentarim_bandit.txt
  forge-gui/res/tokenscripts/c_3_2_shapeshifter_changeling.txt
Labels: Upcoming Set

#532 CLB: Background mechanic and related cards
  forge-core/src/main/java/forge/card/CardRules.java
  forge-core/src/main/java/forge/deck/DeckFormat.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-gui/res/cardsfolder/upcoming/alora_merry_thief.txt
  forge-gui/res/cardsfolder/upcoming/cloakwood_hermit.txt
  forge-gui/res/cardsfolder/upcoming/halsin_emerald_archdruid.txt
  forge-gui/res/cardsfolder/upcoming/livaan_cultist_of_tiamat.txt
  forge-gui/res/cardsfolder/upcoming/master_chef.txt
  forge-gui/res/cardsfolder/upcoming/raised_by_giants.txt
  forge-gui/res/cardsfolder/upcoming/shameless_charlatan.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set, Game Mechanics

#587 Fix AI not playing or confirming bad ImmediateTrigger
  forge-ai/src/main/java/forge/ai/ability/ImmediateTriggerAi.java
  forge-gui/res/cardsfolder/a/ajanis_comrade.txt
  forge-gui/res/cardsfolder/c/cemetery_desecrator.txt
Labels: AI

#585 myrkul_lord_of_bones.txt - copy card as it was in graveyard
  forge-gui/res/cardsfolder/m/myrkul_lord_of_bones.txt
Labels: Card Patch

#601 ConniveEffect.resolve avoid potential infinite loop
  forge-game/src/main/java/forge/game/ability/effects/ConniveEffect.java
Labels: Crash fix

#586 CLB: Cadira, Caller of the Small + 4 cards
  forge-gui/res/cardsfolder/upcoming/archivist_of_oghma.txt
  forge-gui/res/cardsfolder/upcoming/ascend_from_avernus.txt
  forge-gui/res/cardsfolder/upcoming/astarions_thirst.txt
  forge-gui/res/cardsfolder/upcoming/baldurs_gate.txt
  forge-gui/res/cardsfolder/upcoming/cadira_caller_of_the_small.txt
  forge-gui/res/tokenscripts/w_1_1_rabbit.txt
Labels: Upcoming Set

#537 CLB: Background type cards (30 May)
  forge-gui/res/cardsfolder/h/hama_pashar_ruin_seeker.txt
  forge-gui/res/cardsfolder/upcoming/acolyte_of_bahamut.txt
  forge-gui/res/cardsfolder/upcoming/agent_of_the_iron_throne.txt
  forge-gui/res/cardsfolder/upcoming/candlekeep_sage.txt
  forge-gui/res/cardsfolder/upcoming/dungeon_delver.txt
  forge-gui/res/cardsfolder/upcoming/far_traveler.txt
  forge-gui/res/cardsfolder/upcoming/scion_of_halaster.txt
Labels: Upcoming Set

#610 CLB: Choose a Background cards (31 May)
  forge-gui/res/cardsfolder/upcoming/abdel_adrian_gorions_ward.txt
  forge-gui/res/cardsfolder/upcoming/amber_gristle_omaul.txt
  forge-gui/res/cardsfolder/upcoming/erinis_gloom_stalker.txt
  forge-gui/res/cardsfolder/upcoming/faceless_one.txt
  forge-gui/res/cardsfolder/upcoming/gale_waterdeep_prodigy.txt
Labels: Upcoming Set

#611 Fix Tovolar, Dire Overlord counting Changelings twice
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/t/tovolar_dire_overlord_tovolar_the_midnight_scourge.txt
Labels: Card Patch

#607 CLB: Ellyn Harbreeze, Busybody and DigEffect stackDesc update
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-gui/res/cardsfolder/upcoming/ellyn_harbreeze_busybody.txt
Labels: Upcoming Set, StackDesc
