Repository Card-Forge/forge, pull requests merged in 2022-11, with the labels that each got.

#1775 Edition updates: BRO, BRC & BRR
  forge-gui/res/editions/The Brothers War Commander.txt
  forge-gui/res/editions/The Brothers War Retro Artifacts.txt
  forge-gui/res/editions/The Brothers War.txt
Labels: Upcoming Set

#1780 BRC 3 Cards
  forge-gui/res/cardsfolder/upcoming/rootpath_purifier.txt
  forge-gui/res/cardsfolder/upcoming/the_brothers_war.txt
  forge-gui/res/cardsfolder/upcoming/urzas_workshop.txt
Labels: Upcoming Set

#1787 Improve AI logic for cavern of souls.
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-gui/res/cardsfolder/b/belbes_portal.txt
  forge-gui/res/cardsfolder/b/bloodline_shaman.txt
  forge-gui/res/cardsfolder/b/brass_herald.txt
  forge-gui/res/cardsfolder/c/cavern_of_souls.txt
  forge-gui/res/cardsfolder/h/heralds_horn.txt
  forge-gui/res/cardsfolder/k/kolvori_god_of_kinship_the_ringhart_crest.txt
  forge-gui/res/cardsfolder/m/molten_echoes.txt
  forge-gui/res/cardsfolder/r/realmwalker.txt
  forge-gui/res/cardsfolder/r/reflections_of_littjara.txt
  forge-gui/res/cardsfolder/u/unclaimed_territory.txt
  forge-gui/res/cardsfolder/u/urzas_incubator.txt
  forge-gui/res/cardsfolder/v/vexing_arcanix.txt
Labels: AI

#1791 GameAction: Fix Wondrous Crucible not casting permanent spells cleanly
  forge-game/src/main/java/forge/game/GameAction.java
  forge-gui/res/cardsfolder/b/brutal_suppression.txt
  forge-gui/res/cardsfolder/c/cunning_nightbonder.txt
  forge-gui/res/cardsfolder/d/domri_anarch_of_bolas.txt
  forge-gui/res/cardsfolder/p/prosper_tome_bound.txt
  forge-gui/res/cardsfolder/t/thryx_the_sudden_storm.txt
Labels: Game Mechanics, Card Patch

#1774 BRO 10 more 31/10
  forge-gui/res/cardsfolder/upcoming/flow_of_knowledge.txt
  forge-gui/res/cardsfolder/upcoming/fortified_beachhead.txt
  forge-gui/res/cardsfolder/upcoming/hajar_loyal_bodyguard.txt
  forge-gui/res/cardsfolder/upcoming/heavyweight_demolisher.txt
  forge-gui/res/cardsfolder/upcoming/in_the_trenches.txt
  forge-gui/res/cardsfolder/upcoming/loran_of_the_third_path.txt
  forge-gui/res/cardsfolder/upcoming/saheeli_filigree_master.txt
  forge-gui/res/cardsfolder/upcoming/terisian_mindbreaker.txt
  forge-gui/res/cardsfolder/upcoming/the_stasis_coffin.txt
  forge-gui/res/cardsfolder/upcoming/tocasia_dig_site_mentor.txt
Labels: Upcoming Set

#1784 BRO 10 Cards 2/11
  forge-gui/res/cardsfolder/upcoming/awaken_the_woods.txt
  forge-gui/res/cardsfolder/upcoming/brotherhoods_end.txt
  forge-gui/res/cardsfolder/upcoming/draconic_destiny.txt
  forge-gui/res/cardsfolder/upcoming/gixian_puppeteer.txt
  forge-gui/res/cardsfolder/upcoming/gixs_command.txt
  forge-gui/res/cardsfolder/upcoming/kaylas_reconstruction.txt
  forge-gui/res/cardsfolder/upcoming/mechanized_warfare.txt
  forge-gui/res/cardsfolder/upcoming/one_with_the_multiverse.txt
  forge-gui/res/cardsfolder/upcoming/siege_veteran.txt
  forge-gui/res/cardsfolder/upcoming/tyrant_of_kher_ridges.txt
  forge-gui/res/tokenscripts/g_1_1_forest_dryad_land.txt
Labels: Upcoming Set

#1789 Image fetcher: Don't download card images that are already present.
  forge-gui-desktop/src/main/java/forge/CachedCardImage.java
  forge-gui-desktop/src/main/java/forge/ImageCache.java
Labels: GUI

#1786 Fix simulation AI logic related to playing lands.
  forge-ai/src/main/java/forge/ai/simulation/GameSimulator.java
  forge-ai/src/main/java/forge/ai/simulation/SpellAbilityPicker.java
  forge-gui-desktop/src/test/java/forge/ai/simulation/GameSimulationTest.java
  forge-gui-desktop/src/test/java/forge/ai/simulation/SpellAbilityPickerSimulationTest.java
Labels: AI

#1798 fixes
  forge-gui/res/cardsfolder/h/hateflayer.txt
  forge-gui/res/cardsfolder/r/release_the_ants.txt
  forge-gui/res/cardsfolder/v/vengeful_devil.txt
  forge-gui/res/cardsfolder/v/venomous_hierophant.txt
Labels: Card Cleanup, Rules compliance

#1770 hurkyl_master_wizard.txt refactor
  forge-core/src/main/java/forge/card/CardType.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RepeatEachEffect.java
  forge-gui/res/cardsfolder/g/grime_gorger.txt
  forge-gui/res/cardsfolder/l/liliana_dreadhorde_general.txt
  forge-gui/res/cardsfolder/n/nihiloor.txt
  forge-gui/res/cardsfolder/r/revival_experiment.txt
  forge-gui/res/cardsfolder/upcoming/hurkyl_master_wizard.txt
Labels: enhancement, Upcoming Set, Game Mechanics, Card Cleanup

#1801 more miscellaneous fixes and tidying
  forge-game/src/main/java/forge/game/ability/effects/RevealHandEffect.java
  forge-gui/res/cardsfolder/m/memory_leak.txt
  forge-gui/res/cardsfolder/t/thought_knot_seer.txt
  forge-gui/res/cardsfolder/upcoming/gix_yawgmoth_praetor.txt
  forge-gui/res/cardsfolder/upcoming/teferi_temporal_pilgrim.txt
Labels: Card Cleanup

#1792 BRO 10 cards 3/11
  forge-gui/res/cardsfolder/upcoming/arms_race.txt
  forge-gui/res/cardsfolder/upcoming/bladewhip_transmogrant.txt
  forge-gui/res/cardsfolder/upcoming/giant_slagmaw.txt
  forge-gui/res/cardsfolder/upcoming/gnawing_vermin.txt
  forge-gui/res/cardsfolder/upcoming/hero_of_the_dunes.txt
  forge-gui/res/cardsfolder/upcoming/myrel_shield_of_argive.txt
  forge-gui/res/cardsfolder/upcoming/persistent_behemoth.txt
  forge-gui/res/cardsfolder/upcoming/skystrike_officer.txt
  forge-gui/res/cardsfolder/upcoming/static_net.txt
  forge-gui/res/cardsfolder/upcoming/tocasias_digsite.txt
Labels: Upcoming Set

#1800 BRO: 4 Nov
  forge-gui/res/cardsfolder/s/stromkirk_mentor.txt
  forge-gui/res/cardsfolder/upcoming/aeronaut_cavalry.txt
  forge-gui/res/cardsfolder/upcoming/air_marshal.txt
  forge-gui/res/cardsfolder/upcoming/airlift_chaplain.txt
  forge-gui/res/cardsfolder/upcoming/arbalest_engineers.txt
  forge-gui/res/cardsfolder/upcoming/argivian_avenger.txt
Labels: Upcoming Set

#1799 BRC 5 Cards
  forge-gui/res/cardsfolder/upcoming/blast_furnace_hellkite.txt
  forge-gui/res/cardsfolder/upcoming/sardian_avenger.txt
  forge-gui/res/cardsfolder/upcoming/staff_of_titania.txt
  forge-gui/res/cardsfolder/upcoming/the_archimandrite.txt
  forge-gui/res/cardsfolder/upcoming/titania_natures_force.txt
Labels: Upcoming Set

#1803 Edition updates: BRO, BRC & BRR
  forge-gui/res/editions/The Brothers War Commander.txt
  forge-gui/res/editions/The Brothers War Retro Artifacts.txt
  forge-gui/res/editions/The Brothers War.txt
Labels: Upcoming Set

#1805 Fix RememberCountered when replaced
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/CounterEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RepeatEachEffect.java
  forge-gui/res/cardsfolder/a/absorb_energy.txt
  forge-gui/res/cardsfolder/a/arcane_denial.txt
  forge-gui/res/cardsfolder/b/bottled_cloister.txt
  forge-gui/res/cardsfolder/h/heroism.txt
  forge-gui/res/cardsfolder/k/king_narfis_betrayal.txt
  forge-gui/res/cardsfolder/m/moonring_mirror.txt
  forge-gui/res/cardsfolder/s/serpents_soul_jar.txt
  forge-gui/res/cardsfolder/t/tasha_the_witch_queen.txt
  forge-gui/res/cardsfolder/t/tibalts_trickery.txt
  forge-gui/res/cardsfolder/upcoming/titania_natures_force.txt
  forge-gui/res/cardsfolder/w/witch_hunter.txt
Labels: Card Cleanup, Card Patch, Rules compliance

#1778 BRO 10 Cards 1/11
  forge-gui/res/cardsfolder/upcoming/liberator_urzas_battlethopter.txt
  forge-gui/res/cardsfolder/upcoming/mishras_research_desk.txt
  forge-gui/res/cardsfolder/upcoming/reconstructed_thopter.txt
  forge-gui/res/cardsfolder/upcoming/simian_simulacrum.txt
  forge-gui/res/cardsfolder/upcoming/su_chi_cave_guard.txt
  forge-gui/res/cardsfolder/upcoming/the_stone_brain.txt
  forge-gui/res/cardsfolder/upcoming/thran_power_suit.txt
  forge-gui/res/cardsfolder/upcoming/urzas_command.txt
  forge-gui/res/cardsfolder/upcoming/urzas_rebuff.txt
  forge-gui/res/cardsfolder/upcoming/urzas_sylex.txt
Labels: Upcoming Set

#1781 Refactor for Swords to Plowshares and similar
  forge-game/src/main/java/forge/game/ability/effects/LifeGainEffect.java
  forge-gui/res/cardsfolder/a/ajani_unyielding.txt
  forge-gui/res/cardsfolder/a/avenger_en_dal.txt
  forge-gui/res/cardsfolder/c/condemn.txt
  forge-gui/res/cardsfolder/c/crumble.txt
  forge-gui/res/cardsfolder/d/devour_flesh.txt
  forge-gui/res/cardsfolder/d/dismantle.txt
  forge-gui/res/cardsfolder/g/gloomwidows_feast.txt
  forge-gui/res/cardsfolder/i/illumination.txt
  forge-gui/res/cardsfolder/k/kaerveks_purge.txt
  forge-gui/res/cardsfolder/l/luminate_primordial.txt
  forge-gui/res/cardsfolder/r/rite_of_the_serpent.txt
  forge-gui/res/cardsfolder/s/solitude.txt
  forge-gui/res/cardsfolder/s/swords_to_plowshares.txt
Labels: Card Cleanup

#1806 fix sheltering_prayers.txt / expand "ControllerControls" CardProperty
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/s/sheltering_prayers.txt
Labels: Card Cleanup, Card Patch

#1811 Small edition updates: BRO & BRR
  forge-gui/res/editions/The Brothers War Retro Artifacts.txt
  forge-gui/res/editions/The Brothers War.txt
Labels: Upcoming Set

#1812 Small file name fixes
  forge-gui/res/cardsfolder/upcoming/blast-furnace_hellkite.txt
  forge-gui/res/cardsfolder/upcoming/machine_gods_effigy.txt
Labels: Card Cleanup

#1813 Edition updates: BRC & J22
  forge-gui/res/editions/Jumpstart 2022.txt
  forge-gui/res/editions/The Brothers War Commander.txt
Labels: Upcoming Set

#1814 Few card fixes
  forge-game/src/main/java/forge/game/Game.java
  forge-gui/res/cardsfolder/a/argothian_pixies.txt
  forge-gui/res/cardsfolder/c/chameleon_blur.txt
  forge-gui/res/cardsfolder/c/champion_lancer.txt
  forge-gui/res/cardsfolder/c/chant_of_vitu_ghazi.txt
  forge-gui/res/cardsfolder/c/circle_of_solace.txt
  forge-gui/res/cardsfolder/e/ethereal_haze.txt
  forge-gui/res/cardsfolder/g/gratuitous_violence.txt
  forge-gui/res/cardsfolder/h/heroism.txt
  forge-gui/res/cardsfolder/o/obscuring_haze.txt
  forge-gui/res/cardsfolder/s/scarecrow.txt
  forge-gui/res/cardsfolder/s/selfless_exorcist.txt
  forge-gui/res/cardsfolder/s/skophos_warleader.txt
  forge-gui/res/cardsfolder/s/slaughter_priest_of_mogis.txt
  forge-gui/res/cardsfolder/s/sphere_of_purity.txt
  forge-gui/res/cardsfolder/t/thwart_the_enemy.txt
  forge-gui/res/cardsfolder/t/tresserhorn_skyknight.txt
  forge-gui/res/cardsfolder/u/uncle_istvan.txt
  forge-gui/res/cardsfolder/upcoming/mishra_claimed_by_gix_mishra_lost_to_phyrexia.txt
  forge-gui/res/cardsfolder/w/well_laid_plans.txt
  forge-gui/res/quest/duels/Baal 2.dck
  forge-gui/res/quest/duels/Baal 3.dck
  forge-gui/res/quest/duels/King_Goldemar_2.dck
  forge-gui/res/quest/duels/Liliana's Unliving Hordes 2.dck
Labels: Card Cleanup, Card Patch

#1818 BRC: Disciple of Caelus Nin + support / KW to static refactor
  forge-ai/src/main/java/forge/ai/ability/ChooseCardAi.java
  forge-game/src/main/java/forge/game/ability/effects/PhasesEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantPhaseIn.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantPhaseOut.java
  forge-gui/res/cardsfolder/a/author_of_shadows.txt
  forge-gui/res/cardsfolder/c/consuming_tide.txt
  forge-gui/res/cardsfolder/e/ertais_familiar.txt
  forge-gui/res/cardsfolder/g/geistchanneler.txt
  forge-gui/res/cardsfolder/g/ghouls_night_out.txt
  forge-gui/res/cardsfolder/g/grime_gorger.txt
  forge-gui/res/cardsfolder/i/infernal_denizen.txt
  forge-gui/res/cardsfolder/l/liliana_dreadhorde_general.txt
  forge-gui/res/cardsfolder/r/revival_experiment.txt
  forge-gui/res/cardsfolder/s/sakashimas_will.txt
  forge-gui/res/cardsfolder/s/sculpted_sunburst.txt
  forge-gui/res/cardsfolder/s/selfless_glyphweaver_deadly_vanity.txt
  forge-gui/res/cardsfolder/s/spatial_binding.txt
  forge-gui/res/cardsfolder/t/teferi_timeless_voyager.txt
  forge-gui/res/cardsfolder/upcoming/bloodsprout_talisman.txt
  forge-gui/res/cardsfolder/upcoming/disciple_of_caelus_nin.txt
  forge-gui/res/cardsfolder/upcoming/hurkyl_master_wizard.txt
  forge-gui/res/cardsfolder/upcoming/queen_kayla_bin-kroog.txt
  forge-gui/res/lists/NonStackingKWList.txt
Labels: Upcoming Set, Game Mechanics, AI, Card Cleanup

#1782 PR 1749 tweaks
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardEffect.java
  forge-gui/res/cardsfolder/h/high_priest_of_penance.txt
  forge-gui/res/cardsfolder/upcoming/ashnods_harvester.txt
  forge-gui/res/cardsfolder/upcoming/feldon_ronom_excavator.txt
  forge-gui/res/cardsfolder/upcoming/mishra_tamer_of_mak_fawa.txt
  forge-gui/res/cardsfolder/upcoming/scrapwork_cohort.txt
  forge-gui/res/cardsfolder/upcoming/urza_powerstone_prodigy.txt
  forge-gui/res/cardsfolder/upcoming/urza_prince_of_kroog.txt
Labels: Card Cleanup

#1819 BRC: ashnod_the_uncaring.txt and support
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-gui/res/cardsfolder/upcoming/ashnod_the_uncaring.txt
Labels: Upcoming Set, Game Mechanics

#1821 Edition updates: BRC, BRO & BRR
  forge-gui/res/editions/The Brothers War Commander.txt
  forge-gui/res/editions/The Brothers War Retro Artifacts.txt
  forge-gui/res/editions/The Brothers War.txt
Labels: Upcoming Set

#1759 DMU: Defiler cycle and support
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/spellability/OptionalCost.java
  forge-game/src/main/java/forge/game/spellability/OptionalCostValue.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/d/defiler_of_dreams.txt
  forge-gui/res/cardsfolder/d/defiler_of_faith.txt
  forge-gui/res/cardsfolder/d/defiler_of_flesh.txt
  forge-gui/res/cardsfolder/d/defiler_of_instinct.txt
  forge-gui/res/cardsfolder/d/defiler_of_vigor.txt
Labels: Game Mechanics

#1822 Update saheeli_rai.txt
  forge-gui/res/cardsfolder/s/saheeli_rai.txt
Labels: Card Cleanup

#1827 Edition updates: Tokens for BRC & BRO
  forge-gui/res/editions/The Brothers War Commander.txt
  forge-gui/res/editions/The Brothers War.txt
Labels: Upcoming Set

#1825 BRO: Transmogrant's Crown and parsing tweaks
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/upcoming/transmogrants_crown.txt
Labels: Upcoming Set

#1823 BRO: Prototype
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/spellability/AlternativeCost.java
  forge-gui/res/cardsfolder/upcoming/combat_thresher.txt
  forge-gui/res/cardsfolder/upcoming/cradle_clearcutter.txt
  forge-gui/res/cardsfolder/upcoming/goring_warplow.txt
Labels: Upcoming Set, Game Mechanics

#1826 StackDescription work: DestroyEffect, LoseLifeEffect
  forge-game/src/main/java/forge/game/ability/effects/DestroyEffect.java
  forge-game/src/main/java/forge/game/ability/effects/LifeLoseEffect.java
Labels: enhancement

#1809 5 bro cards by squee
  forge-gui/res/cardsfolder/upcoming/junkyard_genius.txt
  forge-gui/res/cardsfolder/upcoming/keeper_of_the_cadencet.txt
  forge-gui/res/cardsfolder/upcoming/kill-zone_acrobat.txt
  forge-gui/res/cardsfolder/upcoming/koilos_roc.txt
  forge-gui/res/cardsfolder/upcoming/lat-nam_adept.txt
Labels: Upcoming Set

#1835 Change - to _ for cardscript file names
  forge-gui/res/cardsfolder/b/battle_rage_blessing.txt
  forge-gui/res/cardsfolder/g/greensleeves_maro_sorcerer.txt
  forge-gui/res/cardsfolder/l/leaf_crowned_visionary.txt
  forge-gui/res/cardsfolder/m/monstrous_war_leech.txt
  forge-gui/res/cardsfolder/n/nine_fingers_keene.txt
  forge-gui/res/cardsfolder/s/shadow_rite_priest.txt
  forge-gui/res/cardsfolder/s/shield_wall_sentinel.txt
  forge-gui/res/cardsfolder/t/the_ever_changing_dane.txt
  forge-gui/res/cardsfolder/t/two_headed_hellkite.txt
  forge-gui/res/cardsfolder/upcoming/blast_furnace_hellkite.txt
  forge-gui/res/cardsfolder/upcoming/hierophant_bio_titan.txt
  forge-gui/res/cardsfolder/upcoming/queen_kayla_bin_kroog.txt
  forge-gui/res/cardsfolder/upcoming/screamer_killer.txt
  forge-gui/res/cardsfolder/w/wyll_pact_bound_duelist.txt
  forge-gui/res/cardsfolder/y/yuan_ti_scaleshield.txt
Labels: Card Cleanup

#1834 Booster Draft for BRO & 30A
  forge-gui/res/blockdata/blocks.txt
  forge-gui/res/draft/rankings.txt
  forge-gui/res/editions/30th Anniversary Edition.txt
  forge-gui/res/editions/The Brothers War.txt
Labels: Upcoming Set

#1836 fix typos from PR 1778
  forge-gui/res/cardsfolder/b/brass_knuckles.txt
  forge-gui/res/cardsfolder/upcoming/liberator_urzas_battlethopter.txt
  forge-gui/res/cardsfolder/upcoming/simian_simulacrum.txt
  forge-gui/res/cardsfolder/upcoming/thran_power_suit.txt
  forge-gui/res/cardsfolder/upcoming/urzas_sylex.txt
Labels: Upcoming Set, Card Cleanup

#1838 BRO: Ward parsing updates
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/cost/CostSacrifice.java
  forge-gui/res/cardsfolder/m/minthara_merciless_soul.txt
  forge-gui/res/cardsfolder/upcoming/mishra_tamer_of_mak_fawa.txt
  forge-gui/res/cardsfolder/upcoming/phyrexian_fleshgorger.txt
Labels: enhancement, Upcoming Set, Card Cleanup

#1830 Improve isCardAddedThisTurn
  forge-game/src/main/java/forge/game/zone/Zone.java
Labels: Game Mechanics

#1831 Prototype is not AlternativeCost
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/spellability/AlternativeCost.java
  forge-gui/res/cardsfolder/upcoming/blitz_automaton.txt
Labels: Upcoming Set, Rules compliance

#1841 BRO: 8 Nov
  forge-gui/res/cardsfolder/upcoming/arcane_proxy.txt
  forge-gui/res/cardsfolder/upcoming/autonomous_assembler.txt
  forge-gui/res/cardsfolder/upcoming/boulderbranch_golem.txt
  forge-gui/res/cardsfolder/upcoming/hulking_metamorph.txt
  forge-gui/res/cardsfolder/upcoming/soundwave_sonic_spy_soundwave_superior_captain.txt
  forge-gui/res/cardsfolder/upcoming/woodcaller_automaton.txt
Labels: Upcoming Set, Card Cleanup

#1845 Auras 400.7f
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/a/angelic_destiny.txt
  forge-gui/res/cardsfolder/c/crush_underfoot.txt
  forge-gui/res/cardsfolder/e/endless_evil.txt
  forge-gui/res/cardsfolder/g/genju_of_the_cedars.txt
  forge-gui/res/cardsfolder/g/genju_of_the_falls.txt
  forge-gui/res/cardsfolder/g/genju_of_the_fens.txt
  forge-gui/res/cardsfolder/g/genju_of_the_fields.txt
  forge-gui/res/cardsfolder/g/genju_of_the_realm.txt
  forge-gui/res/cardsfolder/g/genju_of_the_spires.txt
  forge-gui/res/cardsfolder/g/gift_of_immortality.txt
  forge-gui/res/cardsfolder/i/infectious_rage.txt
  forge-gui/res/cardsfolder/j/journey_to_eternity_atzal_cave_of_eternity.txt
  forge-gui/res/cardsfolder/n/necrotic_plague.txt
  forge-gui/res/cardsfolder/n/next_of_kin.txt
  forge-gui/res/cardsfolder/p/puppet_master.txt
  forge-gui/res/cardsfolder/r/radiant_grace_radiant_restraints.txt
  forge-gui/res/cardsfolder/s/screams_from_within.txt
  forge-gui/res/cardsfolder/s/skin_invasion_skin_shedder.txt
  forge-gui/res/cardsfolder/upcoming/draconic_destiny.txt
  forge-gui/res/cardsfolder/upcoming/nurgles_rot.txt
Labels: Game Mechanics, Card Patch, Rules compliance

#1843 BRO remaining Prototype cards
  forge-gui/res/cardsfolder/upcoming/depth_charge_colossus.txt
  forge-gui/res/cardsfolder/upcoming/fallaji_dragon_engine.txt
  forge-gui/res/cardsfolder/upcoming/iron_craw_crusher.txt
  forge-gui/res/cardsfolder/upcoming/rootwire_amalgam.txt
  forge-gui/res/cardsfolder/upcoming/rust_goliath.txt
  forge-gui/res/cardsfolder/upcoming/skitterbeam_battalion.txt
  forge-gui/res/cardsfolder/upcoming/spotter_thopter.txt
  forge-gui/res/tokenscripts/c_x_x_a_golem.txt
Labels: Upcoming Set

#1846 AI improvement for All Hallow's Eve
  forge-gui/res/cardsfolder/a/all_hallows_eve.txt
Labels: AI, Card Cleanup

#1842 BRO 10 cards (9 nov)
  forge-gui/res/cardsfolder/upcoming/unleash_shell.txt
  forge-gui/res/cardsfolder/upcoming/veterans_powerblade.txt
  forge-gui/res/cardsfolder/upcoming/warlords_elite.txt
  forge-gui/res/cardsfolder/upcoming/wasteful_harvest.txt
  forge-gui/res/cardsfolder/upcoming/weakstones_subjugation.txt
  forge-gui/res/cardsfolder/upcoming/whirling_strike.txt
  forge-gui/res/cardsfolder/upcoming/wing_commando.txt
  forge-gui/res/cardsfolder/upcoming/yotian_frontliner.txt
  forge-gui/res/cardsfolder/upcoming/yotian_tactician.txt
  forge-gui/res/cardsfolder/upcoming/zephyr_sentinel.txt
Labels: Upcoming Set

#1847 BRO: The Temporal Anchor and support
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerScry.java
  forge-gui/res/cardsfolder/k/king_narfis_betrayal.txt
  forge-gui/res/cardsfolder/upcoming/the_temporal_anchor.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#1853 Update PW22
  forge-gui/res/editions/Wizards Play Network 2022.txt
Labels: Upcoming Set

#1858 Some card fixes
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-gui/res/cardsfolder/a/all_hallows_eve.txt
  forge-gui/res/cardsfolder/c/chimney_goyf.txt
  forge-gui/res/cardsfolder/c/chimney_imp.txt
  forge-gui/res/cardsfolder/c/chittering_rats.txt
  forge-gui/res/cardsfolder/e/evolved_sleeper.txt
  forge-gui/res/cardsfolder/upcoming/mishras_research_desk.txt
  forge-gui/res/cardsfolder/upcoming/thran_spider.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Card Patch

#1867 War Room fix
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityVariables.java
  forge-gui/res/cardsfolder/w/war_room.txt
Labels: bug

#1860 Lodestone Bauble fix
  forge-gui/res/cardsfolder/l/lodestone_bauble.txt
  forge-gui/res/cardsfolder/m/monster_manual_zoological_study.txt
  forge-gui/res/cardsfolder/r/reins_of_the_vinesteed.txt
  forge-gui/res/cardsfolder/t/takklemaggot.txt
  forge-gui/res/cardsfolder/upcoming/airlift_chaplain.txt
  forge-gui/res/cardsfolder/upcoming/blanchwood_prowler.txt
  forge-gui/res/cardsfolder/upcoming/fallaji_archeologist.txt
  forge-gui/res/cardsfolder/upcoming/kaylas_music_box.txt
  forge-gui/res/cardsfolder/upcoming/queen_kayla_bin_kroog.txt
  forge-gui/res/cardsfolder/upcoming/szarekh_the_silent_king.txt
  forge-gui/res/cardsfolder/upcoming/wasteful_harvest.txt
Labels: Card Patch

#1863 Prototype fix
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/spellability/Spell.java
  forge-gui/res/cardsfolder/b/broken_visage.txt
  forge-gui/res/cardsfolder/g/gluntch_the_bestower.txt
  forge-gui/res/cardsfolder/i/ingenious_mastery.txt
  forge-gui/res/cardsfolder/j/jolene_the_plunder_queen.txt
  forge-gui/res/cardsfolder/t/trudge_garden.txt
Labels: Game Mechanics, Card Cleanup

#1866 BRO – 11 Nov
  forge-gui/res/cardsfolder/upcoming/hurkyls_final_meditation.txt
  forge-gui/res/cardsfolder/upcoming/over_the_top.txt
  forge-gui/res/cardsfolder/upcoming/steel_exemplar.txt
  forge-gui/res/cardsfolder/upcoming/steel_seraph.txt
  forge-gui/res/cardsfolder/upcoming/swiftgear_drake.txt
Labels: Upcoming Set

#1824 BRO 20 cards
  forge-gui/res/cardsfolder/upcoming/dreams_of_steel_and_oil.txt
  forge-gui/res/cardsfolder/upcoming/forging_the_anchor.txt
  forge-gui/res/cardsfolder/upcoming/gaeas_gift.txt
  forge-gui/res/cardsfolder/upcoming/geology_enthusiast.txt
  forge-gui/res/cardsfolder/upcoming/gixian_infiltrator.txt
  forge-gui/res/cardsfolder/upcoming/gixian_skullflayer.txt
  forge-gui/res/cardsfolder/upcoming/gixs_caress.txt
  forge-gui/res/cardsfolder/upcoming/gnarlroot_pallbearer.txt
  forge-gui/res/cardsfolder/upcoming/goblin_blast_runner.txt
  forge-gui/res/cardsfolder/upcoming/goblin_firebomb.txt
  forge-gui/res/cardsfolder/upcoming/gruesome_realization.txt
  forge-gui/res/cardsfolder/upcoming/gurgling_anointer.txt
  forge-gui/res/cardsfolder/upcoming/haywire_mite.txt
  forge-gui/res/cardsfolder/upcoming/horned_stoneseeker.txt
  forge-gui/res/cardsfolder/upcoming/involuntary_cooldown.txt
  forge-gui/res/cardsfolder/upcoming/legions_to_ashes.txt
  forge-gui/res/cardsfolder/upcoming/levitating_statue.txt
  forge-gui/res/cardsfolder/upcoming/mishras_command.txt
  forge-gui/res/cardsfolder/upcoming/mishras_domination.txt
  forge-gui/res/cardsfolder/upcoming/mishras_onslaught.txt
  forge-gui/res/cardsfolder/upcoming/the_stone_brain.txt
Labels: Upcoming Set

#1852 BRO 10 more 11 NOV
  forge-gui/res/cardsfolder/upcoming/dredging_claw.txt
  forge-gui/res/cardsfolder/upcoming/fallaji_excavation.txt
  forge-gui/res/cardsfolder/upcoming/ravenous_gigamole.txt
  forge-gui/res/cardsfolder/upcoming/raze_to_the_ground.txt
  forge-gui/res/cardsfolder/upcoming/recommission.txt
  forge-gui/res/cardsfolder/upcoming/rescue_retriever.txt
  forge-gui/res/cardsfolder/upcoming/retrieval_agent.txt
  forge-gui/res/cardsfolder/upcoming/roc_hunter.txt
  forge-gui/res/cardsfolder/upcoming/sardian_cliffstomper.txt
  forge-gui/res/cardsfolder/upcoming/sarinth_steelseeker.txt
Labels: Upcoming Set

#1873 Update zephyr_sentinel.txt
  forge-gui/res/cardsfolder/upcoming/zephyr_sentinel.txt
Labels: Card Patch

#1875 Desktop: Improve MouseWheel support in play choice popup
  forge-gui-desktop/src/main/java/forge/gui/MenuScroller.java
  forge-gui-desktop/src/main/java/forge/screens/match/CMatchUI.java
Labels: GUI

#1865 BRO 21 more 11 NOV
  forge-gui/res/cardsfolder/upcoming/hoarding_recluse.txt
  forge-gui/res/cardsfolder/upcoming/moment_of_defiance.txt
  forge-gui/res/cardsfolder/upcoming/penregon_strongbull.txt
  forge-gui/res/cardsfolder/upcoming/scatter_ray.txt
  forge-gui/res/cardsfolder/upcoming/scrapwork_mutt.txt
  forge-gui/res/cardsfolder/upcoming/scrapwork_rager.txt
  forge-gui/res/cardsfolder/upcoming/shoot_down.txt
  forge-gui/res/cardsfolder/upcoming/sibling_rivalry.txt
  forge-gui/res/cardsfolder/upcoming/skyfisher_spider.txt
  forge-gui/res/cardsfolder/upcoming/slagstone_refinery.txt
  forge-gui/res/cardsfolder/upcoming/spectrum_sentinel.txt
  forge-gui/res/cardsfolder/upcoming/stone_retrieval_unit.txt
  forge-gui/res/cardsfolder/upcoming/supply_drop.txt
  forge-gui/res/cardsfolder/upcoming/teething_wurmlet.txt
  forge-gui/res/cardsfolder/upcoming/terror_ballista.txt
  forge-gui/res/cardsfolder/upcoming/third_path_iconoclast.txt
  forge-gui/res/cardsfolder/upcoming/thopter_mechanic.txt
  forge-gui/res/cardsfolder/upcoming/thran_vigil.txt
  forge-gui/res/cardsfolder/upcoming/thraxodemon.txt
  forge-gui/res/cardsfolder/upcoming/tomakul_honor_guard.txt
  forge-gui/res/cardsfolder/upcoming/tomakul_scrapsmith.txt
Labels: Upcoming Set

#1876 UNF Captain Rex Nebula
  forge-gui/res/cardsfolder/upcoming/captain_rex_nebula.txt
Labels: Upcoming Set

#1886 BRO: 13 Nov
  forge-gui/res/cardsfolder/e/ensoul_artifact.txt
  forge-gui/res/cardsfolder/upcoming/lorans_escape.txt
  forge-gui/res/cardsfolder/upcoming/machine_over_matter.txt
  forge-gui/res/cardsfolder/upcoming/mask_of_the_jadecrafter.txt
  forge-gui/res/cardsfolder/upcoming/mightstones_animation.txt
  forge-gui/res/cardsfolder/upcoming/military_discipline.txt
  forge-gui/res/tokenscripts/c_a_food_sac.txt
  forge-gui/res/tokenscripts/c_a_gold_sac.txt
Labels: Upcoming Set, Card Cleanup

#1887 BRO: 12 Nov
  forge-gui/res/cardsfolder/upcoming/symmetry_matrix.txt
  forge-gui/res/cardsfolder/upcoming/take_flight.txt
  forge-gui/res/cardsfolder/upcoming/tawnoss_tinkering.txt
Labels: Upcoming Set

#1888 J22: Isu the Abominable
  forge-gui/res/cardsfolder/c/crypt_lurker.txt
  forge-gui/res/cardsfolder/upcoming/isu_the_abominable.txt
Labels: Upcoming Set

#1889 Fix Ochre Jelly
  forge-game/src/main/java/forge/game/trigger/WrappedAbility.java
  forge-gui/res/cardsfolder/o/ochre_jelly.txt
  forge-gui/res/cardsfolder/p/preyseizer_dragon.txt
  forge-gui/res/cardsfolder/rebalanced/a-ochre_jelly.txt
  forge-gui/res/cardsfolder/upcoming/thopter_mechanic.txt
Labels: Card Patch

#1885 BRO: Hostile Negotiations and support
  forge-game/src/main/java/forge/game/ability/effects/TwoPilesEffect.java
  forge-gui/res/cardsfolder/upcoming/hostile_negotiations.txt
Labels: Upcoming Set, Game Mechanics

#1892 Fix canFaceDownBeShownTo
  forge-ai/src/main/java/forge/ai/AiBlockController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-gui/res/cardsfolder/a/akoum_flameseeker.txt
  forge-gui/res/cardsfolder/c/captains_maneuver.txt
Labels: GUI

#1882 BRO Last 6 Cards + 3 fix
  forge-gui/res/cardsfolder/upcoming/depth_charge_colossus.txt
  forge-gui/res/cardsfolder/upcoming/energy_refractor.txt
  forge-gui/res/cardsfolder/upcoming/meticulous_excavation.txt
  forge-gui/res/cardsfolder/upcoming/the_fall_of_kroog.txt
  forge-gui/res/cardsfolder/upcoming/tower_worker.txt
  forge-gui/res/cardsfolder/upcoming/transmogrant_altar.txt
  forge-gui/res/cardsfolder/upcoming/trench_stalker.txt
  forge-gui/res/cardsfolder/upcoming/visions_of_phyrexia.txt
  forge-gui/res/quest/commanderprecons/Urza's Iron Alliance [BRC] [2022].dck
Labels: Upcoming Set

#1896 Some card fixes
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-gui/res/cardsfolder/a/angel_of_destiny.txt
  forge-gui/res/cardsfolder/b/blazing_blade_askari.txt
  forge-gui/res/cardsfolder/c/citadel_siege.txt
  forge-gui/res/cardsfolder/f/frontier_siege.txt
  forge-gui/res/cardsfolder/m/mirrodin_besieged.txt
  forge-gui/res/cardsfolder/m/monastery_siege.txt
  forge-gui/res/cardsfolder/o/outpost_siege.txt
  forge-gui/res/cardsfolder/p/palace_siege.txt
  forge-gui/res/cardsfolder/r/raging_spirit.txt
  forge-gui/res/cardsfolder/t/teferis_time_twist.txt
  forge-gui/res/cardsfolder/upcoming/blanchwood_prowler.txt
  forge-gui/res/cardsfolder/upcoming/fallaji_archeologist.txt
  forge-gui/res/cardsfolder/upcoming/gwenna_eyes_of_gaea.txt
  forge-gui/res/cardsfolder/upcoming/ravenous_gigamole.txt
  forge-gui/res/cardsfolder/upcoming/surge_engine.txt
  forge-gui/res/cardsfolder/upcoming/tawnoss_tinkering.txt
Labels: Card Cleanup, Card Patch

#1900 Rebalance: Niambi, Beloved Protector
  forge-gui/res/cardsfolder/upcoming/niambi_beloved_protector.txt
Labels: Card Cleanup, Rules/Oracle Changes

#1905 Fix being able to pay mana for Hogaak
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/cost/CostPayment.java
  forge-game/src/main/java/forge/game/mana/ManaPool.java
  forge-gui/res/cardsfolder/a/ancestral_katana.txt
  forge-gui/res/cardsfolder/a/anointer_of_valor.txt
  forge-gui/res/cardsfolder/b/bad_moon.txt
  forge-gui/res/cardsfolder/c/crusade.txt
  forge-gui/res/cardsfolder/c/cycle_of_life.txt
  forge-gui/res/cardsfolder/h/hogaak_arisen_necropolis.txt
  forge-gui/res/cardsfolder/i/impact_resonance.txt
  forge-gui/res/cardsfolder/i/imperiosaur.txt
  forge-gui/res/cardsfolder/j/jugan_defends_the_temple_remnant_of_the_rising_star.txt
  forge-gui/res/cardsfolder/k/karma.txt
  forge-gui/res/cardsfolder/m/meekstone.txt
  forge-gui/res/cardsfolder/s/sawtooth_ogre.txt
  forge-gui/res/cardsfolder/s/shirei_shizos_caretaker.txt
  forge-gui/res/cardsfolder/s/smoke.txt
  forge-gui/res/cardsfolder/s/spell_queller.txt
  forge-gui/res/cardsfolder/t/teferis_veil.txt
  forge-gui/res/cardsfolder/t/tolarian_entrancer.txt
  forge-gui/res/cardsfolder/w/wall_of_dust.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputPayMana.java
  forge-gui/src/main/java/forge/player/TargetSelection.java
Labels: Card Cleanup, Card Patch

#1917 Bestow cleanup
  forge-gui/res/cardsfolder/f/flitterstep_eidolon.txt
  forge-gui/res/cardsfolder/m/mogiss_warhound.txt
  forge-gui/res/cardsfolder/s/spirespine.txt
Labels: Card Patch

#1907 UNF: Some die-rolling updates
  forge-game/src/main/java/forge/game/ability/effects/RollDiceEffect.java
  forge-gui/res/cardsfolder/upcoming/atomwheel_acrobats.txt
  forge-gui/res/cardsfolder/upcoming/attempted_murder.txt
  forge-gui/res/cardsfolder/upcoming/celebr_8000.txt
  forge-gui/res/cardsfolder/upcoming/circuits_act.txt
  forge-gui/res/cardsfolder/upcoming/clown_car.txt
  forge-gui/res/cardsfolder/upcoming/monoxa_midway_manager.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Game Mechanics

#1925 3 fixes
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseGenericEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DiscardEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SacrificeEffect.java
  forge-gui/res/cardsfolder/h/hallow.txt
  forge-gui/res/cardsfolder/s/shieldmage_elder.txt
  forge-gui/res/cardsfolder/v/vexing_shusher.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
  forge-gui/src/main/java/forge/player/HumanPlay.java
  forge-gui/src/main/java/forge/player/TargetSelection.java
Labels: bug, AI

#1913 UNF: Comet, Stellar Pup and support
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseEntityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DamageDealEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DamagePreventEffect.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityNumLoyaltyAct.java
  forge-gui-desktop/src/main/java/forge/screens/match/CMatchUI.java
  forge-gui/res/cardsfolder/f/faerie_dragon.txt
  forge-gui/res/cardsfolder/o/oath_of_teferi.txt
  forge-gui/res/cardsfolder/s/spark_fiend.txt
  forge-gui/res/cardsfolder/t/the_chain_veil.txt
  forge-gui/res/cardsfolder/u/urza_assembles_the_titans.txt
  forge-gui/res/cardsfolder/upcoming/comet_stellar_pup.txt
  forge-gui/res/cardsfolder/upcoming/urza_lord_protector_urza_planeswalker.txt
  forge-gui/res/cardsfolder/w/whimsy.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/res/lists/TypeLists.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Game Mechanics

#1940 Misc cleanup
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/cost/CostMill.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantBeCast.java
  forge-game/src/main/java/forge/game/trigger/TriggerChangesZoneAll.java
  forge-game/src/main/java/forge/game/trigger/TriggerDamageDone.java
  forge-game/src/main/java/forge/game/trigger/TriggerDamageDoneOnce.java
  forge-gui/res/cardsfolder/a/abzan_beastmaster.txt
  forge-gui/res/cardsfolder/a/aggression.txt
  forge-gui/res/cardsfolder/a/apathy.txt
  forge-gui/res/cardsfolder/b/brand_of_ill_omen.txt
  forge-gui/res/cardsfolder/c/curse_artifact.txt
  forge-gui/res/cardsfolder/c/cursed_land.txt
  forge-gui/res/cardsfolder/d/dance_of_the_dead.txt
  forge-gui/res/cardsfolder/e/el_hajjaj.txt
  forge-gui/res/cardsfolder/e/elder_gargaroth.txt
  forge-gui/res/cardsfolder/e/erosion.txt
  forge-gui/res/cardsfolder/e/errant_minion.txt
  forge-gui/res/cardsfolder/e/essence_flare.txt
  forge-gui/res/cardsfolder/f/feedback.txt
  forge-gui/res/cardsfolder/f/festering_wound.txt
  forge-gui/res/cardsfolder/f/frostpyre_arcanist.txt
  forge-gui/res/cardsfolder/i/insubordination.txt
  forge-gui/res/cardsfolder/k/kopala_warden_of_waves.txt
  forge-gui/res/cardsfolder/l/leeching_licid.txt
  forge-gui/res/cardsfolder/l/lingering_death.txt
  forge-gui/res/cardsfolder/m/maddening_wind.txt
  forge-gui/res/cardsfolder/m/merseine.txt
  forge-gui/res/cardsfolder/m/mind_whip.txt
  forge-gui/res/cardsfolder/n/numbing_dose.txt
  forge-gui/res/cardsfolder/o/one_thousand_lashes.txt
  forge-gui/res/cardsfolder/p/paralyze.txt
  forge-gui/res/cardsfolder/p/parasitic_bond.txt
  forge-gui/res/cardsfolder/p/paroxysm.txt
  forge-gui/res/cardsfolder/p/power_leak.txt
  forge-gui/res/cardsfolder/p/power_taint.txt
  forge-gui/res/cardsfolder/r/righteous_authority.txt
  forge-gui/res/cardsfolder/s/soul_bleed.txt
  forge-gui/res/cardsfolder/s/soul_tithe.txt
  forge-gui/res/cardsfolder/s/squash.txt
  forge-gui/res/cardsfolder/s/stab_wound.txt
  forge-gui/res/cardsfolder/t/takklemaggot.txt
  forge-gui/res/cardsfolder/t/tezzeret_betrayer_of_flesh.txt
  forge-gui/res/cardsfolder/t/triumph_of_cruelty.txt
  forge-gui/res/cardsfolder/t/triumph_of_ferocity.txt
  forge-gui/res/cardsfolder/u/unnatural_hunger.txt
  forge-gui/res/cardsfolder/u/unstable_mutation.txt
  forge-gui/res/cardsfolder/v/venarian_gold.txt
  forge-gui/res/cardsfolder/w/wanderlust.txt
  forge-gui/res/cardsfolder/w/warp_artifact.txt
Labels: Card Cleanup, Card Patch

#1943 fix typo from PR 1809
  forge-gui/res/cardsfolder/upcoming/keeper_of_the_cadence.txt
Labels: Card Cleanup

#1906 UNF: Tickets initial implementation
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui-desktop/src/main/java/forge/screens/match/views/VField.java
  forge-gui-desktop/src/main/java/forge/toolbox/CardFaceSymbols.java
  forge-gui-desktop/src/main/java/forge/toolbox/FSkin.java
  forge-gui-mobile/src/forge/assets/FSkinImage.java
  forge-gui-mobile/src/forge/assets/TextRenderer.java
  forge-gui-mobile/src/forge/card/CardFaceSymbols.java
  forge-gui-mobile/src/forge/screens/match/views/VPlayerPanel.java
  forge-gui/res/cardsfolder/upcoming/blorbian_buddy.txt
  forge-gui/res/cardsfolder/upcoming/ticket_turbotubes.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/skins/default/sprite_icons.png
  forge-gui/src/main/java/forge/localinstance/skin/FSkinProp.java
Labels: enhancement

#1902 UNF: space_beleren.txt and support
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseSectorEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/player/PlayerController.java
  forge-game/src/main/java/forge/trackable/TrackableProperty.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/PlayerControllerForTests.java
  forge-gui/res/cardsfolder/a/alluring_scent.txt
  forge-gui/res/cardsfolder/upcoming/space_beleren.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/gui/card/CardDetailUtil.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Game Mechanics

#1949 J22: 21 Nov
  forge-gui/res/cardsfolder/d/deathbringer_thoctar.txt
  forge-gui/res/cardsfolder/r/rumbling_slum_avatar.txt
  forge-gui/res/cardsfolder/upcoming/conductor_of_cacophony.txt
  forge-gui/res/cardsfolder/upcoming/dutiful_replicator.txt
  forge-gui/res/cardsfolder/upcoming/hold_for_questioning.txt
Labels: Upcoming Set, Card Cleanup

#1950 J22 edition update
  forge-gui/res/editions/Jumpstart 2022.txt
Labels: Upcoming Set

#1951 Clean stuff
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DamageDealEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DamagePreventEffectBase.java
  forge-game/src/main/java/forge/game/ability/effects/DelayedTriggerEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/ability/effects/FogEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RegenerateBaseEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SkipPhaseEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SkipTurnEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityNumLoyaltyAct.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-game/src/main/java/forge/game/zone/PlayerZoneBattlefield.java
  forge-gui/res/cardsfolder/a/academy_loremaster.txt
  forge-gui/res/cardsfolder/a/awakening.txt
  forge-gui/res/cardsfolder/b/barbed_shocker.txt
  forge-gui/res/cardsfolder/b/bartered_cow.txt
  forge-gui/res/cardsfolder/b/benthicore.txt
  forge-gui/res/cardsfolder/b/borborygmos_enraged.txt
  forge-gui/res/cardsfolder/c/crafty_cutpurse.txt
  forge-gui/res/cardsfolder/d/debt_of_loyalty.txt
  forge-gui/res/cardsfolder/d/deserters_quarters.txt
  forge-gui/res/cardsfolder/d/dragonborn_champion.txt
  forge-gui/res/cardsfolder/e/euroakus.txt
  forge-gui/res/cardsfolder/g/gate_to_the_aether.txt
  forge-gui/res/cardsfolder/g/genesis_chamber.txt
  forge-gui/res/cardsfolder/i/irregular_cohort.txt
  forge-gui/res/cardsfolder/j/jolrael_mwonvuli_recluse.txt
  forge-gui/res/cardsfolder/j/josu_vess_lich_knight.txt
  forge-gui/res/cardsfolder/m/militant_angel.txt
  forge-gui/res/cardsfolder/o/obzedat_ghost_council.txt
  forge-gui/res/cardsfolder/o/old_man_of_the_sea.txt
  forge-gui/res/cardsfolder/p/prophetic_titan.txt
  forge-gui/res/cardsfolder/p/pure_reflection.txt
  forge-gui/res/cardsfolder/r/regna_the_redeemer.txt
  forge-gui/res/cardsfolder/t/thelonite_hermit.txt
  forge-gui/res/cardsfolder/w/watchful_giant.txt
  forge-gui/res/cardsfolder/w/wild_evocation.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectManyBase.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Card Cleanup

#1945 J22 10 Cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/infernal_idol.txt
  forge-gui/res/cardsfolder/upcoming/ingenious_leonin.txt
  forge-gui/res/cardsfolder/upcoming/magnanimous_magistrate.txt
  forge-gui/res/cardsfolder/upcoming/mild_mannered_librarian.txt
  forge-gui/res/cardsfolder/upcoming/primeval_herald.txt
  forge-gui/res/cardsfolder/upcoming/read_the_soul.txt
  forge-gui/res/cardsfolder/upcoming/rodolf_duskbringer.txt
  forge-gui/res/cardsfolder/upcoming/runadi_behemoth_caller.txt
  forge-gui/res/cardsfolder/upcoming/towering_gibbon.txt
  forge-gui/res/cardsfolder/upcoming/zask_skittering_swarmlord.txt
Labels: Upcoming Set

#1954 J22: Nov 22
  forge-gui/res/cardsfolder/e/elkin_bottle.txt
  forge-gui/res/cardsfolder/upcoming/alandra_sky_dreamer.txt
  forge-gui/res/cardsfolder/upcoming/coalborn_entity.txt
  forge-gui/res/cardsfolder/upcoming/disciple_of_perdition.txt
  forge-gui/res/cardsfolder/upcoming/ingenious_leonin.txt
  forge-gui/res/cardsfolder/upcoming/rodolf_duskbringer.txt
  forge-gui/res/cardsfolder/upcoming/zask_skittering_swarmlord.txt
Labels: Upcoming Set

#1946 J22: Creeping Bloodsucker and support
  forge-game/src/main/java/forge/game/GameAction.java
  forge-gui/res/cardsfolder/upcoming/creeping_bloodsucker.txt
Labels: Upcoming Set, Game Mechanics

#1958 J22: Kenessos, Priest of Thassa and a little support
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-gui/res/cardsfolder/upcoming/kenessos_priest_of_thassa.txt
Labels: Upcoming Set

#1964 Update nalfeshnee.txt
  forge-gui/res/cardsfolder/n/nalfeshnee.txt
Labels: Card Patch

#1959 J22 9 cards
  forge-gui/res/cardsfolder/upcoming/angelic_cub.txt
  forge-gui/res/cardsfolder/upcoming/auntie_blyte_bad_influence.txt
  forge-gui/res/cardsfolder/upcoming/benevolent_hydra.txt
  forge-gui/res/cardsfolder/upcoming/biblioplex_kraken.txt
  forge-gui/res/cardsfolder/upcoming/instruments_of_war.txt
  forge-gui/res/cardsfolder/upcoming/merfolk_pupil.txt
  forge-gui/res/cardsfolder/upcoming/rampaging_growth.txt
  forge-gui/res/cardsfolder/upcoming/spectral_hunt_caller.txt
  forge-gui/res/cardsfolder/upcoming/suspicious_shambler.txt
Labels: Upcoming Set

#1968 J22 edition update
  forge-gui-desktop/src/test/java/forge/card/CardDbCardMockTestCase.java
  forge-gui/res/editions/Jumpstart 2022.txt
Labels: Upcoming Set

#1969 A couple of J22 fixes
  forge-gui/res/cardsfolder/upcoming/soul_read.txt
  forge-gui/res/tokenscripts/zeppelin.txt
Labels: Upcoming Set, Card Cleanup, Card Patch

#1971 J22 edition add artists
  forge-gui/res/editions/Jumpstart 2022.txt
Labels: Upcoming Set

#1974 J22 Small Cleanup
  forge-gui/res/cardsfolder/upcoming/auntie_blyte_bad_influence.txt
Labels: Card Cleanup

#1978 Clean up
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-game/src/test/java/forge/game/mana/ManaCostBeingPaidTest.java
  forge-gui-desktop/src/test/java/forge/ai/simulation/SimulationTest.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/comprehensiverules/ComprehensiveRulesSection103.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/comprehensiverules/ComprehensiveRulesSection104.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/card/CardSpecification.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/card/CardSpecificationBuilder.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/gamestate/GameStateSpecification.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/gamestate/GameStateSpecificationBuilder.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/player/PlayerSpecification.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/player/PlayerSpecificationBuilder.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/playeractions/ActionPreCondition.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/playeractions/ActivateAbilityAction.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/playeractions/BasePlayerAction.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/playeractions/DeclareAttackersAction.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/playeractions/DeclareBlockersAction.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/playeractions/PlayerActions.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/playeractions/testactions/AssertAction.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/playeractions/testactions/CardAssertAction.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/playeractions/testactions/EndTestAction.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/playeractions/testactions/PlayerAssertAction.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/playeractions/testactions/TestAction.java
  forge-gui-desktop/src/test/java/forge/item/DeckHintsTest.java
  forge-gui/res/cardsfolder/g/grafted_exoskeleton.txt
  forge-gui/res/cardsfolder/g/grafted_wargear.txt
  forge-gui/res/cardsfolder/k/krovikan_vampire.txt
  forge-gui/res/cardsfolder/s/seraph.txt
  forge-gui/res/cardsfolder/s/stitchers_graft.txt
Labels: Card Cleanup

#1973 Phasing: store under which control it phased out
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ControlGainEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/phase/Untap.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-gui/res/cardsfolder/e/ertais_familiar.txt
  forge-gui/res/cardsfolder/m/magus_of_the_unseen.txt
  forge-gui/res/cardsfolder/r/ray_of_command.txt
  forge-gui/res/cardsfolder/t/teferi_timeless_voyager.txt
  forge-gui/res/cardsfolder/t/teferis_imp.txt
  forge-gui/res/cardsfolder/t/the_phasing_of_zhalfir.txt
  forge-gui/res/cardsfolder/t/time_and_tide.txt
  forge-gui/res/cardsfolder/upcoming/disciple_of_caelus_nin.txt
Labels: Game Mechanics, Card Patch, Rules compliance

#1961 J22: 23 Nov (more)
  forge-gui/res/cardsfolder/upcoming/giant_ladybug.txt
  forge-gui/res/cardsfolder/upcoming/goblin_researcher.txt
  forge-gui/res/cardsfolder/upcoming/skullslither_worm.txt
Labels: Upcoming Set

#1979 Fix zone choosing when searching
  forge-ai/src/main/java/forge/ai/ability/AnimateAi.java
  forge-ai/src/main/java/forge/ai/ability/ChooseSourceAi.java
  forge-ai/src/main/java/forge/ai/ability/CountersRemoveAi.java
  forge-ai/src/main/java/forge/ai/ability/EffectAi.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/phase/Untap.java
  forge-gui/res/cardsfolder/a/ajanis_aid.txt
  forge-gui/res/cardsfolder/a/angraths_fury.txt
  forge-gui/res/cardsfolder/a/arachnus_spinner.txt
  forge-gui/res/cardsfolder/a/ashioks_forerunner.txt
  forge-gui/res/cardsfolder/b/basris_aegis.txt
  forge-gui/res/cardsfolder/b/boonweaver_giant.txt
  forge-gui/res/cardsfolder/c/chandras_firemaw.txt
  forge-gui/res/cardsfolder/c/chandras_flame_wave.txt
  forge-gui/res/cardsfolder/c/chandras_outburst.txt
  forge-gui/res/cardsfolder/d/dark_supplicant.txt
  forge-gui/res/cardsfolder/d/domris_nodorog.txt
  forge-gui/res/cardsfolder/d/dovins_dismissal.txt
  forge-gui/res/cardsfolder/e/elspeth_undaunted_hero.txt
  forge-gui/res/cardsfolder/e/elspeths_devotee.txt
  forge-gui/res/cardsfolder/e/ethereal_elk.txt
  forge-gui/res/cardsfolder/f/finale_of_devastation.txt
  forge-gui/res/cardsfolder/g/garruks_warsteed.txt
  forge-gui/res/cardsfolder/g/gate_to_the_afterlife.txt
  forge-gui/res/cardsfolder/g/gideons_battle_cry.txt
  forge-gui/res/cardsfolder/g/gideons_resolve.txt
  forge-gui/res/cardsfolder/g/goldmane_griffin.txt
  forge-gui/res/cardsfolder/g/grand_master_of_flowers.txt
  forge-gui/res/cardsfolder/g/grasping_current.txt
  forge-gui/res/cardsfolder/g/ground_pounder.txt
  forge-gui/res/cardsfolder/j/jaces_ruse.txt
  forge-gui/res/cardsfolder/l/liberating_combustion.txt
  forge-gui/res/cardsfolder/l/lilianas_influence.txt
  forge-gui/res/cardsfolder/l/lilianas_scorn.txt
  forge-gui/res/cardsfolder/m/mishra_artificer_prodigy.txt
  forge-gui/res/cardsfolder/n/niambi_faithful_healer.txt
  forge-gui/res/cardsfolder/o/okos_hospitality.txt
  forge-gui/res/cardsfolder/r/rals_dispersal.txt
  forge-gui/res/cardsfolder/r/rhythmic_water_vortex.txt
  forge-gui/res/cardsfolder/r/rowans_stalwarts.txt
  forge-gui/res/cardsfolder/r/runed_crown.txt
  forge-gui/res/cardsfolder/r/runeforge_champion.txt
  forge-gui/res/cardsfolder/s/sanctum_of_all.txt
  forge-gui/res/cardsfolder/s/sorins_guide.txt
  forge-gui/res/cardsfolder/s/sun_blessed_mount.txt
  forge-gui/res/cardsfolder/t/teferis_wavecaster.txt
  forge-gui/res/cardsfolder/t/tezzerets_betrayal.txt
  forge-gui/res/cardsfolder/v/visage_of_bolas.txt
  forge-gui/res/cardsfolder/v/vraskas_scorn.txt
  forge-gui/res/cardsfolder/v/vraskas_stoneglare.txt
  forge-gui/res/cardsfolder/y/yanlings_harbinger.txt
Labels: Game Mechanics, AI, Card Patch, Rules compliance

#1990 Update formats for J22
  forge-gui/res/formats/Archived/Legacy/2022-12-02.txt
  forge-gui/res/formats/Archived/Vintage/2022-12-02.txt
  forge-gui/res/formats/Sanctioned/Legacy.txt
  forge-gui/res/formats/Sanctioned/Vintage.txt
Labels: Format Changes
