Repository Card-Forge/forge, pull requests merged in 2022-09, with the labels that each got.

#1432 DMU 8 Cards
  forge-gui/res/cardsfolder/upcoming/combat_research.txt
  forge-gui/res/cardsfolder/upcoming/jodahs_codex.txt
  forge-gui/res/cardsfolder/upcoming/mossbeard_ancient.txt
  forge-gui/res/cardsfolder/upcoming/relic_of_legends.txt
  forge-gui/res/cardsfolder/upcoming/runic_shot.txt
  forge-gui/res/cardsfolder/upcoming/salvaged_manaworker.txt
  forge-gui/res/cardsfolder/upcoming/the_weatherseed_treaty.txt
  forge-gui/res/cardsfolder/upcoming/urza_assembles_the_titans.txt
Labels: Upcoming Set

#1444 Typos
  forge-gui/res/cardsfolder/d/dega_disciple.txt
  forge-gui/res/cardsfolder/e/explore_the_underdark.txt
Labels: Card Cleanup

#1448 Card fixes
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-gui/res/cardsfolder/m/mindbreak_trap.txt
  forge-gui/res/cardsfolder/upcoming/ertais_scorn.txt
  forge-gui/res/cardsfolder/upcoming/tetsuo_imperial_champion.txt
  forge-gui/res/cardsfolder/w/walking_dream.txt
Labels: Card Patch

#1433 DMU 9 Cards
  forge-gui/res/cardsfolder/upcoming/choking_miasma.txt
  forge-gui/res/cardsfolder/upcoming/floriferous_vinewall.txt
  forge-gui/res/cardsfolder/upcoming/flowstone_infusion.txt
  forge-gui/res/cardsfolder/upcoming/flowstone_kavu.txt
  forge-gui/res/cardsfolder/upcoming/frostfist_strider.txt
  forge-gui/res/cardsfolder/upcoming/furious_bellow.txt
  forge-gui/res/cardsfolder/upcoming/ghitu_amplifier.txt
  forge-gui/res/cardsfolder/upcoming/gibbering_barricade.txt
  forge-gui/res/cardsfolder/upcoming/llanowar_stalker.txt
Labels: Upcoming Set

#1453 Update P22 edition
  forge-gui/res/editions/Judge Gift Cards 2022.txt
Labels: Upcoming Set

#1454 Tidy up some cards
  forge-gui/res/cardsfolder/b/boggart_sprite_chaser.txt
  forge-gui/res/cardsfolder/t/taste_of_paradise.txt
  forge-gui/res/cardsfolder/upcoming/battlewing_mystic.txt
Labels: Card Cleanup

#1461 baru_wurmspeaker.txt fix
  forge-gui/res/cardsfolder/upcoming/baru_wurmspeaker.txt
Labels: Card Patch

#1456 DMU 14 Cards
  forge-gui/res/cardsfolder/upcoming/In_thrall_to_the_pit.txt
  forge-gui/res/cardsfolder/upcoming/heroic_charge.txt
  forge-gui/res/cardsfolder/upcoming/hurloon_battle_hymn.txt
  forge-gui/res/cardsfolder/upcoming/knight_of_dawns_light.txt
  forge-gui/res/cardsfolder/upcoming/phyrexian_espionage.txt
  forge-gui/res/cardsfolder/upcoming/phyrexian_missionary.txt
  forge-gui/res/cardsfolder/upcoming/phyrexian_vivisector.txt
  forge-gui/res/cardsfolder/upcoming/phyrexian_warhorse.txt
  forge-gui/res/cardsfolder/upcoming/pilfer.txt
  forge-gui/res/cardsfolder/upcoming/pixie_illusionist.txt
  forge-gui/res/cardsfolder/upcoming/prayer_of_binding.txt
  forge-gui/res/cardsfolder/upcoming/protect_the_negotiators.txt
  forge-gui/res/cardsfolder/upcoming/radha_coalition_warlord.txt
  forge-gui/res/cardsfolder/upcoming/radhas_firebrand.txt
Labels: Upcoming Set

#1460 HBG: Jon Irenicus, the Exile
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/k/kitsune_loreweaver.txt
  forge-gui/res/cardsfolder/p/promise_of_power.txt
  forge-gui/res/cardsfolder/s/sea_gate_restoration_sea_gate_reborn.txt
  forge-gui/res/cardsfolder/upcoming/jon_irenicus_the_exile.txt
Labels: Card Cleanup

#1450 silver_scrutiny.txt w/ support in StaticAbilityCastWithFlash
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCastWithFlash.java
  forge-gui/res/cardsfolder/t/timely_ward.txt
  forge-gui/res/cardsfolder/upcoming/silver_scrutiny.txt
Labels: Upcoming Set, Game Mechanics

#1466 DMU 10 Cards
  forge-gui/res/cardsfolder/upcoming/raff_weatherlight_stalwart.txt
  forge-gui/res/cardsfolder/upcoming/ratadrabik_of_urborg.txt
  forge-gui/res/cardsfolder/upcoming/resolute_reinforcements.txt
  forge-gui/res/cardsfolder/upcoming/rulik_mons_warren_chief.txt
  forge-gui/res/cardsfolder/upcoming/samite_herbalist.txt
  forge-gui/res/cardsfolder/upcoming/sengir_connoisseur.txt
  forge-gui/res/cardsfolder/upcoming/shore_up.txt
  forge-gui/res/cardsfolder/upcoming/slimefoots_survey.txt
  forge-gui/res/cardsfolder/upcoming/smash_to_dust.txt
  forge-gui/res/cardsfolder/upcoming/soaring_drake.txt
Labels: Upcoming Set

#1463 DMU 10 Cards + 3 card fixes
  forge-gui/res/cardsfolder/upcoming/goblin_picker.txt
  forge-gui/res/cardsfolder/upcoming/haunting_figment.txt
  forge-gui/res/cardsfolder/upcoming/inscribed_tablet.txt
  forge-gui/res/cardsfolder/upcoming/jayas_firenado.txt
  forge-gui/res/cardsfolder/upcoming/join_forces.txt
  forge-gui/res/cardsfolder/upcoming/juniper_order_rootweaver.txt
  forge-gui/res/cardsfolder/upcoming/karns_sylex.txt
  forge-gui/res/cardsfolder/upcoming/nael_avizoa_aeronaut.txt
  forge-gui/res/cardsfolder/upcoming/najal_the_storm_runner.txt
  forge-gui/res/cardsfolder/upcoming/nishoba_brawler.txt
  forge-gui/res/cardsfolder/upcoming/queen_allenal_of_ruadach.txt
  forge-gui/res/cardsfolder/upcoming/rith_liberated_primeval.txt
  forge-gui/res/cardsfolder/upcoming/rosnakht_heir_of_rohgahh.txt
Labels: Upcoming Set

#1440 HBG: Boons
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-game/src/main/java/forge/trackable/TrackableProperty.java
  forge-gui/res/cardsfolder/upcoming/arcane_archery.txt
  forge-gui/res/cardsfolder/upcoming/dragonborn_immolator.txt
  forge-gui/res/cardsfolder/upcoming/flaming_fist_duskguard.txt
  forge-gui/src/main/java/forge/gui/card/CardDetailUtil.java
Labels: Upcoming Set

#1437 HBG: Gut, Fanatical Priestess and support (also Rasaad)
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-gui/res/cardsfolder/upcoming/gut_fanatical_priestess.txt
  forge-gui/res/cardsfolder/upcoming/rasaad_monk_of_selune.txt
Labels: Game Mechanics

#1469 Small HBG fixes
  forge-gui/res/cardsfolder/upcoming/karlach_raging_tiefling.txt
  forge-gui/res/editions/Alchemy Horizons Baldur's Gate.txt
Labels: Card Cleanup

#1468 DMU 8 Cards + 2 Fix
  forge-gui/res/cardsfolder/upcoming/braidss_frightful_return.txt
  forge-gui/res/cardsfolder/upcoming/scout_the_wilderness.txt
  forge-gui/res/cardsfolder/upcoming/shadow_prophecy.txt
  forge-gui/res/cardsfolder/upcoming/shalais_acolyte.txt
  forge-gui/res/cardsfolder/upcoming/shanna_purifying_blade.txt
  forge-gui/res/cardsfolder/upcoming/sheoldreds_restoration.txt
  forge-gui/res/cardsfolder/upcoming/shield_wall_sentinel.txt
  forge-gui/res/cardsfolder/upcoming/soul_of_windgrace.txt
  forge-gui/res/cardsfolder/upcoming/splatter_goblin.txt
  forge-gui/res/cardsfolder/upcoming/vodalian_mindsinger.txt
Labels: Upcoming Set

#1479 Improved Domain handling
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-gui/res/cardsfolder/a/aven_trailblazer.txt
  forge-gui/res/cardsfolder/b/brood_of_cockroaches.txt
  forge-gui/res/cardsfolder/e/exotic_curse.txt
  forge-gui/res/cardsfolder/h/hiveheart_shaman.txt
  forge-gui/res/cardsfolder/k/kavu_scout.txt
  forge-gui/res/cardsfolder/m/magnigoth_treefolk.txt
  forge-gui/res/cardsfolder/m/manaforce_mace.txt
  forge-gui/res/cardsfolder/m/matca_rioters.txt
  forge-gui/res/cardsfolder/n/notorious_throng.txt
  forge-gui/res/cardsfolder/p/power_armor.txt
  forge-gui/res/cardsfolder/r/ravenous_trap.txt
  forge-gui/res/cardsfolder/s/strength_of_unity.txt
  forge-gui/res/cardsfolder/t/thassas_intervention.txt
  forge-gui/res/cardsfolder/upcoming/artillery_blast.txt
  forge-gui/res/cardsfolder/upcoming/bortuk_bonerattle.txt
  forge-gui/res/cardsfolder/upcoming/drag_to_the_bottom.txt
  forge-gui/res/cardsfolder/upcoming/furious_bellow.txt
  forge-gui/res/cardsfolder/upcoming/jodahs_codex.txt
  forge-gui/res/cardsfolder/upcoming/leyline_binding.txt
  forge-gui/res/cardsfolder/upcoming/llanowar_greenwidow.txt
  forge-gui/res/cardsfolder/upcoming/merias_outrider.txt
  forge-gui/res/cardsfolder/upcoming/nael_avizoa_aeronaut.txt
  forge-gui/res/cardsfolder/upcoming/nishoba_brawler.txt
  forge-gui/res/cardsfolder/upcoming/radha_coalition_warlord.txt
  forge-gui/res/cardsfolder/upcoming/radhas_firebrand.txt
  forge-gui/res/cardsfolder/upcoming/slimefoots_survey.txt
  forge-gui/res/cardsfolder/upcoming/the_lady_of_otaria.txt
  forge-gui/res/cardsfolder/upcoming/the_mana_rig.txt
  forge-gui/res/cardsfolder/upcoming/the_weatherseed_treaty.txt
  forge-gui/res/cardsfolder/v/vorinclex_voice_of_hunger.txt
  forge-gui/res/cardsfolder/w/wandering_goblins.txt
  forge-gui/res/cardsfolder/w/wars_toll.txt
  forge-gui/res/cardsfolder/w/wayfaring_giant.txt
Labels: AI, Card Cleanup, Card Patch

#1481 DMU edition small name change fix
  forge-gui/res/editions/Dominaria United.txt
Labels: Card Cleanup

#1482 allow for X=0 Ob Nix casualty corner case
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
Labels: Game Mechanics, Rules compliance

#1474 Fix Monstrous War-Leech
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/monstrous_war_leech.txt
Labels: bug, Game Mechanics, Card Patch

#1490 Update 40k edition
  forge-gui/res/editions/Warhammer 40,000.txt
Labels: Upcoming Set

#1485 3 DMU cards from squee
  forge-gui/res/cardsfolder/upcoming/haughty_djinn.txt
  forge-gui/res/cardsfolder/upcoming/heros_heirloom.txt
  forge-gui/res/cardsfolder/upcoming/hurler_cyclops.txt
Labels: Upcoming Set

#1486 HBG: 6 Sep
  forge-gui/res/cardsfolder/upcoming/klement_novice_acoltye.txt
  forge-gui/res/cardsfolder/upcoming/wyll_pact_bound_duelist.txt
  forge-gui/res/cardsfolder/w/war_falcon.txt
Labels: Upcoming Set

#1493 40K: three Legendaries
  forge-gui/res/cardsfolder/upcoming/in_thrall_to_the_pit.txt
  forge-gui/res/cardsfolder/upcoming/inquisitor_greyfax.txt
  forge-gui/res/cardsfolder/upcoming/szarekh_the_silent_king.txt
  forge-gui/res/cardsfolder/upcoming/the_swarmlord.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set

#1491 Refactor HighestCMC
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-gui/res/cardsfolder/a/accelerated_mutation.txt
  forge-gui/res/cardsfolder/a/argent_sphinx.txt
  forge-gui/res/cardsfolder/b/boon_of_boseiju.txt
  forge-gui/res/cardsfolder/c/cabal_conditioning.txt
  forge-gui/res/cardsfolder/c/citystalker_connoisseur.txt
  forge-gui/res/cardsfolder/c/cloudkill.txt
  forge-gui/res/cardsfolder/d/davriel_soul_broker.txt
  forge-gui/res/cardsfolder/d/deaths_oasis.txt
  forge-gui/res/cardsfolder/d/dispersal_shield.txt
  forge-gui/res/cardsfolder/d/dodgy_jalopy.txt
  forge-gui/res/cardsfolder/h/heretics_punishment.txt
  forge-gui/res/cardsfolder/i/imposing_grandeur.txt
  forge-gui/res/cardsfolder/i/in_search_of_greatness.txt
  forge-gui/res/cardsfolder/j/juxtapose.txt
  forge-gui/res/cardsfolder/m/majestic_genesis.txt
  forge-gui/res/cardsfolder/m/mission_briefing.txt
  forge-gui/res/cardsfolder/m/muzzio_visionary_architect.txt
  forge-gui/res/cardsfolder/o/one_with_the_machine.txt
  forge-gui/res/cardsfolder/r/reward_the_faithful.txt
  forge-gui/res/cardsfolder/r/riveteers_charm.txt
  forge-gui/res/cardsfolder/r/rush_of_knowledge.txt
  forge-gui/res/cardsfolder/s/saltskitter.txt
  forge-gui/res/cardsfolder/s/soul_shatter.txt
  forge-gui/res/cardsfolder/t/torrent_of_fire.txt
  forge-gui/res/cardsfolder/u/ugins_insight.txt
  forge-gui/res/cardsfolder/upcoming/djinn_of_the_fountain.txt
  forge-gui/res/cardsfolder/upcoming/tetsuo_imperial_champion.txt
  forge-gui/res/cardsfolder/v/verdant_rejuvenation.txt
  forge-gui/res/cardsfolder/v/visions_of_dominance.txt
  forge-gui/res/cardsfolder/v/visions_of_dread.txt
  forge-gui/res/cardsfolder/v/visions_of_duplicity.txt
  forge-gui/res/cardsfolder/v/visions_of_glory.txt
  forge-gui/res/cardsfolder/v/visions_of_ruin.txt
Labels: Card Cleanup, Card Patch

#1495 DMU 10 Cards + 2 cleanup
  forge-gui/res/cardsfolder/upcoming/kobold_warcaller.txt
  forge-gui/res/cardsfolder/upcoming/orca_siege_demon.txt
  forge-gui/res/cardsfolder/upcoming/talas_lookout.txt
  forge-gui/res/cardsfolder/upcoming/tattered_apparition.txt
  forge-gui/res/cardsfolder/upcoming/tatyova_steward_of_tides.txt
  forge-gui/res/cardsfolder/upcoming/tear_asunder.txt
  forge-gui/res/cardsfolder/upcoming/territorial_maro.txt
  forge-gui/res/cardsfolder/upcoming/tidepool_turtle.txt
  forge-gui/res/cardsfolder/upcoming/timely_interference.txt
  forge-gui/res/cardsfolder/upcoming/tolarian_geyser.txt
  forge-gui/res/cardsfolder/upcoming/tolarian_terror.txt
  forge-gui/res/cardsfolder/upcoming/tori_davenant_fury_rider.txt
Labels: Upcoming Set

#1459 HBG: Favored Enemy and support
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseTypeEffect.java
  forge-gui/res/cardsfolder/upcoming/favored_enemy.txt
Labels: Game Mechanics

#1497 TapsForMana corner cases with Piracy affecting wrong player
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-gui/res/cardsfolder/b/bubbling_muck.txt
  forge-gui/res/cardsfolder/b/burning_earth.txt
  forge-gui/res/cardsfolder/f/forbidden_orchard.txt
  forge-gui/res/cardsfolder/g/gauntlet_of_might.txt
  forge-gui/res/cardsfolder/g/gauntlet_of_power.txt
  forge-gui/res/cardsfolder/h/high_tide.txt
  forge-gui/res/cardsfolder/m/manabarbs.txt
  forge-gui/res/cardsfolder/o/overabundance.txt
  forge-gui/res/cardsfolder/s/sanctimony.txt
  forge-gui/res/cardsfolder/s/scald.txt
  forge-gui/res/cardsfolder/t/treasure_nabber.txt
  forge-gui/res/cardsfolder/v/vernal_bloom.txt
  forge-gui/res/cardsfolder/z/zhur_taa_druid.txt
Labels: Card Patch

#1488 9 DMU + some cleanup
  forge-gui/res/cardsfolder/upcoming/archangel_of_wrath.txt
  forge-gui/res/cardsfolder/upcoming/bite_down.txt
  forge-gui/res/cardsfolder/upcoming/frostfist_strider.txt
  forge-gui/res/cardsfolder/upcoming/sprouting_goblin.txt
  forge-gui/res/cardsfolder/upcoming/stall_for_time.txt
  forge-gui/res/cardsfolder/upcoming/stenn_paranoid_partisan.txt
  forge-gui/res/cardsfolder/upcoming/strength_of_the_coalition.txt
  forge-gui/res/cardsfolder/upcoming/stronghold_arena.txt
  forge-gui/res/cardsfolder/upcoming/sunbathing_rootwalla.txt
  forge-gui/res/cardsfolder/upcoming/tail_swipe.txt
  forge-gui/res/cardsfolder/upcoming/take_up_the_shield.txt
  forge-gui/res/cardsfolder/upcoming/vodalian_hexcatcher.txt
  forge-gui/res/cardsfolder/upcoming/yavimaya_sojourner.txt
Labels: Upcoming Set

#1499 DMU: 3 kicker cards
  forge-gui/res/cardsfolder/upcoming/elvish_hydromancer.txt
  forge-gui/res/cardsfolder/upcoming/joint_exploration.txt
  forge-gui/res/cardsfolder/upcoming/vineshaper_prodigy.txt
Labels: Upcoming Set

#1473 HBG: Thayan Evokers and support (ConjureAll trigger)
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/trigger/TriggerConjureAll.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-gui/res/cardsfolder/a/agent_of_raffine.txt
  forge-gui/res/cardsfolder/b/bind_to_secrecy.txt
  forge-gui/res/cardsfolder/b/boneyard_aberration.txt
  forge-gui/res/cardsfolder/c/calim_djinn_emperor.txt
  forge-gui/res/cardsfolder/c/clone_crafter.txt
  forge-gui/res/cardsfolder/d/davriel_soul_broker.txt
  forge-gui/res/cardsfolder/d/dragonfly_pilot.txt
  forge-gui/res/cardsfolder/e/expedition_supplier.txt
  forge-gui/res/cardsfolder/f/follow_the_tracks.txt
  forge-gui/res/cardsfolder/f/freyalise_skyshroud_partisan.txt
  forge-gui/res/cardsfolder/f/futurist_spellthief.txt
  forge-gui/res/cardsfolder/g/grave_choice.txt
  forge-gui/res/cardsfolder/g/graven_archfiend.txt
  forge-gui/res/cardsfolder/g/grizzled_huntmaster.txt
  forge-gui/res/cardsfolder/g/gutmorn_pactbound_servant.txt
  forge-gui/res/cardsfolder/h/hollowhenge_wrangler.txt
  forge-gui/res/cardsfolder/h/holographic_double.txt
  forge-gui/res/cardsfolder/k/kami_of_bamboo_groves.txt
  forge-gui/res/cardsfolder/k/kiora_the_tides_fury.txt
  forge-gui/res/cardsfolder/p/predatory_sludge.txt
  forge-gui/res/cardsfolder/s/sanguine_brushstroke.txt
  forge-gui/res/cardsfolder/s/sarkhan_wanderer_to_shiv.txt
  forge-gui/res/cardsfolder/s/semblance_scanner.txt
  forge-gui/res/cardsfolder/s/shoreline_scout.txt
  forge-gui/res/cardsfolder/s/sigardian_evangel.txt
  forge-gui/res/cardsfolder/s/sinister_reflections.txt
  forge-gui/res/cardsfolder/s/snowborn_simulacra.txt
  forge-gui/res/cardsfolder/s/soul_servitude.txt
  forge-gui/res/cardsfolder/s/suntail_squadron.txt
  forge-gui/res/cardsfolder/s/swarm_saboteur.txt
  forge-gui/res/cardsfolder/s/syndicate_recruiter.txt
  forge-gui/res/cardsfolder/t/teyo_aegis_adept.txt
  forge-gui/res/cardsfolder/t/tome_of_the_infinite.txt
  forge-gui/res/cardsfolder/t/toralfs_disciple.txt
  forge-gui/res/cardsfolder/u/undercity_plunder.txt
  forge-gui/res/cardsfolder/upcoming/genasi_rabble_rouser.txt
  forge-gui/res/cardsfolder/upcoming/giant_fire_beetles.txt
  forge-gui/res/cardsfolder/upcoming/gnoll_hunting_party.txt
  forge-gui/res/cardsfolder/upcoming/lizardfolk_librarians.txt
  forge-gui/res/cardsfolder/upcoming/moradins_disciples.txt
  forge-gui/res/cardsfolder/upcoming/ranger_squadron.txt
  forge-gui/res/cardsfolder/upcoming/seatower_imprisonment.txt
  forge-gui/res/cardsfolder/upcoming/soldiers_of_the_watch.txt
  forge-gui/res/cardsfolder/upcoming/sworn_to_the_legion.txt
  forge-gui/res/cardsfolder/upcoming/thayan_evokers.txt
  forge-gui/res/cardsfolder/upcoming/tiefling_outcasts.txt
  forge-gui/res/cardsfolder/upcoming/ulder_ravengard_marshal.txt
  forge-gui/res/cardsfolder/upcoming/viconia_nightsingers_disciple.txt
  forge-gui/res/cardsfolder/upcoming/warriors_of_tiamat.txt
  forge-gui/res/cardsfolder/v/veteran_ghoulcaller.txt
  forge-gui/res/cardsfolder/w/wingsteed_trainer.txt
  forge-gui/res/cardsfolder/y/you_line_up_the_shot.txt
Labels: Game Mechanics, Card Cleanup

#1502 Fix mutated cards disappearing when top is token
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-gui/res/cardsfolder/m/mirrorwing_dragon.txt
  forge-gui/res/cardsfolder/t/tatsumasa_the_dragons_fang.txt
Labels: bug, Game Mechanics, Card Patch

#1467 Fix card name sorting ignoring other locale
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/cost/CostReveal.java
  forge-gui/src/main/java/forge/model/FModel.java
Labels: GUI

#1508 Fix cards
  forge-ai/src/main/java/forge/ai/ability/DamageAiBase.java
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-game/src/main/java/forge/game/ability/effects/LifeSetEffect.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/replacement/ReplaceDamage.java
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
  forge-gui/res/cardsfolder/a/acidic_dagger.txt
  forge-gui/res/cardsfolder/c/chandras_pyreling.txt
  forge-gui/res/cardsfolder/c/constricting_sliver.txt
  forge-gui/res/cardsfolder/c/crush_underfoot.txt
  forge-gui/res/cardsfolder/d/dawns_reflection.txt
  forge-gui/res/cardsfolder/e/electryte.txt
  forge-gui/res/cardsfolder/g/glyph_of_life.txt
  forge-gui/res/cardsfolder/h/heart_wolf.txt
  forge-gui/res/cardsfolder/k/kjeldoran_elite_guard.txt
  forge-gui/res/cardsfolder/k/kjeldoran_guard.txt
  forge-gui/res/cardsfolder/l/latullas_orders.txt
  forge-gui/res/cardsfolder/l/leyline_of_abundance.txt
  forge-gui/res/cardsfolder/m/merieke_ri_berit.txt
  forge-gui/res/cardsfolder/p/phantasmal_mount.txt
  forge-gui/res/cardsfolder/q/quest_for_pure_flame.txt
  forge-gui/res/cardsfolder/r/runesword.txt
  forge-gui/res/cardsfolder/t/talon_of_pain.txt
  forge-gui/res/cardsfolder/t/tamiyo_field_researcher.txt
  forge-gui/res/cardsfolder/w/war_barge.txt
Labels: Card Cleanup, Card Patch, Rules compliance

#1510 Rain of Gore fix
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/replacement/ReplaceGainLife.java
  forge-gui/res/cardsfolder/a/archfiend_of_spite.txt
  forge-gui/res/cardsfolder/a/awaken_the_sky_tyrant.txt
  forge-gui/res/cardsfolder/b/baral_chief_of_compliance.txt
  forge-gui/res/cardsfolder/f/farsight_mask.txt
  forge-gui/res/cardsfolder/f/flameblade_angel.txt
  forge-gui/res/cardsfolder/g/guile.txt
  forge-gui/res/cardsfolder/l/lullmage_mentor.txt
  forge-gui/res/cardsfolder/m/michiko_konda_truth_seeker.txt
  forge-gui/res/cardsfolder/r/rain_of_gore.txt
  forge-gui/res/cardsfolder/r/retaliator_griffin.txt
  forge-gui/res/cardsfolder/s/summoning_trap.txt
Labels: Card Patch, Rules compliance

#1513 Fix strength_of_the_coalition.txt
  forge-gui/res/cardsfolder/upcoming/strength_of_the_coalition.txt
Labels: Card Patch

#1498 HBG 14 Cards + 3 fix
  forge-gui/res/cardsfolder/upcoming/ambergris_citadel_agent.txt
  forge-gui/res/cardsfolder/upcoming/champions_of_tyr.txt
  forge-gui/res/cardsfolder/upcoming/flames_of_moradin.txt
  forge-gui/res/cardsfolder/upcoming/gale_conduit.txt
  forge-gui/res/cardsfolder/upcoming/goblin_trapfinder.txt
  forge-gui/res/cardsfolder/upcoming/imoen_trickster_friend.txt
  forge-gui/res/cardsfolder/upcoming/lulu_forgetful_hollyphant.txt
  forge-gui/res/cardsfolder/upcoming/rivaz_of_the_claw.txt
  forge-gui/res/cardsfolder/upcoming/sarevok_the_usurper.txt
  forge-gui/res/cardsfolder/upcoming/sewer_plague.txt
  forge-gui/res/cardsfolder/upcoming/skanos_dragon_vassal.txt
  forge-gui/res/cardsfolder/upcoming/stroke_of_luck.txt
  forge-gui/res/cardsfolder/upcoming/tatyova_steward_of_tides.txt
  forge-gui/res/cardsfolder/upcoming/unexpected_allies.txt
  forge-gui/res/cardsfolder/upcoming/valiant_farewell.txt
  forge-gui/res/cardsfolder/upcoming/wilson_bear_comrade.txt
  forge-gui/res/cardsfolder/upcoming/xira_the_golden_sting.txt
Labels: Upcoming Set

#1518 QoL card script fixes
  forge-gui/res/cardsfolder/a/aberrant_mind_sorcerer.txt
  forge-gui/res/cardsfolder/b/blanka_ferocious_friend.txt
  forge-gui/res/cardsfolder/d/dhalsim_pliable_pacifist.txt
  forge-gui/res/cardsfolder/f/flameskull.txt
  forge-gui/res/cardsfolder/h/henrika_domnathi_henrika_infernal_seer.txt
  forge-gui/res/cardsfolder/h/hook_horror.txt
  forge-gui/res/cardsfolder/k/ken_burning_brawler.txt
  forge-gui/res/cardsfolder/m/mind_flayer.txt
  forge-gui/res/cardsfolder/p/phabine_bosss_confidant.txt
  forge-gui/res/cardsfolder/upcoming/artillery_blast.txt
  forge-gui/res/cardsfolder/upcoming/greensleeves_maro-sorcerer.txt
  forge-gui/res/cardsfolder/upcoming/historians_boon.txt
  forge-gui/res/cardsfolder/upcoming/llanowar_greenwidow.txt
  forge-gui/res/cardsfolder/upcoming/the_elder_dragon_war.txt
  forge-gui/res/cardsfolder/upcoming/wilson_bear_comrade.txt
  forge-gui/res/cardsfolder/v/vladimir_and_godfrey.txt
  forge-gui/res/cardsfolder/z/zangief_the_red_cyclone.txt
Labels: Card Cleanup

#1517 HBG: 13 Sep
  forge-gui/res/cardsfolder/h/herald_of_the_forgotten.txt
  forge-gui/res/cardsfolder/upcoming/laezel_githyanki_warrior.txt
  forge-gui/res/cardsfolder/upcoming/vhal_eager_scholar.txt
Labels: Upcoming Set

#1516 HBG: Jaheira, Harper Emissary and a little QoL
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/upcoming/jaheira_harper_emissary.txt
Labels: Upcoming Set

#1515 HBG: Mephit's Enthusiasm and a little QoL
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-gui/res/cardsfolder/upcoming/dragonborn_immolator.txt
  forge-gui/res/cardsfolder/upcoming/mephits_enthusiasm.txt
Labels: Upcoming Set

#1520 10 40K
  forge-gui/res/cardsfolder/upcoming/Belakor_the_dark_master.txt
  forge-gui/res/cardsfolder/upcoming/acolyte_hybrid.txt
  forge-gui/res/cardsfolder/upcoming/atlan_jackal.txt
  forge-gui/res/cardsfolder/upcoming/biophagus.txt
  forge-gui/res/cardsfolder/upcoming/bone_sabres.txt
  forge-gui/res/cardsfolder/upcoming/marneus_calgar.txt
  forge-gui/res/cardsfolder/upcoming/noise_marine.txt
  forge-gui/res/cardsfolder/upcoming/tatyova_steward_of_tides.txt
  forge-gui/res/cardsfolder/upcoming/toxicrene.txt
  forge-gui/res/tokenscripts/w_2_2_astartes_warrior_vigilance.txt
Labels: Upcoming Set

#1480 HBG: Boareskyr Tollkeeper
  forge-gui/res/cardsfolder/upcoming/boareskyr_tollkeeper.txt
Labels: Upcoming Set

#1525 Fixes
  forge-gui/res/cardsfolder/b/burning_hands.txt
  forge-gui/res/cardsfolder/p/psychic_pickpocket.txt
Labels: Card Cleanup

#1532 Update editions, DMU rankings and TypeLists (for 40k)
  forge-gui/res/draft/rankings.txt
  forge-gui/res/editions/Dominaria United Commander.txt
  forge-gui/res/editions/Dominaria United.txt
  forge-gui/res/editions/Warhammer 40,000.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set

#1538 40K finalised edition
  forge-gui/res/editions/Warhammer 40,000.txt
Labels: Upcoming Set

#1533 ambuscade_shaman.txt improve
  forge-gui/res/cardsfolder/a/ambuscade_shaman.txt
Labels: Card Cleanup

#1543 quick token fix
  forge-gui/res/tokenscripts/b_2_2_a_necron_warrior.txt
Labels: Card Cleanup

#1541 Fix some cost reductions ignoring generic mana
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-gui/res/cardsfolder/b/bard_class.txt
  forge-gui/res/cardsfolder/e/edgewalker.txt
  forge-gui/res/cardsfolder/m/morophon_the_boundless.txt
  forge-gui/res/cardsfolder/r/ragemonger.txt
Labels: Rules compliance

#1547 40K: 18 Sep
  forge-game/src/main/java/forge/game/ability/effects/ChooseTypeEffect.java
  forge-game/src/main/java/forge/game/cost/CostTapType.java
  forge-gui/res/cardsfolder/e/elven_bow.txt
  forge-gui/res/cardsfolder/upcoming/and_they_shall_know_no_fear.txt
  forge-gui/res/cardsfolder/upcoming/assault_intercessor.txt
  forge-gui/res/cardsfolder/upcoming/belisarius_cawl.txt
  forge-gui/res/cardsfolder/upcoming/birth_of_the_imperium.txt
Labels: Upcoming Set, Card Cleanup, StackDesc

#1545 refactor cards that smash when they damage a player
  forge-gui/res/cardsfolder/b/bladegriff_prototype.txt
  forge-gui/res/cardsfolder/b/blind_zealot.txt
  forge-gui/res/cardsfolder/c/caustic_wasps.txt
  forge-gui/res/cardsfolder/d/dawning_purist.txt
  forge-gui/res/cardsfolder/d/dokuchi_silencer.txt
  forge-gui/res/cardsfolder/h/hammer_of_ruin.txt
  forge-gui/res/cardsfolder/l/latullas_orders.txt
  forge-gui/res/cardsfolder/p/phage_the_untouchable.txt
  forge-gui/res/cardsfolder/p/polis_crusher.txt
  forge-gui/res/cardsfolder/r/rustmouth_ogre.txt
  forge-gui/res/cardsfolder/s/sunder_shaman.txt
  forge-gui/res/cardsfolder/t/throat_slitter.txt
  forge-gui/res/cardsfolder/t/trygon_predator.txt
Labels: Card Cleanup

#1552 40K 10 cards + 1 fix
  forge-gui/res/cardsfolder/s/syndicate_recruiter.txt
  forge-gui/res/cardsfolder/upcoming/chaos_terminator_lord.txt
  forge-gui/res/cardsfolder/upcoming/chronomancer.txt
  forge-gui/res/cardsfolder/upcoming/lord_of_change.txt
  forge-gui/res/cardsfolder/upcoming/necron_deathmark.txt
  forge-gui/res/cardsfolder/upcoming/necron_monolith.txt
  forge-gui/res/cardsfolder/upcoming/necron_overlord.txt
  forge-gui/res/cardsfolder/upcoming/night_scythe.txt
  forge-gui/res/cardsfolder/upcoming/sister_hostpitaller.txt
  forge-gui/res/cardsfolder/upcoming/venomcrawler.txt
  forge-gui/res/cardsfolder/upcoming/venomthrope.txt
Labels: Upcoming Set

#1102 2X2: Cryptic Spires and support
  forge-game/src/main/java/forge/game/GameAction.java
  forge-gui/res/cardsfolder/upcoming/cryptic_spires.txt
Labels: Upcoming Set, Game Mechanics

#1550 Random little fixes
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardEffect.java
  forge-gui/res/cardsfolder/c/capricious_efreet.txt
  forge-gui/res/cardsfolder/d/darigaaz_the_igniter.txt
  forge-gui/res/cardsfolder/s/shatterskull_charger.txt
Labels: Card Cleanup

#1546 40K: Anrakyr the Traveller and support
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-gui/res/cardsfolder/upcoming/anrakyr_the_traveller.txt
Labels: Upcoming Set, Game Mechanics

#1438 HBG: Specialize face images for local/FTP
  forge-core/src/main/java/forge/ImageKeys.java
  forge-core/src/main/java/forge/StaticData.java
  forge-core/src/main/java/forge/item/IPaperCard.java
  forge-core/src/main/java/forge/item/PaperCard.java
  forge-core/src/main/java/forge/item/PaperToken.java
  forge-core/src/main/java/forge/util/ImageUtil.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-gui-desktop/src/main/java/forge/ImageCache.java
  forge-gui-desktop/src/main/java/forge/screens/deckeditor/controllers/DeckHtmlSerializer.java
  forge-gui-desktop/src/main/java/forge/toolbox/imaging/FImageUtil.java
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
  forge-gui/src/main/java/forge/gui/download/GuiDownloadPicturesHQ.java
  forge-gui/src/main/java/forge/gui/download/GuiDownloadPicturesLQ.java
  forge-gui/src/main/java/forge/gui/download/GuiDownloadSetPicturesLQ.java
  forge-gui/src/main/java/forge/util/ImageFetcher.java
Labels: Upcoming Set

#1563 AiBlockController: check commanders in sortPotentialAttackers
  forge-ai/src/main/java/forge/ai/AiBlockController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-gui/res/cardsfolder/a/ashling_the_extinguisher.txt
  forge-gui/res/cardsfolder/b/balefire_dragon.txt
  forge-gui/res/cardsfolder/c/cephalid_constable.txt
  forge-gui/res/cardsfolder/c/commando_raid.txt
  forge-gui/res/cardsfolder/d/dawning_purist.txt
  forge-gui/res/cardsfolder/e/emissary_of_despair.txt
  forge-gui/res/cardsfolder/e/emissary_of_hope.txt
  forge-gui/res/cardsfolder/e/etrata_the_silencer.txt
  forge-gui/res/cardsfolder/h/hellkite_tyrant.txt
  forge-gui/res/cardsfolder/h/hoard_hauler.txt
  forge-gui/res/cardsfolder/k/kappa_tech_wrecker.txt
  forge-gui/res/cardsfolder/l/lightwielder_paladin.txt
  forge-gui/res/cardsfolder/m/mairsil_the_pretender.txt
  forge-gui/res/cardsfolder/m/mindleech_mass.txt
  forge-gui/res/cardsfolder/m/mistblade_shinobi.txt
  forge-gui/res/cardsfolder/m/mordant_dragon.txt
  forge-gui/res/cardsfolder/n/narset_of_the_ancient_way.txt
  forge-gui/res/cardsfolder/o/o_kagachi_vengeful_kami.txt
  forge-gui/res/cardsfolder/r/riptide_entrancer.txt
  forge-gui/res/cardsfolder/s/shield_mare.txt
  forge-gui/res/cardsfolder/s/shockmaw_dragon.txt
  forge-gui/res/cardsfolder/s/skirk_commando.txt
  forge-gui/res/cardsfolder/s/snapping_thragg.txt
  forge-gui/res/cardsfolder/s/soul_seizer_ghastly_haunting.txt
  forge-gui/res/cardsfolder/s/spark_mage.txt
  forge-gui/res/cardsfolder/s/standstill.txt
  forge-gui/res/cardsfolder/u/uvilda_dean_of_perfection_nassari_dean_of_expression.txt
  forge-gui/res/cardsfolder/w/wrathful_red_dragon.txt
Labels: AI, Card Patch

#1566 Banned and Restricted Announcement for September 19, 2022
  forge-gui/res/formats/Casual/Pauper.txt
Labels: Format Changes

#1568 40k edition tokens with small fixes
  forge-gui/res/cardsfolder/upcoming/lictor.txt
  forge-gui/res/cardsfolder/upcoming/tyranid_invasion.txt
  forge-gui/res/editions/Warhammer 40,000.txt
  forge-gui/res/tokenscripts/g_3_3_tyranid_warrior_trample.txt
Labels: Upcoming Set

#1567 40K 12 cards + 1 token
  forge-gui/res/cardsfolder/upcoming/imotekh_the_stormlord.txt
  forge-gui/res/cardsfolder/upcoming/knight_paladin.txt
  forge-gui/res/cardsfolder/upcoming/knight_rampager.txt
  forge-gui/res/cardsfolder/upcoming/lokhust_heavy_destroyer.txt
  forge-gui/res/cardsfolder/upcoming/lychguard.txt
  forge-gui/res/cardsfolder/upcoming/mortarion_daemon_primarch.txt
  forge-gui/res/cardsfolder/upcoming/plasmancer.txt
  forge-gui/res/cardsfolder/upcoming/poxwalkers.txt
  forge-gui/res/cardsfolder/upcoming/primaris_chaplain.txt
  forge-gui/res/cardsfolder/upcoming/reaver_titan.txt
  forge-gui/res/cardsfolder/upcoming/skorpekh_lord.txt
  forge-gui/res/cardsfolder/upcoming/the_flesh_is_weak.txt
  forge-gui/res/tokenscripts/b_2_2_astartes_warrior_menace.txt
Labels: Upcoming Set

#1557 40 K 10 more + 2 tokens
  forge-gui/res/cardsfolder/upcoming/let_the_galaxy_burn.txt
  forge-gui/res/cardsfolder/upcoming/lucius_the_eternal.txt
  forge-gui/res/cardsfolder/upcoming/mandate_of_abaddon.txt
  forge-gui/res/cardsfolder/upcoming/nurgles_conscription.txt
  forge-gui/res/cardsfolder/upcoming/nurgles_rot.txt
  forge-gui/res/cardsfolder/upcoming/pink_horror.txt
  forge-gui/res/cardsfolder/upcoming/plague_drone.txt
  forge-gui/res/cardsfolder/upcoming/purestrain_genestealer.txt
  forge-gui/res/cardsfolder/upcoming/shadow_in_the_warp.txt
  forge-gui/res/cardsfolder/upcoming/tallyman_of_nurgle.txt
  forge-gui/res/tokenscripts/blue_horror.txt
  forge-gui/res/tokenscripts/plaguebearer_of_nurgle.txt
Labels: Upcoming Set

#1539 40K: Ravenous keyword
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-gui/res/cardsfolder/upcoming/aberrant.txt
  forge-gui/res/cardsfolder/upcoming/broodlord.txt
  forge-gui/res/cardsfolder/upcoming/exocrine.txt
  forge-gui/res/cardsfolder/upcoming/hormagaunt_horde.txt
  forge-gui/res/cardsfolder/upcoming/mawloc.txt
Labels: Upcoming Set, Game Mechanics

#1540 40K: other Ravenous card scripts
  forge-gui/res/cardsfolder/s/spit_flame.txt
  forge-gui/res/cardsfolder/upcoming/ravener.txt
  forge-gui/res/cardsfolder/upcoming/sporocyst.txt
  forge-gui/res/cardsfolder/upcoming/termagant_swarm.txt
  forge-gui/res/cardsfolder/upcoming/tervigon.txt
  forge-gui/res/cardsfolder/upcoming/tyrant_guard.txt
  forge-gui/res/cardsfolder/upcoming/zoanthrope.txt
  forge-gui/res/tokenscripts/g_1_1_tyranid.txt
Labels: Upcoming Set

#1549 40K: 18 Sep (more)
  forge-gui/res/cardsfolder/upcoming/callidus_assassin.txt
  forge-gui/res/cardsfolder/upcoming/canoptek_wraith.txt
  forge-gui/res/cardsfolder/upcoming/celestine_the_living_saint.txt
  forge-gui/res/cardsfolder/upcoming/chaos_defiler.txt
  forge-gui/res/cardsfolder/upcoming/chaos_mutation.txt
Labels: Upcoming Set

#1578 Redemptor Dreadnought + some fixes
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAllAi.java
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeTargetsEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/combat/Combat.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-gui/res/cardsfolder/g/gorex_the_tombshell.txt
  forge-gui/res/cardsfolder/g/grenzo_havoc_raiser.txt
  forge-gui/res/cardsfolder/h/heart_wolf.txt
  forge-gui/res/cardsfolder/h/hubris.txt
  forge-gui/res/cardsfolder/j/jace_architect_of_thought.txt
  forge-gui/res/cardsfolder/k/kjeldoran_elite_guard.txt
  forge-gui/res/cardsfolder/k/kjeldoran_guard.txt
  forge-gui/res/cardsfolder/m/moorland_rescuer.txt
  forge-gui/res/cardsfolder/p/portal_of_sanctuary.txt
  forge-gui/res/cardsfolder/s/scarab_of_the_unseen.txt
  forge-gui/res/cardsfolder/s/stolen_strategy.txt
  forge-gui/res/cardsfolder/t/thada_adel_acquisitor.txt
  forge-gui/res/cardsfolder/upcoming/cryptek.txt
  forge-gui/res/cardsfolder/upcoming/dark_apostle.txt
  forge-gui/res/cardsfolder/upcoming/redemptor_dreadnought.txt
Labels: Upcoming Set, Card Cleanup, Card Patch

#1575 40K 10 more + 1Fix
  forge-gui/res/cardsfolder/upcoming/inquisitorial_rosette.txt
  forge-gui/res/cardsfolder/upcoming/primaris_eliminator.txt
  forge-gui/res/cardsfolder/upcoming/psychomancer.txt
  forge-gui/res/cardsfolder/upcoming/rasputin_the_oneiromancer.txt
  forge-gui/res/cardsfolder/upcoming/royal_warden.txt
  forge-gui/res/cardsfolder/upcoming/sanguinary_priest.txt
  forge-gui/res/cardsfolder/upcoming/space_marine_scout.txt
  forge-gui/res/cardsfolder/upcoming/technomancer.txt
  forge-gui/res/cardsfolder/upcoming/their_name_is_death.txt
  forge-gui/res/cardsfolder/upcoming/their_number_is_legion.txt
Labels: Upcoming Set

#1580 Fix resolving trigger check using wrong controller
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
Labels: Game Mechanics, Rules compliance

#1531 40K – Squad keyword and cards
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-gui/res/cardsfolder/upcoming/arco_flagellant.txt
  forge-gui/res/cardsfolder/upcoming/sicarian_infiltrator.txt
  forge-gui/res/cardsfolder/upcoming/space_marine_devastator.txt
  forge-gui/res/cardsfolder/upcoming/ultramarines_honour_guard.txt
  forge-gui/res/cardsfolder/upcoming/vanguard_suppressor.txt
  forge-gui/res/cardsfolder/upcoming/zephyrim.txt
Labels: Upcoming Set, Game Mechanics

#1581 Fix Unbound Flourishing triggering for additional X costs
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeXEffect.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityStackInstance.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-gui/res/cardsfolder/a/azor_the_lawbringer.txt
  forge-gui/res/cardsfolder/d/dimensional_breach.txt
  forge-gui/res/cardsfolder/t/titans_nest.txt
  forge-gui/res/cardsfolder/upcoming/celestine_the_living_saint.txt
  forge-gui/res/cardsfolder/upcoming/epistolary_librarian.txt
  forge-gui/res/cardsfolder/upcoming/tyrannical_pitlord.txt
Labels: Card Patch, Rules compliance

#1585 Kytheon Fix
  forge-game/src/main/java/forge/game/card/CardDamageHistory.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/combat/CombatUtil.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/b/blazing_effigy.txt
  forge-gui/res/cardsfolder/c/conquerors_galleon_conquerors_foothold.txt
  forge-gui/res/cardsfolder/k/kytheon_hero_of_akros_gideon_battle_forged.txt
Labels: Card Cleanup, Card Patch, Rules compliance

#1583 Fix AbilityTriggered failing when cause lacks targets
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/trigger/TriggerAbilityTriggered.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/upcoming/historians_boon.txt
Labels: Game Mechanics

#1594 Card cleanup
  forge-gui/res/cardsfolder/c/carpet_of_flowers.txt
  forge-gui/res/cardsfolder/k/kianne_dean_of_substance_imbraham_dean_of_theory.txt
  forge-gui/res/cardsfolder/l/lullmage_mentor.txt
  forge-gui/res/cardsfolder/m/monstrous_onslaught.txt
  forge-gui/res/cardsfolder/m/multanis_presence.txt
  forge-gui/res/cardsfolder/s/spitting_slug.txt
  forge-gui/res/cardsfolder/s/summoning_trap.txt
  forge-gui/res/cardsfolder/w/wand_of_denial.txt
  forge-gui/res/cardsfolder/z/zurs_weirding.txt
Labels: Card Patch

#1593 Fix CostAdjustment being run for Unless Costs
  forge-gui/res/cardsfolder/t/turf_war.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Game Mechanics, Card Patch

#1577 40K 10 more
  forge-gui/res/cardsfolder/upcoming/dark_apostle.txt
  forge-gui/res/cardsfolder/upcoming/shard_of_the_nightbringer.txt
  forge-gui/res/cardsfolder/upcoming/shard_of_the_void_dragon.txt
  forge-gui/res/cardsfolder/upcoming/sister_of_silence.txt
  forge-gui/res/cardsfolder/upcoming/skorpekh_destroyer.txt
  forge-gui/res/cardsfolder/upcoming/sloppity_bilepiper.txt
  forge-gui/res/cardsfolder/upcoming/the_golden_throne.txt
  forge-gui/res/cardsfolder/upcoming/the_horus_heresy.txt
  forge-gui/res/cardsfolder/upcoming/the_lost_and_the_damned.txt
  forge-gui/res/cardsfolder/upcoming/the_ruinous_powers.txt
  forge-gui/res/cardsfolder/upcoming/thunderhawk_gunship.txt
Labels: Upcoming Set

#1465 Maven: include git history on package
  forge-gui-desktop/pom.xml
Labels: documentation

#1604 Card cleanup
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/PumpAi.java
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/a/absorb_identity.txt
  forge-gui/res/cardsfolder/a/aether_gust.txt
  forge-gui/res/cardsfolder/a/arashin_sovereign.txt
  forge-gui/res/cardsfolder/b/banishment.txt
  forge-gui/res/cardsfolder/d/dance_of_the_dead.txt
  forge-gui/res/cardsfolder/d/deceiver_of_form.txt
  forge-gui/res/cardsfolder/d/declaration_in_stone.txt
  forge-gui/res/cardsfolder/d/detention_sphere.txt
  forge-gui/res/cardsfolder/d/distant_memories.txt
  forge-gui/res/cardsfolder/d/diver_skaab.txt
  forge-gui/res/cardsfolder/e/echoing_calm.txt
  forge-gui/res/cardsfolder/e/echoing_return.txt
  forge-gui/res/cardsfolder/e/echoing_ruin.txt
  forge-gui/res/cardsfolder/e/echoing_truth.txt
  forge-gui/res/cardsfolder/e/endless_detour.txt
  forge-gui/res/cardsfolder/l/legions_end.txt
  forge-gui/res/cardsfolder/m/maelstrom_pulse.txt
  forge-gui/res/cardsfolder/m/martyrs_cry.txt
  forge-gui/res/cardsfolder/m/moonsnare_prototype.txt
  forge-gui/res/cardsfolder/n/necromancy.txt
  forge-gui/res/cardsfolder/n/nissa_of_shadowed_boughs.txt
  forge-gui/res/cardsfolder/n/not_forgotten.txt
  forge-gui/res/cardsfolder/p/power_of_persuasion.txt
  forge-gui/res/cardsfolder/r/rakdos_the_showstopper.txt
  forge-gui/res/cardsfolder/r/ruin_grinder.txt
  forge-gui/res/cardsfolder/r/run_ashore.txt
  forge-gui/res/cardsfolder/r/run_out_of_town.txt
  forge-gui/res/cardsfolder/rebalanced/a-you_come_to_a_river.txt
  forge-gui/res/cardsfolder/s/sever_the_bloodline.txt
  forge-gui/res/cardsfolder/s/smoke_spirits_aid.txt
  forge-gui/res/cardsfolder/s/subtlety.txt
  forge-gui/res/cardsfolder/w/wake_of_destruction.txt
Labels: Card Cleanup, Card Patch

#1601 put xPaid line back on Ravenous cards
  forge-gui/res/cardsfolder/upcoming/aberrant.txt
  forge-gui/res/cardsfolder/upcoming/hormagaunt_horde.txt
  forge-gui/res/cardsfolder/upcoming/mawloc.txt
  forge-gui/res/cardsfolder/upcoming/ravener.txt
  forge-gui/res/cardsfolder/upcoming/termagant_swarm.txt
  forge-gui/res/cardsfolder/upcoming/tervigon.txt
  forge-gui/res/cardsfolder/upcoming/tyrant_guard.txt
Labels: Card Patch

#1606 Edition files for YDMU, BRO, BRC & SCD and updates to GDY & GN3
  forge-gui/res/editions/Alchemy Dominaria.txt
  forge-gui/res/editions/Game Day Promos.txt
  forge-gui/res/editions/Game Night 2022.txt
  forge-gui/res/editions/Starter Commander Decks.txt
  forge-gui/res/editions/The Brothers War Commander.txt
  forge-gui/res/editions/The Brothers War.txt
Labels: Upcoming Set

#1607 Fix crash when spending mana produced by a gained ability with triggers
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/m/myr_superion.txt
  forge-gui/res/cardsfolder/p/path_of_ancestry.txt
  forge-gui/res/cardsfolder/p/primal_amulet_primal_wellspring.txt
  forge-gui/res/cardsfolder/p/pyromancers_goggles.txt
Labels: Game Mechanics, Card Cleanup

#1579 40K 10 Cards + Necrodermis Counters
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/ghyrson_starn_kelermorph.txt
  forge-gui/res/cardsfolder/upcoming/great_unclean_one.txt
  forge-gui/res/cardsfolder/upcoming/hierophant_biotitan.txt
  forge-gui/res/cardsfolder/upcoming/magus_lucea_kane.txt
  forge-gui/res/cardsfolder/upcoming/out_of_the_tombs.txt
  forge-gui/res/cardsfolder/upcoming/resurrection_orb.txt
  forge-gui/res/cardsfolder/upcoming/sautekh_immortal.txt
  forge-gui/res/cardsfolder/upcoming/sceptre_of_eternal_glory.txt
  forge-gui/res/cardsfolder/upcoming/sister_repentia.txt
  forge-gui/res/cardsfolder/upcoming/the_war_in_heaven.txt
Labels: Upcoming Set

#1570 DMC: Verrak, Warped Sengir and support
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-gui/res/cardsfolder/upcoming/verrak_warped_sengir.txt
Labels: Game Mechanics

#1611 Small script migration
  forge-gui/res/cardsfolder/c/chaotic_transformation.txt
  forge-gui/res/cardsfolder/upcoming/hierophant_bio-titan.txt
  forge-gui/res/cardsfolder/v/verrak_warped_sengir.txt
Labels: Card Cleanup

#1612 BRR edition
  forge-gui/res/editions/Strixhaven Mystical Archive.txt
  forge-gui/res/editions/The Brothers War Retro Artifacts.txt
Labels: Upcoming Set

#1613 YDMC: Oracle of the Alpha and support
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-gui/res/cardsfolder/upcoming/oracle_of_the_alpha.txt
Labels: Upcoming Set, Game Mechanics
