Repository Card-Forge/forge, pull requests merged in 2022-12, with the labels that each got.

#1999 Format changes: Add BRR and Mishra's Bauble ban to Historic
  forge-gui/res/formats/Archived/Historic/2022-11-15.txt
  forge-gui/res/formats/Sanctioned/Historic.txt
Labels: Format Changes

#2003 SLD December Superdrop update
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#2004 New editions: EA2 & YBRO
  forge-gui/res/editions/Alchemy The Brothers War.txt
  forge-gui/res/editions/Explorer Anthology 2.txt
Labels: Upcoming Set

#2000 Fix Bishop of Binding
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/ability/AmassAi.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/ability/effects/AmassEffect.java
  forge-game/src/main/java/forge/game/ability/effects/BalanceEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseGenericEffect.java
  forge-gui/res/cardsfolder/a/archghoul_of_thraben.txt
  forge-gui/res/cardsfolder/b/bishop_of_binding.txt
  forge-gui/res/cardsfolder/upcoming/sarinth_steelseeker.txt
  forge-gui/res/cardsfolder/upcoming/the_temporal_anchor.txt
  forge-gui/src/main/java/forge/gamemodes/puzzle/Puzzle.java
Labels: AI, Card Patch

#2001 YBRO 3 more
  forge-gui/res/cardsfolder/upcoming/fallaji_antiquarian.txt
  forge-gui/res/cardsfolder/upcoming/raddic_tal_zealot.txt
  forge-gui/res/cardsfolder/upcoming/rusko_clockmaker.txt
Labels: Upcoming Set

#2010 Rusko, Clockmaker fix
  forge-gui/res/cardsfolder/upcoming/rusko_clockmaker.txt
Labels: Card Cleanup

#1987 YBRO 3 cards
  forge-gui/res/cardsfolder/upcoming/argivian_welcome.txt
  forge-gui/res/cardsfolder/upcoming/crucias_titan_of_the_waves.txt
  forge-gui/res/cardsfolder/upcoming/lonely_end.txt
Labels: Upcoming Set

#2014 CharmEffect: Remove redundant code
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-game/src/main/java/forge/game/phase/Untap.java
  forge-gui/res/cardsfolder/b/biblioplex_kraken.txt
  forge-gui/res/cardsfolder/c/captain_rex_nebula.txt
  forge-gui/res/cardsfolder/c/cuombajj_witches.txt
  forge-gui/res/cardsfolder/i/isu_the_abominable.txt
  forge-gui/res/cardsfolder/p/portcullis.txt
  forge-gui/res/cardsfolder/p/priority_boarding.txt
  forge-gui/res/cardsfolder/r/rubinia_soulsinger.txt
  forge-gui/res/cardsfolder/s/six_sided_die.txt
Labels: Card Patch

#2028 Update editions: EA2 & YBRO
  forge-gui/res/editions/Alchemy The Brothers War.txt
  forge-gui/res/editions/Explorer Anthology 2.txt
Labels: Upcoming Set

#2031 Update edition: SLD fixes
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#2032 ego_erasure.txt tidy up
  forge-gui/res/cardsfolder/e/ego_erasure.txt
Labels: Card Cleanup

#2027 Molten Impact rebalance
  forge-gui/res/cardsfolder/m/molten_impact.txt
Labels: Card Cleanup

#2036 Die roll fix
  forge-game/src/main/java/forge/game/ability/effects/RollDiceEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerRolledDie.java
  forge-gui/res/cardsfolder/a/arlinn_the_packs_hope_arlinn_the_moons_fury.txt
  forge-gui/res/cardsfolder/a/aurification.txt
  forge-gui/res/cardsfolder/b/breeches_brazen_plunderer.txt
  forge-gui/res/cardsfolder/c/combine_guildmage.txt
  forge-gui/res/cardsfolder/d/dark_intimations.txt
  forge-gui/res/cardsfolder/d/dissipation_field.txt
  forge-gui/res/cardsfolder/d/dread.txt
  forge-gui/res/cardsfolder/e/essence_sliver.txt
  forge-gui/res/cardsfolder/g/greatbow_doyen.txt
  forge-gui/res/cardsfolder/j/justice.txt
  forge-gui/res/cardsfolder/m/malcolm_keen_eyed_navigator.txt
  forge-gui/res/cardsfolder/m/mangaras_equity.txt
  forge-gui/res/cardsfolder/n/no_mercy.txt
  forge-gui/res/cardsfolder/o/ohabi_caleria.txt
  forge-gui/res/cardsfolder/r/resolute_veggiesaur.txt
  forge-gui/res/cardsfolder/t/tephraderm.txt
  forge-gui/res/cardsfolder/v/vraska_swarms_eminence.txt
  forge-gui/res/cardsfolder/z/zameck_guildmage.txt
Labels: Game Mechanics, Card Cleanup, Card Patch

#2048 Update SCD edition
  forge-gui/res/editions/Starter Commander Decks.txt
Labels: Upcoming Set

#2057 Update editions: DMR, EA2, SCD, YBRO
  forge-gui/res/editions/Alchemy The Brothers War.txt
  forge-gui/res/editions/Dominaria Remastered.txt
  forge-gui/res/editions/Explorer Anthology 2.txt
  forge-gui/res/editions/Starter Commander Decks.txt
Labels: Upcoming Set

#2056 Card fix + cleanup
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-game/src/main/java/forge/game/trigger/TriggerDamageDone.java
  forge-gui/res/cardsfolder/h/hellish_rebuke.txt
  forge-gui/res/cardsfolder/s/satsuki_the_living_lore.txt
Labels: Card Cleanup, Card Patch

#2054 Alchemy "card" fixes
  forge-gui/res/cardsfolder/a/ambergris_citadel_agent.txt
  forge-gui/res/cardsfolder/m/molten_impact.txt
Labels: Card Cleanup, Card Patch

#2058 Add & update editions: Heroes of the Realm 2016-2021
  forge-gui/res/editions/2016 Heroes of the Realm.txt
  forge-gui/res/editions/2017 Heroes of the Realm.txt
  forge-gui/res/editions/2018 Heroes of the Realm.txt
  forge-gui/res/editions/2019 Heroes of the Realm.txt
  forge-gui/res/editions/2020 Heroes of the Realm.txt
  forge-gui/res/editions/2021 Heroes of the Realm.txt
Labels: Upcoming Set

#2029 YBRO Argothian Uprooting & Foundry Groundbreaker
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-gui/res/cardsfolder/upcoming/argothian_uprooting.txt
  forge-gui/res/cardsfolder/upcoming/foundry_groundbreaker.txt
Labels: Upcoming Set

#2059 Prototype rollback fix
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/b/brood_of_cockroaches.txt
  forge-gui/res/cardsfolder/e/enigma_sphinx.txt
  forge-gui/res/cardsfolder/g/guan_yu_sainted_warrior.txt
  forge-gui/res/cardsfolder/u/unquenchable_fury.txt
  forge-gui/res/cardsfolder/z/zodiac_dragon.txt
Labels: Game Mechanics, Card Patch

#2013 YBRO 6 cards
  forge-gui/res/cardsfolder/upcoming/forgefire_automaton.txt
  forge-gui/res/cardsfolder/upcoming/kaylas_kindling.txt
  forge-gui/res/cardsfolder/upcoming/penregon_besieged.txt
  forge-gui/res/cardsfolder/upcoming/richlau_headmaster.txt
  forge-gui/res/cardsfolder/upcoming/tomakul_phoenix.txt
  forge-gui/res/cardsfolder/upcoming/warzone_duplicator.txt
Labels: Upcoming Set

#2074 Edition updates: 30A, YBRO, DMR, J22 & P23 (new)
  forge-gui/res/editions/30th Anniversary Edition.txt
  forge-gui/res/editions/Alchemy The Brothers War.txt
  forge-gui/res/editions/Dominaria Remastered.txt
  forge-gui/res/editions/Judge Gift Cards 2023.txt
  forge-gui/res/editions/Jumpstart 2022.txt
Labels: Upcoming Set

#2042 YBRO 6 cards
  forge-gui/res/cardsfolder/upcoming/melt_through.txt
  forge-gui/res/cardsfolder/upcoming/perilous_iteration.txt
  forge-gui/res/cardsfolder/upcoming/piece_it_together.txt
  forge-gui/res/cardsfolder/upcoming/sylvan_smite.txt
  forge-gui/res/cardsfolder/upcoming/tawnos_endures.txt
  forge-gui/res/cardsfolder/upcoming/urzas_construction_drone.txt
Labels: Upcoming Set

#2078 Hushbringer improvements
  forge-core/src/main/java/forge/deck/generation/DeckGeneratorBase.java
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DamageDealEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DraftEffect.java
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerDamagePrevented.java
  forge-game/src/main/java/forge/game/trigger/TriggerDamagePreventedOnce.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-gui-desktop/src/test/java/forge/ai/simulation/SpellAbilityPickerSimulationTest.java
  forge-gui/res/cardsfolder/a/ashcoat_of_the_shadow_swarm.txt
  forge-gui/res/cardsfolder/d/district_guide.txt
  forge-gui/res/cardsfolder/d/djeru_with_eyes_open.txt
  forge-gui/res/cardsfolder/d/dread.txt
  forge-gui/res/cardsfolder/e/emrakul_the_aeons_torn.txt
  forge-gui/res/cardsfolder/h/hostility.txt
  forge-gui/res/cardsfolder/h/hunters_insight.txt
  forge-gui/res/cardsfolder/l/lord_of_tresserhorn.txt
  forge-gui/res/cardsfolder/m/mandate_of_abaddon.txt
  forge-gui/res/cardsfolder/n/nicol_bolas_dragon_god.txt
  forge-gui/res/cardsfolder/s/serra_avatar.txt
  forge-gui/res/cardsfolder/s/skyline_savior.txt
  forge-gui/res/cardsfolder/s/soul_of_emancipation.txt
  forge-gui/res/cardsfolder/s/squadron_hawk.txt
  forge-gui/res/cardsfolder/s/stalking_yeti.txt
  forge-gui/res/cardsfolder/v/vigor.txt
  forge-gui/res/cardsfolder/w/worldspine_wurm.txt
Labels: Card Patch, Rules compliance

#2089 Fix ante cards
  forge-ai/src/main/java/forge/ai/ability/MillAi.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-gui/res/cardsfolder/a/amulet_of_quoz.txt
  forge-gui/res/cardsfolder/d/demonic_attorney.txt
  forge-gui/res/cardsfolder/r/rebirth.txt
  forge-gui/res/cardsfolder/t/timmerian_fiends.txt
Labels: Card Patch

#2064 GameCopier: Handle copying of more game and player properties.
  forge-ai/src/main/java/forge/ai/simulation/GameCopier.java
  forge-game/src/main/java/forge/game/player/Player.java
Labels: AI

#2035 YBRO 6 cards
  forge-gui/res/cardsfolder/upcoming/gixian_recycler.txt
  forge-gui/res/cardsfolder/upcoming/hurkyls_prodigy.txt
  forge-gui/res/cardsfolder/upcoming/jarsyl_dark_age_scion.txt
  forge-gui/res/cardsfolder/upcoming/legion_of_clay.txt
  forge-gui/res/cardsfolder/upcoming/norns_disassembly.txt
  forge-gui/res/cardsfolder/upcoming/patchplate_resolute.txt
Labels: Upcoming Set

#2090 Add Grindstone to P23
  forge-gui/res/editions/Judge Gift Cards 2023.txt
Labels: Upcoming Set

#2093 New edition: ONE (& DMU, KHM, NEO, SNC, SLX updates)
  forge-gui/res/editions/Dominaria United.txt
  forge-gui/res/editions/Kaldheim.txt
  forge-gui/res/editions/Kamigawa Neon Dynasty.txt
  forge-gui/res/editions/Phyrexia All Will Be One.txt
  forge-gui/res/editions/Streets of New Capenna.txt
  forge-gui/res/editions/Universes Within.txt
Labels: Upcoming Set

#2100 Improve damage check logic for losing + performance
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ability/DamageAiBase.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/RestartGameEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RollDiceEffect.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/TargetRestrictions.java
Labels: AI

#2098 ONE 4 cards
  forge-gui/res/cardsfolder/upcoming/blue_suns_twilight.txt
  forge-gui/res/cardsfolder/upcoming/jor_kadeen_first_goldwarden.txt
  forge-gui/res/cardsfolder/upcoming/koth_fire_of_resistance.txt
  forge-gui/res/cardsfolder/upcoming/slobad_iron_goblin.txt
Labels: Upcoming Set

#2112 YBRO: Assemble the Team and support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/assemble_the_team.txt
Labels: Game Mechanics

#2021 J22: Ogre Battlecaster
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-gui/res/cardsfolder/upcoming/ogre_battlecaster.txt
Labels: Upcoming Set

#2118 Booster Draft for DMR
  forge-gui/res/blockdata/blocks.txt
  forge-gui/res/draft/rankings.txt
  forge-gui/res/editions/Dominaria Remastered.txt
Labels: Upcoming Set

#2129 YBRO: Great Desert Hellion and support
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-gui/res/cardsfolder/upcoming/great_desert_hellion.txt
Labels: Game Mechanics

#2125 Rework Reviving Vapors
  forge-gui/res/cardsfolder/r/reviving_vapors.txt
Labels: Card Patch

#2109 add and support "ReplaceGraveyardValid" for scholar_of_the_lost_trove
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-gui/res/cardsfolder/s/scholar_of_the_lost_trove.txt
Labels: Game Mechanics, Card Patch, Rules compliance

#1960 J22: Agrus Kos, Eternal Soldier and support
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/trigger/TriggerBecomesTarget.java
  forge-gui/res/cardsfolder/upcoming/agrus_kos_eternal_soldier.txt
Labels: Upcoming Set, Game Mechanics

#2143 Improve reuse of LKI for ChangeZone performance
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/GameAction.java
Labels: Game Mechanics

#2146 various fixes
  forge-gui/res/cardsfolder/h/hidetsugu_devouring_chaos.txt
  forge-gui/res/cardsfolder/h/hypothesizzle.txt
  forge-gui/res/cardsfolder/k/kardurs_vicious_return.txt
  forge-gui/res/cardsfolder/t/torrent_sculptor_flamethrower_sonata.txt
  forge-gui/res/cardsfolder/u/unbounded_potential.txt
Labels: Card Cleanup, Card Patch

#2145 ONE - 19 Dec (some leaked cards)
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/bladed_ambassador.txt
  forge-gui/res/cardsfolder/upcoming/cankerbloom.txt
  forge-gui/res/cardsfolder/upcoming/rustvine_cultivator.txt
  forge-gui/res/cardsfolder/upcoming/urabrasks_anointer.txt
Labels: Upcoming Set

#2148 Guard for case with empty collection
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
Labels: Crash fix

#2152 Some card script tweaks
  forge-gui/res/cardsfolder/c/crimson_honor_guard.txt
  forge-gui/res/cardsfolder/k/kinsbaile_borderguard.txt
  forge-gui/res/cardsfolder/s/slithermuse.txt
  forge-gui/res/cardsfolder/upcoming/rusko_clockmaker.txt
  forge-gui/res/cardsfolder/v/vodalian_merchant.txt
Labels: AI, Card Cleanup

#2153 Compleated update/fix
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui-desktop/src/main/java/forge/toolbox/FSkin.java
Labels: Upcoming Set, Game Mechanics

#2156 Card fixes
  forge-gui/res/cardsfolder/k/kamahls_will.txt
  forge-gui/res/cardsfolder/p/predatory_impetus.txt
Labels: Card Patch

#2114 YBRO: By Elspeth's Command and Yotian Courier + support
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/upcoming/by_elspeths_command.txt
  forge-gui/res/cardsfolder/upcoming/yotian_courier.txt
Labels: Game Mechanics

#2162 tighten up Adversary cycle from MID
  forge-gui/res/cardsfolder/b/bloodthirsty_adversary.txt
  forge-gui/res/cardsfolder/i/intrepid_adversary.txt
  forge-gui/res/cardsfolder/p/primal_adversary.txt
  forge-gui/res/cardsfolder/s/spectral_adversary.txt
  forge-gui/res/cardsfolder/t/tainted_adversary.txt
Labels: Card Patch

#2151 ONE – 21 Dec (leaked card scripts)
  forge-gui/res/cardsfolder/upcoming/bonepicker_skirge.txt
  forge-gui/res/cardsfolder/upcoming/furnace_punisher.txt
  forge-gui/res/cardsfolder/upcoming/quicksilver_fisher.txt
  forge-gui/res/cardsfolder/upcoming/sawblade_scamp.txt
  forge-gui/res/cardsfolder/upcoming/sinew_dancer.txt
Labels: Upcoming Set

#2163 ONE: Kaito, Dancing Shadow + Token script
  forge-game/src/main/java/forge/game/trigger/TriggerDamageDoneOnce.java
  forge-gui/res/cardsfolder/upcoming/kaito_dancing_shadow.txt
  forge-gui/res/tokenscripts/c_2_2_a_drone_deathtouch_leavedrain.txt
Labels: Upcoming Set

#2189 Script fixes
  forge-gui/res/cardsfolder/c/captain_rex_nebula.txt
  forge-gui/res/cardsfolder/c/chromium_the_mutable.txt
  forge-gui/res/cardsfolder/c/creeping_tar_pit.txt
  forge-gui/res/cardsfolder/d/dimir_keyrune.txt
  forge-gui/res/cardsfolder/e/eye_of_singularity.txt
  forge-gui/res/cardsfolder/f/face_of_divinity.txt
  forge-gui/res/cardsfolder/f/farid_enterprising_salvager.txt
  forge-gui/res/cardsfolder/g/gurgling_anointer.txt
  forge-gui/res/cardsfolder/p/pirated_copy.txt
  forge-gui/res/cardsfolder/p/primal_amulet_primal_wellspring.txt
  forge-gui/res/cardsfolder/r/riverfall_mimic.txt
Labels: Card Patch

#2175 ONE: Green Sun's Twilight and support
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigMultipleEffect.java
  forge-game/src/main/java/forge/util/MessageUtil.java
  forge-gui/res/cardsfolder/upcoming/green_suns_twilight.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Upcoming Set, Game Mechanics
