Repository Card-Forge/forge, pull requests merged in 2022-07, with the labels that each got.

#1015 5 more from Squee
  forge-gui/res/cardsfolder/upcoming/kenku_artificer.txt
  forge-gui/res/cardsfolder/upcoming/mold_folk.txt
  forge-gui/res/cardsfolder/upcoming/robe_of_the_archmagi.txt
  forge-gui/res/cardsfolder/upcoming/venture_forth.txt
  forge-gui/res/cardsfolder/upcoming/wrathful_red_dragon.txt
Labels: Upcoming Set

#1018 HBG Rebalanced cards
  forge-gui/res/cardsfolder/rebalanced/a-baba_lysaga_night_witch.txt
  forge-gui/res/cardsfolder/rebalanced/a-earthquake_dragon.txt
  forge-gui/res/cardsfolder/rebalanced/a-minsc_boo_timeless_heroes.txt
  forge-gui/res/cardsfolder/rebalanced/a-monster_manual_zoological_study.txt
Labels: Upcoming Set

#370 TokenEffect getStackDescription enhancement (for Indulge // Excess)
  forge-game/src/main/java/forge/game/ability/effects/TokenEffect.java
Labels: Upcoming Set, StackDesc

#622 Global DamageHistory
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-ai/src/main/java/forge/ai/simulation/GameCopier.java
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/GameEntity.java
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/CounterEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardDamageHistory.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-game/src/main/java/forge/game/trigger/TriggerChangesZone.java
  forge-game/src/main/java/forge/game/trigger/TriggerDamageDone.java
  forge-gui/res/cardsfolder/a/admiral_beckett_brass.txt
  forge-gui/res/cardsfolder/b/blazing_sunsteel.txt
  forge-gui/res/cardsfolder/b/blinding_beam.txt
  forge-gui/res/cardsfolder/b/bloodcrazed_goblin.txt
  forge-gui/res/cardsfolder/d/discordant_spirit.txt
  forge-gui/res/cardsfolder/g/gales_redirection.txt
  forge-gui/res/cardsfolder/g/glen_elendra.txt
  forge-gui/res/cardsfolder/g/grothama_all_devouring.txt
  forge-gui/res/cardsfolder/h/hope_of_ghirapur.txt
  forge-gui/res/cardsfolder/i/inferno_trap.txt
  forge-gui/res/cardsfolder/k/kumano_faces_kakkazan_etching_of_kumano.txt
  forge-gui/res/cardsfolder/k/kumanos_blessing.txt
  forge-gui/res/cardsfolder/l/loxodon_lifechanter.txt
  forge-gui/res/cardsfolder/n/nothing_can_stop_me_now.txt
  forge-gui/res/cardsfolder/n/notorious_throng.txt
  forge-gui/res/cardsfolder/r/runesword.txt
  forge-gui/res/cardsfolder/s/simulacrum.txt
  forge-gui/res/cardsfolder/s/skarrgan_firebird.txt
  forge-gui/res/cardsfolder/s/skirk_alarmist.txt
  forge-gui/res/cardsfolder/t/touch_of_moonglove.txt
  forge-gui/res/cardsfolder/u/unscythe_killer_of_kings.txt
  forge-gui/res/cardsfolder/upcoming/dragon_cultist.txt
  forge-gui/res/cardsfolder/upcoming/gnoll_war_band.txt
  forge-gui/res/cardsfolder/upcoming/indulge_excess.txt
  forge-gui/res/cardsfolder/w/war_elemental.txt
  forge-gui/res/cardsfolder/w/wicked_akuba.txt
Labels: Game Mechanics

#1001 Blitz Again, check for Keyword
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/keyword/KeywordInstance.java
  forge-game/src/main/java/forge/game/keyword/KeywordInterface.java
Labels: Game Mechanics

#1022 CLB: Vhal, Candlekeep Researcher and support
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
  forge-gui/res/cardsfolder/upcoming/vhal_candelkeep_researcher.txt
Labels: Upcoming Set, Game Mechanics, AI

#1023 CLB: 3 July
  forge-gui/res/cardsfolder/upcoming/mold_folk.txt
  forge-gui/res/cardsfolder/upcoming/shadowheart_dark_justiciar.txt
  forge-gui/res/cardsfolder/upcoming/sivriss_nightmare_speaker.txt
  forge-gui/res/cardsfolder/upcoming/skanos_dragonheart.txt
Labels: Upcoming Set

#1032 Game Night 2022 edition file
  forge-gui/res/editions/Game Night 2022.txt
Labels: Upcoming Set

#1030 Add Mirror of Life Trapping
  forge-gui/res/cardsfolder/upcoming/mirror_of_life_trapping.txt
Labels: Upcoming Set

#1034 GN3: Maeve, Insidious Singer (+implement GoadEffect.getStackDescription)
  forge-game/src/main/java/forge/game/ability/effects/GoadEffect.java
  forge-gui/res/cardsfolder/upcoming/maeve_insidious_singer.txt
Labels: Upcoming Set, StackDesc

#1025 GN 22 Nogi, Draco Zealot
  forge-gui/res/cardsfolder/upcoming/nogi_draco_zealot.txt
Labels: Upcoming Set

#1036 Fix 2 NPE
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-gui/res/cardsfolder/t/turf_war.txt
Labels: bug

#1019 CLB: Firkraag, Cunning Instigator and support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/combat/AttackConstraints.java
  forge-game/src/main/java/forge/game/combat/AttackRequirement.java
  forge-game/src/main/java/forge/game/combat/GlobalAttackRestrictions.java
  forge-gui/res/cardsfolder/upcoming/firkraag_cunning_instigator.txt
Labels: Upcoming Set

#1026 Card script for CLB - Bane Lord of Darkness
  forge-gui/res/cardsfolder/upcoming/bane_lord_of_darkness.txt
Labels: Upcoming Set

#1035 Card script for CLB - Aboleth Spawn and modifications to TriggerAbilityTriggered to make it work.
  forge-game/src/main/java/forge/game/trigger/TriggerAbilityTriggered.java
  forge-gui/res/cardsfolder/upcoming/aboleth_spawn.txt
Labels: Upcoming Set

#1033 GN3: Imaryll, Elfhame Elite (+ refactor another quasi-keyword -> static)
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/AiBlockController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-ai/src/main/java/forge/ai/CreatureEvaluator.java
  forge-game/src/main/java/forge/game/ability/effects/AnimateAllEffect.java
  forge-game/src/main/java/forge/game/combat/Combat.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityAssignCombatDamageAsUnblocked.java
  forge-gui/res/cardsfolder/d/deathcoil_wurm.txt
  forge-gui/res/cardsfolder/g/garruk_savage_herald.txt
  forge-gui/res/cardsfolder/g/gurzigost.txt
  forge-gui/res/cardsfolder/i/indomitable_might.txt
  forge-gui/res/cardsfolder/l/lone_wolf.txt
  forge-gui/res/cardsfolder/o/outmaneuver.txt
  forge-gui/res/cardsfolder/p/predatory_focus.txt
  forge-gui/res/cardsfolder/p/pride_of_lions.txt
  forge-gui/res/cardsfolder/p/proud_wildbonder.txt
  forge-gui/res/cardsfolder/r/rhox.txt
  forge-gui/res/cardsfolder/r/ruxa_patient_professor.txt
  forge-gui/res/cardsfolder/s/siege_behemoth.txt
  forge-gui/res/cardsfolder/s/spinebiter.txt
  forge-gui/res/cardsfolder/t/thorn_elemental.txt
  forge-gui/res/cardsfolder/t/tornado_elemental.txt
  forge-gui/res/cardsfolder/upcoming/imaryll_elfhame_elite.txt
  forge-gui/res/cardsfolder/w/wolf_pack.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#1040 CLB: Carnelian Orb of Dragonkind and support
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/d/domri_chaos_bringer.txt
  forge-gui/res/cardsfolder/g/generator_servant.txt
  forge-gui/res/cardsfolder/h/hall_of_the_bandit_lord.txt
  forge-gui/res/cardsfolder/upcoming/carnelian_orb_of_dragonkind.txt
Labels: Upcoming Set, Game Mechanics

#1008 Give Alchemy mechanic Spellbook Draft its own API
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardNameEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DraftEffect.java
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-gui/res/cardsfolder/a/arms_scavenger.txt
  forge-gui/res/cardsfolder/b/boseiju_pathlighter.txt
  forge-gui/res/cardsfolder/c/cursebound_witch.txt
  forge-gui/res/cardsfolder/e/experimental_pilot.txt
  forge-gui/res/cardsfolder/f/faithful_disciple.txt
  forge-gui/res/cardsfolder/g/garruk_wrath_of_the_wilds.txt
  forge-gui/res/cardsfolder/h/hinterland_chef.txt
  forge-gui/res/cardsfolder/i/imperial_blademaster.txt
  forge-gui/res/cardsfolder/i/ishkanah_broodmother.txt
  forge-gui/res/cardsfolder/k/key_to_the_archive.txt
  forge-gui/res/cardsfolder/o/ominous_traveler.txt
  forge-gui/res/cardsfolder/s/slayers_bounty.txt
  forge-gui/res/cardsfolder/t/tibalt_wicked_tormentor.txt
  forge-gui/res/cardsfolder/t/tireless_angler.txt
  forge-gui/res/cardsfolder/upcoming/bind_to_secrecy.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#1007 (YCLB) The Hourglass Coven and spellbook cards
  forge-gui/res/cardsfolder/rebalanced/a-armory_veteran.txt
  forge-gui/res/cardsfolder/upcoming/hag_of_ceaseless_torment.txt
  forge-gui/res/cardsfolder/upcoming/hag_of_dark_duress.txt
  forge-gui/res/cardsfolder/upcoming/hag_of_deaths_legion.txt
  forge-gui/res/cardsfolder/upcoming/hag_of_inner_weakness.txt
  forge-gui/res/cardsfolder/upcoming/hag_of_mages_doom.txt
  forge-gui/res/cardsfolder/upcoming/hag_of_noxious_nightmares.txt
  forge-gui/res/cardsfolder/upcoming/hag_of_scoured_thoughts.txt
  forge-gui/res/cardsfolder/upcoming/hag_of_syphoned_breath.txt
  forge-gui/res/cardsfolder/upcoming/hag_of_twisted_visions.txt
  forge-gui/res/cardsfolder/upcoming/the_hourglass_coven.txt
  forge-gui/res/editions/Warhammer 40,000.txt
Labels: Upcoming Set

#1037 3 CLB cards
  forge-gui/res/cardsfolder/upcoming/bonecaller_cleric.txt
  forge-gui/res/cardsfolder/upcoming/carefree_swinemaster.txt
  forge-gui/res/cardsfolder/upcoming/chain_devil.txt
Labels: Upcoming Set

#1041 Create mocking_doppelganger.txt
  forge-gui/res/cardsfolder/upcoming/mocking_doppelganger.txt
Labels: Upcoming Set

#1050 DraftEffect fix bad comment lines
  forge-game/src/main/java/forge/game/ability/effects/DraftEffect.java
Labels: bug

#1053 CLB: Elminster and support
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/staticability/StaticAbility.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-game/src/main/java/forge/game/trigger/TriggerScry.java
  forge-gui/res/cardsfolder/upcoming/elminster.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set, Game Mechanics, StackDesc

#1048 Moonshae Pixie & Myrkul's Edict
  forge-gui/res/cardsfolder/upcoming/moonshae_pixie.txt
  forge-gui/res/cardsfolder/upcoming/myrkuls_edict.txt
Labels: Upcoming Set

#1061 Card Script for Wilson, Refined Grizzly
  Wilson Refined Grizzly.txt
Labels: Upcoming Set

#1067 SLD Fortnite update
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#1075 Alchemy Horizons: Baldur's Gate edition file
  forge-gui/res/editions/Alchemy Horizons Baldur's Gate.txt
Labels: Upcoming Set

#1060 Card Script for Haunted One
  forge-gui/res/cardsfolder/upcoming/haunted_one.txt
Labels: Upcoming Set

#1059 Card Script for Blur
  forge-gui/res/cardsfolder/upcoming/blur.txt
Labels: Upcoming Set

#1064 TriggerMilledAll (for Zellix [CLB])
  forge-game/src/main/java/forge/game/card/CardZoneTable.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/trigger/TriggerMilledAll.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
Labels: Upcoming Set, Game Mechanics

#1074 Northmocs Zangief and support, round two
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardDamageMap.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-gui/res/cardsfolder/upcoming/elminster.txt
  forge-gui/res/cardsfolder/upcoming/zangief_the_red_cyclone.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#1085 Add HBG to formats
  forge-gui/res/formats/Archived/Alchemy/2022-07-07.txt
  forge-gui/res/formats/Archived/Historic/2022-07-07.txt
  forge-gui/res/formats/Sanctioned/Historic.txt
Labels: Format Changes

#1062 CLB: Stick Together and support
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardEffect.java
  forge-gui/res/cardsfolder/upcoming/stick_together.txt
Labels: Upcoming Set, Game Mechanics

#1044 Card Script for Alaundo the Seer.
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-gui/release-files/CONTRIBUTORS.txt
  forge-gui/res/cardsfolder/upcoming/alaundo_the_seer.txt
Labels: Upcoming Set

#1089 add lblAttacker from TriggerAttackerBlockedOnce
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: StackDesc

#1090 Fix typos/add AI
  forge-gui/res/cardsfolder/a/aerial_predation.txt
  forge-gui/res/cardsfolder/c/cathedral_sanctifier.txt
  forge-gui/res/cardsfolder/e/ephemerate.txt
Labels: AI, Card Cleanup

#1092 CLB Adventure commons
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-gui/res/cardsfolder/upcoming/colossal_badger_dig_deep.txt
  forge-gui/res/cardsfolder/upcoming/ettercap_web_shot.txt
  forge-gui/res/cardsfolder/upcoming/gray_slaad_entropic_decay.txt
  forge-gui/res/cardsfolder/upcoming/guardian_naga_banishing_coils.txt
  forge-gui/res/cardsfolder/upcoming/hezrou_demonic_stench.txt
  forge-gui/res/cardsfolder/upcoming/pegasus_guardian_rescue_the_foal.txt
  forge-gui/res/cardsfolder/upcoming/sword_coast_serpent_capsizing_wave.txt
Labels: Upcoming Set, StackDesc

#1097 Rescue the Foal add Oracle:
  forge-gui/res/cardsfolder/upcoming/pegasus_guardian_rescue_the_foal.txt
Labels: Upcoming Set

#1098 Fix AI casting suspended spells against Drannith Magistrate
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-gui/res/cardsfolder/d/djerus_resolve.txt
  forge-gui/res/cardsfolder/g/godtoucher.txt
  forge-gui/res/cardsfolder/h/harvestguard_alseids.txt
  forge-gui/res/cardsfolder/i/indestructible_aura.txt
  forge-gui/res/cardsfolder/p/piston_fist_cyclops.txt
  forge-gui/res/cardsfolder/s/shielded_passage.txt
  forge-gui/res/cardsfolder/w/wellgabber_apothecary.txt
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: AI, Card Cleanup

#1056 CLB: Illithid Harvester // Plant Tadpoles and support
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SetStateEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/upcoming/illithid_harvester_plant_tadpoles.txt
Labels: Upcoming Set, Game Mechanics

#1091 CLB: Battle Angels of Tyr + Neera, Wild Mage
  forge-game/src/main/java/forge/game/ability/effects/DigUntilEffect.java
  forge-gui/res/cardsfolder/upcoming/battle_angels_of_tyr.txt
  forge-gui/res/cardsfolder/upcoming/neera_wild_mage.txt
Labels: Upcoming Set, Game Mechanics

#1105 Move MH2 rebalanced to J21
  forge-gui/res/editions/Jumpstart Historic Horizons.txt
  forge-gui/res/editions/Modern Horizons 2.txt
Labels: Format Changes

#1106 LastState: pass through from GameAction into ReplacementHandler & performance fixes
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
Labels: Game Mechanics

#1076 Make charm choices of triggers for each while it gets added to stack, not before
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-ai/src/main/java/forge/ai/ability/CharmAi.java
  forge-ai/src/main/java/forge/ai/ability/ChooseGenericEffectAi.java
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseGenericEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/cost/CostPutCounter.java
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-game/src/main/java/forge/game/trigger/TriggerScry.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/m/maze_of_ith.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Game Mechanics, Rules compliance

#1123 Fix copied trigger not resetting numberTurnActivations
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-gui/res/cardsfolder/f/final_parting.txt
Labels: Game Mechanics

#1087 CLB: 9 July
  forge-gui/res/cardsfolder/upcoming/astral_dragon.txt
  forge-gui/res/cardsfolder/upcoming/ingenious_artillerist.txt
  forge-gui/res/cardsfolder/upcoming/jade_orb_of_dragonkind.txt
  forge-gui/res/cardsfolder/upcoming/marut.txt
  forge-gui/res/cardsfolder/upcoming/street_urchin.txt
Labels: Upcoming Set

#1126 Fix multiple state trigger
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffect.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/b/boreal_outrider.txt
  forge-gui/res/cardsfolder/o/olivia_crimson_bride.txt
Labels: Game Mechanics

#1135 Cleanup cards
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityStackInstance.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-gui-desktop/src/main/java/forge/gui/GuiChoose.java
  forge-gui/res/cardsfolder/c/colfenor_the_last_yew.txt
  forge-gui/res/cardsfolder/m/mausoleum_turnkey.txt
  forge-gui/res/cardsfolder/t/timothar_baron_of_bats.txt
  forge-gui/res/cardsfolder/upcoming/elminster.txt
  forge-gui/res/cardsfolder/upcoming/neera_wild_mage.txt
Labels: Card Cleanup

#704 CLB: Nine-Fingers Keene
  forge-gui/res/cardsfolder/upcoming/basilisk_gate.txt
  forge-gui/res/cardsfolder/upcoming/black_dragon_gate.txt
  forge-gui/res/cardsfolder/upcoming/gond_gate.txt
  forge-gui/res/cardsfolder/upcoming/heap_gate.txt
  forge-gui/res/cardsfolder/upcoming/manor_gate.txt
  forge-gui/res/cardsfolder/upcoming/navigation_orb.txt
  forge-gui/res/cardsfolder/upcoming/nine-fingers_keene.txt
  forge-gui/res/cardsfolder/upcoming/sea_gate.txt
  forge-gui/res/cardsfolder/upcoming/tasha_unholy_archmage.txt
Labels: Upcoming Set

#1139 Allow saving from towns.
  forge-gui-mobile/src/forge/adventure/scene/SaveLoadScene.java
  forge-gui-mobile/src/forge/adventure/scene/StartScene.java
  forge-gui-mobile/src/forge/adventure/scene/TileMapScene.java
Labels: enhancement

#1130 Simultaneous untilHostLeavesPlay trigger
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/card/CardZoneTable.java
Labels: Rules compliance

#1136 Remove CastSACMC
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/CounterEffect.java
  forge-game/src/main/java/forge/game/staticability/StaticAbility.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/b/bounteous_kirin.txt
  forge-gui/res/cardsfolder/c/celestial_kirin.txt
  forge-gui/res/cardsfolder/c/cloudhoof_kirin.txt
  forge-gui/res/cardsfolder/d/deekah_fractal_theorist.txt
  forge-gui/res/cardsfolder/d/dovescape.txt
  forge-gui/res/cardsfolder/e/endrek_sahr_master_breeder.txt
  forge-gui/res/cardsfolder/e/erratic_cyclops.txt
  forge-gui/res/cardsfolder/g/gales_redirection.txt
  forge-gui/res/cardsfolder/g/geometric_nexus.txt
  forge-gui/res/cardsfolder/h/hedron_matrix.txt
  forge-gui/res/cardsfolder/i/imminent_doom.txt
  forge-gui/res/cardsfolder/i/infernal_kirin.txt
  forge-gui/res/cardsfolder/k/kaervek_the_merciless.txt
  forge-gui/res/cardsfolder/k/killer_cosplay.txt
  forge-gui/res/cardsfolder/l/living_lore.txt
  forge-gui/res/cardsfolder/l/lozhan_dragons_legacy.txt
  forge-gui/res/cardsfolder/m/manaplasm.txt
  forge-gui/res/cardsfolder/m/metallurgic_summonings.txt
  forge-gui/res/cardsfolder/p/prismari_apprentice.txt
  forge-gui/res/cardsfolder/r/rage_extractor.txt
  forge-gui/res/cardsfolder/r/rumbling_aftershocks.txt
  forge-gui/res/cardsfolder/s/skyfire_kirin.txt
  forge-gui/res/cardsfolder/s/sunbirds_invocation.txt
  forge-gui/res/cardsfolder/upcoming/livaan_cultist_of_tiamat.txt
  forge-gui/res/cardsfolder/v/veiled_sentry.txt
  forge-gui/res/cardsfolder/v/vial_smasher_the_fierce.txt
  forge-gui/res/cardsfolder/v/vivien_monsters_advocate.txt
  forge-gui/res/cardsfolder/z/zaffai_thunder_conductor.txt
Labels: Rules compliance

#1148 Add HBG Basic Lands to edition file
  forge-gui/res/editions/Alchemy Horizons Baldur's Gate.txt
Labels: Upcoming Set

#1081 Create nalia_dearnise.txt
  forge-gui/res/cardsfolder/upcoming/nalia_dearnise.txt
Labels: Upcoming Set

#1153 some CLB cards
  forge-game/src/main/java/forge/game/ability/effects/DestroyEffect.java
  forge-gui/res/cardsfolder/upcoming/tabaxi_toucaneers.txt
  forge-gui/res/cardsfolder/upcoming/taunting_kobold.txt
  forge-gui/res/cardsfolder/upcoming/the_council_of_four.txt
  forge-gui/res/cardsfolder/upcoming/thunderwave.txt
  forge-gui/res/cardsfolder/upcoming/tiamats_fanatics.txt
  forge-gui/res/cardsfolder/upcoming/uchuulon.txt
  forge-gui/res/cardsfolder/upcoming/undercellar_myconid.txt
  forge-gui/res/cardsfolder/upcoming/vexing_puzzlebox.txt
  forge-gui/res/cardsfolder/upcoming/vrock.txt
  forge-gui/res/cardsfolder/upcoming/warehouse_thief.txt
  forge-gui/res/cardsfolder/upcoming/wild_magic_surge.txt
  forge-gui/res/cardsfolder/upcoming/winter_eladrin.txt
  forge-gui/res/cardsfolder/upcoming/wyrms_crossing_patrol.txt
  forge-gui/res/cardsfolder/upcoming/you_look_upon_the_tarrasque.txt
  forge-gui/res/cardsfolder/upcoming/your_temple_is_under_attack.txt
  forge-gui/res/cardsfolder/upcoming/youre_confronted_by_robbers.txt
  forge-gui/res/cardsfolder/upcoming/youve_been_caught_stealing.txt
Labels: Upcoming Set

#1151 CLB: Ancient Gold Dragon, Bane's Contingency, Barroom Brawl
  forge-gui/res/cardsfolder/upcoming/ancient_gold_dragon.txt
  forge-gui/res/cardsfolder/upcoming/banes_contingency.txt
  forge-gui/res/cardsfolder/upcoming/barroom_brawl.txt
  forge-gui/res/cardsfolder/upcoming/beckoning_will_o_wisp.txt
  forge-gui/res/cardsfolder/upcoming/campfire.txt
  forge-gui/res/cardsfolder/upcoming/candlekeep_inspiration.txt
  forge-gui/res/cardsfolder/upcoming/clan_crafter.txt
  forge-gui/res/cardsfolder/upcoming/folk_hero.txt
  forge-gui/res/cardsfolder/upcoming/harper_recruiter.txt
  forge-gui/res/cardsfolder/upcoming/multiclass_baldric.txt
  forge-gui/res/cardsfolder/upcoming/seasoned_dungeoneer.txt
  forge-gui/res/cardsfolder/upcoming/solemn_doomguide.txt
Labels: Upcoming Set

#1161 Create pact_weapon.txt
  forge-gui/res/cardsfolder/upcoming/pact_weapon.txt
Labels: Upcoming Set

#1058 Card Script for Zellix, Sanity Flayer
  forge-gui/res/cardsfolder/upcoming/zellix_sanity_flayer.txt
  forge-gui/res/tokenscripts/b_1_1_horror.txt
Labels: Upcoming Set

#1166 DMU, DMC, HA6, EA1 new editions & GDY, SCH edition updates
  forge-gui/res/editions/Dominaria United Commander.txt
  forge-gui/res/editions/Dominaria United.txt
  forge-gui/res/editions/Explorer Anthology 1.txt
  forge-gui/res/editions/Game Day Promos.txt
  forge-gui/res/editions/Historic Anthology 6.txt
  forge-gui/res/editions/Store Championships 2022.txt
Labels: Upcoming Set

#1167 SLD edition update & add P30A edition
  forge-gui/res/editions/30th Anniversary Promos.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#1170 tome_of_legends.txt remove bad AI line
  forge-gui/res/cardsfolder/t/tome_of_legends.txt
Labels: AI, Card Cleanup

#1171 DeckHas for treasure QoL stuff
  forge-gui/res/cardsfolder/a/an_offer_you_cant_refuse.txt
  forge-gui/res/cardsfolder/a/atsushi_the_blazing_sky.txt
  forge-gui/res/cardsfolder/g/gala_greeters.txt
  forge-gui/res/cardsfolder/p/professional_face_breaker.txt
  forge-gui/res/cardsfolder/upcoming/scouting_hawk.txt
  forge-gui/res/cardsfolder/upcoming/swashbuckler_extraordinaire.txt
Labels: Card Cleanup

#1169 2 DMU cards
  forge-gui/res/cardsfolder/upcoming/llanowar_loamspeaker.txt
  forge-gui/res/cardsfolder/upcoming/shivan_devastator.txt
Labels: Upcoming Set

#1176 CLB: Nalfeshnee & support
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-gui/res/cardsfolder/upcoming/nalfeshnee.txt
Labels: Upcoming Set, Game Mechanics

#1172 CLB - 22 Jul
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/g/grixis_battlemage.txt
  forge-gui/res/cardsfolder/t/thallid.txt
  forge-gui/res/cardsfolder/upcoming/cut_a_deal.txt
  forge-gui/res/cardsfolder/upcoming/death_kiss.txt
  forge-gui/res/cardsfolder/upcoming/descent_into_avernus.txt
  forge-gui/res/cardsfolder/upcoming/dire_mimic.txt
  forge-gui/res/cardsfolder/upcoming/dragonborn_looter.txt
Labels: Upcoming Set, Card Cleanup

#1180 Fix scripts causing deck editor crash
  forge-gui/res/cardsfolder/upcoming/juvenile_mist_dragon.txt
  forge-gui/res/cardsfolder/upcoming/navigation_orb.txt
  forge-gui/res/cardsfolder/upcoming/overwhelming_encounter.txt
Labels: Card Patch

#1160 Fix Jaxis
  forge-ai/src/main/java/forge/ai/ComputerUtilAbility.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-gui/res/cardsfolder/h/helm_of_the_host.txt
  forge-gui/res/cardsfolder/j/jaxis_the_troublemaker.txt
  forge-gui/res/cardsfolder/k/kindred_charge.txt
  forge-gui/res/cardsfolder/r/rionya_fire_dancer.txt
  forge-gui/res/cardsfolder/s/saheeli_the_gifted.txt
Labels: Card Patch

#1164 Create psionic_ritual.txt
  forge-gui/res/cardsfolder/upcoming/psionic_ritual.txt
Labels: Upcoming Set

#1181 Clean up a few cards
  forge-gui/res/cardsfolder/s/skyway_robber.txt
  forge-gui/res/cardsfolder/upcoming/navigation_orb.txt
  forge-gui/res/cardsfolder/upcoming/overwhelming_encounter.txt
Labels: Card Cleanup

#1175 CLB - 22 Jul (even more)
  forge-gui/res/cardsfolder/upcoming/journey_to_the_lost_city.txt
  forge-gui/res/cardsfolder/upcoming/laezels_acrobatics.txt
  forge-gui/res/cardsfolder/upcoming/loot_dispute.txt
  forge-gui/res/cardsfolder/upcoming/majestic_genesis.txt
  forge-gui/res/cardsfolder/upcoming/modify_memory.txt
Labels: Upcoming Set

#1186 CLB - 23 Jul (more)
  forge-gui/res/cardsfolder/s/selvalas_charge.txt
  forge-gui/res/cardsfolder/upcoming/nautiloid_ship.txt
  forge-gui/res/cardsfolder/upcoming/nefarious_imp.txt
  forge-gui/res/cardsfolder/upcoming/nimbleclaw_adept.txt
  forge-gui/res/cardsfolder/upcoming/owlbear_cub.txt
  forge-gui/res/cardsfolder/upcoming/pack_attack.txt
Labels: Upcoming Set, Card Cleanup

#1188 Fix Baeloth and some others
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/DigUntilEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityActivateAbilityAsIfHaste.java
  forge-gui/res/cardsfolder/a/archelos_lagoon_mystic.txt
  forge-gui/res/cardsfolder/e/esior_wardwing_familiar.txt
  forge-gui/res/cardsfolder/k/kasmina_enigmatic_mentor.txt
  forge-gui/res/cardsfolder/k/kopala_warden_of_waves.txt
  forge-gui/res/cardsfolder/m/mavinda_students_advocate.txt
  forge-gui/res/cardsfolder/m/monastery_siege.txt
  forge-gui/res/cardsfolder/upcoming/baeloth_barrityl_entertainer.txt
  forge-gui/res/cardsfolder/upcoming/gond_gate.txt
Labels: Card Patch

#1190 UNF edition update
  forge-gui/res/editions/Unfinity.txt
Labels: Upcoming Set

#1192 Fix Spectra Ward preventing attaching more aura (indirectly)
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantAttach.java
  forge-gui/res/cardsfolder/b/benevolent_blessing.txt
  forge-gui/res/cardsfolder/c/confound.txt
  forge-gui/res/cardsfolder/e/emissary_of_grudges.txt
  forge-gui/res/cardsfolder/h/hindering_light.txt
  forge-gui/res/cardsfolder/h/hydromorph_guardian.txt
  forge-gui/res/cardsfolder/h/hydromorph_gull.txt
Labels: Rules compliance

#1187 Protection from player display updates (CLB Noble Heritage)
  forge-game/src/main/java/forge/game/ability/effects/PumpEffect.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/player/PlayerFactoryUtil.java
  forge-gui/res/cardsfolder/e/eon_frolicker.txt
  forge-gui/res/cardsfolder/upcoming/noble_heritage.txt
Labels: enhancement, Upcoming Set

#1184 CLB - 23 Jul
  forge-gui/res/cardsfolder/upcoming/from_the_catacombs.txt
  forge-gui/res/cardsfolder/upcoming/guildsworn_prowler.txt
  forge-gui/res/cardsfolder/upcoming/horn_of_valhalla_ysgards_call.txt
  forge-gui/res/cardsfolder/upcoming/inspiring_leader.txt
  forge-gui/res/cardsfolder/upcoming/intellect_devourer.txt
  forge-gui/res/cardsfolder/upcoming/nalfeshnee.txt
Labels: Upcoming Set

#1174 CLB - 22 Jul (more)
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/b/barrowin_of_clan_undurr.txt
  forge-gui/res/cardsfolder/upcoming/drillworks_mole.txt
  forge-gui/res/cardsfolder/upcoming/druidic_ritual.txt
  forge-gui/res/cardsfolder/upcoming/emerald_dragon_dissonant_wave.txt
  forge-gui/res/cardsfolder/upcoming/flaming_fist.txt
  forge-gui/res/cardsfolder/upcoming/fraying_line.txt
  forge-gui/res/languages/en-US.properties
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#1202 Fix Chooser$ defaults & Evolve for non-creatures
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TwoPilesEffect.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-gui/res/cardsfolder/c/chimney_goyf.txt
  forge-gui/res/cardsfolder/c/chimney_imp.txt
  forge-gui/res/cardsfolder/c/chittering_rats.txt
  forge-gui/res/cardsfolder/e/emergent_ultimatum.txt
  forge-gui/res/cardsfolder/g/guided_passage.txt
  forge-gui/res/cardsfolder/p/prying_questions.txt
Labels: Card Cleanup, Rules compliance

#1213 Create skyline_savior.txt
  forge-gui/res/cardsfolder/upcoming/skyline_savior.txt
Labels: Upcoming Set

#1200 TwoPiles streamline (+ CLB Split the Spoils)
  forge-game/src/main/java/forge/game/ability/effects/TwoPilesEffect.java
  forge-gui/res/cardsfolder/a/atris_oracle_of_half_truths.txt
  forge-gui/res/cardsfolder/b/boneyard_parley.txt
  forge-gui/res/cardsfolder/b/brilliant_ultimatum.txt
  forge-gui/res/cardsfolder/c/choose_your_demise.txt
  forge-gui/res/cardsfolder/e/epiphany_at_the_drownyard.txt
  forge-gui/res/cardsfolder/f/fact_or_fiction.txt
  forge-gui/res/cardsfolder/f/fight_or_flight.txt
  forge-gui/res/cardsfolder/f/fortunes_favor.txt
  forge-gui/res/cardsfolder/j/jace_architect_of_thought.txt
  forge-gui/res/cardsfolder/l/liliana_of_the_veil.txt
  forge-gui/res/cardsfolder/m/make_an_example.txt
  forge-gui/res/cardsfolder/p/phyrexian_portal.txt
  forge-gui/res/cardsfolder/r/raging_river.txt
  forge-gui/res/cardsfolder/s/sphinx_of_uthuun.txt
  forge-gui/res/cardsfolder/s/stand_or_fall.txt
  forge-gui/res/cardsfolder/s/steam_augury.txt
  forge-gui/res/cardsfolder/u/unesh_criosphinx_sovereign.txt
  forge-gui/res/cardsfolder/u/urza_academy_headmaster.txt
  forge-gui/res/cardsfolder/upcoming/split_the_spoils.txt
Labels: Upcoming Set, Card Cleanup

#1205 Sarevok's Tome (CLB) and related tweaks
  forge-game/src/main/java/forge/game/ability/effects/DigUntilEffect.java
  forge-gui/res/cardsfolder/d/demonlord_belzenlok.txt
  forge-gui/res/cardsfolder/e/eldrazi_obligator.txt
  forge-gui/res/cardsfolder/i/illuna_apex_of_wishes.txt
  forge-gui/res/cardsfolder/u/undying_flames.txt
  forge-gui/res/cardsfolder/upcoming/sarevoks_tome.txt
Labels: Upcoming Set, Card Cleanup, StackDesc

#1210 CLB: 5 scripts, incl. 2 backgrounds
  forge-gui/res/cardsfolder/upcoming/cloudkill.txt
  forge-gui/res/cardsfolder/upcoming/coronation_of_chaos.txt
  forge-gui/res/cardsfolder/upcoming/criminal_past.txt
  forge-gui/res/cardsfolder/upcoming/crystal_dragon_rob_the_hoard.txt
  forge-gui/res/cardsfolder/upcoming/cultist_of_the_absolute.txt
  forge-gui/res/cardsfolder/upcoming/evolved_sleeper.txt
  forge-gui/res/cardsfolder/upcoming/jaya_fiery_negotiator.txt
  forge-gui/res/tokenscripts/r_1_1_monk_prowess.txt
Labels: Upcoming Set

#1208 CLB: Windshaper Planetar and support
  forge-game/src/main/java/forge/game/ability/effects/ChangeCombatantsEffect.java
  forge-gui/res/cardsfolder/p/portal_mage.txt
  forge-gui/res/cardsfolder/upcoming/windshaper_planetar.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#1219 Durnan fix
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/staticability/StaticAbility.java
  forge-gui/res/cardsfolder/a/aven_mimeomancer.txt
  forge-gui/res/cardsfolder/c/cyclone_sire.txt
  forge-gui/res/cardsfolder/h/hatchet_bully.txt
  forge-gui/res/cardsfolder/n/noyan_dar_roil_shaper.txt
  forge-gui/res/cardsfolder/upcoming/durnan_of_the_yawning_portal.txt
  forge-gui/res/cardsfolder/w/wall_of_resurgence.txt
Labels: bug, Card Cleanup, Card Patch, Rules compliance

#1207 CLB: Spectacular Showdown and support
  forge-game/src/main/java/forge/game/GameEntityCounterTable.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/ability/effects/GoadEffect.java
  forge-gui/res/cardsfolder/a/agitator_ant.txt
  forge-gui/res/cardsfolder/upcoming/spectacular_showdown.txt
Labels: Upcoming Set, Game Mechanics, Card Patch, StackDesc, Rules compliance

#1220 Card tweaks (recently added and related)
  forge-gui/res/cardsfolder/c/channel_harm.txt
  forge-gui/res/cardsfolder/upcoming/crystal_dragon_rob_the_hoard.txt
  forge-gui/res/cardsfolder/upcoming/druidic_ritual.txt
  forge-gui/res/cardsfolder/upcoming/evolved_sleeper.txt
  forge-gui/res/cardsfolder/upcoming/jaya_fiery_negotiator.txt
  forge-gui/res/cardsfolder/upcoming/skyline_savior.txt
  forge-gui/res/editions/Dominaria United.txt
Labels: Upcoming Set, AI, Card Cleanup, Card Patch

#1209 CLB: 26 Jul (more)
  forge-gui/res/cardsfolder/upcoming/two_handed_axe_sweeping_cleave.txt
  forge-gui/res/cardsfolder/upcoming/viconia_drow_apostate.txt
Labels: Upcoming Set

#1227 AiBlockController: Performance
  forge-ai/src/main/java/forge/ai/AiBlockController.java
Labels: AI

#1239 Update HA6 & EA1 editions
  forge-gui/res/editions/Explorer Anthology 1.txt
  forge-gui/res/editions/Historic Anthology 6.txt
  forge-gui/res/formats/Archived/Historic/2022-07-28.txt
  forge-gui/res/formats/Sanctioned/Historic.txt
Labels: Upcoming Set

#1241 Card cleanup and small fixes
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-game/src/main/java/forge/game/spellability/TargetRestrictions.java
  forge-gui/res/cardsfolder/a/angel_of_condemnation.txt
  forge-gui/res/cardsfolder/a/ascent_of_the_worthy.txt
  forge-gui/res/cardsfolder/c/celestial_sword.txt
  forge-gui/res/cardsfolder/c/chancellor_of_the_annex.txt
  forge-gui/res/cardsfolder/d/dimensional_breach.txt
  forge-gui/res/cardsfolder/f/flickerform.txt
  forge-gui/res/cardsfolder/g/gideons_sacrifice.txt
  forge-gui/res/cardsfolder/g/goblin_polka_band.txt
  forge-gui/res/cardsfolder/g/goblin_ski_patrol.txt
  forge-gui/res/cardsfolder/h/horn_of_plenty.txt
  forge-gui/res/cardsfolder/i/ixalans_binding.txt
  forge-gui/res/cardsfolder/l/lumbering_battlement.txt
  forge-gui/res/cardsfolder/m/mindleecher.txt
  forge-gui/res/cardsfolder/m/mnemonic_betrayal.txt
  forge-gui/res/cardsfolder/o/obzedat_ghost_council.txt
  forge-gui/res/cardsfolder/upcoming/dynaheir_invoker_adept.txt
  forge-gui/res/cardsfolder/v/vines_of_vastwood.txt
  forge-gui/res/cardsfolder/z/zevlor_elturel_exile.txt
Labels: Card Cleanup, Card Patch

#1245 SLD edition update
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#1246 Fix Second Guess
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/e/errant_street_artist.txt
  forge-gui/res/cardsfolder/s/second_guess.txt
Labels: bug

#1250 Cleanup & fix few more
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/a/absorb_energy.txt
  forge-gui/res/cardsfolder/c/crown_of_convergence.txt
  forge-gui/res/cardsfolder/c/cryptic_gateway.txt
  forge-gui/res/cardsfolder/e/elkin_lair.txt
  forge-gui/res/cardsfolder/g/grinning_totem.txt
  forge-gui/res/cardsfolder/i/inspiring_overseer.txt
  forge-gui/res/cardsfolder/p/possibility_storm.txt
  forge-gui/res/cardsfolder/r/reality_scramble.txt
  forge-gui/res/cardsfolder/r/reweave.txt
  forge-gui/res/cardsfolder/upcoming/wild_magic_surge.txt
Labels: Card Cleanup, Card Patch
