Repository Card-Forge/forge, pull requests merged in 2022-08, with the labels that each got.

#1259 Fix noncreature permanents having P/T
  forge-game/src/main/java/forge/game/card/Card.java
Labels: Rules compliance

#1260 Panharmonicon + "triggers only once"
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPanharmonicon.java
Labels: Game Mechanics, Rules compliance

#1211 CLB: Volo, Journal, support, etc.
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseTypeEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-game/src/main/java/forge/trackable/TrackableProperty.java
  forge-gui/res/cardsfolder/upcoming/volo_itinerant_scholar.txt
  forge-gui/res/tokenscripts/volos_journal.txt
  forge-gui/src/main/java/forge/gui/card/CardDetailUtil.java
Labels: Upcoming Set, Game Mechanics

#1226 YSNC: Celestial Vault and support
  forge-game/src/main/java/forge/game/ability/effects/DraftEffect.java
  forge-gui/res/cardsfolder/upcoming/celestial_vault.txt
Labels: Upcoming Set, Game Mechanics

#1266 Fix PT update before turning into creature
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffectBase.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/e/ersatz_gnomes.txt
  forge-gui/res/cardsfolder/f/failure_comply.txt
  forge-gui/res/cardsfolder/g/gales_redirection.txt
  forge-gui/res/cardsfolder/h/hullbreaker_horror.txt
  forge-gui/res/cardsfolder/o/obscura_interceptor.txt
  forge-gui/res/cardsfolder/p/parallectric_feedback.txt
  forge-gui/res/cardsfolder/r/refuse_cooperate.txt
Labels: AI, Card Patch, GUI

#1285 CardView: display expected P/T for unanimated vehicles
  forge-game/src/main/java/forge/game/card/CardView.java
Labels: GUI

#1294 YSNC: big_spender.txt
  forge-gui/res/cardsfolder/upcoming/big_spender.txt
Labels: Upcoming Set

#1311 SLD edition update
  forge-gui/res/editions/Love Your LGS 2022.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#1312 waylay.txt fixup
  forge-gui/res/cardsfolder/w/waylay.txt
Labels: Card Cleanup, Rules compliance

#1306 Distant Memories refactor and related
  forge-ai/src/main/java/forge/ai/ability/ChooseGenericEffectAi.java
  forge-gui/res/cardsfolder/d/distant_memories.txt
  forge-gui/res/cardsfolder/n/nature_demands_an_offering.txt
  forge-gui/res/cardsfolder/s/sin_prodder.txt
Labels: Card Cleanup, Card Patch, Rules compliance

#1304 StaticAbilityPanharmonicon support ValidCause for Wulfgar
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPanharmonicon.java
  forge-gui/res/cardsfolder/s/spelldrain_assassin.txt
Labels: Game Mechanics, Rules compliance

#1290 Fix some bugs related to delayed triggers
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/AddPhaseEffect.java
  forge-game/src/main/java/forge/game/ability/effects/AddTurnEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DelayedTriggerEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ImmediateTriggerEffect.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-gui/res/cardsfolder/b/brokers_confluence.txt
  forge-gui/res/cardsfolder/d/disallow.txt
  forge-gui/res/cardsfolder/l/lithoform_engine.txt
  forge-gui/res/cardsfolder/n/nimble_obstructionist.txt
  forge-gui/res/cardsfolder/s/stifle.txt
  forge-gui/res/cardsfolder/s/strionic_resonator.txt
  forge-gui/res/cardsfolder/s/sublime_epiphany.txt
  forge-gui/res/cardsfolder/t/tales_end.txt
  forge-gui/res/cardsfolder/t/trickbind.txt
  forge-gui/res/cardsfolder/upcoming/emerald_dragon_dissonant_wave.txt
  forge-gui/res/cardsfolder/v/voidslime.txt
Labels: Game Mechanics

#1302 YSNC - 9 Aug
  forge-gui/res/cardsfolder/k/kumano_faces_kakkazan_etching_of_kumano.txt
  forge-gui/res/cardsfolder/s/savage_summoning.txt
  forge-gui/res/cardsfolder/t/teyo_aegis_adept.txt
  forge-gui/res/cardsfolder/upcoming/brokers_safeguard.txt
  forge-gui/res/cardsfolder/upcoming/diviner_of_fates.txt
Labels: Upcoming Set, Card Cleanup

#1315 Bond effect cleanup
  forge-game/src/main/java/forge/game/ability/effects/AscendEffect.java
  forge-game/src/main/java/forge/game/ability/effects/BondEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/trigger/WrappedAbility.java
  forge-gui/res/cardsfolder/m/my_laughter_echoes.txt
Labels: Game Mechanics

#1228 YSNC: Bank Job and support
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/a/arcums_whistle.txt
  forge-gui/res/cardsfolder/n/nettling_imp.txt
  forge-gui/res/cardsfolder/n/norritt.txt
  forge-gui/res/cardsfolder/p/planeswalkers_mischief.txt
  forge-gui/res/cardsfolder/p/psychic_theft.txt
  forge-gui/res/cardsfolder/upcoming/bank_job.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#1303 YSNC: herald_of_vengeance.txt
  forge-gui/res/cardsfolder/upcoming/herald_of_vengeance.txt
Labels: Upcoming Set

#1274 [Squash Merge] YSNC 12 cards
  forge-gui/res/cardsfolder/upcoming/cabaretti_revels.txt
  forge-gui/res/cardsfolder/upcoming/effluence_devourer.txt
  forge-gui/res/cardsfolder/upcoming/giant_regrowth.txt
  forge-gui/res/cardsfolder/upcoming/graven_archfiend.txt
  forge-gui/res/cardsfolder/upcoming/incessant_provocation.txt
  forge-gui/res/cardsfolder/upcoming/nightclub_bouncer.txt
  forge-gui/res/cardsfolder/upcoming/pass_the_torch.txt
  forge-gui/res/cardsfolder/upcoming/riveteers_provocateur.txt
  forge-gui/res/cardsfolder/upcoming/rope_line_attendant.txt
  forge-gui/res/cardsfolder/upcoming/shattering_finale.txt
  forge-gui/res/cardsfolder/upcoming/sparas_bodyguard.txt
  forge-gui/res/cardsfolder/upcoming/traumatic_prank.txt
  forge-gui/res/cardsfolder/upcoming/verdant_rejuvenation.txt
  forge-gui/res/cardsfolder/upcoming/vladimir_and_godfrey.txt
  forge-gui/res/cardsfolder/upcoming/wizened_githzerai.txt
  forge-gui/res/cardsfolder/upcoming/xanders_wake.txt
Labels: Upcoming Set

#1322 YSNC: choice_of_fortunes.txt
  forge-gui/res/cardsfolder/upcoming/choice_of_fortunes.txt
Labels: Upcoming Set

#1324 sparas_bodyguard.txt fixup
  forge-gui/res/cardsfolder/upcoming/sparas_bodyguard.txt
Labels: Card Patch

#1320 payManaOptional fix
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/trigger/TriggerSacrificed.java
  forge-gui-desktop/src/main/java/forge/view/arcane/PlayArea.java
  forge-gui/res/cardsfolder/a/armored_skyhunter.txt
  forge-gui/res/cardsfolder/a/audacious_swap.txt
  forge-gui/res/cardsfolder/c/circle_of_solace.txt
  forge-gui/res/cardsfolder/c/curse_of_the_pierced_heart.txt
  forge-gui/res/cardsfolder/e/encrust.txt
  forge-gui/res/cardsfolder/g/greater_realm_of_preservation.txt
  forge-gui/res/cardsfolder/p/penance.txt
  forge-gui/res/cardsfolder/r/rune_of_protection_artifacts.txt
  forge-gui/res/cardsfolder/r/rune_of_protection_black.txt
  forge-gui/res/cardsfolder/r/rune_of_protection_blue.txt
  forge-gui/res/cardsfolder/r/rune_of_protection_green.txt
  forge-gui/res/cardsfolder/r/rune_of_protection_lands.txt
  forge-gui/res/cardsfolder/r/rune_of_protection_red.txt
  forge-gui/res/cardsfolder/r/rune_of_protection_white.txt
  forge-gui/res/cardsfolder/s/sacred_ground.txt
  forge-gui/res/cardsfolder/s/shadowbane.txt
  forge-gui/res/cardsfolder/t/the_mending_of_dominaria.txt
  forge-gui/res/cardsfolder/upcoming/kagha_shadow_archdruid.txt
Labels: AI, Card Cleanup, Card Patch

#1325 Fix for A-Druidic Ritual and Signature Spells
  forge-gui/res/cardsfolder/rebalanced/a-druidic_ritual.txt
  forge-gui/res/cardsfolder/upcoming/signature_spells.txt
Labels: Card Cleanup, Card Patch

#1352 Edition updates: DMU, DMC, DMR, P30A, 40K
  forge-gui/res/editions/30th Anniversary Promos.txt
  forge-gui/res/editions/Dominaria Remastered.txt
  forge-gui/res/editions/Dominaria United Commander.txt
  forge-gui/res/editions/Dominaria United.txt
  forge-gui/res/editions/Warhammer 40,000.txt
Labels: Upcoming Set

#1358 Some edition updates
  forge-gui/res/editions/30th Anniversary Promos.txt
  forge-gui/res/editions/Dominaria United Commander.txt
  forge-gui/res/editions/Dominaria United.txt
  forge-gui/res/editions/Warhammer 40,000.txt
  forge-gui/res/editions/Wizards Play Network 2022.txt
Labels: Upcoming Set

#1367 Random card fixes
  forge-gui/res/cardsfolder/c/codie_vociferous_codex.txt
  forge-gui/res/cardsfolder/g/garruk_wrath_of_the_wilds.txt
  forge-gui/res/cardsfolder/g/growing_rites_of_itlimoc_itlimoc_cradle_of_the_sun.txt
  forge-gui/res/cardsfolder/k/kaito_shizuki.txt
Labels: Card Cleanup

#1366 DMU: Baird, Argivian Recruiter and support
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/upcoming/baird_argivian_recruiter.txt
Labels: Upcoming Set, Game Mechanics

#1371 DMU & DMC edition updates
  forge-gui/res/editions/Dominaria United Commander.txt
  forge-gui/res/editions/Dominaria United.txt
Labels: Upcoming Set

#1373 Update archived formats for DMU
  forge-gui/res/formats/Archived/Alchemy/2022-09-01.txt
  forge-gui/res/formats/Archived/Arena Standard/2022-09-01.txt
  forge-gui/res/formats/Archived/Explorer/2022-09-01.txt
  forge-gui/res/formats/Archived/Historic/2022-09-01.txt
  forge-gui/res/formats/Archived/Legacy/2022-09-09.txt
  forge-gui/res/formats/Archived/Modern/2022-09-09.txt
  forge-gui/res/formats/Archived/Pioneer/2022-09-09.txt
  forge-gui/res/formats/Archived/Standard/2022-09-09.txt
  forge-gui/res/formats/Archived/Vintage/2022-09-09.txt
Labels: Format Changes

#1328 HBG: Follow the Tracks and support
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-gui/res/cardsfolder/t/tome_of_the_infinite.txt
  forge-gui/res/cardsfolder/upcoming/follow_the_tracks.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Upcoming Set, Game Mechanics

#1377 DMU & DMC edition updates
  forge-gui/res/cardsfolder/f/follow_the_tracks.txt
  forge-gui/res/editions/Dominaria United Commander.txt
  forge-gui/res/editions/Dominaria United.txt
Labels: Upcoming Set

#1351 Dev Mode fix for cards cheated in transformed/modal
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: bug

#1379 Card: add Stun Counter Effect
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/impede_momentum.txt
Labels: Upcoming Set, Game Mechanics

#1368 DMC: Jared Carthalion and support
  forge-core/src/main/java/forge/card/ColorSet.java
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-gui/res/cardsfolder/upcoming/jared_carthalion.txt
  forge-gui/res/tokenscripts/all_2_2_citizen.txt
  forge-gui/res/tokenscripts/all_3_3_kavu_trample.txt
  forge-gui/res/tokenscripts/mechtitan.txt
Labels: Upcoming Set, Game Mechanics

#1372 6 more DMC + 2 Tokenscripts
  forge-gui/res/cardsfolder/upcoming/mana_cannons.txt
  forge-gui/res/cardsfolder/upcoming/rasputin_the_oneiromancer.txt
  forge-gui/res/cardsfolder/upcoming/the_reaver_cleaver.txt
  forge-gui/res/cardsfolder/upcoming/two_headed_hellkite.txt
  forge-gui/res/cardsfolder/upcoming/xira_the_golden_sting.txt
  forge-gui/res/cardsfolder/upcoming/zeriam_golden_wind.txt
  forge-gui/res/tokenscripts/b_1_1_insect_flying.txt
  forge-gui/res/tokenscripts/w_2_2_knight_pro_red.txt
Labels: Upcoming Set

#1376 DMU: Karn, Living Legacy + Powerstone token, engine support
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
  forge-gui/res/cardsfolder/upcoming/karn_living_legacy.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/tokenscripts/c_a_powerstone.txt
Labels: Upcoming Set

#1382 Ramses, Assassin Lord and support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/combat/CombatUtil.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-gui/res/cardsfolder/upcoming/ramses_assassin_lord.txt
Labels: Upcoming Set

#1384 Add P30H edition file
  forge-gui/res/editions/30th Anniversary History Promos.txt
Labels: Upcoming Set

#1386 SLD August Super Drop
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#1327 [SQUASH MERGE] HBG 5 cards
  forge-gui/res/cardsfolder/t/toluz_clever_conductor.txt
  forge-gui/res/cardsfolder/upcoming/hypnotic_pattern.txt
  forge-gui/res/cardsfolder/upcoming/kardum_patron_of_flames.txt
  forge-gui/res/cardsfolder/upcoming/kobold_warcaller.txt
  forge-gui/res/cardsfolder/upcoming/minthara_of_the_absolute.txt
Labels: Upcoming Set

#1359 DMC 7 cards
  forge-gui/res/cardsfolder/upcoming/dihada_binder_of_wills.txt
  forge-gui/res/cardsfolder/upcoming/general_marhault_elsdragon.txt
  forge-gui/res/cardsfolder/upcoming/hazezon_shaper_of_sand.txt
  forge-gui/res/cardsfolder/upcoming/jedit_ojanen_mercenary.txt
  forge-gui/res/cardsfolder/upcoming/rohgahh_kher_keep_overlord.txt
  forge-gui/res/cardsfolder/upcoming/sivitri_dragon_master.txt
  forge-gui/res/cardsfolder/upcoming/the_ever_changing_dane.txt
Labels: Upcoming Set

#1381 DMC 6 More
  forge-gui/res/cardsfolder/upcoming/ayesha_tanaka_armorer.txt
  forge-gui/res/cardsfolder/upcoming/moira_urborg_haunt.txt
  forge-gui/res/cardsfolder/upcoming/obsidian_obelisk.txt
  forge-gui/res/cardsfolder/upcoming/tiller_engine.txt
  forge-gui/res/cardsfolder/upcoming/unite_the_coalition.txt
Labels: Upcoming Set

#1374 DMU: 5 cards + Ingenuity counter support for Jhoira
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/balmor_battlemage_captain.txt
  forge-gui/res/cardsfolder/upcoming/cut_down.txt
  forge-gui/res/cardsfolder/upcoming/danitha_benalias_hope.txt
  forge-gui/res/cardsfolder/upcoming/elas_il_kor_sadistic_pilgrim.txt
  forge-gui/res/cardsfolder/upcoming/ertai_resurrected.txt
Labels: Upcoming Set

#1338 HBG 4 Cards
  forge-gui/res/cardsfolder/upcoming/arcane_archery.txt
  forge-gui/res/cardsfolder/upcoming/mind_spike.txt
  forge-gui/res/cardsfolder/upcoming/water_weird.txt
  forge-gui/res/cardsfolder/upcoming/yuan_ti_scaleshield.txt
Labels: Upcoming Set

#1398 Fix last state battlefield check on replacement abilities
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
Labels: bug

#1395 DMU 9 Cards + Phyresis counter support
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/jodah_the_unifier.txt
  forge-gui/res/cardsfolder/upcoming/vesuvan_duplimancy.txt
  forge-gui/res/cardsfolder/upcoming/vodalian_mindsinger.txt
  forge-gui/res/cardsfolder/upcoming/vohar_vodalian_desecrator.txt
  forge-gui/res/cardsfolder/upcoming/weatherlight_compleated.txt
  forge-gui/res/cardsfolder/upcoming/wingmantle_chaplain.txt
  forge-gui/res/cardsfolder/upcoming/writhing_necromass.txt
  forge-gui/res/cardsfolder/upcoming/yavimaya_sojourner.txt
  forge-gui/res/cardsfolder/upcoming/zar_ojanen_scion_of_efrava.txt
Labels: Upcoming Set

#1400 DMU & DMC edition updates
  forge-gui/res/editions/Dominaria United Commander.txt
  forge-gui/res/editions/Dominaria United.txt
Labels: Upcoming Set

#1389 DMC 6 Cards
  forge-gui/res/cardsfolder/upcoming/gerrards_hourglass_endant.txt
  forge-gui/res/cardsfolder/upcoming/orca_siege_demon.txt
  forge-gui/res/cardsfolder/upcoming/tetsuo_imperial_champion.txt
  forge-gui/res/cardsfolder/upcoming/the_lady_of_otaria.txt
  forge-gui/res/cardsfolder/upcoming/tobias_conqueror_of_bad_luck.txt
  forge-gui/res/cardsfolder/upcoming/torsten_founder_of_benalia.txt
Labels: Upcoming Set

#1394 DMC: Bladewing, Deathless Tyrant + 6 cards
  forge-gui/res/cardsfolder/upcoming/bladewing_deathless_tyrant.txt
  forge-gui/res/cardsfolder/upcoming/cadric_soul_kindler.txt
  forge-gui/res/cardsfolder/upcoming/iridian_maelstrom.txt
  forge-gui/res/cardsfolder/upcoming/jenson_carthalion_druid_exile.txt
  forge-gui/res/cardsfolder/upcoming/primeval_spawn.txt
  forge-gui/res/cardsfolder/upcoming/shanid_sleepers_scourge.txt
  forge-gui/res/cardsfolder/upcoming/the_peregrine_dynamo.txt
Labels: Upcoming Set

#1388 DMC 8 cards + 1 Fix
  forge-gui/res/cardsfolder/upcoming/activated_sleeper.txt
  forge-gui/res/cardsfolder/upcoming/baru_wurmspeaker.txt
  forge-gui/res/cardsfolder/upcoming/emperor_mihail_ii.txt
  forge-gui/res/cardsfolder/upcoming/greensleeves_maro-sorcerer.txt
  forge-gui/res/cardsfolder/upcoming/hazezon_shaper_of_sand.txt
  forge-gui/res/cardsfolder/upcoming/ohabi_caleria.txt
  forge-gui/res/cardsfolder/upcoming/robaran_mercenaries.txt
  forge-gui/res/cardsfolder/upcoming/rosnakht_heir_of_rohgahh.txt
  forge-gui/res/cardsfolder/upcoming/the_mana_rig.txt
  forge-gui/res/tokenscripts/g_3_3_badger.txt
  forge-gui/res/tokenscripts/g_4_4_wurm.txt
Labels: Upcoming Set

#1321 YSNC: Racketeer Boss
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-gui/res/cardsfolder/r/racketeer_boss.txt
Labels: Upcoming Set, Game Mechanics

#1330 HBG: Specialize mechanic
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-core/src/main/java/forge/card/CardRules.java
  forge-core/src/main/java/forge/card/CardSplitType.java
  forge-core/src/main/java/forge/card/CardStateName.java
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/SetStateEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/cost/Cost.java
  forge-game/src/main/java/forge/game/cost/CostChooseColor.java
  forge-game/src/main/java/forge/game/cost/CostDiscard.java
  forge-game/src/main/java/forge/game/cost/ICostVisitor.java
  forge-game/src/main/java/forge/game/cost/PaymentDecision.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/keyword/KeywordWithCost.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpecializes.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-gui/res/cardsfolder/a/alora_merry_thief.txt
  forge-gui/res/cardsfolder/upcoming/alora_rogue_companion.txt
  forge-gui/res/cardsfolder/upcoming/karlach_raging_tiefling.txt
  forge-gui/res/cardsfolder/upcoming/lukamina_moon_druid.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Upcoming Set, Game Mechanics

#1405 Update DMU & DMC editions
  forge-gui/res/editions/Dominaria United Commander.txt
  forge-gui/res/editions/Dominaria United.txt
Labels: Upcoming Set

#1406 DMU quick fix
  forge-gui/res/editions/Dominaria United.txt
Labels: Upcoming Set

#1399 DMU 5 Jumpstart Cards
  forge-gui/res/cardsfolder/upcoming/briar_hydra.txt
  forge-gui/res/cardsfolder/upcoming/cosmic_epiphany.txt
  forge-gui/res/cardsfolder/upcoming/ragefire_hellkite.txt
  forge-gui/res/cardsfolder/upcoming/serra_redeemer.txt
  forge-gui/res/cardsfolder/upcoming/tyrannical_pitlord.txt
Labels: Upcoming Set

#1404 DMU: Queen Allenal of Ruadach + 5 cards, 1 token
  forge-gui/res/cardsfolder/upcoming/bortuk_bonerattle.txt
  forge-gui/res/cardsfolder/upcoming/king_darien_xlviii.txt
  forge-gui/res/cardsfolder/upcoming/lagomos_hand_of_hatred.txt
  forge-gui/res/cardsfolder/upcoming/queen_allenal_of_ruadach.txt
  forge-gui/res/cardsfolder/upcoming/sphinx_of_clear_skies.txt
  forge-gui/res/cardsfolder/upcoming/uurg_spawn_of_turg.txt
  forge-gui/res/tokenscripts/r_2_1_elemental_trample_haste.txt
Labels: Upcoming Set

#1409 Rith, Liberated Primeval and support
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/card/CardDamageMap.java
  forge-gui/res/cardsfolder/upcoming/rith_liberated_primeval.txt
Labels: Upcoming Set

#1407 DMU 8 Cards
  forge-gui/res/cardsfolder/upcoming/blight_pile.txt
  forge-gui/res/cardsfolder/upcoming/bog_badger.txt
  forge-gui/res/cardsfolder/upcoming/charismatic_vanguard.txt
  forge-gui/res/cardsfolder/upcoming/citizens_arrest.txt
  forge-gui/res/cardsfolder/upcoming/cleaving_skyrider.txt
  forge-gui/res/cardsfolder/upcoming/colossal_growth.txt
  forge-gui/res/cardsfolder/upcoming/plaza_of_heroes.txt
  forge-gui/res/cardsfolder/upcoming/silverback_elder.txt
Labels: Upcoming Set

#1403 DMU 11 Cards
  forge-gui/res/cardsfolder/upcoming/academy_loremaster.txt
  forge-gui/res/cardsfolder/upcoming/academy_wall.txt
  forge-gui/res/cardsfolder/upcoming/aggressive_sabotage.txt
  forge-gui/res/cardsfolder/upcoming/anointed_peacekeeper.txt
  forge-gui/res/cardsfolder/upcoming/argivian_phalanx.txt
  forge-gui/res/cardsfolder/upcoming/automatic_librarian.txt
  forge-gui/res/cardsfolder/upcoming/balduvian_atrocity.txt
  forge-gui/res/cardsfolder/upcoming/battlewing_mystic.txt
  forge-gui/res/cardsfolder/upcoming/benalish_sleeper.txt
  forge-gui/res/cardsfolder/upcoming/ivy_gleeful_spellthief.txt
  forge-gui/res/cardsfolder/upcoming/timeless_lotus.txt
Labels: Upcoming Set

#1408 Rundvelt Hordemaster
  forge-gui/res/cardsfolder/upcoming/rundvelt_hordemaster.txt
Labels: Upcoming Set

#1411 DMU common land cycle
  forge-gui/res/cardsfolder/upcoming/contaminated_aquifer.txt
  forge-gui/res/cardsfolder/upcoming/geothermal_bog.txt
  forge-gui/res/cardsfolder/upcoming/haunted_mire.txt
  forge-gui/res/cardsfolder/upcoming/idyllic_beachfront.txt
  forge-gui/res/cardsfolder/upcoming/molten_tributary.txt
  forge-gui/res/cardsfolder/upcoming/radiant_grove.txt
  forge-gui/res/cardsfolder/upcoming/sacred_peaks.txt
  forge-gui/res/cardsfolder/upcoming/sunlit_marsh.txt
  forge-gui/res/cardsfolder/upcoming/tangled_islet.txt
  forge-gui/res/cardsfolder/upcoming/wooded_ridgeline.txt
Labels: Upcoming Set

#1412 Create leaf-crowned_visionary.txt
  forge-gui/res/cardsfolder/upcoming/leaf-crowned_visionary.txt
Labels: Upcoming Set

#1413 Read ahead Saga Ability
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-ai/src/main/java/forge/ai/SpecialCardAi.java
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/GameEntity.java
  forge-game/src/main/java/forge/game/GameEntityCounterTable.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/trigger/TriggerAbilityTriggered.java
  forge-game/src/main/java/forge/game/trigger/TriggerCounterAdded.java
  forge-game/src/main/java/forge/game/trigger/WrappedAbility.java
  forge-gui-desktop/src/test/java/forge/ai/simulation/GameSimulationTest.java
  forge-gui/res/cardsfolder/upcoming/historians_boon.txt
  forge-gui/res/cardsfolder/upcoming/the_elder_dragon_war.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Upcoming Set, Game Mechanics

#1419 Advanced Search for Artists
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-gui/res/cardsfolder/d/defense_grid.txt
  forge-gui/res/cardsfolder/k/kindred_boon.txt
  forge-gui/res/cardsfolder/upcoming/dihada_binder_of_wills.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/itemmanager/AdvancedSearch.java
Labels: enhancement, GUI

#1410 DMU: Implement 4 cards
  forge-gui/res/cardsfolder/upcoming/aether_channeler.txt
  forge-gui/res/cardsfolder/upcoming/cult_conscript.txt
  forge-gui/res/cardsfolder/upcoming/phoenix_chick.txt
  forge-gui/res/cardsfolder/upcoming/urborg_lhurgoyf.txt
Labels: Upcoming Set

#1418 DMU 7 cards
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-gui/res/cardsfolder/upcoming/crystal_grotto.txt
  forge-gui/res/cardsfolder/upcoming/drag_to_the_bottom.txt
  forge-gui/res/cardsfolder/upcoming/quirion_beastcaller.txt
  forge-gui/res/cardsfolder/upcoming/shadow_rite_priest.txt
  forge-gui/res/cardsfolder/upcoming/the_world_spell.txt
  forge-gui/res/cardsfolder/upcoming/thran_portal.txt
  forge-gui/res/cardsfolder/upcoming/vodalian_hexcatcher.txt
Labels: Upcoming Set

#1421 DMU 6 Cards + 2 tokens
  forge-gui/res/cardsfolder/upcoming/braids_frightful_return.txt
  forge-gui/res/cardsfolder/upcoming/founding_the_third_path.txt
  forge-gui/res/cardsfolder/upcoming/love_song_of_night_and_day.txt
  forge-gui/res/cardsfolder/upcoming/the_cruelty_of_gix.txt
  forge-gui/res/cardsfolder/upcoming/the_phasing_of_zhalfir.txt
  forge-gui/res/cardsfolder/upcoming/yotia_declares_war.txt
  forge-gui/res/tokenscripts/b_2_2_phyrexian.txt
  forge-gui/res/tokenscripts/ornithopter.txt
Labels: Upcoming Set

#1426 Update formats for DMU
  forge-gui/res/formats/Casual/Brawl.txt
  forge-gui/res/formats/Sanctioned/Historic.txt
  forge-gui/res/formats/Sanctioned/Legacy.txt
  forge-gui/res/formats/Sanctioned/Modern.txt
  forge-gui/res/formats/Sanctioned/Pioneer.txt
  forge-gui/res/formats/Sanctioned/Standard.txt
  forge-gui/res/formats/Sanctioned/Vintage.txt
Labels: Format Changes

#1397 DMC Stangg Echo Warrior
  forge-gui/res/cardsfolder/upcoming/stangg_echo_warrior.txt
Labels: Upcoming Set

#1429 delineate playtest "token card" from other MakeCard stuff
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-gui/res/cardsfolder/b/bone_rattler.txt
  forge-gui/res/cardsfolder/t/time_sidewalk.txt
Labels: Game Mechanics

#1363 HBG: Viconia, Nightsinger's Disciple and support
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-gui/res/cardsfolder/upcoming/viconia_nightsingers_disciple.txt
Labels: Upcoming Set, Game Mechanics

#1427 DMU Booster Draft
  forge-core/src/main/java/forge/card/CardEdition.java
  forge-gui/res/blockdata/blocks.txt
  forge-gui/res/draft/rankings.txt
  forge-gui/res/editions/Dominaria United.txt
  forge-gui/tools/EditionTracking.py
Labels: Upcoming Set

#1431 Venture Forth follow-up
  forge-game/src/main/java/forge/game/GameAction.java
  forge-gui/res/cardsfolder/s/saiba_syphoner.txt
  forge-gui/res/cardsfolder/v/venture_forth.txt
Labels: Card Patch

#1435 Fixes
  forge-gui/res/cardsfolder/d/divine_purge.txt
  forge-gui/res/cardsfolder/p/patriars_humiliation.txt
Labels: Card Cleanup, Card Patch

#1392 HBG Double Team Ability + 13 cards
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/trackable/TrackableProperty.java
  forge-gui/res/cardsfolder/upcoming/genasi_rabble_rouser.txt
  forge-gui/res/cardsfolder/upcoming/giant_fire_beetles.txt
  forge-gui/res/cardsfolder/upcoming/gnoll_hunting_party.txt
  forge-gui/res/cardsfolder/upcoming/lizardfolk_librarians.txt
  forge-gui/res/cardsfolder/upcoming/moradins_disciples.txt
  forge-gui/res/cardsfolder/upcoming/ranger_squadron.txt
  forge-gui/res/cardsfolder/upcoming/seatower_imprisonment.txt
  forge-gui/res/cardsfolder/upcoming/soldiers_of_the_watch.txt
  forge-gui/res/cardsfolder/upcoming/sworn_to_the_legion.txt
  forge-gui/res/cardsfolder/upcoming/tiefling_outcasts.txt
  forge-gui/res/cardsfolder/upcoming/ulder_ravengard_marshal.txt
  forge-gui/res/cardsfolder/upcoming/warriors_of_tiamat.txt
Labels: Game Mechanics

#1402 DMU: Golden Argosy + 5 cards
  forge-gui/res/cardsfolder/upcoming/archangel_of_wrath.txt
  forge-gui/res/cardsfolder/upcoming/aron_benalias_ruin.txt
  forge-gui/res/cardsfolder/upcoming/garna_bloodfist_of_keld.txt
  forge-gui/res/cardsfolder/upcoming/golden_argosy.txt
  forge-gui/res/cardsfolder/upcoming/rona_sheoldreds_faithful.txt
  forge-gui/res/cardsfolder/upcoming/ronas_vortex.txt
Labels: Upcoming Set

#1420 5 DMU cards
  forge-gui/res/cardsfolder/upcoming/coral_colony.txt
  forge-gui/res/cardsfolder/upcoming/djinn_of_the_fountain.txt
  forge-gui/res/cardsfolder/upcoming/electrostatic_infantry.txt
  forge-gui/res/cardsfolder/upcoming/extinguish_the_light.txt
  forge-gui/res/cardsfolder/upcoming/fires_of_victory.txt
Labels: Upcoming Set
