Repository Card-Forge/forge, pull requests merged in 2022-06, with the labels that each got.

#614 Fix TokenCreated counting
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/e/esix_fractal_bloom.txt
  forge-gui/res/cardsfolder/i/idol_of_oblivion.txt
  forge-gui/res/cardsfolder/t/thalisse_reverent_medium.txt
  forge-gui/res/cardsfolder/v/vazi_keen_negotiator.txt
Labels: Rules compliance

#561 CLB: Rasaad yn Bashir and support ("combat damage from toughness" non-keyword keyword -> static)
  forge-game/src/main/java/forge/game/GlobalRuleChange.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCombatDamageToughness.java
  forge-gui/res/cardsfolder/a/ancient_lumberknot.txt
  forge-gui/res/cardsfolder/a/arcades_the_strategist.txt
  forge-gui/res/cardsfolder/a/assault_formation.txt
  forge-gui/res/cardsfolder/b/belligerent_brontodon.txt
  forge-gui/res/cardsfolder/d/doran_the_siege_tower.txt
  forge-gui/res/cardsfolder/e/e_honda_sumo_champion.txt
  forge-gui/res/cardsfolder/g/gauntlets_of_light.txt
  forge-gui/res/cardsfolder/h/high_alert.txt
  forge-gui/res/cardsfolder/h/huatli_the_suns_heart.txt
  forge-gui/res/cardsfolder/s/solid_footing.txt
  forge-gui/res/cardsfolder/t/the_great_forest.txt
  forge-gui/res/cardsfolder/t/treefolk_umbra.txt
  forge-gui/res/cardsfolder/upcoming/rasaad_yn_bashir.txt
  forge-gui/res/cardsfolder/w/weight_advantage.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#617 Fix The Fallen ignoring planeswalkers
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
  forge-game/src/main/java/forge/game/GameEntityCounterTable.java
  forge-game/src/main/java/forge/game/card/CardDamageHistory.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-gui/res/cardsfolder/a/ancient_brass_dragon.txt
  forge-gui/res/cardsfolder/b/bess_soul_nourisher.txt
  forge-gui/res/cardsfolder/t/the_fallen.txt
Labels: Game Mechanics, Card Patch, Rules compliance

#618 TriggerDamageDoneOnceByController
  forge-game/src/main/java/forge/game/card/CardDamageMap.java
  forge-game/src/main/java/forge/game/trigger/TriggerDamageAll.java
  forge-game/src/main/java/forge/game/trigger/TriggerDamageDealtOnce.java
  forge-game/src/main/java/forge/game/trigger/TriggerDamageDoneOnce.java
  forge-game/src/main/java/forge/game/trigger/TriggerDamageDoneOnceByController.java
  forge-game/src/main/java/forge/game/trigger/TriggerDamagePrevented.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
Labels: Upcoming Set

#621 CardType: add Dungeon SubTypes
  forge-core/src/main/java/forge/card/CardType.java
  forge-game/src/main/java/forge/game/ability/effects/CopyPermanentEffect.java
  forge-gui/res/lists/TypeLists.txt
  forge-gui/src/main/java/forge/model/FModel.java
Labels: Game Mechanics

#628 Rename c_a_gold_draw > c_a_gold_sac
  forge-gui/res/adventure/Shandalar/world/items.json
  forge-gui/res/cardsfolder/c/curse_of_opulence.txt
  forge-gui/res/cardsfolder/g/gild.txt
  forge-gui/res/cardsfolder/k/king_macar_the_gold_cursed.txt
  forge-gui/res/cardsfolder/t/the_first_iroan_games.txt
  forge-gui/res/editions/Born of the Gods.txt
  forge-gui/res/editions/Commander 2015.txt
  forge-gui/res/editions/Commander 2017.txt
  forge-gui/res/editions/Journey into Nyx.txt
  forge-gui/res/editions/Theros Beyond Death.txt
  forge-gui/res/tokenscripts/c_a_gold_sac.txt
Labels: Card Cleanup

#305 Create cliffgate.txt
  forge-gui/res/cardsfolder/c/cliffgate.txt
Labels: Upcoming Set

#615 CLB, SLD edition updates and new YSNC edition
  forge-gui/res/editions/Alchemy New Capenna.txt
  forge-gui/res/editions/Commander Legends Battle for Baldur's Gate.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Unfinity.txt
Labels: Upcoming Set

#632 CLB: 5 more "Choose a Background" legends
  forge-gui/res/cardsfolder/a/anje_maid_of_dishonor.txt
  forge-gui/res/cardsfolder/c/citanul_hierophants.txt
  forge-gui/res/cardsfolder/g/goldspan_dragon.txt
  forge-gui/res/cardsfolder/upcoming/ganax_astral_hunter.txt
  forge-gui/res/cardsfolder/upcoming/gut_true_soul_zealot.txt
  forge-gui/res/cardsfolder/upcoming/jaheira_friend_of_the_forest.txt
  forge-gui/res/cardsfolder/upcoming/karlach_fury_of_avernus.txt
  forge-gui/res/cardsfolder/upcoming/laezel_vlaakiths_champion.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/tokenscripts/b_4_1_skeleton_menace.txt
Labels: Upcoming Set

#633 Update A-Goldspan Dragon
  forge-gui/res/cardsfolder/rebalanced/a-goldspan_dragon.txt
Labels: Card Cleanup

#538 CLB: remaining initiative cards (until they add more anyway)
  forge-gui/res/cardsfolder/e/etrata_the_silencer.txt
  forge-gui/res/cardsfolder/m/mari_the_killing_quill.txt
  forge-gui/res/cardsfolder/upcoming/avenging_hunter.txt
  forge-gui/res/cardsfolder/upcoming/bloodboil_sorceror.txt
  forge-gui/res/cardsfolder/upcoming/caves_of_chaos_adventurer.txt
  forge-gui/res/cardsfolder/upcoming/explore_the_underdark.txt
  forge-gui/res/cardsfolder/upcoming/feywild_caretaker.txt
  forge-gui/res/cardsfolder/upcoming/goliath_paladin.txt
  forge-gui/res/cardsfolder/upcoming/imoen_mystic_trickster.txt
  forge-gui/res/cardsfolder/upcoming/ravenloft_adventurer.txt
  forge-gui/res/cardsfolder/upcoming/safana_calimport.cutthroat.txt
  forge-gui/res/cardsfolder/upcoming/stirring_bard.txt
  forge-gui/res/cardsfolder/upcoming/tomb_of_horrors_adventurer.txt
  forge-gui/res/cardsfolder/upcoming/trailblazers_torch.txt
  forge-gui/res/cardsfolder/upcoming/underdark_explorer.txt
  forge-gui/res/cardsfolder/upcoming/undermountain_adventurer.txt
  forge-gui/res/cardsfolder/upcoming/vicious_battlerager.txt
  forge-gui/res/cardsfolder/upcoming/white_plume_adventurer.txt
Labels: Upcoming Set

#636 Remove unneeded from Rasaad and fix PPRO edition
  forge-gui/res/cardsfolder/upcoming/rasaad_yn_bashir.txt
  forge-gui/res/editions/Pro Tour Promos.txt
Labels: Card Cleanup

#642 CLB edition - remaining cards
  forge-gui/res/editions/Commander Legends Battle for Baldur's Gate.txt
Labels: Upcoming Set

#645 CLB: better Background check for commander decks
  forge-core/src/main/java/forge/deck/DeckFormat.java
Labels: Upcoming Set, Game Mechanics

#647 Create arming_gala.txt
  forge-gui/res/cardsfolder/upcoming/arming_gala.txt
Labels: Upcoming Set

#649 A-Fates' Reversal cost fix
  forge-gui/res/cardsfolder/f/fates_reversal.txt
  forge-gui/res/cardsfolder/rebalanced/a-fates_reversal.txt
Labels: Card Patch

#650 CLB: 10 June
  forge-game/src/main/java/forge/game/ability/effects/CountersPutAllEffect.java
  forge-gui/res/cardsfolder/b/breath_of_the_sleepless.txt
  forge-gui/res/cardsfolder/upcoming/fang_dragon_forktail_sweep.txt
  forge-gui/res/cardsfolder/upcoming/feywild_visitor.txt
  forge-gui/res/cardsfolder/upcoming/lulu_loyal_hollyphant.txt
  forge-gui/res/cardsfolder/upcoming/renari_merchant_of_marvels.txt
  forge-gui/res/cardsfolder/upcoming/scion_of_halaster.txt
Labels: Upcoming Set, Card Cleanup, Card Patch

#646 CLB: Sarevok, Deathbringer and support
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-gui/res/cardsfolder/upcoming/sarevok_deathbringer.txt
Labels: Upcoming Set, Game Mechanics

#657 Initiative fix
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/trigger/TriggerDamageDoneOnceByController.java
Labels: bug

#662 Capricopian PW fix
  forge-game/src/main/java/forge/game/ability/effects/ChangeCombatantsEffect.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantBeCast.java
  forge-gui/res/cardsfolder/c/capricopian.txt
  forge-gui/res/cardsfolder/c/chronozoa.txt
  forge-gui/res/cardsfolder/e/epic_experiment.txt
  forge-gui/res/cardsfolder/m/martial_impetus.txt
Labels: Card Patch, Rules compliance

#663 Remove InternalETB and replace with UpdateResult
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-ai/src/main/java/forge/ai/ability/CanPlayAsDrawbackAi.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/ETBReplacementEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/replacement/ReplaceMoved.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-gui/res/cardsfolder/b/boreal_outrider.txt
  forge-gui/res/cardsfolder/b/brimstone_vandal.txt
  forge-gui/res/cardsfolder/c/celestus_sanctifier.txt
  forge-gui/res/cardsfolder/c/component_collector.txt
  forge-gui/res/cardsfolder/f/firmament_sage.txt
  forge-gui/res/cardsfolder/g/gavony_dawnguard.txt
  forge-gui/res/cardsfolder/j/jorn_god_of_winter_kaldring_the_rimestaff.txt
  forge-gui/res/cardsfolder/m/moritte_of_the_frost.txt
  forge-gui/res/cardsfolder/m/mystic_reflection.txt
  forge-gui/res/cardsfolder/o/obsessive_astronomer.txt
  forge-gui/res/cardsfolder/s/semesters_end.txt
  forge-gui/res/cardsfolder/s/spark_double.txt
  forge-gui/res/cardsfolder/s/storyweave.txt
  forge-gui/res/cardsfolder/s/sunrise_cavalier.txt
  forge-gui/res/cardsfolder/s/sunstreak_phoenix.txt
  forge-gui/res/cardsfolder/t/teferis_time_twist.txt
  forge-gui/res/cardsfolder/t/the_celestus.txt
  forge-gui/res/cardsfolder/upcoming/master_chef.txt
  forge-gui/res/cardsfolder/v/vadrik_astral_archmage.txt
Labels: Game Mechanics

#665 Scion of Halaster fix better
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-gui/res/cardsfolder/upcoming/scion_of_halaster.txt
Labels: Upcoming Set, Game Mechanics, Card Patch

#671 Player: fix Commander Effect
  forge-game/src/main/java/forge/game/player/Player.java
Labels: Game Mechanics

#698 SLD June Drop
  forge-gui/res/editions/Double Masters 2022.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#670 GameAction: fix timestamp and trigger for etb
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/master_chef.txt
Labels: Game Mechanics

#701 recent card tweaks
  forge-gui/res/cardsfolder/upcoming/ancient_silver_dragon.txt
  forge-gui/res/cardsfolder/upcoming/bind_to_secrecy.txt
  forge-gui/res/cardsfolder/upcoming/durnan_of_the_yawning_portal.txt
  forge-gui/res/cardsfolder/upcoming/faldorn_dread_wolf_herald.txt
Labels: Card Cleanup

#625 Blitz Toolbox
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/upcoming/henzie_toolbox_torre.txt
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Upcoming Set, Game Mechanics, AI

#660 fix Toluz + various minor tweaks (mostly AI hints)
  forge-gui/res/cardsfolder/t/toluz_clever_conductor.txt
  forge-gui/res/cardsfolder/upcoming/archivist_of_oghma.txt
  forge-gui/res/cardsfolder/upcoming/artificer_class.txt
  forge-gui/res/cardsfolder/upcoming/astarions_thirst.txt
  forge-gui/res/cardsfolder/upcoming/cadira_caller_of_the_small.txt
  forge-gui/res/cardsfolder/upcoming/jan_jansen_chaos_crafter.txt
Labels: Upcoming Set, AI, Card Cleanup, Card Patch

#667 Fix Lupine Harbingers
  forge-gui/res/cardsfolder/l/lupine_harbingers.txt
Labels: Card Patch

#713 Fix controllerChangeZoneCorrection being applied during LKI checks
  forge-game/src/main/java/forge/game/GameAction.java
Labels: Game Mechanics

#715 Fix scripts
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/m/mogg_assassin.txt
  forge-gui/res/cardsfolder/s/searing_blaze.txt
  forge-gui/res/cardsfolder/upcoming/ancient_bronze_dragon.txt
  forge-gui/res/cardsfolder/y/yosei_the_morning_star.txt
Labels: Card Patch

#717 GameAction: better handle etb counter + doubler + same time
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameEntityCounterTable.java
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/replacement/ReplaceAddCounter.java
  forge-gui-desktop/src/test/java/forge/ai/simulation/GameSimulationTest.java
Labels: Game Mechanics

#722 Extrinsic ETB tapped: fix for double triggers
  forge-gui/res/cardsfolder/a/archon_of_emeria.txt
  forge-gui/res/cardsfolder/a/ashlings_prerogative.txt
  forge-gui/res/cardsfolder/a/authority_of_the_consuls.txt
  forge-gui/res/cardsfolder/b/blind_obedience.txt
  forge-gui/res/cardsfolder/d/due_respect.txt
  forge-gui/res/cardsfolder/f/false_floor.txt
  forge-gui/res/cardsfolder/f/frozen_aether.txt
  forge-gui/res/cardsfolder/i/imposing_sovereign.txt
  forge-gui/res/cardsfolder/k/kinjallis_sunwing.txt
  forge-gui/res/cardsfolder/k/kismet.txt
  forge-gui/res/cardsfolder/l/loxodon_gatekeeper.txt
  forge-gui/res/cardsfolder/m/manglehorn.txt
  forge-gui/res/cardsfolder/n/nahiris_lithoforming.txt
  forge-gui/res/cardsfolder/o/orb_of_dreams.txt
  forge-gui/res/cardsfolder/r/radiant_grace_radiant_restraints.txt
  forge-gui/res/cardsfolder/r/reidane_god_of_the_worthy_valkmira_protectors_shield.txt
  forge-gui/res/cardsfolder/r/root_maze.txt
  forge-gui/res/cardsfolder/s/storyweave.txt
  forge-gui/res/cardsfolder/t/tenacious_pup.txt
  forge-gui/res/cardsfolder/t/thalia_heretic_cathar.txt
  forge-gui/res/cardsfolder/u/uphill_battle.txt
  forge-gui/res/cardsfolder/u/urabrask_the_hidden.txt
Labels: Card Patch

#723 2ndAttemptAtContrabandLivestock
  forge-gui/res/cardsfolder/upcoming/contraband_livestock.txt
  forge-gui/res/tokenscripts/g_4_4_ox.txt
Labels: Upcoming Set

#724 Edition and Draft Ranking updates (CLB, YSNC, 2X2, SNC)
  forge-gui/res/draft/rankings.txt
  forge-gui/res/editions/Alchemy New Capenna.txt
  forge-gui/res/editions/Commander Legends Battle for Baldur's Gate.txt
  forge-gui/res/editions/Double Masters 2022.txt
Labels: Upcoming Set

#720 CardType: better handling for multiword types
  forge-core/src/main/java/forge/card/CardType.java
  forge-game/src/main/java/forge/game/ability/effects/VentureEffect.java
  forge-gui/res/cardsfolder/upcoming/undercity.txt
Labels: Game Mechanics

#750 newcards
  forge-gui/res/cardsfolder/upcoming/breath_weapon.txt
  forge-gui/res/cardsfolder/upcoming/burakos_party_leader.txt
Labels: Upcoming Set

#754 Fix Feather, the Redeemed and some others
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/d/darigaaz_reincarnated.txt
  forge-gui/res/cardsfolder/d/dauthi_voidwalker.txt
  forge-gui/res/cardsfolder/d/dodecapod.txt
  forge-gui/res/cardsfolder/d/draugr_necromancer.txt
  forge-gui/res/cardsfolder/f/feather_the_redeemed.txt
  forge-gui/res/cardsfolder/k/kor_haven.txt
  forge-gui/res/cardsfolder/s/spell_queller.txt
  forge-gui/res/cardsfolder/upcoming/ravenloft_adventurer.txt
Labels: Card Patch

#753 5squeecards
  forge-gui/res/cardsfolder/upcoming/druid_of_the_emerald_grove.txt
  forge-gui/res/cardsfolder/upcoming/earthquake_dragon.txt
  forge-gui/res/cardsfolder/upcoming/elturel_survivors.txt
  forge-gui/res/cardsfolder/upcoming/endless_evil.txt
  forge-gui/res/cardsfolder/upcoming/owlbear_shepherd.txt
Labels: Upcoming Set

#773 letstrytheseagain
  forge-gui/res/cardsfolder/upcoming/balor.txt
  forge-gui/res/cardsfolder/upcoming/cloakwood_swarmkeeper.txt
  forge-gui/res/cardsfolder/upcoming/cone_of_cold.txt
  forge-gui/res/cardsfolder/upcoming/displacer_kitten.txt
Labels: Upcoming Set

#985 Annoyance: remove space
  forge-gui/res/cardsfolder/upcoming/young_red_dragon_bathe_in_gold.txt
Labels: Card Cleanup

#774 Fix Oni-Cult Anvil not triggering when sac itself
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
Labels: Game Mechanics, Rules compliance

#994 YCLB Land Gate cycle
  forge-gui/res/cardsfolder/upcoming/gate_of_the_black_dragon.txt
  forge-gui/res/cardsfolder/upcoming/gate_to_manorborn.txt
  forge-gui/res/cardsfolder/upcoming/gate_to_seatower.txt
  forge-gui/res/cardsfolder/upcoming/gate_to_the_citadel.txt
  forge-gui/res/cardsfolder/upcoming/gate_to_tumbledown.txt
Labels: Upcoming Set

#993 CLB Ghastly Death Tyrant
  forge-gui/res/cardsfolder/upcoming/ghastly_death_tyrant.txt
Labels: Upcoming Set

#997 2X2 edition rarity fixes
  forge-gui/res/editions/Double Masters 2022.txt
Labels: Upcoming Set

#999 Burakos commander fix
  forge-gui/res/cardsfolder/upcoming/burakos_party_leader.txt
Labels: Card Cleanup

#998 2X2 Booster Draft
  forge-gui/res/blockdata/blocks.txt
  forge-gui/res/draft/rankings.txt
  forge-gui/res/editions/Double Masters 2022.txt
Labels: Upcoming Set

#1000 fix ganax_astral_hunter.txt PT
  forge-gui/res/cardsfolder/upcoming/ganax_astral_hunter.txt
Labels: Card Patch

#1003 Baeloth Type fix
  forge-gui/res/cardsfolder/b/bennie_bracks_zoologist.txt
  forge-gui/res/cardsfolder/upcoming/armor_of_shadows.txt
  forge-gui/res/cardsfolder/upcoming/baeloth_barrityl_entertainer.txt
  forge-gui/res/cardsfolder/upcoming/young_red_dragon_bathe_in_gold.txt
Labels: Card Cleanup

#986 5moresqueecards
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-gui/res/cardsfolder/s/scheming_fence.txt
  forge-gui/res/cardsfolder/upcoming/ghost_lantern_bind_spirit.txt
  forge-gui/res/cardsfolder/upcoming/githzerai_monk.txt
  forge-gui/res/cardsfolder/upcoming/green_slime.txt
  forge-gui/res/cardsfolder/upcoming/grell_philosopher.txt
  forge-gui/res/cardsfolder/upcoming/hammers_of_moradin.txt
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Upcoming Set

#1004 Fix cards
  forge-gui/res/cardsfolder/b/bloodvial_purveyor.txt
  forge-gui/res/cardsfolder/g/grasp_of_the_hieromancer.txt
  forge-gui/res/cardsfolder/h/hive_of_the_eye_tyrant.txt
  forge-gui/res/cardsfolder/upcoming/elturel_survivors.txt
Labels: Card Patch

#728 CLB Banishment&Wyll Blade of Frontiers
  forge-gui/res/cardsfolder/upcoming/banishment.txt
  forge-gui/res/cardsfolder/upcoming/wyll_blade_of_frontiers.txt
Labels: Upcoming Set

#1011 Cleanup some cards
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/c/curious_homunculus_voracious_reader.txt
  forge-gui/res/cardsfolder/g/galazeth_prismari.txt
  forge-gui/res/cardsfolder/j/jaya_ballard.txt
  forge-gui/res/cardsfolder/k/karfell_harbinger.txt
  forge-gui/res/cardsfolder/l/life_of_toshiro_umezawa_memory_of_toshiro.txt
  forge-gui/res/cardsfolder/n/nezumi_graverobber_nighteyes_the_desecrator.txt
  forge-gui/res/cardsfolder/s/skulking_killer.txt
  forge-gui/res/cardsfolder/u/unblinking_observer.txt
  forge-gui/res/cardsfolder/u/unified_will.txt
  forge-gui/res/cardsfolder/v/vodalian_arcanist.txt
  forge-gui/res/cardsfolder/w/weight_of_spires.txt
Labels: Card Patch

#1009 Create kagha_shadow_archdruid.txt
  forge-gui/res/cardsfolder/upcoming/kagha_shadow_archdruid.txt
Labels: Upcoming Set

#1013 Fix unmorphing being prevented by invalid static
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
Labels: Game Mechanics, Rules compliance

#992 only reset castFaceDown when making a full spell copy
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/e/ertais_meddling.txt
  forge-gui/res/cardsfolder/e/evelyn_the_covetous.txt
Labels: Game Mechanics
