Repository Card-Forge/forge, pull requests merged in 2022-04, with the labels that each got.

#25 12 April odds and ends
  forge-gui/release-files/CONTRIBUTORS.txt
  forge-gui/res/cardsfolder/a/arcane_melee.txt
  forge-gui/res/cardsfolder/upcoming/arcane_bombardment.txt
Labels: Upcoming Set, AI

#23 SNC: All-Seeing Arbiter
  forge-gui/res/cardsfolder/upcoming/all_seeing_arbiter.txt
Labels: Upcoming Set

#29 PlayAi: Fix NPE with Invoke Calamity
  forge-ai/src/main/java/forge/ai/ability/PlayAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/a/accelerated_mutation.txt
  forge-gui/res/cardsfolder/b/boon_of_boseiju.txt
  forge-gui/res/cardsfolder/c/cabal_conditioning.txt
  forge-gui/res/cardsfolder/d/dispersal_shield.txt
  forge-gui/res/cardsfolder/i/invoke_calamity.txt
  forge-gui/res/cardsfolder/r/reward_the_faithful.txt
  forge-gui/res/cardsfolder/r/rush_of_knowledge.txt
  forge-gui/res/cardsfolder/s/sorin_imperious_bloodlord.txt
  forge-gui/res/cardsfolder/t/torrent_of_fire.txt
  forge-gui/res/cardsfolder/u/ugins_insight.txt
Labels: AI

#24 Sudden Insight without Pump (Count$DifferentManaValue)
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/s/sudden_insight.txt
Labels: Game Mechanics, Card Cleanup

#31 xCount Cleanup
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/a/abzan_beastmaster.txt
  forge-gui/res/cardsfolder/a/alena_kessig_trapper.txt
  forge-gui/res/cardsfolder/a/ancient_ooze.txt
  forge-gui/res/cardsfolder/a/arni_brokenbrow.txt
  forge-gui/res/cardsfolder/a/arni_slays_the_troll.txt
  forge-gui/res/cardsfolder/c/carrion_grub.txt
  forge-gui/res/cardsfolder/d/discerning_taste.txt
  forge-gui/res/cardsfolder/e/essence_harvest.txt
  forge-gui/res/cardsfolder/f/flourishing_hunter.txt
  forge-gui/res/cardsfolder/f/fungal_sprouting.txt
  forge-gui/res/cardsfolder/g/garruk_primal_hunter.txt
  forge-gui/res/cardsfolder/h/huatli_the_suns_heart.txt
  forge-gui/res/cardsfolder/h/huatli_warrior_poet.txt
  forge-gui/res/cardsfolder/i/impetuous_protege.txt
  forge-gui/res/cardsfolder/i/inferno_project.txt
  forge-gui/res/cardsfolder/i/inscription_of_abundance.txt
  forge-gui/res/cardsfolder/k/kin_tree_invocation.txt
  forge-gui/res/cardsfolder/l/loxodon_lifechanter.txt
  forge-gui/res/cardsfolder/m/metalwork_colossus.txt
  forge-gui/res/cardsfolder/m/miming_slime.txt
  forge-gui/res/cardsfolder/m/monstrous_onslaught.txt
  forge-gui/res/cardsfolder/o/overwhelming_stampede.txt
  forge-gui/res/cardsfolder/p/pathbreaker_ibex.txt
  forge-gui/res/cardsfolder/p/peema_aether_seer.txt
  forge-gui/res/cardsfolder/p/primal_empathy.txt
  forge-gui/res/cardsfolder/p/prime_speaker_zegana.txt
  forge-gui/res/cardsfolder/r/return_of_the_wildspeaker.txt
  forge-gui/res/cardsfolder/r/rishkars_expertise.txt
  forge-gui/res/cardsfolder/r/rubblebelt_rioters.txt
  forge-gui/res/cardsfolder/s/selvala_heart_of_the_wilds.txt
  forge-gui/res/cardsfolder/s/spell_rupture.txt
  forge-gui/res/cardsfolder/s/sudden_insight.txt
  forge-gui/res/cardsfolder/s/szats_will.txt
  forge-gui/res/cardsfolder/t/the_great_henge.txt
  forge-gui/res/cardsfolder/t/traverse_the_outlands.txt
  forge-gui/res/cardsfolder/t/triumph_of_cruelty.txt
  forge-gui/res/cardsfolder/t/triumph_of_ferocity.txt
  forge-gui/res/cardsfolder/t/tuya_bearclaw.txt
  forge-gui/res/cardsfolder/upcoming/all_seeing_arbiter.txt
Labels: Card Cleanup

#22 707.10: Copied spells incomplete
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
Labels: Game Mechanics

#18 avoid "Card card" in ChangeZone StackDesc
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
Labels: StackDesc

#36 SNC: Wiretapping and support
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/trigger/TriggerDrawn.java
  forge-gui/res/cardsfolder/upcoming/wiretapping.txt
  forge-gui/res/cardsfolder/x/xyris_the_writhing_storm.txt
Labels: Upcoming Set, Game Mechanics

#37 SNC: 14 April
  forge-gui/res/cardsfolder/upcoming/cemetery_tampering.txt
  forge-gui/res/cardsfolder/upcoming/fight_rigging.txt
  forge-gui/res/cardsfolder/upcoming/maestros_diabolist.txt
  forge-gui/res/cardsfolder/upcoming/maestros_initiate.txt
  forge-gui/res/cardsfolder/upcoming/mages_attendant.txt
  forge-gui/res/cardsfolder/upcoming/rabble_rousing.txt
  forge-gui/res/cardsfolder/upcoming/urabrask_heretic_praetor.txt
  forge-gui/res/tokenscripts/u_1_1_wizard_countersac.txt
Labels: Upcoming Set

#46 luminarch_aspirant.txt add PlayMain1
  forge-gui/res/cardsfolder/l/luminarch_aspirant.txt
Labels: AI

#45 SNC: Maestros Ascendancy and support
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardPlayOption.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-gui/res/cardsfolder/upcoming/maestros_ascendancy.txt
Labels: Upcoming Set, Game Mechanics

#53 SNC edition update
  forge-gui/res/editions/Streets of New Capenna Commander.txt
  forge-gui/res/editions/Streets of New Capenna.txt
Labels: Upcoming Set

#50 SNC - 15 April
  forge-gui/res/cardsfolder/upcoming/antagonize.txt
  forge-gui/res/cardsfolder/upcoming/big_score.txt
  forge-gui/res/cardsfolder/upcoming/black_market_tycoon.txt
  forge-gui/res/cardsfolder/upcoming/bootleggers_stash.txt
  forge-gui/res/cardsfolder/upcoming/brokers_initiate.txt
  forge-gui/res/cardsfolder/upcoming/cabaretti_initiate.txt
  forge-gui/res/cardsfolder/upcoming/civic_gardener.txt
  forge-gui/res/cardsfolder/upcoming/cleanup_crew.txt
  forge-gui/res/cardsfolder/upcoming/crew_captain.txt
  forge-gui/res/cardsfolder/upcoming/crooked_custodian.txt
  forge-gui/res/cardsfolder/upcoming/demons_due.txt
  forge-gui/res/cardsfolder/upcoming/glittermonger.txt
  forge-gui/res/cardsfolder/upcoming/goldhound.txt
  forge-gui/res/cardsfolder/upcoming/jackhammer.txt
  forge-gui/res/cardsfolder/upcoming/jewel_thief.txt
  forge-gui/res/cardsfolder/upcoming/midnight_assassin.txt
  forge-gui/res/cardsfolder/upcoming/obscura_initiate.txt
  forge-gui/res/cardsfolder/upcoming/ognis_the_dragons_lash.txt
  forge-gui/res/cardsfolder/upcoming/ready_to_rumble.txt
  forge-gui/res/cardsfolder/upcoming/riveteers_initiate.txt
  forge-gui/res/cardsfolder/upcoming/wrecking_crew.txt
Labels: Upcoming Set

#56 ChangeZoneEffect > getStackDesc don't need "reveal" when going to a known zone
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
Labels: StackDesc

#58 fix mayPlay NPE
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
Labels: Crash fix

#59 ManaEffect > getStackDesc : add RestrictValid string
  forge-game/src/main/java/forge/game/ability/effects/ManaEffect.java
Labels: StackDesc

#60 SNC: Paragon of Modernity and support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/paragon_of_modernity.txt
Labels: Upcoming Set, Game Mechanics

#52 SNC: 15 April II
  forge-gui/res/cardsfolder/upcoming/cemetery_tampering.txt
  forge-gui/res/cardsfolder/upcoming/graveyard_shift.txt
  forge-gui/res/cardsfolder/upcoming/maestros_initiate.txt
  forge-gui/res/cardsfolder/upcoming/metropolis_angel.txt
  forge-gui/res/cardsfolder/upcoming/raffines_guidance.txt
  forge-gui/res/cardsfolder/upcoming/rakish_revelers.txt
  forge-gui/res/cardsfolder/upcoming/widespread_thieving.txt
Labels: Upcoming Set

#55 SNC: Witness Protection and support
  forge-game/src/main/java/forge/game/StaticEffect.java
  forge-game/src/main/java/forge/game/staticability/StaticAbility.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-gui/res/cardsfolder/upcoming/witness_protection.txt
Labels: Upcoming Set, Game Mechanics

#57 SNC: Evolving Door, Meeting of the Five and support
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/upcoming/evolving_door.txt
  forge-gui/res/cardsfolder/upcoming/meeting_of_the_five.txt
Labels: Upcoming Set, Game Mechanics

#44 Fix UntilYourNextTurn expiring too early
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/PumpAllEffect.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
Labels: Game Mechanics

#73 Some getStackDescription() tweaks
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DamageDealEffect.java
Labels: StackDesc

#67 Detect Screen DPI and scale images accordingly
  forge-gui-desktop/src/main/java/forge/GuiDesktop.java
  forge-gui-desktop/src/main/java/forge/ImageCache.java
  forge-gui-desktop/src/main/java/forge/itemmanager/filters/StatTypeFilter.java
  forge-gui-desktop/src/main/java/forge/itemmanager/views/ImageView.java
  forge-gui-desktop/src/main/java/forge/screens/deckeditor/AddBasicLandsDialog.java
  forge-gui-desktop/src/main/java/forge/screens/deckeditor/controllers/ACEditorBase.java
  forge-gui-desktop/src/main/java/forge/screens/deckeditor/views/VStatistics.java
  forge-gui-desktop/src/main/java/forge/toolbox/CardFaceSymbols.java
  forge-gui-desktop/src/main/java/forge/toolbox/FSkin.java
  forge-gui-desktop/src/main/java/forge/toolbox/imaging/FCardImageRenderer.java
  forge-gui-desktop/src/main/java/forge/toolbox/imaging/FImagePanel.java
  forge-gui-desktop/src/main/java/forge/view/arcane/CardPanel.java
  forge-gui-desktop/src/main/java/forge/view/arcane/ScaledImagePanel.java
  forge-gui-mobile/src/forge/GuiMobile.java
  forge-gui/src/main/java/forge/gui/interfaces/IGuiBase.java
Labels: enhancement

#70 Some SNC scripts from Discord contributors
  forge-gui/res/cardsfolder/upcoming/angel_of_suffering.txt
  forge-gui/res/cardsfolder/upcoming/angelic_observer.txt
  forge-gui/res/cardsfolder/upcoming/aven_heartstabber.txt
  forge-gui/res/cardsfolder/upcoming/buy_your_silence.txt
  forge-gui/res/cardsfolder/upcoming/celebrity_fencer.txt
  forge-gui/res/cardsfolder/upcoming/extraction_specialist.txt
  forge-gui/res/cardsfolder/upcoming/giada_font_of_hope.txt
  forge-gui/res/cardsfolder/upcoming/incandescent_aria.txt
  forge-gui/res/cardsfolder/upcoming/knockout_blow.txt
  forge-gui/res/cardsfolder/upcoming/refuse_to_yield.txt
  forge-gui/res/cardsfolder/upcoming/tainted_indulgence.txt
  forge-gui/res/cardsfolder/upcoming/void_rend.txt
Labels: Upcoming Set

#71 grand_master_of_flowers.txt AI and tweaks
  forge-gui/res/cardsfolder/b/breya_etherium_shaper.txt
  forge-gui/res/cardsfolder/g/grand_master_of_flowers.txt
Labels: Card Cleanup

#72 SNC: 16 April
  forge-gui/res/cardsfolder/upcoming/bouncers_beatdown.txt
  forge-gui/res/cardsfolder/upcoming/corpse_appraiser.txt
  forge-gui/res/cardsfolder/upcoming/glamorous_outlaw.txt
  forge-gui/res/cardsfolder/upcoming/masked_bandits.txt
  forge-gui/res/cardsfolder/upcoming/meeting_of_the_five.txt
  forge-gui/res/cardsfolder/upcoming/out_of_the_way.txt
  forge-gui/res/cardsfolder/upcoming/rakish_revelers.txt
  forge-gui/res/cardsfolder/upcoming/shattered_seraph.txt
  forge-gui/res/cardsfolder/upcoming/sparas_adjudicators.txt
  forge-gui/res/cardsfolder/upcoming/torch_breath.txt
  forge-gui/res/cardsfolder/upcoming/whack.txt
Labels: Upcoming Set

#79 GameActionUtil rework Casualty X to avoid NPE
  forge-game/src/main/java/forge/game/GameActionUtil.java
Labels: Upcoming Set, Crash fix

#82 SNC - 18 April
  forge-gui/res/cardsfolder/upcoming/attended_socialite.txt
  forge-gui/res/cardsfolder/upcoming/ballroom_brawlers.txt
  forge-gui/res/cardsfolder/upcoming/caldaia_strongarm.txt
  forge-gui/res/cardsfolder/upcoming/celebrity_fencer.txt
  forge-gui/res/cardsfolder/upcoming/civic_gardener.txt
  forge-gui/res/cardsfolder/upcoming/devilish_valet.txt
  forge-gui/res/cardsfolder/upcoming/elegant_entourage.txt
  forge-gui/res/cardsfolder/upcoming/forge_boss.txt
  forge-gui/res/cardsfolder/upcoming/gala_greeters.txt
  forge-gui/res/cardsfolder/upcoming/girder_goons.txt
  forge-gui/res/cardsfolder/upcoming/jaxis_the_troublemaker.txt
  forge-gui/res/cardsfolder/upcoming/mayhem_patrol.txt
  forge-gui/res/cardsfolder/upcoming/night_clubber.txt
  forge-gui/res/cardsfolder/upcoming/plasma_jockey.txt
  forge-gui/res/cardsfolder/upcoming/pugnacious_pugilist.txt
  forge-gui/res/cardsfolder/upcoming/riveteers_decoy.txt
  forge-gui/res/cardsfolder/upcoming/riveteers_requisitioner.txt
  forge-gui/res/cardsfolder/upcoming/shakedown_heavy.txt
  forge-gui/res/cardsfolder/upcoming/social_climber.txt
  forge-gui/res/cardsfolder/upcoming/tenacious_underdog.txt
  forge-gui/res/cardsfolder/upcoming/venom_connoisseur.txt
  forge-gui/res/cardsfolder/upcoming/witty_roastmaster.txt
  forge-gui/res/cardsfolder/upcoming/workshop_warchief.txt
  forge-gui/res/tokenscripts/b_2_2_rogue.txt
Labels: Upcoming Set

#84 shoulder_to_shoulder.txt fixup
  forge-gui/res/cardsfolder/s/shoulder_to_shoulder.txt
Labels: Card Cleanup

#86 Shoulder to Shoulder AI
  forge-gui/res/cardsfolder/s/shoulder_to_shoulder.txt
Labels: AI, Card Cleanup

#85 Fix ChangesZone triggers with Defined$
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityVariables.java
  forge-gui/res/cardsfolder/a/angel_of_condemnation.txt
  forge-gui/res/cardsfolder/a/awe_strike.txt
  forge-gui/res/cardsfolder/b/beacon_of_destiny.txt
  forge-gui/res/cardsfolder/b/brace_for_impact.txt
  forge-gui/res/cardsfolder/c/carom.txt
  forge-gui/res/cardsfolder/d/diseased_vermin.txt
  forge-gui/res/cardsfolder/d/dromokas_command.txt
  forge-gui/res/cardsfolder/f/frenetic_sliver.txt
  forge-gui/res/cardsfolder/g/generals_regalia.txt
  forge-gui/res/cardsfolder/h/hallow.txt
  forge-gui/res/cardsfolder/h/hidden_retreat.txt
  forge-gui/res/cardsfolder/h/hunters_edge.txt
  forge-gui/res/cardsfolder/j/jade_monolith.txt
  forge-gui/res/cardsfolder/k/kor_chant.txt
  forge-gui/res/cardsfolder/k/kor_dirge.txt
  forge-gui/res/cardsfolder/m/martyrs_cause.txt
  forge-gui/res/cardsfolder/n/nova_pentacle.txt
  forge-gui/res/cardsfolder/o/opal_eye_kondas_yojimbo.txt
  forge-gui/res/cardsfolder/o/oracles_attendants.txt
  forge-gui/res/cardsfolder/s/sanctum_guardian.txt
  forge-gui/res/cardsfolder/s/shaman_en_kor.txt
Labels: Card Cleanup, Card Patch

#83 SNC: Elspeth Resplendent and support + refactoring various related IKO stuff
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-gui/res/cardsfolder/b/boot_nipper.txt
  forge-gui/res/cardsfolder/c/crystalline_giant.txt
  forge-gui/res/cardsfolder/f/ferocious_tigorilla.txt
  forge-gui/res/cardsfolder/f/flycatcher_giraffid.txt
  forge-gui/res/cardsfolder/g/grimdancer.txt
  forge-gui/res/cardsfolder/h/helica_glider.txt
  forge-gui/res/cardsfolder/u/unexpected_fangs.txt
  forge-gui/res/cardsfolder/upcoming/elspeth_resplendent.txt
  forge-gui/res/cardsfolder/w/wingfold_pteron.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Upcoming Set, Game Mechanics, Card Cleanup, StackDesc

#11 SNC: Make Connive effect
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/ConniveEffect.java
  forge-gui/res/cardsfolder/upcoming/body_launderer.txt
  forge-gui/res/cardsfolder/upcoming/echo_inspector.txt
  forge-gui/res/cardsfolder/upcoming/hypnotic_grifter.txt
  forge-gui/res/cardsfolder/upcoming/illuminator_virtuoso.txt
  forge-gui/res/cardsfolder/upcoming/kamiz_obscura_oculus.txt
  forge-gui/res/cardsfolder/upcoming/ledger_shredder.txt
  forge-gui/res/cardsfolder/upcoming/obscura_interceptor.txt
  forge-gui/res/cardsfolder/upcoming/psionic_snoop.txt
  forge-gui/res/cardsfolder/upcoming/psychic_pickpocket.txt
  forge-gui/res/cardsfolder/upcoming/raffine_scheming_seer.txt
  forge-gui/res/cardsfolder/upcoming/raffines_informant.txt
  forge-gui/res/cardsfolder/upcoming/raffines_silencer.txt
  forge-gui/res/cardsfolder/upcoming/revel_ruiner.txt
  forge-gui/res/cardsfolder/upcoming/security_bypass.txt
  forge-gui/res/cardsfolder/upcoming/toluz_clever_conductor.txt
Labels: Upcoming Set, Game Mechanics

#88 sizzling_soloist.txt
  forge-gui/res/cardsfolder/upcoming/sizzling_soloist.txt
Labels: Upcoming Set

#93 Fix IsTriggerRemembered for Tokens
  forge-game/src/main/java/forge/game/GameAction.java
  forge-gui/res/cardsfolder/t/tatsumasa_the_dragons_fang.txt
Labels: Game Mechanics

#89 SNC - 19 April
  forge-gui/res/cardsfolder/upcoming/backup_agent.txt
  forge-gui/res/cardsfolder/upcoming/body_dropper.txt
  forge-gui/res/cardsfolder/upcoming/brokers_hideout.txt
  forge-gui/res/cardsfolder/upcoming/cabaretti_courtyard.txt
  forge-gui/res/cardsfolder/upcoming/capenna_express.txt
  forge-gui/res/cardsfolder/upcoming/civil_servant.txt
  forge-gui/res/cardsfolder/upcoming/cutthroat_contender.txt
  forge-gui/res/cardsfolder/upcoming/darling_of_the_masses.txt
  forge-gui/res/cardsfolder/upcoming/deal_gone_bad.txt
  forge-gui/res/cardsfolder/upcoming/exhibition_magician.txt
  forge-gui/res/cardsfolder/upcoming/expendable_lackey.txt
  forge-gui/res/cardsfolder/upcoming/fleetfoot_dancer.txt
  forge-gui/res/cardsfolder/upcoming/for_the_family.txt
  forge-gui/res/cardsfolder/upcoming/gathering_throng.txt
  forge-gui/res/cardsfolder/upcoming/gilded_pinions.txt
  forge-gui/res/cardsfolder/upcoming/halo_scarab.txt
  forge-gui/res/cardsfolder/upcoming/lord_xander_the_collector.txt
  forge-gui/res/cardsfolder/upcoming/majestic_metamorphosis.txt
  forge-gui/res/cardsfolder/upcoming/mr_orfeo_the_boulder.txt
  forge-gui/res/cardsfolder/upcoming/obscura_storefront.txt
  forge-gui/res/cardsfolder/upcoming/ominous_parcel.txt
  forge-gui/res/cardsfolder/upcoming/prizefight.txt
  forge-gui/res/cardsfolder/upcoming/queza_augur_of_agonies.txt
  forge-gui/res/cardsfolder/upcoming/riveteers_overlook.txt
  forge-gui/res/cardsfolder/upcoming/sky_crier.txt
  forge-gui/res/cardsfolder/upcoming/slip_out_the_back.txt
  forge-gui/res/cardsfolder/upcoming/speakeasy_server.txt
  forge-gui/res/cardsfolder/upcoming/stimulus_package.txt
  forge-gui/res/cardsfolder/upcoming/take_to_the_streets.txt
  forge-gui/res/tokenscripts/u_1_1_fish_unblockable.txt
Labels: Upcoming Set

#95 SNC: Case the Joint and support
  forge-game/src/main/java/forge/game/ability/effects/PeekAndRevealEffect.java
  forge-gui/res/cardsfolder/m/medomais_prophecy.txt
  forge-gui/res/cardsfolder/upcoming/case_the_joint.txt
Labels: Upcoming Set, Card Patch, StackDesc

#98 SNC: Hostile Takeover and getStackDesc tweak
  forge-game/src/main/java/forge/game/ability/effects/DamageAllEffect.java
  forge-gui/res/cardsfolder/upcoming/hostile_takeover.txt
Labels: Upcoming Set, StackDesc

#105 NCC edition update
  forge-gui/res/editions/Streets of New Capenna Commander.txt
  forge-gui/res/editions/Streets of New Capenna.txt
Labels: Upcoming Set

#96 DiscardEffect getStackDescription() overhaul
  forge-game/src/main/java/forge/game/ability/effects/DiscardEffect.java
  forge-gui/res/cardsfolder/i/inquisition_of_kozilek.txt
Labels: StackDesc

#109 Flames of the Blood Hand Oracle update
  forge-gui/res/cardsfolder/f/flames_of_the_blood_hand.txt
Labels: Rules/Oracle Changes

#100 Fix self-blinks still returning when exiled by another effect
  forge-game/src/main/java/forge/game/ability/effects/PeekAndRevealEffect.java
  forge-gui/res/cardsfolder/a/aetherling.txt
  forge-gui/res/cardsfolder/a/anurid_brushhopper.txt
  forge-gui/res/cardsfolder/f/fleeting_spirit.txt
  forge-gui/res/cardsfolder/g/ghost_council_of_orzhova.txt
  forge-gui/res/cardsfolder/h/hikari_twilight_guardian.txt
  forge-gui/res/cardsfolder/n/nezahal_primal_tide.txt
  forge-gui/res/cardsfolder/n/norin_the_wary.txt
Labels: Card Patch

#111 more DiscardEffect stackDesc + auto TgtPrompt improvements!
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/ability/effects/DiscardEffect.java
  forge-gui/res/cardsfolder/a/addle.txt
  forge-gui/res/cardsfolder/c/collective_brutality.txt
  forge-gui/res/cardsfolder/d/despise.txt
  forge-gui/res/cardsfolder/d/divest.txt
  forge-gui/res/cardsfolder/d/dread_fugue.txt
  forge-gui/res/cardsfolder/d/drill_bit.txt
  forge-gui/res/cardsfolder/e/elspeths_nightmare.txt
  forge-gui/res/cardsfolder/e/encroach.txt
  forge-gui/res/cardsfolder/e/entomber_exarch.txt
  forge-gui/res/cardsfolder/l/lay_bare_the_heart.txt
  forge-gui/res/cardsfolder/m/mardu_charm.txt
  forge-gui/res/cardsfolder/m/memory_theft.txt
  forge-gui/res/cardsfolder/p/psychic_spear.txt
  forge-gui/res/cardsfolder/s/splitting_headache.txt
  forge-gui/res/cardsfolder/t/thoughtseize.txt
  forge-gui/res/cardsfolder/v/venarian_glimmer.txt
Labels: Card Cleanup, StackDesc

#114 PeekAndReveal stackDesc NPE fix
  forge-game/src/main/java/forge/game/ability/effects/PeekAndRevealEffect.java
  forge-gui/res/cardsfolder/f/frost_augur.txt
Labels: StackDesc, Crash fix

#115 Add Explorer format (only for Archived formats)
  forge-gui/res/formats/Historic/DCI/Explorer/2022-04-21.txt
  forge-gui/res/formats/Historic/DCI/Explorer/2022-04-28.txt
Labels: Format Changes

#116 Remove non-legal cards from Explorer format
  forge-gui/res/formats/Historic/DCI/Explorer/2022-04-21.txt
  forge-gui/res/formats/Historic/DCI/Explorer/2022-04-28.txt
Labels: Format Changes

#124 Fix NPE with Unexpected Fangs
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
Labels: AI

#125 Fix a couple of interactions
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ability/EffectAi.java
  forge-ai/src/main/java/forge/ai/ability/PermanentAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/RepeatEachEffect.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/m/mangara_the_diplomat.txt
Labels: Game Mechanics, Card Patch

#26 SNC: Luxior, Giada's Gift and support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/upcoming/luxior_giadas_gift.txt
Labels: Upcoming Set, Game Mechanics

#49 SNC: Exotic Pets and support
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-gui/res/cardsfolder/upcoming/exotic_pets.txt
Labels: Upcoming Set, Game Mechanics

#128 Goodbye MustAttackEffect
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-ai/src/main/java/forge/ai/ability/AttachAi.java
  forge-ai/src/main/java/forge/ai/ability/MustAttackAi.java
  forge-ai/src/main/java/forge/ai/ability/PumpAiBase.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/MustAttackEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RestartGameEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/combat/AttackRequirement.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/lists/NonStackingKWList.txt
Labels: AI

#139 AI: "ChangeNum" defaults
  forge-ai/src/main/java/forge/ai/SpecialCardAi.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
Labels: AI

#140 Old card tweaks
  forge-gui/res/cardsfolder/a/alliance_of_arms.txt
  forge-gui/res/cardsfolder/t/tidal_influence.txt
Labels: Card Cleanup

#146 Cleanup Leech Bonder
  forge-ai/src/main/java/forge/ai/ability/CountersMoveAi.java
  forge-ai/src/main/java/forge/ai/ability/CountersRemoveAi.java
  forge-game/src/main/java/forge/game/ability/effects/CountersMoveEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersRemoveEffect.java
  forge-gui/res/cardsfolder/l/leech_bonder.txt
Labels: Card Cleanup

#127 Improve DelayedTrigger for effects with "during its controller's next turn"
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-ai/src/main/java/forge/ai/ability/CountersMoveAi.java
  forge-ai/src/main/java/forge/ai/ability/PumpAi.java
  forge-game/src/main/java/forge/game/ability/effects/DelayedTriggerEffect.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-gui/res/cardsfolder/d/daghatar_the_adamant.txt
  forge-gui/res/cardsfolder/e/emrakul_the_promised_end.txt
  forge-gui/res/cardsfolder/g/grand_master_of_flowers.txt
  forge-gui/res/cardsfolder/i/icebreaker_kraken.txt
  forge-gui/res/cardsfolder/k/kytheon_hero_of_akros_gideon_battle_forged.txt
  forge-gui/res/cardsfolder/m/misstep.txt
  forge-gui/res/cardsfolder/w/wall_of_dust.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: AI, Card Cleanup, Card Patch, Rules compliance

#138 Arcane Bombardment - quality of life
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/ability/effects/MillEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/cost/CostExile.java
  forge-game/src/main/java/forge/trackable/TrackableProperty.java
  forge-gui/res/cardsfolder/upcoming/arcane_bombardment.txt
  forge-gui/src/main/java/forge/gui/card/CardDetailUtil.java
  forge-gui/src/main/java/forge/player/HumanPlay.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: enhancement, Upcoming Set, Game Mechanics

#141 SNC: 25 April
  forge-gui/res/cardsfolder/upcoming/obscura_ascendancy.txt
  forge-gui/res/cardsfolder/upcoming/rocco_cabaretti_caterer.txt
  forge-gui/res/cardsfolder/upcoming/unlicensed_hearse.txt
  forge-gui/res/tokenscripts/w_2_2_spirit_flying.txt
Labels: Upcoming Set

#151 Update SNC draft ranking and various edition/format fixes
  forge-gui/res/draft/rankings.txt
  forge-gui/res/editions/Streets of New Capenna Commander.txt
  forge-gui/res/editions/Streets of New Capenna.txt
  forge-gui/res/formats/Historic/DCI/Legacy/2017-11-10.txt
  forge-gui/res/formats/Historic/DCI/Vintage/2017-11-10.txt
Labels: Upcoming Set

#152 SNC: Jinnie Fay, Jetmir's Second and support
  forge-game/src/main/java/forge/game/ability/effects/ReplaceTokenEffect.java
  forge-gui/res/cardsfolder/upcoming/jinnie_fay_jetmirs_second.txt
  forge-gui/res/tokenscripts/g_2_2_cat_haste.txt
  forge-gui/res/tokenscripts/g_3_1_dog_vigilance.txt
Labels: Upcoming Set, Game Mechanics

#153 park_heights_pegasus.txt
  forge-gui/res/cardsfolder/upcoming/park_heights_pegasus.txt
Labels: Upcoming Set

#148 SNC: Scheming Fence and support
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-gui/res/cardsfolder/k/kasmina_enigma_sage.txt
  forge-gui/res/cardsfolder/n/nicol_bolas_dragon_god.txt
  forge-gui/res/cardsfolder/upcoming/scheming_fence.txt
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Upcoming Set, Game Mechanics

#162 SNC: Ziatora's Envoy and PlayEffect Support
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-gui/res/cardsfolder/a/aetherworks_marvel.txt
  forge-gui/res/cardsfolder/c/chaos_wand.txt
  forge-gui/res/cardsfolder/d/dazzling_sphinx.txt
  forge-gui/res/cardsfolder/d/discover_the_impossible.txt
  forge-gui/res/cardsfolder/k/kaho_minamo_historian.txt
  forge-gui/res/cardsfolder/m/muse_vortex.txt
  forge-gui/res/cardsfolder/s/sunbirds_invocation.txt
  forge-gui/res/cardsfolder/s/svella_ice_shaper.txt
  forge-gui/res/cardsfolder/u/unpredictable_cyclone.txt
  forge-gui/res/cardsfolder/upcoming/ziatoras_envoy.txt
  forge-gui/res/cardsfolder/v/velomachus_lorehold.txt
Labels: Upcoming Set, Game Mechanics

#164 Brilliant Ultimatum without RepeatEach
  forge-gui/res/cardsfolder/b/brilliant_ultimatum.txt
Labels: Card Cleanup

#163 Crew StackDesc remove random )
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
Labels: StackDesc, Rules compliance

#161 SNC: 27 April
  forge-gui/res/cardsfolder/b/balan_wandering_knight.txt
  forge-gui/res/cardsfolder/upcoming/brass_knuckles.txt
  forge-gui/res/cardsfolder/upcoming/cabaretti_ascendancy.txt
  forge-gui/res/cardsfolder/upcoming/call_in_a_professional.txt
  forge-gui/res/cardsfolder/upcoming/celestial_regulator.txt
  forge-gui/res/cardsfolder/upcoming/endless_detour.txt
  forge-gui/res/cardsfolder/upcoming/even_the_score.txt
  forge-gui/res/cardsfolder/upcoming/fatal_grudge.txt
  forge-gui/res/cardsfolder/upcoming/freelance_muscle.txt
  forge-gui/res/cardsfolder/upcoming/hoard_hauler.txt
  forge-gui/res/cardsfolder/upcoming/patch_up.txt
  forge-gui/res/cardsfolder/upcoming/reservoir_kraken.txt
  forge-gui/res/cardsfolder/upcoming/riveteers_ascendancy.txt
  forge-gui/res/cardsfolder/upcoming/sanguine_spy.txt
  forge-gui/res/cardsfolder/upcoming/shadow_of_mortality.txt
  forge-gui/res/cardsfolder/upcoming/sleep_with_the_fishes.txt
  forge-gui/res/cardsfolder/upcoming/syndicate_infiltrator.txt
Labels: Upcoming Set, Card Cleanup

#120 Refactor Encore & Myriad
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CleanUpEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CopyPermanentEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RepeatEachEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ReplaceTokenEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TokenEffectBase.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/a/arboria.txt
  forge-gui/res/cardsfolder/f/fractured_identity.txt
Labels: Game Mechanics

#158 SNC: Dusk Mangler and support
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/cost/Cost.java
  forge-gui/res/cardsfolder/upcoming/dusk_mangler.txt
Labels: Upcoming Set, Game Mechanics

#74 SNC: Card scripts using new shield counters
  forge-gui/res/cardsfolder/upcoming/boon_of_safety.txt
  forge-gui/res/cardsfolder/upcoming/brokers_veteran.txt
  forge-gui/res/cardsfolder/upcoming/dapper_shieldmate.txt
  forge-gui/res/cardsfolder/upcoming/disciplined_duelist.txt
  forge-gui/res/cardsfolder/upcoming/falco_spara_pactweaver.txt
  forge-gui/res/cardsfolder/upcoming/rhox_pummeler.txt
  forge-gui/res/cardsfolder/upcoming/rigo_streetwise_mentor.txt
  forge-gui/res/cardsfolder/upcoming/sanctuary_warden.txt
  forge-gui/res/cardsfolder/upcoming/swooping_protector.txt
  forge-gui/res/cardsfolder/upcoming/titan_of_industry.txt
  forge-gui/res/cardsfolder/upcoming/undercover_operative.txt
  forge-gui/res/cardsfolder/upcoming/voice_of_the_vermin.txt
  forge-gui/res/cardsfolder/upcoming/wingshield_agent.txt
Labels: Upcoming Set

#166 Fix Esix replacing too much from other effects
  forge-game/src/main/java/forge/game/ability/effects/CopyPermanentEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ReplaceTokenEffect.java
  forge-gui/res/cardsfolder/e/esix_fractal_bloom.txt
Labels: Game Mechanics

#175 willPayUnlessCost: teach AI to refuse if Uncounterable already prevents it
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
Labels: AI

#171 SNC - 29 April
  forge-gui/res/cardsfolder/upcoming/cement_shoes.txt
  forge-gui/res/cardsfolder/upcoming/daring_escape.txt
  forge-gui/res/cardsfolder/upcoming/extract_the_truth.txt
  forge-gui/res/cardsfolder/upcoming/fake_your_own_death.txt
  forge-gui/res/cardsfolder/upcoming/high_rise_sawjack.txt
  forge-gui/res/cardsfolder/upcoming/involuntary_employment.txt
  forge-gui/res/cardsfolder/upcoming/jetmirs_fixer.txt
  forge-gui/res/cardsfolder/upcoming/most_wanted.txt
  forge-gui/res/cardsfolder/upcoming/quick_draw_dagger.txt
  forge-gui/res/cardsfolder/upcoming/revelation_of_power.txt
  forge-gui/res/cardsfolder/upcoming/run_out_of_town.txt
  forge-gui/res/cardsfolder/upcoming/scuttling_butler.txt
  forge-gui/res/cardsfolder/upcoming/sewer_crocodile.txt
  forge-gui/res/cardsfolder/upcoming/sticky_fingers.txt
  forge-gui/res/cardsfolder/upcoming/warm_welcome.txt
Labels: Upcoming Set

#178 Improve AI attack requirements
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-game/src/main/java/forge/game/combat/AttackConstraints.java
  forge-gui/res/cardsfolder/k/kytheon_hero_of_akros_gideon_battle_forged.txt
Labels: AI

#174 all_suns_dawn.txt tidy up
  forge-gui/res/cardsfolder/a/all_suns_dawn.txt
Labels: Card Cleanup

#172 SNC: 29 Apr
  forge-gui/res/cardsfolder/upcoming/corpse_explosion.txt
  forge-gui/res/cardsfolder/upcoming/rogues_gallery.txt
Labels: Upcoming Set
