Repository Card-Forge/forge, pull requests merged in 2023-11, with the labels that each got.

#4062 prevent NPE when loading save with null boosters object
  forge-gui-mobile/src/forge/adventure/player/AdventurePlayer.java
Labels: Adventure

#4079 Edition updates: LCC, LCI, REX, SPG
  forge-gui/res/cardsfolder/upcoming/welcome_to_jurassic_park.txt
  forge-gui/res/editions/Jurassic World Collection.txt
  forge-gui/res/editions/Special Guests.txt
  forge-gui/res/editions/The Lost Caverns of Ixalan Commander.txt
  forge-gui/res/editions/The Lost Caverns of Ixalan.txt
Labels: Upcoming Set

#4041 10 more WHO
  forge-gui/res/cardsfolder/upcoming/an_unearthly_child.txt
  forge-gui/res/cardsfolder/upcoming/dan_lewis.txt
  forge-gui/res/cardsfolder/upcoming/ian_chesterton.txt
  forge-gui/res/cardsfolder/upcoming/jo_grant.txt
  forge-gui/res/cardsfolder/upcoming/spectrox_mines.txt
  forge-gui/res/cardsfolder/upcoming/the_caves_of_androzani.txt
  forge-gui/res/cardsfolder/upcoming/the_day_of_the_doctor.txt
  forge-gui/res/cardsfolder/upcoming/the_dining_car.txt
  forge-gui/res/cardsfolder/upcoming/truth_or_consequences.txt
  forge-gui/res/cardsfolder/upcoming/unit_headquarters.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/tokenscripts/b_2_2_human_rogue.txt
Labels: Upcoming Set

#4103 Edition updates: LCC, LCI, REX
  forge-gui/res/editions/Jurassic World Collection.txt
  forge-gui/res/editions/The Lost Caverns of Ixalan Commander.txt
  forge-gui/res/editions/The Lost Caverns of Ixalan.txt
Labels: Upcoming Set

#4086 LCI: nicanzil_current_conductor.txt + support
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/effects/ExploreEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerExplores.java
  forge-gui/res/cardsfolder/upcoming/nicanzil_current_conductor.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Upcoming Set, Game Mechanics

#4091 WHO: idris_soul_of_the_tardis.txt + support
  forge-game/src/main/java/forge/game/StaticEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/staticability/StaticAbility.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-gui/res/cardsfolder/b/bogardan_hellkite.txt
  forge-gui/res/cardsfolder/b/burning_suns_avatar.txt
  forge-gui/res/cardsfolder/c/clone_crafter.txt
  forge-gui/res/cardsfolder/d/diregraf_scavenger.txt
  forge-gui/res/cardsfolder/d/disciple_of_phenax.txt
  forge-gui/res/cardsfolder/d/dragonfly_pilot.txt
  forge-gui/res/cardsfolder/e/earthshaker_khenra.txt
  forge-gui/res/cardsfolder/f/faceless_devourer.txt
  forge-gui/res/cardsfolder/f/fblthp_the_lost.txt
  forge-gui/res/cardsfolder/g/gutmorn_pactbound_servant.txt
  forge-gui/res/cardsfolder/k/kami_of_mourning.txt
  forge-gui/res/cardsfolder/l/legacys_allure.txt
  forge-gui/res/cardsfolder/o/old_man_of_the_sea.txt
  forge-gui/res/cardsfolder/r/riveteers_provocateur.txt
  forge-gui/res/cardsfolder/s/scrapwork_mutt.txt
  forge-gui/res/cardsfolder/s/shipwreck_moray.txt
  forge-gui/res/cardsfolder/t/thieving_sprite.txt
  forge-gui/res/cardsfolder/u/unliving_psychopath.txt
  forge-gui/res/cardsfolder/upcoming/idris_soul_of_the_tardis.txt
  forge-gui/res/cardsfolder/v/vedalken_shackles.txt
Labels: Upcoming Set, Game Mechanics

#4097 LCI – ReplaceExplore cards and support
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-ai/src/main/java/forge/ai/ability/ExploreAi.java
  forge-ai/src/main/java/forge/ai/simulation/SpellAbilityPicker.java
  forge-game/src/main/java/forge/game/ability/effects/ExploreEffect.java
  forge-game/src/main/java/forge/game/player/PlayerController.java
  forge-game/src/main/java/forge/game/replacement/ReplaceExplore.java
  forge-game/src/main/java/forge/game/replacement/ReplacementType.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/PlayerControllerForTests.java
  forge-gui/res/cardsfolder/g/goblin_dirigible.txt
  forge-gui/res/cardsfolder/j/jadelight_ranger.txt
  forge-gui/res/cardsfolder/upcoming/jadelight_spelunker.txt
  forge-gui/res/cardsfolder/upcoming/topography_tracker.txt
  forge-gui/res/cardsfolder/upcoming/twists_and_turns_mycoid_maze.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/res/tokenscripts/c_a_map_sac_explore.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputConfirm.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Upcoming Set, Game Mechanics

#4126 TriggerExcessDamageAll: add new trigger for Magmatic Galleon
  forge-game/src/main/java/forge/game/card/CardDamageMap.java
  forge-game/src/main/java/forge/game/trigger/TriggerExcessDamageAll.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-gui/res/cardsfolder/upcoming/magmatic_galleon.txt
Labels: Upcoming Set, Game Mechanics

#4125 Clean up card to play display
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/m/mausoleum_secrets.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputConfirm.java
Labels: GUI

#4092 LCI 15 cards
  forge-gui/res/cardsfolder/upcoming/abyssal_gorestalker.txt
  forge-gui/res/cardsfolder/upcoming/cogwork_wrestler.txt
  forge-gui/res/cardsfolder/upcoming/didact_echo.txt
  forge-gui/res/cardsfolder/upcoming/get_lost.txt
  forge-gui/res/cardsfolder/upcoming/malamet_war_scribe.txt
  forge-gui/res/cardsfolder/upcoming/matzalantli_the_great_door_the_core.txt
  forge-gui/res/cardsfolder/upcoming/ojer_axonil_deepest_might_temple_of_power.txt
  forge-gui/res/cardsfolder/upcoming/ojer_kaslem_deepest_growth_temple_of_cultivation.txt
  forge-gui/res/cardsfolder/upcoming/self_reflection.txt
  forge-gui/res/cardsfolder/upcoming/spyglass_siren.txt
  forge-gui/res/cardsfolder/upcoming/staunch_crewmate.txt
  forge-gui/res/cardsfolder/upcoming/subterranean_schooner.txt
  forge-gui/res/cardsfolder/upcoming/the_ancient_one.txt
  forge-gui/res/cardsfolder/upcoming/vanguard_of_the_rose.txt
  forge-gui/res/cardsfolder/upcoming/waterwind_scout.txt
Labels: Upcoming Set

#4076 Panharmonicon: improve filtering of cause for complex trigger
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPanharmonicon.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-gui/res/cardsfolder/o/obuun_mul_daya_ancestor.txt
  forge-gui/res/cardsfolder/t/titania_voice_of_gaea_titania_gaea_incarnate.txt
Labels: Rules compliance

#4127 Move the Bring the Ending logic into SpecialCardAi until it's rewritten
  forge-ai/src/main/java/forge/ai/SpecialCardAi.java
  forge-ai/src/main/java/forge/ai/ability/BranchAi.java
Labels: AI

#4080 REX last 11 cards
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/keyword/KeywordInstance.java
  forge-gui/res/cardsfolder/n/nemesis_of_mortals.txt
  forge-gui/res/cardsfolder/upcoming/blue_loyal_raptor.txt
  forge-gui/res/cardsfolder/upcoming/cresting_mosasaurus.txt
  forge-gui/res/cardsfolder/upcoming/grim_giganotosaurus.txt
  forge-gui/res/cardsfolder/upcoming/henry_wu_ingen_geneticist.txt
  forge-gui/res/cardsfolder/upcoming/hunting_velociraptor.txt
  forge-gui/res/cardsfolder/upcoming/owen_grady_raptor_trainer.txt
  forge-gui/res/cardsfolder/upcoming/permission_denied.txt
  forge-gui/res/cardsfolder/upcoming/ravenous_tyrannosaurus.txt
  forge-gui/res/cardsfolder/upcoming/savage_order.txt
  forge-gui/res/cardsfolder/upcoming/spitting_dilophosaurus.txt
  forge-gui/res/cardsfolder/upcoming/swooping_pteranodon.txt
Labels: Upcoming Set

#4106 LCI 13 cards 4/11
  forge-gui/res/cardsfolder/upcoming/abuelos_awakening.txt
  forge-gui/res/cardsfolder/upcoming/acolyte_of_aclazotz.txt
  forge-gui/res/cardsfolder/upcoming/acrobatic_leap.txt
  forge-gui/res/cardsfolder/upcoming/adaptive_gemguard.txt
  forge-gui/res/cardsfolder/upcoming/ancestors_aid.txt
  forge-gui/res/cardsfolder/upcoming/ancestral_reminiscence.txt
  forge-gui/res/cardsfolder/upcoming/anim_pakal_thousandth_moon.txt
  forge-gui/res/cardsfolder/upcoming/another_chance.txt
  forge-gui/res/cardsfolder/upcoming/armored_kincaller.txt
  forge-gui/res/cardsfolder/upcoming/attentive_sunscribe.txt
  forge-gui/res/cardsfolder/upcoming/basking_capybara.txt
  forge-gui/res/cardsfolder/upcoming/gargantuan_leech.txt
  forge-gui/res/cardsfolder/upcoming/threefold_thunderhulk.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set

#4132 Better place for the Branch counterspell logic.
  forge-ai/src/main/java/forge/ai/SpecialAiLogic.java
  forge-ai/src/main/java/forge/ai/SpecialCardAi.java
  forge-ai/src/main/java/forge/ai/ability/BranchAi.java
Labels: AI

#4115 LCI 11 cards (5/11)
  forge-gui/res/cardsfolder/upcoming/bat_colony.txt
  forge-gui/res/cardsfolder/upcoming/bitter_triumph.txt
  forge-gui/res/cardsfolder/upcoming/brackish_blunder.txt
  forge-gui/res/cardsfolder/upcoming/brazen_blademaster.txt
  forge-gui/res/cardsfolder/upcoming/burning_sun_cavalry.txt
  forge-gui/res/cardsfolder/upcoming/calamitous_cave_in.txt
  forge-gui/res/cardsfolder/upcoming/canonized_in_blood.txt
  forge-gui/res/cardsfolder/upcoming/captivating_cave.txt
  forge-gui/res/cardsfolder/upcoming/cartographers_companion.txt
  forge-gui/res/cardsfolder/upcoming/cavern_stomper.txt
  forge-gui/res/cardsfolder/upcoming/child_of_the_volcano.txt
  forge-gui/res/tokenscripts/wb_4_3_vampire_demon_flying.txt
Labels: Upcoming Set

#4134 LCI 20 cards
  forge-gui/res/cardsfolder/upcoming/coati_scavenger.txt
  forge-gui/res/cardsfolder/upcoming/contested_bame_ball.txt
  forge-gui/res/cardsfolder/upcoming/corpses_of_the_lost.txt
  forge-gui/res/cardsfolder/upcoming/cosmium_blast.txt
  forge-gui/res/cardsfolder/upcoming/deathcap_marionette.txt
  forge-gui/res/cardsfolder/upcoming/deconstruction_hammer.txt
  forge-gui/res/cardsfolder/upcoming/deep_goblin_skulltaker.txt
  forge-gui/res/cardsfolder/upcoming/deepfathom_echo.txt
  forge-gui/res/cardsfolder/upcoming/defossilize.txt
  forge-gui/res/cardsfolder/upcoming/disruptor_wanderglyph.txt
  forge-gui/res/cardsfolder/upcoming/disturbed_slumber.txt
  forge-gui/res/cardsfolder/upcoming/dowsing_device_geode_grotto.txt
  forge-gui/res/cardsfolder/upcoming/dreadmaws_ire.txt
  forge-gui/res/cardsfolder/upcoming/dusk_rose_reliquary.txt
  forge-gui/res/cardsfolder/upcoming/earthshaker_dreadmaw.txt
  forge-gui/res/cardsfolder/upcoming/eaten_by_piranhas.txt
  forge-gui/res/cardsfolder/upcoming/echo_of_dusk.txt
  forge-gui/res/cardsfolder/upcoming/envoy_of_okinec_ahau.txt
  forge-gui/res/cardsfolder/upcoming/explorers_cache.txt
  forge-gui/res/cardsfolder/upcoming/family_reunion.txt
  forge-gui/res/tokenscripts/b_2_2_skeleton_pirate.txt
Labels: Upcoming Set

#4138 LCI 20 cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/fanatical_offering.txt
  forge-gui/res/cardsfolder/upcoming/frilled_cave_wurm.txt
  forge-gui/res/cardsfolder/upcoming/fungal_fortitude.txt
  forge-gui/res/cardsfolder/upcoming/glimpse_the_core.txt
  forge-gui/res/cardsfolder/upcoming/glorifier_of_suffering.txt
  forge-gui/res/cardsfolder/upcoming/glowcap_lantern.txt
  forge-gui/res/cardsfolder/upcoming/goblin_tomb_raider.txt
  forge-gui/res/cardsfolder/upcoming/goldfury_strider.txt
  forge-gui/res/cardsfolder/upcoming/grasping_shadows.txt
  forge-gui/res/cardsfolder/upcoming/greedy_freebooter.txt
  forge-gui/res/cardsfolder/upcoming/guardian_of_the_great_door.txt
  forge-gui/res/cardsfolder/upcoming/hermitic_nautilus.txt
  forge-gui/res/cardsfolder/upcoming/hotfoot_gnome.txt
  forge-gui/res/cardsfolder/upcoming/hoverstone_pilgrim.txt
  forge-gui/res/cardsfolder/upcoming/huatlis_final_strike.txt
  forge-gui/res/cardsfolder/upcoming/hulking_raptor.txt
  forge-gui/res/cardsfolder/upcoming/hunters_blowgun.txt
  forge-gui/res/cardsfolder/upcoming/in_the_presence_of_ages.txt
  forge-gui/res/cardsfolder/upcoming/inti_seneschal_of_the_sun.txt
  forge-gui/res/cardsfolder/upcoming/intrepid_paleontologist.txt
Labels: Upcoming Set

#4143 Fix scripts
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-gui/res/cardsfolder/c/coils_of_the_medusa.txt
  forge-gui/res/cardsfolder/f/fallaji_dragon_engine.txt
  forge-gui/res/cardsfolder/g/glyph_of_reincarnation.txt
  forge-gui/res/cardsfolder/g/gryffs_boon.txt
  forge-gui/res/cardsfolder/j/jabaris_influence.txt
  forge-gui/res/cardsfolder/r/reset.txt
  forge-gui/res/cardsfolder/upcoming/feral_encounter.txt
  forge-gui/res/cardsfolder/upcoming/saheeli_the_suns_brilliance.txt
  forge-gui/res/cardsfolder/upcoming/the_second_doctor.txt
Labels: Card Patch

#4144 LCI 10 cards
  forge-gui/res/cardsfolder/upcoming/ironpaw_aspirant.txt
  forge-gui/res/cardsfolder/upcoming/itzquinth_firstborn_of_gishath.txt
  forge-gui/res/cardsfolder/upcoming/join_the_dead.txt
  forge-gui/res/cardsfolder/upcoming/kitesail_larcenist.txt
  forge-gui/res/cardsfolder/upcoming/kutzil_malamet_exemplar.txt
  forge-gui/res/cardsfolder/upcoming/malamet_battle_glyph.txt
  forge-gui/res/cardsfolder/upcoming/malamet_brawler.txt
  forge-gui/res/cardsfolder/upcoming/malamet_veteran.txt
  forge-gui/res/cardsfolder/upcoming/malicious_eclipse.txt
  forge-gui/res/cardsfolder/upcoming/marauding_brinefang.txt
Labels: Upcoming Set

#4145 Game: add LeftBattlefieldThisTurn & LeftGraveyardThisTurn
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/a/agent_of_erebos.txt
  forge-gui/res/cardsfolder/a/angel_of_finality.txt
  forge-gui/res/cardsfolder/j/jirina_dauntless_general.txt
  forge-gui/res/cardsfolder/s/syrix_carrier_of_the_flame.txt
  forge-gui/res/cardsfolder/upcoming/kutzils_flanker.txt
Labels: Upcoming Set, Game Mechanics

#4149 AI logic for Veil of Summer
  forge-ai/src/main/java/forge/ai/SpecialCardAi.java
  forge-ai/src/main/java/forge/ai/ability/DrawAi.java
  forge-gui/res/cardsfolder/v/veil_of_summer.txt
Labels: AI

#4146 LCI 20 more
  forge-gui/res/cardsfolder/upcoming/mephitic_draught.txt
  forge-gui/res/cardsfolder/upcoming/merfolk_cave_diver.txt
  forge-gui/res/cardsfolder/upcoming/might_of_the_ancestors.txt
  forge-gui/res/cardsfolder/upcoming/mineshaft_spider.txt
  forge-gui/res/cardsfolder/upcoming/molten_collapse.txt
  forge-gui/res/cardsfolder/upcoming/nurturing_bristleback.txt
  forge-gui/res/cardsfolder/upcoming/oaken_siren.txt
  forge-gui/res/cardsfolder/upcoming/oltec_archaeologists.txt
  forge-gui/res/cardsfolder/upcoming/orazca_puzzle_door.txt
  forge-gui/res/cardsfolder/upcoming/out_of_air.txt
  forge-gui/res/cardsfolder/upcoming/pathfinding_exejaw.txt
  forge-gui/res/cardsfolder/upcoming/petrify.txt
  forge-gui/res/cardsfolder/upcoming/pirate_hat.txt
  forge-gui/res/cardsfolder/upcoming/plundering_pirate.txt
  forge-gui/res/cardsfolder/upcoming/poetic_ingenuity.txt
  forge-gui/res/cardsfolder/upcoming/poison_dart_frog.txt
  forge-gui/res/cardsfolder/upcoming/preacher_of_the_schism.txt
  forge-gui/res/cardsfolder/upcoming/promising_vein.txt
  forge-gui/res/cardsfolder/upcoming/pugnacious_hammerskull.txt
  forge-gui/res/cardsfolder/upcoming/queens_bay_paladin.txt
Labels: Upcoming Set

#4164 Edition updates: PLIST, SLD
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/The List.txt
Labels: Upcoming Set

#4153 LCI 8 more
  forge-gui/res/cardsfolder/upcoming/palanis_hatcher.txt
  forge-gui/res/cardsfolder/upcoming/panicked_altisaur.txt
  forge-gui/res/cardsfolder/upcoming/quicksand_whirlpool.txt
  forge-gui/res/cardsfolder/upcoming/ray_of_ruin.txt
  forge-gui/res/cardsfolder/upcoming/river_herald_guide.txt
  forge-gui/res/cardsfolder/upcoming/river_herald_scout.txt
  forge-gui/res/cardsfolder/upcoming/sage_of_days.txt
  forge-gui/res/cardsfolder/upcoming/screaming_phantom.txt
  forge-gui/res/tokenscripts/g_0_1_dinosaur_egg.txt
Labels: Upcoming Set

#4159 SLD Lara Croft !
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/lara_croft_tomb_raider.txt
Labels: Upcoming Set

#4157 LCI 10 more
  forge-gui/res/cardsfolder/upcoming/over_the_edge.txt
  forge-gui/res/cardsfolder/upcoming/relics_roar.txt
  forge-gui/res/cardsfolder/upcoming/rumbling_rockslide.txt
  forge-gui/res/cardsfolder/upcoming/runaway_boulder.txt
  forge-gui/res/cardsfolder/upcoming/scampering_surveyor.txt
  forge-gui/res/cardsfolder/upcoming/skullcap_snail.txt
  forge-gui/res/cardsfolder/upcoming/song_of_stupefaction.txt
  forge-gui/res/cardsfolder/upcoming/soulcoil_viper.txt
  forge-gui/res/cardsfolder/upcoming/tishanas_tidebinder.txt
  forge-gui/res/cardsfolder/upcoming/vito_fanatic_of_aclazotz.txt
Labels: Upcoming Set

#4155 An update of the Constructed decks in Adventure
  forge-gui/res/adventure/common/decks/starter/Adventure - Low Dimir.dck
  forge-gui/res/adventure/common/decks/starter/Adventure - Low Gruul.dck
  forge-gui/res/adventure/common/decks/starter/Adventure - Low Selesnya.dck
Labels: Adventure

#4166 CopySpellAbility: Improve targeting sub detection
  forge-game/src/main/java/forge/game/ability/effects/CopySpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ExploreEffect.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityStackInstance.java
  forge-gui/res/cardsfolder/c/chefs_kiss.txt
Labels: Crash fix

#4174 [Colission Fix] Update fort_white_2_humans.tmx
  forge-gui/res/adventure/common/maps/map/fort/fort_white_2_humans.tmx
Labels: Adventure

#4178 LCI 5 cards
  forge-gui/res/cardsfolder/upcoming/the_everflowing_well_the_myriad_pools.txt
  forge-gui/res/cardsfolder/upcoming/thousand_moons_smithy_barracks_of_the_thousand.txt
  forge-gui/res/cardsfolder/upcoming/triumphant_chomp.txt
  forge-gui/res/cardsfolder/upcoming/uchbenbak_the_great_mistake.txt
  forge-gui/res/cardsfolder/upcoming/wail_of_the_forgotten.txt
  forge-gui/res/tokenscripts/w_x_x_a_gnome_soldier_total_artifacts_creatures.txt
Labels: Upcoming Set

#4177 AI hint for Sakura Tribe-Elder blocking + AI hint for Visions of Dread
  forge-ai/src/main/java/forge/ai/AiBlockController.java
  forge-gui/res/cardsfolder/s/sakura_tribe_elder.txt
  forge-gui/res/cardsfolder/v/visions_of_dread.txt
Labels: AI

#4180 LCC 6 cards
  forge-gui/res/cardsfolder/upcoming/the_indomitable.txt
  forge-gui/res/cardsfolder/upcoming/tributary_instructor.txt
  forge-gui/res/cardsfolder/upcoming/wave_goodbye.txt
  forge-gui/res/cardsfolder/upcoming/wrathful_raptors.txt
  forge-gui/res/cardsfolder/upcoming/xavier_sal_infested_captain.txt
  forge-gui/res/cardsfolder/upcoming/xolatoyac_the_smiling_flood.txt
Labels: Upcoming Set

#4181 lcc 6 cards
  forge-gui/res/cardsfolder/upcoming/arm_mounted_anchor.txt
  forge-gui/res/cardsfolder/upcoming/broadside_bombardiers.txt
  forge-gui/res/cardsfolder/upcoming/bronzebeak_foragers.txt
  forge-gui/res/cardsfolder/upcoming/carmen_cruel_skymarcher.txt
  forge-gui/res/cardsfolder/upcoming/clavileno_first_of_the_blessed.txt
  forge-gui/res/cardsfolder/upcoming/curious_altisaur.txt
Labels: Upcoming Set

#4185 Geological Appraiser crash fix
  forge-gui/res/cardsfolder/upcoming/geological_appraiser.txt
Labels: Crash fix

#4184 LCC 10 cards
  forge-gui/res/cardsfolder/upcoming/from_the_rubble.txt
  forge-gui/res/cardsfolder/upcoming/gemcutter_buccaneer.txt
  forge-gui/res/cardsfolder/upcoming/hakbal_of_the_surging_soul.txt
  forge-gui/res/cardsfolder/upcoming/illustrious_wanderglyph.txt
  forge-gui/res/cardsfolder/upcoming/march_of_the_canonized.txt
  forge-gui/res/cardsfolder/upcoming/master_of_dark_rites.txt
  forge-gui/res/cardsfolder/upcoming/mist_dancer.txt
  forge-gui/res/cardsfolder/upcoming/order_of_sacred_dusk.txt
  forge-gui/res/cardsfolder/upcoming/progenitors_icon.txt
  forge-gui/res/cardsfolder/upcoming/promise_of_aclazotz_foul_rebirth.txt
Labels: Upcoming Set

#4182 LCC 9 cards
  forge-gui/res/cardsfolder/upcoming/admiral_brass_unsinkable.txt
  forge-gui/res/cardsfolder/upcoming/bygone_marvels.txt
  forge-gui/res/cardsfolder/upcoming/charismatic_conqueror.txt
  forge-gui/res/cardsfolder/upcoming/deeproot_historian.txt
  forge-gui/res/cardsfolder/upcoming/don_andres_the_renegade.txt
  forge-gui/res/cardsfolder/upcoming/dusk_legion_sergeant.txt
  forge-gui/res/cardsfolder/upcoming/elendas_hierophant.txt
  forge-gui/res/cardsfolder/upcoming/francisco_fowl_marauder.txt
  forge-gui/res/cardsfolder/upcoming/the_grim_captains_locker.txt
Labels: Upcoming Set

#4111 LCI: the_millennium_calendar.txt and support (TriggerUntapAll)
  forge-game/src/main/java/forge/game/ability/effects/ControlGainEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TapOrUntapAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TapOrUntapEffect.java
  forge-game/src/main/java/forge/game/ability/effects/UntapAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/UntapEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/cost/CostPartWithList.java
  forge-game/src/main/java/forge/game/cost/CostUntap.java
  forge-game/src/main/java/forge/game/cost/CostUntapType.java
  forge-game/src/main/java/forge/game/phase/Untap.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-game/src/main/java/forge/game/trigger/TriggerUntapAll.java
  forge-gui/res/cardsfolder/e/early_harvest.txt
  forge-gui/res/cardsfolder/g/great_oak_guardian.txt
  forge-gui/res/cardsfolder/r/reins_of_power.txt
  forge-gui/res/cardsfolder/t/twist_allegiance.txt
  forge-gui/res/cardsfolder/upcoming/the_millennium_calendar.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Upcoming Set, Game Mechanics

#4187 LCC 7 cards
  forge-gui/res/cardsfolder/upcoming/redemption_choir.txt
  forge-gui/res/cardsfolder/upcoming/ripples_of_potential.txt
  forge-gui/res/cardsfolder/upcoming/scion_of_calamity.txt
  forge-gui/res/cardsfolder/upcoming/singer_of_swift_rivers.txt
  forge-gui/res/cardsfolder/upcoming/skeleton_crew.txt
  forge-gui/res/cardsfolder/upcoming/storm_fleet_negotiator.txt
  forge-gui/res/cardsfolder/upcoming/sunfrill_imitator.txt
Labels: Upcoming Set

#4190 Edition updates: RVR, SLD, SLP, SLC
  forge-gui/res/editions/Ravnica Remastered.txt
  forge-gui/res/editions/Secret Lair 30th Anniversary Countdown Kit.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Secret Lair Showdown.txt
Labels: Upcoming Set

#4200 Update djinpalace_entrance.tmx
  forge-gui/res/adventure/common/maps/map/djinnpalace/djinpalace_entrance.tmx
Labels: Adventure

#4198 Fix NPE with Skullspore Nexus
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
Labels: Crash fix

#4194 LCC: wayta_trainer_prodigy.txt and support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPanharmonicon.java
  forge-gui/res/cardsfolder/upcoming/wayta_trainer_prodigy.txt
Labels: Upcoming Set, Game Mechanics

#4199 LCC Commander precons
  forge-gui/res/quest/commanderprecons/Ahoy Mateys [LCC] [2023].dck
  forge-gui/res/quest/commanderprecons/Blood Rites [LCC] [2023].dck
  forge-gui/res/quest/commanderprecons/Explorers of the Deep [LCC] [2023].dck
  forge-gui/res/quest/commanderprecons/Veloci-Ramp-Tor [LCC] [2023].dck
Labels: enhancement

#4189 PIP 12 cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/alpha_deathclaw.txt
  forge-gui/res/cardsfolder/upcoming/caesar_legions_emperor.txt
  forge-gui/res/cardsfolder/upcoming/dogmeat_ever_loyal.txt
  forge-gui/res/cardsfolder/upcoming/dr_madison_li.txt
  forge-gui/res/cardsfolder/upcoming/gary_clone.txt
  forge-gui/res/cardsfolder/upcoming/idolized.txt
  forge-gui/res/cardsfolder/upcoming/intelligence_bobblehead.txt
  forge-gui/res/cardsfolder/upcoming/nuka_cola_vending_machine.txt
  forge-gui/res/cardsfolder/upcoming/overencumbered.txt
  forge-gui/res/cardsfolder/upcoming/radstorm.txt
  forge-gui/res/cardsfolder/upcoming/rex_cyber_hound.txt
  forge-gui/res/cardsfolder/upcoming/vault_101_birthday_party.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/tokenscripts/c_a_junk_sac_exileplay.txt
Labels: Upcoming Set

#4195 PIP: vats.txt and support
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/spellability/TargetRestrictions.java
  forge-gui/res/cardsfolder/a/atomwheel_acrobats.txt
  forge-gui/res/cardsfolder/upcoming/mr_house_president_and_ceo.txt
  forge-gui/res/cardsfolder/upcoming/vats.txt
  forge-gui/res/tokenscripts/c_3_3_a_robot.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectTargets.java
Labels: Upcoming Set, Game Mechanics

#4234 New editions: PF24, YLCI
  forge-gui-desktop/src/test/java/forge/deck/DeckRecognizerTest.java
  forge-gui/res/editions/Alchemy Ixalan.txt
  forge-gui/res/editions/MagicFest 2024.txt
Labels: Upcoming Set

#4236 Ability$Tokens > Token
  forge-gui/res/cardsfolder/l/lulu_forgetful_hollyphant.txt
  forge-gui/res/cardsfolder/m/mirkwood_bats.txt
  forge-gui/res/cardsfolder/r/roar_of_resistance.txt
Labels: AI

#4237 Adventure colission fixes + item price rebalance
  forge-gui/res/adventure/common/maps/map/grove/grove_2_wolf.tmx
  forge-gui/res/adventure/common/maps/map/hostiletown/elftown.tmx
  forge-gui/res/adventure/common/world/items.json
Labels: Adventure

#4239 Clean up
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-game/src/main/java/forge/game/ability/effects/VoteEffect.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-gui/res/cardsfolder/a/axelrod_gunnarson.txt
  forge-gui/res/cardsfolder/g/garza_zol_plague_queen.txt
  forge-gui/res/cardsfolder/k/kagemaro_first_to_suffer.txt
  forge-gui/res/cardsfolder/k/karona_false_god.txt
  forge-gui/res/cardsfolder/k/kumano_master_yamabushi.txt
  forge-gui/res/cardsfolder/m/maga_traitor_to_mortals.txt
  forge-gui/res/cardsfolder/s/sekki_seasons_guide.txt
  forge-gui/res/cardsfolder/s/shimatsu_the_bloodcloaked.txt
  forge-gui/res/cardsfolder/upcoming/goblin_tomb_raider.txt
Labels: Card Cleanup
