Repository Card-Forge/forge, pull requests merged in 2023-02, with the labels that each got.

#2367 Improve AI logic for Connive / Change of Plans
  forge-ai/src/main/java/forge/ai/ability/ConniveAi.java
  forge-ai/src/main/java/forge/ai/ability/PhasesAi.java
  forge-gui/res/cardsfolder/c/change_of_plans.txt
Labels: AI

#2368 Improve the card price generation script
  forge-gui/tools/deckAiCompat.py
  forge-gui/tools/deckAiCompat_limext.py
  forge-gui/tools/scryfallPricesGenerator.py
Labels: enhancement

#2360 Card cleanup
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-gui-desktop/src/main/java/forge/screens/home/settings/CSubmenuReleaseNotes.java
  forge-gui/res/cardsfolder/a/algae_gharial.txt
  forge-gui/res/cardsfolder/b/blood_cultist.txt
  forge-gui/res/cardsfolder/d/dauthi_ghoul.txt
  forge-gui/res/cardsfolder/e/elenda_the_dusk_rose.txt
  forge-gui/res/cardsfolder/g/gavony_unhallowed.txt
  forge-gui/res/cardsfolder/g/grakmaw_skyclave_ravager.txt
  forge-gui/res/cardsfolder/g/grismold_the_dreadsower.txt
  forge-gui/res/cardsfolder/h/havengul_vampire.txt
  forge-gui/res/cardsfolder/i/indebted_samurai.txt
  forge-gui/res/cardsfolder/k/kresh_the_bloodbraided.txt
  forge-gui/res/cardsfolder/l/lightning_coils.txt
  forge-gui/res/cardsfolder/l/lumberknot.txt
  forge-gui/res/cardsfolder/m/malakir_cullblade.txt
  forge-gui/res/cardsfolder/m/malefic_scythe.txt
  forge-gui/res/cardsfolder/m/mausoleum_harpy.txt
  forge-gui/res/cardsfolder/m/monstrous_onslaught.txt
  forge-gui/res/cardsfolder/m/mystic_reflection.txt
  forge-gui/res/cardsfolder/o/ob_nixilis_unshackled.txt
  forge-gui/res/cardsfolder/p/predator_ooze.txt
  forge-gui/res/cardsfolder/r/repentant_vampire.txt
  forge-gui/res/cardsfolder/r/resplendent_griffin.txt
  forge-gui/res/cardsfolder/r/rising_populace.txt
  forge-gui/res/cardsfolder/r/rockslide_elemental.txt
  forge-gui/res/cardsfolder/r/rot_shambler.txt
  forge-gui/res/cardsfolder/s/scavenger_drake.txt
  forge-gui/res/cardsfolder/s/sengir_bats.txt
  forge-gui/res/cardsfolder/s/sengir_vampire.txt
  forge-gui/res/cardsfolder/s/silumgar_scavenger.txt
  forge-gui/res/cardsfolder/s/soulcatcher.txt
  forge-gui/res/cardsfolder/s/swarm_of_bloodflies.txt
  forge-gui/res/cardsfolder/t/trophy_hunter.txt
  forge-gui/res/cardsfolder/u/unruly_mob.txt
  forge-gui/res/cardsfolder/v/vampiric_dragon.txt
  forge-gui/res/cardsfolder/v/vein_drinker.txt
  forge-gui/res/cardsfolder/v/village_cannibals.txt
  forge-gui/res/cardsfolder/v/vitalizing_cascade.txt
  forge-gui/res/cardsfolder/y/yahenni_undying_partisan.txt
  forge-gui/res/cardsfolder/z/zurgo_helmsmasher.txt
Labels: Card Cleanup, Card Patch

#2380 Edition updates: ONE, ONC
  forge-gui/res/editions/Phyrexia All Will Be One Commander.txt
  forge-gui/res/editions/Phyrexia All Will Be One.txt
Labels: Upcoming Set

#2382 Fix scripts
  forge-gui/res/cardsfolder/b/bag_of_devouring.txt
  forge-gui/res/cardsfolder/j/jihad.txt
  forge-gui/res/cardsfolder/l/lich.txt
  forge-gui/res/cardsfolder/t/teachings_of_the_kirin_kirin_touched_orochi.txt
  forge-gui/res/cardsfolder/upcoming/venser_corpse_puppet.txt
Labels: Card Patch

#2358 ONE 16 cards 31-1
  forge-gui/res/cardsfolder/upcoming/duelist_of_deep_faith.txt
  forge-gui/res/cardsfolder/upcoming/flensing_raptor.txt
  forge-gui/res/cardsfolder/upcoming/ichorspit_basilisk.txt
  forge-gui/res/cardsfolder/upcoming/indoctrination_attendant.txt
  forge-gui/res/cardsfolder/upcoming/mazes_mantle.txt
  forge-gui/res/cardsfolder/upcoming/pestilent_syphoner.txt
  forge-gui/res/cardsfolder/upcoming/plague_nurse.txt
  forge-gui/res/cardsfolder/upcoming/porcelain_zealot.txt
  forge-gui/res/cardsfolder/upcoming/ribskiff.txt
  forge-gui/res/cardsfolder/upcoming/sheoldreds_headcleaver.txt
  forge-gui/res/cardsfolder/upcoming/stinging_hivemaster.txt
  forge-gui/res/cardsfolder/upcoming/tainted_observer.txt
  forge-gui/res/cardsfolder/upcoming/tyrranax_atrocity.txt
  forge-gui/res/cardsfolder/upcoming/unctuss_retrofitter.txt
  forge-gui/res/cardsfolder/upcoming/venomous_brutalizer.txt
  forge-gui/res/cardsfolder/upcoming/voidwing_hybrid.txt
Labels: Upcoming Set

#2352 ONE 11 cards
  forge-gui/res/cardsfolder/upcoming/churning_reservoir.txt
  forge-gui/res/cardsfolder/upcoming/gitaxian_raptor.txt
  forge-gui/res/cardsfolder/upcoming/goliath_hatchery.txt
  forge-gui/res/cardsfolder/upcoming/ichor_synthesizer.txt
  forge-gui/res/cardsfolder/upcoming/incubation_sac.txt
  forge-gui/res/cardsfolder/upcoming/lattice_blade_mantis.txt
  forge-gui/res/cardsfolder/upcoming/meldweb_strider.txt
  forge-gui/res/cardsfolder/upcoming/necrosquito.txt
  forge-gui/res/cardsfolder/upcoming/oil_gorger_troll.txt
  forge-gui/res/cardsfolder/upcoming/predation_steward.txt
  forge-gui/res/cardsfolder/upcoming/serum_core_chimera.txt
Labels: Upcoming Set

#2308 ONE: Expand the Sphere – Tekuthal, Inquiry Dominus – support
  forge-game/src/main/java/forge/game/ability/effects/CountersProliferateEffect.java
  forge-game/src/main/java/forge/game/cost/CostRemoveAnyCounter.java
  forge-game/src/main/java/forge/game/replacement/ReplaceProliferate.java
  forge-game/src/main/java/forge/game/replacement/ReplacementType.java
  forge-gui/res/cardsfolder/s/soul_diviner.txt
  forge-gui/res/cardsfolder/upcoming/expand_the_sphere.txt
  forge-gui/res/cardsfolder/upcoming/ezuri_stalker_of_spheres.txt
  forge-gui/res/cardsfolder/upcoming/tekuthal_inquiry_dominus.txt
Labels: Upcoming Set, Game Mechanics

#2384 ONE 10 cards
  forge-gui/res/cardsfolder/upcoming/offer_immortality.txt
  forge-gui/res/cardsfolder/upcoming/orthodoxy_enforcer.txt
  forge-gui/res/cardsfolder/upcoming/phyrexian_atlas.txt
  forge-gui/res/cardsfolder/upcoming/plated_onslaught.txt
  forge-gui/res/cardsfolder/upcoming/prologue_to_phyresis.txt
  forge-gui/res/cardsfolder/upcoming/ravenous_necrotitan.txt
  forge-gui/res/cardsfolder/upcoming/rebel_salvo.txt
  forge-gui/res/cardsfolder/upcoming/reject_imperfection.txt
  forge-gui/res/cardsfolder/upcoming/ruthless_predation.txt
  forge-gui/res/cardsfolder/upcoming/shrapnel_slinger.txt
Labels: Upcoming Set

#2337 ONE 20 cards
  forge-gui/res/cardsfolder/upcoming/atmosphere_surgeon.txt
  forge-gui/res/cardsfolder/upcoming/axiom_engraver.txt
  forge-gui/res/cardsfolder/upcoming/barbed_batterfist.txt
  forge-gui/res/cardsfolder/upcoming/evolving_adaptive.txt
  forge-gui/res/cardsfolder/upcoming/font_of_progress.txt
  forge-gui/res/cardsfolder/upcoming/forgehammer_centurion.txt
  forge-gui/res/cardsfolder/upcoming/free_from_flesh.txt
  forge-gui/res/cardsfolder/upcoming/furnace_strider.txt
  forge-gui/res/cardsfolder/upcoming/goldwardens_helm.txt
  forge-gui/res/cardsfolder/upcoming/hexgold_hoverwings.txt
  forge-gui/res/cardsfolder/upcoming/kuldotha_cackler.txt
  forge-gui/res/cardsfolder/upcoming/mirran_bardiche.txt
  forge-gui/res/cardsfolder/upcoming/sylvok_battle_chair.txt
  forge-gui/res/cardsfolder/upcoming/the_autonomous_furnace.txt
  forge-gui/res/cardsfolder/upcoming/the_dross_pits.txt
  forge-gui/res/cardsfolder/upcoming/the_fair_basilica.txt
  forge-gui/res/cardsfolder/upcoming/the_hunter_maze.txt
  forge-gui/res/cardsfolder/upcoming/the_surgical_bay.txt
  forge-gui/res/cardsfolder/upcoming/trawler_drake.txt
  forge-gui/res/cardsfolder/upcoming/vat_of_rebirth.txt
Labels: Upcoming Set

#2322 ONE 8 Cards
  forge-gui/res/cardsfolder/upcoming/against_all_odds.txt
  forge-gui/res/cardsfolder/upcoming/branchblight_stalker.txt
  forge-gui/res/cardsfolder/upcoming/bring_the_ending.txt
  forge-gui/res/cardsfolder/upcoming/charforger.txt
  forge-gui/res/cardsfolder/upcoming/drown_in_ichor.txt
  forge-gui/res/cardsfolder/upcoming/dune_mover.txt
  forge-gui/res/cardsfolder/upcoming/lukka_bound_to_ruin.txt
  forge-gui/res/cardsfolder/upcoming/tamiyos_logbook.txt
Labels: Upcoming Set

#2390 ONE: 5 cards and related tweaks
  forge-gui/res/cardsfolder/upcoming/apostle_of_invasion.txt
  forge-gui/res/cardsfolder/upcoming/bonepicker_skirge.txt
  forge-gui/res/cardsfolder/upcoming/vivisection_evangelist.txt
  forge-gui/res/cardsfolder/upcoming/vivisurgeons_insight.txt
  forge-gui/res/cardsfolder/upcoming/vraskas_fall.txt
  forge-gui/res/cardsfolder/upcoming/whisper_of_the_dross.txt
  forge-gui/res/cardsfolder/upcoming/zealots_conviction.txt
Labels: Upcoming Set

#2389 Card fixes
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/ManifestAi.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-gui/res/cardsfolder/p/phytotitan.txt
  forge-gui/res/cardsfolder/p/plague_reaver.txt
  forge-gui/res/cardsfolder/u/uro_titan_of_natures_wrath.txt
Labels: AI, Card Patch

#2391 ONE 7 cards
  forge-gui/res/cardsfolder/upcoming/dross_skullbomb.txt
  forge-gui/res/cardsfolder/upcoming/glistener_seer.txt
  forge-gui/res/cardsfolder/upcoming/skyscythe_engulfer.txt
  forge-gui/res/cardsfolder/upcoming/testament_bearer.txt
  forge-gui/res/cardsfolder/upcoming/thirsting_roots.txt
  forge-gui/res/cardsfolder/upcoming/vat_emergence.txt
  forge-gui/res/cardsfolder/upcoming/veil_of_assimilation.txt
Labels: Upcoming Set

#2394 CardFactoryUtil: More Than Meets the Eye create there instead
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-core/src/main/java/forge/card/CardSplitType.java
  forge-core/src/main/java/forge/item/PaperCard.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/spellability/SpellPermanent.java
  forge-gui/res/cardsfolder/a/arcee_sharpshooter_arcee_acrobatic_coupe.txt
  forge-gui/res/cardsfolder/b/blaster_combat_dj_blaster_morale_booster.txt
  forge-gui/res/cardsfolder/b/blitzwing_cruel_tormentor_blitzwing_adaptive_assailant.txt
  forge-gui/res/cardsfolder/c/cyclonus_the_saboteur_cyclonus_cybertronian_fighter.txt
  forge-gui/res/cardsfolder/f/flamewar_brash_veteran_flamewar_streetwise_operative.txt
  forge-gui/res/cardsfolder/g/goldbug_humanitys_ally_goldbug_scrappy_scout.txt
  forge-gui/res/cardsfolder/j/jetfire_ingenious_scientist_jetfire_air_guardian.txt
  forge-gui/res/cardsfolder/m/megatron_tyrant_megatron_destructive_force.txt
  forge-gui/res/cardsfolder/o/optimus_prime_hero_optimus_prime_autobot_leader.txt
  forge-gui/res/cardsfolder/r/ratchet_field_medic_ratchet_rescue_racer.txt
  forge-gui/res/cardsfolder/s/slicer_hired_muscle_slicer_high_speed_antagonist.txt
  forge-gui/res/cardsfolder/s/soundwave_sonic_spy_soundwave_superior_captain.txt
  forge-gui/res/cardsfolder/s/starscream_power_hungry_starscream_seeker_leader.txt
  forge-gui/res/cardsfolder/u/ultra_magnus_tactician_ultra_magnus_armored_carrier.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Game Mechanics

#2274 Staff of the Storyteller support
  forge-game/src/main/java/forge/game/ability/effects/TokenEffectBase.java
  forge-game/src/main/java/forge/game/card/CardZoneTable.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/trigger/TriggerTokenCreatedOnce.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-gui/res/cardsfolder/a/akim_the_soaring_wind.txt
Labels: Upcoming Set, Game Mechanics

#2376 ONE: Melira, the Living Cure (+tidy Vraska)
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-game/src/main/java/forge/game/trigger/TriggerImmediate.java
  forge-gui/res/cardsfolder/upcoming/melira_the_living_cure.txt
  forge-gui/res/cardsfolder/upcoming/vraska_betrayals_sting.txt
Labels: Upcoming Set, Card Cleanup

#2296 ONE 10 cards
  forge-game/src/main/java/forge/game/ability/effects/DestroyAllEffect.java
  forge-gui/res/cardsfolder/upcoming/anoint_with_affliction.txt
  forge-gui/res/cardsfolder/upcoming/awaken_the_sleeper.txt
  forge-gui/res/cardsfolder/upcoming/basilica_skullbomb.txt
  forge-gui/res/cardsfolder/upcoming/bilious_skulldweller.txt
  forge-gui/res/cardsfolder/upcoming/cacophony_scamp.txt
  forge-gui/res/cardsfolder/upcoming/carnivorous_canopy.txt
  forge-gui/res/cardsfolder/upcoming/ichorplate_golem.txt
  forge-gui/res/cardsfolder/upcoming/kinzu_of_the_bleak_coven.txt
  forge-gui/res/cardsfolder/upcoming/prosthetic_injector.txt
  forge-gui/res/cardsfolder/upcoming/serum_sovereign.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Upcoming Set

#2412 ONE 5 cards
  forge-gui/res/cardsfolder/upcoming/transplant_theorist.txt
  forge-gui/res/cardsfolder/upcoming/tyvars_stand.txt
  forge-gui/res/cardsfolder/upcoming/unnatural_restoration.txt
  forge-gui/res/cardsfolder/upcoming/vraan_executioner_thane.txt
  forge-gui/res/cardsfolder/upcoming/watchful_blisterzoa.txt
Labels: Upcoming Set

#2415 ONE 4 cards
  forge-gui/res/cardsfolder/upcoming/sheoldreds_edict.txt
  forge-gui/res/cardsfolder/upcoming/surgical_skullbomb.txt
  forge-gui/res/cardsfolder/upcoming/swooping_lookout.txt
  forge-gui/res/cardsfolder/upcoming/tamiyos_immobilizer.txt
Labels: Upcoming Set

#2402 5 cards from ONE
  forge-gui/res/cardsfolder/upcoming/phyrexian_vindicator.txt
  forge-gui/res/cardsfolder/upcoming/planar_disruption.txt
  forge-gui/res/cardsfolder/upcoming/resistance_skywarden.txt
  forge-gui/res/cardsfolder/upcoming/scheming_aspirant.txt
  forge-gui/res/cardsfolder/upcoming/serum_snare.txt
Labels: Upcoming Set

#2418 ONE: Nahiri's Sacrifice, Kaya, and misc.
  forge-gui/res/cardsfolder/g/goblin_polka_band.txt
  forge-gui/res/cardsfolder/upcoming/cankerbloom.txt
  forge-gui/res/cardsfolder/upcoming/kaya_intangible_slayer.txt
  forge-gui/res/cardsfolder/upcoming/nahiris_sacrifice.txt
Labels: Upcoming Set

#2388 ONE: The Eternal Wanderer + support + tidy related cards
  forge-game/src/main/java/forge/game/GlobalRuleChange.java
  forge-game/src/main/java/forge/game/combat/GlobalAttackRestrictions.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityAttackRestrict.java
  forge-gui/res/cardsfolder/a/astral_arena.txt
  forge-gui/res/cardsfolder/c/caverns_of_despair.txt
  forge-gui/res/cardsfolder/c/crawlspace.txt
  forge-gui/res/cardsfolder/d/dueling_grounds.txt
  forge-gui/res/cardsfolder/g/grunn_the_lonely_king.txt
  forge-gui/res/cardsfolder/m/mirri_weatherlight_duelist.txt
  forge-gui/res/cardsfolder/s/silent_arbiter.txt
  forge-gui/res/cardsfolder/s/suppress.txt
  forge-gui/res/cardsfolder/t/teleportation_circle.txt
  forge-gui/res/cardsfolder/upcoming/the_eternal_wanderer.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#2434 ReplacementHandler: guard against StackOverflow if LKI gets used for Moved
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
Labels: Game Mechanics

#2430 some Mandatory ChangeZone
  forge-gui/res/cardsfolder/c/corpse_harvester.txt
  forge-gui/res/cardsfolder/d/dichotomancy.txt
  forge-gui/res/cardsfolder/d/dig_up.txt
  forge-gui/res/cardsfolder/e/emergent_sequence.txt
  forge-gui/res/cardsfolder/n/night_terrors.txt
  forge-gui/res/cardsfolder/r/renewal.txt
Labels: Card Cleanup, Rules compliance

#2439 Update love_song_of_night_and_day.txt
  forge-gui/res/cardsfolder/l/love_song_of_night_and_day.txt
Labels: Card Cleanup, Card Patch

#2401 Kicker Linked Lite
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-gui/res/cardsfolder/d/desolation_angel.txt
  forge-gui/res/cardsfolder/d/desolation_giant.txt
  forge-gui/res/cardsfolder/m/magma_pummeler.txt
  forge-gui/res/cardsfolder/n/necromancy.txt
  forge-gui/res/cardsfolder/s/skizzik.txt
  forge-gui/res/cardsfolder/s/sphinx_of_lost_truths.txt
  forge-gui/src/main/java/forge/gui/card/CardScriptParser.java
Labels: Game Mechanics, Card Cleanup, Rules compliance

#2395 ExiledWith: fix clone interaction
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseTypeEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DraftEffect.java
  forge-game/src/main/java/forge/game/ability/effects/MillEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-gui/res/cardsfolder/a/ashiok_nightmare_weaver.txt
  forge-gui/res/cardsfolder/b/bane_alley_broker.txt
  forge-gui/res/cardsfolder/p/profane_procession_tomb_of_the_dusk_rose.txt
  forge-gui/res/cardsfolder/s/sisters_of_stone_death.txt
  forge-gui/res/cardsfolder/t/toluz_clever_conductor.txt
Labels: Game Mechanics, Card Cleanup, Rules compliance

#2444 Kobold dungeon for adventure mode
  forge-gui/res/adventure/Shandalar/decks/curselord.dck
  forge-gui/res/adventure/Shandalar/decks/kobold.dck
  forge-gui/res/adventure/Shandalar/maps/map/kobold_mine.tmx
  forge-gui/res/adventure/Shandalar/world/enemies.json
  forge-gui/res/adventure/Shandalar/world/points_of_interest.json
  forge-gui/res/adventure/Shandalar/world/red.json
  forge-gui/res/adventure/Shandalar/world/waste.json
  forge-gui/res/cardsfolder/r/rohgahh_kher_keep_overlord.txt
Labels: Adventure

#2447 Improve AI handling for Conduit of Worlds
  forge-ai/src/main/java/forge/ai/ability/PlayAi.java
  forge-gui/res/cardsfolder/upcoming/conduit_of_worlds.txt
Labels: AI

#2451 Slimefoot miniboss adventure
  forge-gui/res/adventure/Shandalar/decks/miniboss/slimefoot.dck
  forge-gui/res/adventure/Shandalar/maps/map/slimefoot_boss.tmx
  forge-gui/res/adventure/Shandalar/sprites/boss/slimefoot.atlas
  forge-gui/res/adventure/Shandalar/sprites/boss/slimefoot.png
  forge-gui/res/adventure/Shandalar/world/black.json
  forge-gui/res/adventure/Shandalar/world/enemies.json
  forge-gui/res/adventure/Shandalar/world/items.json
  forge-gui/res/adventure/Shandalar/world/points_of_interest.json
Labels: Adventure

#2453 Update norns_decree.txt
  forge-gui/res/cardsfolder/n/norns_decree.txt
Labels: Card Patch

#2449 Flashback: use castKeyword
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/keyword/KeywordInstance.java
  forge-game/src/main/java/forge/game/keyword/KeywordInterface.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
Labels: Game Mechanics

#2457 Update ria_ivor_bane_of_bladehold.txt
  forge-gui/res/cardsfolder/r/ria_ivor_bane_of_bladehold.txt
Labels: AI, Card Cleanup

#2458 Misc fixes
  forge-ai/src/main/java/forge/ai/ability/AttachAi.java
  forge-ai/src/main/java/forge/ai/ability/PermanentCreatureAi.java
  forge-ai/src/main/java/forge/ai/ability/PlayAi.java
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SacrificeAllEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardState.java
  forge-game/src/main/java/forge/game/cost/CostRemoveCounter.java
  forge-game/src/main/java/forge/game/cost/CostSacrifice.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityVariables.java
  forge-game/src/main/java/forge/game/spellability/SpellPermanent.java
  forge-gui/res/cardsfolder/a/ajanis_aid.txt
  forge-gui/res/cardsfolder/a/animar_soul_of_elements.txt
  forge-gui/res/cardsfolder/b/blazing_crescendo.txt
  forge-gui/res/cardsfolder/c/chiss_goria_forge_tyrant.txt
  forge-gui/res/cardsfolder/j/jolene_the_plunder_queen.txt
  forge-gui/res/cardsfolder/p/primeval_spawn.txt
  forge-gui/res/cardsfolder/t/tahngarth_first_mate.txt
  forge-gui/res/cardsfolder/t/the_first_tyrannic_war.txt
  forge-gui/res/cardsfolder/upcoming/goblin_morale_sergeant.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Game Mechanics, AI, Card Cleanup, Card Patch

#2461 Delayed triggers vs. phased out
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
Labels: bug, Game Mechanics

#2465 Update blade_of_shared_souls.txt
  forge-gui/res/cardsfolder/b/blade_of_shared_souls.txt
Labels: Card Cleanup

#2463 fix TransitionScreen runnable
  forge-gui-mobile/src/forge/screens/TransitionScreen.java
Labels: Adventure

#2468 Update unctuss_retrofitter.txt
  forge-gui/res/cardsfolder/u/unctuss_retrofitter.txt
Labels: Card Cleanup

#2470 ReplacementHandler: fix adding CastSA Keyword again
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
Labels: Game Mechanics

#2467 More (hopefully better) StackDesc tweaks
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/FightEffect.java
  forge-gui/res/cardsfolder/b/barroom_brawl.txt
  forge-gui/res/cardsfolder/p/prey_upon.txt
  forge-gui/res/cardsfolder/u/ulvenwald_tracker.txt
  forge-gui/res/cardsfolder/u/unnatural_aggression.txt
Labels: Card Patch, StackDesc, Rules compliance

#2466 Fixes related to Guardian Beast
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/AttachEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DamageAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DamageEachEffect.java
  forge-game/src/main/java/forge/game/ability/effects/FightEffect.java
  forge-game/src/main/java/forge/game/cost/CostGainControl.java
  forge-game/src/main/java/forge/game/player/PlayerFactoryUtil.java
  forge-gui/res/cardsfolder/g/guardian_beast.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: bug, Game Mechanics

#2456 Kiora miniboss Adventure + some cleanup of two previous dungeons
  forge-gui-mobile/src/forge/adventure/character/CharacterSprite.java
  forge-gui-mobile/src/forge/adventure/data/EnemyData.java
  forge-gui/res/adventure/Shandalar/config.json
  forge-gui/res/adventure/Shandalar/decks/crab.dck
  forge-gui/res/adventure/Shandalar/decks/miniboss/kiora.dck
  forge-gui/res/adventure/Shandalar/maps/map/kiora_island.tmx
  forge-gui/res/adventure/Shandalar/maps/map/kobold_mine.tmx
  forge-gui/res/adventure/Shandalar/maps/map/slimefoot_boss.tmx
  forge-gui/res/adventure/Shandalar/sprites/boss/slimefoot.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/crab.atlas
  forge-gui/res/adventure/Shandalar/sprites/dungeon/crab.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/kiora.atlas
  forge-gui/res/adventure/Shandalar/sprites/dungeon/kiora.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/slimefoot.atlas
  forge-gui/res/adventure/Shandalar/sprites/dungeon/slimefoot.png
  forge-gui/res/adventure/Shandalar/world/black.json
  forge-gui/res/adventure/Shandalar/world/blue.json
  forge-gui/res/adventure/Shandalar/world/enemies.json
  forge-gui/res/adventure/Shandalar/world/items.json
  forge-gui/res/adventure/Shandalar/world/points_of_interest.json
Labels: Adventure

#2425 Fix Ivy checking targets with wrong player
  forge-game/src/main/java/forge/game/ability/effects/CopySpellAbilityEffect.java
  forge-gui/res/cardsfolder/i/ivy_gleeful_spellthief.txt
Labels: Rules compliance

#2474 Fix Ruinous Powers
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/t/the_ruinous_powers.txt
Labels: Card Patch

#2473 Update slimefoot_boss.tmx
  forge-gui/res/adventure/Shandalar/maps/map/slimefoot_boss.tmx
Labels: Adventure

#2437 Explosive Singularity fiddling
  forge-game/src/main/java/forge/game/cost/CostTapType.java
  forge-gui/res/cardsfolder/e/explosive_singularity.txt
Labels: Card Cleanup

#2476 Improve a few scripts
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/a/acidic_dagger.txt
  forge-gui/res/cardsfolder/c/chancellor_of_the_tangle.txt
  forge-gui/res/cardsfolder/d/delifs_cube.txt
  forge-gui/res/cardsfolder/g/glass_asp.txt
  forge-gui/res/cardsfolder/j/jorn_god_of_winter_kaldring_the_rimestaff.txt
  forge-gui/res/cardsfolder/m/medomais_prophecy.txt
  forge-gui/res/cardsfolder/m/melee.txt
  forge-gui/res/cardsfolder/m/muse_vessel.txt
  forge-gui/res/cardsfolder/n/nafs_asp.txt
  forge-gui/res/cardsfolder/p/phantasmal_mount.txt
  forge-gui/res/cardsfolder/r/ride_the_avalanche.txt
  forge-gui/res/cardsfolder/r/runesword.txt
  forge-gui/res/cardsfolder/s/sacred_boon.txt
  forge-gui/res/cardsfolder/s/scars_of_the_veteran.txt
  forge-gui/res/cardsfolder/s/serra_paragon.txt
  forge-gui/res/cardsfolder/s/spare_dagger.txt
  forge-gui/res/cardsfolder/s/spellweaver_helix.txt
  forge-gui/res/cardsfolder/s/sphinx_of_foresight.txt
  forge-gui/res/cardsfolder/s/stolen_goods.txt
  forge-gui/res/cardsfolder/u/uvilda_dean_of_perfection_nassari_dean_of_expression.txt
Labels: Card Cleanup, Card Patch

#2483 Fix Evoke cheat
  forge-ai/src/main/java/forge/ai/AiController.java
Labels: AI

#2478 CardFactoryUtil: move Disturb Keyword
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
Labels: Game Mechanics

#2482 Slime boss dungeon + pirate enemy + ONE jumpstart fix
  forge-gui/res/adventure/Shandalar/config.json
  forge-gui/res/adventure/Shandalar/custom_card_pics/Slime Boss Effect.jpg
  forge-gui/res/adventure/Shandalar/custom_cards/slime_boss_effect.txt
  forge-gui/res/adventure/Shandalar/decks/cave_spider.dck
  forge-gui/res/adventure/Shandalar/decks/pirate.dck
  forge-gui/res/adventure/Shandalar/decks/slime_boss.dck
  forge-gui/res/adventure/Shandalar/maps/main.tiled-session
  forge-gui/res/adventure/Shandalar/maps/map/monastery_4.tmx
  forge-gui/res/adventure/Shandalar/maps/map/slime_hive.tmx
  forge-gui/res/adventure/Shandalar/sprites/dungeon/slime.atlas
  forge-gui/res/adventure/Shandalar/sprites/dungeon/slime.png
  forge-gui/res/adventure/Shandalar/sprites/pirate.atlas
  forge-gui/res/adventure/Shandalar/sprites/pirate.png
  forge-gui/res/adventure/Shandalar/world/blue.json
  forge-gui/res/adventure/Shandalar/world/enemies.json
  forge-gui/res/adventure/Shandalar/world/green.json
  forge-gui/res/adventure/Shandalar/world/items.json
  forge-gui/res/adventure/Shandalar/world/points_of_interest.json
  forge-gui/res/adventure/Shandalar/world/waste.json
  forge-gui/res/blockdata/blocks.txt
  forge-gui/res/blockdata/printsheets.txt
Labels: Adventure

#2485 Jace Boss dungeon
  forge-gui/res/adventure/Shandalar/custom_card_pics/Jace Boss Effect.jpg
  forge-gui/res/adventure/Shandalar/custom_card_pics/Jace's Signature Hoodie.jpg
  forge-gui/res/adventure/Shandalar/custom_cards/jace_boss_effect.txt
  forge-gui/res/adventure/Shandalar/custom_cards/jaces_signature_hoodie.txt
  forge-gui/res/adventure/Shandalar/decks/illusion.dck
  forge-gui/res/adventure/Shandalar/decks/miniboss/jace_boss.dck
  forge-gui/res/adventure/Shandalar/maps/main.tiled-session
  forge-gui/res/adventure/Shandalar/maps/map/jacehold.tmx
  forge-gui/res/adventure/Shandalar/sprites/dungeon/jace.atlas
  forge-gui/res/adventure/Shandalar/sprites/dungeon/jace.png
  forge-gui/res/adventure/Shandalar/world/blue.json
  forge-gui/res/adventure/Shandalar/world/enemies.json
  forge-gui/res/adventure/Shandalar/world/items.json
  forge-gui/res/adventure/Shandalar/world/points_of_interest.json
Labels: Adventure

#2440 messing with some "this and that" stuff
  forge-game/src/main/java/forge/game/spellability/SpellAbilityCondition.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityVariables.java
  forge-gui/res/cardsfolder/a/ana_sanctuary.txt
  forge-gui/res/cardsfolder/b/banishing_slash.txt
  forge-gui/res/cardsfolder/c/ceta_sanctuary.txt
  forge-gui/res/cardsfolder/d/dega_sanctuary.txt
  forge-gui/res/cardsfolder/n/necra_sanctuary.txt
  forge-gui/res/cardsfolder/o/of_one_mind.txt
  forge-gui/res/cardsfolder/o/okiba_salvage.txt
  forge-gui/res/cardsfolder/r/raka_sanctuary.txt
  forge-gui/res/cardsfolder/w/when_we_were_young.txt
Labels: Game Mechanics, Card Cleanup

#2498 update RewardActor
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
  forge-gui-mobile/src/forge/toolbox/FTextArea.java
Labels: Adventure

#2502 StaticAbility: remove applyAbility
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-ai/src/main/java/forge/ai/CreatureEvaluator.java
  forge-ai/src/main/java/forge/ai/ability/AttachAi.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/combat/CombatUtil.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/staticability/StaticAbility.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityActivateAbilityAsIfHaste.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityAdapt.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityAssignCombatDamageAsUnblocked.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityAttackRestrict.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityAttackVigilance.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCanAttackDefender.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantAttach.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantAttackBlock.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantBeCast.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantBecomeMonarch.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantDiscard.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantDraw.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantGainLosePayLife.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantPhaseIn.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantPhaseOut.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantPreventDamage.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantPutCounter.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantSacrifice.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantSetSchemesInMotion.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantTarget.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantTransform.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantVenture.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCastWithFlash.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCombatDamageToughness.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCrewValue.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityDisableTriggers.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityIgnoreHexproofShroud.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityIgnoreLegendRule.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityMustAttack.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityMustBlock.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityMustTarget.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityNumLoyaltyAct.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPanharmonicon.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityUnspentMana.java
Labels: Game Mechanics

#2497 Cleanup some remembering + Specialize fix
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-gui/res/cardsfolder/b/bishop_of_binding.txt
  forge-gui/res/cardsfolder/b/bomat_courier.txt
  forge-gui/res/cardsfolder/c/cold_storage.txt
  forge-gui/res/cardsfolder/c/colfenors_plans.txt
  forge-gui/res/cardsfolder/c/currency_converter.txt
  forge-gui/res/cardsfolder/d/dark_impostor.txt
  forge-gui/res/cardsfolder/d/day_of_the_dragons.txt
  forge-gui/res/cardsfolder/d/dimensional_breach.txt
  forge-gui/res/cardsfolder/e/eater_of_virtue.txt
  forge-gui/res/cardsfolder/e/endless_sands.txt
  forge-gui/res/cardsfolder/f/faceless_butcher.txt
  forge-gui/res/cardsfolder/h/helvault.txt
  forge-gui/res/cardsfolder/i/induced_amnesia.txt
  forge-gui/res/cardsfolder/i/izzet_chemister.txt
  forge-gui/res/cardsfolder/j/jeleva_nephalias_scourge.txt
  forge-gui/res/cardsfolder/k/kaho_minamo_historian.txt
  forge-gui/res/cardsfolder/k/kyren_archive.txt
  forge-gui/res/cardsfolder/m/moonring_mirror.txt
  forge-gui/res/cardsfolder/o/oblivion_ring.txt
  forge-gui/res/cardsfolder/p/pyxis_of_pandemonium.txt
  forge-gui/res/cardsfolder/r/realm_razer.txt
  forge-gui/res/cardsfolder/r/rona_disciple_of_gix.txt
  forge-gui/res/cardsfolder/s/safe_haven.txt
  forge-gui/res/cardsfolder/s/shell_of_the_last_kappa.txt
  forge-gui/res/cardsfolder/s/skyway_robber.txt
  forge-gui/res/cardsfolder/s/synod_sanctum.txt
  forge-gui/res/cardsfolder/t/the_temporal_anchor.txt
  forge-gui/res/cardsfolder/u/underworld_sentinel.txt
  forge-gui/res/cardsfolder/u/unlicensed_hearse.txt
  forge-gui/res/cardsfolder/v/void_maw.txt
  forge-gui/res/cardsfolder/w/wall_of_mourning.txt
  forge-gui/res/cardsfolder/w/wizards_spellbook.txt
  forge-gui/res/cardsfolder/w/worldgorger_dragon.txt
Labels: Card Cleanup

#2504 New & updated editions: MOM, MOC, MAT, MUL, P30A, SLD
  forge-gui/res/editions/30th Anniversary Play Promos.txt
  forge-gui/res/editions/March of the Machine Commander.txt
  forge-gui/res/editions/March of the Machine The Aftermath.txt
  forge-gui/res/editions/March of the Machine.txt
  forge-gui/res/editions/Multiverse Legends.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#2503 MOM: Jin-Gitaxias // The Great Synthesis
  forge-gui/res/cardsfolder/upcoming/jin_gitaxias_the_great_synthesis.txt
Labels: Upcoming Set

#2513 MOM 5 cards
  forge-gui/res/cardsfolder/upcoming/drana_and_linvala.txt
  forge-gui/res/cardsfolder/upcoming/faerie_mastermind.txt
  forge-gui/res/cardsfolder/upcoming/ghalta_and_mavren.txt
  forge-gui/res/cardsfolder/upcoming/thalia_and_the_gitrog_monster.txt
  forge-gui/res/cardsfolder/upcoming/yargle_and_multani.txt
  forge-gui/res/tokenscripts/g_x_x_dinosaur_trample.txt
Labels: Upcoming Set

#2516 patch crash for adventure starter decks generation
  forge-gui-mobile/src/forge/adventure/util/CardUtil.java
Labels: Crash fix, Adventure

#2509 Fix color word usage
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-core/src/main/java/forge/card/mana/ManaAtom.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ProtectEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ReplaceManaEffect.java
  forge-game/src/main/java/forge/game/ability/effects/UntapEffect.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/a/atalya_samite_master.txt
  forge-gui/res/cardsfolder/c/celestial_dawn.txt
  forge-gui/res/cardsfolder/c/consume_spirit.txt
  forge-gui/res/cardsfolder/c/crimson_hellkite.txt
  forge-gui/res/cardsfolder/c/crypt_rats.txt
  forge-gui/res/cardsfolder/d/drain_life.txt
  forge-gui/res/cardsfolder/f/false_dawn.txt
  forge-gui/res/cardsfolder/g/grell_philosopher.txt
  forge-gui/res/cardsfolder/o/opal_titan.txt
  forge-gui/res/cardsfolder/p/primitive_justice.txt
  forge-gui/res/cardsfolder/q/quicksilver_elemental.txt
  forge-gui/res/cardsfolder/s/soul_burn.txt
  forge-gui/res/cardsfolder/s/sunglasses_of_urza.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Rules compliance

#2508 New Omnath and support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/PeekAndRevealEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ReplaceManaEffect.java
  forge-game/src/main/java/forge/game/mana/ManaPool.java
  forge-game/src/main/java/forge/game/replacement/ReplaceLoseMana.java
  forge-gui/res/cardsfolder/h/horizon_stone.txt
  forge-gui/res/cardsfolder/k/kruphix_god_of_horizons.txt
  forge-gui/res/cardsfolder/upcoming/omnath_locus_of_all.txt
  forge-gui/res/lists/NonStackingKWList.txt
Labels: Upcoming Set

#2518 Update two scripts
  forge-gui/res/cardsfolder/d/durnan_of_the_yawning_portal.txt
  forge-gui/res/cardsfolder/t/thrumming_stone.txt
Labels: Card Cleanup, Card Patch

#2525 New editions: CMM, SIR, YONE
  forge-gui/res/cardsfolder/g/goblin_morale_sergeant.txt
  forge-gui/res/cardsfolder/p/prowl_stoic_strategist_prowl_pursuit_vehicle.txt
  forge-gui/res/editions/Alchemy Phyrexia.txt
  forge-gui/res/editions/Commander Masters.txt
  forge-gui/res/editions/Shadows over Innistrad Remastered.txt
Labels: Upcoming Set

#2523 Disturb fix
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
Labels: bug

#2524 Allow Defined and Targets to coexist on one effect
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-gui/res/cardsfolder/c/coastal_wizard.txt
  forge-gui/res/cardsfolder/l/lady_sun.txt
  forge-gui/res/cardsfolder/s/snow_hound.txt
  forge-gui/res/cardsfolder/w/wizard_mentor.txt
Labels: Card Cleanup, Rules compliance

#2522 4 MOC 1 MAT cards
  forge-gui/res/cardsfolder/upcoming/goro_goro_and_satoru.txt
  forge-gui/res/cardsfolder/upcoming/katilda_and_lier.txt
  forge-gui/res/cardsfolder/upcoming/slimefoot_and_squee.txt
  forge-gui/res/cardsfolder/upcoming/the_kenriths_royal_funeral.txt
  forge-gui/res/cardsfolder/upcoming/towashi.txt
Labels: Upcoming Set

#2536 Fix NPE
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-game/src/main/java/forge/game/mana/ManaPool.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-gui/res/cardsfolder/c/chainer_dementia_master.txt
  forge-gui/res/cardsfolder/c/circu_dimir_lobotomist.txt
  forge-gui/res/cardsfolder/d/dark_impostor.txt
  forge-gui/res/cardsfolder/h/howltooth_hollow.txt
  forge-gui/res/cardsfolder/i/izzet_chemister.txt
  forge-gui/res/cardsfolder/m/mosswort_bridge.txt
  forge-gui/res/cardsfolder/s/shelldock_isle.txt
  forge-gui/res/cardsfolder/s/spinerock_knoll.txt
  forge-gui/res/cardsfolder/w/windbrisk_heights.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Card Cleanup, Crash fix

#2527 ValidAfterStack for MayPlay
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/l/lurrus_of_the_dream_den.txt
  forge-gui/res/cardsfolder/s/serra_paragon.txt
Labels: Rules compliance

#2540 GameAction: cleanup card on the battlefield gaining Keyword from castSA
  forge-game/src/main/java/forge/game/GameAction.java
Labels: Game Mechanics

#2541 enable pixelmana atlas, update spellsmith reset
  forge-gui-mobile/src/forge/adventure/scene/SpellSmithScene.java
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
  forge-gui-mobile/src/forge/adventure/util/AdventureModes.java
  forge-gui-mobile/src/forge/adventure/util/Controls.java
  forge-gui-mobile/src/forge/adventure/util/Paths.java
  forge-gui-mobile/src/forge/assets/FSkinImage.java
  forge-gui/res/adventure/Shandalar/config.json
  forge-gui/res/adventure/Shandalar/sprites/pixelmana.atlas
  forge-gui/res/adventure/Shandalar/sprites/pixelmana.png
  forge-gui/res/adventure/Shandalar/ui/spellsmith.json
  forge-gui/res/adventure/Shandalar/ui/spellsmith_portrait.json
  forge-gui/res/skins/default/sprite_adventure.png
  forge-gui/src/main/java/forge/localinstance/skin/FSkinProp.java
Labels: Adventure

#2546 update NewGameScene, Inventory translations
  forge-gui-mobile/src/forge/adventure/data/HeroListData.java
  forge-gui-mobile/src/forge/adventure/scene/NewGameScene.java
  forge-gui-mobile/src/forge/adventure/scene/SaveLoadScene.java
  forge-gui-mobile/src/forge/adventure/util/AdventureModes.java
  forge-gui/res/adventure/Shandalar/ui/inventory.json
  forge-gui/res/adventure/Shandalar/ui/inventory_portrait.json
  forge-gui/res/adventure/Shandalar/ui/map.json
  forge-gui/res/adventure/Shandalar/ui/map_portrait.json
  forge-gui/res/adventure/Shandalar/ui/new_game.json
  forge-gui/res/adventure/Shandalar/ui/new_game_portrait.json
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Adventure

#2548 Dragon Hunter as StaticAbility instead of fake Keyword
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCanAttackDefender.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantAttackBlock.java
  forge-gui/res/cardsfolder/d/dragon_hunter.txt
Labels: Game Mechanics

#2542 YONE 3 cards
  forge-gui/res/cardsfolder/upcoming/phyrexian_harvester.txt
  forge-gui/res/cardsfolder/upcoming/quicksilver_lapidary.txt
  forge-gui/res/cardsfolder/upcoming/spawning_pod.txt
Labels: Upcoming Set

#2554 Some fixes
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-ai/src/main/java/forge/ai/ability/AttachAi.java
  forge-ai/src/main/java/forge/ai/ability/ConniveAi.java
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-ai/src/main/java/forge/ai/ability/GameLossAi.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/AttachEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigMultipleEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ManifestEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RestartGameEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/combat/AttackConstraints.java
  forge-game/src/main/java/forge/game/cost/CostPutCardToLib.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-gui/res/cardsfolder/h/hixus_prison_warden.txt
  forge-gui/res/cardsfolder/m/mitotic_manipulation.txt
  forge-gui/res/cardsfolder/r/retraced_image.txt
  forge-gui/res/cardsfolder/r/rhuk_hexgold_nabber.txt
  forge-gui/res/cardsfolder/s/spelljack.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputConfirmMulligan.java
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Card Cleanup, Card Patch

#2553 Improve PumpAi for cards like Pearlspear Courier
  forge-ai/src/main/java/forge/ai/ability/PumpAi.java
Labels: AI

#2560 Edition updates: SCD, YONE
  forge-gui/res/editions/Alchemy Phyrexia.txt
  forge-gui/res/editions/Starter Commander Decks.txt
Labels: Upcoming Set

#2562 Improve payment test on hybrid shards
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-game/src/main/java/forge/game/mana/ManaPool.java
  forge-gui/res/cardsfolder/c/cemetery_prowler.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputPayMana.java
Labels: AI

#2566 MOM: Heliod, the Radiant Dawn + 3 cards
  forge-gui/res/cardsfolder/upcoming/breach_the_multiverse.txt
  forge-gui/res/cardsfolder/upcoming/chandra_hopes_beacon.txt
  forge-gui/res/cardsfolder/upcoming/heliod_the_radiant_dawn_heliod_the_warped_eclipse.txt
  forge-gui/res/cardsfolder/upcoming/moment_of_truth.txt
Labels: Upcoming Set

#2569 update Manacost render for Split Cards
  forge-gui-mobile/src/forge/card/CardRenderer.java
Labels: Mobile

#2571 Update Adventure custom card pics
  forge-gui/res/adventure/Shandalar/custom_card_pics/Cursed Treasure.fullborder.jpg
  forge-gui/res/adventure/Shandalar/custom_card_pics/Cursed Treasure.png
  forge-gui/res/adventure/Shandalar/custom_card_pics/Farmer's Tools.fullborder.jpg
  forge-gui/res/adventure/Shandalar/custom_card_pics/Farmer's Tools.png
  forge-gui/res/adventure/Shandalar/custom_card_pics/Hill Giant Club.fullborder.jpg
  forge-gui/res/adventure/Shandalar/custom_card_pics/Hill Giant Club.png
  forge-gui/res/adventure/Shandalar/custom_card_pics/Piper's Charm.fullborder.jpg
  forge-gui/res/adventure/Shandalar/custom_card_pics/Piper's Charm.png
  forge-gui/res/adventure/Shandalar/custom_card_pics/Sleep Wand.fullborder.jpg
  forge-gui/res/adventure/Shandalar/custom_card_pics/Sleep Wand.png
Labels: Adventure

#2570 Fix 4 NPE from Sentry
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-ai/src/main/java/forge/ai/ability/PermanentNoncreatureAi.java
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/combat/Combat.java
  forge-gui/res/cardsfolder/d/detention_sphere.txt
Labels: AI, Crash fix

#2561 YONE 5 cards
  forge-gui/res/cardsfolder/upcoming/arek_false_goldwarden.txt
  forge-gui/res/cardsfolder/upcoming/bladehold_cleaver.txt
  forge-gui/res/cardsfolder/upcoming/blightwing_whelp.txt
  forge-gui/res/cardsfolder/upcoming/march_toward_perfection.txt
  forge-gui/res/cardsfolder/upcoming/mephidross_slime.txt
Labels: Upcoming Set

#2573 Some small card QoL fixes
  forge-gui/res/cardsfolder/c/charge_of_the_mites.txt
  forge-gui/res/cardsfolder/upcoming/bladehold_cleaver.txt
  forge-gui/res/cardsfolder/upcoming/blightwing_whelp.txt
  forge-gui/res/cardsfolder/upcoming/chandra_hopes_beacon.txt
  forge-gui/res/cardsfolder/upcoming/drana_and_linvala.txt
  forge-gui/res/cardsfolder/upcoming/faerie_mastermind.txt
  forge-gui/res/cardsfolder/upcoming/goro_goro_and_satoru.txt
  forge-gui/res/cardsfolder/upcoming/katilda_and_lier.txt
  forge-gui/res/cardsfolder/upcoming/march_toward_perfection.txt
  forge-gui/res/cardsfolder/upcoming/mephidross_slime.txt
  forge-gui/res/cardsfolder/upcoming/quicksilver_lapidary.txt
  forge-gui/res/cardsfolder/upcoming/yargle_and_multani.txt
  forge-gui/res/editions/Unhinged.txt
Labels: Card Cleanup

#2574 update fix for bleeding
  forge-gui-mobile/src/forge/adventure/stage/OrthogonalTiledMapRendererBleeding.java
  forge-gui-mobile/src/forge/adventure/stage/PointOfInterestMapRenderer.java
  forge-gui-mobile/src/forge/adventure/world/BiomeTexture.java
  forge-gui-mobile/src/forge/adventure/world/World.java
Labels: Adventure

#2568 New arena cards and one tweak
  forge-gui/res/cardsfolder/a/agent_of_raffine.txt
  forge-gui/res/cardsfolder/a/atraxa_grand_unifier.txt
  forge-gui/res/cardsfolder/c/colfenors_urn.txt
  forge-gui/res/cardsfolder/upcoming/darksteel_hydra.txt
  forge-gui/res/cardsfolder/upcoming/glistening_extractor.txt
  forge-gui/res/cardsfolder/upcoming/gyox_brutal_carnivora.txt
Labels: Upcoming Set, Card Cleanup

#155 CountersPutAI: shouldPumpCard is too restrictive for instant speed PutCounter
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-ai/src/main/java/forge/ai/ability/CharmAi.java
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
  forge-ai/src/main/java/forge/ai/ability/DestroyAi.java
  forge-ai/src/main/java/forge/ai/ability/DestroyAllAi.java
  forge-game/src/main/java/forge/game/phase/Untap.java
  forge-game/src/main/java/forge/game/spellability/AbilityStatic.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-gui/res/cardsfolder/s/subtle_strike.txt
Labels: AI

#2582 Improve applying attack requirements in multiplayer
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-game/src/main/java/forge/game/ability/effects/TokenEffectBase.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/b/boneyard_scourge.txt
  forge-gui/res/cardsfolder/c/chandras_phoenix.txt
  forge-gui/res/cardsfolder/d/dark_intimations.txt
  forge-gui/res/cardsfolder/g/garzas_assassin.txt
  forge-gui/res/cardsfolder/w/warcry_phoenix.txt
Labels: AI, Card Cleanup

#2587 Fix remembering players leading to crash for AI with Shifting Shadow
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/CopyPermanentAi.java
  forge-ai/src/main/java/forge/ai/ability/DigAi.java
  forge-ai/src/main/java/forge/ai/ability/TokenAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/m/mangaras_tome.txt
  forge-gui/res/cardsfolder/p/parallel_thoughts.txt
  forge-gui/res/cardsfolder/s/shifting_shadow.txt
  forge-gui/src/main/java/forge/gui/card/CardScriptParser.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: AI, Crash fix

#2589 magmatic_scorchwing.txt phyresis_roach.txt
  forge-gui/res/cardsfolder/l/laezel_githyanki_warrior.txt
  forge-gui/res/cardsfolder/upcoming/magmatic_scorchwing.txt
  forge-gui/res/cardsfolder/upcoming/phyresis_roach.txt
Labels: Upcoming Set
