Repository Card-Forge/forge, pull requests merged in 2023-05, with the labels that each got.

#3043 Update juggernaut_peddler.txt
  forge-gui/res/cardsfolder/j/juggernaut_peddler.txt
Labels: Card Cleanup, Card Patch

#3041 MAT: remaining card scripts
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/b/blessing_of_frost.txt
  forge-gui/res/cardsfolder/b/blessings_of_nature.txt
  forge-gui/res/cardsfolder/c/chandra_pyromaster.txt
  forge-gui/res/cardsfolder/h/huntmaster_of_the_fells_ravager_of_the_fells.txt
  forge-gui/res/cardsfolder/m/myojin_of_towering_might.txt
  forge-gui/res/cardsfolder/q/quirion_beastcaller.txt
  forge-gui/res/cardsfolder/s/soul_of_shandalar.txt
  forge-gui/res/cardsfolder/s/spoils_of_war.txt
  forge-gui/res/cardsfolder/upcoming/tolarian_contempt.txt
  forge-gui/res/cardsfolder/upcoming/undercity_upheaval.txt
  forge-gui/res/cardsfolder/upcoming/vesuvan_drifter.txt
  forge-gui/res/cardsfolder/upcoming/vorinclex_the_grand_evolution.txt
  forge-gui/res/cardsfolder/y/yannik_scavenging_sentinel.txt
Labels: Upcoming Set, Card Cleanup

#3022 MAT 7 cards
  forge-gui/res/cardsfolder/upcoming/kolaghan_warmonger.txt
  forge-gui/res/cardsfolder/upcoming/leyline_immersion.txt
  forge-gui/res/cardsfolder/upcoming/markov_baron.txt
  forge-gui/res/cardsfolder/upcoming/nahiri_forged_in_fury.txt
  forge-gui/res/cardsfolder/upcoming/nahiris_resolve.txt
  forge-gui/res/cardsfolder/upcoming/samut_vizier_of_naktamun.txt
  forge-gui/res/cardsfolder/upcoming/sarkhan_soul_aflame.txt
Labels: Upcoming Set

#3058 Update edition: MAT
  forge-gui/res/editions/March of the Machine The Aftermath.txt
Labels: Upcoming Set

#3059 MAT oops
  forge-gui/res/editions/March of the Machine The Aftermath.txt
Labels: Upcoming Set

#3057 Fix Multiple Choice
  forge-game/src/main/java/forge/game/ability/effects/ChoosePlayerEffect.java
  forge-gui/res/cardsfolder/m/multiple_choice.txt
Labels: Card Patch

#3055 Kor Replacement Update
  forge-gui/res/adventure/Shandalar/sprites/heroes/Unused/Old Kor Portraits.png
  forge-gui/res/adventure/Shandalar/sprites/heroes/Unused/kor_f.png
  forge-gui/res/adventure/Shandalar/sprites/heroes/Unused/kor_m.png
  forge-gui/res/adventure/Shandalar/sprites/heroes/avatar.png
  forge-gui/res/adventure/Shandalar/sprites/heroes/kor_f.png
  forge-gui/res/adventure/Shandalar/sprites/heroes/kor_m.png
  forge-gui/res/adventure/Shandalar/sprites/mineguard.png
  forge-gui/res/adventure/Shandalar/sprites/unused/mineguard.png
Labels: Adventure

#3065 update SettingsScene
  forge-gui-mobile/src/forge/adventure/scene/SettingsScene.java
  forge-gui/src/main/java/forge/sound/SoundSystem.java
Labels: Adventure

#3067 MayPlayLimit is not copiable
  forge-game/src/main/java/forge/game/staticability/StaticAbility.java
Labels: Game Mechanics, Rules compliance

#3068 Edition updates: CMM, LTR, SLD, WHO
  forge-gui/res/editions/Commander Masters.txt
  forge-gui/res/editions/Doctor Who Commander.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth.txt
Labels: Upcoming Set

#3071 Fix exiling sometimes handled incomplete for combined permanents
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-gui/res/cardsfolder/a/abdel_adrian_gorions_ward.txt
  forge-gui/res/cardsfolder/d/darigaaz_reincarnated.txt
Labels: Game Mechanics

#3069 CMM 3 face commanders
  forge-gui/res/cardsfolder/g/gideons_company.txt
  forge-gui/res/cardsfolder/upcoming/anikthea_hand_of_erebos.txt
  forge-gui/res/cardsfolder/upcoming/commodore_guff.txt
  forge-gui/res/cardsfolder/upcoming/sliver_gravemother.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/tokenscripts/r_1_1_wizard_mana_restrict.txt
Labels: Upcoming Set

#3073 Edition updates: SLD
  forge-gui/res/editions/Secret Lair 30th Anniversary Countdown Kit.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#3074 LTR 3 cards
  forge-gui/res/cardsfolder/upcoming/delighted_halfling.txt
  forge-gui/res/cardsfolder/upcoming/lobelia_sackville_baggins.txt
  forge-gui/res/cardsfolder/upcoming/wizards_rockets.txt
Labels: Upcoming Set

#3076 Fix rollback sometimes reverting to LKI version of card
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-gui-mobile/src/forge/card/CardImageRenderer.java
  forge-gui/res/cardsfolder/a/aethersquall_ancient.txt
  forge-gui/res/cardsfolder/f/first_responder.txt
  forge-gui/res/cardsfolder/k/kethek_crucible_goliath.txt
  forge-gui/res/cardsfolder/l/loyal_unicorn.txt
  forge-gui/res/cardsfolder/z/ziatora_the_incinerator.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: bug, Card Patch

#3080 Sprite Request Fulfilled (Dimir Faerie, Witch)
  forge-gui/res/adventure/Shandalar/sprites/unused/Replaced/insect.atlas
  forge-gui/res/adventure/Shandalar/sprites/unused/Replaced/insect.png
  forge-gui/res/adventure/Shandalar/sprites/unused/Replaced/mineguard.png
  forge-gui/res/adventure/Shandalar/sprites/unused/Requested/dimirfaerie.atlas
  forge-gui/res/adventure/Shandalar/sprites/unused/Requested/dimirfaerie.png
  forge-gui/res/adventure/Shandalar/sprites/unused/Requested/witch.atlas
  forge-gui/res/adventure/Shandalar/sprites/unused/Requested/witch.png
Labels: Adventure

#3085 Update calix_guided_by_fate.txt
  forge-gui/res/cardsfolder/upcoming/calix_guided_by_fate.txt
Labels: Card Patch

#3089 Stored kw idx
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/a/abaddon_the_despoiler.txt
  forge-gui/res/cardsfolder/upcoming/zhulodok_void_gorger.txt
Labels: Upcoming Set, Game Mechanics

#3095 Update CardFactory CloneStates: fix SetPower and setToughness
  forge-game/src/main/java/forge/game/ability/effects/CopyPermanentEffect.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
Labels: Game Mechanics

#3102 allow loading old save
  forge-gui-mobile/src/forge/adventure/util/SaveFileData.java
Labels: Adventure

#3101 Tweak TextChange transformation
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/cost/CostReveal.java
  forge-gui/res/cardsfolder/a/aberrant_researcher_perfected_form.txt
  forge-gui/res/cardsfolder/d/devout_invocation.txt
  forge-gui/res/cardsfolder/m/minsc_boo_timeless_heroes.txt
Labels: Game Mechanics, Card Patch

#3105 fix bordermask options for Adventure Mode
  forge-gui-mobile/src/forge/adventure/scene/SettingsScene.java
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
Labels: Adventure

#3104 Quicksilver Elemental shouldn't look at the recent state to gain abilities
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffectBase.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-gui/res/cardsfolder/g/grell_philosopher.txt
  forge-gui/res/cardsfolder/m/martyrdom.txt
  forge-gui/res/cardsfolder/q/quicksilver_elemental.txt
Labels: Card Patch

#3113 WHO The Lux Foundation Library
  forge-core/src/main/java/forge/card/CardType.java
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-game/src/main/java/forge/game/card/CounterType.java
  forge-gui/res/cardsfolder/upcoming/the_lux_foundation_library.txt
Labels: Upcoming Set

#3119 AI: Fix counters calculation for Wildborn Preserver activation
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
  forge-ai/src/main/java/forge/ai/ability/ImmediateTriggerAi.java
  forge-gui/res/cardsfolder/b/blot_out_the_sky.txt
  forge-gui/res/cardsfolder/j/jugan_defends_the_temple_remnant_of_the_rising_star.txt
  forge-gui/res/cardsfolder/m/martial_coup.txt
  forge-gui/res/cardsfolder/w/wildborn_preserver.txt
Labels: AI

#3124 Fix the file name of the swamp tribal town.
  forge-gui/res/adventure/Shandalar/world/points_of_interest.json
Labels: Adventure

#3126 Fix AI not choosing to fight when putting counters from a trigger
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
Labels: AI

#3127 PlayAi tweak
  forge-ai/src/main/java/forge/ai/ability/PlayAi.java
  forge-gui/res/cardsfolder/a/aetherworks_marvel.txt
  forge-gui/res/cardsfolder/z/zask_skittering_swarmlord.txt
  forge-gui/res/cardsfolder/z/ziatoras_envoy.txt
Labels: AI

#3131 Add cartouche sprites, fix and improve a block of wall sprites
  forge-gui/res/adventure/Shandalar/maps/tileset/main.png
  forge-gui/res/adventure/Shandalar/sprites/items.atlas
  forge-gui/res/adventure/Shandalar/sprites/items.png
Labels: Adventure

#3132 Adventure collision updates
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
  forge-gui/res/adventure/Shandalar/maps/map/aerie_1B.tmx
  forge-gui/res/adventure/Shandalar/maps/map/aerie_1C.tmx
  forge-gui/res/adventure/Shandalar/maps/map/barbariancamp_3.tmx
  forge-gui/res/adventure/Shandalar/maps/map/castle_plains_3.tmx
  forge-gui/res/adventure/Shandalar/maps/map/catlair_2.tmx
  forge-gui/res/adventure/Shandalar/maps/map/catlair_3.tmx
  forge-gui/res/adventure/Shandalar/maps/map/cave_15.tmx
  forge-gui/res/adventure/Shandalar/maps/map/cave_17.tmx
  forge-gui/res/adventure/Shandalar/maps/map/cave_19.tmx
  forge-gui/res/adventure/Shandalar/maps/map/cave_3.tmx
  forge-gui/res/adventure/Shandalar/maps/map/cave_4.tmx
  forge-gui/res/adventure/Shandalar/maps/map/cave_5.tmx
  forge-gui/res/adventure/Shandalar/maps/map/debug_map.tmx
  forge-gui/res/adventure/Shandalar/maps/map/elftown.tmx
  forge-gui/res/adventure/Shandalar/maps/map/evilgrove_3.tmx
  forge-gui/res/adventure/Shandalar/maps/map/fort_8.tmx
  forge-gui/res/adventure/Shandalar/maps/map/graveyard.tmx
  forge-gui/res/adventure/Shandalar/maps/map/graveyard_2.tmx
  forge-gui/res/adventure/Shandalar/maps/map/graveyard_3.tmx
  forge-gui/res/adventure/Shandalar/maps/map/graveyard_5.tmx
  forge-gui/res/adventure/Shandalar/maps/map/grolnok2.tmx
  forge-gui/res/adventure/Shandalar/maps/map/grove_9.tmx
  forge-gui/res/adventure/Shandalar/maps/map/kavulair.tmx
  forge-gui/res/adventure/Shandalar/maps/map/lavaforge_1.tmx
  forge-gui/res/adventure/Shandalar/maps/map/magetower_2.tmx
  forge-gui/res/adventure/Shandalar/maps/map/main_story/spawn.tmx
  forge-gui/res/adventure/Shandalar/maps/map/main_story/temple_of_liliana/forest.tmx
  forge-gui/res/adventure/Shandalar/maps/map/main_story/temple_of_liliana/graveyard.tmx
  forge-gui/res/adventure/Shandalar/maps/map/main_story/temple_of_liliana/town.tmx
  forge-gui/res/adventure/Shandalar/maps/map/merfolkpool_1.tmx
  forge-gui/res/adventure/Shandalar/maps/map/merfolkpool_2.tmx
  forge-gui/res/adventure/Shandalar/maps/map/nahiri.tmx
  forge-gui/res/adventure/Shandalar/maps/map/nahiricave.tmx
  forge-gui/res/adventure/Shandalar/maps/map/scarecrow_farm.tmx
  forge-gui/res/adventure/Shandalar/maps/map/skullcave_2.tmx
  forge-gui/res/adventure/Shandalar/maps/map/slimefoot_boss.tmx
  forge-gui/res/adventure/Shandalar/maps/map/teferi.tmx
  forge-gui/res/adventure/Shandalar/maps/map/tibalt_f1.tmx
  forge-gui/res/adventure/Shandalar/maps/map/tibalt_f2.tmx
  forge-gui/res/adventure/Shandalar/maps/map/wurmpond_1.tmx
  forge-gui/res/adventure/Shandalar/maps/map/yule_town.tmx
  forge-gui/res/adventure/Shandalar/maps/map/zedruu_f1.tmx
  forge-gui/res/adventure/Shandalar/maps/map/zedruu_f2.tmx
  forge-gui/res/adventure/Shandalar/maps/map/zedruu_f4.tmx
  forge-gui/res/adventure/Shandalar/maps/tileset/FarmFood.tsx
  forge-gui/res/adventure/Shandalar/maps/tileset/main.tsx
Labels: Adventure

#3130 Use current shard when trying to pay with combo mana
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-ai/src/main/java/forge/ai/SpecialAiLogic.java
  forge-ai/src/main/java/forge/ai/ability/AnimateAi.java
  forge-ai/src/main/java/forge/ai/ability/AttachAi.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/CopyPermanentAi.java
  forge-ai/src/main/java/forge/ai/ability/DebuffAi.java
  forge-ai/src/main/java/forge/ai/ability/EffectAi.java
  forge-ai/src/main/java/forge/ai/ability/PlayAi.java
  forge-ai/src/main/java/forge/ai/ability/ProtectAi.java
  forge-ai/src/main/java/forge/ai/ability/PumpAi.java
  forge-ai/src/main/java/forge/ai/ability/SetStateAi.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
  forge-gui/src/main/java/forge/player/TargetSelection.java
Labels: AI

#3133 AI: Evaluate creature spells when deciding between two spells with the same CMC
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
Labels: AI

#3134 Zedruu dungeon quickfix
  forge-gui/res/adventure/Shandalar/maps/map/zedruu_f3.tmx
  forge-gui/res/adventure/Shandalar/maps/map/zedruu_f4.tmx
  forge-gui/res/adventure/Shandalar/world/enemies.json
Labels: Adventure

#3135 CardType: fill MultiwordTypes by TypeList
  forge-core/src/main/java/forge/card/CardType.java
  forge-gui/src/main/java/forge/model/FModel.java
Labels: Game Mechanics

#3138 KeywordInstance: store the idx to use it later
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/keyword/KeywordInstance.java
  forge-game/src/main/java/forge/game/keyword/KeywordInterface.java
Labels: Game Mechanics

#3140 Improve AI for Tempered Veteran
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
  forge-gui/res/cardsfolder/t/tempered_veteran.txt
Labels: AI

#3142 AI: Always prioritize creatures by evaluateCreature
  forge-ai/src/main/java/forge/ai/AiController.java
Labels: AI

#3145 AI hint for Nissa, Genesis Mage
  forge-gui/res/cardsfolder/n/nissa_genesis_mage.txt
Labels: AI

#3116 Some script and engine fixes
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ConniveEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/combat/CombatUtil.java
  forge-gui/res/cardsfolder/i/invasion_of_fiora_marchesa_resolute_monarch.txt
  forge-gui/res/cardsfolder/l/lorehold_command.txt
  forge-gui/res/cardsfolder/n/nahiri_forged_in_fury.txt
  forge-gui/res/cardsfolder/n/niv_mizzet_supreme.txt
  forge-gui/res/cardsfolder/o/outlaws_merriment.txt
  forge-gui/res/cardsfolder/r/radha_heir_to_keld.txt
Labels: bug, Card Patch

#3144 AI creature spell priority tweaks
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilAbility.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
Labels: AI

#3139 CardFactory: copySpellHost uses getCloneStates
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-gui/res/cardsfolder/d/donal_herald_of_wings.txt
  forge-gui/res/cardsfolder/f/fork.txt
  forge-gui/res/cardsfolder/o/ob_nixilis_the_adversary.txt
  forge-gui/res/cardsfolder/t/tawnos_the_toymaker.txt
Labels: Game Mechanics

#3031 MAT: tranquil_frillback.txt + support/related
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-game/src/main/java/forge/game/trigger/WrappedAbility.java
  forge-gui/res/cardsfolder/b/bloodthirsty_adversary.txt
  forge-gui/res/cardsfolder/c/cemetery_desecrator.txt
  forge-gui/res/cardsfolder/g/guile_sonic_soldier.txt
  forge-gui/res/cardsfolder/p/primal_adversary.txt
  forge-gui/res/cardsfolder/s/spectral_adversary.txt
  forge-gui/res/cardsfolder/t/tainted_adversary.txt
  forge-gui/res/cardsfolder/upcoming/tranquil_frillback.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#3160 Fix AI not playing Jhoira in MoJhoSto
  forge-ai/src/main/java/forge/ai/ability/PlayAi.java
Labels: AI

#3161 Fix Containment Priest exiling itself
  forge-game/src/main/java/forge/game/replacement/ReplaceAddCounter.java
  forge-game/src/main/java/forge/game/replacement/ReplaceMoved.java
  forge-game/src/main/java/forge/game/replacement/ReplacementEffect.java
Labels: Game Mechanics, Rules compliance

#3157 Update glissas_retriever.txt
  forge-gui/res/cardsfolder/g/glissas_retriever.txt
Labels: Card Patch

#3168 Freeze fix disciple of Teferi
  forge-gui/res/adventure/Shandalar/decks/humans/disciple_of_teferi.dck
Labels: Adventure

#3175 Edition updates: LTR, LTC
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth Commander.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth.txt
Labels: Upcoming Set

#3178 Freeze fix mimic
  forge-gui/res/adventure/Shandalar/world/enemies.json
Labels: Adventure
