Repository Card-Forge/forge, pull requests merged in 2023-07, with the labels that each got.

#3375 Adventure - prevent getting stuck between close POI
  forge-gui-mobile/src/forge/adventure/stage/WorldStage.java
Labels: Adventure

#3382 Updated LTC 5 cards
  forge-gui/res/cardsfolder/upcoming/taunt_from_the_rampart.txt
  forge-gui/res/cardsfolder/upcoming/the_balrog_of_moria.txt
  forge-gui/res/cardsfolder/upcoming/too_greedily_too_deep.txt
  forge-gui/res/cardsfolder/upcoming/wake_the_dragon.txt
  forge-gui/res/cardsfolder/upcoming/windswift_slice.txt
  forge-gui/res/tokenscripts/br_6_6_dragon_flying_menace_steal.txt
Labels: Upcoming Set

#3376 Basic AI for Gale's Redirection, Consecrate // Consume, Serra's Emissary
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/SacrificeAi.java
  forge-gui/res/cardsfolder/c/consecrate_consume.txt
  forge-gui/res/cardsfolder/g/gales_redirection.txt
  forge-gui/res/cardsfolder/s/serras_emissary.txt
Labels: AI

#3392 Add several Old School cubes from Cube Cobra.
  forge-gui/res/cube/Old School 93-94 (540 Cards, Cube Cobra).dck
  forge-gui/res/cube/Old School 93-94 Craig Wescoe's Cube (Cube Cobra).dck
  forge-gui/res/cube/Old School 93-94 Magic Full Set 878 Card Cube.dck
  forge-gui/res/cube/Old School 93-94 Magic Powered 360 Card Cube.dck
  forge-gui/res/cube/Old School 93-94 Magic Unpowered 400 Card Cube.dck
  forge-gui/res/cube/Old School 93-95 (360 Cards, Cube Cobra).dck
  forge-gui/res/cube/Old School 98 (350 Cards, Cube Cobra).dck
  forge-gui/res/cube/Old School Alpha, Beta and 4 Horsemen (360 Cards, Cube Cobra).dck
  forge-gui/res/cube/Old School Classically Trained - The First Five (Cube Cobra).dck
  forge-gui/res/draft/Old School 93-94 (540 Cards, Cube Cobra).draft
  forge-gui/res/draft/Old School 93-94 Craig Wescoe's Cube (Cube Cobra).draft
  forge-gui/res/draft/Old School 93-94 Magic Full Set 878 Card Cube.draft
  forge-gui/res/draft/Old School 93-94 Magic Powered 360 Card Cube.draft
  forge-gui/res/draft/Old School 93-94 Magic Unpowered 400 Card Cube.draft
  forge-gui/res/draft/Old School 93-95 (360 Cards, Cube Cobra).draft
  forge-gui/res/draft/Old School 98 (350 Cards, Cube Cobra).draft
  forge-gui/res/draft/Old School Alpha, Beta and 4 Horsemen (360 Cards, Cube Cobra).draft
  forge-gui/res/draft/Old School Classically Trained - The First Five (Cube Cobra).draft
  forge-gui/res/draft/Oldschool 93-94 Magic Full Set 878 Card Cube.draft
  forge-gui/res/draft/Oldschool 93-94 Magic Powered 360 Card Cube.draft
  forge-gui/res/draft/Oldschool 93-94 Magic Unpowered 400 Card Cube.draft
Labels: Cube Draft

#3395 Update phyrexian_harvester.txt
  forge-gui/res/cardsfolder/p/phyrexian_harvester.txt
Labels: Card Patch

#3364 LTC 7 cards
  forge-gui/res/cardsfolder/upcoming/field_tested_frying_pan.txt
  forge-gui/res/cardsfolder/upcoming/galadhrim_ambush.txt
  forge-gui/res/cardsfolder/upcoming/monstrosity_of_the_lake.txt
  forge-gui/res/cardsfolder/upcoming/moria_scavenger.txt
  forge-gui/res/cardsfolder/upcoming/motivated_pony.txt
  forge-gui/res/cardsfolder/upcoming/saruman_the_white_hand.txt
  forge-gui/res/cardsfolder/upcoming/the_gaffer.txt
Labels: Upcoming Set

#3383 LTC 6 cards
  forge-gui/res/cardsfolder/upcoming/orcish_siegemaster.txt
  forge-gui/res/cardsfolder/upcoming/rapacious_guest.txt
  forge-gui/res/cardsfolder/upcoming/relic_of_sauron.txt
  forge-gui/res/cardsfolder/upcoming/song_of_earendil.txt
  forge-gui/res/cardsfolder/upcoming/subjugate_the_hobbits.txt
  forge-gui/res/cardsfolder/upcoming/summons_of_saruman.txt
Labels: Upcoming Set

#3331 Common music
  forge-gui-mobile/src/forge/adventure/stage/GameHUD.java
  forge-gui/res/adventure/common/music/black/black1.mp3
  forge-gui/res/adventure/common/music/blue/blue1.mp3
  forge-gui/res/adventure/common/music/boss/boss1.mp3
  forge-gui/res/adventure/common/music/boss/boss2.mp3
  forge-gui/res/adventure/common/music/castle/castle1.mp3
  forge-gui/res/adventure/common/music/cave/cave1.mp3
  forge-gui/res/adventure/common/music/colorless/menu1.mp3
  forge-gui/res/adventure/common/music/green/green1.mp3
  forge-gui/res/adventure/common/music/match/match1.mp3
  forge-gui/res/adventure/common/music/match/match2.mp3
  forge-gui/res/adventure/common/music/match/match3.mp3
  forge-gui/res/adventure/common/music/menus/menu1.mp3
  forge-gui/res/adventure/common/music/red/red1.mp3
  forge-gui/res/adventure/common/music/town/town1.mp3
  forge-gui/res/adventure/common/music/white/white1.mp3
  forge-gui/src/main/java/forge/localinstance/properties/ForgeConstants.java
  forge-gui/src/main/java/forge/sound/MusicPlaylist.java
Labels: Adventure

#3401 update paths
  forge-gui-mobile/src/forge/adventure/stage/GameHUD.java
  forge-gui/src/main/java/forge/localinstance/properties/ForgeConstants.java
  forge-gui/src/main/java/forge/sound/MusicPlaylist.java
Labels: Adventure

#3402 Fix cheating when paying hybrid shards with combo abilities
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-ai/src/main/java/forge/ai/ability/ControlGainAi.java
  forge-ai/src/main/java/forge/ai/ability/CounterAi.java
  forge-game/src/main/java/forge/game/ability/effects/SacrificeEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/combat/CombatUtil.java
  forge-gui/res/cardsfolder/o/odric_master_tactician.txt
  forge-gui/res/cardsfolder/upcoming/archivist_of_gondor.txt
  forge-gui/res/cardsfolder/upcoming/the_grey_havens.txt
  forge-gui/res/cardsfolder/v/valakut_the_molten_pinnacle.txt
Labels: AI, Card Patch

#3386 Exiled card becomes new object when it's exiled
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityCondition.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/i/imminent_doom.txt
Labels: Game Mechanics, Rules compliance

#3394 Basic AI logic for Banding / Bands with Other
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-ai/src/main/java/forge/ai/ability/DebuffAi.java
  forge-game/src/main/java/forge/game/combat/AttackingBand.java
  forge-gui/res/cardsfolder/a/adventurers_guildhouse.txt
  forge-gui/res/cardsfolder/a/ayesha_tanaka.txt
  forge-gui/res/cardsfolder/b/baton_of_morale.txt
  forge-gui/res/cardsfolder/b/battering_ram.txt
  forge-gui/res/cardsfolder/b/beast_walkers.txt
  forge-gui/res/cardsfolder/b/benalish_hero.txt
  forge-gui/res/cardsfolder/b/benalish_infantry.txt
  forge-gui/res/cardsfolder/c/camel.txt
  forge-gui/res/cardsfolder/c/cathedral_of_serra.txt
  forge-gui/res/cardsfolder/d/defensive_formation.txt
  forge-gui/res/cardsfolder/f/formation.txt
  forge-gui/res/cardsfolder/h/helm_of_chatzuk.txt
  forge-gui/res/cardsfolder/i/icatian_infantry.txt
  forge-gui/res/cardsfolder/i/icatian_phalanx.txt
  forge-gui/res/cardsfolder/i/icatian_skirmishers.txt
  forge-gui/res/cardsfolder/k/kjeldoran_escort.txt
  forge-gui/res/cardsfolder/k/kjeldoran_knight.txt
  forge-gui/res/cardsfolder/k/kjeldoran_phalanx.txt
  forge-gui/res/cardsfolder/k/kjeldoran_skycaptain.txt
  forge-gui/res/cardsfolder/k/kjeldoran_skyknight.txt
  forge-gui/res/cardsfolder/k/kjeldoran_warrior.txt
  forge-gui/res/cardsfolder/k/knights_of_thorn.txt
  forge-gui/res/cardsfolder/m/mesa_pegasus.txt
  forge-gui/res/cardsfolder/m/mishras_war_machine.txt
  forge-gui/res/cardsfolder/m/mountain_stronghold.txt
  forge-gui/res/cardsfolder/n/nalathni_dragon.txt
  forge-gui/res/cardsfolder/n/natures_blessing.txt
  forge-gui/res/cardsfolder/n/noble_elephant.txt
  forge-gui/res/cardsfolder/p/pikemen.txt
  forge-gui/res/cardsfolder/s/seafarers_quay.txt
  forge-gui/res/cardsfolder/s/shelkin_brownie.txt
  forge-gui/res/cardsfolder/s/shield_bearer.txt
  forge-gui/res/cardsfolder/s/soraya_the_falconer.txt
  forge-gui/res/cardsfolder/t/teremko_griffin.txt
  forge-gui/res/cardsfolder/t/timber_wolves.txt
  forge-gui/res/cardsfolder/t/tolaria.txt
  forge-gui/res/cardsfolder/u/unholy_citadel.txt
  forge-gui/res/cardsfolder/u/urzas_engine.txt
  forge-gui/res/cardsfolder/v/volunteer_reserves.txt
  forge-gui/res/cardsfolder/w/wall_of_shields.txt
Labels: AI

#3416 AI: Various logic fixes and improvements
  forge-ai/src/main/java/forge/ai/AiBlockController.java
  forge-ai/src/main/java/forge/ai/SpecialCardAi.java
  forge-ai/src/main/java/forge/ai/ability/FightAi.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/b/bog_down.txt
  forge-gui/res/cardsfolder/c/caligo_skin_witch.txt
  forge-gui/res/cardsfolder/g/grothama_all_devouring.txt
  forge-gui/res/cardsfolder/h/hypnotic_cloud.txt
  forge-gui/res/cardsfolder/k/khorvaths_fury.txt
  forge-gui/res/cardsfolder/p/probe.txt
  forge-gui/res/cardsfolder/t/tempting_wurm.txt
Labels: bug, AI

#3422 Clean up
  forge-ai/src/main/java/forge/ai/AiBlockController.java
  forge-gui/res/cardsfolder/s/scepter_of_celebration.txt
Labels: AI

#3424 AI shouldn't miss Grothama's triggers even when it doesn't want to activate them
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-ai/src/main/java/forge/ai/ability/FightAi.java
Labels: AI

#3426 Fix Praetor's Grasp
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-ai/src/main/java/forge/ai/ability/ChooseGenericEffectAi.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerExiled.java
Labels: bug

#3412 Amonkhet
  forge-gui/res/adventure/common/maps/map/desertbuildingtiles.tsx
  forge-gui/res/adventure/common/maps/map/naktamun.tmx
  forge-gui/res/adventure/common/maps/map/naktamun/gym.tmx
  forge-gui/res/adventure/common/maps/tileset/desertbuildingtiles.png
  forge-gui/res/adventure/common/maps/tileset/desertbuildingtiles.tsx
  forge-gui/res/adventure/common/world/biomes/luxa.json
  forge-gui/res/adventure/common/world/biomes/outlands.json
Labels: Adventure

#3421 6 LTC + Tokens
  forge-gui/res/cardsfolder/upcoming/grima_sarumans_footman.txt
  forge-gui/res/cardsfolder/upcoming/gwaihir_greatest_of_the_eagles.txt
  forge-gui/res/cardsfolder/upcoming/haldir_lorien_lieutenant.txt
  forge-gui/res/cardsfolder/upcoming/lobelia_defender_of_bag_end.txt
  forge-gui/res/cardsfolder/upcoming/lord_of_the_nazgul.txt
  forge-gui/res/cardsfolder/upcoming/shelob_dread_weaver.txt
  forge-gui/res/tokenscripts/b_3_3_wraith_menace.txt
  forge-gui/res/tokenscripts/w_3_3_bird_flying_attacks.txt
Labels: Upcoming Set

#3431 Adventure fixes
  forge-gui-mobile/src/forge/adventure/scene/NewGameScene.java
  forge-gui-mobile/src/forge/adventure/stage/WorldStage.java
  forge-gui/res/adventure/common/maps/main.tiled-project
Labels: Adventure

#3436 format win/loss ratio
  forge-core/src/main/java/forge/util/TextUtil.java
  forge-gui-mobile/src/forge/adventure/scene/PlayerStatisticScene.java
Labels: Adventure

#3434 Implement AI for Arena
  forge-ai/src/main/java/forge/ai/SpecialCardAi.java
  forge-ai/src/main/java/forge/ai/ability/FightAi.java
  forge-ai/src/main/java/forge/ai/ability/TapAi.java
  forge-ai/src/main/java/forge/ai/ability/TapAiBase.java
  forge-gui/res/cardsfolder/a/arena.txt
  forge-gui/res/cardsfolder/m/magus_of_the_arena.txt
Labels: AI

#3435 Fix missing reorder
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-ai/src/main/java/forge/ai/ability/PumpAi.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-gui/res/cardsfolder/c/congregation_at_dawn.txt
  forge-gui/res/cardsfolder/d/dwarven_recruiter.txt
  forge-gui/res/cardsfolder/g/goblin_recruiter.txt
  forge-gui/res/cardsfolder/i/insidious_dreams.txt
  forge-gui/res/cardsfolder/l/lim_duls_vault.txt
  forge-gui/res/cardsfolder/n/nova_pentacle.txt
  forge-gui/res/cardsfolder/s/scouting_trek.txt
  forge-gui/res/cardsfolder/u/ulvenwald_tracker.txt
Labels: Rules compliance

#3443 Adventure - Updated draft set filtering
  forge-gui-mobile/src/forge/adventure/data/AdventureEventData.java
Labels: Adventure

#3438 Basic AI for Chalice of the Void, minor DamageDealAi improvement
  forge-ai/src/main/java/forge/ai/ability/DamageAiBase.java
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-ai/src/main/java/forge/ai/ability/PermanentAi.java
  forge-gui/res/cardsfolder/c/chalice_of_the_void.txt
Labels: AI

#3451 Panharmonicon: support LKI of cause
  forge-game/src/main/java/forge/game/staticability/StaticAbilityDisableTriggers.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPanharmonicon.java
Labels: Game Mechanics, Rules compliance

#3452 Some fixes
  forge-ai/src/main/java/forge/ai/AiBlockController.java
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
  forge-ai/src/main/java/forge/ai/ability/AnimateAi.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/CloneAi.java
  forge-ai/src/main/java/forge/ai/ability/CounterAi.java
  forge-ai/src/main/java/forge/ai/ability/CountersMoveAi.java
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
  forge-ai/src/main/java/forge/ai/ability/CountersPutAllAi.java
  forge-ai/src/main/java/forge/ai/ability/DamageAiBase.java
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-ai/src/main/java/forge/ai/ability/DayTimeAi.java
  forge-ai/src/main/java/forge/ai/ability/DebuffAi.java
  forge-ai/src/main/java/forge/ai/ability/DestroyAi.java
  forge-ai/src/main/java/forge/ai/ability/DigAi.java
  forge-ai/src/main/java/forge/ai/ability/DigMultipleAi.java
  forge-ai/src/main/java/forge/ai/ability/DigUntilAi.java
  forge-ai/src/main/java/forge/ai/ability/DrawAi.java
  forge-ai/src/main/java/forge/ai/ability/FlipOntoBattlefieldAi.java
  forge-ai/src/main/java/forge/ai/ability/LifeGainAi.java
  forge-ai/src/main/java/forge/ai/ability/LifeLoseAi.java
  forge-ai/src/main/java/forge/ai/ability/ManifestAi.java
  forge-ai/src/main/java/forge/ai/ability/MillAi.java
  forge-ai/src/main/java/forge/ai/ability/PermanentCreatureAi.java
  forge-ai/src/main/java/forge/ai/ability/ProtectAi.java
  forge-ai/src/main/java/forge/ai/ability/PumpAi.java
  forge-ai/src/main/java/forge/ai/ability/RevealAi.java
  forge-ai/src/main/java/forge/ai/ability/RevealHandAi.java
  forge-ai/src/main/java/forge/ai/ability/ScryAi.java
  forge-ai/src/main/java/forge/ai/ability/SurveilAi.java
  forge-ai/src/main/java/forge/ai/ability/TapAi.java
  forge-ai/src/main/java/forge/ai/ability/TokenAi.java
  forge-ai/src/main/java/forge/ai/ability/VentureAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/FightEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerChangesZone.java
  forge-game/src/main/java/forge/game/trigger/TriggerChangesZoneAll.java
  forge-gui/res/cardsfolder/c/chandra_fire_of_kaladesh_chandra_roaring_flame.txt
  forge-gui/res/cardsfolder/c/cleaver_skaab.txt
  forge-gui/res/cardsfolder/p/parallax_tide.txt
  forge-gui/res/cardsfolder/p/parallax_wave.txt
  forge-gui/res/cardsfolder/p/preston_the_vanisher.txt
  forge-gui/res/cardsfolder/s/sacred_ground.txt
  forge-gui/res/cardsfolder/s/skyshroud_ambush.txt
  forge-gui/res/cardsfolder/s/sovereigns_of_lost_alara.txt
  forge-gui/res/cardsfolder/t/trailblazers_torch.txt
  forge-gui/res/cardsfolder/upcoming/esquire_of_the_king.txt
  forge-gui/res/cardsfolder/upcoming/grima_sarumans_footman.txt
  forge-gui/res/cardsfolder/v/viviens_invocation.txt
Labels: Card Cleanup, Card Patch

#3461 Adventure - map fixes
  forge-gui/res/adventure/common/maps/map/dreamhalls.tmx
  forge-gui/res/adventure/common/maps/map/grove_8.tmx
Labels: Adventure

#3464 Banding fix
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/cost/CostPayment.java
  forge-gui/src/main/java/forge/gamemodes/match/input/InputAttack.java
Labels: Crash fix, GUI

#3467 Fix Doubling Cube producing C out of nothing if floating colors have gap
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-game/src/main/java/forge/game/ability/effects/ManaEffect.java
  forge-gui/res/cardsfolder/h/hargilde_kindly_runechanter.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputPayMana.java
Labels: bug

#3390 LTC 4 cards
  forge-gui/res/cardsfolder/upcoming/gandalf_westward_voyager.txt
  forge-gui/res/cardsfolder/upcoming/gilraen_dunedain_protector.txt
  forge-gui/res/cardsfolder/upcoming/mirkwood_trapper.txt
  forge-gui/res/cardsfolder/upcoming/the_black_gate.txt
Labels: Upcoming Set

#3469 fix CardView NPE
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Mobile

#3471 update potential NPE on CardView
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Mobile

#3472 Edition updates: CMM, EA3, HA7
  forge-gui/res/editions/Commander Masters.txt
  forge-gui/res/editions/Explorer Anthology 3.txt
  forge-gui/res/editions/Historic Anthology 7.txt
Labels: Upcoming Set

#3470 InputSelectTargets: able to remove Target
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectTargets.java
Labels: GUI

#3476 update GameHUD, RewardActor, MapDialog
  forge-gui-mobile/src/forge/GuiMobile.java
  forge-gui-mobile/src/forge/adventure/stage/GameHUD.java
  forge-gui-mobile/src/forge/adventure/util/MapDialog.java
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
  forge-gui-mobile/src/forge/assets/FSkinImage.java
  forge-gui-mobile/src/forge/sound/AudioMusic.java
  forge-gui/res/skins/default/sprite_adventure.png
  forge-gui/src/main/java/forge/localinstance/skin/FSkinProp.java
Labels: Adventure

#3480 Adventure Difficulty data storage fix
  forge-gui-mobile/src/forge/adventure/player/AdventurePlayer.java
  forge-gui/res/adventure/common/maps/map/main_story/forest_capital.tmx
Labels: Adventure

#3474 Update magetower overworld icon.
  forge-gui/res/adventure/common/maps/tileset/buildingsbosses.atlas
  forge-gui/res/adventure/common/maps/tileset/buildingsbosses.png
  forge-gui/res/adventure/common/world/points_of_interest.json
Labels: Adventure

#3023 MAT: ob_nixilis_captive_kingpin.txt + support
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/effects/LifeExchangeEffect.java
  forge-game/src/main/java/forge/game/ability/effects/LifeExchangeVariantEffect.java
  forge-game/src/main/java/forge/game/ability/effects/LifeLoseEffect.java
  forge-game/src/main/java/forge/game/ability/effects/LifeSetEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RepeatEachEffect.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/trigger/TriggerLifeLostAll.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-gui/res/cardsfolder/f/forge_devil.txt
  forge-gui/res/cardsfolder/h/hordewing_skaab.txt
  forge-gui/res/cardsfolder/k/killing_wave.txt
  forge-gui/res/cardsfolder/n/night_market_lookout.txt
  forge-gui/res/cardsfolder/r/reverse_the_sands.txt
  forge-gui/res/cardsfolder/t/tree_of_perdition.txt
  forge-gui/res/cardsfolder/upcoming/ob_nixilis_captive_kingpin.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup, Card Patch

#3482 Script updates
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardEffect.java
  forge-game/src/main/java/forge/game/replacement/ReplaceToken.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/a/anathemancer.txt
  forge-gui/res/cardsfolder/a/aurelia_exemplar_of_justice.txt
  forge-gui/res/cardsfolder/e/echoing_courage.txt
  forge-gui/res/cardsfolder/e/echoing_decay.txt
  forge-gui/res/cardsfolder/e/elvish_healer.txt
  forge-gui/res/cardsfolder/f/fatal_lore.txt
  forge-gui/res/cardsfolder/i/ill_gotten_gains.txt
  forge-gui/res/cardsfolder/i/intellect_devourer.txt
  forge-gui/res/cardsfolder/i/intet_the_dreamer.txt
  forge-gui/res/cardsfolder/i/intimidation_bolt.txt
  forge-gui/res/cardsfolder/m/mindclaw_shaman.txt
  forge-gui/res/cardsfolder/n/nightveil_specter.txt
  forge-gui/res/cardsfolder/n/nissa_steward_of_elements.txt
  forge-gui/res/cardsfolder/n/nissa_vastwood_seer_nissa_sage_animist.txt
  forge-gui/res/cardsfolder/t/the_ruinous_powers.txt
  forge-gui/res/cardsfolder/t/theater_of_horrors.txt
  forge-gui/res/cardsfolder/upcoming/fires_of_mount_doom.txt
  forge-gui/res/cardsfolder/w/waking_the_trolls.txt
  forge-gui/res/cardsfolder/w/winnow.txt
  forge-gui/res/cardsfolder/x/xira_the_golden_sting.txt
Labels: Card Cleanup, Card Patch

#3483 Edition updates: CMM, PLIST
  forge-gui/res/editions/Commander Masters.txt
  forge-gui/res/editions/The List.txt
Labels: Upcoming Set

#3488 CloneStates: if replaced coretype provides its subtype old isn't retained
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardState.java
  forge-gui/res/cardsfolder/a/adaptive_automaton.txt
  forge-gui/res/cardsfolder/a/alpine_moon.txt
  forge-gui/res/cardsfolder/c/caged_sun.txt
  forge-gui/res/cardsfolder/e/ebony_fly.txt
  forge-gui/res/cardsfolder/h/heart_of_kiran.txt
  forge-gui/res/cardsfolder/h/honeymoon_hearse.txt
  forge-gui/res/cardsfolder/i/imposter_mech.txt
  forge-gui/res/cardsfolder/m/mana_echoes.txt
  forge-gui/res/cardsfolder/m/metallic_mimic.txt
  forge-gui/res/cardsfolder/r/radha_heir_to_keld.txt
  forge-gui/res/cardsfolder/s/swift_reconfiguration.txt
  forge-gui/res/cardsfolder/upcoming/shelob_child_of_ungoliant.txt
Labels: Card Cleanup, Card Patch, Rules compliance

#3489 Alchemy Rebalancing for July 18, 2023 (also CMM edition update)
  forge-gui/res/cardsfolder/c/crucias_titan_of_the_waves.txt
  forge-gui/res/editions/Commander Masters.txt
  forge-gui/res/formats/Archived/Alchemy/2023-07-18.txt
Labels: Upcoming Set, Rules/Oracle Changes

#3354 Goldberry support
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
  forge-game/src/main/java/forge/game/ability/effects/CountersMoveEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersRemoveEffect.java
  forge-game/src/main/java/forge/game/player/PlayerController.java
  forge-gui/res/cardsfolder/g/gyrus_waker_of_corpses.txt
  forge-gui/res/cardsfolder/m/marath_will_of_the_wild.txt
  forge-gui/res/cardsfolder/upcoming/goldberry_river_daughter.txt
Labels: Upcoming Set

#3487 CMM 9 cards
  forge-gui/res/cardsfolder/upcoming/capricious_sliver.txt
  forge-gui/res/cardsfolder/upcoming/descendants_fury.txt
  forge-gui/res/cardsfolder/upcoming/for_the_ancestors.txt
  forge-gui/res/cardsfolder/upcoming/hatchery_sliver.txt
  forge-gui/res/cardsfolder/upcoming/lazotep_sliver.txt
  forge-gui/res/cardsfolder/upcoming/regal_sliver.txt
  forge-gui/res/cardsfolder/upcoming/rukarumal_biologist.txt
  forge-gui/res/cardsfolder/upcoming/taunting_sliver.txt
  forge-gui/res/cardsfolder/upcoming/titan_of_littjara.txt
Labels: Upcoming Set

#3349 Support scripted switching to different trigger context
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/DelayedTriggerEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ImmediateTriggerEffect.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-gui/res/cardsfolder/b/biting_palm_ninja.txt
  forge-gui/res/cardsfolder/d/dokuchi_silencer.txt
  forge-gui/res/cardsfolder/h/halana_kessig_ranger.txt
  forge-gui/res/cardsfolder/h/heart_piercer_manticore.txt
  forge-gui/res/cardsfolder/i/infinite_authority.txt
  forge-gui/res/cardsfolder/k/kappa_tech_wrecker.txt
  forge-gui/res/cardsfolder/rebalanced/a-dokuchi_silencer.txt
Labels: enhancement, Game Mechanics

#3498 Edition update: CMM
  forge-gui/res/editions/Commander Masters.txt
Labels: Upcoming Set

#3499 PlayEffect: Fix casting with unpayable cost if no alternative provided
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantAttackBlock.java
  forge-gui/res/cardsfolder/a/ascendant_spirit.txt
  forge-gui/res/cardsfolder/b/bee_sting.txt
  forge-gui/res/cardsfolder/c/comet_storm.txt
  forge-gui/res/cardsfolder/f/figure_of_destiny.txt
  forge-gui/res/cardsfolder/k/kazuul_tyrant_of_the_cliffs.txt
  forge-gui/res/cardsfolder/n/next_of_kin.txt
  forge-gui/res/cardsfolder/o/oskar_rubbish_reclaimer.txt
  forge-gui/res/cardsfolder/s/strength_of_the_tajuru.txt
  forge-gui/res/cardsfolder/w/warden_of_the_first_tree.txt
Labels: Card Cleanup, Card Patch, Rules compliance

#3502 Card: Wither damage as property, use Static for Everlasting Torment
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-ai/src/main/java/forge/ai/SpecialCardAi.java
  forge-ai/src/main/java/forge/ai/ability/AttachAi.java
  forge-ai/src/main/java/forge/ai/ability/PumpAiBase.java
  forge-game/src/main/java/forge/game/GlobalRuleChange.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityWitherDamage.java
  forge-gui/res/cardsfolder/e/everlasting_torment.txt
Labels: Game Mechanics, AI

#3507 Fix tests
  forge-gui-desktop/src/test/java/forge/card/CardDbCardMockTestCase.java
  forge-gui-desktop/src/test/java/forge/card/CardEditionCollectionCardMockTestCase.java
Labels: Crash fix

#3496 CMM 5 cards
  forge-gui/res/cardsfolder/upcoming/chandra_legacy_of_fire.txt
  forge-gui/res/cardsfolder/upcoming/gatewatch_beacon.txt
  forge-gui/res/cardsfolder/upcoming/sparkshaper_visionary.txt
  forge-gui/res/cardsfolder/upcoming/teyo_geometric_tactician.txt
  forge-gui/res/cardsfolder/upcoming/vronos_masked_inquisitor.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/tokenscripts/w_0_4_wall_defender_flying.txt
Labels: Upcoming Set

#3501 Implemented Ondu Spiritdancer, Nyxborn Behemoth and Onakke Oathkeeper
  forge-gui/res/cardsfolder/n/nyxborn_behemoth.txt
  forge-gui/res/cardsfolder/o/onakke_oathkeeper.txt
  forge-gui/res/cardsfolder/o/ondu_spiritdancer.txt
Labels: Upcoming Set

#3497 CMM 5 cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/battle_at_the_helvault.txt
  forge-gui/res/cardsfolder/upcoming/boon_of_the_spirit_realm.txt
  forge-gui/res/cardsfolder/upcoming/cacophony_unleashed.txt
  forge-gui/res/cardsfolder/upcoming/demon_of_fates_design.txt
  forge-gui/res/cardsfolder/upcoming/ghoulish_impetus.txt
  forge-gui/res/tokenscripts/avacyn.txt
Labels: Upcoming Set

#3505 CMM 6 cards
  forge-gui/res/cardsfolder/upcoming/abstruse_archaic.txt
  forge-gui/res/cardsfolder/upcoming/desecrate_reality.txt
  forge-gui/res/cardsfolder/upcoming/flayer_of_loyalties.txt
  forge-gui/res/cardsfolder/upcoming/jayas_phoenix.txt
  forge-gui/res/cardsfolder/upcoming/leori_sparktouched_hunter.txt
  forge-gui/res/cardsfolder/upcoming/narci_fable_singer.txt
Labels: Upcoming Set

#3509 CMM 6 cards 21-7
  forge-gui/res/cardsfolder/upcoming/calamity_of_the_titans.txt
  forge-gui/res/cardsfolder/upcoming/darksteel_monolith.txt
  forge-gui/res/cardsfolder/upcoming/omarthis_ghostfire_initiate.txt
  forge-gui/res/cardsfolder/upcoming/rise_of_the_eldrazi.txt
  forge-gui/res/cardsfolder/upcoming/skittering_cicada.txt
  forge-gui/res/cardsfolder/upcoming/ugins_mastery.txt
Labels: Upcoming Set

#3510 Manifest: Fix missing ChangesZoneAll
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ManifestEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SetStateEffect.java
  forge-game/src/main/java/forge/game/zone/PlayerZone.java
  forge-gui/res/cardsfolder/a/atarka_monument.txt
  forge-gui/res/cardsfolder/a/azorius_keyrune.txt
  forge-gui/res/cardsfolder/b/blinkmoth_nexus.txt
  forge-gui/res/cardsfolder/b/boros_keyrune.txt
  forge-gui/res/cardsfolder/c/chimeric_coils.txt
  forge-gui/res/cardsfolder/c/chimeric_egg.txt
  forge-gui/res/cardsfolder/c/chimeric_idol.txt
  forge-gui/res/cardsfolder/c/chimeric_mass.txt
  forge-gui/res/cardsfolder/c/chimeric_sphere.txt
  forge-gui/res/cardsfolder/c/chimeric_staff.txt
  forge-gui/res/cardsfolder/c/chronatog_totem.txt
  forge-gui/res/cardsfolder/d/darksteel_brute.txt
  forge-gui/res/cardsfolder/d/dimir_keyrune.txt
  forge-gui/res/cardsfolder/d/dire_mimic.txt
  forge-gui/res/cardsfolder/d/dread_statuary.txt
  forge-gui/res/cardsfolder/d/dromoka_monument.txt
  forge-gui/res/cardsfolder/e/eye_of_malcator.txt
  forge-gui/res/cardsfolder/f/fblthp_the_lost.txt
  forge-gui/res/cardsfolder/f/foriysian_totem.txt
  forge-gui/res/cardsfolder/f/fountain_of_ichor.txt
  forge-gui/res/cardsfolder/f/frostwalk_bastion.txt
  forge-gui/res/cardsfolder/g/glint_hawk_idol.txt
  forge-gui/res/cardsfolder/g/golgari_keyrune.txt
  forge-gui/res/cardsfolder/g/gruul_keyrune.txt
  forge-gui/res/cardsfolder/g/gruul_war_plow.txt
  forge-gui/res/cardsfolder/g/guardian_idol.txt
  forge-gui/res/cardsfolder/h/haunted_plate_mail.txt
  forge-gui/res/cardsfolder/i/inkmoth_nexus.txt
  forge-gui/res/cardsfolder/i/izzet_keyrune.txt
  forge-gui/res/cardsfolder/j/jade_idol.txt
  forge-gui/res/cardsfolder/j/jade_statue.txt
  forge-gui/res/cardsfolder/k/kolaghan_monument.txt
  forge-gui/res/cardsfolder/l/levitating_statue.txt
  forge-gui/res/cardsfolder/m/majestic_metamorphosis.txt
  forge-gui/res/cardsfolder/m/mimic.txt
  forge-gui/res/cardsfolder/m/monument_to_perfection.txt
  forge-gui/res/cardsfolder/o/ojutai_monument.txt
  forge-gui/res/cardsfolder/o/orzhov_keyrune.txt
  forge-gui/res/cardsfolder/p/phyrexian_totem.txt
  forge-gui/res/cardsfolder/r/rakdos_keyrune.txt
  forge-gui/res/cardsfolder/s/selesnya_keyrune.txt
  forge-gui/res/cardsfolder/s/silumgar_monument.txt
  forge-gui/res/cardsfolder/s/simic_keyrune.txt
  forge-gui/res/cardsfolder/s/slumbering_tora.txt
  forge-gui/res/cardsfolder/s/stalking_stones.txt
  forge-gui/res/cardsfolder/s/stuffed_bear.txt
  forge-gui/res/cardsfolder/t/thunder_totem.txt
  forge-gui/res/cardsfolder/w/weatherseed_totem.txt
  forge-gui/res/cardsfolder/w/workshop_elders.txt
  forge-gui/res/cardsfolder/x/xanthic_statue.txt
Labels: Game Mechanics, Card Patch

#3513 Edition update: WHO
  forge-gui/res/editions/Doctor Who Commander.txt
Labels: Upcoming Set

#3514 Edition update: CMM
  forge-gui/res/editions/Commander Masters.txt
Labels: Upcoming Set

#3515 Card: store created CardTraits by Text Change: Volrath’s Shapeshifter
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
Labels: Game Mechanics

#3490 Remove special case of StackInstances sharing the same SpellAbility object
  forge-ai/src/main/java/forge/ai/ability/CopySpellAbilityAi.java
  forge-ai/src/main/java/forge/ai/ability/LifeGainAi.java
  forge-ai/src/main/java/forge/ai/ability/PumpAi.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/AddPhaseEffect.java
  forge-game/src/main/java/forge/game/ability/effects/AddTurnEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DelayedTriggerEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ImmediateTriggerEffect.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityCondition.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityVariables.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/d/dawnglow_infusion.txt
  forge-gui/res/cardsfolder/d/dragon_whelp.txt
  forge-gui/res/cardsfolder/f/farrelite_priest.txt
  forge-gui/res/cardsfolder/i/initiates_of_the_ebon_hand.txt
  forge-gui/res/cardsfolder/m/memory_deluge.txt
  forge-gui/res/cardsfolder/n/nalathni_dragon.txt
Labels: Game Mechanics, AI, Rules compliance

#3521 LTR Faramir Prince of Ithilien
  forge-gui/res/cardsfolder/upcoming/faramir_prince_of_ithilien.txt
Labels: Upcoming Set

#3527 Landroval support
  forge-game/src/main/java/forge/game/ability/effects/DigUntilEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/trigger/TriggerAttackersDeclared.java
  forge-game/src/main/java/forge/game/trigger/TriggerMilledAll.java
  forge-gui/res/cardsfolder/b/ballroom_brawlers.txt
  forge-gui/res/cardsfolder/e/elspeth_conquers_death.txt
  forge-gui/res/cardsfolder/g/gabriel_angelfire.txt
  forge-gui/res/cardsfolder/t/tizerus_charger.txt
Labels: Game Mechanics, Card Cleanup

#3525 LTC Sail into the West
  forge-gui/res/cardsfolder/upcoming/sail_into_the_west.txt
Labels: Upcoming Set

#3529 LTR Landroval, Horizon Witness and Horn of the Mark
  forge-gui/res/cardsfolder/upcoming/horn_of_the_mark.txt
  forge-gui/res/cardsfolder/upcoming/landroval_horizon_witness.txt
Labels: Upcoming Set

#3531 [[Adventure]] path fixes for 3 maps
  forge-gui/res/adventure/common/maps/map/hostiletown/elftown.tmx
  forge-gui/res/adventure/common/maps/map/hostiletown/yule_town.tmx
  forge-gui/res/adventure/common/maps/map/hostiletown/zombietown.tmx
Labels: Adventure

#3532 Fix Carth the Lion not affecting X loyalty abilities
  forge-game/src/main/java/forge/game/ability/effects/SacrificeEffect.java
  forge-game/src/main/java/forge/game/cost/Cost.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-gui/res/cardsfolder/k/knight_rampager.txt
Labels: Game Mechanics, Card Patch

#3537 Update vodalian_mindsinger.txt
  forge-gui/res/cardsfolder/v/vodalian_mindsinger.txt
Labels: Card Patch

#3523 CMM Guff Rewrites History
  forge-gui/res/cardsfolder/upcoming/guff_rewrites_history.txt
Labels: Upcoming Set

#3040 MAT: tyvar_the_bellicose.txt + support
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/player/PlayerController.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPanharmonicon.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-game/src/main/java/forge/game/trigger/TriggerAbilityResolves.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-game/src/main/java/forge/game/trigger/TriggerTapsForMana.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/PlayerControllerForTests.java
  forge-gui/res/cardsfolder/upcoming/tyvar_the_bellicose.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Upcoming Set, Game Mechanics, keep

#3539 Add LTR/LTC achievements by Marek + add two LTR puzzles.
  forge-gui/res/lists/altwin-achievements.txt
  forge-gui/res/lists/planeswalker-achievements.txt
  forge-gui/res/puzzle/PS_LTR1.pzl
  forge-gui/res/puzzle/PS_LTR2.pzl
Labels: enhancement, Puzzle Mode

#3561 DigUntil is sequential
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-game/src/main/java/forge/game/ability/effects/DigUntilEffect.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/a/auspicious_ancestor.txt
  forge-gui/res/cardsfolder/a/auspicious_starrix.txt
  forge-gui/res/cardsfolder/c/codie_vociferous_codex.txt
  forge-gui/res/cardsfolder/d/dance_pathetic_marionette.txt
  forge-gui/res/cardsfolder/d/demonlord_belzenlok.txt
  forge-gui/res/cardsfolder/e/empty_the_laboratory.txt
  forge-gui/res/cardsfolder/f/foster.txt
  forge-gui/res/cardsfolder/g/goblin_machinist.txt
  forge-gui/res/cardsfolder/i/invasion_of_alara_awaken_the_maelstrom.txt
  forge-gui/res/cardsfolder/n/neera_wild_mage.txt
  forge-gui/res/cardsfolder/u/underdark_beholder.txt
  forge-gui/res/cardsfolder/v/venture_forth.txt
  forge-gui/src/main/java/forge/gui/card/CardScriptParser.java
Labels: Game Mechanics, Card Cleanup, Card Patch, Rules compliance

#3550 TriggerVote improve with new cards
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/effects/VoteEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerVote.java
  forge-gui/res/cardsfolder/c/capital_punishment.txt
  forge-gui/res/cardsfolder/g/grudge_keeper.txt
  forge-gui/res/cardsfolder/p/phelddagrif.txt
  forge-gui/res/cardsfolder/upcoming/erestor_of_the_council.txt
  forge-gui/res/cardsfolder/upcoming/model_of_unity.txt
  forge-gui/res/cardsfolder/w/winding_way.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Upcoming Set, Game Mechanics

#3563 Fix for white castles not loading
  forge-gui/res/adventure/common/maps/map/fort/fort_white_1.tmx
  forge-gui/res/adventure/common/maps/map/fort/fort_white_2.tmx
  forge-gui/res/adventure/common/maps/map/fort/fort_white_3.tmx
  forge-gui/res/adventure/common/maps/map/fort/fort_white_4.tmx
Labels: Adventure

#3564 Edition updates: LTR, WHO, new: WOE, WOT
  forge-gui/res/editions/Doctor Who Commander.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth.txt
  forge-gui/res/editions/Wilds of Eldraine Enchanting Tales.txt
  forge-gui/res/editions/Wilds of Eldraine.txt
Labels: Upcoming Set

#3534 LTR Gollum, Scheming Guide & Sauron, the Necromancer [Squash merge]
  forge-gui/res/cardsfolder/upcoming/gollum_scheming_guide.txt
  forge-gui/res/cardsfolder/upcoming/sauron_the_necromancer.txt
Labels: Upcoming Set

#3565 Fix xPaid reset
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffectBase.java
  forge-game/src/main/java/forge/game/ability/effects/ControlSpellEffect.java
  forge-game/src/main/java/forge/game/ability/effects/MustBlockEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/c/chaos_wand.txt
  forge-gui/res/cardsfolder/c/codie_vociferous_codex.txt
  forge-gui/res/cardsfolder/e/erratic_explosion.txt
  forge-gui/res/cardsfolder/e/erratic_mutation.txt
  forge-gui/res/cardsfolder/k/kaboom.txt
  forge-gui/res/cardsfolder/n/nascent_metamorph.txt
  forge-gui/res/cardsfolder/n/nicol_bolas_god_pharaoh.txt
  forge-gui/res/cardsfolder/p/plargg_dean_of_chaos_augusta_dean_of_order.txt
  forge-gui/res/cardsfolder/s/spellshift.txt
  forge-gui/res/cardsfolder/s/stolen_goods.txt
  forge-gui/res/cardsfolder/s/synthesis_pod.txt
  forge-gui/res/cardsfolder/t/tibalts_trickery.txt
  forge-gui/res/cardsfolder/t/treasure_keeper.txt
  forge-gui/res/cardsfolder/upcoming/grima_sarumans_footman.txt
Labels: bug, Card Cleanup

#3566 add Bookmark to GameHUD
  forge-gui-mobile/src/forge/adventure/data/ItemData.java
  forge-gui-mobile/src/forge/adventure/player/AdventurePlayer.java
  forge-gui-mobile/src/forge/adventure/pointofintrest/PointOfInterestChanges.java
  forge-gui-mobile/src/forge/adventure/scene/GameScene.java
  forge-gui-mobile/src/forge/adventure/scene/InventoryScene.java
  forge-gui-mobile/src/forge/adventure/scene/MapViewScene.java
  forge-gui-mobile/src/forge/adventure/scene/RewardScene.java
  forge-gui-mobile/src/forge/adventure/stage/GameHUD.java
  forge-gui-mobile/src/forge/adventure/stage/MapSprite.java
  forge-gui-mobile/src/forge/adventure/stage/WorldStage.java
  forge-gui-mobile/src/forge/adventure/util/Config.java
  forge-gui-mobile/src/forge/adventure/util/Controls.java
  forge-gui-mobile/src/forge/adventure/util/KeyBinding.java
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
  forge-gui/res/adventure/common/sprites/items.atlas
  forge-gui/res/adventure/common/sprites/items.png
  forge-gui/res/adventure/common/ui/hud.json
  forge-gui/res/adventure/common/ui/hud_landscape.json
  forge-gui/res/adventure/common/ui/hud_portrait.json
Labels: Adventure

#3562 LTC 2 cards
  forge-gui/res/cardsfolder/upcoming/galadriel_elven_queen.txt
  forge-gui/res/cardsfolder/upcoming/travel_through_caradhras.txt
Labels: Upcoming Set

#3567 cache created sprites
  forge-gui-mobile/src/forge/adventure/scene/ArenaScene.java
  forge-gui-mobile/src/forge/adventure/scene/InnScene.java
  forge-gui-mobile/src/forge/adventure/scene/ShardTraderScene.java
  forge-gui-mobile/src/forge/adventure/scene/SpellSmithScene.java
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
  forge-gui-mobile/src/forge/adventure/util/Config.java
  forge-gui-mobile/src/forge/adventure/util/MapDialog.java
  forge-gui-mobile/src/forge/adventure/world/BiomeSprites.java
  forge-gui-mobile/src/forge/screens/TransitionScreen.java
  forge-gui/res/adventure/common/skin/ui_skin.json
  forge-gui/res/adventure/common/ui/arena.atlas
Labels: Adventure

#3570 Fix NPE
  forge-game/src/main/java/forge/game/ability/effects/CounterEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigUntilEffect.java
  forge-gui/res/cardsfolder/c/chaotic_transformation.txt
  forge-gui/res/cardsfolder/e/ertai_resurrected.txt
  forge-gui/res/cardsfolder/g/glorious_gale.txt
  forge-gui/res/cardsfolder/k/kheru_spellsnatcher.txt
  forge-gui/res/cardsfolder/l/lobotomy.txt
Labels: Card Patch
