Repository Card-Forge/forge, pull requests merged in 2023-01, with the labels that each got.

#2192 Fix NumLoyaltyAct counting limit and additional wrong together
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
Labels: Game Mechanics, Rules compliance

#2198 Few fixes
  forge-ai/src/main/java/forge/ai/ability/EffectAi.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/BalanceEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/c/conspiracy_theorist.txt
  forge-gui/res/cardsfolder/g/gorilla_tactics.txt
  forge-gui/res/cardsfolder/l/lorcan_warlock_collector.txt
  forge-gui/res/cardsfolder/m/myrkuls_edict.txt
  forge-gui/res/cardsfolder/o/omen_machine.txt
  forge-gui/res/cardsfolder/p/pure_intentions.txt
  forge-gui/res/cardsfolder/s/sand_golem.txt
  forge-gui/res/cardsfolder/s/solitude.txt
  forge-gui/res/cardsfolder/w/wicked_guardian.txt
Labels: Card Patch

#2199 ReplacementLayer.CantHappen
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/AnimateAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/replacement/ReplacementLayer.java
  forge-gui/res/cardsfolder/g/grafdiggers_cage.txt
  forge-gui/res/cardsfolder/g/greasefang_okiba_boss.txt
  forge-gui/res/cardsfolder/k/kunoros_hound_of_athreos.txt
  forge-gui/res/cardsfolder/o/olivia_crimson_bride.txt
  forge-gui/res/cardsfolder/s/swords_to_plowshares.txt
  forge-gui/res/cardsfolder/w/weathered_runestone.txt
  forge-gui/res/cardsfolder/w/worms_of_the_earth.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Game Mechanics

#2202 Fix DiscardedThisTurn
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-ai/src/main/java/forge/ai/ability/ManaEffectAi.java
  forge-ai/src/main/java/forge/ai/ability/ManifestAi.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Rules compliance

#2206 Formats update: Add DMR
  forge-gui/res/formats/Archived/Legacy/2023-01-13.txt
  forge-gui/res/formats/Archived/Vintage/2023-01-13.txt
  forge-gui/res/formats/Sanctioned/Legacy.txt
  forge-gui/res/formats/Sanctioned/Vintage.txt
Labels: Format Changes

#2207 Edition update: PH21
  forge-gui/res/editions/2021 Heroes of the Realm.txt
Labels: Upcoming Set

#2212 Rework UntilHostLeavesPlay timing
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-game/src/main/java/forge/game/zone/PlayerZoneBattlefield.java
  forge-gui/res/cardsfolder/a/animate_dead.txt
  forge-gui/res/cardsfolder/d/dance_of_the_dead.txt
  forge-gui/res/cardsfolder/n/necromancy.txt
Labels: Game Mechanics, Card Patch

#2211 PH21 Arteeoh, Dread Scaveneger
  forge-gui/res/cardsfolder/upcoming/arteeoh_dread_scavenger.txt
Labels: Upcoming Set

#2214 ONE 5 cards
  forge-gui/res/cardsfolder/upcoming/argentum_masticore.txt
  forge-gui/res/cardsfolder/upcoming/kethek_crucible_goliath.txt
  forge-gui/res/cardsfolder/upcoming/migloz_maze_crusher.txt
  forge-gui/res/cardsfolder/upcoming/mindsplice_apparatus.txt
  forge-gui/res/cardsfolder/upcoming/zenith_chronicler.txt
Labels: Upcoming Set

#2213 ONE: Toxic Keyword
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-game/src/main/java/forge/game/ability/effects/CountersProliferateEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/trigger/TriggerProliferate.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-gui/res/cardsfolder/b/bitterblossom.txt
  forge-gui/res/cardsfolder/j/jiang_yanggu.txt
  forge-gui/res/cardsfolder/upcoming/blightbelly_rat.txt
  forge-gui/res/cardsfolder/upcoming/ezuri_stalker_of_spheres.txt
  forge-gui/res/cardsfolder/upcoming/mirrex.txt
  forge-gui/res/cardsfolder/upcoming/myr_convert.txt
  forge-gui/res/cardsfolder/upcoming/necrogen_rotpriest.txt
  forge-gui/res/cardsfolder/upcoming/skrelvs_hive.txt
  forge-gui/res/cardsfolder/upcoming/venser_corpse_puppet.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/tokenscripts/b_1_1_bird_flying_noblock.txt
  forge-gui/res/tokenscripts/c_0_1_a_goblin_construct_noblock_ping.txt
  forge-gui/res/tokenscripts/c_1_1_a_phyrexian_mite_toxic_noblock.txt
  forge-gui/res/tokenscripts/c_4_4_a_robot_noblock.txt
  forge-gui/res/tokenscripts/r_1_1_goblin_noblock.txt
  forge-gui/res/tokenscripts/r_1_1_pirate_noblock_all_attack.txt
  forge-gui/res/tokenscripts/r_1_1_satyr_noblock.txt
  forge-gui/res/tokenscripts/the_hollow_sentinel.txt
Labels: Upcoming Set, Game Mechanics

#2217 Performance: improve deduping
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-ai/src/main/java/forge/ai/CreatureEvaluator.java
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-ai/src/main/java/forge/ai/simulation/MultiTargetSelector.java
  forge-ai/src/main/java/forge/ai/simulation/SpellAbilityPicker.java
  forge-game/src/main/java/forge/game/ability/effects/MutateEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/c/curse_of_echoes.txt
  forge-gui/res/cardsfolder/h/hive_mind.txt
  forge-gui/res/cardsfolder/j/jodah_the_unifier.txt
  forge-gui/res/cardsfolder/m/moritte_of_the_frost.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectEntitiesFromList.java
Labels: AI, Card Patch

#2179 ONE: Elesh Norn, Mother of Machines and support
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-game/src/main/java/forge/game/GlobalRuleChange.java
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityDisableTriggers.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPanharmonicon.java
  forge-game/src/main/java/forge/game/trigger/TriggerAbilityTriggered.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-gui-desktop/src/test/java/forge/ai/simulation/GameSimulationTest.java
  forge-gui/res/cardsfolder/h/hushbringer.txt
  forge-gui/res/cardsfolder/h/hushwing_gryff.txt
  forge-gui/res/cardsfolder/t/tocatli_honor_guard.txt
  forge-gui/res/cardsfolder/t/torpor_orb.txt
  forge-gui/res/cardsfolder/upcoming/elesh_norn_mother_of_machines.txt
Labels: Upcoming Set, Game Mechanics, AI

#2224 ONE 7 cards
  forge-gui/res/cardsfolder/upcoming/conduit_of_worlds.txt
  forge-gui/res/cardsfolder/upcoming/evolved_spinoderm.txt
  forge-gui/res/cardsfolder/upcoming/glissa_sunslayer.txt
  forge-gui/res/cardsfolder/upcoming/graaz_unstoppable_juggernaut.txt
  forge-gui/res/cardsfolder/upcoming/karumonix_the_rat_king.txt
  forge-gui/res/cardsfolder/upcoming/kemba_kha_enduring.txt
  forge-gui/res/cardsfolder/upcoming/malcator_purity_overseer.txt
Labels: Upcoming Set

#2223 ONE 5 cards
  forge-gui/res/cardsfolder/upcoming/archfiend_of_the_dross.txt
  forge-gui/res/cardsfolder/upcoming/black_suns_twilight.txt
  forge-gui/res/cardsfolder/upcoming/bloated_contaminator.txt
  forge-gui/res/cardsfolder/upcoming/encroaching_mycosynth.txt
  forge-gui/res/cardsfolder/upcoming/geth_thane_of_contracts.txt
Labels: Upcoming Set

#2228 Fix Stack Overflow
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/cost/CostExert.java
  forge-game/src/main/java/forge/game/cost/CostPutCardToLib.java
  forge-gui/res/cardsfolder/f/flayer_of_the_hatebound.txt
  forge-gui/res/cardsfolder/p/phyrexian_dragon_engine.txt
Labels: AI, Card Patch

#2232 remove use of AddHiddenKeyword
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
Labels: Game Mechanics

#2236 ONE 5 cards
  forge-gui/res/cardsfolder/upcoming/mirran_safehouse.txt
  forge-gui/res/cardsfolder/upcoming/ria_ivor_bane_of_bladehold.txt
  forge-gui/res/cardsfolder/upcoming/skrelv_defector_mite.txt
  forge-gui/res/cardsfolder/upcoming/the_filigree_sylex.txt
  forge-gui/res/cardsfolder/upcoming/tyvar_jubilant_brawler.txt
Labels: Upcoming Set

#2231 ONE 8 cards
  forge-gui/res/cardsfolder/upcoming/mercurial_spelldancer.txt
  forge-gui/res/cardsfolder/upcoming/norns_wellspring.txt
  forge-gui/res/cardsfolder/upcoming/ovika_enigma_goliath.txt
  forge-gui/res/cardsfolder/upcoming/unctus_grand_metatect.txt
  forge-gui/res/cardsfolder/upcoming/urabrasks_forge.txt
  forge-gui/res/cardsfolder/upcoming/venerated_rotpriest.txt
  forge-gui/res/cardsfolder/upcoming/vindictive_flamestoker.txt
  forge-gui/res/cardsfolder/upcoming/white_suns_twilight.txt
  forge-gui/res/tokenscripts/r_1_1_phyrexian_goblin.txt
  forge-gui/res/tokenscripts/r_x_1_phyrexian_horror_trample_haste.txt
Labels: Upcoming Set

#2233 ONE For Mirrodin
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-gui/res/cardsfolder/upcoming/blade_of_shared_souls.txt
  forge-gui/res/cardsfolder/upcoming/dragonwing_glider.txt
  forge-gui/res/tokenscripts/r_2_2_rebel.txt
Labels: Upcoming Set, Game Mechanics

#2238 Simulation: Fix including unjustified decisions
  forge-ai/src/main/java/forge/ai/simulation/SimulationController.java
  forge-game/src/main/java/forge/game/cost/Cost.java
Labels: AI

#2240 Edition update: ONE
  forge-gui/res/editions/Phyrexia All Will Be One.txt
Labels: Upcoming Set

#2243 ONE 5 cards
  forge-gui/res/cardsfolder/upcoming/nahiri_the_unforgiving.txt
  forge-gui/res/cardsfolder/upcoming/red_suns_twilight.txt
  forge-gui/res/cardsfolder/upcoming/soulless_jailer.txt
  forge-gui/res/cardsfolder/upcoming/tablet_of_compleation.txt
  forge-gui/res/cardsfolder/upcoming/thrun_breaker_of_silence.txt
  forge-gui/res/tokenscripts/g_3_3_phyrexian_beast_toxic.txt
Labels: Upcoming Set

#2248 TriggerChangesZone: improve ETB check
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/trigger/TriggerChangesZone.java
Labels: Game Mechanics, Rules compliance

#2245 Wall of Shadows + Thought Lash fix
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/cost/Cost.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/cost/CostPayment.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantTarget.java
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Rules compliance

#2257 Edition update: ONE
  forge-gui/res/editions/Phyrexia All Will Be One.txt
Labels: Upcoming Set

#2259 LKI fix
  forge-game/src/main/java/forge/game/card/CardUtil.java
Labels: Game Mechanics

#2253 Cost tweaks
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-game/src/main/java/forge/game/ability/effects/SacrificeEffect.java
  forge-game/src/main/java/forge/game/cost/Cost.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantGainLosePayLife.java
  forge-gui/res/cardsfolder/l/land_grant.txt
  forge-gui/res/cardsfolder/t/the_lady_of_otaria.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Rules compliance

#2264 Two fixes
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-gui/res/cardsfolder/h/haakon_stromgald_scourge.txt
Labels: Card Patch

#2268 Edition updates: ONE, ONC, SCH
  forge-gui/res/editions/Phyrexia All Will Be One Commander.txt
  forge-gui/res/editions/Phyrexia All Will Be One.txt
  forge-gui/res/editions/Store Championships.txt
Labels: Upcoming Set

#2266 [UNC] Urtet Remains of Memnarch
  forge-gui/res/cardsfolder/upcoming/urtet_remains_of_memnarch.txt
Labels: Upcoming Set

#2279 Add puzzles PS_BRO1 - PS_BRO3
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-gui/res/puzzle/PS_BRO1.pzl
  forge-gui/res/puzzle/PS_BRO2.pzl
  forge-gui/res/puzzle/PS_BRO3.pzl
  forge-gui/res/tokenscripts/u_2_2_spirit_vigilance_drawcounter.txt
Labels: Card Patch, Puzzle Mode

#2280 Remove blanks
  forge-gui/res/cardsfolder/upcoming/jace_the_perfected_mind.txt
  forge-gui/res/cardsfolder/upcoming/urtet_remains_of_memnarch.txt
  forge-gui/res/cardsfolder/upcoming/vraska_betrayals_sting.txt
Labels: Card Cleanup

#2285 Edition updates: ONE, ONC, UNF, 40K
  forge-gui/res/editions/Phyrexia All Will Be One Commander.txt
  forge-gui/res/editions/Phyrexia All Will Be One.txt
  forge-gui/res/editions/Unfinity.txt
  forge-gui/res/editions/Warhammer 40,000 Commander.txt
Labels: Upcoming Set

#2263 ONE 10 cards
  forge-gui/res/cardsfolder/upcoming/annex_sentry.txt
  forge-gui/res/cardsfolder/upcoming/bladehold_war_whip.txt
  forge-gui/res/cardsfolder/upcoming/experimental_augury.txt
  forge-gui/res/cardsfolder/upcoming/minor_misstep.txt
  forge-gui/res/cardsfolder/upcoming/mite_overseer.txt
  forge-gui/res/cardsfolder/upcoming/mondrak_glory_dominus.txt
  forge-gui/res/cardsfolder/upcoming/ossification.txt
  forge-gui/res/cardsfolder/upcoming/paladin_of_predation.txt
  forge-gui/res/cardsfolder/upcoming/resistance_reunited.txt
  forge-gui/res/cardsfolder/upcoming/rhuk_hexgold_nabber.txt
Labels: Upcoming Set

#2272 nissa_ascended_animist.txt and token
  forge-core/src/main/java/forge/card/mana/ManaCost.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/upcoming/nissa_ascended_animist.txt
  forge-gui/res/tokenscripts/g_x_x_phyrexian_horror.txt
Labels: Upcoming Set

#2286 Fix wrong edition type for ONC
  forge-gui/res/editions/Phyrexia All Will Be One Commander.txt
Labels: Upcoming Set

#2273 Fix timestamp reset messing up LKI
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerChangesZone.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-gui/res/cardsfolder/a/ardenn_intrepid_archaeologist.txt
  forge-gui/res/cardsfolder/a/armed_and_armored.txt
  forge-gui/res/cardsfolder/h/haakon_stromgald_scourge_avatar.txt
  forge-gui/res/cardsfolder/h/heavenly_blademaster.txt
Labels: bug, Card Cleanup

#2275 Fix Verrak
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-gui/res/cardsfolder/v/verrak_warped_sengir.txt
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Card Patch

#2287 Cleanup some SVar
  forge-gui/res/cardsfolder/b/bouncers_beatdown.txt
  forge-gui/res/cardsfolder/b/bury_in_books.txt
  forge-gui/res/cardsfolder/h/hunters_mark.txt
  forge-gui/res/cardsfolder/k/knockout_blow.txt
  forge-gui/res/cardsfolder/m/mascot_interception.txt
  forge-gui/res/cardsfolder/m/mystical_dispute.txt
  forge-gui/res/cardsfolder/n/no_one_left_behind.txt
  forge-gui/res/cardsfolder/o/out_of_the_way.txt
  forge-gui/res/cardsfolder/p/price_of_fame.txt
  forge-gui/res/cardsfolder/s/savage_stomp.txt
  forge-gui/res/cardsfolder/t/titanic_brawl.txt
  forge-gui/res/cardsfolder/t/torch_breath.txt
  forge-gui/res/cardsfolder/w/whack.txt
Labels: Card Cleanup

#2293 Two fixes
  forge-game/src/main/java/forge/game/ability/effects/PumpEffect.java
  forge-gui/res/cardsfolder/j/joraga_treespeaker.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectTargets.java
  forge-gui/src/main/java/forge/player/TargetSelection.java
Labels: Card Patch, Crash fix

#2294 Edition updates: ONE, ONC
  forge-gui/res/editions/Phyrexia All Will Be One Commander.txt
  forge-gui/res/editions/Phyrexia All Will Be One.txt
Labels: Upcoming Set

#2297 Increase SBA check precision
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/CopySpellAbilityEffect.java
Labels: Rules compliance

#2301 Bolt Bend can never target Seeds of Strength
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeTargetsEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CopySpellAbilityEffect.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/a/avoid_fate.txt
  forge-gui/res/cardsfolder/b/bolt_bend.txt
  forge-gui/res/cardsfolder/c/captured_by_the_consulate.txt
  forge-gui/res/cardsfolder/c/chefs_kiss.txt
  forge-gui/res/cardsfolder/c/confound.txt
  forge-gui/res/cardsfolder/d/deflection.txt
  forge-gui/res/cardsfolder/d/diplomatic_escort.txt
  forge-gui/res/cardsfolder/d/divert.txt
  forge-gui/res/cardsfolder/e/emissary_of_grudges.txt
  forge-gui/res/cardsfolder/g/glimmervoid_basin.txt
  forge-gui/res/cardsfolder/h/hindering_light.txt
  forge-gui/res/cardsfolder/h/hydromorph_guardian.txt
  forge-gui/res/cardsfolder/h/hydromorph_gull.txt
  forge-gui/res/cardsfolder/i/impending_disaster.txt
  forge-gui/res/cardsfolder/i/imps_mischief.txt
  forge-gui/res/cardsfolder/i/intervene.txt
  forge-gui/res/cardsfolder/k/keep_safe.txt
  forge-gui/res/cardsfolder/m/misdirection.txt
  forge-gui/res/cardsfolder/m/muck_drubb.txt
  forge-gui/res/cardsfolder/n/not_of_this_world.txt
  forge-gui/res/cardsfolder/r/radiant_performer.txt
  forge-gui/res/cardsfolder/r/radiate.txt
  forge-gui/res/cardsfolder/r/rebound.txt
  forge-gui/res/cardsfolder/r/rebuff_the_wicked.txt
  forge-gui/res/cardsfolder/r/reflecting_mirror.txt
  forge-gui/res/cardsfolder/r/reroute.txt
  forge-gui/res/cardsfolder/r/ricochet_trap.txt
  forge-gui/res/cardsfolder/r/ring_of_immortals.txt
  forge-gui/res/cardsfolder/s/shunt.txt
  forge-gui/res/cardsfolder/s/siren_stormtamer.txt
  forge-gui/res/cardsfolder/s/swerve.txt
  forge-gui/res/cardsfolder/t/teferis_response.txt
  forge-gui/res/cardsfolder/t/turn_aside.txt
  forge-gui/res/cardsfolder/v/vigilant_martyr.txt
  forge-gui/res/cardsfolder/w/willbender.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Card Patch, Rules compliance

#2282 ONC 4 cards
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-gui/res/cardsfolder/upcoming/geths_summons.txt
  forge-gui/res/cardsfolder/upcoming/glissas_retriever.txt
  forge-gui/res/cardsfolder/upcoming/ixhel_scion_of_atraxa.txt
  forge-gui/res/cardsfolder/upcoming/wurmquake.txt
  forge-gui/res/tokenscripts/g_x_x_phyrexian_wurm_trample_toxic.txt
Labels: Upcoming Set

#2304 Edition updates: ONE, ONC
  forge-gui/res/editions/Phyrexia All Will Be One Commander.txt
  forge-gui/res/editions/Phyrexia All Will Be One.txt
Labels: Upcoming Set

#2292 ONC 6 cards
  forge-gui/res/cardsfolder/upcoming/contaminant_grafter.txt
  forge-gui/res/cardsfolder/upcoming/glistening_sphere.txt
  forge-gui/res/cardsfolder/upcoming/norns_choirmaster.txt
  forge-gui/res/cardsfolder/upcoming/norns_decree.txt
  forge-gui/res/cardsfolder/upcoming/phyresis_outbreak.txt
  forge-gui/res/cardsfolder/upcoming/vishgraz_the_doomhive.txt
Labels: Upcoming Set

#2281 five from one and fix a couple of typos
  forge-gui/res/cardsfolder/b/buy_your_silence.txt
  forge-gui/res/cardsfolder/rebalanced/a-buy_your_silence.txt
  forge-gui/res/cardsfolder/upcoming/apostle_of_invasion.txt
  forge-gui/res/cardsfolder/upcoming/hexgold_slash.txt
  forge-gui/res/cardsfolder/upcoming/slaughter_singer.txt
  forge-gui/res/cardsfolder/upcoming/vanish_into_eternity.txt
  forge-gui/res/cardsfolder/upcoming/vulshok_splitter.txt
Labels: Upcoming Set

#2311 Edition updates: ONE, ONC
  forge-gui/res/editions/Phyrexia All Will Be One Commander.txt
  forge-gui/res/editions/Phyrexia All Will Be One.txt
Labels: Upcoming Set

#2313 Rename: Urtet, Remnant of Memnarch
  forge-gui/res/cardsfolder/upcoming/urtet_remnant_of_memnarch.txt
  forge-gui/res/editions/Phyrexia All Will Be One Commander.txt
Labels: Card Cleanup

#2312 ONC 7 set booster cards
  forge-game/src/main/java/forge/game/cost/CostExileFromStack.java
  forge-gui/res/cardsfolder/upcoming/chiss_goria_forge_tyrant.txt
  forge-gui/res/cardsfolder/upcoming/lux_artillery.txt
  forge-gui/res/cardsfolder/upcoming/mirage_mockery.txt
  forge-gui/res/cardsfolder/upcoming/monumental_corruption.txt
  forge-gui/res/cardsfolder/upcoming/skyhunter_strike_force.txt
  forge-gui/res/cardsfolder/upcoming/synthesis_pod.txt
  forge-gui/res/cardsfolder/upcoming/tangleweave_armor.txt
Labels: Upcoming Set

#2318 Added puzzle PS_J221
  forge-gui/res/puzzle/PS_J221.pzl
Labels: Puzzle Mode

#2320 Edition updates: ONE, WMC
  forge-gui/res/editions/Phyrexia All Will Be One.txt
  forge-gui/res/editions/World Magic Cup Qualifiers.txt
Labels: Upcoming Set

#2316 Update goblin_trapfinder.txt
  forge-gui/res/cardsfolder/g/goblin_trapfinder.txt
Labels: Card Patch

#2325 Edition updates: ONE, ONC
  forge-gui/res/editions/Phyrexia All Will Be One Commander.txt
  forge-gui/res/editions/Phyrexia All Will Be One.txt
Labels: Upcoming Set

#2277 ONE 4 mythics
  forge-gui/res/cardsfolder/upcoming/capricious_hellraiser.txt
  forge-gui/res/cardsfolder/upcoming/staff_of_compleation.txt
  forge-gui/res/cardsfolder/upcoming/sword_of_forge_and_frontier.txt
  forge-gui/res/cardsfolder/upcoming/tyrranax_rex.txt
Labels: Upcoming Set

#2315 Better fix for CheckSelfLKIZone
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-gui/res/cardsfolder/d/draugr_necromancer.txt
  forge-gui/res/cardsfolder/g/gisa_glorious_resurrector.txt
  forge-gui/res/cardsfolder/k/kalitas_traitor_of_ghet.txt
  forge-gui/res/cardsfolder/l/liesa_forgotten_archangel.txt
  forge-gui/res/cardsfolder/l/lorcan_warlock_collector.txt
  forge-gui/res/cardsfolder/m/miserys_shadow.txt
  forge-gui/res/cardsfolder/n/nemata_primeval_warden.txt
  forge-gui/res/cardsfolder/r/rayami_first_of_the_fallen.txt
  forge-gui/res/cardsfolder/v/valentin_dean_of_the_vein_lisette_dean_of_the_root.txt
  forge-gui/res/cardsfolder/v/void_maw.txt
Labels: Game Mechanics

#2324 Game: add CountersRemovedThisTurn
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/RestartGameEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
Labels: Upcoming Set, Game Mechanics

#2323 AbilityUtils: Fix inconsistent controller
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
Labels: Game Mechanics

#2326 Fix Agrus Kos free target selection for triggers
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/h/hidetsugus_second_rite.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Game Mechanics

#2329 DMU YDMU 10 enlist cards
  forge-gui/res/cardsfolder/a/argivian_cavalier.txt
  forge-gui/res/cardsfolder/b/balduvian_berserker.txt
  forge-gui/res/cardsfolder/b/benalish_faithbonder.txt
  forge-gui/res/cardsfolder/b/benalish_knight_counselor.txt
  forge-gui/res/cardsfolder/c/coalition_skyknight.txt
  forge-gui/res/cardsfolder/c/coalition_warbrute.txt
  forge-gui/res/cardsfolder/h/hexbane_tortoise.txt
  forge-gui/res/cardsfolder/k/keldon_flamesage.txt
  forge-gui/res/cardsfolder/l/linebreaker_baloth.txt
  forge-gui/res/cardsfolder/y/yavimaya_steelcrusher.txt
Labels: Upcoming Set

#2328 ONE 10 cards
  forge-gui/res/cardsfolder/upcoming/armored_scrapgorger.txt
  forge-gui/res/cardsfolder/upcoming/aspirants_ascent.txt
  forge-gui/res/cardsfolder/upcoming/basilica_shepherd.txt
  forge-gui/res/cardsfolder/upcoming/blazing_crescendo.txt
  forge-gui/res/cardsfolder/upcoming/cephalopod_sentry.txt
  forge-gui/res/cardsfolder/upcoming/charge_of_the_mites.txt
  forge-gui/res/cardsfolder/upcoming/cinderslash_ravager.txt
  forge-gui/res/cardsfolder/upcoming/crawling_chorus.txt
  forge-gui/res/cardsfolder/upcoming/escaped_experiment.txt
  forge-gui/res/cardsfolder/upcoming/exuberant_fuseling.txt
Labels: Upcoming Set

#2300 ONE 14 cards
  forge-gui/res/cardsfolder/upcoming/chittering_skitterling.txt
  forge-gui/res/cardsfolder/upcoming/compleat_devotion.txt
  forge-gui/res/cardsfolder/upcoming/feed_the_infection.txt
  forge-gui/res/cardsfolder/upcoming/furnace_skullbomb.txt
  forge-gui/res/cardsfolder/upcoming/gleeful_demolition.txt
  forge-gui/res/cardsfolder/upcoming/hexgold_halberd.txt
  forge-gui/res/cardsfolder/upcoming/incisor_glider.txt
  forge-gui/res/cardsfolder/upcoming/infested_fleshcutter.txt
  forge-gui/res/cardsfolder/upcoming/jawbone_duelist.txt
  forge-gui/res/cardsfolder/upcoming/maze_skullbomb.txt
  forge-gui/res/cardsfolder/upcoming/mesmerizing_dose.txt
  forge-gui/res/cardsfolder/upcoming/necrogen_communion.txt
  forge-gui/res/cardsfolder/upcoming/nimraiser_paladin.txt
  forge-gui/res/cardsfolder/upcoming/noxious_assault.txt
Labels: Upcoming Set

#2288 ONE Atraxa, Grand Unifier and some cleanup
  forge-gui/res/cardsfolder/l/lulu_forgetful_hollyphant.txt
  forge-gui/res/cardsfolder/p/protean_war_engine.txt
  forge-gui/res/cardsfolder/s/samite_herbalist.txt
  forge-gui/res/cardsfolder/s/sister_hospitaller.txt
  forge-gui/res/cardsfolder/s/soul_net.txt
  forge-gui/res/cardsfolder/upcoming/atraxa_grand_unifier.txt
Labels: Upcoming Set

#2327 Booster Draft: ONE
  forge-gui/res/blockdata/blocks.txt
  forge-gui/res/draft/rankings.txt
  forge-gui/res/editions/Phyrexia All Will Be One.txt
Labels: Upcoming Set

#2345 Add achievements for ONE/ONC (by Marek14)
  forge-gui/res/lists/altwin-achievements.txt
  forge-gui/res/lists/planeswalker-achievements.txt
Labels: Upcoming Set

#2346 Fix Enlist description during cost payment
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/languages/en-US.properties
Labels: GUI

#2344 Support: All Will Be One + Goliath Hatchery
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/trigger/TriggerCounterAddedOnce.java
  forge-gui/res/cardsfolder/a/ajanis_aid.txt
  forge-gui/res/cardsfolder/b/bold_plagiarist.txt
  forge-gui/res/cardsfolder/c/codie_vociferous_codex.txt
  forge-gui/res/cardsfolder/d/dauthi_voidwalker.txt
  forge-gui/res/cardsfolder/g/generous_patron.txt
  forge-gui/res/cardsfolder/k/kros_defense_contractor.txt
  forge-gui/res/cardsfolder/m/magma_pummeler.txt
  forge-gui/res/cardsfolder/m/mana_cache.txt
  forge-gui/res/cardsfolder/t/takeno_samurai_general.txt
Labels: Upcoming Set, Card Patch

#2349 A-Patrician Geist fix
  forge-gui/res/cardsfolder/rebalanced/a-patrician_geist.txt
Labels: Card Patch

#2343 ONE 4 mythics
  forge-gui/res/cardsfolder/upcoming/all_will_be_one.txt
  forge-gui/res/cardsfolder/upcoming/ichormoon_gauntlet.txt
  forge-gui/res/cardsfolder/upcoming/solphim_mayhem_dominus.txt
  forge-gui/res/cardsfolder/upcoming/zopandrel_hunger_dominus.txt
Labels: Upcoming Set

#2355 Edition updates: Tokens for ONE, ONC
  forge-gui/res/editions/Phyrexia All Will Be One Commander.txt
  forge-gui/res/editions/Phyrexia All Will Be One.txt
  forge-gui/res/formats/Archived/Alchemy/2023-02-07.txt
  forge-gui/res/formats/Archived/Arena Standard/2023-02-07.txt
  forge-gui/res/formats/Archived/Explorer/2023-02-07.txt
  forge-gui/res/formats/Archived/Historic/2023-02-07.txt
Labels: Upcoming Set

#2353 Improve ExiledWith accuracy
  forge-ai/src/main/java/forge/ai/ability/PlayAi.java
  forge-ai/src/main/java/forge/ai/simulation/GameCopier.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-gui/res/cardsfolder/c/cemetery_tampering.txt
  forge-gui/res/cardsfolder/f/fight_rigging.txt
  forge-gui/res/cardsfolder/h/hedonists_trove.txt
  forge-gui/res/cardsfolder/h/howltooth_hollow.txt
  forge-gui/res/cardsfolder/k/kaylas_music_box.txt
  forge-gui/res/cardsfolder/m/mosswort_bridge.txt
  forge-gui/res/cardsfolder/r/rabble_rousing.txt
  forge-gui/res/cardsfolder/s/shelldock_isle.txt
  forge-gui/res/cardsfolder/s/smugglers_buggy.txt
  forge-gui/res/cardsfolder/s/spell_queller.txt
  forge-gui/res/cardsfolder/s/spinerock_knoll.txt
  forge-gui/res/cardsfolder/w/watcher_for_tomorrow.txt
  forge-gui/res/cardsfolder/w/widespread_thieving.txt
  forge-gui/res/cardsfolder/w/windbrisk_heights.txt
  forge-gui/res/cardsfolder/w/wiretapping.txt
Labels: Card Cleanup, Card Patch
