Repository Card-Forge/forge, pull requests merged in 2023-12, with the labels that each got.

#4221 Add puzzle PS_LCI01 (needs GameState update/fix)
  forge-gui/res/puzzle/PS_LCI01.pzl
Labels: WAIT, Puzzle Mode

#4255 Fix mutated creature staying facedown when bounced
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/MutateEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
Labels: bug

#4258 various tweaks
  forge-game/src/main/java/forge/game/ability/effects/DiscardEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SacrificeEffect.java
  forge-gui/res/cardsfolder/l/liliana_of_the_veil.txt
  forge-gui/res/cardsfolder/p/pilfer.txt
  forge-gui/res/cardsfolder/s/sheoldreds_edict.txt
  forge-gui/res/cardsfolder/t/takenuma_abandoned_mire.txt
  forge-gui/res/cardsfolder/upcoming/armored_kincaller.txt
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Card Cleanup

#4191 Booster Draft: LCI with LTR & WOE updates
  forge-gui/res/blockdata/blocks.txt
  forge-gui/res/draft/rankings.txt
  forge-gui/res/editions/March of the Machine.txt
  forge-gui/res/editions/The Lost Caverns of Ixalan.txt
Labels: Upcoming Set

#4147 WHO, LCI, LCC achievements by Marek14
  forge-gui/res/lists/altwin-achievements.txt
  forge-gui/res/lists/planeswalker-achievements.txt
Labels: Upcoming Set

#4272 LCI 3 cards
  forge-gui/res/cardsfolder/upcoming/malamet_scythe.txt
  forge-gui/res/cardsfolder/upcoming/ruin_lurker_bat.txt
  forge-gui/res/cardsfolder/upcoming/rumbling_rockslide.txt
  forge-gui/res/cardsfolder/upcoming/vault_101_birthday_party.txt
  forge-gui/res/cardsfolder/upcoming/vitos_inquisitor.txt
  forge-gui/res/editions/Doctor Who Commander.txt
Labels: Upcoming Set

#4296 Fix Soulhunter Rakshasa and remove cat subtype from Rakshasa cards
  forge-gui/res/cardsfolder/m/mahadi_emporium_master.txt
  forge-gui/res/cardsfolder/r/rakshasa_deathdealer.txt
  forge-gui/res/cardsfolder/r/rakshasa_debaser.txt
  forge-gui/res/cardsfolder/r/rakshasa_gravecaller.txt
  forge-gui/res/cardsfolder/r/rakshasa_vizier.txt
  forge-gui/res/cardsfolder/s/soulhunter_rakshasa.txt
Labels: Card Patch, Rules/Oracle Changes

#4307 Edition updates: MKM, MKC, CLU, SLD, SPG
  forge-gui/res/editions/Murders at Karlov Manor Commander.txt
  forge-gui/res/editions/Murders at Karlov Manor.txt
  forge-gui/res/editions/Ravnica Clue Edition.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Special Guests.txt
Labels: Upcoming Set

#4288 YLCI: heralds_reveille + support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ExploreEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SeekEffect.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/util/MessageUtil.java
  forge-gui/res/cardsfolder/upcoming/heralds_reveille.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Upcoming Set, Game Mechanics

#4274 LCI-A 10 cards
  forge-gui/res/cardsfolder/upcoming/chitinous_crawler.txt
  forge-gui/res/cardsfolder/upcoming/colossal_chorus.txt
  forge-gui/res/cardsfolder/upcoming/dusks_landing.txt
  forge-gui/res/cardsfolder/upcoming/hymn_to_the_ages.txt
  forge-gui/res/cardsfolder/upcoming/kamachal_ships_mascot.txt
  forge-gui/res/cardsfolder/upcoming/legions_chant.txt
  forge-gui/res/cardsfolder/upcoming/mycelic_ballad.txt
  forge-gui/res/cardsfolder/upcoming/pirates_landing.txt
  forge-gui/res/cardsfolder/upcoming/propagator_primordium.txt
  forge-gui/res/cardsfolder/upcoming/ribald_shanty.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set

#4328 Edition updates: SLD
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#4322 Fix NPE
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PlaneswalkEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-gui/res/cardsfolder/c/chancellor_of_the_dross.txt
  forge-gui/res/cardsfolder/c/chancellor_of_the_forge.txt
  forge-gui/res/cardsfolder/c/chancellor_of_the_spires.txt
  forge-gui/res/cardsfolder/c/chancellor_of_the_tangle.txt
  forge-gui/res/cardsfolder/k/kutzils_flanker.txt
  forge-gui/res/cardsfolder/p/providence.txt
  forge-gui/res/cardsfolder/q/quintorius_kand.txt
  forge-gui/res/cardsfolder/s/sphinx_of_foresight.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Card Patch

#4334 CLUE 3 cards
  forge-gui/res/cardsfolder/upcoming/commander_mustard.txt
  forge-gui/res/cardsfolder/upcoming/dining_room.txt
  forge-gui/res/cardsfolder/upcoming/senator_peacock.txt
Labels: Upcoming Set

#4340 Fix Porcine Portent and update SLD, SCH editions
  forge-gui/res/cardsfolder/p/porcine_portent_lend_a_ham.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Store Championships.txt
Labels: Upcoming Set, Card Patch

#4341 Add puzzle PS_LCI2
  forge-gui/res/puzzle/PS_LCI1.pzl
  forge-gui/res/puzzle/PS_LCI2.pzl
Labels: Puzzle Mode

#4329 MKM 10 cards
  forge-gui/res/cardsfolder/g/geistwave.txt
  forge-gui/res/cardsfolder/upcoming/alquist_proft_master_sleuth.txt
  forge-gui/res/cardsfolder/upcoming/aurelia_the_law_above.txt
  forge-gui/res/cardsfolder/upcoming/benthic_criminologists.txt
  forge-gui/res/cardsfolder/upcoming/burden_of_proof.txt
  forge-gui/res/cardsfolder/upcoming/curious_cadaver.txt
  forge-gui/res/cardsfolder/upcoming/deduce.txt
  forge-gui/res/cardsfolder/upcoming/demand_answers.txt
  forge-gui/res/cardsfolder/upcoming/fanatical_strenght.txt
  forge-gui/res/cardsfolder/upcoming/gleaming_geardrake.txt
  forge-gui/res/cardsfolder/upcoming/hotshot_investigators.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set

#4345 Edition updates: SLD
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#4353 Edition updates: SLD
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#4297 YLCI: Merfolk Tunnel-Guide and support (X-time boons)
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-gui/res/cardsfolder/a/arcane_archery.txt
  forge-gui/res/cardsfolder/b/benalish_knight_counselor.txt
  forge-gui/res/cardsfolder/c/champions_of_tyr.txt
  forge-gui/res/cardsfolder/c/chancellor_of_the_annex.txt
  forge-gui/res/cardsfolder/d/dragonborn_immolator.txt
  forge-gui/res/cardsfolder/d/dunbarrow_revivalist.txt
  forge-gui/res/cardsfolder/f/flaming_fist_duskguard.txt
  forge-gui/res/cardsfolder/j/jaheira_harper_emissary.txt
  forge-gui/res/cardsfolder/k/klement_novice_acolyte.txt
  forge-gui/res/cardsfolder/l/loch_larent.txt
  forge-gui/res/cardsfolder/l/lulu_forgetful_hollyphant.txt
  forge-gui/res/cardsfolder/m/march_toward_perfection.txt
  forge-gui/res/cardsfolder/m/mephits_enthusiasm.txt
  forge-gui/res/cardsfolder/m/miners_guidewing.txt
  forge-gui/res/cardsfolder/p/patchplate_resolute.txt
  forge-gui/res/cardsfolder/r/rothga_bonded_engulfer.txt
  forge-gui/res/cardsfolder/t/thunderhawk_gunship.txt
  forge-gui/res/cardsfolder/u/underbridge_warlock.txt
  forge-gui/res/cardsfolder/upcoming/merfolk_tunnel_guide.txt
  forge-gui/res/cardsfolder/v/valiant_farewell.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#4356 Fix A-Patrician Geist oracle
  forge-gui/res/cardsfolder/rebalanced/a-patrician_geist.txt
Labels: Card Cleanup

#4333 MKM 8 cards
  forge-gui/res/cardsfolder/upcoming/lead_pipe.txt
  forge-gui/res/cardsfolder/upcoming/meddling_youths.txt
  forge-gui/res/cardsfolder/upcoming/not_on_my_watch.txt
  forge-gui/res/cardsfolder/upcoming/novice_inspector.txt
  forge-gui/res/cardsfolder/upcoming/out_cold.txt
  forge-gui/res/cardsfolder/upcoming/rakdos_patron_of_chaos.txt
  forge-gui/res/cardsfolder/upcoming/topiary_panther.txt
  forge-gui/res/cardsfolder/upcoming/wojek_investigator.txt
Labels: Upcoming Set

#4362 Edition updates: RVR, SLD
  forge-gui/res/editions/Ravnica Remastered.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#4364 Enable LTR Jumpstart vol.2 cards in Arena formats
  forge-gui/res/formats/Archived/Alchemy/2023-06-20.txt
  forge-gui/res/formats/Archived/Alchemy/2023-07-18.txt
  forge-gui/res/formats/Archived/Alchemy/2023-09-05.txt
  forge-gui/res/formats/Archived/Alchemy/2023-10-10.txt
  forge-gui/res/formats/Archived/Alchemy/2023-11-14.txt
  forge-gui/res/formats/Archived/Alchemy/2023-12-05.txt
  forge-gui/res/formats/Archived/Alchemy/2023-12-12.txt
  forge-gui/res/formats/Archived/Historic/2023-06-20.txt
  forge-gui/res/formats/Archived/Historic/2023-07-18.txt
  forge-gui/res/formats/Archived/Historic/2023-09-05.txt
  forge-gui/res/formats/Archived/Historic/2023-10-10.txt
  forge-gui/res/formats/Archived/Historic/2023-11-14.txt
  forge-gui/res/formats/Archived/Historic/2023-12-05.txt
  forge-gui/res/formats/Archived/Historic/2023-12-12.txt
  forge-gui/res/formats/Archived/Timeless/2023-12-12.txt
  forge-gui/res/formats/Sanctioned/Historic.txt
Labels: Format Changes

#4370 Edition updates: RVR
  forge-gui/res/editions/Ravnica Remastered.txt
Labels: Upcoming Set

#4379 Edition updates: PMEI, SLD
  forge-gui/res/editions/Media Inserts.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#4371 Improved AI for Sixth Sense effects
  forge-gui/res/cardsfolder/c/combat_research.txt
  forge-gui/res/cardsfolder/m/mischievous_catgeist_catlike_curiosity.txt
Labels: AI

#4355 Fix facedown permanent with adventure
  forge-ai/src/main/java/forge/ai/ability/AttachAi.java
  forge-ai/src/main/java/forge/ai/ability/FogAi.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameLogFormatter.java
  forge-game/src/main/java/forge/game/PlanarDice.java
  forge-game/src/main/java/forge/game/TriggerReplacementBase.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/b/blood_for_bones.txt
  forge-gui/res/cardsfolder/t/timothar_baron_of_bats.txt
Labels: bug

#4382 Fix new plane overwritten with old card
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/trigger/TriggerCycled.java
  forge-game/src/main/java/forge/game/trigger/TriggerSurveil.java
  forge-gui/res/cardsfolder/e/erdwal_illuminator.txt
  forge-gui/res/cardsfolder/v/valiant_rescuer.txt
  forge-gui/res/cardsfolder/w/whispering_snitch.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: bug, Card Cleanup

#4390 Slimefoot deck fix
  forge-gui/res/adventure/common/decks/miniboss/slimefoot.dck
Labels: Adventure

#3921 YWOE high_fae_prankster.txt and support
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-core/src/main/java/forge/card/CardType.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/AnimateAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffectBase.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DestroyEffect.java
  forge-game/src/main/java/forge/game/ability/effects/LosePerpetualEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PowerExchangeEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PumpAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PumpEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-gui/res/adventure/common/custom_cards/scarecrow_totem.txt
  forge-gui/res/cardsfolder/a/absorb_energy.txt
  forge-gui/res/cardsfolder/a/accident_prone_apprentice_amphibian_accident.txt
  forge-gui/res/cardsfolder/a/agent_of_raffine.txt
  forge-gui/res/cardsfolder/a/angel_of_unity.txt
  forge-gui/res/cardsfolder/a/antique_collector.txt
  forge-gui/res/cardsfolder/a/argivian_welcome.txt
  forge-gui/res/cardsfolder/a/argothian_elder.txt
  forge-gui/res/cardsfolder/a/arming_gala.txt
  forge-gui/res/cardsfolder/a/arvad_weatherlight_smuggler.txt
  forge-gui/res/cardsfolder/b/baffling_defenses.txt
  forge-gui/res/cardsfolder/b/begin_anew.txt
  forge-gui/res/cardsfolder/b/benalish_partisan.txt
  forge-gui/res/cardsfolder/b/better_offer.txt
  forge-gui/res/cardsfolder/b/bind_to_secrecy.txt
  forge-gui/res/cardsfolder/b/bloodsprout_talisman.txt
  forge-gui/res/cardsfolder/b/boareskyr_tollkeeper.txt
  forge-gui/res/cardsfolder/b/brittle_blast.txt
  forge-gui/res/cardsfolder/b/brokers_safeguard.txt
  forge-gui/res/cardsfolder/b/by_elspeths_command.txt
  forge-gui/res/cardsfolder/c/conductive_current.txt
  forge-gui/res/cardsfolder/d/divine_purge.txt
  forge-gui/res/cardsfolder/e/ethereal_escort.txt
  forge-gui/res/cardsfolder/e/ethereal_grasp.txt
  forge-gui/res/cardsfolder/f/fallaji_antiquarian.txt
  forge-gui/res/cardsfolder/f/flames_of_moradin.txt
  forge-gui/res/cardsfolder/g/goblin_morale_sergeant.txt
  forge-gui/res/cardsfolder/g/goblin_trapfinder.txt
  forge-gui/res/cardsfolder/h/heir_to_dragonfire.txt
  forge-gui/res/cardsfolder/h/high_fae_prankster.txt
  forge-gui/res/cardsfolder/h/holographic_double.txt
  forge-gui/res/cardsfolder/n/nightsnare.txt
  forge-gui/res/cardsfolder/r/racketeer_boss.txt
  forge-gui/res/cardsfolder/r/raffines_guidance.txt
  forge-gui/res/cardsfolder/r/reckoner_shakedown.txt
  forge-gui/res/cardsfolder/s/sarkhan_wanderer_to_shiv.txt
  forge-gui/res/cardsfolder/s/second_little_pig.txt
  forge-gui/res/cardsfolder/t/third_little_pig.txt
  forge-gui/res/cardsfolder/t/toils_of_night_and_day.txt
  forge-gui/res/cardsfolder/upcoming/cogwork_progenitor.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#4402 fix blightwing_bandit.txt
  forge-gui/res/cardsfolder/b/blightwing_bandit.txt
Labels: Card Patch, Rules compliance

#4409 Update Game.java
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/player/Player.java
Labels: Game Mechanics

#4414 Edition updates: PH22, PW24
  forge-gui/res/editions/2022 Heroes of the Realm.txt
  forge-gui/res/editions/Wizards Play Network 2024.txt
Labels: Upcoming Set

#4385 ChangesZoneAll: add LKI support
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/AiBlockController.java
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilAbility.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-core/src/main/java/forge/deck/CardPool.java
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/AmassEffect.java
  forge-game/src/main/java/forge/game/ability/effects/AttachEffect.java
  forge-game/src/main/java/forge/game/ability/effects/BalanceEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DestroyAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DestroyEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ManifestEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SacrificeAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SacrificeEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/card/CardZoneTable.java
  forge-game/src/main/java/forge/game/cost/CostExile.java
  forge-game/src/main/java/forge/game/cost/CostPartWithList.java
  forge-game/src/main/java/forge/game/cost/CostPayment.java
  forge-game/src/main/java/forge/game/phase/Untap.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityDisableTriggers.java
  forge-game/src/main/java/forge/game/trigger/TriggerChangesZone.java
  forge-game/src/main/java/forge/game/trigger/TriggerChangesZoneAll.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/a/archfiends_vessel.txt
  forge-gui/res/cardsfolder/a/azorius_aethermage.txt
  forge-gui/res/cardsfolder/c/chrome_mox.txt
  forge-gui/res/cardsfolder/e/exclusion_ritual.txt
  forge-gui/res/cardsfolder/e/extraplanar_lens.txt
  forge-gui/res/cardsfolder/i/invader_parasite.txt
  forge-gui/res/cardsfolder/i/inventive_iteration_living_breakthrough.txt
  forge-gui/res/cardsfolder/m/mirror_golem.txt
  forge-gui/res/cardsfolder/p/phyrexian_ingester.txt
  forge-gui/res/cardsfolder/s/semblance_anvil.txt
  forge-gui/res/cardsfolder/s/spellbinder.txt
  forge-gui/res/cardsfolder/s/stormfront_riders.txt
  forge-gui/res/cardsfolder/s/strata_scythe.txt
  forge-gui/res/cardsfolder/t/the_lost_and_the_damned.txt
  forge-gui/src/main/java/forge/gamemodes/limited/CardRanker.java
Labels: Game Mechanics

#4306 12 more LCI-A
  forge-gui/res/cardsfolder/s/surgical_metamorph.txt
  forge-gui/res/cardsfolder/upcoming/caldera_breaker.txt
  forge-gui/res/cardsfolder/upcoming/high_marshal_arguel.txt
  forge-gui/res/cardsfolder/upcoming/landlore_navigator.txt
  forge-gui/res/cardsfolder/upcoming/mythweaver_poq.txt
  forge-gui/res/cardsfolder/upcoming/phantasmal_extraction.txt
  forge-gui/res/cardsfolder/upcoming/radiant_smite.txt
  forge-gui/res/cardsfolder/upcoming/reflection_net.txt
  forge-gui/res/cardsfolder/upcoming/scalesoul_gnome.txt
  forge-gui/res/cardsfolder/upcoming/scalespeaker_shepherd.txt
  forge-gui/res/cardsfolder/upcoming/tan_jolom_the_worldwalker.txt
  forge-gui/res/cardsfolder/upcoming/valiant_batrider.txt
  forge-gui/res/cardsfolder/upcoming/wingbane_vantasaur.txt
Labels: Upcoming Set

#4400 Fix card LKI existing in both lastStates at once
  forge-game/src/main/java/forge/game/Game.java
  forge-gui/res/cardsfolder/d/dream_spoilers.txt
  forge-gui/res/cardsfolder/g/guff_rewrites_history.txt
  forge-gui/res/cardsfolder/r/river_songs_diary.txt
Labels: Game Mechanics, Card Patch

#4417 Desertion fix
  forge-game/src/main/java/forge/game/ability/effects/CounterEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/a/aragorn_the_uniter.txt
Labels: Rules compliance

#4204 PIP: Radiation mechanic implementation
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameLogFormatter.java
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ClashEffect.java
  forge-game/src/main/java/forge/game/ability/effects/MillEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RadiationEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RevealEffect.java
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-game/src/main/java/forge/game/event/GameEventPlayerRadiation.java
  forge-game/src/main/java/forge/game/event/IGameEventVisitor.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/player/PlayerController.java
  forge-game/src/main/java/forge/game/trigger/TriggerMilledAll.java
  forge-gui-desktop/src/main/java/forge/screens/match/views/VField.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/PlayerControllerForTests.java
  forge-gui-mobile/src/forge/assets/FSkinImage.java
  forge-gui-mobile/src/forge/screens/match/views/VPlayerPanel.java
  forge-gui/res/adventure/common/custom_cards/death_ring.txt
  forge-gui/res/cardsfolder/c/call_to_the_void.txt
  forge-gui/res/cardsfolder/c/capricious_efreet.txt
  forge-gui/res/cardsfolder/m/maelstrom_archangel_avatar.txt
  forge-gui/res/cardsfolder/upcoming/feral_ghoul.txt
  forge-gui/res/cardsfolder/upcoming/the_wise_mothman.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/res/skins/default/sprite_icons.png
  forge-gui/src/main/java/forge/gui/control/FControlGameEventHandler.java
  forge-gui/src/main/java/forge/localinstance/skin/FSkinProp.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Upcoming Set, Game Mechanics

#4424 Fix Stonebinder's Familiar not triggering from Nivmagus Elemental
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EncodeEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EndTurnEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PermanentEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/cost/CostExileFromStack.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-game/src/main/java/forge/game/trigger/TriggerInvestigated.java
  forge-game/src/main/java/forge/game/trigger/WrappedAbility.java
  forge-gui/res/cardsfolder/c/champions_of_tyr.txt
  forge-gui/res/cardsfolder/i/imposing_grandeur.txt
  forge-gui/res/cardsfolder/s/sirens_call.txt
  forge-gui/res/cardsfolder/s/stonebinders_familiar.txt
  forge-gui/res/cardsfolder/t/the_war_doctor.txt
Labels: Rules compliance

#4432 Add puzzle PS_LCI3
  forge-gui/res/puzzle/PS_LCI3.pzl
Labels: Puzzle Mode

#4442 Rasputin Dreamweaver fix
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/phase/Untap.java
Labels: Rules compliance

#4441 WHO: add can't tap check
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ability/TapAiBase.java
  forge-ai/src/main/java/forge/ai/ability/UntapAi.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardPredicates.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/cost/CostEnlist.java
  forge-game/src/main/java/forge/game/cost/CostTap.java
  forge-game/src/main/java/forge/game/cost/CostTapType.java
  forge-game/src/main/java/forge/game/replacement/ReplaceTap.java
  forge-gui/res/cardsfolder/upcoming/ood_sphere.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
  forge-gui/src/main/java/forge/player/HumanPlay.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Upcoming Set, Game Mechanics

#4449 GameAction: stop always trigger before etb counter
  forge-game/src/main/java/forge/game/GameAction.java
Labels: Game Mechanics

#4408 Planechase inherent effects
  forge-ai/src/main/java/forge/ai/ComputerUtilAbility.java
  forge-ai/src/main/java/forge/ai/ability/RollPlanarDiceAi.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/PlanarDice.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/player/Player.java
Labels: Game Mechanics

#4456 Fix ProtectEffect
  forge-game/src/main/java/forge/game/ability/effects/ProtectEffect.java
  forge-gui/res/cardsfolder/m/magmatic_galleon.txt
  forge-gui/res/cardsfolder/p/pippin_guard_of_the_citadel.txt
Labels: Crash fix
