Repository Card-Forge/forge, pull requests merged in 2023-04, with the labels that each got.

#2798 Magetower_13 fix doppelganger
  forge-gui/res/adventure/Shandalar/maps/map/magetower_13.tmx
Labels: Adventure

#2783 MOM: Three MOM Legends + token scripts
  forge-gui/res/cardsfolder/upcoming/baral_and_kari_zev.txt
  forge-gui/res/cardsfolder/upcoming/polukranos_reborn_polukranos_engine_of_ruin.txt
  forge-gui/res/cardsfolder/upcoming/quintorius_loremaster.txt
  forge-gui/res/tokenscripts/first_mate_ragavan.txt
  forge-gui/res/tokenscripts/gw_3_3_phyrexian_hydra_lifelink.txt
  forge-gui/res/tokenscripts/gw_3_3_phyrexian_hydra_reach.txt
Labels: Upcoming Set

#2801 update input, retry failed POI
  forge-gui-mobile/src/forge/adventure/data/BiomeData.java
  forge-gui-mobile/src/forge/adventure/scene/Scene.java
  forge-gui-mobile/src/forge/adventure/scene/UIScene.java
  forge-gui-mobile/src/forge/adventure/stage/ConsoleCommandInterpreter.java
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
  forge-gui-mobile/src/forge/adventure/world/BiomeStructure.java
  forge-gui-mobile/src/forge/adventure/world/World.java
  forge-gui/res/adventure/Shandalar/world/black.json
  forge-gui/res/adventure/Shandalar/world/blue.json
  forge-gui/res/adventure/Shandalar/world/red.json
  forge-gui/res/adventure/Shandalar/world/white.json
Labels: Adventure

#2780 Incubate mechanic initial support
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/IncubateEffect.java
  forge-gui/res/cardsfolder/upcoming/brimaz_blight_of_oreskos.txt
  forge-gui/res/cardsfolder/upcoming/chrome_host_seedshark.txt
  forge-gui/res/cardsfolder/upcoming/elesh_norn_the_argent_etchings.txt
  forge-gui/res/cardsfolder/upcoming/essence_of_orthodoxy.txt
  forge-gui/res/cardsfolder/upcoming/gift_of_compleation.txt
  forge-gui/res/cardsfolder/upcoming/glissa_herald_of_predation.txt
  forge-gui/res/cardsfolder/upcoming/injector_crocodile.txt
  forge-gui/res/cardsfolder/upcoming/merciless_repurposing.txt
  forge-gui/res/cardsfolder/upcoming/norns_inquisitor.txt
  forge-gui/res/cardsfolder/upcoming/sculpted_perfection.txt
  forge-gui/res/cardsfolder/upcoming/sunfall.txt
  forge-gui/res/cardsfolder/upcoming/traumatic_revelation.txt
  forge-gui/res/cardsfolder/v/voldaren_pariah_abolisher_of_bloodlines.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/tokenscripts/incubator_c_0_0_a_phyrexian.txt
Labels: Upcoming Set, Game Mechanics

#2792 MOM 8 cards
  forge-gui/res/cardsfolder/upcoming/city_on_fire.txt
  forge-gui/res/cardsfolder/upcoming/deadly_derision.txt
  forge-gui/res/cardsfolder/upcoming/kami_of_whispered_hopes.txt
  forge-gui/res/cardsfolder/upcoming/mirrodin_avenged.txt
  forge-gui/res/cardsfolder/upcoming/scrappy_bruiser.txt
  forge-gui/res/cardsfolder/upcoming/transcendent_message.txt
  forge-gui/res/cardsfolder/upcoming/tribute_to_the_world_tree.txt
  forge-gui/res/cardsfolder/upcoming/zhalfirin_lancer.txt
Labels: Upcoming Set

#2795 MOM: mutagen_connoisseur.txt and CardProperty "Transformed"
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/upcoming/mutagen_connoisseur.txt
Labels: Upcoming Set, Game Mechanics

#2802 MOC 5 cards
  forge-gui/res/cardsfolder/upcoming/esper.txt
  forge-gui/res/cardsfolder/upcoming/gimbal_gremlin_prodigy.txt
  forge-gui/res/cardsfolder/upcoming/kasla_the_broken_halo.txt
  forge-gui/res/cardsfolder/upcoming/nyx.txt
  forge-gui/res/cardsfolder/upcoming/sidar_jabari_of_zhalfir.txt
  forge-gui/res/tokenscripts/r_0_0_a_gremlin.txt
Labels: Upcoming Set

#2804 Eminence fix
  forge-game/src/main/java/forge/game/ability/effects/InvestigateEffect.java
  forge-gui/res/cardsfolder/a/arahbo_roar_of_the_world.txt
  forge-gui/res/cardsfolder/e/edgar_markov.txt
  forge-gui/res/cardsfolder/i/inalla_archmage_ritualist.txt
Labels: Card Patch

#2805 Morph: fix multiple KW
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
Labels: Game Mechanics

#2806 MOM: 1 Apr (5 cards)
  forge-gui/res/cardsfolder/upcoming/interdisciplinary_mascot.txt
  forge-gui/res/cardsfolder/upcoming/seer_of_stolen_sight.txt
  forge-gui/res/cardsfolder/upcoming/terror_of_towashi.txt
  forge-gui/res/cardsfolder/upcoming/zephyr_winder.txt
  forge-gui/res/cardsfolder/upcoming/zurgo_and_ojutai.txt
Labels: Upcoming Set

#2808 SpellSmithScene filter upcoming
  forge-gui-mobile/src/forge/adventure/scene/SpellSmithScene.java
Labels: Adventure

#2813 Edition updates: MOM
  forge-gui/res/editions/March of the Machine.txt
Labels: Upcoming Set

#2803 MOM: Errant and Giada + 4 cards
  forge-gui/res/cardsfolder/upcoming/errant_and_giada.txt
  forge-gui/res/cardsfolder/upcoming/halo_forager.txt
  forge-gui/res/cardsfolder/upcoming/realmbreaker_the_invasion_tree.txt
  forge-gui/res/cardsfolder/upcoming/seal_from_existence.txt
  forge-gui/res/cardsfolder/upcoming/sword_of_once_and_future.txt
Labels: Upcoming Set

#2777 tom_bombadil.txt + TriggerAbilityResolves
  forge-game/src/main/java/forge/game/trigger/TriggerAbilityResolves.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/upcoming/tom_bombadil.txt
Labels: Upcoming Set, Game Mechanics

#2779 PaidLists now store if the CostPart source is linked to host
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
  forge-ai/src/main/java/forge/ai/ability/BecomesBlockedAi.java
  forge-ai/src/main/java/forge/ai/ability/BidLifeAi.java
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-ai/src/main/java/forge/ai/ability/DamagePreventAi.java
  forge-ai/src/main/java/forge/ai/ability/EffectAi.java
  forge-ai/src/main/java/forge/ai/ability/PhasesAi.java
  forge-ai/src/main/java/forge/ai/ability/PlayAi.java
  forge-ai/src/main/java/forge/ai/ability/RegenerateAi.java
  forge-ai/src/main/java/forge/ai/ability/TokenAi.java
  forge-ai/src/main/java/forge/ai/ability/UntapAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardLists.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/cost/Cost.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/cost/CostExileFromStack.java
  forge-game/src/main/java/forge/game/cost/CostMill.java
  forge-game/src/main/java/forge/game/cost/CostPartMana.java
  forge-game/src/main/java/forge/game/cost/CostPartWithList.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityStackInstance.java
  forge-game/src/main/java/forge/game/spellability/TargetChoices.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-game/src/main/java/forge/game/trigger/WrappedAbility.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui-desktop/src/main/java/forge/screens/match/CMatchUI.java
  forge-gui/res/cardsfolder/e/eye_of_yawgmoth.txt
  forge-gui/res/cardsfolder/i/incriminate.txt
  forge-gui/res/cardsfolder/m/mutiny.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectTargets.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
  forge-gui/src/main/java/forge/player/TargetSelection.java
Labels: Game Mechanics, AI, Rules compliance

#2817 fix rerun when POI placement failed
  forge-gui-mobile/src/forge/adventure/scene/RewardScene.java
  forge-gui-mobile/src/forge/adventure/scene/SpellSmithScene.java
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
  forge-gui-mobile/src/forge/adventure/world/World.java
Labels: Adventure

#2821 Update ratchet_field_medic_ratchet_rescue_racer.txt
  forge-gui/res/cardsfolder/r/ratchet_field_medic_ratchet_rescue_racer.txt
Labels: Card Cleanup

#2815 MOM: Kogla and Yidaro + 5 cards
  forge-gui/res/cardsfolder/upcoming/kogla_and_yidaro.txt
  forge-gui/res/cardsfolder/upcoming/omen_hawker.txt
  forge-gui/res/cardsfolder/upcoming/oracle_of_tragedy.txt
  forge-gui/res/cardsfolder/upcoming/phyrexian_censor.txt
  forge-gui/res/cardsfolder/upcoming/pile_on.txt
  forge-gui/res/cardsfolder/upcoming/zimone_and_dina.txt
Labels: Upcoming Set

#2818 Fix incomplete replacement caching leading to StackOverflow
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
Labels: Crash fix

#2824 use default filter for all ui Image elements
  forge-gui-mobile/src/forge/adventure/util/UIActor.java
  forge-gui-mobile/src/forge/adventure/world/World.java
Labels: Adventure

#2830 SLD Temberchaud
  forge-gui/res/cardsfolder/upcoming/themberchaud.txt
Labels: Upcoming Set

#2832 fix loading Arena, update remaining dialog
  forge-gui-mobile/src/forge/adventure/scene/ArenaScene.java
  forge-gui-mobile/src/forge/adventure/scene/DeckSelectScene.java
  forge-gui-mobile/src/forge/adventure/scene/InventoryScene.java
  forge-gui-mobile/src/forge/adventure/scene/SaveLoadScene.java
  forge-gui-mobile/src/forge/adventure/scene/SettingsScene.java
  forge-gui-mobile/src/forge/adventure/scene/StartScene.java
  forge-gui-mobile/src/forge/adventure/scene/UIScene.java
  forge-gui-mobile/src/forge/adventure/util/Controls.java
  forge-gui/res/adventure/Shandalar/world/red.json
Labels: Adventure

#2838 MOM: phyrexian_pegasus.txt referee_squad.txt seedpod_caretaker.txt
  forge-gui/res/cardsfolder/a/aerial_guide.txt
  forge-gui/res/cardsfolder/upcoming/phyrexian_pegasus.txt
  forge-gui/res/cardsfolder/upcoming/referee_squad.txt
  forge-gui/res/cardsfolder/upcoming/seedpod_caretaker.txt
Labels: Upcoming Set

#2841 Adventure Item Fix
  forge-gui/res/adventure/Shandalar/custom_cards/slobads_iron_boots.txt
  forge-gui/res/adventure/Shandalar/custom_cards/xira_boss_effect.txt
  forge-gui/res/adventure/Shandalar/custom_cards/xiras_hive.txt
Labels: Adventure

#2846 Edition updates: MOM, MOC, MAT, MUL, SLD
  forge-gui/res/editions/March of the Machine Commander.txt
  forge-gui/res/editions/March of the Machine The Aftermath.txt
  forge-gui/res/editions/March of the Machine.txt
  forge-gui/res/editions/Multiverse Legends.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#2811 MOM 8 cards
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/ancient_imperiosaur.txt
  forge-gui/res/cardsfolder/upcoming/astral_wingspan.txt
  forge-gui/res/cardsfolder/upcoming/ayara_widow_of_the_realm_ayara_furnace_queen.txt
  forge-gui/res/cardsfolder/upcoming/captive_weird_completed_conjurer.txt
  forge-gui/res/cardsfolder/upcoming/change_the_equation.txt
  forge-gui/res/cardsfolder/upcoming/copper_host_crusher.txt
  forge-gui/res/cardsfolder/upcoming/knight_errant_of_eos.txt
  forge-gui/res/cardsfolder/upcoming/vorinclex_the_grand_evolution.txt
Labels: Upcoming Set

#2845 Fix Gorex
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
Labels: Game Mechanics

#2799 MOM: Backup keyword and cards
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/keyword/KeywordWithAmount.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/upcoming/archpriest_of_shadows.txt
  forge-gui/res/cardsfolder/upcoming/boon_bringer_valkyrie.txt
  forge-gui/res/cardsfolder/upcoming/cragsmasher_yeti.txt
  forge-gui/res/cardsfolder/upcoming/doomskar_warrior.txt
  forge-gui/res/cardsfolder/upcoming/fearless_skald.txt
  forge-gui/res/cardsfolder/upcoming/mirror_shield_hoplite.txt
  forge-gui/res/cardsfolder/upcoming/streetwise_negotiatior.txt
  forge-gui/res/cardsfolder/upcoming/voldaren_thrilseeker.txt
Labels: Upcoming Set, Game Mechanics

#2852 Edition updates: MOM, MOC, MUL, PLIST
  forge-gui/res/editions/March of the Machine Commander.txt
  forge-gui/res/editions/March of the Machine.txt
  forge-gui/res/editions/Multiverse Legends.txt
  forge-gui/res/editions/The List.txt
Labels: Upcoming Set

#2816 MOM 6 cards
  forge-gui/res/cardsfolder/upcoming/bloodfeather_phoenix.txt
  forge-gui/res/cardsfolder/upcoming/deeproot_wayfinder.txt
  forge-gui/res/cardsfolder/upcoming/dusk_legion_duelist.txt
  forge-gui/res/cardsfolder/upcoming/glistening_deluge.txt
  forge-gui/res/cardsfolder/upcoming/gnottvold_hermit_chrome_host_hulk.txt
  forge-gui/res/cardsfolder/upcoming/harried_artisan_phyrexian_skyflayer.txt
Labels: Upcoming Set

#2814 DamageEachEffect refactor + MOM Tandem Takedown / MOC Great Aerie
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/ability/FightAi.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DamageEachEffect.java
  forge-game/src/main/java/forge/game/ability/effects/FightEffect.java
  forge-gui/res/cardsfolder/a/alpha_brawl.txt
  forge-gui/res/cardsfolder/b/band_together.txt
  forge-gui/res/cardsfolder/c/combo_attack.txt
  forge-gui/res/cardsfolder/g/grim_contest.txt
  forge-gui/res/cardsfolder/l/living_inferno.txt
  forge-gui/res/cardsfolder/n/nissas_judgment.txt
  forge-gui/res/cardsfolder/s/sarkhan_the_mad.txt
  forge-gui/res/cardsfolder/s/sarkhan_the_masterless.txt
  forge-gui/res/cardsfolder/s/solar_blaze.txt
  forge-gui/res/cardsfolder/t/the_akroan_war.txt
  forge-gui/res/cardsfolder/upcoming/tandem_takedown.txt
  forge-gui/res/cardsfolder/upcoming/the_great_aerie.txt
  forge-gui/res/cardsfolder/w/wave_of_reckoning.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#2849 More Incubate
  forge-game/src/main/java/forge/game/ability/effects/IncubateEffect.java
  forge-gui/res/cardsfolder/a/angrath_minotaur_pirate.txt
  forge-gui/res/cardsfolder/t/tribute_to_hunger.txt
  forge-gui/res/cardsfolder/upcoming/bloated_processor.txt
  forge-gui/res/cardsfolder/upcoming/compleated_huntmaster.txt
  forge-gui/res/cardsfolder/upcoming/converter_beast.txt
  forge-gui/res/cardsfolder/upcoming/corruption_of_towashi.txt
  forge-gui/res/cardsfolder/upcoming/elvish_vatkeeper.txt
  forge-gui/res/cardsfolder/upcoming/excise_the_imperfect.txt
  forge-gui/res/cardsfolder/upcoming/eyes_of_gitaxias.txt
  forge-gui/res/cardsfolder/upcoming/furnace_gremlin.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#2859 see_double.txt and support
  forge-game/src/main/java/forge/game/ability/effects/CopySpellAbilityEffect.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantBeCopied.java
  forge-gui/res/cardsfolder/upcoming/see_double.txt
Labels: Upcoming Set, Game Mechanics

#2857 More Backup (esp Conclave Sledge-Captain)
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/upcoming/bright_palm_soul_awakener.txt
  forge-gui/res/cardsfolder/upcoming/conclave_sledge_captain.txt
  forge-gui/res/cardsfolder/upcoming/death_greeters_champion.txt
  forge-gui/res/cardsfolder/upcoming/emergent woodwurm.txt
  forge-gui/res/cardsfolder/upcoming/enduring_bondwarden.txt
  forge-gui/res/cardsfolder/upcoming/guardian_scalelord.txt
  forge-gui/res/cardsfolder/upcoming/mirror_style_master.txt
Labels: Upcoming Set, Game Mechanics

#2855 Adventure item tweaks
  forge-gui/res/adventure/Shandalar/custom_cards/jaces_signature_hoodie.txt
  forge-gui/res/adventure/Shandalar/custom_cards/teferis_staff.txt
Labels: Adventure

#2828 MOM 8 cards
  forge-gui/res/cardsfolder/upcoming/blightreaper_thallid_blightsower_thallid.txt
  forge-gui/res/cardsfolder/upcoming/collective_nightmare.txt
  forge-gui/res/cardsfolder/upcoming/hidetsugu_and_kairi.txt
  forge-gui/res/cardsfolder/upcoming/khenra_spellspear_gitaxian_spellstalker.txt
  forge-gui/res/cardsfolder/upcoming/phyrexian_awakening.txt
  forge-gui/res/cardsfolder/upcoming/sun_blessed_guardian_furnace_blessed_conqueror.txt
  forge-gui/res/cardsfolder/upcoming/surge_of_salvation.txt
  forge-gui/res/tokenscripts/g_1_1_phyrexian_saproling.txt
Labels: Upcoming Set

#2862 fix minimap generation, update textrafont property
  forge-gui-mobile/src/forge/adventure/stage/WorldStage.java
  forge-gui-mobile/src/forge/adventure/util/Controls.java
  forge-gui-mobile/src/forge/adventure/world/World.java
  forge-gui-mobile/src/forge/assets/Assets.java
Labels: Adventure

#2865 CounterAddedOnce add FirstTime
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/trigger/TriggerCounterAddedOnce.java
  forge-gui/res/cardsfolder/upcoming/axgard_artisan.txt
  forge-gui/res/cardsfolder/upcoming/botanical_brawler.txt
Labels: Upcoming Set, Game Mechanics

#2843 MOC 9 cards
  forge-gui/res/cardsfolder/upcoming/bitterthorn_nissas_animus.txt
  forge-gui/res/cardsfolder/upcoming/blight_titan.txt
  forge-gui/res/cardsfolder/upcoming/chivalric_alliance.txt
  forge-gui/res/cardsfolder/upcoming/conjurers_mantle.txt
  forge-gui/res/cardsfolder/upcoming/cutthroat_negotiator.txt
  forge-gui/res/cardsfolder/upcoming/darksteel_splicer.txt
  forge-gui/res/cardsfolder/upcoming/deluxe_dragster.txt
  forge-gui/res/cardsfolder/upcoming/elenda_and_azor.txt
  forge-gui/res/cardsfolder/upcoming/exsanguinator_cavalry.txt
  forge-gui/res/tokenscripts/wu_2_2_knight_vigilance.txt
Labels: Upcoming Set

#2867 add imagefetcher for Planechase BG
  forge-gui-mobile/src/forge/assets/FSkinTexture.java
  forge-gui-mobile/src/forge/util/LibGDXImageFetcher.java
  forge-gui/src/main/java/forge/util/ImageFetcher.java
Labels: Mobile

#2870 last MOM backup cards
  forge-gui/res/cardsfolder/r/reckless_racer.txt
  forge-gui/res/cardsfolder/upcoming/bola_slinger.txt
  forge-gui/res/cardsfolder/upcoming/chomping_kavu.txt
  forge-gui/res/cardsfolder/upcoming/consuming_aetherborn.txt
  forge-gui/res/cardsfolder/upcoming/gloomfang_mauler.txt
  forge-gui/res/cardsfolder/upcoming/golden_scale_aeronaut.txt
  forge-gui/res/cardsfolder/upcoming/hangar_scrounger.txt
  forge-gui/res/cardsfolder/upcoming/redcap_heelslasher.txt
  forge-gui/res/cardsfolder/upcoming/saiba_cryptomancer.txt
  forge-gui/res/cardsfolder/upcoming/scorn_blade_berserker.txt
  forge-gui/res/cardsfolder/upcoming/serpent_blade_assailant.txt
  forge-gui/res/cardsfolder/upcoming/sigiled_sentinel.txt
Labels: Upcoming Set

#2858 Fix Transformed Property for LKI
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/CopySpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DamageDealEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DamagePreventEffect.java
  forge-game/src/main/java/forge/game/ability/effects/UnattachAllEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-gui/res/cardsfolder/b/blood_tribute.txt
  forge-gui/res/cardsfolder/c/cult_of_the_waxing_moon.txt
  forge-gui/res/cardsfolder/d/drain_life.txt
  forge-gui/res/cardsfolder/h/helm_of_obedience.txt
  forge-gui/res/cardsfolder/p/psychic_transfer.txt
  forge-gui/res/cardsfolder/r/revival_revenge.txt
  forge-gui/res/cardsfolder/s/shard_of_the_nightbringer.txt
  forge-gui/res/cardsfolder/s/soul_burn.txt
  forge-gui/res/cardsfolder/upcoming/norns_inquisitor.txt
Labels: Card Cleanup, Card Patch

#2875 MOM: 5 easy ones and some related old card cleanup
  forge-gui/res/cardsfolder/c/cavalier_of_thorns.txt
  forge-gui/res/cardsfolder/e/epitaph_golem.txt
  forge-gui/res/cardsfolder/k/komas_faithful.txt
  forge-gui/res/cardsfolder/m/mistveil_plains.txt
  forge-gui/res/cardsfolder/s/sequestered_stash.txt
  forge-gui/res/cardsfolder/upcoming/cosmic_hunger.txt
  forge-gui/res/cardsfolder/upcoming/furnace_reins.txt
  forge-gui/res/cardsfolder/upcoming/halo_charged_skaab.txt
  forge-gui/res/cardsfolder/upcoming/into_the_fire.txt
  forge-gui/res/cardsfolder/upcoming/onakke_javelineer.txt
Labels: Upcoming Set, Card Cleanup

#2873 MOM: rankle_and_torbran.txt + minor CharmEffect tweak + 4 simple cards
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-gui/res/cardsfolder/upcoming/aetherblade_agent_gitaxian_minsdstinger.txt
  forge-gui/res/cardsfolder/upcoming/atraxas_fall.txt
  forge-gui/res/cardsfolder/upcoming/beamtown_beatstick.txt
  forge-gui/res/cardsfolder/upcoming/bladed_battle_fan.txt
  forge-gui/res/cardsfolder/upcoming/rankle_and_torbran.txt
Labels: Upcoming Set

#2874 Draft: flitting_guerrilla.txt
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/upcoming/flitting_guerrilla.txt
Labels: Upcoming Set

#2879 StrictlyOther property
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/CopySpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SacrificeEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/spellability/TargetChoices.java
  forge-gui/res/cardsfolder/a/acid_spewer_dragon.txt
  forge-gui/res/cardsfolder/a/agrus_kos_eternal_soldier.txt
  forge-gui/res/cardsfolder/a/ajani_steadfast.txt
  forge-gui/res/cardsfolder/a/ajani_the_greathearted.txt
  forge-gui/res/cardsfolder/a/ajani_unyielding.txt
  forge-gui/res/cardsfolder/a/arcbound_shikari.txt
  forge-gui/res/cardsfolder/b/bellowing_aegisaur.txt
  forge-gui/res/cardsfolder/b/belltoll_dragon.txt
  forge-gui/res/cardsfolder/b/blast_of_genius.txt
  forge-gui/res/cardsfolder/c/carnifex_demon.txt
  forge-gui/res/cardsfolder/c/charmed_stray.txt
  forge-gui/res/cardsfolder/c/cytoplast_root_kin.txt
  forge-gui/res/cardsfolder/d/devouring_hellion.txt
  forge-gui/res/cardsfolder/f/fumble.txt
  forge-gui/res/cardsfolder/g/goldnight_redeemer.txt
  forge-gui/res/cardsfolder/g/great_desert_prospector.txt
  forge-gui/res/cardsfolder/h/herdchaser_dragon.txt
  forge-gui/res/cardsfolder/k/keruga_the_macrosage.txt
  forge-gui/res/cardsfolder/m/mikaeus_the_lunarch.txt
  forge-gui/res/cardsfolder/n/nael_avizoa_aeronaut.txt
  forge-gui/res/cardsfolder/p/primeval_protector.txt
  forge-gui/res/cardsfolder/r/radiant_performer.txt
  forge-gui/res/cardsfolder/r/radiate.txt
  forge-gui/res/cardsfolder/r/rage_forger.txt
  forge-gui/res/cardsfolder/r/renegade_krasis.txt
  forge-gui/res/cardsfolder/r/rescue_retriever.txt
  forge-gui/res/cardsfolder/r/ridgescale_tusker.txt
  forge-gui/res/cardsfolder/s/shieldhide_dragon.txt
  forge-gui/res/cardsfolder/s/slimefoots_survey.txt
  forge-gui/res/cardsfolder/s/speakeasy_server.txt
  forge-gui/res/cardsfolder/s/stormwing_dragon.txt
  forge-gui/res/cardsfolder/s/supply_runners.txt
  forge-gui/res/cardsfolder/t/thalias_lieutenant.txt
  forge-gui/res/cardsfolder/t/thassas_oracle.txt
  forge-gui/res/cardsfolder/t/thunderwolf_cavalry.txt
  forge-gui/res/cardsfolder/upcoming/aragorn_and_arwen_wed.txt
  forge-gui/res/cardsfolder/v/vampire_socialite.txt
  forge-gui/res/cardsfolder/v/victorys_envoy.txt
  forge-gui/res/cardsfolder/z/zevlor_elturel_exile.txt
Labels: Card Patch, Rules compliance

#2883 Update nahiris_armory.txt
  forge-gui/res/adventure/Shandalar/custom_cards/nahiris_armory.txt
  forge-gui/res/adventure/Shandalar/maps/map/nahiri.tmx
  forge-gui/res/adventure/Shandalar/maps/map/nahiricave.tmx
  forge-gui/res/adventure/Shandalar/world/items.json
Labels: Adventure

#2864 MOC 9 cards
  forge-gui/res/cardsfolder/upcoming/mistmeadow_vanisher.txt
  forge-gui/res/cardsfolder/upcoming/moira_and_teshar.txt
  forge-gui/res/cardsfolder/upcoming/nesting_dovehawk.txt
  forge-gui/res/cardsfolder/upcoming/pain_distributor.txt
  forge-gui/res/cardsfolder/upcoming/sandsteppe_war_riders.txt
  forge-gui/res/cardsfolder/upcoming/schema_thief.txt
  forge-gui/res/cardsfolder/upcoming/shalai_and_hallar.txt
  forge-gui/res/cardsfolder/upcoming/uncivil_arrest.txt
  forge-gui/res/cardsfolder/upcoming/vulpine_harvester.txt
Labels: Upcoming Set

#2878 MOM: more battle-adjacent cards
  forge-gui/res/cardsfolder/f/fire_prophecy.txt
  forge-gui/res/cardsfolder/m/mordenkainen.txt
  forge-gui/res/cardsfolder/rebalanced/a-akki_ronin.txt
  forge-gui/res/cardsfolder/upcoming/nahiris_warcrafting.txt
  forge-gui/res/cardsfolder/upcoming/shatter_the_source.txt
  forge-gui/res/cardsfolder/upcoming/thrashing_frontliner.txt
  forge-gui/res/cardsfolder/upcoming/volcanic_spite.txt
  forge-gui/res/cardsfolder/upcoming/war_trained_slasher.txt
Labels: Upcoming Set

#2851 MOC 8 cards
  forge-gui/res/cardsfolder/upcoming/flockchaser_phantom.txt
  forge-gui/res/cardsfolder/upcoming/hedron_detonator.txt
  forge-gui/res/cardsfolder/upcoming/herald_of_hoofbeats.txt
  forge-gui/res/cardsfolder/upcoming/infernal_sovereign.txt
  forge-gui/res/cardsfolder/upcoming/locthwain_lancer.txt
  forge-gui/res/cardsfolder/upcoming/vodalian_wave_knight.txt
  forge-gui/res/cardsfolder/upcoming/wand_of_the_worldsoul.txt
  forge-gui/res/cardsfolder/upcoming/wildfire_awakener.txt
  forge-gui/res/tokenscripts/r_1_1_elemental_ping.txt
Labels: Upcoming Set

#2894 MOM 10 cards
  forge-gui/res/cardsfolder/upcoming/angelic_intervention.txt
  forge-gui/res/cardsfolder/upcoming/artistic_refusal.txt
  forge-gui/res/cardsfolder/upcoming/complete_the_circuit.txt
  forge-gui/res/cardsfolder/upcoming/crystal_carapace.txt
  forge-gui/res/cardsfolder/upcoming/disturbing_conversion.txt
  forge-gui/res/cardsfolder/upcoming/dreg_recycler.txt
  forge-gui/res/cardsfolder/upcoming/epharas_dispersal.txt
  forge-gui/res/cardsfolder/upcoming/etched_familiar.txt
  forge-gui/res/cardsfolder/upcoming/expedition_lookout.txt
  forge-gui/res/cardsfolder/upcoming/failed_conversion.txt
Labels: Upcoming Set

#2898 Cleanup & Fixes
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-ai/src/main/java/forge/ai/ability/AttachAi.java
  forge-ai/src/main/java/forge/ai/ability/CopySpellAbilityAi.java
  forge-ai/src/main/java/forge/ai/ability/PoisonAi.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-gui/res/cardsfolder/k/kaerveks_torch.txt
  forge-gui/res/cardsfolder/r/rousing_refrain.txt
  forge-gui/res/cardsfolder/t/the_royal_scions.txt
Labels: AI, Card Cleanup, Card Patch

#2901 update navigation arrow
  forge-gui-mobile/src/forge/adventure/stage/WorldStage.java
  forge-gui-mobile/src/forge/adventure/util/NavArrowActor.java
  forge-gui/res/adventure/Shandalar/maps/tileset/compass.atlas
  forge-gui/res/adventure/Shandalar/maps/tileset/compass.png
Labels: Adventure

#2905 improve some old PlayEffect card scripts
  forge-gui/res/cardsfolder/a/allure_of_the_unknown.txt
  forge-gui/res/cardsfolder/f/fevered_suspicion.txt
  forge-gui/res/cardsfolder/s/swindlers_scheme.txt
  forge-gui/res/cardsfolder/t/tibalts_trickery.txt
  forge-gui/res/cardsfolder/w/wand_of_wonder.txt
Labels: Card Cleanup

#2897 invasion_of_new_phyrexia_teferi_akosa_of_zhalfir + TapEffect support
  forge-game/src/main/java/forge/game/ability/effects/TapEffect.java
  forge-gui/res/cardsfolder/upcoming/invasion_of_new_phyrexia_teferi_akosa_of_zhalfir.txt
Labels: Upcoming Set, Game Mechanics

#2906 Garruk's Mighty Axe's script now only applies to Green cards
  forge-gui/res/adventure/Shandalar/custom_cards/garruks_mighty_axe.txt
Labels: Adventure

#2911 remove redundant frames on navigation arrow
  forge-gui-mobile/src/forge/adventure/util/NavArrowActor.java
  forge-gui/res/adventure/Shandalar/maps/tileset/compass.atlas
  forge-gui/res/adventure/Shandalar/maps/tileset/compass.png
Labels: Adventure

#2912 Some fixes
  forge-ai/src/main/java/forge/ai/ability/CountersProliferateAi.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/j/jaddi_lifestrider.txt
  forge-gui/res/cardsfolder/s/siege_striker.txt
  forge-gui/res/cardsfolder/upcoming/elenda_and_azor.txt
  forge-gui/res/cardsfolder/upcoming/progenitor_exarch.txt
  forge-gui/res/tokenscripts/w_1_1_vampire_knight_lifelink.txt
Labels: AI, Card Patch

#2908 MOM: inga_and_esika.txt + support
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-gui/res/cardsfolder/upcoming/inga_and_esika.txt
Labels: Upcoming Set, Game Mechanics

#2913 Battle: lazy build SpellPermanent on TDFC
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui-desktop/src/main/java/forge/toolbox/imaging/FCardImageRenderer.java
  forge-gui/res/cardsfolder/upcoming/invasion_of_amonkhet_lazotep_convert.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_dominaria_serra_faithkeeper.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_new_phyrexia_teferi_akosa_of_zhalfir.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_zendikar_awakened_skyclave.txt
Labels: Game Mechanics

#2889 Booster Draft: MOM with ONE & SIR updates
  forge-gui/res/blockdata/blocks.txt
  forge-gui/res/draft/rankings.txt
  forge-gui/res/editions/March of the Machine.txt
  forge-gui/res/editions/Shadows over Innistrad Remastered.txt
Labels: Upcoming Set

#2916 MOM: more Battle-related CardProperty fun!
  forge-game/src/main/java/forge/game/ability/effects/ImmediateTriggerEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/card/CardDamageHistory.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/h/hidetsugu_devouring_chaos.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_ixalan_belligerent_regisaur.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_kaldheim_pyre_of_the_world_tree.txt
  forge-gui/res/cardsfolder/upcoming/rampaging_raptor.txt
  forge-gui/res/cardsfolder/upcoming/war_historian.txt
  forge-gui/res/cardsfolder/upcoming/wildwood_escort.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Upcoming Set, Game Mechanics

#2918 Edition updates: MOC, MUL
  forge-gui/res/cardsfolder/upcoming/invasion_of_kylem_valors_reach_tag_team.txt
  forge-gui/res/editions/March of the Machine Commander.txt
  forge-gui/res/editions/Multiverse Legends.txt
Labels: Upcoming Set

#2919 Edition updates: MAT
  forge-gui/res/editions/March of the Machine The Aftermath.txt
Labels: Upcoming Set

#2861 Dross Pit Content Update
  forge-gui/res/adventure/Shandalar/decks/drossgladiator.json
  forge-gui/res/adventure/Shandalar/decks/drossgrimnarch.json
  forge-gui/res/adventure/Shandalar/maps/map/phyrexian_black1.tmx
  forge-gui/res/adventure/Shandalar/maps/map/phyrexian_g1.tmx
  forge-gui/res/adventure/Shandalar/maps/tileset/DrossPitTiles.png
  forge-gui/res/adventure/Shandalar/maps/tileset/DrossPitTiles.tsx
  forge-gui/res/adventure/Shandalar/maps/tileset/Phyrexian_Buildings.atlas
  forge-gui/res/adventure/Shandalar/maps/tileset/Phyrexian_Buildings.png
  forge-gui/res/adventure/Shandalar/sprites/drossgladiator.atlas
  forge-gui/res/adventure/Shandalar/sprites/drossgladiator.png
  forge-gui/res/adventure/Shandalar/sprites/drossgrimnarch.atlas
  forge-gui/res/adventure/Shandalar/sprites/drossgrimnarch.png
  forge-gui/res/adventure/Shandalar/world/black.json
  forge-gui/res/adventure/Shandalar/world/enemies.json
  forge-gui/res/adventure/Shandalar/world/green.json
  forge-gui/res/adventure/Shandalar/world/points_of_interest.json
Labels: Adventure

#2921 Clean up descriptions
  forge-gui/res/cardsfolder/b/barbarian_guides.txt
  forge-gui/res/cardsfolder/b/blessed_defiance.txt
  forge-gui/res/cardsfolder/b/burn_away.txt
  forge-gui/res/cardsfolder/c/calibrated_blast.txt
  forge-gui/res/cardsfolder/c/calim_djinn_emperor.txt
  forge-gui/res/cardsfolder/c/cryptek.txt
  forge-gui/res/cardsfolder/d/dwarven_sea_clan.txt
  forge-gui/res/cardsfolder/f/fiery_encore.txt
  forge-gui/res/cardsfolder/f/foxfire.txt
  forge-gui/res/cardsfolder/g/giant_slug.txt
  forge-gui/res/cardsfolder/g/golden_guardian_gold_forge_garrison.txt
  forge-gui/res/cardsfolder/h/hypothesizzle.txt
  forge-gui/res/cardsfolder/i/inferno_of_the_star_mounts.txt
  forge-gui/res/cardsfolder/i/initiate_of_blood_goka_the_unjust.txt
  forge-gui/res/cardsfolder/j/jailbreak.txt
  forge-gui/res/cardsfolder/k/kelsien_the_plague.txt
  forge-gui/res/cardsfolder/m/make_your_mark.txt
  forge-gui/res/cardsfolder/m/minsc_boo_timeless_heroes.txt
  forge-gui/res/cardsfolder/o/otherworldly_outburst.txt
  forge-gui/res/cardsfolder/o/out_of_the_way.txt
  forge-gui/res/cardsfolder/p/psychic_theft.txt
  forge-gui/res/cardsfolder/r/rushed_rebirth.txt
  forge-gui/res/cardsfolder/s/searing_blood.txt
  forge-gui/res/cardsfolder/s/skeletonize.txt
  forge-gui/res/cardsfolder/s/sorin_imperious_bloodlord.txt
  forge-gui/res/cardsfolder/t/the_royal_scions.txt
  forge-gui/res/cardsfolder/t/time_to_feed.txt
  forge-gui/res/cardsfolder/t/torrent_sculptor_flamethrower_sonata.txt
  forge-gui/res/cardsfolder/u/unleash_the_inferno.txt
  forge-gui/res/cardsfolder/upcoming/elenda_and_azor.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_new_phyrexia_teferi_akosa_of_zhalfir.txt
  forge-gui/res/cardsfolder/v/virulent_wound.txt
  forge-gui/res/cardsfolder/w/waylay.txt
  forge-gui/res/tokenscripts/w_1_1_vampire_lifelink.txt
Labels: Card Patch

#2924 Fix Autopay test selecting same mana multiple times
  forge-game/src/main/java/forge/game/mana/Mana.java
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
Labels: AI

#2902 MOM 9 cards
  forge-gui/res/cardsfolder/upcoming/fertilids_favor.txt
  forge-gui/res/cardsfolder/upcoming/final_flourish.txt
  forge-gui/res/cardsfolder/upcoming/flywheel_racer.txt
  forge-gui/res/cardsfolder/upcoming/furtive_analyst.txt
  forge-gui/res/cardsfolder/upcoming/halo_hopper.txt
  forge-gui/res/cardsfolder/upcoming/herbology_instructor_malady_invoker.txt
  forge-gui/res/cardsfolder/upcoming/ichor_shade.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_alara_awaken_the_maelstrom.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_arcavios_invocation_of_the_founders.txt
Labels: Upcoming Set

#2930 Fix Frenetic Sliver + Tribute placer
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-gui/res/cardsfolder/f/flaming_gambit.txt
  forge-gui/res/cardsfolder/f/frenetic_sliver.txt
Labels: Card Patch, Rules compliance

#2938 add Flip icon
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
  forge-gui/res/adventure/Shandalar/sprites/items.atlas
  forge-gui/res/adventure/Shandalar/sprites/items.png
Labels: Adventure

#2952 Marek14's achievements for MOM, part 1 (Planeswalkers)
  forge-gui/res/lists/planeswalker-achievements.txt
Labels: Upcoming Set

#2954 Update ReplaceDamage with Battle checks
  forge-game/src/main/java/forge/game/replacement/ReplaceDamage.java
Labels: Game Mechanics

#2966 MAT Jolrael, Voice of Zhalfir
  forge-gui/res/cardsfolder/upcoming/jolrael_voice_of_zhalfir.txt
Labels: Upcoming Set

#2968 Ban Ragavan, Nimble Pilferer from Historic
  forge-gui/res/formats/Archived/Explorer/2023-04-18.txt
  forge-gui/res/formats/Archived/Historic/2023-04-18.txt
  forge-gui/res/formats/Sanctioned/Historic.txt
Labels: Format Changes

#2914 MOM 13 cards
  forge-gui/res/cardsfolder/i/involuntary_cooldown.txt
  forge-gui/res/cardsfolder/upcoming/Invasion_of_kamigawa_rooftop_saboteurs.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_innistrad_deluge_of_the_dead.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_segovia_caetus_sea_tyrant_of_segovia.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_vryn_overloaded_mage_ring.txt
  forge-gui/res/cardsfolder/upcoming/meeting_of_minds.txt
  forge-gui/res/cardsfolder/upcoming/preening_champion.txt
  forge-gui/res/cardsfolder/upcoming/protocol_knight.txt
  forge-gui/res/cardsfolder/upcoming/stasis_field.txt
  forge-gui/res/cardsfolder/upcoming/thunderhead_squadron.txt
  forge-gui/res/cardsfolder/upcoming/tidal_terror.txt
  forge-gui/res/cardsfolder/upcoming/wicked_slumber.txt
  forge-gui/res/cardsfolder/upcoming/xerex_strobe_knight.txt
  forge-gui/res/cardsfolder/upcoming/zhalfirin_shapecraft.txt
  forge-gui/res/tokenscripts/u_1_1_kraken_trample.txt
Labels: Upcoming Set

#2956 MOM 11 cards
  forge-gui/res/cardsfolder/upcoming/order_of_the_mirror_order_of_the_alabaster_host.txt
  forge-gui/res/cardsfolder/upcoming/placid_rottentail.txt
  forge-gui/res/cardsfolder/upcoming/pyretic_prankster_glistening_goremonger.txt
  forge-gui/res/cardsfolder/upcoming/rals_reinforcements.txt
  forge-gui/res/cardsfolder/upcoming/ramosian_greatsword.txt
  forge-gui/res/cardsfolder/upcoming/realmbreakers_grasp.txt
  forge-gui/res/cardsfolder/upcoming/render_inert.txt
  forge-gui/res/cardsfolder/upcoming/sandstalker_moloch.txt
  forge-gui/res/cardsfolder/upcoming/seed_of_hope.txt
  forge-gui/res/cardsfolder/upcoming/seraph_of_new_capenna_seraph_of_new_phyrexia.txt
  forge-gui/res/cardsfolder/upcoming/shivan_branch_burner.txt
Labels: Upcoming Set

#2959 MOC: Ichor Elixir + support
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-ai/src/main/java/forge/ai/ability/RollPlanarDiceAi.java
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/GlobalRuleChange.java
  forge-game/src/main/java/forge/game/PlanarDice.java
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ReplaceEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RollPlanarDiceEffect.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/PlayerController.java
  forge-game/src/main/java/forge/game/replacement/ReplacePlanarDiceResult.java
  forge-game/src/main/java/forge/game/replacement/ReplaceRollPlanarDice.java
  forge-game/src/main/java/forge/game/replacement/ReplacementType.java
  forge-game/src/main/java/forge/util/MessageUtil.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/PlayerControllerForTests.java
  forge-gui/res/cardsfolder/c/chaotic_aether.txt
  forge-gui/res/cardsfolder/k/krosa.txt
  forge-gui/res/cardsfolder/upcoming/ichor_elixir.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Upcoming Set, Game Mechanics

#2929 Furnace Host Update
  forge-gui/res/adventure/Shandalar/decks/furnacegoblin.json
  forge-gui/res/adventure/Shandalar/decks/furnacetormentor.json
  forge-gui/res/adventure/Shandalar/maps/map/phyrexian_r1.tmx
  forge-gui/res/adventure/Shandalar/maps/tileset/FurnaceTiles.png
  forge-gui/res/adventure/Shandalar/maps/tileset/FurnaceTiles.tsx
  forge-gui/res/adventure/Shandalar/maps/tileset/Phyrexian_Buildings.atlas
  forge-gui/res/adventure/Shandalar/maps/tileset/Phyrexian_Buildings.png
  forge-gui/res/adventure/Shandalar/sprites/furnacegoblin.atlas
  forge-gui/res/adventure/Shandalar/sprites/furnacegoblin.png
  forge-gui/res/adventure/Shandalar/sprites/furnacetormentor.atlas
  forge-gui/res/adventure/Shandalar/sprites/furnacetormentor.png
  forge-gui/res/adventure/Shandalar/world/enemies.json
  forge-gui/res/adventure/Shandalar/world/points_of_interest.json
  forge-gui/res/adventure/Shandalar/world/red.json
Labels: Adventure

#2933 MOM 15 cards
  forge-gui/res/cardsfolder/upcoming/skyclave_aerialist_skyclave_invader.txt
  forge-gui/res/cardsfolder/upcoming/storm_the_seedcore.txt
  forge-gui/res/cardsfolder/upcoming/stormclaw_rager.txt
  forge-gui/res/cardsfolder/upcoming/swordsworn_cavalier.txt
  forge-gui/res/cardsfolder/upcoming/tarkir_duneshaper_burnished_dunestomper.txt
  forge-gui/res/cardsfolder/upcoming/temporal_cleansing.txt
  forge-gui/res/cardsfolder/upcoming/tenured_oilcaster.txt
  forge-gui/res/cardsfolder/upcoming/timberland_ancient.txt
  forge-gui/res/cardsfolder/upcoming/trailblazing_historian.txt
  forge-gui/res/cardsfolder/upcoming/unseal_the_necropolis.txt
  forge-gui/res/cardsfolder/upcoming/urn_of_godfire.txt
  forge-gui/res/cardsfolder/upcoming/vengeant_earth.txt
  forge-gui/res/cardsfolder/upcoming/wary_thespian.txt
  forge-gui/res/cardsfolder/upcoming/wrenns_resolve.txt
  forge-gui/res/cardsfolder/upcoming/zephyr_singer.txt
Labels: Upcoming Set

#2973 Prettify Any TgtPrompt
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-gui/res/cardsfolder/b/bonecrusher_giant_stomp.txt
  forge-gui/res/cardsfolder/c/candles_glow.txt
  forge-gui/res/cardsfolder/d/dragon_tempest.txt
  forge-gui/res/cardsfolder/f/flesh_blood.txt
  forge-gui/res/cardsfolder/f/foundry_helix.txt
  forge-gui/res/cardsfolder/i/ill_tempered_loner_howlpack_avenger.txt
  forge-gui/res/cardsfolder/i/improvised_weaponry.txt
  forge-gui/res/cardsfolder/k/karplusan_hound.txt
  forge-gui/res/cardsfolder/k/karplusan_minotaur.txt
  forge-gui/res/cardsfolder/k/klement_novice_acolyte.txt
  forge-gui/res/cardsfolder/l/lightning_bolt.txt
  forge-gui/res/cardsfolder/l/lozhan_dragons_legacy.txt
  forge-gui/res/cardsfolder/o/ordeal_of_purphoros.txt
  forge-gui/res/cardsfolder/p/prophetic_titan.txt
  forge-gui/res/cardsfolder/r/rumbling_aftershocks.txt
  forge-gui/res/cardsfolder/s/scars_of_the_veteran.txt
  forge-gui/res/cardsfolder/s/scourge_of_valkas.txt
  forge-gui/res/cardsfolder/s/searing_meditation.txt
  forge-gui/res/cardsfolder/s/shieldmates_blessing.txt
  forge-gui/res/cardsfolder/s/souls_fire.txt
  forge-gui/res/cardsfolder/s/spare_dagger.txt
  forge-gui/res/cardsfolder/s/spitemare.txt
  forge-gui/res/cardsfolder/s/syrix_carrier_of_the_flame.txt
  forge-gui/res/cardsfolder/t/tiger_tribe_hunter.txt
  forge-gui/res/cardsfolder/upcoming/chandra_hopes_beacon.txt
  forge-gui/res/cardsfolder/upcoming/voldaren_thrilseeker.txt
  forge-gui/res/cardsfolder/w/wrathful_red_dragon.txt
Labels: Card Cleanup, Card Patch, GUI

#2899 Effect cleanup can prevent any LTB trigger
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/RollDiceEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
Labels: bug, Game Mechanics

#2961 Playable Leonin Update
  forge-gui/res/adventure/Shandalar/sprites/heroes/avatar.atlas
  forge-gui/res/adventure/Shandalar/sprites/heroes/avatar.png
  forge-gui/res/adventure/Shandalar/sprites/heroes/leonin_f.atlas
  forge-gui/res/adventure/Shandalar/sprites/heroes/leonin_f.png
  forge-gui/res/adventure/Shandalar/sprites/heroes/leonin_m.atlas
  forge-gui/res/adventure/Shandalar/sprites/heroes/leonin_m.png
  forge-gui/res/adventure/Shandalar/world/heroes.json
Labels: Adventure

#2975 Invasion Update
  forge-gui/res/adventure/Shandalar/decks/copperhostbrutalizer.dck
  forge-gui/res/adventure/Shandalar/decks/drossgrimnarch.dck
  forge-gui/res/adventure/Shandalar/decks/furnacetormentor.dck
  forge-gui/res/adventure/Shandalar/decks/gitaxianscientist.dck
  forge-gui/res/adventure/Shandalar/decks/phyrexianangel.dck
  forge-gui/res/adventure/Shandalar/decks/phyrexianduelist.json
  forge-gui/res/adventure/Shandalar/maps/map/main_story/forest_capital.tmx
  forge-gui/res/adventure/Shandalar/maps/map/main_story/island_capital.tmx
  forge-gui/res/adventure/Shandalar/maps/map/main_story/mountain_capital.tmx
  forge-gui/res/adventure/Shandalar/maps/map/main_story/plains_capital.tmx
  forge-gui/res/adventure/Shandalar/maps/map/main_story/swamp_capital.tmx
  forge-gui/res/adventure/Shandalar/maps/map/phyrexian_b1.tmx
  forge-gui/res/adventure/Shandalar/maps/map/phyrexian_black1.tmx
  forge-gui/res/adventure/Shandalar/maps/map/phyrexian_g1.tmx
  forge-gui/res/adventure/Shandalar/maps/map/phyrexian_r1.tmx
  forge-gui/res/adventure/Shandalar/maps/map/phyrexian_w1.tmx
  forge-gui/res/adventure/Shandalar/maps/tileset/GitaxianTilesheet.png
  forge-gui/res/adventure/Shandalar/sprites/phyrexianduelist.png
  forge-gui/res/adventure/Shandalar/world/black.json
  forge-gui/res/adventure/Shandalar/world/blue.json
  forge-gui/res/adventure/Shandalar/world/enemies.json
  forge-gui/res/adventure/Shandalar/world/green.json
  forge-gui/res/adventure/Shandalar/world/red.json
  forge-gui/res/adventure/Shandalar/world/white.json
Labels: Adventure

#2882 MOC 8 new planes + 4 new cards
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/upcoming/begin_the_invasion.txt
  forge-gui/res/cardsfolder/upcoming/dance_with_calamity.txt
  forge-gui/res/cardsfolder/upcoming/enigma_ridges.txt
  forge-gui/res/cardsfolder/upcoming/ghirapur.txt
  forge-gui/res/cardsfolder/upcoming/naktamun.txt
  forge-gui/res/cardsfolder/upcoming/rashmi_and_ragavan.txt
  forge-gui/res/cardsfolder/upcoming/saint_traft_and_rem_karolus.txt
  forge-gui/res/cardsfolder/upcoming/ten_wizards_mountain.txt
  forge-gui/res/cardsfolder/upcoming/the_golden_city_of_orazca.txt
  forge-gui/res/cardsfolder/upcoming/the_pit.txt
  forge-gui/res/cardsfolder/upcoming/the_western_cloud.txt
  forge-gui/res/cardsfolder/upcoming/valors_reach.txt
Labels: Upcoming Set

#2926 MOM 10 cards
  forge-gui/res/cardsfolder/l/lightning_dart.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_shandalar_leyline_surge.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_tarkir_defiant_thundermaw.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_ulgrotha_grandmother_ravi_sengir.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_xerex_vertex_paladin.txt
  forge-gui/res/cardsfolder/upcoming/kor_halberd.txt
  forge-gui/res/cardsfolder/upcoming/lithomantic_barrage.txt
  forge-gui/res/cardsfolder/upcoming/marshal_of_zhalfir.txt
  forge-gui/res/cardsfolder/upcoming/mirran_banesplitter.txt
  forge-gui/res/cardsfolder/upcoming/ozolith_the_shattered_spire.txt
  forge-gui/res/cardsfolder/upcoming/phyrexian_archivist.txt
Labels: Upcoming Set

#2983 update equipped abilities
  forge-gui-mobile/src/forge/adventure/stage/GameHUD.java
Labels: Adventure

#2986 Invasion of Theros
  forge-gui/res/cardsfolder/upcoming/invasion_of_theros_ephara_ever_sheltering.txt
Labels: Upcoming Set

#2940 MOM 10 battles
  forge-gui/res/cardsfolder/upcoming/invasion_of_azgol_ashen_reaper.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_belenon_belenon_war_anthem.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_eldraine_prickle_faeries.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_ergamon_truga_cliffcharger.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_gobakhan_lightshield_array.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_ikoria_zilortha_apex_of_ikoria.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_kaladesh_aetherwing_golden_scale_flagship.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_muraganda_primordial_plasm.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_ravnica_guildpact_paragon.txt
  forge-gui/res/cardsfolder/upcoming/invasion_of_tolvada_the_broken_sky.txt
Labels: Upcoming Set

#2988 Add AdventureWinLose Overlay
  forge-gui-mobile/src/forge/adventure/data/SettingData.java
  forge-gui-mobile/src/forge/adventure/scene/DuelScene.java
  forge-gui-mobile/src/forge/adventure/scene/SettingsScene.java
  forge-gui-mobile/src/forge/adventure/stage/GameHUD.java
  forge-gui-mobile/src/forge/screens/match/MatchController.java
  forge-gui-mobile/src/forge/screens/match/winlose/AdventureWinLose.java
  forge-gui-mobile/src/forge/screens/match/winlose/ViewWinLose.java
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Adventure

#2993 path_of_the_pyromancer.txt fix
  forge-gui/res/cardsfolder/upcoming/path_of_the_pyromancer.txt
Labels: Card Patch

#2876 MOC 10 new planes
  forge-gui/res/cardsfolder/upcoming/inys_haen.txt
  forge-gui/res/cardsfolder/upcoming/ketria.txt
  forge-gui/res/cardsfolder/upcoming/littjara.txt
  forge-gui/res/cardsfolder/upcoming/megaflora_jungle.txt
  forge-gui/res/cardsfolder/upcoming/new_argive.txt
  forge-gui/res/cardsfolder/upcoming/paliano.txt
  forge-gui/res/cardsfolder/upcoming/riptide_island.txt
  forge-gui/res/cardsfolder/upcoming/strixhaven.txt
  forge-gui/res/cardsfolder/upcoming/the_caldaia.txt
  forge-gui/res/cardsfolder/upcoming/the_wilds.txt
Labels: Upcoming Set

#2869 MOC: The Talent Cycle
  forge-gui/res/cardsfolder/upcoming/elspeths_talent.txt
  forge-gui/res/cardsfolder/upcoming/lilianas_talent.txt
  forge-gui/res/cardsfolder/upcoming/rowans_talent.txt
  forge-gui/res/cardsfolder/upcoming/teferis_talent.txt
  forge-gui/res/cardsfolder/upcoming/viviens_talent.txt
Labels: Upcoming Set

#2825 MOM: 5 more Legends
  forge-gui/res/cardsfolder/upcoming/djeru_and_hazoret.txt
  forge-gui/res/cardsfolder/upcoming/kroxa_and_kunoros.txt
  forge-gui/res/cardsfolder/upcoming/rona_herald_of_invasion_rona_tolarian_obliterator.txt
  forge-gui/res/cardsfolder/upcoming/sheoldred_the_true_scriptures.txt
  forge-gui/res/cardsfolder/upcoming/urabrask_the_great_work.txt
Labels: Upcoming Set

#2999 Scarecrow Captain fix
  forge-gui/res/adventure/Shandalar/world/enemies.json
Labels: Adventure

#2984 MAT 5 cards
  forge-gui/res/cardsfolder/upcoming/cosmic_rebirth.txt
  forge-gui/res/cardsfolder/upcoming/gold_forged_thopteryx.txt
  forge-gui/res/cardsfolder/upcoming/harnessed_snubhorn.txt
  forge-gui/res/cardsfolder/upcoming/narset_enlightened_exile.txt
  forge-gui/res/cardsfolder/upcoming/rebuild_the_city.txt
Labels: Upcoming Set

#3008 Edition update: SLD Spring Superdrop 2023
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#3001 Fix RE messing up Triggers
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ExploreEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RegenerateEffect.java
  forge-game/src/main/java/forge/game/trigger/WrappedAbility.java
  forge-gui/res/cardsfolder/a/armament_master.txt
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Game Mechanics

#3012 various Adventure-related things
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/adventure/Shandalar/custom_cards/flame_sword.txt
  forge-gui/res/cardsfolder/p/penregon_besieged.txt
Labels: Game Mechanics, Card Cleanup, Card Patch, Adventure

#3014 MAT: tazri_stalwart_survivor.txt + support
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-gui/res/cardsfolder/t/tablet_of_compleation.txt
  forge-gui/res/cardsfolder/upcoming/tazri_stalwart_survivor.txt
Labels: Upcoming Set, Game Mechanics

#3013 deification.txt and support
  forge-core/src/main/java/forge/card/CardType.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseTypeEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/replacement/ReplaceRemoveCounter.java
  forge-game/src/main/java/forge/game/replacement/ReplacementType.java
  forge-gui/res/cardsfolder/upcoming/deification.txt
Labels: Upcoming Set, Game Mechanics

#3011 MAT 5 Cards
  forge-gui/res/cardsfolder/upcoming/drannith_ruins.txt
  forge-gui/res/cardsfolder/upcoming/feast_of_the_victorious_dead.txt
  forge-gui/res/cardsfolder/upcoming/filter_out.txt
  forge-gui/res/cardsfolder/upcoming/jirina_dauntless_general.txt
  forge-gui/res/cardsfolder/upcoming/karn_legacy_reforged.txt
Labels: Upcoming Set

#3005 MAT 6 cards
  forge-gui/res/cardsfolder/upcoming/animists_might.txt
  forge-gui/res/cardsfolder/upcoming/arni_metalbrow.txt
  forge-gui/res/cardsfolder/upcoming/ayaras_oathsworn.txt
  forge-gui/res/cardsfolder/upcoming/blot_out.txt
  forge-gui/res/cardsfolder/upcoming/coppercoat_vanguard.txt
  forge-gui/res/cardsfolder/upcoming/death_rattle_oni.txt
Labels: Upcoming Set

#3018 Fix some crashes with Battles
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-ai/src/main/java/forge/ai/SpellAbilityAi.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/ChoosePlayerAi.java
  forge-ai/src/main/java/forge/ai/ability/CopyPermanentAi.java
  forge-ai/src/main/java/forge/ai/ability/DigAi.java
  forge-ai/src/main/java/forge/ai/ability/TokenAi.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/ManaReflectedEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/combat/Combat.java
  forge-gui/res/cardsfolder/c/coalition_relic.txt
  forge-gui/res/cardsfolder/d/deathrite_shaman.txt
  forge-gui/res/cardsfolder/g/gyruda_doom_of_depths.txt
  forge-gui/res/cardsfolder/m/manamorphose.txt
  forge-gui/res/cardsfolder/p/plasm_capture.txt
  forge-gui/res/cardsfolder/r/regal_behemoth.txt
  forge-gui/res/cardsfolder/r/riveteers_charm.txt
  forge-gui/res/cardsfolder/s/sarkhan_unbroken.txt
  forge-gui/res/cardsfolder/s/smokebraider.txt
  forge-gui/res/cardsfolder/s/soul_shatter.txt
  forge-gui/res/cardsfolder/t/terrarion.txt
  forge-gui/res/cardsfolder/u/urza_academy_headmaster.txt
  forge-gui/res/cardsfolder/upcoming/omnath_locus_of_all.txt
  forge-gui/res/cardsfolder/upcoming/wrenn_and_realmbreaker.txt
Labels: AI, Card Cleanup, Card Patch, Crash fix

#3016 MAT: spark_rupture.txt
  forge-gui/res/cardsfolder/upcoming/spark_rupture.txt
Labels: Upcoming Set

#3019 Fix failed trigger keeping the stack frozen
  forge-game/src/main/java/forge/game/cost/CostExileFromStack.java
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: bug

#3025 Rework ExcessSVar
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/DamageDealEffect.java
  forge-game/src/main/java/forge/game/card/CardDamageMap.java
  forge-gui/res/cardsfolder/l/lacerate_flesh.txt
  forge-gui/res/cardsfolder/m/megatron_tyrant_megatron_destructive_force.txt
  forge-gui/res/cardsfolder/r/ryu_world_warrior.txt
  forge-gui/res/cardsfolder/v/vikya_scorching_stalwart.txt
Labels: Rules compliance

#3017 MAT 5 cards
  forge-gui/res/cardsfolder/g/gamble.txt
  forge-gui/res/cardsfolder/l/lotus_cobra.txt
  forge-gui/res/cardsfolder/upcoming/metropolis_reformer.txt
  forge-gui/res/cardsfolder/upcoming/nashi_moons_legacy.txt
  forge-gui/res/cardsfolder/upcoming/nissa_resurgent_animist.txt
  forge-gui/res/cardsfolder/upcoming/niv_mizzet_supreme.txt
  forge-gui/res/cardsfolder/upcoming/reckless_handling.txt
Labels: Upcoming Set

#3029 (Android) enable numpad for getInteger prompt on supported platform
  forge-gui-desktop/src/main/java/forge/GuiDesktop.java
  forge-gui-desktop/src/main/java/forge/screens/match/CMatchUI.java
  forge-gui-mobile/src/forge/Forge.java
  forge-gui-mobile/src/forge/GuiMobile.java
  forge-gui-mobile/src/forge/screens/match/MatchController.java
  forge-gui-mobile/src/forge/toolbox/FOptionPane.java
  forge-gui-mobile/src/forge/toolbox/FTextField.java
  forge-gui/src/main/java/forge/gamemodes/match/AbstractGuiGame.java
  forge-gui/src/main/java/forge/gamemodes/net/ProtocolMethod.java
  forge-gui/src/main/java/forge/gamemodes/net/server/NetGuiGame.java
  forge-gui/src/main/java/forge/gui/interfaces/IGuiBase.java
  forge-gui/src/main/java/forge/gui/interfaces/IGuiGame.java
  forge-gui/src/main/java/forge/gui/util/SOptionPane.java
Labels: Android

#3030 Fix CounterAdded triggers
  forge-ai/src/main/java/forge/ai/ability/CountersPutAllAi.java
  forge-game/src/main/java/forge/game/trigger/TriggerCounterPlayerAddedAll.java
  forge-gui-desktop/src/main/java/forge/view/arcane/CardPanel.java
  forge-gui/res/cardsfolder/a/all_will_be_one.txt
  forge-gui/res/cardsfolder/g/generous_patron.txt
  forge-gui/res/cardsfolder/k/kethek_crucible_goliath.txt
  forge-gui/res/cardsfolder/k/kros_defense_contractor.txt
  forge-gui/res/cardsfolder/l/lukka_coppercoat_outcast.txt
  forge-gui/res/cardsfolder/upcoming/shalai_and_hallar.txt
Labels: Card Patch, Rules compliance

#3028 MAT 5 cards
  forge-gui/res/cardsfolder/upcoming/open_the_way.txt
  forge-gui/res/cardsfolder/upcoming/pia_nalaar_consul_of_revival.txt
  forge-gui/res/cardsfolder/upcoming/plargg_and_nassari.txt
  forge-gui/res/cardsfolder/upcoming/rocco_street_chef.txt
  forge-gui/res/cardsfolder/upcoming/sigarda_font_of_blessings.txt
Labels: Upcoming Set

#3039 Fix cards
  forge-game/src/main/java/forge/game/mana/Mana.java
  forge-gui/res/cardsfolder/a/aluren.txt
  forge-gui/res/cardsfolder/c/cry_of_the_carnarium.txt
  forge-gui/res/cardsfolder/f/flaying_tendrils.txt
  forge-gui/res/cardsfolder/m/malicious_malfunction.txt
  forge-gui/res/cardsfolder/n/necromancers_magemark.txt
Labels: Card Patch

#2989 MOC Filigree Vector
  forge-gui/res/cardsfolder/upcoming/filigree_vector.txt
Labels: Upcoming Set
