Repository Card-Forge/forge, pull requests merged in 2023-08, with the labels that each got.

#3572 cache animated sprites
  forge-gui-mobile/src/forge/adventure/character/CharacterSprite.java
  forge-gui-mobile/src/forge/adventure/character/PortalActor.java
  forge-gui-mobile/src/forge/adventure/scene/MapViewScene.java
  forge-gui-mobile/src/forge/adventure/util/Config.java
  forge-gui-mobile/src/forge/adventure/util/NavArrowActor.java
Labels: Adventure

#3573 Add CMM to formats
  forge-gui/res/formats/Archived/Legacy/2023-08-04.txt
  forge-gui/res/formats/Archived/Vintage/2023-08-04.txt
  forge-gui/res/formats/Sanctioned/Legacy.txt
  forge-gui/res/formats/Sanctioned/Vintage.txt
Labels: Upcoming Set

#3577 fix backface not generating if art is missing
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
Labels: Adventure

#3585 Fix Cellar Door
  forge-game/src/main/java/forge/game/ability/effects/MillEffect.java
  forge-game/src/main/java/forge/game/cost/CostMill.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/c/call_the_coppercoats.txt
  forge-gui/res/cardsfolder/c/cellar_door.txt
  forge-gui/res/cardsfolder/o/ogre_head_helm.txt
Labels: Card Cleanup, Card Patch

#3586 Fix TriggersWhenSpent affected by Veyran
  forge-game/src/main/java/forge/game/ability/AbilityApiBased.java
  forge-game/src/main/java/forge/game/ability/SpellApiBased.java
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
  forge-game/src/main/java/forge/game/spellability/AbilitySub.java
Labels: Rules compliance

#3552 gollum_obsessed_stalker.txt and support
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/player/PlayerCollection.java
  forge-gui/res/cardsfolder/a/approach_of_the_second_sun.txt
  forge-gui/res/cardsfolder/upcoming/gollum_obsessed_stalker.txt
Labels: Upcoming Set, Game Mechanics

#3591 Remove some fake kicker costs
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeXEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/cost/CostPartMana.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-gui/res/cardsfolder/a/atraxa_grand_unifier.txt
  forge-gui/res/cardsfolder/d/draconic_roar.txt
  forge-gui/res/cardsfolder/d/dragonlords_prerogative.txt
  forge-gui/res/cardsfolder/d/dragons_fire.txt
  forge-gui/res/cardsfolder/f/foul_tongue_invocation.txt
  forge-gui/res/cardsfolder/g/gifts_ungiven.txt
  forge-gui/res/cardsfolder/g/golden_argosy.txt
  forge-gui/res/cardsfolder/g/graven_archfiend.txt
  forge-gui/res/cardsfolder/l/legions_end.txt
  forge-gui/res/cardsfolder/o/orator_of_ojutai.txt
  forge-gui/res/cardsfolder/p/plargg_dean_of_chaos_augusta_dean_of_order.txt
  forge-gui/res/cardsfolder/s/scaleguard_sentinels.txt
  forge-gui/res/cardsfolder/s/silumgars_scorn.txt
  forge-gui/res/cardsfolder/s/spellshift.txt
  forge-gui/res/cardsfolder/t/treasure_keeper.txt
  forge-gui/res/cardsfolder/u/undergrowth.txt
  forge-gui/res/cardsfolder/upcoming/hew_the_entwood.txt
  forge-gui/res/cardsfolder/v/voltage_surge.txt
Labels: Card Cleanup, Crash fix, Rules compliance

#3598 2 fixes
  forge-gui/res/cardsfolder/upcoming/shelob_dread_weaver.txt
  forge-gui/res/cardsfolder/upcoming/tyvar_the_bellicose.txt
Labels: Card Patch

#3603 Nahiri and Tibalt boss effect fix
  forge-gui/res/adventure/common/custom_cards/nahiris_boss_effect.txt
  forge-gui/res/adventure/common/custom_cards/tibalt_boss_effect.txt
  forge-gui/res/adventure/common/maps/map/tibalt/tibalt_f1.tmx
  forge-gui/res/adventure/common/world/enemies.json
Labels: Adventure

#3599 Endless Whispers and similar
  forge-ai/src/main/java/forge/ai/ComputerUtilAbility.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-gui/res/cardsfolder/e/endless_whispers.txt
  forge-gui/res/cardsfolder/f/frogkin_kidnapper.txt
  forge-gui/res/cardsfolder/g/glass_asp.txt
  forge-gui/res/cardsfolder/m/massacre_girl.txt
  forge-gui/res/cardsfolder/n/nafs_asp.txt
  forge-gui/res/cardsfolder/q/quenchable_fire.txt
  forge-gui/res/cardsfolder/s/sabertooth_cobra.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Card Cleanup

#3606 improve Placer logic for some PutCounterAll cards
  forge-ai/src/main/java/forge/ai/ability/ChooseCardAi.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutAllEffect.java
  forge-gui/res/cardsfolder/a/agitator_ant.txt
  forge-gui/res/cardsfolder/n/noble_heritage.txt
  forge-gui/res/cardsfolder/o/orzhov_advokist.txt
Labels: Game Mechanics, AI, Rules compliance

#3611 prevent NPE on holdtooltip
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
Labels: Adventure

#3605 Create river_song.txt
  forge-gui/res/cardsfolder/upcoming/river_song.txt
Labels: Upcoming Set

#3610 Update arden_angel.txt and add to archived formats
  forge-gui/res/cardsfolder/a/arden_angel.txt
  forge-gui/res/formats/Archived/Legacy/2023-08-10.txt
  forge-gui/res/formats/Archived/Vintage/2023-08-10.txt
Labels: Rules/Oracle Changes, Format Changes

#3602 plague_of_vermin.txt refactor + support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/StoreSVarEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TokenEffect.java
  forge-gui/res/cardsfolder/p/plague_of_vermin.txt
Labels: Card Cleanup, Rules compliance

#3618 New editions: PMDA, RVR
  forge-gui/res/editions/Magic x Duel Masters Promos.txt
  forge-gui/res/editions/Ravnica Remastered.txt
Labels: Upcoming Set

#3578 WHO 6 cards
  forge-game/src/main/java/forge/game/ability/effects/PlaneswalkEffect.java
  forge-gui/res/cardsfolder/upcoming/bad_wolf_bay.txt
  forge-gui/res/cardsfolder/upcoming/exterminate.txt
  forge-gui/res/cardsfolder/upcoming/tardis.txt
  forge-gui/res/cardsfolder/upcoming/tardis_bay.txt
  forge-gui/res/cardsfolder/upcoming/the_doctors_tomb.txt
  forge-gui/res/cardsfolder/upcoming/time_lord_regeneration.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set

#3620 Logic for Tyvar the Bellicose
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/ManaEffectAi.java
  forge-gui/res/cardsfolder/t/tyvar_the_bellicose.txt
Labels: AI

#3619 Adventure updates / bugfixes
  forge-gui-mobile/src/forge/adventure/data/RewardData.java
  forge-gui-mobile/src/forge/adventure/player/AdventurePlayer.java
  forge-gui-mobile/src/forge/adventure/scene/UIScene.java
  forge-gui-mobile/src/forge/adventure/stage/GameStage.java
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
  forge-gui-mobile/src/forge/adventure/stage/WorldStage.java
  forge-gui-mobile/src/forge/toolbox/FContainer.java
  forge-gui/res/adventure/common/maps/extensions/rename-waypoints-by-ID.js
  forge-gui/res/adventure/common/maps/map/barbariancamp/barbariancamp_bandit.tmx
  forge-gui/res/adventure/common/maps/map/cave/cave_bandit.tmx
  forge-gui/res/adventure/common/maps/obj/enemy.tx
  forge-gui/res/adventure/common/maps/obj/entry_down.tx
  forge-gui/res/adventure/common/maps/obj/entry_left.tx
  forge-gui/res/adventure/common/maps/obj/entry_right.tx
  forge-gui/res/adventure/common/maps/obj/entry_up.tx
  forge-gui/res/adventure/common/maps/tileset/dungeon-nocollide.tsx
  forge-gui/res/adventure/common/maps/tileset/dungeon.png
  forge-gui/res/adventure/common/maps/tileset/dungeon.tsx
  forge-gui/res/adventure/common/maps/tileset/main.tsx
  forge-gui/res/adventure/common/maps/tileset/rivers.tsx
  forge-gui/res/adventure/common/sprites/enemy/humanoid/human/rogue/pirate2.png
  forge-gui/res/adventure/common/sprites/enemy/humanoid/human/rogue/pirate3.atlas
  forge-gui/res/adventure/common/sprites/enemy/humanoid/human/rogue/pirate3.png
  forge-gui/res/blockdata/blocks.txt
Labels: Adventure

#3637 Fix creature haunting
  forge-game/src/main/java/forge/game/ability/effects/HauntEffect.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
Labels: Game Mechanics

#3641 Edition updates: WOE, WOC, WOT
  forge-gui/res/editions/Wilds of Eldraine Commander.txt
  forge-gui/res/editions/Wilds of Eldraine Enchanting Tales.txt
  forge-gui/res/editions/Wilds of Eldraine.txt
Labels: Upcoming Set

#3645 Edition updates: WOE, WOT
  forge-gui/res/editions/Wilds of Eldraine Enchanting Tales.txt
  forge-gui/res/editions/Wilds of Eldraine.txt
Labels: Upcoming Set

#3640 WOE: Bargain
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/spellability/OptionalCost.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityCondition.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityVariables.java
  forge-gui/res/cardsfolder/upcoming/realm_scorcher_hellkite.txt
  forge-gui/res/cardsfolder/upcoming/torch_the_tower.txt
Labels: Upcoming Set, Game Mechanics

#3667 Edition updates: WOE, WOT
  forge-gui/res/editions/Wilds of Eldraine Enchanting Tales.txt
  forge-gui/res/editions/Wilds of Eldraine.txt
Labels: Upcoming Set

#3655 WOE 7 cards
  forge-gui/res/cardsfolder/upcoming/ash_party_crasher.txt
  forge-gui/res/cardsfolder/upcoming/beanstalk_wurm_plant_beans.txt
  forge-gui/res/cardsfolder/upcoming/beluna_grandsquall_seek_thrills.txt
  forge-gui/res/cardsfolder/upcoming/beseech_the_mirror.txt
  forge-gui/res/cardsfolder/upcoming/blossoming_tortoise.txt
  forge-gui/res/cardsfolder/upcoming/break_the_spell.txt
  forge-gui/res/cardsfolder/upcoming/callous_sell_sword_burn_together.txt
Labels: Upcoming Set

#3672 Edition updates: SLX, WOE, WOT
  forge-gui/res/editions/Universes Within.txt
  forge-gui/res/editions/Wilds of Eldraine Enchanting Tales.txt
  forge-gui/res/editions/Wilds of Eldraine.txt
Labels: Upcoming Set

#3675 Adventure - Pathfinding update
  forge-gui-android/libs/arm64-v8a/libgdx-box2d.so
  forge-gui-android/libs/armeabi-v7a/libgdx-box2d.so
  forge-gui-android/libs/x86/libgdx-box2d.so
  forge-gui-android/libs/x86_64/libgdx-box2d.so
  forge-gui-mobile-dev/libs/gdx-box2d-platform-natives.jar
  forge-gui-mobile-dev/pom.xml
  forge-gui-mobile/pom.xml
  forge-gui-mobile/src/forge/adventure/character/EnemySprite.java
  forge-gui-mobile/src/forge/adventure/scene/RewardScene.java
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
  forge-gui-mobile/src/forge/adventure/util/pathfinding/Box2dRaycastCollisionDetector.java
  forge-gui-mobile/src/forge/adventure/util/pathfinding/EuclidianHeuristic.java
  forge-gui-mobile/src/forge/adventure/util/pathfinding/MovementBehavior.java
  forge-gui-mobile/src/forge/adventure/util/pathfinding/NavigationEdge.java
  forge-gui-mobile/src/forge/adventure/util/pathfinding/NavigationGraph.java
  forge-gui-mobile/src/forge/adventure/util/pathfinding/NavigationMap.java
  forge-gui-mobile/src/forge/adventure/util/pathfinding/NavigationVertex.java
  forge-gui-mobile/src/forge/adventure/util/pathfinding/ProgressableGraphPath.java
  forge-gui/res/adventure/common/decks/standard/archivist.dck
  forge-gui/res/adventure/common/decks/standard/golem_sentinel.dck
  forge-gui/res/adventure/common/decks/standard/golem_sentinel_2.dck
  forge-gui/res/adventure/common/decks/standard/golem_sentinel_3.dck
  forge-gui/res/adventure/common/decks/standard/pirate2.dck
  forge-gui/res/adventure/common/decks/standard/pirate3.dck
  forge-gui/res/adventure/common/decks/standard/pirate_captain_2.dck
  forge-gui/res/adventure/common/decks/standard/spirit.dck
  forge-gui/res/adventure/common/maps/map/_template.tmx
  forge-gui/res/adventure/common/maps/map/main_story/templeofchandra.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/library_of_varsil_0.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/library_of_varsil_1.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/library_of_varsil_2.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/library_of_varsil_3.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/library_of_varsil_4.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/shard_mines.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/waste_town_abandoned.tmx
  forge-gui/res/adventure/common/maps/tileset/main.tsx
  forge-gui/res/adventure/common/maps/tileset/rivers.tsx
  forge-gui/res/adventure/common/sprites/enemy/construct/golem_4.atlas
  forge-gui/res/adventure/common/sprites/enemy/construct/golem_4.png
  forge-gui/res/adventure/common/sprites/enemy/construct/myr.atlas
  forge-gui/res/adventure/common/sprites/enemy/construct/myr.png
  forge-gui/res/adventure/common/sprites/enemy/humanoid/human/rogue/pirate2.atlas
  forge-gui/res/adventure/common/sprites/enemy/humanoid/human/wizard/archivist.atlas
  forge-gui/res/adventure/common/sprites/enemy/humanoid/human/wizard/archivist.png
  forge-gui/res/adventure/common/world/enemies.json
  forge-gui/res/adventure/common/world/points_of_interest.json
Labels: Adventure

#3663 WOE 10 cards
  forge-gui/res/cardsfolder/upcoming/elvish_archivist.txt
  forge-gui/res/cardsfolder/upcoming/expel_the_interlopers.txt
  forge-gui/res/cardsfolder/upcoming/restless_bivouac.txt
  forge-gui/res/cardsfolder/upcoming/restless_cottage.txt
  forge-gui/res/cardsfolder/upcoming/restless_fortress.txt
  forge-gui/res/cardsfolder/upcoming/restless_spire.txt
  forge-gui/res/cardsfolder/upcoming/restless_vinestalk.txt
  forge-gui/res/cardsfolder/upcoming/tangled_colony.txt
  forge-gui/res/cardsfolder/upcoming/the_goose_mother.txt
  forge-gui/res/cardsfolder/upcoming/thunderous_debut.txt
  forge-gui/res/cardsfolder/upcoming/werefox_bodyguard.txt
  forge-gui/res/tokenscripts/b_1_1_rat_noblock.txt
Labels: Upcoming Set

#3670 WOE 5 cards
  forge-gui/res/cardsfolder/upcoming/agatha_of_the_vile_cauldron.txt
  forge-gui/res/cardsfolder/upcoming/agathas_champion.txt
  forge-gui/res/cardsfolder/upcoming/agathas_soul_cauldron.txt
  forge-gui/res/cardsfolder/upcoming/decadent_dragon_expensive_taste.txt
  forge-gui/res/cardsfolder/upcoming/edgewall_inn.txt
Labels: Upcoming Set

#3680 Edition updates: WOC, WOE, WOT
  forge-gui/res/editions/Wilds of Eldraine Commander.txt
  forge-gui/res/editions/Wilds of Eldraine Enchanting Tales.txt
  forge-gui/res/editions/Wilds of Eldraine.txt
Labels: Upcoming Set

#3681 Adventure Teferi Fix
  forge-gui/res/adventure/common/world/points_of_interest.json
Labels: Adventure

#3684 catlair 3 spawn freeze fix
  forge-gui/res/adventure/common/maps/map/catlair/catlair_3.tmx
Labels: Adventure

#3683 Minor Adventure bug fixes
  forge-gui-mobile/src/forge/adventure/character/EnemySprite.java
  forge-gui-mobile/src/forge/adventure/player/PlayerStatistic.java
  forge-gui/res/cardsfolder/d/demonic_lore.txt
Labels: Adventure

#3689 Edition updates: WOC, WOE, WOT
  forge-gui/res/editions/Wilds of Eldraine Commander.txt
  forge-gui/res/editions/Wilds of Eldraine Enchanting Tales.txt
  forge-gui/res/editions/Wilds of Eldraine.txt
Labels: Upcoming Set

#3693 Commander Masters Update Bulletin
  forge-game/src/main/java/forge/game/ability/effects/ChangeCombatantsEffect.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/d/dwarven_landslide.txt
  forge-gui/res/cardsfolder/p/portal_mage.txt
  forge-gui/res/cardsfolder/t/triumph_of_saint_katherine.txt
  forge-gui/res/cardsfolder/w/windshaper_planetar.txt
  forge-gui/res/cardsfolder/w/wulfgar_of_icewind_dale.txt
Labels: Rules/Oracle Changes

#3676 WOE 12 cards
  forge-gui/res/cardsfolder/upcoming/a_tale_for_the_ages.txt
  forge-gui/res/cardsfolder/upcoming/archon_of_the_wild_rose.txt
  forge-gui/res/cardsfolder/upcoming/armory_mice.txt
  forge-gui/res/cardsfolder/upcoming/ashioks_reaper.txt
  forge-gui/res/cardsfolder/upcoming/back_for_seconds.txt
  forge-gui/res/cardsfolder/upcoming/belligerent_of_the_ball.txt
  forge-gui/res/cardsfolder/upcoming/bitter_chill.txt
  forge-gui/res/cardsfolder/upcoming/boundary_lands_ranger.txt
  forge-gui/res/cardsfolder/upcoming/bramble_familiar_fetch_quest.txt
  forge-gui/res/cardsfolder/upcoming/brave_the_wilds.txt
  forge-gui/res/cardsfolder/upcoming/chancellor_of_tales.txt
  forge-gui/res/cardsfolder/upcoming/three_blind_mice.txt
Labels: Upcoming Set

#3698 Adventure fixes
  forge-gui/res/adventure/common/maps/map/fort/fort_blue_3_factory.tmx
  forge-gui/res/adventure/common/world/enemies.json
Labels: Adventure

#3704 Flash fix
  forge-ai/src/main/java/forge/ai/ability/TokenAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityNumLoyaltyAct.java
  forge-gui/res/cardsfolder/f/flash.txt
  forge-gui/res/cardsfolder/t/training_grounds.txt
Labels: Rules compliance

#3705 WOE 10 cards
  forge-gui/res/cardsfolder/upcoming/bespoke_battlegarb.txt
  forge-gui/res/cardsfolder/upcoming/bestial_bloodline.txt
  forge-gui/res/cardsfolder/upcoming/candy_trail.txt
  forge-gui/res/cardsfolder/upcoming/charging_hooligan.txt
  forge-gui/res/cardsfolder/upcoming/cheeky_house_mouse_squeak_by.txt
  forge-gui/res/cardsfolder/upcoming/collectors_vault.txt
  forge-gui/res/cardsfolder/upcoming/cooped_up.txt
  forge-gui/res/cardsfolder/upcoming/devouring_sugarmaw_have_for_dinner.txt
  forge-gui/res/cardsfolder/upcoming/discerning_financier.txt
  forge-gui/res/cardsfolder/upcoming/dream_spoilers.txt
Labels: Upcoming Set

#3701 WOE 8 cards
  forge-gui/res/cardsfolder/upcoming/aquatic_alchemist_bubble_up.txt
  forge-gui/res/cardsfolder/upcoming/archive_dragon.txt
  forge-gui/res/cardsfolder/upcoming/archons_glory.txt
  forge-gui/res/cardsfolder/upcoming/barrow_naughty.txt
  forge-gui/res/cardsfolder/upcoming/bellowing_bruiser_beat_a_path.txt
  forge-gui/res/cardsfolder/upcoming/belunas_gatekeeper_entry_denied.txt
  forge-gui/res/cardsfolder/upcoming/candy_grapple.txt
  forge-gui/res/cardsfolder/upcoming/sentinel_of_lost_lore.txt
Labels: Upcoming Set

#3706 Update points_of_interest.json
  forge-gui/res/adventure/common/world/points_of_interest.json
Labels: Adventure

#3695 Role: add StateBasedAction
  forge-ai/src/main/java/forge/ai/ability/TokenAi.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-gui/res/cardsfolder/upcoming/spellbook_vendor.txt
  forge-gui/res/cardsfolder/upcoming/spiteful_hexmage.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/tokenscripts/role_cursed.txt
  forge-gui/res/tokenscripts/role_monster.txt
  forge-gui/res/tokenscripts/role_royal.txt
  forge-gui/res/tokenscripts/role_sorcerer.txt
  forge-gui/res/tokenscripts/role_virtuous.txt
  forge-gui/res/tokenscripts/role_wicked.txt
  forge-gui/res/tokenscripts/role_young_hero.txt
Labels: Game Mechanics, AI

#3712 Edition updates: Secret Lair Fall Superdrop 2023 & PLIST
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/The List.txt
Labels: Upcoming Set

#3713 Update additional cards for Explorer formats
  forge-gui/res/formats/Archived/Explorer/2022-04-28.txt
  forge-gui/res/formats/Archived/Explorer/2022-05-12.txt
  forge-gui/res/formats/Archived/Explorer/2022-06-09.txt
  forge-gui/res/formats/Archived/Explorer/2022-07-07.txt
  forge-gui/res/formats/Archived/Explorer/2022-07-28.txt
  forge-gui/res/formats/Archived/Explorer/2022-09-01.txt
  forge-gui/res/formats/Archived/Explorer/2022-11-15.txt
  forge-gui/res/formats/Archived/Explorer/2022-12-13.txt
  forge-gui/res/formats/Archived/Explorer/2023-02-07.txt
  forge-gui/res/formats/Archived/Explorer/2023-03-21.txt
  forge-gui/res/formats/Archived/Explorer/2023-04-18.txt
  forge-gui/res/formats/Archived/Explorer/2023-05-11.txt
  forge-gui/res/formats/Archived/Explorer/2023-07-18.txt
  forge-gui/res/formats/Archived/Explorer/2023-09-05.txt
Labels: Format Changes

#3636 WOE/WOC all 38 Role cards + Sleep Cursed Faerie
  forge-gui/res/cardsfolder/upcoming/asinine_antics.txt
  forge-gui/res/cardsfolder/upcoming/become_brutes.txt
  forge-gui/res/cardsfolder/upcoming/besotted_knight_betroth_the_beast.txt
  forge-gui/res/cardsfolder/upcoming/charmed_clothier.txt
  forge-gui/res/cardsfolder/upcoming/charming_scoundrel.txt
  forge-gui/res/cardsfolder/upcoming/conceited_witch_price_of_beauty.txt
  forge-gui/res/cardsfolder/upcoming/curse_of_the_werefox.txt
  forge-gui/res/cardsfolder/upcoming/cursed_courtier.txt
  forge-gui/res/cardsfolder/upcoming/cut_in.txt
  forge-gui/res/cardsfolder/upcoming/diminisher_witch.txt
  forge-gui/res/cardsfolder/upcoming/ellivere_of_the_wild_court.txt
  forge-gui/res/cardsfolder/upcoming/embereth_veteran.txt
  forge-gui/res/cardsfolder/upcoming/eriettes_whisper.txt
  forge-gui/res/cardsfolder/upcoming/faunsbane_troll.txt
  forge-gui/res/cardsfolder/upcoming/ferocious_werefox_guard_change.txt
  forge-gui/res/cardsfolder/upcoming/gadwicks_first_duel.txt
  forge-gui/res/cardsfolder/upcoming/giant_inheritance.txt
  forge-gui/res/cardsfolder/upcoming/gylwain_casting_director.txt
  forge-gui/res/cardsfolder/upcoming/living_lectern.txt
  forge-gui/res/cardsfolder/upcoming/lord_skitters_blessing.txt
  forge-gui/res/cardsfolder/upcoming/merry_bards.txt
  forge-gui/res/cardsfolder/upcoming/monstrous_rage.txt
  forge-gui/res/cardsfolder/upcoming/not_dead_after_all.txt
  forge-gui/res/cardsfolder/upcoming/protective_parents.txt
  forge-gui/res/cardsfolder/upcoming/redtooth_genealogist.txt
  forge-gui/res/cardsfolder/upcoming/return_triumphant.txt
  forge-gui/res/cardsfolder/upcoming/royal_treatment.txt
  forge-gui/res/cardsfolder/upcoming/shatter_the_oath.txt
  forge-gui/res/cardsfolder/upcoming/sleep_cursed_faerie.txt
  forge-gui/res/cardsfolder/upcoming/splashy_spellcaster.txt
  forge-gui/res/cardsfolder/upcoming/syr_armont_the_redeemer.txt
  forge-gui/res/cardsfolder/upcoming/the_witchs_vanity.txt
  forge-gui/res/cardsfolder/upcoming/twisted_fealty.txt
  forge-gui/res/cardsfolder/upcoming/twisted_sewer_witch.txt
  forge-gui/res/cardsfolder/upcoming/unassuming_sage.txt
  forge-gui/res/cardsfolder/upcoming/vantress_transmuter.txt
  forge-gui/res/cardsfolder/upcoming/witchs_mark.txt
  forge-gui/res/tokenscripts/role_cursed.txt
  forge-gui/res/tokenscripts/role_monster.txt
  forge-gui/res/tokenscripts/role_sorcerer.txt
  forge-gui/res/tokenscripts/role_virtuous.txt
  forge-gui/res/tokenscripts/role_young_hero.txt
Labels: Upcoming Set

#3714 Adventure - minor map updates
  forge-gui-mobile/src/forge/adventure/character/EnemySprite.java
  forge-gui-mobile/src/forge/adventure/util/pathfinding/MovementBehavior.java
  forge-gui/res/adventure/common/maps/map/fort/fort_colorless_2_wizards.tmx
Labels: Adventure

#3715 Edition updates: WHO & P23
  forge-gui/res/editions/Doctor Who Commander.txt
  forge-gui/res/editions/Judge Gift Cards 2023.txt
Labels: Upcoming Set

#3711 WOE 22 cards
  forge-gui/res/cardsfolder/upcoming/dutiful_griffin.txt
  forge-gui/res/cardsfolder/upcoming/edgewall_pack.txt
  forge-gui/res/cardsfolder/upcoming/eerie_interference.txt
  forge-gui/res/cardsfolder/upcoming/ego_drain.txt
  forge-gui/res/cardsfolder/upcoming/eriettes_tempting_apple.txt
  forge-gui/res/cardsfolder/upcoming/experimental_confectioner.txt
  forge-gui/res/cardsfolder/upcoming/extraordinary_journey.txt
  forge-gui/res/cardsfolder/upcoming/faerie_dreamthief.txt
  forge-gui/res/cardsfolder/upcoming/faerie_fencing.txt
  forge-gui/res/cardsfolder/upcoming/faerie_slumber_party.txt
  forge-gui/res/cardsfolder/upcoming/farsight_ritual.txt
  forge-gui/res/cardsfolder/upcoming/feed_the_cauldron.txt
  forge-gui/res/cardsfolder/upcoming/fell_horseman_deathly_ride.txt
  forge-gui/res/cardsfolder/upcoming/feral_encounter.txt
  forge-gui/res/cardsfolder/upcoming/flick_a_coin.txt
  forge-gui/res/cardsfolder/upcoming/food_coma.txt
  forge-gui/res/cardsfolder/upcoming/food_fight.txt
  forge-gui/res/cardsfolder/upcoming/frantic_firebolt.txt
  forge-gui/res/cardsfolder/upcoming/freeze_in_place.txt
  forge-gui/res/cardsfolder/upcoming/frolicking_familiar_blow_off_steam.txt
  forge-gui/res/cardsfolder/upcoming/frostbridge_guard.txt
  forge-gui/res/cardsfolder/upcoming/gallant_pie_wielder.txt
  forge-gui/res/tokenscripts/u_1_1_faerie_flying_cantblock.txt
Labels: Upcoming Set
