Repository Card-Forge/forge, pull requests merged in 2023-03, with the labels that each got.

#2581 YONE 6 cards
  forge-gui/res/cardsfolder/upcoming/ghalma_the_shaper.txt
  forge-gui/res/cardsfolder/upcoming/hexgold_sledge.txt
  forge-gui/res/cardsfolder/upcoming/ichor_aberration.txt
  forge-gui/res/cardsfolder/upcoming/kembas_outfitter.txt
  forge-gui/res/cardsfolder/upcoming/nettling_host.txt
  forge-gui/res/cardsfolder/upcoming/norns_fetchling.txt
Labels: Upcoming Set

#2595 Name fix for Ghalma the Shaper
  forge-gui/res/cardsfolder/upcoming/ghalma_the_shaper.txt
Labels: Card Cleanup

#2588 Tileset update for Adventure
  forge-gui/res/adventure/Shandalar/custom_cards/jaces_signature_hoodie.txt
  forge-gui/res/adventure/Shandalar/maps/main.tiled-session
  forge-gui/res/adventure/Shandalar/maps/tileset/main.png
  forge-gui/res/adventure/Shandalar/maps/tileset/main.xcf
Labels: Adventure

#2596 Tileset corrections
  forge-gui/res/adventure/Shandalar/maps/main.tiled-session
  forge-gui/res/adventure/Shandalar/maps/tileset/main.png
  forge-gui/res/adventure/Shandalar/maps/tileset/main.xcf
Labels: Adventure

#2602 update bounding box
  forge-gui-mobile/src/forge/adventure/character/EnemySprite.java
  forge-gui/res/adventure/Shandalar/sprites/dungeon/fox.atlas
  forge-gui/res/adventure/Shandalar/sprites/dungeon/fox.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/ooze.atlas
  forge-gui/res/adventure/Shandalar/sprites/dungeon/ooze.png
  forge-gui/res/adventure/Shandalar/world/enemies.json
Labels: Adventure

#2604 update sprite exposures
  forge-gui-mobile/src/forge/adventure/data/EffectData.java
  forge-gui/res/adventure/Shandalar/sprites/dungeon/crab.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/fox.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/giant_crab.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/kobold.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/oozeboss.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/slimefoot.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/squirrel.png
Labels: Adventure

#2605 Fix Revival Experiment via handlePaid cleanup
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/RepeatEachEffect.java
  forge-gui/res/cardsfolder/b/barrel_down_sokenzan.txt
  forge-gui/res/cardsfolder/c/chandra_flamecaller.txt
  forge-gui/res/cardsfolder/c/corpseweft.txt
  forge-gui/res/cardsfolder/d/dark_deal.txt
  forge-gui/res/cardsfolder/d/devouring_rage.txt
  forge-gui/res/cardsfolder/f/flux.txt
  forge-gui/res/cardsfolder/f/fracturing_gust.txt
  forge-gui/res/cardsfolder/h/heartwarming_redemption.txt
  forge-gui/res/cardsfolder/h/hellfire.txt
  forge-gui/res/cardsfolder/i/incendiary_command.txt
  forge-gui/res/cardsfolder/i/into_the_night.txt
  forge-gui/res/cardsfolder/j/jasmine_seer.txt
  forge-gui/res/cardsfolder/k/khorvaths_fury.txt
  forge-gui/res/cardsfolder/m/metalworker.txt
  forge-gui/res/cardsfolder/m/mogg_infestation.txt
  forge-gui/res/cardsfolder/m/molten_psyche.txt
  forge-gui/res/cardsfolder/m/multanis_decree.txt
  forge-gui/res/cardsfolder/o/organ_harvest.txt
  forge-gui/res/cardsfolder/r/rain_of_daggers.txt
  forge-gui/res/cardsfolder/r/renounce.txt
  forge-gui/res/cardsfolder/r/revival_experiment.txt
  forge-gui/res/cardsfolder/r/righteous_fury.txt
  forge-gui/res/cardsfolder/s/scent_of_jasmine.txt
  forge-gui/res/cardsfolder/w/whirlpool_warrior.txt
  forge-gui/res/cardsfolder/w/winds_of_change.txt
Labels: Card Cleanup, Card Patch

#2608 New Farm Dungeon + new mobs
  forge-gui/res/adventure/Shandalar/custom_card_pics/Slimefoot's Boss Effect.fullborder.jpg
  forge-gui/res/adventure/Shandalar/custom_cards/scarecrow_captain.txt
  forge-gui/res/adventure/Shandalar/decks/boar.json
  forge-gui/res/adventure/Shandalar/decks/bull.dck
  forge-gui/res/adventure/Shandalar/decks/chicken.dck
  forge-gui/res/adventure/Shandalar/decks/gorilla.dck
  forge-gui/res/adventure/Shandalar/decks/horse.dck
  forge-gui/res/adventure/Shandalar/decks/insect.dck
  forge-gui/res/adventure/Shandalar/decks/scarecrow.dck
  forge-gui/res/adventure/Shandalar/decks/scarecrowcaptain.dck
  forge-gui/res/adventure/Shandalar/maps/main.tiled-session
  forge-gui/res/adventure/Shandalar/maps/map/grove_4.tmx
  forge-gui/res/adventure/Shandalar/maps/map/merfolkpool_1.tmx
  forge-gui/res/adventure/Shandalar/maps/map/merfolkpool_2.tmx
  forge-gui/res/adventure/Shandalar/maps/map/merfolkpool_3.tmx
  forge-gui/res/adventure/Shandalar/maps/map/merfolkpool_4.tmx
  forge-gui/res/adventure/Shandalar/maps/map/merfolkpool_5.tmx
  forge-gui/res/adventure/Shandalar/maps/map/scarecrow_farm.tmx
  forge-gui/res/adventure/Shandalar/maps/tileset/buildings.atlas
  forge-gui/res/adventure/Shandalar/maps/tileset/main.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/boar.atlas
  forge-gui/res/adventure/Shandalar/sprites/dungeon/boar.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/bull.atlas
  forge-gui/res/adventure/Shandalar/sprites/dungeon/bull.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/chicken.atlas
  forge-gui/res/adventure/Shandalar/sprites/dungeon/chicken.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/gorilla.atlas
  forge-gui/res/adventure/Shandalar/sprites/dungeon/gorilla.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/horse.atlas
  forge-gui/res/adventure/Shandalar/sprites/dungeon/horse.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/insect.atlas
  forge-gui/res/adventure/Shandalar/sprites/dungeon/insect.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/scarecrow.atlas
  forge-gui/res/adventure/Shandalar/sprites/dungeon/scarecrow.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/scarecrowcaptain.atlas
  forge-gui/res/adventure/Shandalar/sprites/dungeon/scarecrowcaptain.png
  forge-gui/res/adventure/Shandalar/sprites/items.atlas
  forge-gui/res/adventure/Shandalar/world/black.json
  forge-gui/res/adventure/Shandalar/world/enemies.json
  forge-gui/res/adventure/Shandalar/world/green.json
  forge-gui/res/adventure/Shandalar/world/points_of_interest.json
  forge-gui/res/adventure/Shandalar/world/red.json
  forge-gui/res/adventure/Shandalar/world/waste.json
  forge-gui/res/adventure/Shandalar/world/white.json
Labels: Adventure

#2593 [[Squash Merge]] YONE 6 cards
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-gui/res/adventure/Shandalar/custom_cards/garruk_boss_effect_phasetwo.txt
  forge-gui/res/cardsfolder/upcoming/darksteel_hydra.txt
  forge-gui/res/cardsfolder/upcoming/march_toward_perfection.txt
  forge-gui/res/cardsfolder/upcoming/phyrexian_scrapyard.txt
  forge-gui/res/cardsfolder/upcoming/rothga_bonded_engulfer.txt
  forge-gui/res/cardsfolder/upcoming/seething_skitter_priest.txt
  forge-gui/res/cardsfolder/upcoming/sheoldreds_assimilator.txt
  forge-gui/res/cardsfolder/upcoming/surgical_metamorph.txt
  forge-gui/res/cardsfolder/upcoming/tezzerets_reckoning.txt
Labels: Upcoming Set

#2618 Fix refund timing
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/b/biblioplex_assistant.txt
  forge-gui/res/cardsfolder/c/canoptek_tomb_sentinel.txt
  forge-gui/res/cardsfolder/c/citizens_arrest.txt
  forge-gui/res/cardsfolder/d/dazzling_sphinx.txt
  forge-gui/res/cardsfolder/d/deadwood_treefolk.txt
  forge-gui/res/cardsfolder/g/green_slime.txt
  forge-gui/res/cardsfolder/h/hissing_miasma.txt
  forge-gui/res/cardsfolder/h/hunter_of_eyeblights.txt
  forge-gui/res/cardsfolder/i/ixhel_scion_of_atraxa.txt
  forge-gui/res/cardsfolder/j/juggernaut_peddler.txt
  forge-gui/res/cardsfolder/p/prison_realm.txt
  forge-gui/res/cardsfolder/r/radiant_epicure.txt
  forge-gui/res/cardsfolder/r/righteous_valkyrie.txt
  forge-gui/res/cardsfolder/r/rivaz_of_the_claw.txt
  forge-gui/res/cardsfolder/s/stone_retrieval_unit.txt
  forge-gui/res/cardsfolder/t/tyrannical_pitlord.txt
  forge-gui/res/cardsfolder/upcoming/phyresis_roach.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: AI, Card Cleanup, Card Patch

#2611 Fix static trigger messing up LTB trigger
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
Labels: Game Mechanics

#2621 YONE: Contagion Dispenser + Skullpiercer Gnat
  forge-gui/res/cardsfolder/upcoming/contagion_dispenser.txt
  forge-gui/res/cardsfolder/upcoming/skullpiercer_gnat.txt
Labels: Upcoming Set

#2626 Fix Churning Reservoir NPE
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/cost/CostExile.java
  forge-game/src/main/java/forge/game/cost/CostUnattach.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/c/churning_reservoir.txt
  forge-gui/res/cardsfolder/f/forgehammer_centurion.txt
  forge-gui/res/cardsfolder/t/tetravus.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Card Patch, Crash fix

#2631 fix deckaward alignment
  forge-gui-mobile/src/forge/adventure/scene/NewGameScene.java
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
  forge-gui-mobile/src/forge/adventure/util/Controls.java
Labels: Adventure

#2632 adjust effect timing, center particle effect animation based on scale
  forge-gui-mobile/src/forge/adventure/data/EffectData.java
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
  forge-gui-mobile/src/forge/adventure/stage/WorldStage.java
Labels: Adventure

#2634 Update lukamina_moon_druid.txt
  forge-gui/res/cardsfolder/l/lukamina_moon_druid.txt
Labels: Card Patch

#2638 Improve exposure new sprites
  forge-gui/res/adventure/Shandalar/sprites/dungeon/boar.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/bull.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/chicken.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/gorilla.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/horse.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/insect.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/scarecrow.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/scarecrowcaptain.png
  forge-gui/res/adventure/Shandalar/world/enemies.json
Labels: Adventure

#2645 update scrollable tables
  forge-gui-mobile/src/forge/adventure/scene/DeckSelectScene.java
  forge-gui-mobile/src/forge/adventure/scene/InventoryScene.java
  forge-gui-mobile/src/forge/adventure/scene/PlayerStatisticScene.java
  forge-gui-mobile/src/forge/adventure/scene/SaveLoadScene.java
  forge-gui/res/adventure/Shandalar/ui/deck_selector.json
  forge-gui/res/adventure/Shandalar/ui/deck_selector_portrait.json
Labels: Adventure

#2644 Fix Make an Example
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
  forge-core/src/main/java/forge/StaticData.java
  forge-game/src/main/java/forge/game/ability/effects/TwoPilesEffect.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCanAttackDefender.java
  forge-game/src/main/java/forge/game/trigger/TriggerSacrificed.java
  forge-gui/res/cardsfolder/p/phyrexian_portal.txt
Labels: Card Patch

#2649 Some cleanup
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-ai/src/main/java/forge/ai/ability/DamagePreventAi.java
  forge-ai/src/main/java/forge/ai/ability/DebuffAi.java
  forge-ai/src/main/java/forge/ai/ability/ProtectAi.java
  forge-ai/src/main/java/forge/ai/ability/PumpAi.java
  forge-ai/src/main/java/forge/ai/ability/SetStateAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/PumpAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PumpEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RepeatEachEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RepeatEffect.java
  forge-gui/res/cardsfolder/d/desolation.txt
  forge-gui/res/cardsfolder/w/wave_of_vitriol.txt
Labels: Card Cleanup

#2651 fix particle effect initial position
  forge-gui-mobile/src/forge/adventure/character/MapActor.java
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
  forge-gui-mobile/src/forge/adventure/stage/WorldStage.java
Labels: Adventure

#2620 GameFormat: filter Rebalanced cards
  forge-core/src/main/java/forge/StaticData.java
  forge-core/src/main/java/forge/card/CardEdition.java
  forge-core/src/main/java/forge/item/IPaperCard.java
  forge-core/src/main/java/forge/item/ItemPredicate.java
  forge-core/src/main/java/forge/item/PaperCard.java
  forge-core/src/main/java/forge/item/PaperToken.java
  forge-game/src/main/java/forge/game/GameFormat.java
Labels: Format Changes

#2661 update PlayerStatisticScene
  forge-gui-mobile/src/forge/adventure/scene/PlayerStatisticScene.java
  forge-gui/res/adventure/Shandalar/sprites/dungeon/ooze.atlas
  forge-gui/res/adventure/Shandalar/sprites/items.atlas
  forge-gui/res/adventure/Shandalar/ui/statistic.json
  forge-gui/res/adventure/Shandalar/ui/statistic_portrait.json
  forge-gui/src/main/java/forge/localinstance/achievements/Achievement.java
Labels: Adventure

#2667 three alchemy fixes
  forge-gui/res/cardsfolder/h/hurkyls_prodigy.txt
  forge-gui/res/cardsfolder/s/skyline_savior.txt
  forge-gui/res/cardsfolder/upcoming/mephidross_slime.txt
Labels: Card Patch

#2662 Anti-Cheat: fix refunding wrong mana
  forge-game/src/main/java/forge/game/cost/CostExile.java
  forge-game/src/main/java/forge/game/mana/ManaPool.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/upcoming/arek_false_goldwarden.txt
Labels: bug, Card Patch

#2671 Update tawnoss_tinkering.txt
  forge-gui/res/cardsfolder/t/tawnoss_tinkering.txt
Labels: Card Patch

#2670 Fix using old target from previous checks
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-gui/res/cardsfolder/d/domris_ambush.txt
Labels: AI

#2678 fix dialog voiceFile not playing on Android
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
  forge-gui-mobile/src/forge/adventure/util/MapDialog.java
  forge-gui/res/skins/default/sprite_adventure.png
  forge-gui/src/main/java/forge/localinstance/skin/FSkinProp.java
Labels: Adventure

#2682 update Achievement Trophies
  forge-gui-desktop/src/main/java/forge/GuiDesktop.java
  forge-gui-mobile/src/forge/GuiMobile.java
  forge-gui-mobile/src/forge/screens/limited/LoadSealedScreen.java
  forge-gui-mobile/src/forge/screens/planarconquest/ConquestPlaneswalkersScreen.java
  forge-gui-mobile/src/forge/screens/planarconquest/NewConquestScreen.java
  forge-gui/src/main/java/forge/gamemodes/planarconquest/ConquestData.java
  forge-gui/src/main/java/forge/gui/interfaces/IGuiBase.java
  forge-gui/src/main/java/forge/localinstance/achievements/Achievement.java
  forge-gui/src/main/java/forge/localinstance/achievements/PlaneswalkerAchievements.java
Labels: GUI

#2685 Remove some obsolete stuff
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-core/src/main/java/forge/card/CardRulesPredicates.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/CounterEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/mana/ManaPool.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui-desktop/src/main/java/forge/screens/match/controllers/CField.java
  forge-gui/src/main/java/forge/gamemodes/match/input/InputPayMana.java
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Game Mechanics

#2689 Fix Thelon
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-game/src/main/java/forge/game/cost/Cost.java
  forge-game/src/main/java/forge/game/cost/CostExile.java
  forge-gui/res/cardsfolder/t/thelon_of_havenwood.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Rules compliance

#2690 fix holdtooltip bug
  forge-gui-mobile/src/forge/adventure/scene/RewardScene.java
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
Labels: bug, Adventure, Android

#2691 Edition updates: LTR, LTC, SIR, SIS (new)
  forge-gui/res/editions/Shadows of the Past.txt
  forge-gui/res/editions/Shadows over Innistrad Remastered.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth Commander.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth.txt
Labels: Upcoming Set

#2693 Small edition fixes
  forge-gui/res/editions/Shadows of the Past.txt
  forge-gui/res/editions/Shadows over Innistrad Remastered.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth.txt
Labels: Upcoming Set

#2694 LOTR 5 cards
  forge-gui/res/cardsfolder/upcoming/aragorn_and_arwen_wed.txt
  forge-gui/res/cardsfolder/upcoming/radagast_wizard_of_wilds.txt
  forge-gui/res/cardsfolder/upcoming/sam_loyal_attendant.txt
  forge-gui/res/cardsfolder/upcoming/sauron_the_lidless_eye.txt
  forge-gui/res/cardsfolder/upcoming/the_shire.txt
Labels: Upcoming Set

#2703 CardFactoryUtil: Read Ahead use DisableTriggers
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityDisableTriggers.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-game/src/main/java/forge/game/trigger/TriggerCounterAdded.java
Labels: Game Mechanics

#2706 Bunch of fixes
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-ai/src/main/java/forge/ai/ability/AttachAi.java
  forge-ai/src/main/java/forge/ai/ability/CloneAi.java
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
  forge-game/src/main/java/forge/game/ability/effects/CountersNoteEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/c/creeping_chill.txt
  forge-gui/res/cardsfolder/k/kinzu_of_the_bleak_coven.txt
  forge-gui/res/cardsfolder/t/tawnoss_coffin.txt
  forge-gui/res/cardsfolder/t/timothar_baron_of_bats.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: AI, Card Cleanup, Card Patch, Rules compliance

#2698 Adds 1 dungeon, 2 enemies based on the Machine Orthodoxy
  forge-gui/res/adventure/Shandalar/decks/phyrexianangel.json
  forge-gui/res/adventure/Shandalar/decks/phyrexianduelist.json
  forge-gui/res/adventure/Shandalar/maps/map/phyrexian_w1.tmx
  forge-gui/res/adventure/Shandalar/maps/tileset/Phyrexian_Buildings.atlas
  forge-gui/res/adventure/Shandalar/maps/tileset/Phyrexian_Buildings.png
  forge-gui/res/adventure/Shandalar/maps/tileset/Phyrexian_Buildings.xcf
  forge-gui/res/adventure/Shandalar/maps/tileset/phyrexiantiles.png
  forge-gui/res/adventure/Shandalar/maps/tileset/phyrexiantiles.tsx
  forge-gui/res/adventure/Shandalar/maps/tileset/phyrexiantiles.xcf
  forge-gui/res/adventure/Shandalar/sprites/phyrexianangel.atlas
  forge-gui/res/adventure/Shandalar/sprites/phyrexianangel.png
  forge-gui/res/adventure/Shandalar/sprites/phyrexianduelist.atlas
  forge-gui/res/adventure/Shandalar/sprites/phyrexianduelist.png
  forge-gui/res/adventure/Shandalar/world/enemies.json
  forge-gui/res/adventure/Shandalar/world/points_of_interest.json
  forge-gui/res/adventure/Shandalar/world/white.json
Labels: Adventure

#2705 update adventure BGM..
  forge-gui-mobile/src/forge/Forge.java
  forge-gui-mobile/src/forge/adventure/scene/ArenaScene.java
  forge-gui-mobile/src/forge/adventure/scene/GameScene.java
  forge-gui-mobile/src/forge/adventure/scene/HudScene.java
  forge-gui-mobile/src/forge/adventure/scene/InventoryScene.java
  forge-gui-mobile/src/forge/adventure/scene/SaveLoadScene.java
  forge-gui-mobile/src/forge/adventure/stage/GameHUD.java
  forge-gui-mobile/src/forge/adventure/stage/MapSprite.java
  forge-gui-mobile/src/forge/adventure/stage/WorldStage.java
  forge-gui-mobile/src/forge/screens/match/MatchScreen.java
  forge-gui/res/adventure/music/black/black1.mp3
  forge-gui/res/adventure/music/blue/blue1.mp3
  forge-gui/res/adventure/music/cave/cave1.mp3
  forge-gui/res/adventure/music/green/green1.mp3
  forge-gui/res/adventure/music/match/match1.mp3
  forge-gui/res/adventure/music/match/match2.mp3
  forge-gui/res/adventure/music/match/match3.mp3
  forge-gui/res/adventure/music/menus/menu1.mp3
  forge-gui/res/adventure/music/red/red1.mp3
  forge-gui/res/adventure/music/town/town1.mp3
  forge-gui/res/adventure/music/white/white1.mp3
  forge-gui/src/main/java/forge/localinstance/properties/ForgeConstants.java
  forge-gui/src/main/java/forge/sound/MusicPlaylist.java
  forge-gui/src/main/java/forge/sound/SoundSystem.java
Labels: Adventure

#2709 Fix Defilers applying twice with MayPlay
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
Labels: bug

#2704 Booster Draft: SIR
  forge-gui/res/blockdata/blocks.txt
  forge-gui/res/draft/rankings.txt
  forge-gui/res/editions/Shadows over Innistrad Remastered.txt
Labels: Upcoming Set

#2716 Fix NPE when trying to build Charm description
  forge-ai/src/main/java/forge/ai/ability/CharmAi.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CopyPermanentEffect.java
  forge-game/src/main/java/forge/game/cost/CostDiscard.java
  forge-game/src/main/java/forge/game/cost/CostExile.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
Labels: Crash fix

#2715 Xira's Hive collision improvements + removal horse overworld
  forge-gui/res/adventure/Shandalar/maps/main.tiled-session
  forge-gui/res/adventure/Shandalar/maps/map/xira.tmx
  forge-gui/res/adventure/Shandalar/world/white.json
Labels: Adventure

#2717 GameEntityCounterTable: respect MaxFromEffect for Clockwork
  forge-game/src/main/java/forge/game/GameEntityCounterTable.java
Labels: Game Mechanics

#2590 Seek effect + SeekAll trigger for new Arena stuff
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/SeekEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerSeekAll.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-gui/res/cardsfolder/a/artillery_enthusiast.txt
  forge-gui/res/cardsfolder/b/back_alley_gardener.txt
  forge-gui/res/cardsfolder/b/bounty_of_the_deep.txt
  forge-gui/res/cardsfolder/c/cabaretti_revels.txt
  forge-gui/res/cardsfolder/c/chaos_balor.txt
  forge-gui/res/cardsfolder/c/choice_of_fortunes.txt
  forge-gui/res/cardsfolder/c/crucias_titan_of_the_waves.txt
  forge-gui/res/cardsfolder/d/darigaazs_whelp.txt
  forge-gui/res/cardsfolder/d/diviner_of_fates.txt
  forge-gui/res/cardsfolder/f/faceless_agent.txt
  forge-gui/res/cardsfolder/f/frenzied_geistblaster.txt
  forge-gui/res/cardsfolder/f/freyalise_skyshroud_partisan.txt
  forge-gui/res/cardsfolder/g/gate_of_the_black_dragon.txt
  forge-gui/res/cardsfolder/g/gate_to_manorborn.txt
  forge-gui/res/cardsfolder/g/gate_to_seatower.txt
  forge-gui/res/cardsfolder/g/gate_to_the_citadel.txt
  forge-gui/res/cardsfolder/g/gate_to_tumbledown.txt
  forge-gui/res/cardsfolder/g/geistpack_alpha.txt
  forge-gui/res/cardsfolder/g/ghitu_embercoiler.txt
  forge-gui/res/cardsfolder/g/gitrog_horror_of_zhava.txt
  forge-gui/res/cardsfolder/g/goblin_trapfinder.txt
  forge-gui/res/cardsfolder/h/hollowhenge_wrangler.txt
  forge-gui/res/cardsfolder/i/inquisitor_captain.txt
  forge-gui/res/cardsfolder/j/jukai_liberator.txt
  forge-gui/res/cardsfolder/k/kardum_patron_of_flames.txt
  forge-gui/res/cardsfolder/k/karlach_raging_tiefling.txt
  forge-gui/res/cardsfolder/k/kindred_denial.txt
  forge-gui/res/cardsfolder/k/klement_novice_acolyte.txt
  forge-gui/res/cardsfolder/l/laezel_githyanki_warrior.txt
  forge-gui/res/cardsfolder/l/lukamina_moon_druid.txt
  forge-gui/res/cardsfolder/n/norns_disassembly.txt
  forge-gui/res/cardsfolder/o/obsessive_collector.txt
  forge-gui/res/cardsfolder/p/puppet_raiser.txt
  forge-gui/res/cardsfolder/s/sarevok_the_usurper.txt
  forge-gui/res/cardsfolder/s/settle_the_wilds.txt
  forge-gui/res/cardsfolder/s/signature_spells.txt
  forge-gui/res/cardsfolder/s/skyshroud_lookout.txt
  forge-gui/res/cardsfolder/s/soulstealer_axe.txt
  forge-gui/res/cardsfolder/s/sunes_intervention.txt
  forge-gui/res/cardsfolder/t/trove_mage.txt
  forge-gui/res/cardsfolder/u/unexpected_conversion.txt
  forge-gui/res/cardsfolder/u/urzas_construction_drone.txt
  forge-gui/res/cardsfolder/upcoming/blightwing_whelp.txt
  forge-gui/res/cardsfolder/upcoming/glistening_extractor.txt
  forge-gui/res/cardsfolder/upcoming/innovative_metatect.txt
  forge-gui/res/cardsfolder/upcoming/phyrexian_harvester.txt
  forge-gui/res/cardsfolder/upcoming/spawning_pod.txt
  forge-gui/res/cardsfolder/upcoming/vexyr_ich_tekiks_heir.txt
  forge-gui/res/cardsfolder/v/vhal_eager_scholar.txt
  forge-gui/res/cardsfolder/y/yotian_courier.txt
Labels: Upcoming Set, Game Mechanics

#2721 Editions: Small fixes for MOM & MOC
  forge-gui/res/editions/March of the Machine Commander.txt
  forge-gui/res/editions/March of the Machine.txt
Labels: Upcoming Set

#2722 Fix Android Music, Add flip_card sfx
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/event/GameEventCardStatsChanged.java
  forge-gui-mobile/src/forge/adventure/scene/DuelScene.java
  forge-gui-mobile/src/forge/adventure/stage/GameHUD.java
  forge-gui-mobile/src/forge/adventure/util/MapDialog.java
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
  forge-gui/res/sound/flip_card.mp3
  forge-gui/src/main/java/forge/sound/EventVisualizer.java
  forge-gui/src/main/java/forge/sound/SoundEffectType.java
Labels: Adventure

#2723 Adventure lootupgrade
  forge-gui/res/adventure/Shandalar/world/enemies.json
Labels: Adventure

#2726 CountersPutEffect: remove MaxFromEffect, let the CounterTable handle it
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
Labels: Game Mechanics

#2734 Update Charm desc when turn restriction is lifted
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-ai/src/main/java/forge/ai/ability/CharmAi.java
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/cost/CostDecisionMakerBase.java
  forge-gui/res/cardsfolder/l/lazav_dimir_mastermind.txt
  forge-gui/res/cardsfolder/r/rasputin_dreamweaver.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: GUI

#2738 MOM archangel_elspeth.txt
  forge-gui/res/cardsfolder/upcoming/archangel_elspeth.txt
Labels: Upcoming Set

#2740 Update editions: MOM & SLD
  forge-gui/res/editions/March of the Machine.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#2744 Fix Tibalt dungeon
  forge-gui/res/adventure/Shandalar/custom_cards/tibalt_boss_effect.txt
  forge-gui/res/adventure/Shandalar/maps/main.tiled-session
  forge-gui/res/adventure/Shandalar/maps/map/tibalt.tmx
  forge-gui/res/adventure/Shandalar/maps/map/tibalt_f1.tmx
Labels: Adventure

#2745 Update edition: MOM
  forge-gui/res/editions/March of the Machine.txt
Labels: Upcoming Set

#2683 LTR: Mount Doom + 2 cards
  forge-gui/res/cardsfolder/upcoming/mount_doom.txt
  forge-gui/res/cardsfolder/upcoming/reprieve.txt
  forge-gui/res/cardsfolder/upcoming/you_cannot_pass!.txt
Labels: Upcoming Set

#2751 Fix some cards via cleanup
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/cost/CostExile.java
  forge-gui/res/cardsfolder/a/academy_rector.txt
  forge-gui/res/cardsfolder/a/arena_rector.txt
  forge-gui/res/cardsfolder/c/cavalier_of_thorns.txt
  forge-gui/res/cardsfolder/c/colfenors_urn.txt
  forge-gui/res/cardsfolder/c/creeping_chill.txt
  forge-gui/res/cardsfolder/g/gamekeeper.txt
  forge-gui/res/cardsfolder/g/greenbelt_rampager.txt
  forge-gui/res/cardsfolder/g/greenwarden_of_murasa.txt
  forge-gui/res/cardsfolder/i/iname_as_one.txt
  forge-gui/res/cardsfolder/k/kinzu_of_the_bleak_coven.txt
  forge-gui/res/cardsfolder/k/kozileks_return.txt
  forge-gui/res/cardsfolder/r/rooting_kavu.txt
  forge-gui/res/cardsfolder/t/timothar_baron_of_bats.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Card Cleanup, Card Patch

#2748 further improvements to tibalt dungeon
  forge-gui/res/adventure/Shandalar/custom_cards/tibalt_boss_effect.txt
  forge-gui/res/adventure/Shandalar/maps/main.tiled-session
  forge-gui/res/adventure/Shandalar/maps/map/tibalt.tmx
  forge-gui/res/adventure/Shandalar/maps/map/tibalt_f1.tmx
  forge-gui/res/adventure/Shandalar/maps/map/tibalt_f2.tmx
  forge-gui/res/adventure/Shandalar/world/enemies.json
Labels: Adventure

#2754 MOM: Wrenn and Realmbreaker
  forge-gui/res/cardsfolder/upcoming/wrenn_and_realmbreaker.txt
Labels: Upcoming Set

#2742 SLD 6 new DND cards
  forge-gui/res/cardsfolder/upcoming/doric_natures_warden_doric_owlbear_avenger.txt
  forge-gui/res/cardsfolder/upcoming/edgin_larcenous_lutenist.txt
  forge-gui/res/cardsfolder/upcoming/forge_neverwinter_charlatan.txt
  forge-gui/res/cardsfolder/upcoming/holga_relentless_rager.txt
  forge-gui/res/cardsfolder/upcoming/simon_wild_magic_sorcerer.txt
  forge-gui/res/cardsfolder/upcoming/xenk_paladin_unbroken.txt
Labels: Upcoming Set

#2763 fix blackscreen
  forge-gui-mobile/src/forge/adventure/character/MapActor.java
  forge-gui-mobile/src/forge/adventure/stage/MapSprite.java
Labels: Adventure

#2761 Madness fix
  forge-game/src/main/java/forge/game/GameEntityCounterTable.java
  forge-gui/res/cardsfolder/o/one_with_the_multiverse.txt
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: bug

#2765 Update tibalts_bag_of_tricks.txt
  forge-gui/res/adventure/Shandalar/custom_cards/tibalts_bag_of_tricks.txt
Labels: Adventure

#2713 CardFactory getCloneStates set PT for Vehicle
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardState.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
Labels: Game Mechanics

#2772 update inputconfirm cardview
  forge-gui/src/main/java/forge/gamemodes/match/input/InputConfirm.java
Labels: Mobile

#2776 Edition updates: MOM, MOC, MUL
  forge-gui/res/editions/March of the Machine Commander.txt
  forge-gui/res/editions/March of the Machine.txt
  forge-gui/res/editions/Multiverse Legends.txt
Labels: Upcoming Set

#2768 Magetower maps Revamp
  forge-gui/res/adventure/Shandalar/custom_cards/tibalt_boss_effect.txt
  forge-gui/res/adventure/Shandalar/custom_cards/tibalts_bag_of_tricks.txt
  forge-gui/res/adventure/Shandalar/decks/monk.json
  forge-gui/res/adventure/Shandalar/decks/reassemblingskeleton.dck
  forge-gui/res/adventure/Shandalar/maps/main.tiled-session
  forge-gui/res/adventure/Shandalar/maps/map/magetower_1.tmx
  forge-gui/res/adventure/Shandalar/maps/map/magetower_13.tmx
  forge-gui/res/adventure/Shandalar/maps/map/magetower_14.tmx
  forge-gui/res/adventure/Shandalar/maps/map/magetower_2.tmx
  forge-gui/res/adventure/Shandalar/maps/map/magetower_3.tmx
  forge-gui/res/adventure/Shandalar/maps/map/magetower_4.tmx
  forge-gui/res/adventure/Shandalar/maps/map/magetower_5.tmx
  forge-gui/res/adventure/Shandalar/maps/map/magetower_6.tmx
  forge-gui/res/adventure/Shandalar/maps/map/magetower_8.tmx
  forge-gui/res/adventure/Shandalar/maps/map/scarecrow_farm.tmx
  forge-gui/res/adventure/Shandalar/maps/map/tibalt.tmx
  forge-gui/res/adventure/Shandalar/sprites/dungeon/wildrat.atlas
  forge-gui/res/adventure/Shandalar/sprites/items.atlas
  forge-gui/res/adventure/Shandalar/world/black.json
  forge-gui/res/adventure/Shandalar/world/blue.json
  forge-gui/res/adventure/Shandalar/world/enemies.json
  forge-gui/res/adventure/Shandalar/world/green.json
  forge-gui/res/adventure/Shandalar/world/items.json
  forge-gui/res/adventure/Shandalar/world/points_of_interest.json
  forge-gui/res/adventure/Shandalar/world/red.json
  forge-gui/res/adventure/Shandalar/world/waste.json
  forge-gui/res/adventure/Shandalar/world/white.json
Labels: Adventure

#2785 Edition updates: MOM, MOC, MUL
  forge-gui/res/editions/March of the Machine Commander.txt
  forge-gui/res/editions/March of the Machine.txt
  forge-gui/res/editions/Multiverse Legends.txt
Labels: Upcoming Set

#2790 Edition updates: MOM, SCH
  forge-gui/res/editions/March of the Machine.txt
  forge-gui/res/editions/Store Championships.txt
Labels: Upcoming Set

#2789 MOM 7 new cards + some cleanup of the Magetower revamp
  forge-gui/res/adventure/Shandalar/maps/map/magetower_1.tmx
  forge-gui/res/adventure/Shandalar/maps/map/magetower_2.tmx
  forge-gui/res/adventure/Shandalar/maps/map/magetower_3.tmx
  forge-gui/res/adventure/Shandalar/maps/map/magetower_4.tmx
  forge-gui/res/adventure/Shandalar/maps/map/magetower_5.tmx
  forge-gui/res/adventure/Shandalar/maps/map/magetower_6.tmx
  forge-gui/res/adventure/Shandalar/maps/tileset/main.png
  forge-gui/res/adventure/Shandalar/sprites/dungeon/ooze.atlas
  forge-gui/res/adventure/Shandalar/sprites/dungeon/ooze.png
  forge-gui/res/cardsfolder/upcoming/alabaster_host_sanctifier.txt
  forge-gui/res/cardsfolder/upcoming/borborygmos_and_fblthp.txt
  forge-gui/res/cardsfolder/upcoming/elspeths_smite.txt
  forge-gui/res/cardsfolder/upcoming/etali_primal_conqueror_etali_primal_sickness.txt
  forge-gui/res/cardsfolder/upcoming/grafted_butcher.txt
  forge-gui/res/cardsfolder/upcoming/guardian_of_ghirapur.txt
  forge-gui/res/cardsfolder/upcoming/hoarding_broodlord.txt
Labels: Upcoming Set

#2794 Investigate fixes
  forge-game/src/main/java/forge/game/ability/effects/InvestigateEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RepeatEachEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/h/haakon_stromgald_scourge.txt
  forge-gui/res/cardsfolder/m/malicious_affliction.txt
  forge-gui/res/cardsfolder/t/tempting_contract.txt
Labels: Card Patch
