Repository Card-Forge/forge, pull requests merged in 2023-10, with the labels that each got.

#3838 fix Tibalt's item amount + removal P9 from loottables
  forge-gui/res/adventure/common/decks/standard/banditleader_hellbent.dck
  forge-gui/res/adventure/common/decks/standard/flame_elemental.dck
  forge-gui/res/adventure/common/decks/standard/merfolk_lord2.dck
  forge-gui/res/adventure/common/decks/standard/whitewizard_medium_aggro.dck
  forge-gui/res/adventure/common/world/enemies.json
Labels: Adventure

#3839 Some fixes
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeTargetsEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/b/bloodchief_ascension.txt
  forge-gui/res/cardsfolder/k/knight_of_the_ebon_legion.txt
  forge-gui/res/cardsfolder/l/lobelia_defender_of_bag_end.txt
  forge-gui/res/cardsfolder/l/ludevic_necro_alchemist.txt
  forge-gui/res/cardsfolder/m/meddle.txt
  forge-gui/res/cardsfolder/m/moonshae_pixie.txt
  forge-gui/res/cardsfolder/s/serra_paragon.txt
  forge-gui/res/cardsfolder/s/skarrgan_firebird.txt
  forge-gui/res/cardsfolder/u/urborg_scavengers.txt
  forge-gui/res/cardsfolder/w/war_elemental.txt
Labels: Card Patch

#3843 LKI: fix wrong state on stack
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-gui/res/cardsfolder/c/carnival_carnage.txt
  forge-gui/res/cardsfolder/upcoming/ruby_daring_tracker.txt
Labels: Game Mechanics, Card Patch

#3845 update theme check
  forge-gui-mobile/src/forge/assets/FSkin.java
Labels: Mobile

#3846 REX 2 cards
  forge-gui/res/cardsfolder/upcoming/huatli_poet_of_unity_roar_of_the_fifth_people.txt
  forge-gui/res/cardsfolder/upcoming/ian_malcolm_chaotician.txt
  forge-gui/res/cardsfolder/upcoming/welcome_to_jurassic_park.txt
  forge-gui/res/tokenscripts/g_3_3_dinosaur.txt
Labels: Upcoming Set

#3844 Some tweaks related to KW costs
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/ZoneExchangeEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/cost/CostPayment.java
  forge-gui/res/cardsfolder/b/braidss_frightful_return.txt
  forge-gui/res/cardsfolder/p/path_of_the_ghosthunter.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Game Mechanics

#3848 Edition updates: PW24, RVR, WHO
  forge-gui/res/editions/Doctor Who Commander.txt
  forge-gui/res/editions/Ravnica Remastered.txt
  forge-gui/res/editions/Wizards Play Network 2024.txt
Labels: Upcoming Set

#3854 Some fixes
  forge-ai/src/main/java/forge/ai/SpecialCardAi.java
  forge-ai/src/main/java/forge/ai/ability/PermanentCreatureAi.java
  forge-ai/src/main/java/forge/ai/ability/PermanentNoncreatureAi.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/StaticEffect.java
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-gui/res/cardsfolder/b/bridge_from_below.txt
  forge-gui/res/cardsfolder/f/force_of_savagery.txt
  forge-gui/res/cardsfolder/i/illusory_angel.txt
  forge-gui/res/cardsfolder/s/spoils_of_war.txt
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Card Cleanup, Card Patch

#3857 Edition update & add to formats: WHO
  forge-gui/res/editions/Doctor Who Commander.txt
  forge-gui/res/formats/Archived/Legacy/2023-10-13.txt
  forge-gui/res/formats/Archived/Vintage/2023-10-13.txt
  forge-gui/res/formats/Sanctioned/Legacy.txt
  forge-gui/res/formats/Sanctioned/Vintage.txt
Labels: Upcoming Set

#3858 Adventure small fixes
  forge-gui/res/adventure/Shandalar/world/quests.json
  forge-gui/res/adventure/common/custom_cards/kioras_bident.txt
  forge-gui/res/adventure/common/decks/standard/rat_poisonrat.dck
  forge-gui/res/adventure/common/maps/map/fort/fort_white_4_farm.tmx
  forge-gui/res/adventure/common/maps/map/minibosses/slime_hive.tmx
  forge-gui/res/adventure/common/sprites/enemy/beast/wildratpoison.atlas
  forge-gui/res/adventure/common/sprites/enemy/beast/wildratpoison.png
  forge-gui/res/adventure/common/sprites/enemy/dragon/dragonlarge.atlas
  forge-gui/res/adventure/common/sprites/enemy/dragon/dragonlarge.png
  forge-gui/res/adventure/common/sprites/enemy/giant/wanderinggiant.atlas
  forge-gui/res/adventure/common/sprites/enemy/giant/wanderinggiant.png
  forge-gui/res/adventure/common/sprites/enemy/ooze/giant_slime.atlas
  forge-gui/res/adventure/common/sprites/enemy/ooze/giant_slime.png
  forge-gui/res/adventure/common/sprites/enemy/ooze/ooze.png
  forge-gui/res/adventure/common/world/enemies.json
  forge-gui/res/adventure/common/world/points_of_interest.json
Labels: Adventure

#3856 Adventure - Graveyard map tweaks
  forge-gui/res/adventure/common/maps/map/graveyard_crypt/graveyard_3.tmx
  forge-gui/res/adventure/common/maps/map/hostiletown/zombietown.tmx
Labels: Adventure

#3860 Fix MultiwordType parsing
  forge-core/src/main/java/forge/card/CardType.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardNameEffect.java
  forge-gui/res/cardsfolder/s/syr_carah_the_bold.txt
  forge-gui/res/cardsfolder/s/syr_elenora_the_discerning.txt
  forge-gui/res/cardsfolder/s/syr_faren_the_hengehammer.txt
  forge-gui/res/cardsfolder/y/yorvo_lord_of_garenbrig.txt
Labels: Game Mechanics

#3863 Edition update: WHO
  forge-gui/res/editions/Doctor Who Commander.txt
Labels: Upcoming Set

#3866 indominus_rex_alpha.txt and support
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/m/mind_maggots.txt
  forge-gui/res/cardsfolder/upcoming/indominus_rex_alpha.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#3864 LTC Long List of the Ents + two card fixes
  forge-core/src/main/java/forge/util/Aggregates.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseTypeEffect.java
  forge-gui/res/cardsfolder/l/long_list_of_the_ents.txt
  forge-gui/res/cardsfolder/r/realms_befitting_my_majesty.txt
  forge-gui/res/cardsfolder/u/undercity_plunder.txt
Labels: Upcoming Set

#3865 Revert "Modify main game loop for use with basic AI unit tests (#3669)"
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/simulation/SimulationController.java
  forge-ai/src/main/java/forge/ai/simulation/SpellAbilityPicker.java
  forge-core/src/main/java/forge/StaticData.java
  forge-core/src/main/java/forge/deck/Deck.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-gui-desktop/src/main/java/forge/view/SimulateMatch.java
  forge-gui-desktop/src/test/java/forge/GameFuzzingTest.java
  forge-gui-desktop/src/test/java/forge/ai/AITest.java
  forge-gui-desktop/src/test/java/forge/ai/SpellAbilityPickerTest.java
  forge-gui-desktop/src/test/java/forge/ai/simulation/SimulationTest.java
Labels: Crash fix

#3855 WHO 7 cards
  forge-gui/res/cardsfolder/upcoming/bigger_on_the_inside.txt
  forge-gui/res/cardsfolder/upcoming/blink.txt
  forge-gui/res/cardsfolder/upcoming/crack_in_time.txt
  forge-gui/res/cardsfolder/upcoming/crisis_of_conscience.txt
  forge-gui/res/cardsfolder/upcoming/decaying_time_loop.txt
  forge-gui/res/cardsfolder/upcoming/dinosaurs_on_a_spaceship.txt
  forge-gui/res/cardsfolder/upcoming/trenzalore_clocktower.txt
  forge-gui/res/tokenscripts/b_2_2_a_alien_angel_firststrike_vigilance.txt
  forge-gui/res/tokenscripts/rw_2_2_dinosaur_flying_haste.txt
Labels: Upcoming Set

#3869 The Face of Boe and support
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-gui/res/cardsfolder/b/brood_sliver.txt
  forge-gui/res/cardsfolder/upcoming/the_face_of_boe.txt
Labels: Upcoming Set

#3867 WHO 13 cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/aces_baseball_bat.txt
  forge-gui/res/cardsfolder/upcoming/alistair_the_brigadier.txt
  forge-gui/res/cardsfolder/upcoming/antarctic_research_base.txt
  forge-gui/res/cardsfolder/upcoming/aplan_mortarium.txt
  forge-gui/res/cardsfolder/upcoming/ashad_the_lone_cyberman.txt
  forge-gui/res/cardsfolder/upcoming/astrid_peth.txt
  forge-gui/res/cardsfolder/upcoming/atraxi_warden.txt
  forge-gui/res/cardsfolder/upcoming/auton_soldier.txt
  forge-gui/res/cardsfolder/upcoming/banish_to_another_universe.txt
  forge-gui/res/cardsfolder/upcoming/five_hundred_year_diary.txt
  forge-gui/res/cardsfolder/upcoming/into_the_time_vortex.txt
  forge-gui/res/cardsfolder/upcoming/jenny_generated_anomaly.txt
  forge-gui/res/cardsfolder/upcoming/quantum_misalignment.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set

#3879 Edition update: YWOE
  forge-gui/res/editions/Alchemy Eldraine.txt
Labels: Upcoming Set

#3876 Support for Display of Power
  forge-game/src/main/java/forge/game/ability/effects/CopySpellAbilityEffect.java
  forge-gui/res/cardsfolder/a/astral_cornucopia.txt
  forge-gui/res/cardsfolder/c/chrome_courier.txt
  forge-gui/res/cardsfolder/f/faiths_shield.txt
  forge-gui/res/cardsfolder/s/skull_storm.txt
  forge-gui/res/cardsfolder/s/spectral_shield.txt
  forge-gui/res/cardsfolder/upcoming/mosswood_dreadknight_dread_whispers.txt
  forge-gui/res/cardsfolder/v/verazol_the_split_current.txt
  forge-gui/res/cardsfolder/y/yannik_scavenging_sentinel.txt
  forge-gui/res/cardsfolder/y/yorion_sky_nomad.txt
Labels: Card Patch

#3878 LTR last two cards
  forge-gui/res/cardsfolder/upcoming/display_of_power.txt
  forge-gui/res/cardsfolder/upcoming/pippin_guard_of_the_citadel.txt
Labels: Upcoming Set

#3882 Edition updates: LCI, YWOE
  forge-gui/res/editions/Alchemy Eldraine.txt
  forge-gui/res/editions/The Lost Caverns of Ixalan.txt
Labels: Upcoming Set

#3889 Fix Planar Conquest preferring collector edition cards as starters
  forge-core/src/main/java/forge/card/CardDb.java
Labels: bug

#3871 WHO 12 cards
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-gui/res/cardsfolder/upcoming/besieged_viking_village.txt
  forge-gui/res/cardsfolder/upcoming/bessie_the_doctors_roadster.txt
  forge-gui/res/cardsfolder/upcoming/bowie_base_one.txt
  forge-gui/res/cardsfolder/upcoming/clockwork_droid.txt
  forge-gui/res/cardsfolder/upcoming/coal_hill_school.txt
  forge-gui/res/cardsfolder/upcoming/confession_dial.txt
  forge-gui/res/cardsfolder/upcoming/cult_of_skaro.txt
  forge-gui/res/cardsfolder/upcoming/cyber_conversion.txt
  forge-gui/res/cardsfolder/upcoming/cyberman_patrol.txt
  forge-gui/res/cardsfolder/upcoming/cybermat.txt
  forge-gui/res/cardsfolder/upcoming/cybermen_squadron.txt
  forge-gui/res/cardsfolder/upcoming/cybership.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/tokenscripts/b_3_3_a_dalek_menace.txt
Labels: Upcoming Set

#3890 day_of_the_moon.txt and support/refactor in NameCard
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-ai/src/main/java/forge/ai/simulation/GameCopier.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardNameEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CleanUpEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CloneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SetStateEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-game/src/main/java/forge/trackable/TrackableProperty.java
  forge-gui-desktop/src/test/java/forge/ai/simulation/SpellAbilityPickerSimulationTest.java
  forge-gui/res/cardsfolder/a/ach_hans_run.txt
  forge-gui/res/cardsfolder/b/brain_pry.txt
  forge-gui/res/cardsfolder/b/break_expectations.txt
  forge-gui/res/cardsfolder/c/cabal_therapist.txt
  forge-gui/res/cardsfolder/c/cheering_fanatic.txt
  forge-gui/res/cardsfolder/c/conundrum_sphinx.txt
  forge-gui/res/cardsfolder/c/curse_of_silence.txt
  forge-gui/res/cardsfolder/c/cursed_scroll.txt
  forge-gui/res/cardsfolder/d/declaration_of_naught.txt
  forge-gui/res/cardsfolder/d/dementia_sliver.txt
  forge-gui/res/cardsfolder/d/diviners_lockbox.txt
  forge-gui/res/cardsfolder/d/divining_witch.txt
  forge-gui/res/cardsfolder/e/estra_friend_to_all.txt
  forge-gui/res/cardsfolder/f/foreshadow.txt
  forge-gui/res/cardsfolder/m/medomais_prophecy.txt
  forge-gui/res/cardsfolder/n/nebuchadnezzar.txt
  forge-gui/res/cardsfolder/n/null_chamber.txt
  forge-gui/res/cardsfolder/p/petra_sphinx.txt
  forge-gui/res/cardsfolder/p/predict.txt
  forge-gui/res/cardsfolder/s/sphinx_ambassador.txt
  forge-gui/res/cardsfolder/s/summoners_bond.txt
  forge-gui/res/cardsfolder/t/tamiyo_collector_of_tales.txt
  forge-gui/res/cardsfolder/t/the_stone_brain.txt
  forge-gui/res/cardsfolder/t/thought_hemorrhage.txt
  forge-gui/res/cardsfolder/upcoming/day_of_the_moon.txt
  forge-gui/res/cardsfolder/v/vexing_arcanix.txt
  forge-gui/res/cardsfolder/w/wood_sage.txt
  forge-gui/src/main/java/forge/gui/card/CardDetailUtil.java
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#3892 Update cult_of_skaro.txt
  forge-gui/res/cardsfolder/upcoming/cult_of_skaro.txt
Labels: Card Patch

#3896 Add an option to use all card variants in Adventure Mode
  forge-gui-mobile/src/forge/adventure/data/RewardData.java
  forge-gui-mobile/src/forge/adventure/data/SettingData.java
  forge-gui-mobile/src/forge/adventure/scene/SettingsScene.java
  forge-gui-mobile/src/forge/adventure/util/CardUtil.java
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Adventure

#3900 Fix Garth One-Eye
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardNameEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RollPlanarDiceEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/g/garth_one_eye.txt
  forge-gui/res/cardsfolder/i/invasion_of_new_capenna_holy_frazzle_cannon.txt
  forge-gui/res/cardsfolder/l/livaan_cultist_of_tiamat.txt
  forge-gui/res/cardsfolder/w/willbreaker.txt
Labels: Card Patch

#3904 CreatureEvaluator tweaks + some others
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-ai/src/main/java/forge/ai/CreatureEvaluator.java
  forge-game/src/main/java/forge/game/ability/effects/UntapEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/c/curse_of_bounty.txt
  forge-gui/res/cardsfolder/c/curse_of_disturbance.txt
  forge-gui/res/cardsfolder/c/curse_of_opulence.txt
  forge-gui/res/cardsfolder/c/curse_of_verbosity.txt
  forge-gui/res/cardsfolder/c/curse_of_vitality.txt
  forge-gui/res/cardsfolder/d/derevi_empyrial_tactician.txt
  forge-gui/res/cardsfolder/h/hokori_dust_drinker.txt
  forge-gui/res/cardsfolder/l/lena_selfless_champion.txt
  forge-gui/res/cardsfolder/m/mistfolk.txt
  forge-gui/res/cardsfolder/o/okaun_eye_of_chaos.txt
  forge-gui/res/cardsfolder/o/omnath_locus_of_creation.txt
  forge-gui/res/cardsfolder/o/omnath_locus_of_rage.txt
  forge-gui/res/cardsfolder/p/polukranos_unchained.txt
  forge-gui/res/cardsfolder/r/radha_heart_of_keld.txt
  forge-gui/res/cardsfolder/r/rakdos_the_defiler.txt
  forge-gui/res/cardsfolder/r/rosnakht_heir_of_rohgahh.txt
  forge-gui/res/cardsfolder/r/ruric_thar_the_unbowed.txt
  forge-gui/res/cardsfolder/s/safana_calimport_cutthroat.txt
  forge-gui/res/cardsfolder/s/shanna_sisays_legacy.txt
  forge-gui/res/cardsfolder/s/skithiryx_the_blight_dragon.txt
  forge-gui/res/cardsfolder/t/tahngarth_talruum_hero.txt
  forge-gui/res/cardsfolder/t/tatsumasa_the_dragons_fang.txt
  forge-gui/res/cardsfolder/t/tori_davenant_fury_rider.txt
  forge-gui/res/cardsfolder/t/tymaret_the_murder_king.txt
  forge-gui/res/cardsfolder/w/white_plume_adventurer.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Card Patch

#3902 Improve AI logic for City of Brass.
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
Labels: AI

#3905 Avoid excessive duplicates in "All Card Variants" mode
  forge-gui-mobile/src/forge/adventure/data/RewardData.java
  forge-gui-mobile/src/forge/adventure/util/CardUtil.java
Labels: Adventure

#3906 fix adventure mode match options not saving
  forge-gui-mobile/src/forge/adventure/scene/DuelScene.java
  forge-gui-mobile/src/forge/screens/match/MatchController.java
  forge-gui-mobile/src/forge/screens/match/winlose/AdventureWinLose.java
Labels: Adventure

#3897 WHO 9 Time Travel Cards
  forge-gui/res/cardsfolder/upcoming/all_of_history_all_at_once.txt
  forge-gui/res/cardsfolder/upcoming/amys_home.txt
  forge-gui/res/cardsfolder/upcoming/coward_killer.txt
  forge-gui/res/cardsfolder/upcoming/rotating_fireplace.txt
  forge-gui/res/cardsfolder/upcoming/the_girl_in_the_fireplace.txt
  forge-gui/res/cardsfolder/upcoming/the_parting_of_the_ways.txt
  forge-gui/res/cardsfolder/upcoming/the_tenth_doctor.txt
  forge-gui/res/cardsfolder/upcoming/the_wedding_of_river_song.txt
  forge-gui/res/cardsfolder/upcoming/time_beetle.txt
  forge-gui/res/tokenscripts/w_1_1_human_noble_vanishing_prevention.txt
  forge-gui/res/tokenscripts/w_2_2_horse_horsemanship.txt
Labels: Upcoming Set

#3885 YWOE 9 cards (boar edition)
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-gui/res/cardsfolder/upcoming/a_golden_opportunity.txt
  forge-gui/res/cardsfolder/upcoming/accident_prone_apprentice_amphibian_accident.txt
  forge-gui/res/cardsfolder/upcoming/captivating_crossroads.txt
  forge-gui/res/cardsfolder/upcoming/drover_of_the_swine.txt
  forge-gui/res/cardsfolder/upcoming/first_little_pig.txt
  forge-gui/res/cardsfolder/upcoming/porcine_portent_lend_a_ham.txt
  forge-gui/res/cardsfolder/upcoming/second_little_pig.txt
  forge-gui/res/cardsfolder/upcoming/swine_rebellion.txt
  forge-gui/res/cardsfolder/upcoming/third_little_pig.txt
Labels: Upcoming Set

#3911 A more believable turn for a "Gruuling match" in MTGP_05.
  forge-gui/res/puzzle/MTGP_05.pzl
Labels: Puzzle Mode

#3914 Patch up "stunned" in CreatureEvaluator
  forge-ai/src/main/java/forge/ai/CreatureEvaluator.java
Labels: AI

#3894 YWOE 7 cards
  forge-gui/res/cardsfolder/upcoming/dedicated_dollmaker.txt
  forge-gui/res/cardsfolder/upcoming/draconic_debut.txt
  forge-gui/res/cardsfolder/upcoming/dunbarrow_revivalist.txt
  forge-gui/res/cardsfolder/upcoming/grow_old_together.txt
  forge-gui/res/cardsfolder/upcoming/heir_to_dragonfire.txt
  forge-gui/res/cardsfolder/upcoming/hex_kellans_companion.txt
  forge-gui/res/cardsfolder/upcoming/jewel_mine_overseer.txt
Labels: Upcoming Set

#3919 Ensure that cards correspond to the world seed in All Card Variants mode + add puzzle PS_WOE3
  forge-gui-mobile/src/forge/adventure/util/CardUtil.java
  forge-gui/res/puzzle/PS_WOE3.pzl
Labels: Puzzle Mode, Adventure

#3920 replace quasi keyword with Static
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityNoCleanupDamage.java
  forge-gui/res/adventure/common/custom_cards/lathliss_presence_hard.txt
  forge-gui/res/cardsfolder/m/melt_through.txt
  forge-gui/res/cardsfolder/p/patient_zero.txt
  forge-gui/res/cardsfolder/u/uthgardt_fury.txt
  forge-gui/res/cardsfolder/upcoming/victory_of_the_pyrohammer.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#3916 MagicStack: don't leave old targets on card ability
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/b/braidss_frightful_return.txt
  forge-gui/res/cardsfolder/upcoming/clockwork_droid.txt
Labels: bug

#3922 ChangeText: Pass intrinsic to overridingAbility
  forge-game/src/main/java/forge/game/TriggerReplacementBase.java
Labels: bug

#3923 YWOE a few easy ones
  forge-gui/res/cardsfolder/upcoming/outfitted_jouster.txt
  forge-gui/res/cardsfolder/upcoming/the_conundrum_of_bowls.txt
Labels: Upcoming Set

#3918 YWOE stormkeld_curator_giant_secrets.txt + support
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-gui/res/cardsfolder/b/bruna_light_of_alabaster.txt
  forge-gui/res/cardsfolder/upcoming/stormkeld_curator_giant_secrets.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#3912 AbilityUtils: add Emerged for Adipose Offering
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/cost/CostPayment.java
  forge-gui/res/cardsfolder/upcoming/adipose_offspring.txt
  forge-gui/res/tokenscripts/w_2_2_alien.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Upcoming Set, Game Mechanics

#3928 refactor ChangeZone -> Seek for Alchemy seek cards
  forge-gui/res/cardsfolder/d/discover_the_formula.txt
  forge-gui/res/cardsfolder/m/manor_guardian.txt
  forge-gui/res/cardsfolder/n/norns_fetchling.txt
  forge-gui/res/cardsfolder/o/obscura_polymorphist.txt
  forge-gui/res/cardsfolder/p/perilous_iteration.txt
  forge-gui/res/cardsfolder/s/seek_new_knowledge.txt
  forge-gui/res/cardsfolder/w/wandering_treefolk.txt
  forge-gui/res/cardsfolder/y/yuan_ti_scaleshield.txt
Labels: Card Patch

#3931 Edition updates: PIP, SLD
  forge-gui/res/editions/Fallout Commander.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#3917 YWOE 6 cards
  forge-gui/res/cardsfolder/upcoming/loch_larent.txt
  forge-gui/res/cardsfolder/upcoming/overcooked.txt
  forge-gui/res/cardsfolder/upcoming/paths_of_tuinvale.txt
  forge-gui/res/cardsfolder/upcoming/steady_tortoise_harried_dash.txt
  forge-gui/res/cardsfolder/upcoming/syr_joshua_and_syr_saxon.txt
  forge-gui/res/cardsfolder/upcoming/tome_of_gadwick.txt
Labels: Upcoming Set

#3932 Improve AI for Sorin, Vengeful Broodlord and similar + Fix Roiling Vortex AI logic
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-ai/src/main/java/forge/ai/ability/EffectAi.java
Labels: AI

#3930 WHO 5 cards
  forge-gui/res/cardsfolder/upcoming/ecstatic_beauty.txt
  forge-gui/res/cardsfolder/upcoming/everybody_lives.txt
  forge-gui/res/cardsfolder/upcoming/everything_comes_to_dust.txt
  forge-gui/res/cardsfolder/upcoming/flaming_tyrannosaurus.txt
  forge-gui/res/cardsfolder/upcoming/judoon_enforcers.txt
Labels: Upcoming Set

#3936 WHO 10 cards
  forge-gui/res/cardsfolder/upcoming/frost_fair_lure_fish.txt
  forge-gui/res/cardsfolder/upcoming/gallifrey_council_chamber.txt
  forge-gui/res/cardsfolder/upcoming/impending_flux.txt
  forge-gui/res/cardsfolder/upcoming/iraxxa_empress_of_mars.txt
  forge-gui/res/cardsfolder/upcoming/jenny_flint.txt
  forge-gui/res/cardsfolder/upcoming/madame_vastra.txt
  forge-gui/res/cardsfolder/upcoming/osgood_operation_double.txt
  forge-gui/res/cardsfolder/upcoming/rassilon_the_war_president.txt
  forge-gui/res/cardsfolder/upcoming/wilfred_mott.txt
  forge-gui/res/cardsfolder/upcoming/wreck_and_rebuild.txt
  forge-gui/res/tokenscripts/r_2_2_alien_warrior.txt
  forge-gui/res/tokenscripts/u_1_1_fish.txt
Labels: Upcoming Set

#3937 Support for Zygon Infiltrator
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CloneEffect.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/d/dermotaxi.txt
  forge-gui/res/cardsfolder/f/frankensteins_monster.txt
  forge-gui/res/cardsfolder/g/giant_trap_door_spider.txt
  forge-gui/res/cardsfolder/g/gideon_the_oathsworn.txt
  forge-gui/res/cardsfolder/g/gomazoa.txt
  forge-gui/res/cardsfolder/h/hunting_kavu.txt
  forge-gui/res/cardsfolder/m/mangara_of_corondor.txt
  forge-gui/res/cardsfolder/q/quickening_licid.txt
  forge-gui/res/cardsfolder/s/sutured_ghoul.txt
  forge-gui/res/cardsfolder/v/vesuvan_doppelganger.txt
  forge-gui/res/cardsfolder/v/void_stalker.txt
  forge-gui/res/cardsfolder/y/you_cannot_pass.txt
Labels: Card Patch

#3924 Simple graphics fixes to maps
  forge-gui/res/adventure/common/maps/map/aerie/aerie_1.tmx
  forge-gui/res/adventure/common/maps/map/aerie/aerie_3.tmx
  forge-gui/res/adventure/common/maps/map/aerie/aerie_4.tmx
  forge-gui/res/adventure/common/maps/map/barbariancamp/barbariancamp_kobold.tmx
  forge-gui/res/adventure/common/maps/map/barbariancamp/barbariancamp_kobold_mine.tmx
  forge-gui/res/adventure/common/maps/map/cave/cave_bandit.tmx
  forge-gui/res/adventure/common/maps/map/cave/cave_djinn.tmx
  forge-gui/res/adventure/common/maps/map/cave/cave_snake.tmx
  forge-gui/res/adventure/common/maps/map/djinnpalace/djinnpalace_1.tmx
  forge-gui/res/adventure/common/maps/map/djinnpalace/djinnpalace_2.tmx
  forge-gui/res/adventure/common/maps/map/djinnpalace/wastetown..tmx
  forge-gui/res/adventure/common/maps/map/evilgrove/evilgrove_5.tmx
  forge-gui/res/adventure/common/maps/map/fort/fort_colorless_1_snow.tmx
  forge-gui/res/adventure/common/maps/map/fort/fort_colorless_4_ooze.tmx
  forge-gui/res/adventure/common/maps/map/fort/fort_green_1_logcamp.tmx
  forge-gui/res/adventure/common/maps/map/fort/fort_green_2_grove.tmx
  forge-gui/res/adventure/common/maps/map/fort/fort_green_4_scarecrowfarm.tmx
  forge-gui/res/adventure/common/maps/map/fort/fort_white_1_celestial.tmx
  forge-gui/res/adventure/common/maps/map/fort/fort_white_2_humans.tmx
  forge-gui/res/adventure/common/maps/map/fort/wastetown..tmx
  forge-gui/res/adventure/common/maps/map/garruk/garruk.tmx
  forge-gui/res/adventure/common/maps/map/graveyard_crypt/graveyard.tmx
  forge-gui/res/adventure/common/maps/map/grolnok/grolnok.tmx
  forge-gui/res/adventure/common/maps/map/grove/grove_1.tmx
  forge-gui/res/adventure/common/maps/map/grove/grove_2.tmx
  forge-gui/res/adventure/common/maps/map/grove/grove_3.tmx
  forge-gui/res/adventure/common/maps/map/grove/grove_5.tmx
  forge-gui/res/adventure/common/maps/map/grove/grove_6.tmx
  forge-gui/res/adventure/common/maps/map/grove/grove_7.tmx
  forge-gui/res/adventure/common/maps/map/grove/grove_8.tmx
  forge-gui/res/adventure/common/maps/map/grove/grove_9.tmx
  forge-gui/res/adventure/common/maps/map/hostiletown/elftown.tmx
  forge-gui/res/adventure/common/maps/map/hostiletown/wastetown..tmx
  forge-gui/res/adventure/common/maps/map/hostiletown/zombietown.tmx
  forge-gui/res/adventure/common/maps/map/lavaforge/lavaforge_3.tmx
  forge-gui/res/adventure/common/maps/map/main_story/temple_of_liliana/bog.tmx
  forge-gui/res/adventure/common/maps/map/main_story/temple_of_liliana/forest.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/frostbitten_cavern_0.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/library_of_varsil_0.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/primal_jungle.tmx
  forge-gui/res/adventure/common/maps/map/merfolkpool/merfolkpool_1.tmx
  forge-gui/res/adventure/common/maps/map/minibosses/teferi.tmx
  forge-gui/res/adventure/common/maps/map/minibosses/xira.tmx
  forge-gui/res/adventure/common/maps/map/nahiri/nahiri.tmx
  forge-gui/res/adventure/common/maps/map/nahiri/nahiricave.tmx
  forge-gui/res/adventure/common/maps/map/tibalt/tibalt.tmx
  forge-gui/res/adventure/common/maps/map/zedruu/zedruu.tmx
  forge-gui/res/adventure/common/maps/map/zedruu/zedruu_f4.tmx
Labels: Adventure

#3934 CantHaveKeyword can prevent effect creation
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffectBase.java
  forge-game/src/main/java/forge/game/ability/effects/CounterEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
Labels: Rules compliance

#3941 WHO 10 cards
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardEffect.java
  forge-gui/res/cardsfolder/upcoming/gallifrey_falls_no_more.txt
  forge-gui/res/cardsfolder/upcoming/gardens_of_tranquil_repose.txt
  forge-gui/res/cardsfolder/upcoming/heaven_sent.txt
  forge-gui/res/cardsfolder/upcoming/hotel_of_fears.txt
  forge-gui/res/cardsfolder/upcoming/karvanista_loyal_lupari_lupari_shield.txt
  forge-gui/res/cardsfolder/upcoming/kate_stewart.txt
  forge-gui/res/cardsfolder/upcoming/laser_screwdriver.txt
  forge-gui/res/cardsfolder/upcoming/last_night_together.txt
  forge-gui/res/cardsfolder/upcoming/lunar_hatchling.txt
  forge-gui/res/cardsfolder/upcoming/me_the_immortal.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set

#3946 Update scripts
  forge-gui/res/cardsfolder/a/augmenter_pugilist_echoing_equation.txt
  forge-gui/res/cardsfolder/b/blot_out.txt
  forge-gui/res/cardsfolder/c/captains_maneuver.txt
  forge-gui/res/cardsfolder/c/command_the_dreadhorde.txt
  forge-gui/res/cardsfolder/c/curfew.txt
  forge-gui/res/cardsfolder/e/eldrazi_monument.txt
  forge-gui/res/cardsfolder/f/fade_away.txt
  forge-gui/res/cardsfolder/h/hazduhr_the_abbot.txt
  forge-gui/res/cardsfolder/i/ixidron.txt
  forge-gui/res/cardsfolder/m/masterful_replication.txt
  forge-gui/res/cardsfolder/p/protective_sphere.txt
  forge-gui/res/cardsfolder/s/sakashimas_will.txt
  forge-gui/res/cardsfolder/s/shieldmage_advocate.txt
  forge-gui/res/cardsfolder/s/solkanar_the_tainted.txt
  forge-gui/res/cardsfolder/v/volatile_chimera.txt
Labels: Card Cleanup, Card Patch

#3945 WHO 11 cards (22/10)
  forge-gui/res/cardsfolder/upcoming/memory_worm.txt
  forge-gui/res/cardsfolder/upcoming/mondassian_colony_ship.txt
  forge-gui/res/cardsfolder/upcoming/nanogene_conversion.txt
  forge-gui/res/cardsfolder/upcoming/new_new_york.txt
  forge-gui/res/cardsfolder/upcoming/ominous_cemetery.txt
  forge-gui/res/cardsfolder/upcoming/renegade_silent.txt
  forge-gui/res/cardsfolder/upcoming/return_the_past.txt
  forge-gui/res/cardsfolder/upcoming/rms_titanic.txt
  forge-gui/res/cardsfolder/upcoming/the_cyber_controller.txt
  forge-gui/res/cardsfolder/upcoming/the_sea_devils.txt
  forge-gui/res/cardsfolder/upcoming/zygon_infiltrator.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/tokenscripts/g_2_2_alien_salamander_islandwalk.txt
Labels: Upcoming Set

#3965 Add puzzle PS_WOE4
  forge-gui/res/puzzle/PS_WOE4.pzl
Labels: Puzzle Mode

#3952 Improve several AI routines (Reflection of Kiki-Jiki; Roiling Vortex; Karn, the Great Creator; Ashad, the Lone Cyberman)
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/CopyPermanentAi.java
  forge-ai/src/main/java/forge/ai/ability/EffectAi.java
  forge-gui/res/cardsfolder/f/fable_of_the_mirror_breaker_reflection_of_kiki_jiki.txt
  forge-gui/res/cardsfolder/k/karn_the_great_creator.txt
  forge-gui/res/cardsfolder/upcoming/ashad_the_lone_cyberman.txt
Labels: AI

#3972 Edition updates: LCC, LCI, REX, SPG, WHO
  forge-gui/res/cardsfolder/upcoming/the_eleventh_hour.txt
  forge-gui/res/editions/Doctor Who Commander.txt
  forge-gui/res/editions/Jurassic World Collection.txt
  forge-gui/res/editions/Special Guests.txt
  forge-gui/res/editions/The Lost Caverns of Ixalan Commander.txt
  forge-gui/res/editions/The Lost Caverns of Ixalan.txt
  forge-gui/res/tokenscripts/w_1_1_human_doctor_reduce.txt
Labels: Upcoming Set

#3954 WHO - Doctor's companion and support
  forge-core/src/main/java/forge/card/CardRules.java
  forge-core/src/main/java/forge/deck/DeckFormat.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-gui-desktop/src/main/java/forge/screens/deckeditor/controllers/CEditorConstructed.java
  forge-gui/res/cardsfolder/upcoming/amy_pond.txt
  forge-gui/res/cardsfolder/upcoming/donna_noble.txt
  forge-gui/res/cardsfolder/upcoming/romana_ii.txt
  forge-gui/res/cardsfolder/upcoming/rory_williams.txt
  forge-gui/res/cardsfolder/upcoming/sarah_jane_smith.txt
  forge-gui/src/main/java/forge/deck/DeckgenUtil.java
Labels: Upcoming Set, Game Mechanics

#3976 Fort 6 collision fix
  forge-gui/res/adventure/common/maps/map/fort/fort_colorless_6_study.tmx
Labels: Adventure

#3950 WHO 9 cards (Doctors)
  forge-gui/res/cardsfolder/upcoming/the_eighth_doctor.txt
  forge-gui/res/cardsfolder/upcoming/the_eleventh_doctor.txt
  forge-gui/res/cardsfolder/upcoming/the_fifth_doctor.txt
  forge-gui/res/cardsfolder/upcoming/the_first_doctor.txt
  forge-gui/res/cardsfolder/upcoming/the_ninth_doctor.txt
  forge-gui/res/cardsfolder/upcoming/the_seventh_doctor.txt
  forge-gui/res/cardsfolder/upcoming/the_sixth_doctor.txt
  forge-gui/res/cardsfolder/upcoming/the_third_doctor.txt
  forge-gui/res/cardsfolder/upcoming/the_twelfth_doctor.txt
Labels: Upcoming Set

#3964 WHO 9 cards + 2 fixes
  forge-gui/res/cardsfolder/upcoming/kate_stewart.txt
  forge-gui/res/cardsfolder/upcoming/run_for_your_life.txt
  forge-gui/res/cardsfolder/upcoming/sally_sparrow.txt
  forge-gui/res/cardsfolder/upcoming/sergeant_john_benton.txt
  forge-gui/res/cardsfolder/upcoming/sibyllin_soothsayer.txt
  forge-gui/res/cardsfolder/upcoming/sisterhood_of_karn.txt
  forge-gui/res/cardsfolder/upcoming/sonic_screwdriver.txt
  forge-gui/res/cardsfolder/upcoming/sontaran_general.txt
  forge-gui/res/cardsfolder/upcoming/star_whale.txt
  forge-gui/res/cardsfolder/upcoming/start_the_tardis.txt
  forge-gui/res/cardsfolder/upcoming/the_cyber_controller.txt
Labels: Upcoming Set

#3979 Improve various AI routines
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/EffectAi.java
  forge-gui/res/cardsfolder/m/mistcaller.txt
Labels: AI

#3981 Edition updates: LCC, LCI, REX
  forge-gui/res/editions/Jurassic World Collection.txt
  forge-gui/res/editions/The Lost Caverns of Ixalan Commander.txt
  forge-gui/res/editions/The Lost Caverns of Ixalan.txt
Labels: Upcoming Set

#3973 REX 5 cards
  forge-gui/res/cardsfolder/upcoming/compy_swarm.txt
  forge-gui/res/cardsfolder/upcoming/dino_dna.txt
  forge-gui/res/cardsfolder/upcoming/dont_move.txt
  forge-gui/res/cardsfolder/upcoming/indoraptor_the_perfect_hybrid.txt
  forge-gui/res/cardsfolder/upcoming/life_finds_a_way.txt
Labels: Upcoming Set

#3962 WHO: fixed_point_in_time.txt and support
  forge-game/src/main/java/forge/game/ability/effects/PlaneswalkEffect.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/replacement/ReplacePlaneswalk.java
  forge-game/src/main/java/forge/game/replacement/ReplacementType.java
  forge-gui/res/cardsfolder/upcoming/fixed_point_in_time.txt
Labels: Upcoming Set, Game Mechanics

#3944 bamboozling_beeble.txt and centaur_of_attention.txt and Support
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ReplaceEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RollDiceEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-game/src/main/java/forge/game/player/PlayerController.java
  forge-game/src/main/java/forge/game/replacement/ReplaceRollDice.java
  forge-game/src/main/java/forge/game/replacement/ReplacementType.java
  forge-game/src/main/java/forge/trackable/TrackableProperty.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/PlayerControllerForTests.java
  forge-gui/res/cardsfolder/b/bamboozling_beeble.txt
  forge-gui/res/cardsfolder/b/barbarian_class.txt
  forge-gui/res/cardsfolder/c/centaur_of_attention.txt
  forge-gui/res/cardsfolder/p/pixie_guide.txt
  forge-gui/res/cardsfolder/w/wyll_blade_of_frontiers.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/gui/card/CardDetailUtil.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Game Mechanics, Card Cleanup, Unfinity

#3977 Full Control
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/player/PlayerController.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/PlayerControllerForTests.java
  forge-gui/res/cardsfolder/c/catalyst_stone.txt
  forge-gui/res/cardsfolder/f/fluctuator.txt
  forge-gui/res/cardsfolder/m/mana_matrix.txt
  forge-gui/res/cardsfolder/p/planar_gate.txt
  forge-gui/res/cardsfolder/s/stone_calendar.txt
  forge-gui/res/cardsfolder/u/urzas_filter.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/gamemodes/match/input/InputPassPriority.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Rules compliance, GUI

#3978 YWOE Talions Throneguard
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/spellability/OptionalCostValue.java
  forge-gui/res/cardsfolder/upcoming/dunbarrow_revivalist.txt
  forge-gui/res/cardsfolder/upcoming/talions_throneguard.txt
  forge-gui/res/languages/en-US.properties
Labels: Upcoming Set

#3980 LCI: Finality counter
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
Labels: Upcoming Set

#3998 Ransack ordering fix
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-gui/res/cardsfolder/a/aladdins_lamp.txt
  forge-gui/res/cardsfolder/c/cruel_grimnarch.txt
  forge-gui/res/cardsfolder/r/ransack.txt
  forge-gui/res/cardsfolder/r/reap.txt
  forge-gui/res/cardsfolder/s/stomping_slabs.txt
  forge-gui/res/cardsfolder/upcoming/rowans_grim_search.txt
Labels: Card Cleanup, Card Patch

#4002 Improve several AI routines.
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-ai/src/main/java/forge/ai/SpecialCardAi.java
  forge-ai/src/main/java/forge/ai/ability/ChooseTypeAi.java
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-ai/src/main/java/forge/ai/ability/EffectAi.java
  forge-gui/res/cardsfolder/a/aether_vial.txt
  forge-gui/res/cardsfolder/r/ratchet_bomb.txt
  forge-gui/res/cardsfolder/v/vanquishers_banner.txt
Labels: AI

#4008 Implement a fallback mechanism for getting a card by name and edition
  forge-gui-mobile/src/forge/adventure/util/CardUtil.java
Labels: Adventure

#4010 Edition updates: LCC, LCI
  forge-gui/res/editions/The Lost Caverns of Ixalan Commander.txt
  forge-gui/res/editions/The Lost Caverns of Ixalan.txt
Labels: Upcoming Set

#3986 Fix Cyber Conversion turning face-down card face-up again
  forge-ai/src/main/java/forge/ai/ability/SetStateAi.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SetStateEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/b/backslide.txt
  forge-gui/res/cardsfolder/b/break_open.txt
  forge-gui/res/cardsfolder/c/clone_shell.txt
  forge-gui/res/cardsfolder/f/free_for_all.txt
  forge-gui/res/cardsfolder/g/grimoire_thief.txt
  forge-gui/res/cardsfolder/h/hostile_negotiations.txt
  forge-gui/res/cardsfolder/i/illithid_harvester_plant_tadpoles.txt
  forge-gui/res/cardsfolder/i/ixidor_reality_sculptor.txt
  forge-gui/res/cardsfolder/i/ixidron.txt
  forge-gui/res/cardsfolder/m/master_of_the_veil.txt
  forge-gui/res/cardsfolder/m/mischievous_quanar.txt
  forge-gui/res/cardsfolder/o/obscuring_aether.txt
  forge-gui/res/cardsfolder/p/pyxis_of_pandemonium.txt
  forge-gui/res/cardsfolder/s/skirk_alarmist.txt
  forge-gui/res/cardsfolder/s/summoners_egg.txt
  forge-gui/res/cardsfolder/u/ugins_mastery.txt
  forge-gui/res/cardsfolder/upcoming/cyber_conversion.txt
  forge-gui/res/cardsfolder/upcoming/mondassian_colony_ship.txt
  forge-gui/res/cardsfolder/v/vesuvan_shapeshifter.txt
  forge-gui/res/cardsfolder/w/wall_of_deceit.txt
  forge-gui/res/cardsfolder/w/weaver_of_lies.txt
Labels: Rules compliance

#4000 LCI: sovereign_okinec_ahau.txt + support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/sovereign_okinec_ahau.txt
Labels: Upcoming Set, Game Mechanics

#3999 10 cards LCI
  forge-gui/res/cardsfolder/upcoming/aclazotz_deepest_betrayal_temple_of_the_dead.txt
  forge-gui/res/cardsfolder/upcoming/bedrock_tortoise.txt
  forge-gui/res/cardsfolder/upcoming/cenote_scout.txt
  forge-gui/res/cardsfolder/upcoming/kinjallis_dawnrunner.txt
  forge-gui/res/cardsfolder/upcoming/miners_guidewing.txt
  forge-gui/res/cardsfolder/upcoming/mischievous_pup.txt
  forge-gui/res/cardsfolder/upcoming/ojer_taq_deepest_foundation_temple_of_civilization.txt
  forge-gui/res/cardsfolder/upcoming/oltec_cloud_guard.txt
  forge-gui/res/cardsfolder/upcoming/saheeli_the_suns_brilliance.txt
  forge-gui/res/cardsfolder/upcoming/sanguine_evangelist.txt
Labels: Upcoming Set

#3966 add loop functionality to CloneEffect / refactor some cards!
  forge-game/src/main/java/forge/game/ability/effects/CloneEffect.java
  forge-gui/res/cardsfolder/a/augmenter_pugilist_echoing_equation.txt
  forge-gui/res/cardsfolder/b/brudiclad_telchor_engineer.txt
  forge-gui/res/cardsfolder/c/crack_open.txt
  forge-gui/res/cardsfolder/i/infinite_reflection.txt
  forge-gui/res/cardsfolder/m/masterful_replication.txt
  forge-gui/res/cardsfolder/m/mirrorweave.txt
  forge-gui/res/cardsfolder/s/sakashimas_will.txt
  forge-gui/res/cardsfolder/upcoming/nanogene_conversion.txt
Labels: Game Mechanics

#3963 WHO: flesh_duplicate.txt and support
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-gui/res/cardsfolder/upcoming/flesh_duplicate.txt
Labels: Upcoming Set, Game Mechanics

#4007 LCI – Player.descended support and cards
  forge-ai/src/main/java/forge/ai/simulation/GameCopier.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-game/src/main/java/forge/game/zone/Zone.java
  forge-gui/res/cardsfolder/upcoming/broodrage_mycoid.txt
  forge-gui/res/cardsfolder/upcoming/enterprising_scallywag.txt
  forge-gui/res/cardsfolder/upcoming/stalactite_stalker.txt
  forge-gui/res/cardsfolder/upcoming/the_mycotyrant.txt
  forge-gui/res/tokenscripts/b_1_1_fungus_noblock.txt
Labels: Upcoming Set, Game Mechanics

#4012 Doomsday Confluence and support
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CleanUpEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-gui/res/cardsfolder/b/braidss_frightful_return.txt
  forge-gui/res/cardsfolder/i/ironclaw_curse.txt
  forge-gui/res/cardsfolder/upcoming/doomsday_confluence.txt
  forge-gui/res/cardsfolder/upcoming/the_huntsmans_redemption.txt
  forge-gui/res/cardsfolder/upcoming/yenna_redtooth_regent.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Card Cleanup, Crash fix

#4017 WHO Weeping Angel
  forge-gui/res/cardsfolder/upcoming/weeping_angel.txt
Labels: Upcoming Set

#4011 LCI 11 cards + map token + Draconic Debut fix
  forge-gui/res/cardsfolder/upcoming/bringer_of_the_last_gift.txt
  forge-gui/res/cardsfolder/upcoming/compass_gnome.txt
  forge-gui/res/cardsfolder/upcoming/draconic_debut.txt
  forge-gui/res/cardsfolder/upcoming/helping_hand.txt
  forge-gui/res/cardsfolder/upcoming/ojer_pakpatiq_deepest_epoch_temple_of_cyclical_time.txt
  forge-gui/res/cardsfolder/upcoming/restless_anchorage.txt
  forge-gui/res/cardsfolder/upcoming/restless_bivouac.txt
  forge-gui/res/cardsfolder/upcoming/restless_cottage.txt
  forge-gui/res/cardsfolder/upcoming/restless_fortress.txt
  forge-gui/res/cardsfolder/upcoming/restless_prairie.txt
  forge-gui/res/cardsfolder/upcoming/restless_ridgeline.txt
  forge-gui/res/cardsfolder/upcoming/restless_spire.txt
  forge-gui/res/cardsfolder/upcoming/restless_vents.txt
  forge-gui/res/cardsfolder/upcoming/restless_vinestalk.txt
  forge-gui/res/cardsfolder/upcoming/souls_of_the_lost.txt
  forge-gui/res/cardsfolder/upcoming/terror_tide.txt
  forge-gui/res/cardsfolder/upcoming/the_belligerent.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/tokenscripts/c_a_map_sac_explore.txt
Labels: Upcoming Set

#4020 WHO 9 cards
  forge-gui/res/cardsfolder/upcoming/strax_sontaran_nurse.txt
  forge-gui/res/cardsfolder/upcoming/surge_of_brilliance.txt
  forge-gui/res/cardsfolder/upcoming/tegan_jovanka.txt
  forge-gui/res/cardsfolder/upcoming/temple_of_atropos.txt
  forge-gui/res/cardsfolder/upcoming/the_cave_of_skulls.txt
  forge-gui/res/cardsfolder/upcoming/the_cheetah_planet.txt
  forge-gui/res/cardsfolder/upcoming/time_reaper.txt
  forge-gui/res/cardsfolder/upcoming/traverse_eternity.txt
  forge-gui/res/cardsfolder/upcoming/vrestin_menoptra_leader.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/tokenscripts/gw_1_1_alien_insect_flying.txt
Labels: Upcoming Set

#3991 WHO 5 cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/fugitive_of_the_judoon.txt
  forge-gui/res/cardsfolder/upcoming/pompeii.txt
  forge-gui/res/cardsfolder/upcoming/river_songs_diary.txt
  forge-gui/res/cardsfolder/upcoming/the_curse_of_fenric.txt
  forge-gui/res/cardsfolder/upcoming/vashta_nerada.txt
  forge-gui/res/tokenscripts/g_3_3_mutant_deathtouch.txt
  forge-gui/res/tokenscripts/w_1_1_human_ward.txt
  forge-gui/res/tokenscripts/w_4_4_alien_rhino.txt
Labels: Upcoming Set

#4021 WHO 6 cards
  forge-gui/res/cardsfolder/upcoming/ace_fearless_rebel.txt
  forge-gui/res/cardsfolder/upcoming/graham_obrien.txt
  forge-gui/res/cardsfolder/upcoming/jamie_mccrimmon.txt
  forge-gui/res/cardsfolder/upcoming/leela_sevateem_warrior.txt
  forge-gui/res/cardsfolder/upcoming/nardole_resourceful_cyborg.txt
  forge-gui/res/cardsfolder/upcoming/yasmin_khan.txt
Labels: Upcoming Set

#4027 add (Transforms from X.) to Card Detail
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/c/cavalier_of_flame.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: GUI

#4032 tidy a few scripts
  forge-gui/res/cardsfolder/l/lothlorien_blade.txt
  forge-gui/res/cardsfolder/u/unforgiving_one.txt
  forge-gui/res/cardsfolder/upcoming/aces_baseball_bat.txt
Labels: Card Cleanup

#3969 LCI: Malcolm, Alluring Scoundrel + 2 cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/bonehoard_dracosaur.txt
  forge-gui/res/cardsfolder/upcoming/malcolm_alluring_scoundrel.txt
  forge-gui/res/cardsfolder/upcoming/souls_of_the_lost.txt
  forge-gui/res/tokenscripts/r_3_1_dinosaur.txt
Labels: Upcoming Set

#4024 Clean scripts
  forge-ai/src/main/java/forge/ai/ability/PermanentCreatureAi.java
  forge-game/src/main/java/forge/game/staticability/StaticAbility.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantBeCast.java
  forge-gui/res/cardsfolder/c/city_of_solitude.txt
  forge-gui/res/cardsfolder/d/dosan_the_falling_leaf.txt
  forge-gui/res/cardsfolder/e/elminster.txt
  forge-gui/res/cardsfolder/f/fires_of_invention.txt
  forge-gui/res/cardsfolder/k/kaza_roil_chaser.txt
  forge-gui/res/cardsfolder/m/maelstrom_muse.txt
  forge-gui/res/cardsfolder/rebalanced/a-fires_of_invention.txt
Labels: Card Cleanup

#4029 WHO: become_the_pilot.txt (and some tidying)
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantAttackBlock.java
  forge-gui/res/cardsfolder/c/call_to_serve.txt
  forge-gui/res/cardsfolder/d/detention_vortex.txt
  forge-gui/res/cardsfolder/s/soul_tithe.txt
  forge-gui/res/cardsfolder/t/tromokratis.txt
  forge-gui/res/cardsfolder/upcoming/become_the_pilot.txt
  forge-gui/res/cardsfolder/upcoming/rampaging_ceratops.txt
Labels: Upcoming Set, Card Cleanup

#4031 WHO: the_war_doctor.txt and support (TriggerPhaseOutAll)
  forge-game/src/main/java/forge/game/ability/effects/PhasesEffect.java
  forge-game/src/main/java/forge/game/phase/Untap.java
  forge-game/src/main/java/forge/game/trigger/TriggerPhaseOutAll.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-gui/res/cardsfolder/upcoming/the_war_doctor.txt
Labels: Upcoming Set, Game Mechanics

#4040 merge lblOk and lblOK
  forge-gui-desktop/src/main/java/forge/deckchooser/FDeckChooser.java
  forge-gui-desktop/src/main/java/forge/screens/home/quest/DialogChooseFormats.java
  forge-gui-desktop/src/main/java/forge/screens/home/quest/DialogChoosePoolDistribution.java
  forge-gui-desktop/src/main/java/forge/screens/match/VAssignCombatDamage.java
  forge-gui-desktop/src/main/java/forge/screens/match/VAssignGenericAmount.java
  forge-gui-desktop/src/main/java/forge/screens/match/views/VPrompt.java
  forge-gui-mobile/src/forge/adventure/scene/DeckSelectScene.java
  forge-gui-mobile/src/forge/adventure/scene/SaveLoadScene.java
  forge-gui-mobile/src/forge/adventure/scene/SettingsScene.java
  forge-gui-mobile/src/forge/adventure/scene/StartScene.java
  forge-gui-mobile/src/forge/screens/online/OnlineLobbyScreen.java
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/gamemodes/gauntlet/GauntletWinLoseController.java
  forge-gui/src/main/java/forge/gamemodes/match/input/InputAttack.java
  forge-gui/src/main/java/forge/gamemodes/match/input/InputLondonMulligan.java
  forge-gui/src/main/java/forge/gamemodes/match/input/InputPassPriority.java
  forge-gui/src/main/java/forge/gamemodes/tournament/TournamentWinLoseController.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: GUI

#4048 Edition updates: LCC, LCI, REX
  forge-gui/res/editions/Jurassic World Collection.txt
  forge-gui/res/editions/The Lost Caverns of Ixalan Commander.txt
  forge-gui/res/editions/The Lost Caverns of Ixalan.txt
Labels: Upcoming Set

#4034 WHO 8 cards + Trenzalore Clocktower fix
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/upcoming/adric_mathematical_genius.txt
  forge-gui/res/cardsfolder/upcoming/bill_potts.txt
  forge-gui/res/cardsfolder/upcoming/k9_mark_I.txt
  forge-gui/res/cardsfolder/upcoming/nyssa_of_traken.txt
  forge-gui/res/cardsfolder/upcoming/peri_brown.txt
  forge-gui/res/cardsfolder/upcoming/rose_tyler.txt
  forge-gui/res/cardsfolder/upcoming/ryan_sinclair.txt
  forge-gui/res/cardsfolder/upcoming/thijarian_witness.txt
  forge-gui/res/cardsfolder/upcoming/trenzalore_clocktower.txt
Labels: Upcoming Set

#4044 WHO/LCI panharmonicons and tweaks
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/f/faceless_one.txt
  forge-gui/res/cardsfolder/t/the_prismatic_piper.txt
  forge-gui/res/cardsfolder/upcoming/clara_oswald.txt
  forge-gui/res/cardsfolder/upcoming/roaming_throne.txt
Labels: Upcoming Set, Game Mechanics

#4049 Clean up
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-game/src/main/java/forge/game/ability/effects/DestroyEffect.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-gui/res/cardsfolder/c/corrosive_ooze.txt
  forge-gui/res/cardsfolder/e/eaten_by_spiders.txt
  forge-gui/res/cardsfolder/e/expropriate.txt
  forge-gui/res/cardsfolder/j/jovens_ferrets.txt
  forge-gui/res/cardsfolder/m/murderous_spoils.txt
  forge-gui/src/main/java/forge/gui/card/CardScriptParser.java
Labels: Card Cleanup

#4051 LCI: Kellan (DigEffect) and some dinos (and a cave)
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-gui/res/cardsfolder/c/charnel_troll.txt
  forge-gui/res/cardsfolder/n/nylea_keen_eyed.txt
  forge-gui/res/cardsfolder/upcoming/dinotomaton.txt
  forge-gui/res/cardsfolder/upcoming/kellan_daring_traveler_journey_on.txt
  forge-gui/res/cardsfolder/upcoming/pit_of_offerings.txt
  forge-gui/res/cardsfolder/upcoming/rampaging_spiketail.txt
  forge-gui/res/cardsfolder/upcoming/sinuous_benthisaur.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#4050 LCI 10 cards
  forge-gui/res/cardsfolder/upcoming/abuelo_ancestral_echo.txt
  forge-gui/res/cardsfolder/upcoming/akal_pakal_first_among_equals.txt
  forge-gui/res/cardsfolder/upcoming/akawalli_the_seething_tower.txt
  forge-gui/res/cardsfolder/upcoming/chupacabra_echo.txt
  forge-gui/res/cardsfolder/upcoming/echoing_deeps.txt
  forge-gui/res/cardsfolder/upcoming/forgotten_monument.txt
  forge-gui/res/cardsfolder/upcoming/ixallis_lorekeeper.txt
  forge-gui/res/cardsfolder/upcoming/restless_reef.txt
  forge-gui/res/cardsfolder/upcoming/sentinel_of_the_nameless_city.txt
  forge-gui/res/cardsfolder/upcoming/tarrians_soulcleaver.txt
Labels: Upcoming Set
