Repository Card-Forge/forge, pull requests merged in 2023-06, with the labels that each got.

#3176 LTR 9 cards
  forge-gui/res/cardsfolder/upcoming/bag_end_porter.txt
  forge-gui/res/cardsfolder/upcoming/dunedain_blade.txt
  forge-gui/res/cardsfolder/upcoming/east_mark_cavalier.txt
  forge-gui/res/cardsfolder/upcoming/galadriel_gift_giver.txt
  forge-gui/res/cardsfolder/upcoming/last_march_of_the_ents.txt
  forge-gui/res/cardsfolder/upcoming/minas_tirith.txt
  forge-gui/res/cardsfolder/upcoming/nasty_end.txt
  forge-gui/res/cardsfolder/upcoming/storm_of_saruman.txt
  forge-gui/res/cardsfolder/upcoming/voracious_fell_beast.txt
Labels: Upcoming Set

#3182 Some script updates
  forge-gui/res/cardsfolder/a/arcane_bombardment.txt
  forge-gui/res/cardsfolder/a/arcbound_tracker.txt
  forge-gui/res/cardsfolder/a/arena_trickster.txt
  forge-gui/res/cardsfolder/b/baral_and_kari_zev.txt
  forge-gui/res/cardsfolder/b/bloodsky_berserker.txt
  forge-gui/res/cardsfolder/c/captain_ripley_vance.txt
  forge-gui/res/cardsfolder/c/clarion_spirit.txt
  forge-gui/res/cardsfolder/c/curse_of_shaken_faith.txt
  forge-gui/res/cardsfolder/d/djinn_of_the_fountain.txt
  forge-gui/res/cardsfolder/d/doomskar_oracle.txt
  forge-gui/res/cardsfolder/d/double_vision.txt
  forge-gui/res/cardsfolder/d/dreamstalker_manticore.txt
  forge-gui/res/cardsfolder/e/edgin_larcenous_lutenist.txt
  forge-gui/res/cardsfolder/e/electrostatic_infantry.txt
  forge-gui/res/cardsfolder/e/elmar_ulvenwald_informant.txt
  forge-gui/res/cardsfolder/e/erayo_soratami_ascendant_erayos_essence.txt
  forge-gui/res/cardsfolder/e/esper_sentinel.txt
  forge-gui/res/cardsfolder/f/firja_judge_of_valor.txt
  forge-gui/res/cardsfolder/g/gnawing_vermin.txt
  forge-gui/res/cardsfolder/g/goldbug_humanitys_ally_goldbug_scrappy_scout.txt
  forge-gui/res/cardsfolder/h/howling_moon.txt
  forge-gui/res/cardsfolder/i/ichneumon_druid.txt
  forge-gui/res/cardsfolder/i/incursion_specialist.txt
  forge-gui/res/cardsfolder/i/infernal_pet.txt
  forge-gui/res/cardsfolder/j/jace_unraveler_of_secrets.txt
  forge-gui/res/cardsfolder/j/jin_gitaxias_progress_tyrant.txt
  forge-gui/res/cardsfolder/j/jori_en_ruin_diver.txt
  forge-gui/res/cardsfolder/k/kalamax_the_stormsire.txt
  forge-gui/res/cardsfolder/k/kraum_ludevics_opus.txt
  forge-gui/res/cardsfolder/l/ledger_shredder.txt
  forge-gui/res/cardsfolder/m/max_the_daredevil.txt
  forge-gui/res/cardsfolder/m/menagerie_curator.txt
  forge-gui/res/cardsfolder/m/minds_dilation.txt
  forge-gui/res/cardsfolder/m/mischievous_chimera.txt
  forge-gui/res/cardsfolder/m/monk_of_the_open_hand.txt
  forge-gui/res/cardsfolder/m/monologue_tax.txt
  forge-gui/res/cardsfolder/n/nullstone_gargoyle.txt
  forge-gui/res/cardsfolder/n/nymris_oonas_trickster.txt
  forge-gui/res/cardsfolder/o/oji_the_exquisite_blade.txt
  forge-gui/res/cardsfolder/p/pain_distributor.txt
  forge-gui/res/cardsfolder/p/pyromancers_assault.txt
  forge-gui/res/cardsfolder/r/rashmi_and_ragavan.txt
  forge-gui/res/cardsfolder/r/rashmi_eternities_crafter.txt
  forge-gui/res/cardsfolder/s/sevinne_the_chronoclasm.txt
  forge-gui/res/cardsfolder/s/shadow_in_the_warp.txt
  forge-gui/res/cardsfolder/s/skyship_weatherlight.txt
  forge-gui/res/cardsfolder/s/sword_point_diplomacy.txt
  forge-gui/res/cardsfolder/t/tawnos_the_toymaker.txt
  forge-gui/res/cardsfolder/t/temporal_extortion.txt
  forge-gui/res/cardsfolder/t/the_council_of_four.txt
  forge-gui/res/cardsfolder/t/thunder_drake.txt
  forge-gui/res/cardsfolder/t/tomb_of_horrors_adventurer.txt
  forge-gui/res/cardsfolder/t/tuvasa_the_sunlit.txt
  forge-gui/res/cardsfolder/upcoming/storm_of_saruman.txt
  forge-gui/res/cardsfolder/v/vances_blasting_cannons_spitfire_bastion.txt
  forge-gui/res/cardsfolder/v/vial_smasher_the_fierce.txt
  forge-gui/res/cardsfolder/v/volo_guide_to_monsters.txt
  forge-gui/res/cardsfolder/z/zenith_chronicler.txt
Labels: Card Cleanup, Card Patch

#3183 Edition updates: LTR, LTC, PF23
  forge-gui/res/editions/MagicFest 2023.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth Commander.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth.txt
Labels: Upcoming Set

#3171 Adventure events initial implementation
  forge-core/src/main/java/forge/deck/DeckFormat.java
  forge-game/src/main/java/forge/game/GameType.java
  forge-gui-mobile/src/forge/adventure/character/DialogActor.java
  forge-gui-mobile/src/forge/adventure/character/PortalActor.java
  forge-gui-mobile/src/forge/adventure/data/AdventureEventData.java
  forge-gui-mobile/src/forge/adventure/data/AdventureQuestData.java
  forge-gui-mobile/src/forge/adventure/data/AdventureQuestStage.java
  forge-gui-mobile/src/forge/adventure/data/DialogData.java
  forge-gui-mobile/src/forge/adventure/data/RewardData.java
  forge-gui-mobile/src/forge/adventure/player/AdventurePlayer.java
  forge-gui-mobile/src/forge/adventure/player/PlayerStatistic.java
  forge-gui-mobile/src/forge/adventure/scene/AdventureDeckEditor.java
  forge-gui-mobile/src/forge/adventure/scene/DeckEditScene.java
  forge-gui-mobile/src/forge/adventure/scene/DraftScene.java
  forge-gui-mobile/src/forge/adventure/scene/DuelScene.java
  forge-gui-mobile/src/forge/adventure/scene/EventScene.java
  forge-gui-mobile/src/forge/adventure/scene/InnScene.java
  forge-gui-mobile/src/forge/adventure/scene/InventoryScene.java
  forge-gui-mobile/src/forge/adventure/scene/MenuScene.java
  forge-gui-mobile/src/forge/adventure/scene/PlayerStatisticScene.java
  forge-gui-mobile/src/forge/adventure/scene/RewardScene.java
  forge-gui-mobile/src/forge/adventure/scene/ShopScene.java
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
  forge-gui-mobile/src/forge/adventure/util/AdventureEventController.java
  forge-gui-mobile/src/forge/adventure/util/AdventureQuestController.java
  forge-gui-mobile/src/forge/adventure/util/CardUtil.java
  forge-gui-mobile/src/forge/adventure/util/MapDialog.java
  forge-gui-mobile/src/forge/adventure/util/Reward.java
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
  forge-gui-mobile/src/forge/deck/FDeckEditor.java
  forge-gui-mobile/src/forge/screens/TransitionScreen.java
  forge-gui-mobile/src/forge/screens/limited/DraftingProcessScreen.java
  forge-gui-mobile/src/forge/screens/match/MatchController.java
  forge-gui-mobile/src/forge/screens/match/winlose/AdventureWinLose.java
  forge-gui-mobile/src/forge/screens/match/winlose/ViewWinLose.java
  forge-gui/res/adventure/Shandalar/maps/map/cave_22.tmx
  forge-gui/res/adventure/Shandalar/maps/map/grove_6.tmx
  forge-gui/res/adventure/Shandalar/maps/map/main_story/temple_of_liliana/bog.tmx
  forge-gui/res/adventure/Shandalar/maps/map/main_story/temple_of_liliana/graveyard.tmx
  forge-gui/res/adventure/Shandalar/maps/map/main_story/temple_of_liliana/keep.tmx
  forge-gui/res/adventure/Shandalar/maps/map/main_story/temple_of_liliana/town.tmx
  forge-gui/res/adventure/Shandalar/maps/map/monastery_2.tmx
  forge-gui/res/adventure/Shandalar/maps/map/plains_town.tmx
  forge-gui/res/adventure/Shandalar/maps/map/snowabbey_2.tmx
  forge-gui/res/adventure/Shandalar/maps/map/zedruu.tmx
  forge-gui/res/adventure/Shandalar/maps/map/zedruu_f1.tmx
  forge-gui/res/adventure/Shandalar/maps/obj/arena.tx
  forge-gui/res/adventure/Shandalar/ui/event.json
  forge-gui/res/adventure/Shandalar/ui/event_portrait.json
  forge-gui/res/adventure/Shandalar/ui/inn.json
  forge-gui/res/adventure/Shandalar/ui/inn_portrait.json
  forge-gui/res/adventure/Shandalar/ui/tavernevent.png
  forge-gui/res/languages/en-US.properties
  forge-gui/src/main/java/forge/gamemodes/limited/BoosterDraft.java
  forge-gui/src/main/java/forge/localinstance/achievements/AchievementCollection.java
  forge-gui/src/main/java/forge/localinstance/achievements/AdventureAchievements.java
  forge-gui/src/main/java/forge/model/FModel.java
Labels: Adventure

#3190 Added puzzle PS_MOM3
  forge-gui/res/puzzle/PS_MOM3.pzl
Labels: Puzzle Mode

#3191 Fix DeckHints only finding SimpleKeyword
  forge-core/src/main/java/forge/card/CardRules.java
  forge-core/src/main/java/forge/card/CardRulesPredicates.java
  forge-game/src/main/java/forge/game/ability/effects/ClashEffect.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/h/hordewing_skaab.txt
Labels: AI, Rules compliance

#3193 Adventure card inventory update fix
  forge-gui-mobile/src/forge/adventure/scene/AdventureDeckEditor.java
  forge-gui/res/adventure/Shandalar/world/enemies.json
Labels: Adventure

#3196 Update fallaji_excavation.txt
  forge-gui/res/cardsfolder/f/fallaji_excavation.txt
Labels: Card Patch

#3195 Follow-up tweak for when triggers are checked during resolve
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/RemoveFromGameEffect.java
  forge-gui/res/cardsfolder/k/kynaios_and_tiro_of_meletis.txt
  forge-gui/res/cardsfolder/t/the_great_aurora.txt
Labels: Game Mechanics, Card Cleanup

#3187 LTR 7 cards
  forge-gui/res/cardsfolder/g/grand_warlord_radha.txt
  forge-gui/res/cardsfolder/upcoming/fangorn_tree_shepherd.txt
  forge-gui/res/cardsfolder/upcoming/fire_of_orthanc.txt
  forge-gui/res/cardsfolder/upcoming/fires_of_mount_doom.txt
  forge-gui/res/cardsfolder/upcoming/frodo_determined_hero.txt
  forge-gui/res/cardsfolder/upcoming/galadhrim_bow.txt
  forge-gui/res/cardsfolder/upcoming/generous_ent.txt
  forge-gui/res/cardsfolder/upcoming/gimli_mournful_avenger.txt
Labels: Upcoming Set

#3169 Alchemy Rebalancing for May 30, 2023
  forge-gui/res/cardsfolder/rebalanced/a-kumano_faces_kakkazan_etching_of_kumano.txt
  forge-gui/res/cardsfolder/t/traumatic_prank.txt
  forge-gui/res/editions/Kamigawa Neon Dynasty.txt
Labels: Rules/Oracle Changes

#3192 LTR 10 cards
  forge-gui/res/cardsfolder/upcoming/gimli_counter_of_kills.txt
  forge-gui/res/cardsfolder/upcoming/gimlis_axe.txt
  forge-gui/res/cardsfolder/upcoming/gimlis_fury.txt
  forge-gui/res/cardsfolder/upcoming/grond_the_gatebreaker.txt
  forge-gui/res/cardsfolder/upcoming/lotho_corrupt_shirriff.txt
  forge-gui/res/cardsfolder/upcoming/many_partings.txt
  forge-gui/res/cardsfolder/upcoming/mines_of_moria.txt
  forge-gui/res/cardsfolder/upcoming/moria_marauder.txt
  forge-gui/res/cardsfolder/upcoming/rivendell.txt
  forge-gui/res/cardsfolder/upcoming/shadowfax_lord_of_horses.txt
Labels: Upcoming Set

#3200 Cleanup more ResolvingChecks
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/trigger/TriggerLifeGained.java
  forge-gui/res/cardsfolder/a/ankle_shanker.txt
  forge-gui/res/cardsfolder/a/attended_healer.txt
  forge-gui/res/cardsfolder/c/cleric_of_lifes_bond.txt
  forge-gui/res/cardsfolder/c/company_commander.txt
  forge-gui/res/cardsfolder/c/cunning_rhetoric.txt
  forge-gui/res/cardsfolder/c/curse_of_shaken_faith.txt
  forge-gui/res/cardsfolder/d/dance_with_calamity.txt
  forge-gui/res/cardsfolder/d/deathless_knight.txt
  forge-gui/res/cardsfolder/h/howling_mine.txt
  forge-gui/res/cardsfolder/m/mana_vault.txt
  forge-gui/res/cardsfolder/n/nim_abomination.txt
  forge-gui/res/cardsfolder/r/ratchet_field_medic_ratchet_rescue_racer.txt
  forge-gui/res/cardsfolder/r/resolute_veggiesaur.txt
  forge-gui/res/cardsfolder/v/voodoo_doll.txt
  forge-gui/res/cardsfolder/w/whirlwind_denial.txt
Labels: Card Cleanup, Card Patch

#3205 Fix NPE
  forge-game/src/main/java/forge/game/ability/effects/ChangeCombatantsEffect.java
  forge-game/src/main/java/forge/game/combat/CombatUtil.java
  forge-game/src/main/java/forge/game/trigger/TriggerCounterAddedOnce.java
  forge-gui/res/cardsfolder/a/assembled_alphas.txt
  forge-gui/res/cardsfolder/r/reins_of_power.txt
  forge-gui/res/cardsfolder/t/twist_allegiance.txt
Labels: Card Cleanup, Crash fix

#3206 Edition updates: LTR, LTC
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth Commander.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth.txt
Labels: Upcoming Set

#3207 Grolnoks bog fix
  forge-gui/res/adventure/Shandalar/maps/map/grolnok.tmx
  forge-gui/res/adventure/Shandalar/world/enemies.json
Labels: Adventure

#3208 Improve AI playability for Nissa, Genesis Mage
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ability/UntapAi.java
Labels: AI

#3146 LKICopy Transform and flip
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-gui-desktop/src/test/java/forge/ai/simulation/GameSimulationTest.java
Labels: Game Mechanics

#3209 Adventure - Name overrides, new Slivers, Tibalt map fix
  forge-gui-mobile/src/forge/adventure/character/EnemySprite.java
  forge-gui-mobile/src/forge/adventure/data/AdventureEventData.java
  forge-gui-mobile/src/forge/adventure/data/BiomeData.java
  forge-gui-mobile/src/forge/adventure/data/EnemyData.java
  forge-gui-mobile/src/forge/adventure/data/WorldData.java
  forge-gui-mobile/src/forge/adventure/scene/ArenaScene.java
  forge-gui-mobile/src/forge/adventure/scene/DuelScene.java
  forge-gui-mobile/src/forge/adventure/scene/EventScene.java
  forge-gui-mobile/src/forge/adventure/scene/PlayerStatisticScene.java
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
  forge-gui-mobile/src/forge/adventure/stage/WorldStage.java
  forge-gui-mobile/src/forge/adventure/util/MapDialog.java
  forge-gui/res/adventure/Shandalar/decks/monsters/sliver_blue.dck
  forge-gui/res/adventure/Shandalar/decks/monsters/sliver_green.dck
  forge-gui/res/adventure/Shandalar/decks/monsters/sliver_red.dck
  forge-gui/res/adventure/Shandalar/decks/monsters/sliver_white.dck
  forge-gui/res/adventure/Shandalar/maps/map/tibalt_f1.tmx
  forge-gui/res/adventure/Shandalar/sprites/monsters/sliver_blue.atlas
  forge-gui/res/adventure/Shandalar/sprites/monsters/sliver_green.atlas
  forge-gui/res/adventure/Shandalar/sprites/monsters/sliver_green.png
  forge-gui/res/adventure/Shandalar/sprites/monsters/sliver_red.atlas
  forge-gui/res/adventure/Shandalar/sprites/monsters/sliver_red.png
  forge-gui/res/adventure/Shandalar/sprites/monsters/sliver_white.atlas
  forge-gui/res/adventure/Shandalar/world/blue.json
  forge-gui/res/adventure/Shandalar/world/enemies.json
  forge-gui/res/adventure/Shandalar/world/green.json
  forge-gui/res/adventure/Shandalar/world/red.json
  forge-gui/res/adventure/Shandalar/world/white.json
Labels: Adventure

#3213 Fix double music playback in the inn.
  forge-gui-mobile/src/forge/adventure/scene/InnScene.java
Labels: Adventure

#3149 Add "Base" and "Relief" terrain sets
  forge-gui/res/adventure/Shandalar/maps/tileset/main.tsx
Labels: Adventure

#3216 Add music back to town events/draft scene
  forge-gui-mobile/src/forge/adventure/scene/DraftScene.java
  forge-gui-mobile/src/forge/adventure/scene/EventScene.java
  forge-gui-mobile/src/forge/adventure/scene/PlayerStatisticScene.java
Labels: Adventure

#3220 Edition updates: LTR, LTC
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth Commander.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth.txt
Labels: Upcoming Set

#3222 Amass type
  forge-ai/src/main/java/forge/ai/ability/AmassAi.java
  forge-game/src/main/java/forge/game/ability/effects/AmassEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TokenEffectBase.java
  forge-gui/res/cardsfolder/a/angrath_captain_of_chaos.txt
  forge-gui/res/cardsfolder/a/aven_eternal.txt
  forge-gui/res/cardsfolder/b/bleeding_edge.txt
  forge-gui/res/cardsfolder/c/callous_dismissal.txt
  forge-gui/res/cardsfolder/c/commence_the_endgame.txt
  forge-gui/res/cardsfolder/c/crush_dissent.txt
  forge-gui/res/cardsfolder/d/dreadhorde_invasion.txt
  forge-gui/res/cardsfolder/d/dreadhorde_twins.txt
  forge-gui/res/cardsfolder/e/enter_the_god_eternals.txt
  forge-gui/res/cardsfolder/e/eternal_skylord.txt
  forge-gui/res/cardsfolder/g/gleaming_overseer.txt
  forge-gui/res/cardsfolder/g/grim_initiate.txt
  forge-gui/res/cardsfolder/h/herald_of_the_dreadhorde.txt
  forge-gui/res/cardsfolder/h/honor_the_god_pharaoh.txt
  forge-gui/res/cardsfolder/i/invade_the_city.txt
  forge-gui/res/cardsfolder/i/invading_manticore.txt
  forge-gui/res/cardsfolder/l/lazotep_chancellor.txt
  forge-gui/res/cardsfolder/l/lazotep_plating.txt
  forge-gui/res/cardsfolder/l/lazotep_reaver.txt
  forge-gui/res/cardsfolder/r/relentless_advance.txt
  forge-gui/res/cardsfolder/t/toll_of_the_invasion.txt
  forge-gui/res/cardsfolder/v/vizier_of_the_scorpion.txt
  forge-gui/res/cardsfolder/w/widespread_brutality.txt
  forge-gui/res/editions/Innistrad Midnight Hunt Commander.txt
  forge-gui/res/editions/Modern Horizons 2.txt
  forge-gui/res/editions/Starter Commander Decks.txt
  forge-gui/res/editions/War of the Spark.txt
  forge-gui/res/lists/token-images.txt
  forge-gui/res/puzzle/PS_M204.pzl
  forge-gui/res/puzzle/PS_WAR0.pzl
  forge-gui/res/puzzle/PS_WAR1.pzl
  forge-gui/res/tokenscripts/b_0_0_army.txt
  forge-gui/res/tokenscripts/b_0_0_zombie_army.txt
Labels: Upcoming Set, Game Mechanics

#3228 Add several popular cubes from Cube Cobra
  forge-gui/res/cube/Bun Magic Cube.dck
  forge-gui/res/cube/Caleb Gannon's Powered Synergy Cube.dck
  forge-gui/res/cube/Dekkaru Cube.dck
  forge-gui/res/cube/MTGO Legacy Cube August 2021.dck
  forge-gui/res/cube/Regular Cube.dck
  forge-gui/res/cube/The Pauper Cube (June 2023 ONE-BRO-40K).dck
  forge-gui/res/cube/The Peasant Cube 2023 (June).dck
  forge-gui/res/draft/Bun Magic Cube.draft
  forge-gui/res/draft/Caleb Gannon's Powered Synergy Cube.draft
  forge-gui/res/draft/Dekkaru Cube.draft
  forge-gui/res/draft/MTGO Legacy Cube August 2021.draft
  forge-gui/res/draft/Regular Cube.draft
  forge-gui/res/draft/The Pauper Cube (June 2023 ONE-BRO-40K).draft
  forge-gui/res/draft/The Peasant Cube 2023 (June).draft
Labels: Cube Draft

#3231 Edition updates: LTR, LTC
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth Commander.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth.txt
Labels: Upcoming Set

#3229 add Naga Initiate enemy, nagawarrior sprite/atlas/deck
  forge-gui/res/adventure/Shandalar/decks/naga/nagawarrior.dck
  forge-gui/res/adventure/Shandalar/sprites/naga/nagawarrior.atlas
  forge-gui/res/adventure/Shandalar/sprites/naga/nagawarrior.png
  forge-gui/res/adventure/Shandalar/world/enemies.json
  forge-gui/res/adventure/Shandalar/world/white.json
Labels: Adventure

#3232 AI: Account for transformable cards (e.g. Incubator tokens) when considering defenders
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
Labels: AI

#3219 LTR 9 cards
  forge-gui/res/cardsfolder/upcoming/elanor_gardner.txt
  forge-gui/res/cardsfolder/upcoming/oliphaunt.txt
  forge-gui/res/cardsfolder/upcoming/radagast_the_brown.txt
  forge-gui/res/cardsfolder/upcoming/revive_the_shire.txt
  forge-gui/res/cardsfolder/upcoming/saradoc_master_of_buckland.txt
  forge-gui/res/cardsfolder/upcoming/sharkey_tyrant_of_the_shire.txt
  forge-gui/res/cardsfolder/upcoming/shire_shirriff.txt
  forge-gui/res/cardsfolder/upcoming/the_battle_of_bywater.txt
  forge-gui/res/cardsfolder/upcoming/troll_of_khazad_dum.txt
  forge-gui/res/tokenscripts/w_1_1_halfling.txt
Labels: Upcoming Set

#3241 Attack fixes
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/AiBlockController.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-ai/src/main/java/forge/ai/ability/AnimateAi.java
  forge-ai/src/main/java/forge/ai/ability/SacrificeAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeTargetsEffect.java
  forge-gui/res/cardsfolder/a/ancient_imperiosaur.txt
  forge-gui/res/cardsfolder/e/elminster.txt
  forge-gui/res/cardsfolder/h/hateful_eidolon.txt
  forge-gui/res/cardsfolder/i/imps_mischief.txt
  forge-gui/res/cardsfolder/l/living_lore.txt
  forge-gui/res/cardsfolder/s/spark_of_creativity.txt
Labels: AI

#3224 LTR 11 cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/arwen_undomiel.txt
  forge-gui/res/cardsfolder/upcoming/battle_scarred_goblin.txt
  forge-gui/res/cardsfolder/upcoming/celeborn_the_wise.txt
  forge-gui/res/cardsfolder/upcoming/dawn_of_a_new_age.txt
  forge-gui/res/cardsfolder/upcoming/eagles_of_the_north.txt
  forge-gui/res/cardsfolder/upcoming/elrond_master_of_healing.txt
  forge-gui/res/cardsfolder/upcoming/elven_chorus.txt
  forge-gui/res/cardsfolder/upcoming/elvish_mariner.txt
  forge-gui/res/cardsfolder/upcoming/erkenbrand_lord_of_westfold.txt
  forge-gui/res/cardsfolder/upcoming/mithril_coat.txt
  forge-gui/res/cardsfolder/upcoming/the_watcher_in_the_water.txt
Labels: Upcoming Set

#3212 LTR 9 cards
  forge-gui/res/cardsfolder/upcoming/flowering_of_the_white_tree.txt
  forge-gui/res/cardsfolder/upcoming/king_of_the_oathbreakers.txt
  forge-gui/res/cardsfolder/upcoming/legolas_master_archer.txt
  forge-gui/res/cardsfolder/upcoming/meneldor_swift_savior.txt
  forge-gui/res/cardsfolder/upcoming/meriadoc_brandybuck.txt
  forge-gui/res/cardsfolder/upcoming/merry_esquire_of_rohan.txt
  forge-gui/res/cardsfolder/upcoming/morgul_knife_wound.txt
  forge-gui/res/cardsfolder/upcoming/protector_of_gondor.txt
  forge-gui/res/cardsfolder/upcoming/rising_of_the_day.txt
Labels: Upcoming Set

#3244 Fix PatternSyntaxException
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
Labels: bug

#3247 Clean up attack logic vs vehicles
  forge-ai/src/main/java/forge/ai/AiAttackController.java
Labels: AI

#3243 LTR 5 cards
  forge-gui/res/cardsfolder/upcoming/anduril_flame_of_the_west.txt
  forge-gui/res/cardsfolder/upcoming/arwen_mortal_queen.txt
  forge-gui/res/cardsfolder/upcoming/assault_on_osgiliath.txt
  forge-gui/res/cardsfolder/upcoming/banish_from_edoras.txt
  forge-gui/res/cardsfolder/upcoming/barad_dur.txt
  forge-gui/res/cardsfolder/upcoming/rivendell.txt
Labels: Upcoming Set

#3246 small adventure fixes
  forge-gui/res/adventure/Shandalar/custom_card_pics/Slobad's Boss Effect.fullborder.jpg
  forge-gui/res/adventure/Shandalar/custom_cards/slobad_boss_effect.txt
  forge-gui/res/adventure/Shandalar/custom_cards/zedruu_boss_effect.txt
  forge-gui/res/adventure/Shandalar/decks/unholy/demonshard.dck
  forge-gui/res/adventure/Shandalar/maps/map/castles/white_castle.tmx
  forge-gui/res/adventure/Shandalar/world/enemies.json
Labels: Adventure

#3250 NPE guard for cases like Dunerider Outlaw dealing damage.
  forge-game/src/main/java/forge/game/card/CardDamageHistory.java
Labels: bug

#3251 Consider fog effects ruining assaults
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/AiBlockController.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-ai/src/main/java/forge/ai/ability/RevealAiBase.java
  forge-ai/src/main/java/forge/ai/ability/SetStateAi.java
  forge-game/src/main/java/forge/game/ability/effects/DigUntilEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PumpAllEffect.java
  forge-gui/res/cardsfolder/a/assembled_alphas.txt
  forge-gui/res/cardsfolder/f/fireflux_squad.txt
Labels: AI, Card Patch

#3252 Edition updates: LTR, LTC
  forge-gui-desktop/src/test/java/forge/card/CardDbCardMockTestCase.java
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth Commander.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth.txt
Labels: Upcoming Set

#3253 Support for Isildur's Fateful Strike
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/StaticEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-gui/res/cardsfolder/e/elite_spellbinder.txt
  forge-gui/res/cardsfolder/h/hakim_loreweaver.txt
  forge-gui/res/cardsfolder/m/mavinda_students_advocate.txt
  forge-gui/res/cardsfolder/s/soul_partition.txt
Labels: Upcoming Set, Card Patch

#3259 Add puzzles PS_MOM4, PS_MOM5
  forge-gui/res/puzzle/PS_MOM3.pzl
  forge-gui/res/puzzle/PS_MOM4.pzl
  forge-gui/res/puzzle/PS_MOM5.pzl
Labels: Puzzle Mode

#3260 Adventure - draft fixes
  forge-gui-mobile/src/forge/adventure/data/AdventureEventData.java
Labels: Adventure

#3270 Update sword_of_once_and_future.txt
  forge-gui/res/cardsfolder/s/sword_of_once_and_future.txt
Labels: Card Patch

#3261 LOTR 10 cards
  forge-gui/res/cardsfolder/upcoming/elven_farsight.txt
  forge-gui/res/cardsfolder/upcoming/ent_draught_basin.txt
  forge-gui/res/cardsfolder/upcoming/entish_restoration.txt
  forge-gui/res/cardsfolder/upcoming/eomer_of_the_riddermark.txt
  forge-gui/res/cardsfolder/upcoming/eowyn_lady_of_rohan.txt
  forge-gui/res/cardsfolder/upcoming/erebor_flamesmith.txt
  forge-gui/res/cardsfolder/upcoming/errand_rider_of_gondor.txt
  forge-gui/res/cardsfolder/upcoming/escape_from_orthanc.txt
  forge-gui/res/cardsfolder/upcoming/esquire_of_the_king.txt
  forge-gui/res/cardsfolder/upcoming/fall_of_cair_andros.txt
Labels: Upcoming Set

#3275 LOTR 10 cards
  forge-gui/res/cardsfolder/upcoming/grey_havens_navigator.txt
  forge-gui/res/cardsfolder/upcoming/haradrim_spearmaster.txt
  forge-gui/res/cardsfolder/upcoming/hithlain_knots.txt
  forge-gui/res/cardsfolder/upcoming/ioreth_of_the_healing_house.txt
  forge-gui/res/cardsfolder/upcoming/isolation_at_orthanc.txt
  forge-gui/res/cardsfolder/upcoming/ithilien_kingfisher.txt
  forge-gui/res/cardsfolder/upcoming/lorien_revealed.txt
  forge-gui/res/cardsfolder/upcoming/the_balrog_flame_of_udun.txt
  forge-gui/res/cardsfolder/upcoming/the_bath_song.txt
  forge-gui/res/cardsfolder/upcoming/witch_king_bringer_of_ruin.txt
Labels: Upcoming Set

#3276 Aura without Enchant shouldnt't stay attached
  forge-game/src/main/java/forge/game/GameEntity.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/a/arixmethes_slumbering_isle.txt
Labels: Game Mechanics, Rules compliance

#3258 Adventure: several minor fixes / QoL changes
  forge-gui-mobile/src/forge/adventure/scene/DeckSelectScene.java
  forge-gui-mobile/src/forge/adventure/scene/DraftScene.java
  forge-gui-mobile/src/forge/adventure/scene/EventScene.java
  forge-gui-mobile/src/forge/adventure/scene/InnScene.java
  forge-gui-mobile/src/forge/adventure/scene/PlayerStatisticScene.java
  forge-gui-mobile/src/forge/adventure/scene/RewardScene.java
  forge-gui-mobile/src/forge/adventure/scene/SpellSmithScene.java
Labels: GUI, Adventure

#3277 Add several puzzles from MtgPuzzles.com
  forge-gui/res/puzzle/MTGP_01.pzl
  forge-gui/res/puzzle/MTGP_02.pzl
  forge-gui/res/puzzle/MTGP_03.pzl
  forge-gui/res/puzzle/MTGP_04.pzl
  forge-gui/res/puzzle/MTGP_05.pzl
  forge-gui/res/puzzle/MTGP_06.pzl
  forge-gui/res/puzzle/MTGP_08.pzl.disabled
  forge-gui/res/puzzle/MTGP_09.pzl
Labels: Puzzle Mode

#3280 Allow puzzles with full human control (for puzzles where the AI can't manage to work optimally)
  forge-gui/res/puzzle/MTGP_08.pzl
  forge-gui/res/puzzle/PS_GRNS.pzl
  forge-gui/src/main/java/forge/gamemodes/puzzle/Puzzle.java
Labels: Puzzle Mode

#3230 CardChangedType: use Enum Flags for removeAllSubTypes
  forge-core/src/main/java/forge/card/CardChangedType.java
  forge-core/src/main/java/forge/card/RemoveType.java
  forge-game/src/main/java/forge/game/ability/effects/AmassEffect.java
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffectBase.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
Labels: Game Mechanics

#3283 [Android] support receiving text intent
  forge-gui-android/AndroidManifest.xml
  forge-gui-android/src/forge/app/Main.java
Labels: Android

#3284 Several AI improvements
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-ai/src/main/java/forge/ai/SpecialCardAi.java
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-ai/src/main/java/forge/ai/ability/BranchAi.java
  forge-ai/src/main/java/forge/ai/ability/PermanentCreatureAi.java
  forge-gui/res/cardsfolder/b/bring_the_ending.txt
  forge-gui/res/cardsfolder/g/grisly_sigil.txt
  forge-gui/res/cardsfolder/h/hold_for_ransom.txt
Labels: AI

#3285 LOTR 13 cards with amass
  forge-gui/res/cardsfolder/upcoming/march_from_the_black_gate.txt
  forge-gui/res/cardsfolder/upcoming/mordor_muster.txt
  forge-gui/res/cardsfolder/upcoming/orcish_bowmasters.txt
  forge-gui/res/cardsfolder/upcoming/orcish_medicine.txt
  forge-gui/res/cardsfolder/upcoming/saruman_the_white.txt
  forge-gui/res/cardsfolder/upcoming/sarumans_trickery.txt
  forge-gui/res/cardsfolder/upcoming/shagrat_loot_bearer.txt
  forge-gui/res/cardsfolder/upcoming/surrounded_by_orcs.txt
  forge-gui/res/cardsfolder/upcoming/swarming_of_moria.txt
  forge-gui/res/cardsfolder/upcoming/the_mouth_of_sauron.txt
  forge-gui/res/cardsfolder/upcoming/the_torment_of_gollum.txt
  forge-gui/res/cardsfolder/upcoming/treason_of_isengard.txt
  forge-gui/res/cardsfolder/upcoming/warbeast_of_gorgoroth.txt
Labels: Upcoming Set

#3287 Fix Green Castle crash on non-case insensitive file systems, fix Ghalta's Presence effect.
  forge-gui/res/adventure/Shandalar/custom_cards/ghaltas_presence.txt
  forge-gui/res/adventure/Shandalar/sprites/animals/wolf.atlas
Labels: Adventure

#3289 Script updates
  forge-core/src/main/java/forge/card/DeckHints.java
  forge-gui/res/cardsfolder/c/chandras_ignition.txt
  forge-gui/res/cardsfolder/d/death_by_dragons.txt
  forge-gui/res/cardsfolder/f/flame_fusillade.txt
  forge-gui/res/cardsfolder/f/flames_of_the_raze_boar.txt
  forge-gui/res/cardsfolder/f/fractured_identity.txt
  forge-gui/res/cardsfolder/h/hellish_rebuke.txt
  forge-gui/res/cardsfolder/k/kamiz_obscura_oculus.txt
  forge-gui/res/cardsfolder/k/karn_liberated.txt
  forge-gui/res/cardsfolder/k/kusari_gama.txt
  forge-gui/res/cardsfolder/m/mirrorweave.txt
  forge-gui/res/cardsfolder/p/plaguecrafter.txt
  forge-gui/res/cardsfolder/p/public_execution.txt
  forge-gui/res/cardsfolder/t/territorial_hellkite.txt
  forge-gui/res/cardsfolder/u/unexpected_allies.txt
  forge-gui/res/cardsfolder/upcoming/dunland_crebain.txt
Labels: Card Cleanup, Card Patch

#3281 Fix full replacement not reaching caller if chain contains update result
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-gui-desktop/src/test/java/forge/ai/simulation/SpellAbilityPickerSimulationTest.java
  forge-gui/res/cardsfolder/b/balor.txt
  forge-gui/res/cardsfolder/p/prophetic_titan.txt
  forge-gui/res/cardsfolder/s/sakashimas_will.txt
  forge-gui/res/cardsfolder/s/szats_will.txt
  forge-gui/res/cardsfolder/upcoming/witch_king_bringer_of_ruin.txt
Labels: Game Mechanics, Card Patch

#3292 Clean up the old (and disabled) version of the puzzle file
  forge-gui/res/puzzle/MTGP_08.pzl.disabled
Labels: Puzzle Mode

#3296 Fix AnimateAll / AI check creating unwanted ending commands
  forge-ai/src/main/java/forge/ai/ability/AnimateAi.java
  forge-game/src/main/java/forge/game/ability/effects/AnimateAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffect.java
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffectBase.java
  forge-game/src/main/java/forge/game/card/CardDamageHistory.java
  forge-game/src/main/java/forge/game/card/CardDamageMap.java
  forge-gui/res/cardsfolder/g/grow_from_the_ashes.txt
  forge-gui/res/cardsfolder/h/harvest_season.txt
  forge-gui/res/cardsfolder/i/insidious_dreams.txt
  forge-gui/res/cardsfolder/j/jaheiras_respite.txt
Labels: AI, Card Patch

#3291 LOTR 10 cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/lash_of_the_balrog.txt
  forge-gui/res/cardsfolder/upcoming/legolas_counter_of_kills.txt
  forge-gui/res/cardsfolder/upcoming/lost_isle_calling.txt
  forge-gui/res/cardsfolder/upcoming/lothlorien_lookout.txt
  forge-gui/res/cardsfolder/upcoming/mirkwood_spider.txt
  forge-gui/res/cardsfolder/upcoming/mirror_of_galadriel.txt
  forge-gui/res/cardsfolder/upcoming/mushroom_watchdogs.txt
  forge-gui/res/cardsfolder/upcoming/nimble_hobbit.txt
  forge-gui/res/cardsfolder/upcoming/nimrodel_watcher.txt
  forge-gui/res/cardsfolder/upcoming/palantir_of_orthanc.txt
Labels: Upcoming Set

#3298 Fix UnlessCost breaking if spell changed controllers
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-gui/res/cardsfolder/a/ashenmoor_liege.txt
  forge-gui/res/cardsfolder/b/benevolent_offering.txt
  forge-gui/res/cardsfolder/d/decoy_gambit.txt
  forge-gui/res/cardsfolder/i/infernal_offering.txt
  forge-gui/res/cardsfolder/i/intellectual_offering.txt
  forge-gui/res/cardsfolder/r/research_development.txt
  forge-gui/res/cardsfolder/s/sylvan_offering.txt
  forge-gui/res/cardsfolder/w/wolfcallers_howl.txt
Labels: Card Patch

#3297 LOTR 10 cards
  forge-gui/res/cardsfolder/upcoming/bewitching_leechcraft.txt
  forge-gui/res/cardsfolder/upcoming/improvised_club.txt
  forge-gui/res/cardsfolder/upcoming/isildurs_fateful_strike.txt
  forge-gui/res/cardsfolder/upcoming/lembas.txt
  forge-gui/res/cardsfolder/upcoming/lost_to_legend.txt
  forge-gui/res/cardsfolder/upcoming/old_man_willow.txt
  forge-gui/res/cardsfolder/upcoming/pelargir_survivor.txt
  forge-gui/res/cardsfolder/upcoming/peregrin_took.txt
  forge-gui/res/cardsfolder/upcoming/quickbeam_upstart_ent.txt
  forge-gui/res/cardsfolder/upcoming/sting_the_glinting_dagger.txt
Labels: Upcoming Set

#3306 Remove outdated fizzle code
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
Labels: Game Mechanics

#3303 AI: AttachAi should avoid enchanting or equipping crewed vehicles
  forge-ai/src/main/java/forge/ai/ability/AttachAi.java
Labels: AI

#3312 Update doomskar_warrior.txt
  forge-gui/res/cardsfolder/d/doomskar_warrior.txt
Labels: Card Patch

#3302 LOTR 11 cards
  forge-gui/res/cardsfolder/upcoming/olog_hai_crusher.txt
  forge-gui/res/cardsfolder/upcoming/press_the_enemy.txt
  forge-gui/res/cardsfolder/upcoming/prince_imrahil_the_fair.txt
  forge-gui/res/cardsfolder/upcoming/rally_at_the_hornburg.txt
  forge-gui/res/cardsfolder/upcoming/rosie_cotton_of_south_lane.txt
  forge-gui/res/cardsfolder/upcoming/rush_the_room.txt
  forge-gui/res/cardsfolder/upcoming/samwise_gamgee.txt
  forge-gui/res/cardsfolder/upcoming/second_breakfast.txt
  forge-gui/res/cardsfolder/upcoming/shadow_of_the_enemy.txt
  forge-gui/res/cardsfolder/upcoming/shadow_summoning.txt
  forge-gui/res/cardsfolder/upcoming/shelob_child_of_ungoliant.txt
Labels: Upcoming Set

#3310 LOTR 10 cards
  forge-gui/res/cardsfolder/upcoming/oath_of_the_grey_host.txt
  forge-gui/res/cardsfolder/upcoming/phial_of_galadriel.txt
  forge-gui/res/cardsfolder/upcoming/pippins_bravery.txt
  forge-gui/res/cardsfolder/upcoming/quarrels_end.txt
  forge-gui/res/cardsfolder/upcoming/rise_of_the_witch_king.txt
  forge-gui/res/cardsfolder/upcoming/theoden_king_of_rohan.txt
  forge-gui/res/cardsfolder/upcoming/ugluk_of_the_white_hand.txt
  forge-gui/res/cardsfolder/upcoming/westfold_rider.txt
  forge-gui/res/cardsfolder/upcoming/willow_wind.txt
  forge-gui/res/cardsfolder/upcoming/wose_pathfinder.txt
Labels: Upcoming Set

#3321 Support for The Balrog, Durin's Bane
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/b/briarbridge_patrol.txt
  forge-gui/res/cardsfolder/d/dargo_the_shipwrecker.txt
  forge-gui/res/cardsfolder/g/goblin_blast_runner.txt
  forge-gui/res/cardsfolder/h/havengul_laboratory_havengul_mystery.txt
  forge-gui/res/cardsfolder/h/hawkins_national_laboratory_the_upside_down.txt
  forge-gui/res/cardsfolder/p/pyre_sledge_arsonist.txt
  forge-gui/res/cardsfolder/rebalanced/a-pyre-sledge_arsonist.txt
  forge-gui/res/cardsfolder/upcoming/elanor_gardner.txt
Labels: Upcoming Set

#3324 fix bug 🪰
  forge-gui/res/adventure/common/world/enemies.json
Labels: Adventure

#3327 update default plane
  forge-gui-mobile/src/forge/adventure/util/Config.java
Labels: Adventure

#3329 update teleporter paths
  forge-gui/res/adventure/common/maps/map/aerie_1.tmx
  forge-gui/res/adventure/common/maps/map/aerie_1B.tmx
  forge-gui/res/adventure/common/maps/map/aerie_1C.tmx
  forge-gui/res/adventure/common/maps/map/barbariancamp_4.tmx
  forge-gui/res/adventure/common/maps/map/castles/black_castle.tmx
  forge-gui/res/adventure/common/maps/map/castles/blue_castle.tmx
  forge-gui/res/adventure/common/maps/map/castles/green_castle.tmx
  forge-gui/res/adventure/common/maps/map/castles/red_castle.tmx
  forge-gui/res/adventure/common/maps/map/castles/white_castle.tmx
  forge-gui/res/adventure/common/maps/map/crypt.tmx
  forge-gui/res/adventure/common/maps/map/crypt_2.tmx
  forge-gui/res/adventure/common/maps/map/crypt_3.tmx
  forge-gui/res/adventure/common/maps/map/crypt_4.tmx
  forge-gui/res/adventure/common/maps/map/crypt_5.tmx
  forge-gui/res/adventure/common/maps/map/debug_map.tmx
  forge-gui/res/adventure/common/maps/map/graveyard.tmx
  forge-gui/res/adventure/common/maps/map/graveyard_2.tmx
  forge-gui/res/adventure/common/maps/map/graveyard_3.tmx
  forge-gui/res/adventure/common/maps/map/graveyard_4.tmx
  forge-gui/res/adventure/common/maps/map/graveyard_5.tmx
  forge-gui/res/adventure/common/maps/map/grolnok.tmx
  forge-gui/res/adventure/common/maps/map/grolnok_f1.tmx
  forge-gui/res/adventure/common/maps/map/magetower_14.tmx
  forge-gui/res/adventure/common/maps/map/magetower_8.tmx
  forge-gui/res/adventure/common/maps/map/main_story/temple_of_gideon/graveyard.tmx
  forge-gui/res/adventure/common/maps/map/main_story/temple_of_gideon/keep.tmx
  forge-gui/res/adventure/common/maps/map/main_story/temple_of_gideon/steppe.tmx
  forge-gui/res/adventure/common/maps/map/main_story/temple_of_gideon/town.tmx
  forge-gui/res/adventure/common/maps/map/main_story/temple_of_liliana/bog.tmx
  forge-gui/res/adventure/common/maps/map/main_story/temple_of_liliana/forest.tmx
  forge-gui/res/adventure/common/maps/map/main_story/temple_of_liliana/graveyard.tmx
  forge-gui/res/adventure/common/maps/map/main_story/temple_of_liliana/keep.tmx
  forge-gui/res/adventure/common/maps/map/main_story/temple_of_liliana/town.tmx
  forge-gui/res/adventure/common/maps/map/nahiri.tmx
  forge-gui/res/adventure/common/maps/map/naktamun.tmx
  forge-gui/res/adventure/common/maps/map/tibalt.tmx
  forge-gui/res/adventure/common/maps/map/tibalt_f1.tmx
  forge-gui/res/adventure/common/maps/map/tibalt_f2.tmx
  forge-gui/res/adventure/common/maps/map/wastetown..tmx
  forge-gui/res/adventure/common/maps/map/zedruu.tmx
  forge-gui/res/adventure/common/maps/map/zedruu_f0.tmx
  forge-gui/res/adventure/common/maps/map/zedruu_f1.tmx
  forge-gui/res/adventure/common/maps/map/zedruu_f2.tmx
  forge-gui/res/adventure/common/maps/map/zedruu_f3.tmx
  forge-gui/res/adventure/common/maps/map/zedruu_f4.tmx
Labels: Adventure

#3333 fix share text/data to Forge app
  forge-gui-android/AndroidManifest.xml
  forge-gui-android/src/forge/app/Exiter.java
  forge-gui-android/src/forge/app/Launcher.java
  forge-gui-android/src/forge/app/Main.java
Labels: Android

#3334 Fix mandatory
  forge-ai/src/main/java/forge/ai/ability/AttachAi.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/n/nyxathid.txt
  forge-gui/res/cardsfolder/s/struggle_for_sanity.txt
  forge-gui/src/main/java/forge/player/TargetSelection.java
Labels: AI, Rules compliance

#3335 Esix is copy layer
  forge-ai/src/main/java/forge/ai/ability/TwoPilesAi.java
  forge-gui/res/cardsfolder/e/esix_fractal_bloom.txt
  forge-gui/res/cardsfolder/p/protean_raider.txt
  forge-gui/res/cardsfolder/upcoming/peregrin_took.txt
Labels: Card Patch

#3337 Booster Draft: LTR with MOM updates
  forge-gui/res/blockdata/blocks.txt
  forge-gui/res/draft/rankings.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth.txt
Labels: Upcoming Set

#3338 Support for Fealty to the Realm
  forge-game/src/main/java/forge/game/ability/effects/AddTurnEffect.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
Labels: Upcoming Set

#3346 Edition update: SLD (Summer Superdrop 2023)
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#3347 Fix wrong decider when copying trigger
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-gui/res/cardsfolder/a/aetherplasm.txt
  forge-gui/res/cardsfolder/b/brimaz_king_of_oreskos.txt
  forge-gui/res/cardsfolder/s/share_the_spoils.txt
Labels: bug, Card Cleanup

#3352 restrict menus when DuelScene or RewardScene is loading
  forge-gui-mobile/src/forge/Forge.java
  forge-gui-mobile/src/forge/adventure/scene/DuelScene.java
  forge-gui-mobile/src/forge/adventure/scene/RewardScene.java
  forge-gui-mobile/src/forge/adventure/stage/GameHUD.java
  forge-gui-mobile/src/forge/adventure/stage/GameStage.java
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
  forge-gui-mobile/src/forge/adventure/stage/WorldStage.java
Labels: Adventure

#3319 LOTR 17 cards
  forge-gui/res/cardsfolder/upcoming/friendly_rivalry.txt
  forge-gui/res/cardsfolder/upcoming/saruman_of_many_colors.txt
  forge-gui/res/cardsfolder/upcoming/shelobs_ambush.txt
  forge-gui/res/cardsfolder/upcoming/shire_scarecrow.txt
  forge-gui/res/cardsfolder/upcoming/shire_terrace.txt
  forge-gui/res/cardsfolder/upcoming/shower_of_arrows.txt
  forge-gui/res/cardsfolder/upcoming/smite_the_deathless.txt
  forge-gui/res/cardsfolder/upcoming/snarling_warg.txt
  forge-gui/res/cardsfolder/upcoming/soldier_of_the_grey_host.txt
  forge-gui/res/cardsfolder/upcoming/spiteful_banditry.txt
  forge-gui/res/cardsfolder/upcoming/stern_scolding.txt
  forge-gui/res/cardsfolder/upcoming/stew_the_coneys.txt
  forge-gui/res/cardsfolder/upcoming/stone_of_erech.txt
  forge-gui/res/cardsfolder/upcoming/strider_ranger_of_the_north.txt
  forge-gui/res/cardsfolder/upcoming/tale_of_tinuviel.txt
  forge-gui/res/cardsfolder/upcoming/the_balrog_durins_bane.txt
  forge-gui/res/cardsfolder/upcoming/the_grey_havens.txt
Labels: Upcoming Set

#3336 LTC 10 cards
  forge-gui/res/cardsfolder/upcoming/aragorn_king_of_gondor.txt
  forge-gui/res/cardsfolder/upcoming/archivist_of_gondor.txt
  forge-gui/res/cardsfolder/upcoming/arwen_weaver_of_hope.txt
  forge-gui/res/cardsfolder/upcoming/assemble_the_entmoot.txt
  forge-gui/res/cardsfolder/upcoming/banquet_guests.txt
  forge-gui/res/cardsfolder/upcoming/beregond_of_the_guard.txt
  forge-gui/res/cardsfolder/upcoming/boromir_gondors_hope.txt
  forge-gui/res/cardsfolder/upcoming/call_for_aid.txt
  forge-gui/res/cardsfolder/upcoming/cavern_hoard_dragon.txt
  forge-gui/res/cardsfolder/upcoming/champions_of_minas_tirith.txt
Labels: Upcoming Set

#3351 LTC 5 Cards
  forge-gui/res/cardsfolder/upcoming/gimli_of_the_glittering_caves.txt
  forge-gui/res/cardsfolder/upcoming/legolas_greenleaf.txt
  forge-gui/res/cardsfolder/upcoming/merry_warden_of_isengard.txt
  forge-gui/res/cardsfolder/upcoming/pippin_warden_of_isengard.txt
  forge-gui/res/cardsfolder/upcoming/treebeard_gracious_host.txt
Labels: Upcoming Set

#3357 MOM jumpstart typo, adventure event patch
  forge-gui-mobile/src/forge/adventure/data/AdventureEventData.java
  forge-gui/res/blockdata/printsheets.txt
Labels: Adventure

#3361 Fix scripts
  forge-gui/res/cardsfolder/d/druid_of_the_emerald_grove.txt
  forge-gui/res/cardsfolder/j/jhoira_of_the_ghitu.txt
  forge-gui/res/cardsfolder/k/karn_liberated.txt
  forge-gui/res/cardsfolder/o/optimus_prime_hero_optimus_prime_autobot_leader.txt
  forge-gui/res/cardsfolder/p/pardic_dragon.txt
  forge-gui/res/cardsfolder/r/ruxa_patient_professor.txt
  forge-gui/res/cardsfolder/upcoming/crown_of_gondor.txt
  forge-gui/res/cardsfolder/upcoming/radagast_the_brown.txt
  forge-gui/res/tokenscripts/r_3_1_elemental_trample_haste.txt
  forge-gui/res/tokenscripts/r_x_1_phyrexian_horror_trample_haste.txt
Labels: Card Cleanup, Card Patch

#3362 Quest location on MapViewScene
  forge-gui-mobile/src/forge/adventure/scene/MapViewScene.java
  forge-gui/res/adventure/common/sprites/items.atlas
  forge-gui/res/adventure/common/sprites/items.png
  forge-gui/res/adventure/common/ui/map.json
  forge-gui/res/adventure/common/ui/map_portrait.json
Labels: Adventure

#3363 Fix switching secondary audio
  forge-gui-mobile/src/forge/adventure/scene/DeckSelectScene.java
  forge-gui-mobile/src/forge/adventure/scene/DraftScene.java
  forge-gui-mobile/src/forge/adventure/scene/DuelScene.java
  forge-gui-mobile/src/forge/adventure/scene/EventScene.java
  forge-gui-mobile/src/forge/adventure/scene/InnScene.java
  forge-gui-mobile/src/forge/adventure/scene/PlayerStatisticScene.java
  forge-gui-mobile/src/forge/adventure/stage/GameHUD.java
Labels: Adventure

#3355 LTC 5 cards
  forge-gui/res/cardsfolder/upcoming/eomer_king_of_rohan.txt
  forge-gui/res/cardsfolder/upcoming/eowyn_shieldmaiden.txt
  forge-gui/res/cardsfolder/upcoming/forth_eorlingas.txt
  forge-gui/res/cardsfolder/upcoming/oath_of_eorl.txt
  forge-gui/res/cardsfolder/upcoming/riders_of_rohan.txt
  forge-gui/res/tokenscripts/r_2_2_human_knight_trample_haste.txt
Labels: Upcoming Set

#3367 stop player movement when dialog is shown
  forge-gui-mobile/src/forge/adventure/character/PlayerSprite.java
  forge-gui-mobile/src/forge/adventure/stage/GameHUD.java
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
  forge-gui/res/adventure/common/world/points_of_interest.json
Labels: Adventure

#3369 update GameHUD
  forge-gui-mobile/src/forge/adventure/stage/GameHUD.java
Labels: Adventure

#3371 LTC 6 cards
  forge-gui/res/cardsfolder/upcoming/denethor_stone_seer.txt
  forge-gui/res/cardsfolder/upcoming/grey_host_reinforcements.txt
  forge-gui/res/cardsfolder/upcoming/hithlain_rope.txt
  forge-gui/res/cardsfolder/upcoming/lidless_gaze.txt
  forge-gui/res/cardsfolder/upcoming/lossarnach_captain.txt
  forge-gui/res/cardsfolder/upcoming/lothlorien_blade.txt
Labels: Upcoming Set

#3372 LTC 5 cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/mirkwood_elk.txt
  forge-gui/res/cardsfolder/upcoming/of_herbs_and_stewed_rabbit.txt
  forge-gui/res/cardsfolder/upcoming/prize_pig.txt
  forge-gui/res/cardsfolder/upcoming/raise_the_palisade.txt
  forge-gui/res/cardsfolder/upcoming/rampaging_war_mammoth.txt
Labels: Upcoming Set
