Repository Card-Forge/forge, pull requests merged in 2023-09, with the labels that each got.

#3719 Cloud fortress improvements
  forge-gui/res/adventure/common/maps/map/fort/fort_blue_4_clouds.tmx
  forge-gui/res/adventure/common/sprites/enemy/giant/godlytitan.atlas
  forge-gui/res/adventure/common/world/enemies.json
Labels: Adventure

#3721 CardRules: fix specialize faces on regular cards
  forge-ai/src/main/java/forge/ai/simulation/GameStateEvaluator.java
  forge-core/src/main/java/forge/card/CardRules.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TokenEffectBase.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityActivateAbilityAsIfHaste.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityAssignCombatDamageAsUnblocked.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantBeCopied.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantBecomeMonarch.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityIgnoreLegendRule.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityUnspentMana.java
  forge-gui-desktop/src/main/java/forge/toolbox/imaging/FCardImageRenderer.java
  forge-gui/src/main/java/forge/gui/card/CardScriptInfo.java
Labels: GUI

#3723 CardDb: support rebranded versions
  forge-core/src/main/java/forge/card/CardDb.java
  forge-core/src/main/java/forge/card/CardFace.java
  forge-core/src/main/java/forge/card/CardRules.java
  forge-core/src/main/java/forge/deck/generation/DeckGeneratorBase.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-gui-desktop/src/main/java/forge/screens/deckeditor/controllers/ACEditorBase.java
  forge-gui/res/cardsfolder/h/havengul_laboratory_havengul_mystery.txt
  forge-gui/res/cardsfolder/h/hawkins_national_laboratory_the_upside_down.txt
Labels: enhancement, Rules compliance

#3717 WOE 20 cards
  forge-gui/res/cardsfolder/upcoming/galvanic_giant_storm_reading.txt
  forge-gui/res/cardsfolder/upcoming/gingerbread_hunter_puny_snack.txt
  forge-gui/res/cardsfolder/upcoming/gnawing_crescendo.txt
  forge-gui/res/cardsfolder/upcoming/goddric_cloaked_reveler.txt
  forge-gui/res/cardsfolder/upcoming/grabby_giant_thats_mine.txt
  forge-gui/res/cardsfolder/upcoming/graceful_takedown.txt
  forge-gui/res/cardsfolder/upcoming/grand_ball_guest.txt
  forge-gui/res/cardsfolder/upcoming/greta_sweettooth_scourge.txt
  forge-gui/res/cardsfolder/upcoming/gruff_triplets.txt
  forge-gui/res/cardsfolder/upcoming/gumdrop_poisoner_tempt_with_treats.txt
  forge-gui/res/cardsfolder/upcoming/hamlet_glutton.txt
  forge-gui/res/cardsfolder/upcoming/harried_spearguard.txt
  forge-gui/res/cardsfolder/upcoming/heartflame_duelist_heartflame_slash.txt
  forge-gui/res/cardsfolder/upcoming/hearth_elemental_stoke_genius.txt
  forge-gui/res/cardsfolder/upcoming/high_fae_negotiator.txt
  forge-gui/res/cardsfolder/upcoming/hollow_scavenger_bakery_raid.txt
  forge-gui/res/cardsfolder/upcoming/hopeful_vigil.txt
  forge-gui/res/cardsfolder/upcoming/hopeless_nightmare.txt
  forge-gui/res/cardsfolder/upcoming/horned_loch_whale_lagoon_breach.txt
  forge-gui/res/cardsfolder/upcoming/regal_bunnicorn.txt
Labels: Upcoming Set

#3725 WOE 10 cards
  forge-gui/res/cardsfolder/upcoming/johann_apprentice_sorcerer.txt
  forge-gui/res/cardsfolder/upcoming/johanns_stopgap.txt
  forge-gui/res/cardsfolder/upcoming/kellans_lightblades.txt
  forge-gui/res/cardsfolder/upcoming/kindled_heroism.txt
  forge-gui/res/cardsfolder/upcoming/knight_of_doves.txt
  forge-gui/res/cardsfolder/upcoming/korvold_and_the_noble_thief.txt
  forge-gui/res/cardsfolder/upcoming/lady_of_laughter.txt
  forge-gui/res/cardsfolder/upcoming/leaping_ambush.txt
  forge-gui/res/cardsfolder/upcoming/lich_knights_conquest.txt
  forge-gui/res/cardsfolder/upcoming/likeness_looter.txt
Labels: Upcoming Set

#3726 WOE 8 cards
  forge-gui/res/cardsfolder/upcoming/faerie_slumber_party.txt
  forge-gui/res/cardsfolder/upcoming/howling_galefang.txt
  forge-gui/res/cardsfolder/upcoming/hylda_of_the_icy_crown.txt
  forge-gui/res/cardsfolder/upcoming/hyldas_crown_of_winter.txt
  forge-gui/res/cardsfolder/upcoming/ice_out.txt
  forge-gui/res/cardsfolder/upcoming/icewrought_sentry.txt
  forge-gui/res/cardsfolder/upcoming/imodanes_recruiter_train_troops.txt
  forge-gui/res/cardsfolder/upcoming/ingenious_prodigy.txt
  forge-gui/res/cardsfolder/upcoming/into_the_fae_court.txt
  forge-gui/res/cardsfolder/upcoming/intrepid_trufflesnout_go_hog_wild.txt
  forge-gui/res/tokenscripts/u_1_1_faerie_flying_blockflying.txt
  forge-gui/res/tokenscripts/wu_4_4_elemental.txt
Labels: Upcoming Set

#3727 UB/SLX rebranded script merging
  forge-gui/res/cardsfolder/a/aisha_of_sparks_and_smoke.txt
  forge-gui/res/cardsfolder/a/arvinox_the_mind_flail.txt
  forge-gui/res/cardsfolder/b/baldin_century_herdmaster.txt
  forge-gui/res/cardsfolder/b/bjorna_nightfall_alchemist.txt
  forge-gui/res/cardsfolder/b/blanka_ferocious_friend.txt
  forge-gui/res/cardsfolder/c/cecily_haunted_mage.txt
  forge-gui/res/cardsfolder/c/chief_jim_hopper.txt
  forge-gui/res/cardsfolder/c/chun_li_countless_kicks.txt
  forge-gui/res/cardsfolder/d/daryl_hunter_of_walkers.txt
  forge-gui/res/cardsfolder/d/dhalsim_pliable_pacifist.txt
  forge-gui/res/cardsfolder/d/dustin_gadget_genius.txt
  forge-gui/res/cardsfolder/e/e_honda_sumo_champion.txt
  forge-gui/res/cardsfolder/e/eleven_the_mage.txt
  forge-gui/res/cardsfolder/e/elmar_ulvenwald_informant.txt
  forge-gui/res/cardsfolder/g/glenn_the_voice_of_calm.txt
  forge-gui/res/cardsfolder/g/guile_sonic_soldier.txt
  forge-gui/res/cardsfolder/h/hargilde_kindly_runechanter.txt
  forge-gui/res/cardsfolder/i/immard_the_stormcleaver.txt
  forge-gui/res/cardsfolder/k/ken_burning_brawler.txt
  forge-gui/res/cardsfolder/l/lucas_the_sharpshooter.txt
  forge-gui/res/cardsfolder/l/lucille.txt
  forge-gui/res/cardsfolder/m/maarika_brutal_gladiator.txt
  forge-gui/res/cardsfolder/m/max_the_daredevil.txt
  forge-gui/res/cardsfolder/m/michonne_ruthless_survivor.txt
  forge-gui/res/cardsfolder/m/mike_the_dungeon_master.txt
  forge-gui/res/cardsfolder/m/mind_flayer_the_shadow.txt
  forge-gui/res/cardsfolder/n/negan_the_cold_blooded.txt
  forge-gui/res/cardsfolder/o/othelm_sigardian_outcast.txt
  forge-gui/res/cardsfolder/r/rick_steadfast_leader.txt
  forge-gui/res/cardsfolder/r/ryu_world_warrior.txt
  forge-gui/res/cardsfolder/s/sophina_spearsage_deserter.txt
  forge-gui/res/cardsfolder/t/tadeas_juniper_ascendant.txt
  forge-gui/res/cardsfolder/t/the_howling_abomination.txt
  forge-gui/res/cardsfolder/v/vikya_scorching_stalwart.txt
  forge-gui/res/cardsfolder/w/wernog_riders_chaplain.txt
  forge-gui/res/cardsfolder/w/will_the_wise.txt
  forge-gui/res/cardsfolder/z/zangief_the_red_cyclone.txt
  forge-gui/res/cardsfolder/z/zethi_arcane_blademaster.txt
  forge-gui/res/editions/30th Anniversary Misc Promos.txt
  forge-gui/res/editions/Doctor Who Commander.txt
Labels: Rules compliance

#3730 fix script
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-ai/src/main/java/forge/ai/simulation/GameCopier.java
  forge-ai/src/main/java/forge/ai/simulation/GameStateEvaluator.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseSourceEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/token/TokenInfo.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui-desktop/src/test/java/forge/ai/simulation/SimulationTest.java
  forge-gui/res/cardsfolder/i/ignoble_soldier.txt
Labels: AI, Card Patch

#3731 WOE 25 cards
  forge-gui/res/cardsfolder/upcoming/lord_skitter_sewer_king.txt
  forge-gui/res/cardsfolder/upcoming/lord_skitters_butcher.txt
  forge-gui/res/cardsfolder/upcoming/malevolent_witchkite.txt
  forge-gui/res/cardsfolder/upcoming/merfolk_coralsmith.txt
  forge-gui/res/cardsfolder/upcoming/minecart_daredevil_ride_the_rails.txt
  forge-gui/res/cardsfolder/upcoming/minstrosity.txt
  forge-gui/res/cardsfolder/upcoming/misleading_motes.txt
  forge-gui/res/cardsfolder/upcoming/mocking_sprite.txt
  forge-gui/res/cardsfolder/upcoming/moment_of_valor.txt
  forge-gui/res/cardsfolder/upcoming/mosswood_dreadknight_dread_whispers.txt
  forge-gui/res/cardsfolder/upcoming/neva_stalked_by_nightmares.txt
  forge-gui/res/cardsfolder/upcoming/night_of_the_sweets_revenge.txt
  forge-gui/res/cardsfolder/upcoming/obyra_dreaming_duelist.txt
  forge-gui/res/cardsfolder/upcoming/obyras_attendants_desperate_parry.txt
  forge-gui/res/cardsfolder/upcoming/ogre_chitterlord.txt
  forge-gui/res/cardsfolder/upcoming/old_flitterfang.txt
  forge-gui/res/cardsfolder/upcoming/pests_of_honor.txt
  forge-gui/res/cardsfolder/upcoming/picklock_prankster_free_the_fae.txt
  forge-gui/res/cardsfolder/upcoming/picnic_ruiner_stolen_goodies.txt
  forge-gui/res/cardsfolder/upcoming/plunge_into_winter.txt
  forge-gui/res/cardsfolder/upcoming/pollen_shield_hare_hare_raising.txt
  forge-gui/res/cardsfolder/upcoming/provisions_merchant.txt
  forge-gui/res/cardsfolder/upcoming/questing_druid_seek_the_beast.txt
  forge-gui/res/cardsfolder/upcoming/quick_study.txt
  forge-gui/res/cardsfolder/upcoming/raging_battle_mouse.txt
Labels: Upcoming Set

#3737 AI improvement for Grist, the Hunger Tide + puzzle PS_LTR3.
  forge-ai/src/main/java/forge/ai/ability/ImmediateTriggerAi.java
  forge-gui/res/cardsfolder/g/grist_the_hunger_tide.txt
  forge-gui/res/puzzle/PS_LTR3.pzl
Labels: AI, Puzzle Mode

#3734 WOE 25 cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/f/flayer_of_loyalties.txt
  forge-gui/res/cardsfolder/g/gnoll_hunting_party.txt
  forge-gui/res/cardsfolder/upcoming/rankles_prank.txt
  forge-gui/res/cardsfolder/upcoming/rat_out.txt
  forge-gui/res/cardsfolder/upcoming/ratcatcher_trainee_pest_problem.txt
  forge-gui/res/cardsfolder/upcoming/redcap_gutter_dweller.txt
  forge-gui/res/cardsfolder/upcoming/redcap_thief.txt
  forge-gui/res/cardsfolder/upcoming/redtooth_vanguard.txt
  forge-gui/res/cardsfolder/upcoming/return_from_the_wilds.txt
  forge-gui/res/cardsfolder/upcoming/rimefur_reindeer.txt
  forge-gui/res/cardsfolder/upcoming/rootrider_faun.txt
  forge-gui/res/cardsfolder/upcoming/rotisserie_elemental.txt
  forge-gui/res/cardsfolder/upcoming/rowans_grim_search.txt
  forge-gui/res/cardsfolder/upcoming/rowdy_research.txt
  forge-gui/res/cardsfolder/upcoming/ruby_daring_tracker.txt
  forge-gui/res/cardsfolder/upcoming/savior_of_the_sleeping.txt
  forge-gui/res/cardsfolder/upcoming/scalding_viper_steam_clean.txt
  forge-gui/res/cardsfolder/upcoming/scarecrow_guide.txt
  forge-gui/res/cardsfolder/upcoming/scream_puff.txt
  forge-gui/res/cardsfolder/upcoming/sharae_of_numbing_depths.txt
  forge-gui/res/cardsfolder/upcoming/shrouded_shepherd_cleave_shadows.txt
  forge-gui/res/cardsfolder/upcoming/skewer_slinger.txt
  forge-gui/res/cardsfolder/upcoming/skybeast_tracker.txt
  forge-gui/res/cardsfolder/upcoming/slumbering_keepguard.txt
  forge-gui/res/cardsfolder/upcoming/snaremaster_sprite.txt
  forge-gui/res/cardsfolder/upcoming/solitary_sanctuary.txt
  forge-gui/res/cardsfolder/upcoming/song_of_totentanz.txt
Labels: Upcoming Set

#3736 WOE 13 cards
  forge-gui/res/cardsfolder/upcoming/specter_of_mortality.txt
  forge-gui/res/cardsfolder/upcoming/spel_stutter.txt
  forge-gui/res/cardsfolder/upcoming/spellscorn_coven_take_it_back.txt
  forge-gui/res/cardsfolder/upcoming/spider_food.txt
  forge-gui/res/cardsfolder/upcoming/stingblade_assassin.txt
  forge-gui/res/cardsfolder/upcoming/stockpiling_celebrant.txt
  forge-gui/res/cardsfolder/upcoming/stonesplitter_bolt.txt
  forge-gui/res/cardsfolder/upcoming/stormkeld_prowler.txt
  forge-gui/res/cardsfolder/upcoming/stormkeld_vanguard_bear_down.txt
  forge-gui/res/cardsfolder/upcoming/storyteller_pixie.txt
  forge-gui/res/cardsfolder/upcoming/stroke_of_midnight.txt
  forge-gui/res/cardsfolder/upcoming/succumb_to_the_cold.txt
  forge-gui/res/cardsfolder/upcoming/sugar_rush.txt
Labels: Upcoming Set

#3738 Fix LastChapter logic
  forge-ai/src/main/java/forge/ai/SpecialCardAi.java
  forge-core/src/main/java/forge/deck/DeckFormat.java
  forge-core/src/main/java/forge/deck/generation/DeckGeneratorBase.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
Labels: Game Mechanics, AI

#3748 WOE 10 cards
  forge-gui/res/cardsfolder/upcoming/tattered_ratter.txt
  forge-gui/res/cardsfolder/upcoming/tenacious_tomeseeker.txt
  forge-gui/res/cardsfolder/upcoming/territorial_witchstalker.txt
  forge-gui/res/cardsfolder/upcoming/the_princess_takes_flight.txt
  forge-gui/res/cardsfolder/upcoming/three_bowls_of_porridge.txt
  forge-gui/res/cardsfolder/upcoming/toadstool_admirer.txt
  forge-gui/res/cardsfolder/upcoming/totentanz_swarm_piper.txt
  forge-gui/res/cardsfolder/upcoming/troublemaker_ouphe.txt
  forge-gui/res/cardsfolder/upcoming/tuinvale_guide.txt
  forge-gui/res/cardsfolder/upcoming/unruly_catapult.txt
Labels: Upcoming Set

#3743 WOC 7 Cards
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/blightwing_bandit.txt
  forge-gui/res/cardsfolder/upcoming/court_of_garenbrig.txt
  forge-gui/res/cardsfolder/upcoming/court_of_locthwain.txt
  forge-gui/res/cardsfolder/upcoming/court_of_vantress.txt
  forge-gui/res/cardsfolder/upcoming/faerie_bladecrafter.txt
  forge-gui/res/cardsfolder/upcoming/knickknack_ouphe.txt
  forge-gui/res/cardsfolder/upcoming/korvold_gleeful_glutton.txt
  forge-gui/res/cardsfolder/upcoming/liberated_livestock.txt
Labels: Upcoming Set

#3752 WOC 6 cards
  forge-game/src/main/java/forge/game/ability/effects/DigUntilEffect.java
  forge-gui/res/cardsfolder/upcoming/malleable_impostor.txt
  forge-gui/res/cardsfolder/upcoming/misleading_signpost.txt
  forge-gui/res/cardsfolder/upcoming/nettling_nuisance.txt
  forge-gui/res/cardsfolder/upcoming/ox_drover.txt
  forge-gui/res/cardsfolder/upcoming/shadow_puppeteers.txt
  forge-gui/res/cardsfolder/upcoming/songbirds_blessing.txt
  forge-gui/res/tokenscripts/r_4_2_pirate_noblock.txt
Labels: Upcoming Set

#3742 WOE 16 cards
  forge-gui/res/cardsfolder/upcoming/sweettooth_witch.txt
  forge-gui/res/cardsfolder/upcoming/syr_ginger_the_meal_ender.txt
  forge-gui/res/cardsfolder/upcoming/taken_by_nightmares.txt
  forge-gui/res/cardsfolder/upcoming/talions_messenger.txt
  forge-gui/res/cardsfolder/upcoming/tanglespan_lookout.txt
  forge-gui/res/cardsfolder/upcoming/tempest_hart_scan_the_clouds.txt
  forge-gui/res/cardsfolder/upcoming/the_apprentices_folly.txt
  forge-gui/res/cardsfolder/upcoming/the_end.txt
  forge-gui/res/cardsfolder/upcoming/the_huntsmans_redemption.txt
  forge-gui/res/cardsfolder/upcoming/the_irencrag.txt
  forge-gui/res/cardsfolder/upcoming/threadbind_clique_rip_the_seams.txt
  forge-gui/res/cardsfolder/upcoming/twining_twins_swift_spiral.txt
  forge-gui/res/cardsfolder/upcoming/two_headed_hunter_twice_the_rage.txt
  forge-gui/res/cardsfolder/upcoming/virtue_of_courage_embereth_blaze.txt
  forge-gui/res/cardsfolder/upcoming/virtue_of_strength_garenbrig_growth.txt
  forge-gui/res/cardsfolder/upcoming/woodland_acolyte_mend_the_wilds.txt
Labels: Upcoming Set

#3751 WOE 12 cards
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-gui/res/cardsfolder/c/confounding_conundrum.txt
  forge-gui/res/cardsfolder/e/epistolary_librarian.txt
  forge-gui/res/cardsfolder/t/tunnel_ignus.txt
  forge-gui/res/cardsfolder/upcoming/elusive_otter_groves_bounty.txt
  forge-gui/res/cardsfolder/upcoming/rowdy_research.txt
  forge-gui/res/cardsfolder/upcoming/three_bowls_of_porridge.txt
  forge-gui/res/cardsfolder/upcoming/troyan_gutsy_explorer.txt
  forge-gui/res/cardsfolder/upcoming/up_the_beanstalk.txt
  forge-gui/res/cardsfolder/upcoming/verdant_outrider.txt
  forge-gui/res/cardsfolder/upcoming/voracious_vermin.txt
  forge-gui/res/cardsfolder/upcoming/warehouse_tabby.txt
  forge-gui/res/cardsfolder/upcoming/water_wings.txt
  forge-gui/res/cardsfolder/upcoming/welcome_to_sweettooth.txt
  forge-gui/res/cardsfolder/upcoming/wicked_visitor.txt
  forge-gui/res/cardsfolder/upcoming/wildwood_mentor.txt
  forge-gui/res/cardsfolder/upcoming/witchstalker_frenzy.txt
  forge-gui/res/cardsfolder/upcoming/yenna_redtooth_regent.txt
Labels: Upcoming Set

#3761 Fix Chatterfang + Role token
  forge-game/src/main/java/forge/game/ability/effects/TokenEffectBase.java
Labels: Rules compliance

#3759 TriggerDamageDone: add Cause and targetedBy
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameEntity.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/trigger/TriggerDamageDone.java
  forge-gui/res/cardsfolder/upcoming/imodane_the_pyrohammer.txt
Labels: Upcoming Set, Game Mechanics

#3753 WOC last 6 cards + WOC Commander decks
  forge-gui/res/cardsfolder/upcoming/loamcrafter_faun.txt
  forge-gui/res/cardsfolder/upcoming/tegwyll_duke_of_splendor.txt
  forge-gui/res/cardsfolder/upcoming/tegwylls_scouring.txt
  forge-gui/res/cardsfolder/upcoming/throne_of_eldraine.txt
  forge-gui/res/cardsfolder/upcoming/timber_paladin.txt
  forge-gui/res/cardsfolder/upcoming/unfinished_business.txt
  forge-gui/res/editions/Wilds of Eldraine Commander.txt
  forge-gui/res/quest/commanderprecons/Fae Dominion [WOC] [2023].dck
  forge-gui/res/quest/commanderprecons/Virtue and Valor [WOC] [2023].dck
Labels: Upcoming Set

#3763 Update meeting_of_the_five.txt
  forge-gui/res/cardsfolder/m/meeting_of_the_five.txt
  forge-gui/res/cardsfolder/upcoming/questing_druid_seek_the_beast.txt
Labels: Card Patch

#3764 Cascade fix
  forge-ai/src/main/java/forge/ai/ability/PlayAi.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
Labels: bug

#3768 Regeneration: controller always taps
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/ability/effects/RegenerationEffect.java
Labels: Rules compliance

#3772 Adventure updates
  forge-adventure/src/main/java/forge/adventure/editor/EnemyEdit.java
  forge-gui-mobile/src/forge/adventure/character/CharacterSprite.java
  forge-gui-mobile/src/forge/adventure/character/EnemySprite.java
  forge-gui-mobile/src/forge/adventure/data/AdventureEventData.java
  forge-gui-mobile/src/forge/adventure/data/EnemyData.java
  forge-gui-mobile/src/forge/adventure/data/RewardData.java
  forge-gui-mobile/src/forge/adventure/player/AdventurePlayer.java
  forge-gui-mobile/src/forge/adventure/scene/RewardScene.java
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
  forge-gui/res/adventure/Shandalar/world/quests.json
  forge-gui/res/adventure/common/decks/miniboss/jungle_king.dck
  forge-gui/res/adventure/common/decks/miniboss/myr_superion.dck
  forge-gui/res/adventure/common/decks/standard/mimic_multicolor.dck
  forge-gui/res/adventure/common/decks/standard/prototype_blue.dck
  forge-gui/res/adventure/common/decks/standard/prototype_green.dck
  forge-gui/res/adventure/common/decks/standard/simicwizard_snow.dck
  forge-gui/res/adventure/common/maps/map/debug_map.tmx
  forge-gui/res/adventure/common/maps/map/dig_site.tmx
  forge-gui/res/adventure/common/maps/map/dig_site_2.tmx
  forge-gui/res/adventure/common/maps/map/dig_site_3.tmx
  forge-gui/res/adventure/common/maps/map/fort/fort_colorless_1_snow.tmx
  forge-gui/res/adventure/common/maps/map/fort/fort_colorless_2_wizards.tmx
  forge-gui/res/adventure/common/maps/map/grove/grove_8.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/dig_site_0.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/dig_site_1.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/dig_site_2.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/frostbitten_cavern_0.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/frostbitten_cavern_1.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/library_of_varsil_0.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/library_of_varsil_1.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/library_of_varsil_2.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/library_of_varsil_3.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/library_of_varsil_4.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/primal_jungle.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/shard_mines.tmx
  forge-gui/res/adventure/common/maps/obj/enemy.tx
  forge-gui/res/adventure/common/maps/tileset/dungeon.png
  forge-gui/res/adventure/common/maps/tileset/main.tsx
  forge-gui/res/adventure/common/maps/tileset/rivers.tsx
  forge-gui/res/adventure/common/sprites/enemy/construct/golem_4.png
  forge-gui/res/adventure/common/sprites/enemy/construct/prototype.png
  forge-gui/res/adventure/common/sprites/enemy/construct/prototype_black.atlas
  forge-gui/res/adventure/common/sprites/enemy/construct/prototype_black.png
  forge-gui/res/adventure/common/sprites/enemy/construct/prototype_blue.atlas
  forge-gui/res/adventure/common/sprites/enemy/construct/prototype_blue.png
  forge-gui/res/adventure/common/sprites/enemy/construct/prototype_green.atlas
  forge-gui/res/adventure/common/sprites/enemy/construct/prototype_green.png
  forge-gui/res/adventure/common/sprites/enemy/humanoid/human/wizard/simic_wiz.atlas
  forge-gui/res/adventure/common/sprites/enemy/humanoid/human/wizard/simic_wiz.png
  forge-gui/res/adventure/common/world/enemies.json
  forge-gui/res/adventure/common/world/points_of_interest.json
Labels: Adventure

#3781 Added an achievement for WOE by Marek14
  forge-gui/res/lists/planeswalker-achievements.txt
Labels: Upcoming Set

#3785 Fix scripts
  forge-gui-desktop/src/main/java/forge/toolbox/imaging/FCardImageRenderer.java
  forge-gui/res/cardsfolder/c/conquerors_flail.txt
  forge-gui/res/cardsfolder/s/sacred_ground.txt
  forge-gui/res/cardsfolder/s/szadek_lord_of_secrets.txt
  forge-gui/res/cardsfolder/upcoming/graceful_takedown.txt
Labels: Card Patch, Desktop

#3791 Fix Lion's Eye Diamond check
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
Labels: bug

#3793 Update Gods
  forge-gui/res/cardsfolder/a/animar_soul_of_elements.txt
  forge-gui/res/cardsfolder/a/athreos_god_of_passage.txt
  forge-gui/res/cardsfolder/a/athreos_shroud_veiled.txt
  forge-gui/res/cardsfolder/e/ephara_god_of_the_polis.txt
  forge-gui/res/cardsfolder/e/erebos_bleak_hearted.txt
  forge-gui/res/cardsfolder/h/heliod_sun_crowned.txt
  forge-gui/res/cardsfolder/i/iroas_god_of_victory.txt
  forge-gui/res/cardsfolder/k/karametra_god_of_harvests.txt
  forge-gui/res/cardsfolder/k/keranos_god_of_storms.txt
  forge-gui/res/cardsfolder/k/klothys_god_of_destiny.txt
  forge-gui/res/cardsfolder/k/kolvori_god_of_kinship_the_ringhart_crest.txt
  forge-gui/res/cardsfolder/k/kruphix_god_of_horizons.txt
  forge-gui/res/cardsfolder/m/mogis_god_of_slaughter.txt
  forge-gui/res/cardsfolder/n/nylea_keen_eyed.txt
  forge-gui/res/cardsfolder/p/pharika_god_of_affliction.txt
  forge-gui/res/cardsfolder/p/phenax_god_of_deception.txt
  forge-gui/res/cardsfolder/p/purphoros_bronze_blooded.txt
  forge-gui/res/cardsfolder/s/sin_prodder.txt
  forge-gui/res/cardsfolder/s/svyelun_of_sea_and_sky.txt
  forge-gui/res/cardsfolder/t/thassa_deep_dwelling.txt
  forge-gui/res/cardsfolder/upcoming/scream_puff.txt
  forge-gui/res/cardsfolder/x/xenagos_god_of_revels.txt
  forge-gui/res/tokenscripts/b_1_1_nightmare_exile_counter.txt
Labels: Card Cleanup, Card Patch

#3795 Adventure - Portal destination fix in Lilliana dungeon
  forge-gui/res/adventure/common/maps/map/main_story/temple_of_liliana/town.tmx
Labels: Adventure

#3787 Fix Ashiok
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigUntilEffect.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-gui/res/cardsfolder/upcoming/ashiok_wicked_manipulator.txt
Labels: Game Mechanics, Rules compliance

#3794 Improve cost reduction logic for X shards with color restriction
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/mana/ManaCostBeingPaid.java
  forge-gui/res/cardsfolder/p/primitive_justice.txt
Labels: Rules compliance

#3802 add Display Shop Item names option
  forge-gui-mobile/src/forge/adventure/data/SettingData.java
  forge-gui-mobile/src/forge/adventure/scene/RewardScene.java
  forge-gui-mobile/src/forge/adventure/scene/SettingsScene.java
  forge-gui-mobile/src/forge/adventure/scene/SpellSmithScene.java
  forge-gui-mobile/src/forge/adventure/util/Controls.java
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
  forge-gui-mobile/src/forge/assets/Assets.java
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Adventure

#3798 Allow Spawnsire of Ulamog to cast changelings
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/staticability/StaticAbility.java
  forge-gui/res/cardsfolder/s/spawnsire_of_ulamog.txt
Labels: Game Mechanics, Rules compliance

#3804 Edition updates: LTC, LTR, RVR - New editions: LCC, LCI, REX, SPG
  forge-gui/res/editions/Jurassic World Collection.txt
  forge-gui/res/editions/Ravnica Remastered.txt
  forge-gui/res/editions/Special Guests.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth Commander.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth.txt
  forge-gui/res/editions/The Lost Caverns of Ixalan Commander.txt
  forge-gui/res/editions/The Lost Caverns of Ixalan.txt
Labels: Upcoming Set

#3807 Edition updates: LTC, LTR, PF23, PW23, RVR, SLD, WOE
  forge-gui/res/editions/MagicFest 2023.txt
  forge-gui/res/editions/Ravnica Remastered.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth Commander.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth.txt
  forge-gui/res/editions/Wilds of Eldraine.txt
  forge-gui/res/editions/Wizards Play Network 2023.txt
Labels: Upcoming Set

#3806 LTR 5 Jumpstart 2 cards
  forge-gui/res/cardsfolder/upcoming/eagle_of_deliverance.txt
  forge-gui/res/cardsfolder/upcoming/minas_tirith_garrison.txt
  forge-gui/res/cardsfolder/upcoming/mirkwood_channeler.txt
  forge-gui/res/cardsfolder/upcoming/riders_of_the_mark.txt
  forge-gui/res/cardsfolder/upcoming/warg_rider.txt
Labels: Upcoming Set

#3803 LTC 8 cards
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantGainLosePayLife.java
  forge-gui/res/cardsfolder/upcoming/anduril_narsil_reforged.txt
  forge-gui/res/cardsfolder/upcoming/aragorn_hornburg_hero.txt
  forge-gui/res/cardsfolder/upcoming/arboreal_alliance.txt
  forge-gui/res/cardsfolder/upcoming/call_forth_the_tempest.txt
  forge-gui/res/cardsfolder/upcoming/courageous_resolve.txt
  forge-gui/res/cardsfolder/upcoming/fell_beast_of_mordor.txt
  forge-gui/res/cardsfolder/upcoming/fell_beasts_shriek.txt
  forge-gui/res/cardsfolder/upcoming/galadhrim_brigade.txt
Labels: Upcoming Set

#3811 Edition updates: LTC, LTR, SLD
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth Commander.txt
  forge-gui/res/editions/The Lord of the Rings Tales of Middle-earth.txt
Labels: Upcoming Set

#3808 LTC 8 cards 23/09
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/galadriel_light_of_valinor.txt
  forge-gui/res/cardsfolder/upcoming/galadriels_dismissal.txt
  forge-gui/res/cardsfolder/upcoming/gandalf_of_the_secret_fire.txt
  forge-gui/res/cardsfolder/upcoming/gimlis_reckless_might.txt
  forge-gui/res/cardsfolder/upcoming/isengard_unleashed.txt
  forge-gui/res/cardsfolder/upcoming/legolass_quick_reflexes.txt
  forge-gui/res/cardsfolder/upcoming/minas_morgul_dark_fortress.txt
  forge-gui/res/cardsfolder/upcoming/mists_of_lorien.txt
Labels: Upcoming Set

#3817 Some fixes
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantTarget.java
  forge-game/src/main/java/forge/game/trigger/TriggerLifeLostAll.java
  forge-gui/res/cardsfolder/g/glass_asp.txt
  forge-gui/res/cardsfolder/h/haktos_the_unscarred.txt
  forge-gui/res/cardsfolder/m/massacre_girl.txt
  forge-gui/res/cardsfolder/m/mavinda_students_advocate.txt
  forge-gui/res/cardsfolder/n/nafs_asp.txt
  forge-gui/res/cardsfolder/upcoming/likeness_looter.txt
Labels: AI, Card Patch, Rules compliance

#3823 Catlair tile fix
  forge-gui/res/adventure/common/maps/map/catlair/catlair_white_1_lionden.tmx
Labels: Adventure

#3826 Slime cave and crypt_3 collision fixes
  forge-gui/res/adventure/common/maps/map/graveyard_crypt/crypt_3.tmx
  forge-gui/res/adventure/common/maps/map/minibosses/slime_hive.tmx
Labels: Adventure

#3812 LTC final 8 cards
  forge-game/src/main/java/forge/game/ability/effects/DigUntilEffect.java
  forge-gui/res/cardsfolder/upcoming/mordor_on_the_march.txt
  forge-gui/res/cardsfolder/upcoming/nazgul_battle_mace.txt
  forge-gui/res/cardsfolder/upcoming/olorins_searing_light.txt
  forge-gui/res/cardsfolder/upcoming/rally_the_galadhrim.txt
  forge-gui/res/cardsfolder/upcoming/rammas_echor_ancient_shield.txt
  forge-gui/res/cardsfolder/upcoming/rohirrim_chargers.txt
  forge-gui/res/cardsfolder/upcoming/sorcerous_squall.txt
  forge-gui/res/cardsfolder/upcoming/witch_king_sky_scourge.txt
Labels: Upcoming Set

#3825 Improve AI support for Ent's Fury
  forge-ai/src/main/java/forge/ai/ability/FightAi.java
Labels: AI

#3829 LCI first 5 cards
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/breeches_eager_pillager.txt
  forge-gui/res/cardsfolder/upcoming/ghalta_stampede_tyrant.txt
  forge-gui/res/cardsfolder/upcoming/huatli_poet_of_unity_roar_of_the_fifth_people.txt
  forge-gui/res/cardsfolder/upcoming/ojer_axonil_deepest_might.txt
  forge-gui/res/cardsfolder/upcoming/the_skullspore_nexus.txt
  forge-gui/res/tokenscripts/g_x_x_fungus_dinosaur.txt
Labels: Upcoming Set

#3828 Some fixes
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigUntilEffect.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityStackInstance.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/t/targ_nar_demon_fang_gnoll.txt
Labels: Upcoming Set, Rules compliance, GUI

#3834 Add puzzle PS_WOE2
  forge-gui/res/puzzle/PS_WOE2.pzl
Labels: Puzzle Mode
