Repository Card-Forge/forge, pull requests merged in 2024-08, with the labels that each got.

#5746 TokenEffect no longer has state
  forge-game/src/main/java/forge/game/ability/ApiType.java
Labels: performance

#5760 Chief Engineer can't convoke for snow or colorless shards
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-game/src/main/java/forge/game/mana/ManaCostBeingPaid.java
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectCardsForConvokeOrImprovise.java
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectManyBase.java
Labels: Rules compliance

#5704 Rottenmouth Viper
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/rottenmouth_viper.txt
Labels: Upcoming Set

#5762 fix ToggleButton
  forge-gui-mobile/src/forge/itemmanager/filters/ToggleButtonsFilter.java
Labels: GUI

#5797 Edition updates: SCH, SLD, SLP
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Secret Lair Showdown.txt
  forge-gui/res/editions/Store Championships.txt
Labels: Upcoming Set

#5796 UNF Myra the Magnificent
  forge-gui/res/cardsfolder/m/myra_the_magnificent.txt
Labels: Unfinity

#5808 Fix Kozilek's Command allowing X>0 on cascade
  forge-gui/res/cardsfolder/t/teferis_time_twist.txt
  forge-gui/res/cardsfolder/upcoming/starlit_soothsayer.txt
  forge-gui/res/cardsfolder/upcoming/starseer_mentor.txt
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Card Patch

#5791 Apply ReplaceAddCounter with ReplaceMoved for ETB Counter
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameEntityCounterTable.java
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersNoteEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TokenEffectBase.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardCopyService.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/cost/CostPutCounter.java
  forge-game/src/main/java/forge/game/replacement/ReplaceAddCounter.java
  forge-game/src/main/java/forge/game/replacement/ReplaceMoved.java
  forge-game/src/main/java/forge/game/replacement/ReplacementEffect.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-gui/res/cardsfolder/t/tawnoss_coffin.txt
Labels: Game Mechanics

#5851 Fix missing LTB trigger of devoured creature
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
Labels: Game Mechanics

#5861 Update cubes (enable Cogwork Librarian)
  forge-gui/res/cube/The Pauper Cube (June 2023 ONE-BRO-40K).dck
  forge-gui/res/cube/The Peasant Cube 2023 (June).dck
Labels: Drafting

#5871 CardFactory: add offspring imagekey
  forge-game/src/main/java/forge/game/card/CardFactory.java
Labels: GUI

#5853 GameActionUtil: store OptionalKeywordAmount in CastSA
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
Labels: Game Mechanics

#5888 Format updates: MB2
  forge-gui/res/formats/Archived/Legacy/2024-08-02.txt
  forge-gui/res/formats/Archived/Vintage/2024-08-02.txt
  forge-gui/res/formats/Sanctioned/Legacy.txt
  forge-gui/res/formats/Sanctioned/Vintage.txt
Labels: Format Changes

#5887 Edition updates: MB2, SLD
  forge-gui-desktop/src/test/java/forge/card/CardDbCardMockTestCase.java
  forge-gui-desktop/src/test/java/forge/deck/DeckRecognizerTest.java
  forge-gui/res/editions/Mystery Booster 2.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#5903 Edition updates: MB2, SLP
  forge-gui/res/editions/Mystery Booster 2.txt
  forge-gui/res/editions/Secret Lair Showdown.txt
Labels: Upcoming Set

#5898 Fix token CMC when copying
  forge-game/src/main/java/forge/game/card/Card.java
Labels: Game Mechanics

#5813 Update Mobile Build
  forge-adventure/pom.xml
  forge-core/pom.xml
  forge-gui-android/AndroidManifest.xml
  forge-gui-android/filters/build.txt
  forge-gui-android/libs/arm64-v8a/libgdx-box2d.so
  forge-gui-android/libs/arm64-v8a/libgdx-freetype.so
  forge-gui-android/libs/arm64-v8a/libgdx.so
  forge-gui-android/libs/armeabi-v7a/libgdx-box2d.so
  forge-gui-android/libs/armeabi-v7a/libgdx-freetype.so
  forge-gui-android/libs/armeabi-v7a/libgdx.so
  forge-gui-android/libs/gdx-backend-android-sources.jar
  forge-gui-android/libs/gdx-backend-android.jar
  forge-gui-android/libs/gdx-freetype.jar
  forge-gui-android/libs/gdx-sources.jar
  forge-gui-android/libs/gdx.jar
  forge-gui-android/libs/publicfileprovider.jar
  forge-gui-android/libs/relinker.jar
  forge-gui-android/libs/x86/libgdx-box2d.so
  forge-gui-android/libs/x86/libgdx-freetype.so
  forge-gui-android/libs/x86/libgdx.so
  forge-gui-android/libs/x86_64/libgdx-box2d.so
  forge-gui-android/libs/x86_64/libgdx-freetype.so
  forge-gui-android/libs/x86_64/libgdx.so
  forge-gui-android/pom.xml
  forge-gui-android/proguard.cfg
  forge-gui-android/res/drawable/bg_gradient.xml
  forge-gui-android/res/drawable/logo.png
  forge-gui-android/res/drawable/splash_background.xml
  forge-gui-android/res/layout/main.xml
  forge-gui-android/res/layout/splash.xml
  forge-gui-android/res/values-w820dp/dimens.xml
  forge-gui-android/res/values/colors.xml
  forge-gui-android/res/values/dimens.xml
  forge-gui-android/res/values/styles.xml
  forge-gui-android/res/values/themes.xml
  forge-gui-android/res/xml/publicfileprovider_paths.xml
  forge-gui-android/src/forge/app/Launcher.java
  forge-gui-android/src/forge/app/Main.java
  forge-gui-ios/pom.xml
  forge-gui-mobile-dev/libs/gdx-backend-lwjgl-sources.jar
  forge-gui-mobile-dev/libs/gdx-box2d-platform-natives.jar
  forge-gui-mobile-dev/libs/gdx-freetype-natives.jar
  forge-gui-mobile-dev/libs/gdx-natives.jar
  forge-gui-mobile-dev/pom.xml
  forge-gui-mobile/libs/gdx-freetype.jar
  forge-gui-mobile/libs/gdx-sources.jar
  forge-gui-mobile/libs/gdx.jar
  forge-gui-mobile/pom.xml
  forge-gui-mobile/src/forge/adventure/scene/HudScene.java
  forge-gui-mobile/src/forge/assets/AssetsDownloader.java
  forge-gui-mobile/src/forge/screens/settings/SettingsPage.java
Labels: Mobile, Android

#5865 Fix Uphill Battle
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/effects/PhasesEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/c/clay_golem.txt
  forge-gui/res/cardsfolder/g/gilt_leaf_winnower.txt
  forge-gui/res/cardsfolder/s/stonebinders_familiar.txt
  forge-gui/res/cardsfolder/t/the_war_doctor.txt
  forge-gui/res/cardsfolder/u/uphill_battle.txt
  forge-gui/src/main/java/forge/gui/card/CardScriptParser.java
Labels: Card Patch

#5923 Edition updates: MB2, SLD, YBLB
  forge-gui/res/editions/Alchemy Bloomburrow.txt
  forge-gui/res/editions/Mystery Booster 2.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#5845 UNF last 3 attractions
  forge-gui/res/cardsfolder/f/ferris_wheel.txt
  forge-gui/res/cardsfolder/s/swinging_ship.txt
  forge-gui/res/cardsfolder/t/tunnel_of_love.txt
Labels: Unfinity

#5931 Edition updates: FDN, SLD, YBLB
  forge-gui/res/cardsfolder/f/fabled_path_of_searo_point.txt
  forge-gui/res/editions/Alchemy Bloomburrow.txt
  forge-gui/res/editions/Foundations.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set, Card Cleanup

#5938 Edition updates: FDN, MB2, YBLB
  forge-gui/res/editions/Alchemy Bloomburrow.txt
  forge-gui/res/editions/Foundations.txt
  forge-gui/res/editions/Mystery Booster 2.txt
Labels: Upcoming Set

#5950 Keyword: add 'Bands with other' keyword
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/AiBlockController.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/combat/AttackingBand.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/keyword/KeywordWithType.java
  forge-gui/res/cardsfolder/a/adventurers_guildhouse.txt
  forge-gui/res/cardsfolder/c/cathedral_of_serra.txt
  forge-gui/res/cardsfolder/m/mountain_stronghold.txt
  forge-gui/res/cardsfolder/o/old_fogey.txt
  forge-gui/res/cardsfolder/s/seafarers_quay.txt
  forge-gui/res/cardsfolder/s/shelkin_brownie.txt
  forge-gui/res/cardsfolder/t/tolaria.txt
  forge-gui/res/cardsfolder/u/unholy_citadel.txt
  forge-gui/res/tokenscripts/wolves_of_the_hunt.txt
Labels: Game Mechanics

#5881 GameActionUtil: use Multikicker as KeywordExtraCost
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-ai/src/main/java/forge/ai/ability/PermanentAi.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardCopyService.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/trigger/WrappedAbility.java
  forge-gui/res/cardsfolder/c/comet_storm.txt
  forge-gui/res/cardsfolder/s/strength_of_the_tajuru.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Game Mechanics, AI

#5956 Update oracle_en_vec.txt
  forge-gui/res/cardsfolder/o/oracle_en_vec.txt
Labels: Card Patch

#189 Implement CR 800.4m
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/phase/Untap.java
  forge-gui/res/cardsfolder/s/surge_of_salvation.txt
Labels: Rules compliance, keep

#5968 Fix AI assuming no token created for non-creature tokens
  forge-ai/src/main/java/forge/ai/ability/TokenAi.java
Labels: AI

#5972 Fix Scry AI that requires targeting (Kozilek's Command)
  forge-ai/src/main/java/forge/ai/ability/ScryAi.java
Labels: AI

#5047 refactor LandAbility to be created by CardFactory
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilAbility.java
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-ai/src/main/java/forge/ai/ability/DiscoverAi.java
  forge-ai/src/main/java/forge/ai/ability/PlayAi.java
  forge-ai/src/main/java/forge/ai/simulation/GameSimulator.java
  forge-ai/src/main/java/forge/ai/simulation/GameStateEvaluator.java
  forge-ai/src/main/java/forge/ai/simulation/SpellAbilityPicker.java
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/DiscoverEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PlayLandVariantEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/LandAbility.java
  forge-game/src/main/java/forge/game/spellability/Spell.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui-desktop/src/test/java/forge/ai/simulation/SpellAbilityPickerSimulationTest.java
  forge-gui/src/main/java/forge/gamemodes/match/input/InputPassPriority.java
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Game Mechanics, AI

#5975 Fix AI for Fireball and Shatterskull Smashing
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
Labels: AI

#5974 Update NewGameScene
  forge-gui-android/src/forge/app/Main.java
  forge-gui-mobile/src/forge/adventure/scene/NewGameScene.java
  forge-gui-mobile/src/forge/adventure/stage/GameHUD.java
  forge-gui/res/adventure/common/skin/ui_skin.json
  forge-gui/res/adventure/common/skin/ui_skin.png
  forge-gui/res/adventure/common/ui/new_game.json
  forge-gui/res/adventure/common/ui/new_game_portrait.json
Labels: Adventure

#5983 Fix Wheel of Potential
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilAbility.java
  forge-game/src/main/java/forge/game/GameLogFormatter.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardPredicates.java
  forge-gui/res/cardsfolder/i/ignite_the_future.txt
  forge-gui/res/cardsfolder/n/nahiris_lithoforming.txt
  forge-gui/res/cardsfolder/n/nyssa_of_traken.txt
  forge-gui/res/cardsfolder/w/wheel_of_potential.txt
Labels: Card Patch

#5988 CopyPermanentEffect: use DefinedName for special copies
  forge-core/src/main/java/forge/card/CardRarity.java
  forge-core/src/main/java/forge/item/PaperToken.java
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/ability/effects/CopyPermanentEffect.java
  forge-gui/res/cardsfolder/d/disa_the_restless.txt
  forge-gui/res/cardsfolder/p/peacekeeper_avatar.txt
  forge-gui/res/cardsfolder/r/ral_and_the_implicit_maze.txt
  forge-gui/res/cardsfolder/t/tarmogoyf_nest.txt
  forge-gui/res/tokenscripts/spellgorger_weird.txt
  forge-gui/res/tokenscripts/tarmogoyf.txt
Labels: Game Mechanics, Rules compliance

#5987 Improve AI for Searing Blaze
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-gui/res/cardsfolder/s/searing_blaze.txt
Labels: AI

#5985 Sorin boss tweaks
  forge-gui/res/adventure/common/custom_cards/sorins_boss_effect.txt
Labels: Adventure

#5991 Translation support for functional variants
  forge-core/src/main/java/forge/card/CardFace.java
  forge-core/src/main/java/forge/card/CardRulesPredicates.java
  forge-core/src/main/java/forge/card/ICardFace.java
  forge-core/src/main/java/forge/item/IPaperCard.java
  forge-core/src/main/java/forge/item/InventoryItem.java
  forge-core/src/main/java/forge/util/CardTranslation.java
  forge-core/src/main/java/forge/util/ITranslatable.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardState.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-game/src/main/java/forge/game/replacement/ReplacementEffect.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/staticability/StaticAbility.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-game/src/main/java/forge/trackable/TrackableProperty.java
  forge-gui-desktop/src/main/java/forge/toolbox/imaging/FCardImageRenderer.java
  forge-gui-mobile/src/forge/card/CardImageRenderer.java
  forge-gui/src/main/java/forge/gui/card/CardDetailUtil.java
  forge-gui/src/main/java/forge/itemmanager/AdvancedSearch.java
  forge-gui/src/main/java/forge/itemmanager/ColumnDef.java
Labels: Unfinity

#5998 StaticAbilityAssignNoCombatDamage: Static and first batch
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityAssignNoCombatDamage.java
  forge-gui/res/cardsfolder/b/bone_dancer.txt
  forge-gui/res/cardsfolder/c/carrion_rats.txt
  forge-gui/res/cardsfolder/c/carrion_wurm.txt
  forge-gui/res/cardsfolder/c/cloak_of_confusion.txt
  forge-gui/res/cardsfolder/d/delifs_cone.txt
  forge-gui/res/cardsfolder/d/delifs_cube.txt
  forge-gui/res/cardsfolder/d/dwarven_vigilantes.txt
  forge-gui/res/cardsfolder/f/farrels_mantle.txt
  forge-gui/res/cardsfolder/f/farrels_zealot.txt
  forge-gui/res/cardsfolder/f/floral_spuzzem.txt
  forge-gui/res/cardsfolder/g/gaze_of_pain.txt
  forge-gui/res/cardsfolder/g/goblin_vandal.txt
  forge-gui/res/cardsfolder/k/keeper_of_tresserhorn.txt
  forge-gui/res/cardsfolder/k/kukemssa_pirates.txt
  forge-gui/res/cardsfolder/l/laccolith_grunt.txt
  forge-gui/res/cardsfolder/l/laccolith_rig.txt
  forge-gui/res/cardsfolder/l/laccolith_titan.txt
  forge-gui/res/cardsfolder/l/laccolith_warrior.txt
  forge-gui/res/cardsfolder/l/laccolith_whelp.txt
  forge-gui/res/cardsfolder/l/lim_duls_paladin.txt
  forge-gui/res/cardsfolder/m/master_of_cruelties.txt
  forge-gui/res/cardsfolder/o/ophidian.txt
  forge-gui/res/cardsfolder/o/orcish_squatters.txt
  forge-gui/res/cardsfolder/p/pygmy_hippo.txt
  forge-gui/res/cardsfolder/r/rysorian_badger.txt
  forge-gui/res/cardsfolder/s/stromgald_spy.txt
Labels: Game Mechanics

#6007 ColorlessDamageSource as StaticAbility
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityColorlessDamageSource.java
  forge-gui/res/cardsfolder/g/ghostly_flame.txt
  forge-gui/src/main/java/forge/gui/card/CardScriptParser.java
Labels: Game Mechanics

#6012 add autosell toggle for rewards
  forge-gui-mobile/src/forge/adventure/player/AdventurePlayer.java
  forge-gui-mobile/src/forge/adventure/scene/HudScene.java
  forge-gui-mobile/src/forge/adventure/stage/GameStage.java
  forge-gui-mobile/src/forge/adventure/util/Reward.java
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
  forge-gui-mobile/src/forge/toolbox/FGestureAdapter.java
Labels: Adventure

#6017 Fix Conspiracy removing types without choice for new one
  forge-ai/src/main/java/forge/ai/ComputerUtilAbility.java
  forge-core/src/main/java/forge/card/CardType.java
  forge-core/src/main/java/forge/item/IPaperCard.java
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/ability/effects/HauntEffect.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
Labels: Game Mechanics

#5955 YBLB 24 cards
  forge-gui/res/cardsfolder/upcoming/ace_flockbringer.txt
  forge-gui/res/cardsfolder/upcoming/archival_whorl.txt
  forge-gui/res/cardsfolder/upcoming/awestruck_cygnet.txt
  forge-gui/res/cardsfolder/upcoming/bramblearmor_brawler.txt
  forge-gui/res/cardsfolder/upcoming/brave_meadowguard.txt
  forge-gui/res/cardsfolder/upcoming/buxton_decorated_host.txt
  forge-gui/res/cardsfolder/upcoming/charged_conjuration.txt
  forge-gui/res/cardsfolder/upcoming/chittering_skullspeaker.txt
  forge-gui/res/cardsfolder/upcoming/cindercone_smite.txt
  forge-gui/res/cardsfolder/upcoming/cottontail_caretaker.txt
  forge-gui/res/cardsfolder/upcoming/darkstar_banisher.txt
  forge-gui/res/cardsfolder/upcoming/dazzling_flameweaver.txt
  forge-gui/res/cardsfolder/upcoming/euru_acorn_scrounger.txt
  forge-gui/res/cardsfolder/upcoming/fountainport_charmer.txt
  forge-gui/res/cardsfolder/upcoming/indris_the_hydrostatic_surge.txt
  forge-gui/res/cardsfolder/upcoming/leaf_leap_guide.txt
  forge-gui/res/cardsfolder/upcoming/marshland_hordemaster.txt
  forge-gui/res/cardsfolder/upcoming/pool_resources.txt
  forge-gui/res/cardsfolder/upcoming/putrefying_rotboar.txt
  forge-gui/res/cardsfolder/upcoming/recruit_instructor.txt
  forge-gui/res/cardsfolder/upcoming/resourceful_collector.txt
  forge-gui/res/cardsfolder/upcoming/sandcloud_harbinger.txt
  forge-gui/res/cardsfolder/upcoming/sanguine_soothsayer.txt
  forge-gui/res/cardsfolder/upcoming/traverse_valley.txt
Labels: Upcoming Set

#6019 Edition updates: DSK, PRES
  forge-gui/res/editions/Duskmourn House of Horror.txt
  forge-gui/res/editions/Resale Promos.txt
Labels: Upcoming Set

#6020 update AdventureDeckEditor
  forge-gui-mobile/src/forge/adventure/scene/AdventureDeckEditor.java
  forge-gui-mobile/src/forge/adventure/scene/DeckEditScene.java
  forge-gui-mobile/src/forge/adventure/scene/ShopScene.java
  forge-gui-mobile/src/forge/itemmanager/views/ImageView.java
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Adventure
