Repository Card-Forge/forge, pull requests merged in 2024-09, with the labels that each got.

#6023 Edition updates: DSC, DSK, SPG
  forge-gui/res/editions/Duskmourn House of Horror Commander.txt
  forge-gui/res/editions/Duskmourn House of Horror.txt
  forge-gui/res/editions/Special Guests.txt
Labels: Upcoming Set

#6024 GameLoss: use CantHappen for cantLose
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ability/DrawAi.java
  forge-ai/src/main/java/forge/ai/ability/FlipACoinAi.java
  forge-ai/src/main/java/forge/ai/ability/LifeLoseAi.java
  forge-ai/src/main/java/forge/ai/ability/PoisonAi.java
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/effects/GameLossEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/player/GameLossReason.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/replacement/ReplaceGameLoss.java
  forge-game/src/main/java/forge/game/replacement/ReplaceGameWin.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-game/src/main/java/forge/game/replacement/ReplacementType.java
  forge-game/src/main/java/forge/game/spellability/AbilityStatic.java
  forge-game/src/main/java/forge/game/spellability/Spell.java
  forge-gui/res/adventure/common/custom_cards/fifth_head_of_the_hydra.txt
  forge-gui/res/adventure/common/custom_cards/first_head_of_the_hydra.txt
  forge-gui/res/adventure/common/custom_cards/fourth_head_of_the_hydra.txt
  forge-gui/res/adventure/common/custom_cards/second_head_of_the_hydra.txt
  forge-gui/res/adventure/common/custom_cards/sixth_head_of_the_hydra.txt
  forge-gui/res/adventure/common/custom_cards/sorins_boss_effect.txt
  forge-gui/res/adventure/common/custom_cards/third_head_of_the_hydra.txt
  forge-gui/res/cardsfolder/a/abyssal_persecutor.txt
  forge-gui/res/cardsfolder/a/angels_grace.txt
  forge-gui/res/cardsfolder/c/celestine_reef.txt
  forge-gui/res/cardsfolder/c/cloudsteel_kirin.txt
  forge-gui/res/cardsfolder/c/courageous_resolve.txt
  forge-gui/res/cardsfolder/e/everybody_lives.txt
  forge-gui/res/cardsfolder/g/gideon_of_the_trials.txt
  forge-gui/res/cardsfolder/l/lich.txt
  forge-gui/res/cardsfolder/l/lichs_mastery.txt
  forge-gui/res/cardsfolder/l/lichs_tomb.txt
  forge-gui/res/cardsfolder/m/mine_mine_mine.txt
  forge-gui/res/cardsfolder/p/pact_weapon.txt
  forge-gui/res/cardsfolder/p/phyrexian_unlife.txt
  forge-gui/res/cardsfolder/p/platinum_angel.txt
  forge-gui/res/cardsfolder/p/platinum_angel_avatar.txt
  forge-gui/res/cardsfolder/s/soul_echo.txt
  forge-gui/res/cardsfolder/t/the_book_of_exalted_deeds.txt
  forge-gui/res/cardsfolder/t/transcendence.txt
Labels: Game Mechanics

#6029 Some cleaning brought with smaller fixes
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardLists.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/card/CardZoneTable.java
  forge-game/src/main/java/forge/game/phase/Untap.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCrewValue.java
  forge-gui/res/cardsfolder/d/domesticated_mammoth.txt
  forge-gui/res/cardsfolder/e/eomer_marshal_of_rohan.txt
  forge-gui/res/cardsfolder/g/garna_bloodfist_of_keld.txt
  forge-gui/res/cardsfolder/g/generated_horizons.txt
  forge-gui/res/cardsfolder/upcoming/rootcast_apprenticeship.txt
  forge-gui/res/cardsfolder/w/waste_land.txt
  forge-gui/res/tokenscripts/c_l_forest.txt
  forge-gui/res/tokenscripts/c_l_wastes.txt
  forge-gui/res/tokenscripts/pacifism.txt
  forge-gui/res/tokenscripts/role_cursed.txt
Labels: Card Cleanup, Card Patch

#6036 update adventure defeat penalty
  forge-gui-mobile/src/forge/adventure/data/ItemData.java
  forge-gui-mobile/src/forge/adventure/player/AdventurePlayer.java
  forge-gui-mobile/src/forge/adventure/scene/DuelScene.java
  forge-gui-mobile/src/forge/adventure/scene/InventoryScene.java
  forge-gui-mobile/src/forge/adventure/scene/SaveLoadScene.java
  forge-gui-mobile/src/forge/adventure/stage/ConsoleCommandInterpreter.java
  forge-gui-mobile/src/forge/adventure/stage/GameStage.java
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
  forge-gui-mobile/src/forge/adventure/util/Current.java
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Adventure

#6039 Add puzzle PS_BLB3, add support for class level to GameState.
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-gui/res/puzzle/PS_BLB3.pzl
Labels: Puzzle Mode

#6042 fix autosell refresh, update SaveLoadScene
  forge-gui-mobile/src/forge/adventure/scene/SaveLoadScene.java
  forge-gui-mobile/src/forge/adventure/scene/ShopScene.java
  forge-gui-mobile/src/forge/adventure/stage/Console.java
  forge-gui-mobile/src/forge/adventure/stage/GameStage.java
  forge-gui/res/adventure/common/ui/defeat.png
Labels: Adventure

#6045 Edition updates: DSC, DSK, SLD
  forge-gui/res/editions/Duskmourn House of Horror Commander.txt
  forge-gui/res/editions/Duskmourn House of Horror.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#6043 update adventure UI BG
  forge-gui-mobile/src/forge/adventure/stage/GameStage.java
  forge-gui/res/adventure/common/ui/arena_bg.png
  forge-gui/res/adventure/common/ui/arena_bg_portrait.png
  forge-gui/res/adventure/common/ui/buyshards.png
  forge-gui/res/adventure/common/ui/defeat.png
  forge-gui/res/adventure/common/ui/heal.png
  forge-gui/res/adventure/common/ui/leave.png
  forge-gui/res/adventure/common/ui/market.png
  forge-gui/res/adventure/common/ui/market_portrait.png
  forge-gui/res/adventure/common/ui/reward.png
  forge-gui/res/adventure/common/ui/reward_portrait.png
  forge-gui/res/adventure/common/ui/sell.png
  forge-gui/res/adventure/common/ui/shardalley.png
  forge-gui/res/adventure/common/ui/shardalley_portrait.png
  forge-gui/res/adventure/common/ui/shardtrader.json
  forge-gui/res/adventure/common/ui/shardtrader_portrait.json
  forge-gui/res/adventure/common/ui/spellsmith.png
  forge-gui/res/adventure/common/ui/spellsmith_portrait.png
  forge-gui/res/adventure/common/ui/tavern.png
  forge-gui/res/adventure/common/ui/tavern_portrait.png
  forge-gui/res/adventure/common/ui/tavernevent.png
  forge-gui/res/adventure/common/ui/title_bg.png
  forge-gui/res/adventure/common/ui/title_bg_portrait.png
  forge-gui/res/adventure/common/ui/vs.png
Labels: Adventure

#6038 Common dual cycle for DSK
  forge-gui/res/cardsfolder/upcoming/abandoned_campground.txt
  forge-gui/res/cardsfolder/upcoming/bleeding_woods.txt
  forge-gui/res/cardsfolder/upcoming/etched_cornfield.txt
  forge-gui/res/cardsfolder/upcoming/lakeside_shack.txt
  forge-gui/res/cardsfolder/upcoming/murky_sewer.txt
  forge-gui/res/cardsfolder/upcoming/neglected_manor.txt
  forge-gui/res/cardsfolder/upcoming/peculiar_lighthouse.txt
  forge-gui/res/cardsfolder/upcoming/raucuous_carnival.txt
  forge-gui/res/cardsfolder/upcoming/razortrap_gorge.txt
  forge-gui/res/cardsfolder/upcoming/strangled_cemetery.txt
Labels: Upcoming Set

#6026 18 Duskmourn cards + 2 Schemes
  forge-gui/res/cardsfolder/upcoming/demonic_counsel.txt
  forge-gui/res/cardsfolder/upcoming/enduring_curiosity.txt
  forge-gui/res/cardsfolder/upcoming/enduring_innocence.txt
  forge-gui/res/cardsfolder/upcoming/fear_of_immobility.txt
  forge-gui/res/cardsfolder/upcoming/fear_of_lost_teeth.txt
  forge-gui/res/cardsfolder/upcoming/i_am_duskmourn.txt
  forge-gui/res/cardsfolder/upcoming/i_will_savor_your_agony.txt
  forge-gui/res/cardsfolder/upcoming/kaito_bane_of_nightmares.txt
  forge-gui/res/cardsfolder/upcoming/norin_swift_survivalist.txt
  forge-gui/res/cardsfolder/upcoming/nowhere_to_run.txt
  forge-gui/res/cardsfolder/upcoming/overlord_of_the_mistmoors.txt
  forge-gui/res/cardsfolder/upcoming/peer_past_the_veil.txt
  forge-gui/res/cardsfolder/upcoming/razorkin_needlehead.txt
  forge-gui/res/cardsfolder/upcoming/split_up.txt
  forge-gui/res/cardsfolder/upcoming/the_jolly_balloon_man.txt
  forge-gui/res/cardsfolder/upcoming/tyvar_the_pummeler.txt
  forge-gui/res/cardsfolder/upcoming/valgavoth_terror_eater.txt
  forge-gui/res/cardsfolder/upcoming/valgavoths_lair.txt
  forge-gui/res/cardsfolder/upcoming/veteran_survivor.txt
  forge-gui/res/cardsfolder/upcoming/winter_misanthropic_guide.txt
  forge-gui/res/tokenscripts/w_2_1_insect_flying.txt
Labels: Upcoming Set

#6050 DSK: Undead Sprinter
  forge-gui/res/cardsfolder/upcoming/undead_sprinter.txt
  forge-gui/res/cardsfolder/w/worldheart_phoenix.txt
Labels: Upcoming Set

#6051 CardTraitBase: PresentDefined for Trigger and ReplacementEffects
  forge-game/src/main/java/forge/game/CardTraitBase.java
Labels: Game Mechanics

#6055 Manifest Dread
  forge-game/src/main/java/forge/game/ability/effects/ManifestBaseEffect.java
  forge-gui/res/cardsfolder/upcoming/unwanted_remake.txt
Labels: Upcoming Set, Game Mechanics

#6048 7 DSK cards from Card Gallery
  forge-gui/res/cardsfolder/upcoming/acrobatic_cheerleader.txt
  forge-gui/res/cardsfolder/upcoming/clockwork_percussionist.txt
  forge-gui/res/cardsfolder/upcoming/fanatic_of_the_harrowing.txt
  forge-gui/res/cardsfolder/upcoming/grasping_longneck.txt
  forge-gui/res/cardsfolder/upcoming/piranha_fly.txt
  forge-gui/res/cardsfolder/upcoming/shepherding spirits.txt
  forge-gui/res/cardsfolder/upcoming/slavering_branchsnapper.txt
Labels: Upcoming Set

#6053 Niko, Light of Hope -- needs a bit more
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-gui/res/cardsfolder/upcoming/niko_light_of_hope.txt
Labels: Upcoming Set, Game Mechanics

#6034 3 new DSK cards
  forge-gui/res/cardsfolder/upcoming/fear_of_failed_tests.txt
  forge-gui/res/cardsfolder/upcoming/fear_of_isolation.txt
  forge-gui/res/cardsfolder/upcoming/glimmer_seeker.txt
  forge-gui/res/cardsfolder/upcoming/patched_plaything.txt
  forge-gui/res/tokenscripts/w_1_1_e_glimmer.txt
Labels: Upcoming Set

#6058 Hauntwoods Shrieker and support
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/SetStateEffect.java
  forge-gui/res/cardsfolder/upcoming/hauntwoods_shrieker.txt
Labels: Upcoming Set, Game Mechanics

#6062 Edition updates: DSK, SPG
  forge-gui/res/editions/Duskmourn House of Horror.txt
  forge-gui/res/editions/Special Guests.txt
Labels: Upcoming Set

#6052 TriggerFullyUnlock: Trigger used for Eerie
  forge-game/src/main/java/forge/game/trigger/TriggerFullyUnlock.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
Labels: Upcoming Set, Game Mechanics

#6060 Fix Pawprint in Compleated
  forge-game/src/main/java/forge/game/card/Card.java
Labels: GUI

#6040 Zimone, All-Questioning and support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/zimone_all_questioning.txt
  forge-gui/res/tokenscripts/primo_the_invisible.txt
Labels: Upcoming Set

#6070 Fix transformed backside cast failing when some AltCost apply
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardState.java
Labels: Crash fix

#6041 Fix self-replacement scripts
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/effects/AbandonEffect.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/a/absorb_identity.txt
  forge-gui/res/cardsfolder/c/cleansing_meditation.txt
  forge-gui/res/cardsfolder/d/dusk_feaster.txt
  forge-gui/res/cardsfolder/e/epicenter.txt
  forge-gui/res/cardsfolder/k/kirtars_wrath.txt
  forge-gui/res/cardsfolder/p/prophetic_titan.txt
  forge-gui/res/cardsfolder/r/rancid_earth.txt
  forge-gui/res/cardsfolder/s/scour_the_laboratory.txt
  forge-gui/res/cardsfolder/u/ulamog_the_defiler.txt
  forge-gui/res/cardsfolder/u/unholy_heat.txt
Labels: Card Patch

#6077 Edition updates: DSK
  forge-gui/res/editions/Duskmourn House of Horror.txt
  forge-gui/res/editions/Modern Horizons 3.txt
Labels: Upcoming Set

#6080 3 DSK cards (Omnivorous Flytrap and friends)
  forge-gui/res/cardsfolder/a/armament_corps.txt
  forge-gui/res/cardsfolder/upcoming/omnivorous_flytrap.txt
  forge-gui/res/cardsfolder/upcoming/patchwork_beastie.txt
  forge-gui/res/cardsfolder/upcoming/skullsnap_nuisance.txt
  forge-gui/res/cardsfolder/upcoming/vile_mutilator.txt
Labels: Upcoming Set

#6085 Support for Overgrown Zealot
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
  forge-gui/res/cardsfolder/t/tin_street_gossip.txt
Labels: Card Cleanup

#6082 Fix intrinsic ETB replacement not working if card enters from sideboard
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-gui/res/cardsfolder/u/ulasht_the_hate_seed.txt
Labels: Game Mechanics

#6093 Add Room Helper functions
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set, Game Mechanics

#6095 Edition updates: DSK
  forge-gui/res/editions/Duskmourn House of Horror.txt
Labels: Upcoming Set

#6083 Growing Dread -- might need support
  forge-game/src/main/java/forge/game/trigger/TriggerTurnFaceUp.java
  forge-gui/res/cardsfolder/h/hallow.txt
  forge-gui/res/cardsfolder/m/murder_of_crows.txt
  forge-gui/res/cardsfolder/upcoming/growing_dread.txt
Labels: Upcoming Set, Game Mechanics

#6063 Eerie DSK cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/cult_healer.txt
  forge-gui/res/cardsfolder/upcoming/infernal_phantom.txt
  forge-gui/res/cardsfolder/upcoming/scrabbling_skullcrab.txt
  forge-gui/res/cardsfolder/upcoming/stalked_researcher.txt
  forge-gui/res/cardsfolder/upcoming/unwilling_vessel.txt
  forge-gui/res/cardsfolder/upcoming/victor_valgavoths_seneschal.txt
  forge-gui/res/cardsfolder/upcoming/zimone_mystery_unraveler.txt
  forge-gui/res/tokenscripts/u_x_x_spirit_flying.txt
Labels: Upcoming Set

#6079 Keyword: link StaticAbility into it
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffectBase.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CloneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ControlGainEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DebuffEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ProtectAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ProtectEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PumpAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PumpEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TokenEffectBase.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/keyword/KeywordInstance.java
  forge-game/src/main/java/forge/game/keyword/KeywordInterface.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-gui/res/cardsfolder/f/fumiko_the_lowblood.txt
Labels: Game Mechanics

#6084 13 DSK cards (Diversion Specialist and friends)
  forge-gui/res/cardsfolder/upcoming/bashful_beastie.txt
  forge-gui/res/cardsfolder/upcoming/bear_trap.txt
  forge-gui/res/cardsfolder/upcoming/clammy_prowler.txt
  forge-gui/res/cardsfolder/upcoming/commune_with_evil.txt
  forge-gui/res/cardsfolder/upcoming/diversion_specialist.txt
  forge-gui/res/cardsfolder/upcoming/fear_of_surveilance.txt
  forge-gui/res/cardsfolder/upcoming/give_in_to_violence.txt
  forge-gui/res/cardsfolder/upcoming/hand_that_feeds.txt
  forge-gui/res/cardsfolder/upcoming/piggy_bank.txt
  forge-gui/res/cardsfolder/upcoming/reluctant_role_model.txt
  forge-gui/res/cardsfolder/upcoming/sawblade_skinripper.txt
  forge-gui/res/cardsfolder/upcoming/splitskin_doll.txt
  forge-gui/res/cardsfolder/upcoming/twist_reality.txt
Labels: Upcoming Set

#6100 Fix Erratic Apparition
  forge-gui/res/cardsfolder/upcoming/erratic_apparition.txt
Labels: Card Patch, Crash fix

#6102 Edition updates: DSC, DSK
  forge-gui/res/editions/Duskmourn House of Horror Commander.txt
  forge-gui/res/editions/Duskmourn House of Horror.txt
Labels: Upcoming Set

#6104 Fix Enhanced Surveillance
  forge-game/src/main/java/forge/game/ability/effects/SurveilEffect.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/replacement/ReplaceSurveil.java
  forge-game/src/main/java/forge/game/replacement/ReplacementType.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilitySurveilNum.java
  forge-gui/res/cardsfolder/e/enhanced_surveillance.txt
Labels: Game Mechanics, Rules compliance

#6111 Edition updates: DSC, DSK
  forge-gui/res/editions/Duskmourn House of Horror Commander.txt
  forge-gui/res/editions/Duskmourn House of Horror.txt
Labels: Upcoming Set

#6114 Support for Valgavoth's Onslaught
  forge-game/src/main/java/forge/game/ability/effects/ManifestBaseEffect.java
Labels: Upcoming Set

#6116 Player: use LifeReduced CantHappen for Archon of Coronation
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/a/archon_of_coronation.txt
Labels: Game Mechanics

#6120 Edition updates: DSK
  forge-gui/res/editions/Duskmourn House of Horror.txt
Labels: Upcoming Set

#6117 8 DSK cards (Marvin, Murderous Mimic and audience)
  forge-gui/res/cardsfolder/upcoming/enduring_courage.txt
  forge-gui/res/cardsfolder/upcoming/found_footage.txt
  forge-gui/res/cardsfolder/upcoming/friendly_teddy.txt
  forge-gui/res/cardsfolder/upcoming/gremlin_tamer.txt
  forge-gui/res/cardsfolder/upcoming/marvin_murderous_mimic.txt
  forge-gui/res/cardsfolder/upcoming/optimistic_scavenger.txt
  forge-gui/res/cardsfolder/upcoming/rootwise_survivor.txt
  forge-gui/res/cardsfolder/upcoming/withering_torment.txt
Labels: Upcoming Set

#6121 Fix MDFC NPE
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
Labels: AI, Crash fix

#6099 4 DSK + 7 DSC cards
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/a/ashling_the_extinguisher.txt
  forge-gui/res/cardsfolder/e/extinction_event.txt
  forge-gui/res/cardsfolder/i/invoke_prejudice.txt
  forge-gui/res/cardsfolder/j/jaded_response.txt
  forge-gui/res/cardsfolder/upcoming/baseball_bat.txt
  forge-gui/res/cardsfolder/upcoming/curator_beastie.txt
  forge-gui/res/cardsfolder/upcoming/giggling_skitterspike.txt
  forge-gui/res/cardsfolder/upcoming/glitch_interpreter.txt
  forge-gui/res/cardsfolder/upcoming/kianne_corrupted_memory.txt
  forge-gui/res/cardsfolder/upcoming/rite_of_the_moth.txt
  forge-gui/res/cardsfolder/upcoming/shriekwood_devourer.txt
  forge-gui/res/cardsfolder/upcoming/the_tale_of_tamiyo.txt
  forge-gui/res/cardsfolder/upcoming/they_came_from_the_pipes.txt
  forge-gui/res/cardsfolder/upcoming/victor_valgavoths_seneschal.txt
  forge-gui/res/cardsfolder/upcoming/wildfire_wickerfolk.txt
  forge-gui/res/cardsfolder/upcoming/zimones_hypothesis.txt
Labels: Upcoming Set

#6126 Teferi without PlayerKeyword
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-gui/res/cardsfolder/t/teferi_who_slows_the_sunset.txt
Labels: Game Mechanics

#6130 Edition updates: DSC, DSK
  forge-gui/res/editions/Duskmourn House of Horror Commander.txt
  forge-gui/res/editions/Duskmourn House of Horror.txt
Labels: Upcoming Set

#6133 Edition updates: DSK
  forge-gui/res/editions/Duskmourn House of Horror.txt
Labels: Upcoming Set

#6138 Edition updates: DSC, DSK
  forge-gui-desktop/src/test/java/forge/deck/DeckRecognizerTest.java
  forge-gui/res/editions/Duskmourn House of Horror Commander.txt
  forge-gui/res/editions/Duskmourn House of Horror.txt
Labels: Upcoming Set

#6112 23 DSK cards (+one Scheme)
  forge-gui/res/cardsfolder/r/retribution.txt
  forge-gui/res/cardsfolder/upcoming/abhorrent_oculus.txt
  forge-gui/res/cardsfolder/upcoming/break_down_the_door.txt
  forge-gui/res/cardsfolder/upcoming/cautious_survivor.txt
  forge-gui/res/cardsfolder/upcoming/coordinated_clobbering.txt
  forge-gui/res/cardsfolder/upcoming/cryptid_inspector.txt
  forge-gui/res/cardsfolder/upcoming/defiant_survivor.txt
  forge-gui/res/cardsfolder/upcoming/fear_of_abduction.txt
  forge-gui/res/cardsfolder/upcoming/flesh_burrower.txt
  forge-gui/res/cardsfolder/upcoming/friendly_ghost.txt
  forge-gui/res/cardsfolder/upcoming/hardened_escort.txt
  forge-gui/res/cardsfolder/upcoming/impossible_inferno.txt
  forge-gui/res/cardsfolder/upcoming/innocuous_rat.txt
  forge-gui/res/cardsfolder/upcoming/midnight_mayhem.txt
  forge-gui/res/cardsfolder/upcoming/most_valuable_slayer.txt
  forge-gui/res/cardsfolder/upcoming/nashi_searcher_in_the_dark.txt
  forge-gui/res/cardsfolder/upcoming/ragged_playmate.txt
  forge-gui/res/cardsfolder/upcoming/razorkin_hordecaller.txt
  forge-gui/res/cardsfolder/upcoming/resurrected_cultist.txt
  forge-gui/res/cardsfolder/upcoming/the_mindskinner.txt
  forge-gui/res/cardsfolder/upcoming/trial_of_agony.txt
  forge-gui/res/cardsfolder/upcoming/unable_to_scream.txt
  forge-gui/res/cardsfolder/upcoming/vanish_from_sight.txt
  forge-gui/res/cardsfolder/upcoming/wickerfolk_thresher.txt
  forge-gui/res/cardsfolder/upcoming/you_are_unworthy_of_mercy.txt
Labels: Upcoming Set

#6141 Fix Break Down the Door, Wickerfolk Thresher
  forge-gui/res/cardsfolder/upcoming/break_down_the_door.txt
  forge-gui/res/cardsfolder/upcoming/wickerfolk_thresher.txt
Labels: Card Patch, Crash fix

#6143 Fix Frankenstein's Monster
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ReplaceEffect.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPanharmonicon.java
  forge-gui/res/cardsfolder/f/frankensteins_monster.txt
  forge-gui/res/cardsfolder/upcoming/marina_vendrells_grimoire.txt
Labels: Card Cleanup, Crash fix

#6134 5 DSC Schemes
  forge-gui/res/cardsfolder/a/amped_raptor.txt
  forge-gui/res/cardsfolder/upcoming/i_call_for_slaughter.txt
  forge-gui/res/cardsfolder/upcoming/no_secret_is_hidden_from_me.txt
  forge-gui/res/cardsfolder/upcoming/reality_is_mine_to_control.txt
  forge-gui/res/cardsfolder/upcoming/you_exist_only_to_amuse.txt
  forge-gui/res/cardsfolder/upcoming/your_nightmares_are_delicious.txt
Labels: Upcoming Set

#6122 2 DSK cards, some DSC cards, 5 Schemes
  forge-gui/res/cardsfolder/upcoming/a_premonition_of_your_demise.txt
  forge-gui/res/cardsfolder/upcoming/cathartic_parting.txt
  forge-gui/res/cardsfolder/upcoming/duskmourns_domination.txt
  forge-gui/res/cardsfolder/upcoming/enduring_vitality.txt
  forge-gui/res/cardsfolder/upcoming/lets_play_a_game.txt
  forge-gui/res/cardsfolder/upcoming/metamorphosis_fanatic.txt
  forge-gui/res/cardsfolder/upcoming/my_followers_ascend.txt
  forge-gui/res/cardsfolder/upcoming/my_wealth_will_bury_you.txt
  forge-gui/res/cardsfolder/upcoming/only_i_know_what_awaits.txt
  forge-gui/res/cardsfolder/upcoming/osseous_sticktwister.txt
  forge-gui/res/cardsfolder/upcoming/phenomenon_investigators.txt
  forge-gui/res/cardsfolder/upcoming/redress_fate.txt
  forge-gui/res/cardsfolder/upcoming/soaring_lightbringer.txt
  forge-gui/res/cardsfolder/upcoming/the_master_of_keys.txt
  forge-gui/res/cardsfolder/upcoming/you_cannot_hide_from_me.txt
  forge-gui/res/cardsfolder/z/zoyowa_lava_tongue.txt
  forge-gui/res/tokenscripts/b_2_2_e_horror.txt
Labels: Upcoming Set

#6148 Edition updates: DSC
  forge-gui/res/editions/Duskmourn House of Horror Commander.txt
Labels: Upcoming Set

#6147 Fix optional shuffle into Library cases
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-gui/res/cardsfolder/a/angel_of_serenity.txt
  forge-gui/res/cardsfolder/c/covetous_castaway_ghostly_castigator.txt
  forge-gui/res/cardsfolder/d/devious_cover_up.txt
  forge-gui/res/cardsfolder/p/put_away.txt
  forge-gui/res/cardsfolder/r/ruhan_of_the_fomori.txt
  forge-gui/res/cardsfolder/upcoming/cathartic_parting.txt
Labels: Rules compliance

#6136 2 DSC cards + 6 schemes
  forge-gui/res/cardsfolder/upcoming/dark_wings_bring_your_downfall.txt
  forge-gui/res/cardsfolder/upcoming/demolisher_spawn.txt
  forge-gui/res/cardsfolder/upcoming/my_tendrils_run_deep.txt
  forge-gui/res/cardsfolder/upcoming/my_wings_enfold_all.txt
  forge-gui/res/cardsfolder/upcoming/rot_like_the_scum_you_are.txt
  forge-gui/res/cardsfolder/upcoming/ursine_monstrosity.txt
  forge-gui/res/cardsfolder/upcoming/you_live_only_because_i_will_it.txt
  forge-gui/res/cardsfolder/upcoming/your_mistake_is_my_triumph.txt
Labels: Upcoming Set

#6150 Fix Mutate + Unexpectedly Absent
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Crash fix

#6152 Update commander_liara_portyr.txt
  forge-gui/res/cardsfolder/c/commander_liara_portyr.txt
Labels: Card Cleanup

#6131 18 mostly leaked DSK/DSC cards (plus one token)
  forge-gui/res/cardsfolder/upcoming/barbflare_gremlin.txt
  forge-gui/res/cardsfolder/upcoming/bedhead_beastie.txt
  forge-gui/res/cardsfolder/upcoming/convert_to_slime.txt
  forge-gui/res/cardsfolder/upcoming/cracked_skull.txt
  forge-gui/res/cardsfolder/upcoming/deluge_of_doom.txt
  forge-gui/res/cardsfolder/upcoming/dont_make_a_sound.txt
  forge-gui/res/cardsfolder/upcoming/formless_genesis.txt
  forge-gui/res/cardsfolder/upcoming/gleeful_arsonist.txt
  forge-gui/res/cardsfolder/upcoming/into_the_pit.txt
  forge-gui/res/cardsfolder/upcoming/overlord_of_the_balemurk.txt
  forge-gui/res/cardsfolder/upcoming/persistent_constrictor.txt
  forge-gui/res/cardsfolder/upcoming/possessed_goat.txt
  forge-gui/res/cardsfolder/upcoming/seance_board.txt
  forge-gui/res/cardsfolder/upcoming/sheltered_by_ghosts.txt
  forge-gui/res/cardsfolder/upcoming/shroudstomper.txt
  forge-gui/res/cardsfolder/upcoming/suspended_sentence.txt
  forge-gui/res/cardsfolder/upcoming/the_lord_of_pain.txt
  forge-gui/res/cardsfolder/upcoming/waltz_of_rage.txt
  forge-gui/res/tokenscripts/c_x_x_shapeshifter_changeling_deathtouch.txt
Labels: Upcoming Set

#6151 ManifestDread as separate Effect
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/ManifestBaseEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ManifestDreadEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ManifestEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerManifestDread.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-gui/res/cardsfolder/upcoming/abhorrent_oculus.txt
  forge-gui/res/cardsfolder/upcoming/bashful_beastie.txt
  forge-gui/res/cardsfolder/upcoming/break_down_the_door.txt
  forge-gui/res/cardsfolder/upcoming/conductive_machete.txt
  forge-gui/res/cardsfolder/upcoming/curator_beastie.txt
  forge-gui/res/cardsfolder/upcoming/cursed_windbreaker.txt
  forge-gui/res/cardsfolder/upcoming/defiant_survivor.txt
  forge-gui/res/cardsfolder/upcoming/disturbing_mirth.txt
  forge-gui/res/cardsfolder/upcoming/fear_of_impostors.txt
  forge-gui/res/cardsfolder/upcoming/glitch_interpreter.txt
  forge-gui/res/cardsfolder/upcoming/growing_dread.txt
  forge-gui/res/cardsfolder/upcoming/hauntwoods_shrieker.txt
  forge-gui/res/cardsfolder/upcoming/innocuous_rat.txt
  forge-gui/res/cardsfolder/upcoming/killers_mask.txt
  forge-gui/res/cardsfolder/upcoming/stay_hidden_stay_silent.txt
  forge-gui/res/cardsfolder/upcoming/they_came_from_the_pipes.txt
  forge-gui/res/cardsfolder/upcoming/threats_around_every_corner.txt
  forge-gui/res/cardsfolder/upcoming/turn_inside_out.txt
  forge-gui/res/cardsfolder/upcoming/twist_reality.txt
  forge-gui/res/cardsfolder/upcoming/under_the_skin.txt
  forge-gui/res/cardsfolder/upcoming/unsettling_twins.txt
  forge-gui/res/cardsfolder/upcoming/unwanted_remake.txt
  forge-gui/res/cardsfolder/upcoming/valgavoths_onslaught.txt
  forge-gui/res/cardsfolder/upcoming/zimone_mystery_unraveler.txt
Labels: Game Mechanics

#6162 Edition updates: SCH, SLD
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Store Championships.txt
Labels: Upcoming Set

#6123 Ancient Cellarspawn - incomplete, might need support
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-gui/res/cardsfolder/b/because_i_have_willed_it.txt
  forge-gui/res/cardsfolder/upcoming/ancient_cellarspawn.txt
Labels: Upcoming Set

#6157 DSK cards from misplaced PR
  forge-gui/res/cardsfolder/i/invasion_of_azgol_ashen_reaper.txt
  forge-gui/res/cardsfolder/upcoming/balemurk_leech.txt
  forge-gui/res/cardsfolder/upcoming/broodspinner.txt
  forge-gui/res/cardsfolder/upcoming/enter_the_enigma.txt
  forge-gui/res/cardsfolder/upcoming/frantic_strength.txt
  forge-gui/res/cardsfolder/upcoming/jump_scare.txt
  forge-gui/res/cardsfolder/upcoming/kona_rescue_beastie.txt
  forge-gui/res/cardsfolder/upcoming/live_or_die.txt
  forge-gui/res/cardsfolder/upcoming/malevolent_chandelier.txt
  forge-gui/res/cardsfolder/upcoming/manifest_dread.txt
  forge-gui/res/cardsfolder/upcoming/rootwise_survivor.txt
  forge-gui/res/cardsfolder/upcoming/spectral_snatcher.txt
  forge-gui/res/cardsfolder/upcoming/sporogenic_infection.txt
  forge-gui/res/cardsfolder/upcoming/valgavoths_onslaught.txt
Labels: Upcoming Set

#6169 Script updates
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-ai/src/main/java/forge/ai/ability/RepeatEachAi.java
  forge-gui/res/cardsfolder/c/crackling_doom.txt
  forge-gui/res/cardsfolder/d/divine_reckoning.txt
  forge-gui/res/cardsfolder/r/rags_riches.txt
  forge-gui/res/cardsfolder/r/regnas_sanction.txt
  forge-gui/res/cardsfolder/upcoming/marvin_murderous_mimic.txt
  forge-gui/res/cardsfolder/upcoming/osseous_sticktwister.txt
Labels: Card Cleanup

#6173 Fix RE choice for different sources
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Rules compliance

#6177 Impending NonCreature as StaticAbility
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
Labels: Upcoming Set, Game Mechanics

#6178 Fix Valiant triggers failing if another player targets first
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityStackInstance.java
  forge-game/src/main/java/forge/game/trigger/TriggerBecomesTarget.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/e/emberheart_challenger.txt
  forge-gui/res/cardsfolder/f/flowerfoot_swordmaster.txt
  forge-gui/res/cardsfolder/h/heartfire_hero.txt
  forge-gui/res/cardsfolder/m/mouse_trapper.txt
  forge-gui/res/cardsfolder/n/nettle_guard.txt
  forge-gui/res/cardsfolder/s/seedglaive_mentor.txt
  forge-gui/res/cardsfolder/v/veteran_guardmouse.txt
  forge-gui/res/cardsfolder/w/whiskerquill_scribe.txt
  forge-gui/res/cardsfolder/w/whiskervale_forerunner.txt
Labels: Game Mechanics, Rules compliance

#6180 Some cleanup
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/ability/effects/MillEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ScryEffect.java
  forge-gui/res/cardsfolder/b/blacksnag_buzzard.txt
  forge-gui/res/cardsfolder/b/bulette.txt
  forge-gui/res/cardsfolder/e/emissary_of_the_sleepless.txt
  forge-gui/res/cardsfolder/f/fungal_rebirth.txt
  forge-gui/res/cardsfolder/f/funnel_web_recluse.txt
  forge-gui/res/cardsfolder/g/gruesome_discovery.txt
  forge-gui/res/cardsfolder/h/hollowhenge_scavenger.txt
  forge-gui/res/cardsfolder/h/hurkyl_master_wizard.txt
  forge-gui/res/cardsfolder/m/malicious_affliction.txt
  forge-gui/res/cardsfolder/m/morkrut_banshee.txt
  forge-gui/res/cardsfolder/m/muster_the_departed.txt
  forge-gui/res/cardsfolder/o/old_flitterfang.txt
  forge-gui/res/cardsfolder/p/phyrexian_portal.txt
  forge-gui/res/cardsfolder/q/quest_for_ulas_temple.txt
  forge-gui/res/cardsfolder/r/reaper_from_the_abyss.txt
  forge-gui/res/cardsfolder/r/rictus_robber.txt
  forge-gui/res/cardsfolder/s/sabertooth_mauler.txt
  forge-gui/res/cardsfolder/s/skirsdag_high_priest.txt
  forge-gui/res/cardsfolder/t/thunderous_debut.txt
  forge-gui/res/cardsfolder/u/ulvenwald_bear.txt
  forge-gui/res/cardsfolder/v/vengeful_devil.txt
  forge-gui/res/cardsfolder/w/wakedancer.txt
  forge-gui/res/cardsfolder/w/woodland_sleuth.txt
  forge-gui/res/cardsfolder/z/zombie_ogre.txt
Labels: Card Cleanup

#6188 Fix NPE with Starforged Sword
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-gui/res/cardsfolder/d/decoy_gambit.txt
  forge-gui/res/cardsfolder/r/research_development.txt
Labels: Crash fix

#6192 Commander Banned and Restricted September 23, 2024
  forge-gui/res/formats/Casual/Commander.txt
Labels: Format Changes

#6195 Add puzzle PS_BLB4, fix GameState support for class level
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-gui/res/puzzle/PS_BLB4.pzl
Labels: Puzzle Mode

#6191 Make Myriad optional for each player again
  forge-game/src/main/java/forge/game/ability/effects/CopyPermanentEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/mana/ManaCostBeingPaid.java
  forge-gui/res/cardsfolder/d/doomsday.txt
  forge-gui/res/cardsfolder/s/saw_in_half.txt
  forge-gui/res/cardsfolder/upcoming/valgavoth_terror_eater.txt
Labels: Rules compliance

#6203 Update myra_the_magnificent.txt
  forge-gui/res/cardsfolder/m/myra_the_magnificent.txt
Labels: Card Patch

#6129 11 DSK cards (Rip, Spawn Hunter and crew)
  forge-gui/res/cardsfolder/upcoming/beastie_beatdown.txt
  forge-gui/res/cardsfolder/upcoming/cackling_slasher.txt
  forge-gui/res/cardsfolder/upcoming/dissection_tools.txt
  forge-gui/res/cardsfolder/upcoming/entity_tracker.txt
  forge-gui/res/cardsfolder/upcoming/get_out.txt
  forge-gui/res/cardsfolder/upcoming/living_phone.txt
  forge-gui/res/cardsfolder/upcoming/ripchain_razorkin.txt
  forge-gui/res/cardsfolder/upcoming/unidentified_hovership.txt
  forge-gui/res/cardsfolder/upcoming/unnerving_grasp.txt
  forge-gui/res/cardsfolder/upcoming/winters_intervention.txt
Labels: Upcoming Set

#6204 Add LDA information for Bloomburrow metagame (Standard, Modern)
  forge-gui/res/deckgendecks/Modern.lda.dat
  forge-gui/res/deckgendecks/Modern.raw.dat
  forge-gui/res/deckgendecks/Standard.lda.dat
  forge-gui/res/deckgendecks/Standard.raw.dat
Labels: Format Changes

#6209 Some cleanup
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/c/choose_your_champion.txt
  forge-gui/res/cardsfolder/f/fortunate_few.txt
  forge-gui/res/cardsfolder/k/keen_duelist.txt
  forge-gui/src/main/java/forge/gui/card/CardScriptParser.java
Labels: Card Cleanup

#6211 Some cleanup
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-gui/res/cardsfolder/b/bruna_light_of_alabaster.txt
  forge-gui/res/cardsfolder/c/curse_of_surveillance.txt
  forge-gui/res/cardsfolder/g/guardian_beast.txt
  forge-gui/res/cardsfolder/l/lurker.txt
  forge-gui/res/cardsfolder/s/summoners_bond.txt
  forge-gui/src/main/java/forge/gui/card/CardScriptParser.java
Labels: Card Cleanup

#6213 Fix GameStates starting with frozen stack if RE executes
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-game/src/main/java/forge/game/card/Card.java
Labels: Crash fix, Puzzle Mode

#6214 Edition updates: SLD
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set
