Repository Card-Forge/forge, pull requests merged in 2024-05, with the labels that each got.

#5188 MH3: Herigast, Erupting Nullkite
  forge-gui/res/cardsfolder/p/phyrexian_dragon_engine.txt
  forge-gui/res/cardsfolder/upcoming/herigast_erupting_hellkite.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Upcoming Set

#5180 Fix Vexing Puzzlebox
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/b/bloatfly_swarm.txt
  forge-gui/res/cardsfolder/v/vexing_puzzlebox.txt
Labels: bug

#5195 Edition updates: SLD, YOTJ
  forge-gui/res/editions/Alchemy Thunder Junction.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#5200 Fix ValidStack
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
Labels: bug

#5185 M3C Twins of Discord
  forge-gui/res/cardsfolder/upcoming/twins_of_discord.txt
Labels: Upcoming Set

#5198 YOTJ 10 cards
  forge-gui/res/cardsfolder/upcoming/albiorix_goose_tyrant_wild_goose_chase.txt
  forge-gui/res/cardsfolder/upcoming/blooming_cactusfolk.txt
  forge-gui/res/cardsfolder/upcoming/cathartic_operation.txt
  forge-gui/res/cardsfolder/upcoming/emerald_collector.txt
  forge-gui/res/cardsfolder/upcoming/emperor_apatzec_intli_iv.txt
  forge-gui/res/cardsfolder/upcoming/prairie_survivalist.txt
  forge-gui/res/cardsfolder/upcoming/resolute_rejection.txt
  forge-gui/res/cardsfolder/upcoming/ruby_collector.txt
  forge-gui/res/cardsfolder/upcoming/saint_elenda.txt
  forge-gui/res/cardsfolder/upcoming/stalwart_realmwarden.txt
  forge-gui/res/editions/Alchemy Thunder Junction.txt
  forge-gui/res/tokenscripts/w_x_x_avatar.txt
Labels: Upcoming Set

#5204 Fix Watcher of Hours triggering from Dust of Moments cast by opponent
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameEntity.java
  forge-game/src/main/java/forge/game/ability/effects/CountersMoveEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutOrRemoveEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersRemoveAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersRemoveEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TimeTravelEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/cost/CostPutCounter.java
  forge-game/src/main/java/forge/game/cost/CostRemoveAnyCounter.java
  forge-game/src/main/java/forge/game/cost/CostRemoveCounter.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/trigger/TriggerCounterRemoved.java
  forge-gui/res/cardsfolder/w/watcher_of_hours.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Game Mechanics, Rules compliance

#5206 LDA deckgen info (May 2024, MKM+OTJ)
  forge-gui/res/deckgendecks/Modern.lda.dat
  forge-gui/res/deckgendecks/Modern.raw.dat
  forge-gui/res/deckgendecks/Standard.lda.dat
  forge-gui/res/deckgendecks/Standard.raw.dat
Labels: AI

#5205 YOTJ 8 cards
  forge-gui/res/cardsfolder/upcoming/intruders_inquisition.txt
  forge-gui/res/cardsfolder/upcoming/jessie_zane_fangbringer.txt
  forge-gui/res/cardsfolder/upcoming/jet_collector.txt
  forge-gui/res/cardsfolder/upcoming/nashi_illusion_gadgeteer.txt
  forge-gui/res/cardsfolder/upcoming/pearl_collector.txt
  forge-gui/res/cardsfolder/upcoming/rankle_pitiless_trickster.txt
  forge-gui/res/cardsfolder/upcoming/runecarved_obelisk.txt
  forge-gui/res/cardsfolder/upcoming/sapphire_collector.txt
Labels: Upcoming Set

#5209 Add BIG & OTJ to Brawl
  forge-gui/res/formats/Casual/Brawl.txt
Labels: Format Changes

#5216 Edition updates: M3C, SLD
  forge-gui/res/editions/Modern Horizons 3 Commander.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#5219 Some fixes
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-ai/src/main/java/forge/ai/ability/PermanentAi.java
  forge-game/src/main/java/forge/game/ability/effects/BranchEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TapOrUntapEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/spellability/Spell.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-gui/res/cardsfolder/n/nightsnare.txt
  forge-gui/res/cardsfolder/r/reckoner_shakedown.txt
  forge-gui/res/cardsfolder/s/siphon_insight.txt
  forge-gui/res/lists/TypeLists.txt
Labels: bug

#5220 Edition updates: SLD
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#5211 YOTJ 6 cards
  forge-gui/res/cardsfolder/o/obzedat_ghost_council.txt
  forge-gui/res/cardsfolder/upcoming/pearl_collector.txt
  forge-gui/res/cardsfolder/upcoming/silent_extraction.txt
  forge-gui/res/cardsfolder/upcoming/solitary_defiance.txt
  forge-gui/res/cardsfolder/upcoming/switchgrass_grazer.txt
  forge-gui/res/cardsfolder/upcoming/teysa_of_the_ghost_council.txt
  forge-gui/res/cardsfolder/upcoming/vona_de_ledo_the_antifex.txt
  forge-gui/res/cardsfolder/upcoming/wagon_wrecker.txt
Labels: Upcoming Set

#5222 MH3: Flare of Duplication
  forge-gui/res/cardsfolder/upcoming/flare_of_duplication.txt
Labels: Upcoming Set

#5223 StaticAbilityAlternativeCost: only set EffectZone if Param exist
  forge-game/src/main/java/forge/game/staticability/StaticAbilityAlternativeCost.java
Labels: bug, Game Mechanics

#5227 Edition updates: SLD
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#5234 Banned and Restricted Announcement for May 13, 2024
  forge-gui/res/formats/Archived/Legacy/2024-05-13.txt
  forge-gui/res/formats/Archived/Vintage/2024-05-13.txt
  forge-gui/res/formats/Sanctioned/Legacy.txt
  forge-gui/res/formats/Sanctioned/Pauper.txt
  forge-gui/res/formats/Sanctioned/Vintage.txt
Labels: Format Changes

#5238 PCEL: Deb Thomas
  forge-gui/res/cardsfolder/d/deb_thomas.txt
  forge-gui/res/editions/Celebration Cards.txt
  forge-gui/res/editions/Modern Horizons 3.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/tokenscripts/r_1_1_employee.txt
Labels: Upcoming Set

#5243 Panglacial Wurm: support altcosts
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/c/counterbore.txt
  forge-gui/res/cardsfolder/c/cranial_extraction.txt
  forge-gui/res/cardsfolder/e/eradicate.txt
  forge-gui/res/cardsfolder/e/extirpate.txt
  forge-gui/res/cardsfolder/h/haunting_echoes.txt
  forge-gui/res/cardsfolder/k/kotose_the_silent_spider.txt
  forge-gui/res/cardsfolder/l/lobotomy.txt
  forge-gui/res/cardsfolder/m/memoricide.txt
  forge-gui/res/cardsfolder/n/necromentia.txt
  forge-gui/res/cardsfolder/q/quash.txt
  forge-gui/res/cardsfolder/s/scour.txt
  forge-gui/res/cardsfolder/s/shimian_specter.txt
  forge-gui/res/cardsfolder/s/sowing_salt.txt
  forge-gui/res/cardsfolder/s/splinter.txt
  forge-gui/res/cardsfolder/t/test_of_talents.txt
  forge-gui/res/cardsfolder/t/the_end.txt
  forge-gui/res/cardsfolder/t/thought_hemorrhage.txt
  forge-gui/res/cardsfolder/u/unmoored_ego.txt
Labels: Card Patch

#5224 M3C 12 cards
  forge-game/src/main/java/forge/game/ability/effects/CountersRemoveEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/upcoming/azlask_the_swelling_scourge.txt
  forge-gui/res/cardsfolder/upcoming/barrowgoyf.txt
  forge-gui/res/cardsfolder/upcoming/bismuth_mindrender.txt
  forge-gui/res/cardsfolder/upcoming/disa_the_restless.txt
  forge-gui/res/cardsfolder/upcoming/eldritch_immunity.txt
  forge-gui/res/cardsfolder/upcoming/gluttonous_hellkite.txt
  forge-gui/res/cardsfolder/upcoming/infested_thrinax.txt
  forge-gui/res/cardsfolder/upcoming/jyoti_moag_ancient.txt
  forge-gui/res/cardsfolder/upcoming/mutated_cultist.txt
  forge-gui/res/cardsfolder/upcoming/razorfield_ripper.txt
  forge-gui/res/cardsfolder/upcoming/sawhorn_nemesis.txt
  forge-gui/res/cardsfolder/upcoming/tarmogoyf_nest.txt
  forge-gui/res/tokenscripts/tarmogoyf.txt
Labels: Upcoming Set

#5247 Effect cleanup and fixes
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAllAi.java
  forge-ai/src/main/java/forge/ai/ability/DamagePreventAllAi.java
  forge-ai/src/main/java/forge/ai/ability/RegenerateAi.java
  forge-ai/src/main/java/forge/ai/ability/RegenerateAllAi.java
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/DamagePreventAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DamagePreventEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DamagePreventEffectBase.java
  forge-game/src/main/java/forge/game/ability/effects/RegenerateAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RegenerateBaseEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RegenerateEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/trigger/WrappedAbility.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/c/captured_by_the_consulate.txt
  forge-gui/res/cardsfolder/f/full_moons_rise.txt
  forge-gui/res/cardsfolder/g/golgari_charm.txt
  forge-gui/res/cardsfolder/k/kitsune_palliator.txt
  forge-gui/res/cardsfolder/l/loxodon_hierarch.txt
  forge-gui/res/cardsfolder/r/reasonable_doubt.txt
  forge-gui/res/cardsfolder/s/samite_censer_bearer.txt
  forge-gui/res/cardsfolder/w/wail_of_the_nim.txt
  forge-gui/res/cardsfolder/w/wrap_in_vigor.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: AI, Card Cleanup

#5249 M3C: Planar Nexus and support
  forge-core/src/main/java/forge/card/CardType.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-gui/res/cardsfolder/upcoming/planar_nexus.txt
Labels: Upcoming Set

#5254 TokenAi: do not create Token that can't block in Response
  forge-ai/src/main/java/forge/ai/ability/TokenAi.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantAttackBlock.java
Labels: AI

#5250 MH3 10 cards
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPanharmonicon.java
  forge-gui/res/cardsfolder/d/dungeon_delver.txt
  forge-gui/res/cardsfolder/u/undercellar_myconid.txt
  forge-gui/res/cardsfolder/upcoming/amphibian_downpour.txt
  forge-gui/res/cardsfolder/upcoming/ashling_flame_dancer.txt
  forge-gui/res/cardsfolder/upcoming/echoes_of_eternity.txt
  forge-gui/res/cardsfolder/upcoming/eladamri_korvecdal.txt
  forge-gui/res/cardsfolder/upcoming/harbinger_of_the_seas.txt
  forge-gui/res/cardsfolder/upcoming/necrodominance.txt
  forge-gui/res/cardsfolder/upcoming/ocelot_pride.txt
  forge-gui/res/cardsfolder/upcoming/pearl_ear_imperial_advisor.txt
  forge-gui/res/cardsfolder/upcoming/ulamog_the_defiler.txt
  forge-gui/res/cardsfolder/upcoming/white_orchid_phantom.txt
Labels: Upcoming Set

#5260 Clean params
  forge-ai/src/main/java/forge/ai/ability/DamageAllAi.java
  forge-ai/src/main/java/forge/ai/ability/PumpAi.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-gui/res/cardsfolder/a/altar_of_shadows.txt
  forge-gui/res/cardsfolder/b/black_market.txt
  forge-gui/res/cardsfolder/b/black_market_connections.txt
  forge-gui/res/cardsfolder/b/blinkmoth_urn.txt
  forge-gui/res/cardsfolder/b/bounty_of_the_luxa.txt
  forge-gui/res/cardsfolder/c/cabal_therapist.txt
  forge-gui/res/cardsfolder/c/coalition_relic.txt
  forge-gui/res/cardsfolder/c/crack_in_time.txt
  forge-gui/res/cardsfolder/e/eladamri_lord_of_leaves_avatar.txt
  forge-gui/res/cardsfolder/e/eladamris_vineyard.txt
  forge-gui/res/cardsfolder/e/elemental_resonance.txt
  forge-gui/res/cardsfolder/f/foreboding_statue_forsaken_thresher.txt
  forge-gui/res/cardsfolder/f/four_knocks.txt
  forge-gui/res/cardsfolder/g/ghitu_embercoiler.txt
  forge-gui/res/cardsfolder/h/hulking_raptor.txt
  forge-gui/res/cardsfolder/k/kilnspire_district.txt
  forge-gui/res/cardsfolder/k/klothys_god_of_destiny.txt
  forge-gui/res/cardsfolder/m/magus_of_the_vineyard.txt
  forge-gui/res/cardsfolder/o/old_one_eye.txt
  forge-gui/res/cardsfolder/o/orcish_squatters_avatar.txt
  forge-gui/res/cardsfolder/p/plasm_capture.txt
  forge-gui/res/cardsfolder/s/sanctum_of_calm_waters.txt
  forge-gui/res/cardsfolder/s/sanctum_of_fruitful_harvest.txt
  forge-gui/res/cardsfolder/s/sanctum_of_stone_fangs.txt
  forge-gui/res/cardsfolder/t/thousand_moons_smithy_barracks_of_the_thousand.txt
  forge-gui/res/cardsfolder/v/ventifact_bottle.txt
Labels: Card Cleanup

#5258 MH3: Emrakul, the World Anew + 2 cards
  forge-gui/res/cardsfolder/upcoming/emrakul_the_world_anew.txt
  forge-gui/res/cardsfolder/upcoming/grist_voracious_larva_grist_the_plague_swarm.txt
  forge-gui/res/cardsfolder/upcoming/phlage_titan_of_fires_fury.txt
Labels: Upcoming Set

#5269 Basic AI logic for Tireless Provisioner
  forge-ai/src/main/java/forge/ai/ability/ChooseGenericEffectAi.java
  forge-gui/res/cardsfolder/t/tireless_provisioner.txt
Labels: AI

#5263 MH3: 3 new Flipwalkers
  forge-gui/res/cardsfolder/upcoming/ral_monsoon_mage_ral_leyline_prodigy.txt
  forge-gui/res/cardsfolder/upcoming/sorin_of_house_markov_sorin_ravenous_neonate.txt
  forge-gui/res/cardsfolder/upcoming/tamiyo_inquisitive_student_tamiyo_seasoned_scholar.txt
Labels: Upcoming Set

#5255 MH3 20 cards
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-gui/res/cardsfolder/upcoming/aether_spike.txt
  forge-gui/res/cardsfolder/upcoming/ajani_fells_the_godsire.txt
  forge-gui/res/cardsfolder/upcoming/archway_of_innovation.txt
  forge-gui/res/cardsfolder/upcoming/boggart_trawler_boggart_bog.txt
  forge-gui/res/cardsfolder/upcoming/brainsurge.txt
  forge-gui/res/cardsfolder/upcoming/disruptor_flute.txt
  forge-gui/res/cardsfolder/upcoming/frogmyr_enforcer.txt
  forge-gui/res/cardsfolder/upcoming/imskir_iron_eater.txt
  forge-gui/res/cardsfolder/upcoming/phelia_exuberant_shepherd.txt
  forge-gui/res/cardsfolder/upcoming/powerbalance.txt
  forge-gui/res/cardsfolder/upcoming/ripples_of_undeath.txt
  forge-gui/res/cardsfolder/upcoming/rosheen_roaring_prophet.txt
  forge-gui/res/cardsfolder/upcoming/scurrilous_sentry.txt
  forge-gui/res/cardsfolder/upcoming/shilgengar_sire_of_famine.txt
  forge-gui/res/cardsfolder/upcoming/sink_into_stupor_soporific_springs.txt
  forge-gui/res/cardsfolder/upcoming/six.txt
  forge-gui/res/cardsfolder/upcoming/spymasters_vault.txt
  forge-gui/res/cardsfolder/upcoming/the_necrobloom.txt
  forge-gui/res/cardsfolder/upcoming/warren_soultrader.txt
  forge-gui/res/cardsfolder/upcoming/wither_and_bloom.txt
Labels: Upcoming Set

#5271 Replace curly quotes
  forge-gui/res/cardsfolder/c/custodi_peacekeeper.txt
  forge-gui/res/cardsfolder/g/garbage_fire.txt
  forge-gui/res/cardsfolder/l/lurking_automaton.txt
  forge-gui/res/cardsfolder/p/pyretic_hunter.txt
  forge-gui/res/cardsfolder/upcoming/boggart_trawler_boggart_bog.txt
  forge-gui/res/cardsfolder/upcoming/herigast_erupting_nullkite.txt
  forge-gui/res/cardsfolder/upcoming/lumra_bellow_of_the_woods.txt
Labels: Card Cleanup

#5274 Edition updates: H2R, M3C, MH3, SLD, SPG
  forge-gui/res/editions/Modern Horizons 2 Timeshifts.txt
  forge-gui/res/editions/Modern Horizons 3 Commander.txt
  forge-gui/res/editions/Modern Horizons 3.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Special Guests.txt
Labels: Upcoming Set

#5285 Edition updates: MH3
  forge-gui/res/editions/Modern Horizons 3.txt
Labels: Upcoming Set

#5291 Edition updates: MH3
  forge-gui/res/editions/Modern Horizons 3.txt
Labels: Upcoming Set

#5284 MH3 10 double faced cards
  forge-gui/res/cardsfolder/upcoming/bloodsoaked_insight_sanguine_morass.txt
  forge-gui/res/cardsfolder/upcoming/disciple_of_freyalise_garden_of_freyalise.txt
  forge-gui/res/cardsfolder/upcoming/drowner_of_truth_drowned_jungle.txt
  forge-gui/res/cardsfolder/upcoming/fell_the_profane_fell_mire.txt
  forge-gui/res/cardsfolder/upcoming/glasswing_grace_age_graced_chapel.txt
  forge-gui/res/cardsfolder/upcoming/legion_leadership_legion_stronghold.txt
  forge-gui/res/cardsfolder/upcoming/razorgrass_ambush_razorgrass_field.txt
  forge-gui/res/cardsfolder/upcoming/revitalizing_repast_old_growth_grove.txt
  forge-gui/res/cardsfolder/upcoming/rush_of_inspiration_crackling_falls.txt
  forge-gui/res/cardsfolder/upcoming/strength_of_the_harvest_haven_of_the_harvest.txt
Labels: Upcoming Set

#5295 Edition updates: MH3
  forge-gui/res/editions/Modern Horizons 3.txt
Labels: Upcoming Set

#5297 Panharmonicon fix for Nadu, Winged Wisdom
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPanharmonicon.java
  forge-gui/res/cardsfolder/a/azorius_herald.txt
  forge-gui/res/cardsfolder/b/boreas_charger.txt
  forge-gui/res/cardsfolder/c/cloak_of_confusion.txt
Labels: Card Patch

#5292 MH3 10 cards
  forge-game/src/main/java/forge/game/ability/effects/ManifestBaseEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/upcoming/fanatic_of_rhonas.txt
  forge-gui/res/cardsfolder/upcoming/flare_of_fortitude.txt
  forge-gui/res/cardsfolder/upcoming/flare_of_malice.txt
  forge-gui/res/cardsfolder/upcoming/guardian_of_the_forgotten.txt
  forge-gui/res/cardsfolder/upcoming/kozilek_the_broken_reality.txt
  forge-gui/res/cardsfolder/upcoming/mindless_conscription.txt
  forge-gui/res/cardsfolder/upcoming/shadow_of_the_second_sun.txt
  forge-gui/res/cardsfolder/upcoming/strix_serenade.txt
  forge-gui/res/cardsfolder/upcoming/ugins_binding.txt
  forge-gui/res/cardsfolder/upcoming/ugins_labyrinth.txt
Labels: Upcoming Set

#5301 Fix Image not loading on some skins
  forge-gui-mobile/src/forge/assets/FSkinImageImpl.java
Labels: GUI, Mobile

#5300 Fix Scapeshift returning Lake of the Dead + Swamp which it can sacrifice
  forge-game/src/main/java/forge/game/ability/effects/SacrificeEffect.java
Labels: Game Mechanics, Rules compliance

#5310 MH3 10 cards
  forge-gui/res/cardsfolder/upcoming/consign_to_memory.txt
  forge-gui/res/cardsfolder/upcoming/dreamtide_whale.txt
  forge-gui/res/cardsfolder/upcoming/glyph_elemental.txt
  forge-gui/res/cardsfolder/upcoming/hexgold_slith.txt
  forge-gui/res/cardsfolder/upcoming/inspired_inventor.txt
  forge-gui/res/cardsfolder/upcoming/muster_the_departed.txt
  forge-gui/res/cardsfolder/upcoming/proud_pack_rhino.txt
  forge-gui/res/cardsfolder/upcoming/rosecot_knight.txt
  forge-gui/res/cardsfolder/upcoming/static_prison.txt
  forge-gui/res/cardsfolder/upcoming/wrath_of_the_skies.txt
Labels: Upcoming Set

#5309 Another 10 MH3 cards
  forge-gui/res/cardsfolder/upcoming/accursed_marauder.txt
  forge-gui/res/cardsfolder/upcoming/arcbound_marauder.txt
  forge-gui/res/cardsfolder/upcoming/breathe_your_last.txt
  forge-gui/res/cardsfolder/upcoming/consuming_corruption.txt
  forge-gui/res/cardsfolder/upcoming/dreadmobile.txt
  forge-gui/res/cardsfolder/upcoming/dreamdrinker_vampire.txt
  forge-gui/res/cardsfolder/upcoming/electrozoa.txt
  forge-gui/res/cardsfolder/upcoming/gravedig.txt
  forge-gui/res/cardsfolder/upcoming/hope_ender_coatl.txt
  forge-gui/res/cardsfolder/upcoming/unfathomable_truths.txt
Labels: Upcoming Set

#5315 Edition updates: MH3
  forge-gui/res/editions/Modern Horizons 3.txt
Labels: Upcoming Set

#5296 MH3 10 cards
  forge-gui/res/cardsfolder/upcoming/basking_broodscale.txt
  forge-gui/res/cardsfolder/upcoming/birthing_ritual.txt
  forge-gui/res/cardsfolder/upcoming/charitable_levy.txt
  forge-gui/res/cardsfolder/upcoming/collective_resistance.txt
  forge-gui/res/cardsfolder/upcoming/conduit_goblin.txt
  forge-gui/res/cardsfolder/upcoming/copycrook.txt
  forge-gui/res/cardsfolder/upcoming/mandibular_kite.txt
  forge-gui/res/cardsfolder/upcoming/roil_cartographer.txt
  forge-gui/res/cardsfolder/upcoming/shifting_woodland.txt
  forge-gui/res/cardsfolder/upcoming/sowing_mycospawn.txt
Labels: Upcoming Set

#5311 MH3: nethergoyf.txt + support
  forge-game/src/main/java/forge/game/cost/CostExile.java
  forge-gui/res/cardsfolder/upcoming/nethergoyf.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectCardsFromList.java
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectEntitiesFromList.java
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectManyBase.java
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Upcoming Set, Game Mechanics

#5308 MH3 15 cards
  forge-gui/res/cardsfolder/upcoming/cyclops_superconductor.txt
  forge-gui/res/cardsfolder/upcoming/eldrazi_repurposer.txt
  forge-gui/res/cardsfolder/upcoming/faithful_watchdog.txt
  forge-gui/res/cardsfolder/upcoming/gift_of_the_viper.txt
  forge-gui/res/cardsfolder/upcoming/obstinate_gargoyle.txt
  forge-gui/res/cardsfolder/upcoming/propagator_drone.txt
  forge-gui/res/cardsfolder/upcoming/siege_smash.txt
  forge-gui/res/cardsfolder/upcoming/skittering_precursor.txt
  forge-gui/res/cardsfolder/upcoming/snapping_voidcraw.txt
  forge-gui/res/cardsfolder/upcoming/solar_transformer.txt
  forge-gui/res/cardsfolder/upcoming/thriving_skyclaw.txt
  forge-gui/res/cardsfolder/upcoming/titans_vanguard.txt
  forge-gui/res/cardsfolder/upcoming/vexing_bauble.txt
  forge-gui/res/cardsfolder/upcoming/witch_enchanter_witch_blessed_meadow.txt
  forge-gui/res/cardsfolder/upcoming/writhing_chrysalis.txt
Labels: Upcoming Set

#5323 Nyxborn Unicorn and Omo, Queen of Vesuva
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/nyxborn_unicorn.txt
  forge-gui/res/cardsfolder/upcoming/omo_queen_of_vesuva.txt
Labels: Upcoming Set

#5307 Another 10 MH3 cards
  forge-gui/res/cardsfolder/upcoming/fanged_flames.txt
  forge-gui/res/cardsfolder/upcoming/furnace_hellkite.txt
  forge-gui/res/cardsfolder/upcoming/infernal_captor.txt
  forge-gui/res/cardsfolder/upcoming/mogg_mob.txt
  forge-gui/res/cardsfolder/upcoming/molten_gatekeeper.txt
  forge-gui/res/cardsfolder/upcoming/phyrexian_ironworks.txt
  forge-gui/res/cardsfolder/upcoming/ral_and_the_implicit_maze.txt
  forge-gui/res/cardsfolder/upcoming/refurbished_familiar.txt
  forge-gui/res/cardsfolder/upcoming/retrofitted_transmogrant.txt
  forge-gui/res/cardsfolder/upcoming/wurmcoil_larva.txt
  forge-gui/res/tokenscripts/b_1_2_a_phyrexian_wurm_deathtouch.txt
  forge-gui/res/tokenscripts/b_2_1_a_phyrexian_wurm_lifelink.txt
  forge-gui/res/tokenscripts/spellgorger_weird.txt
Labels: Upcoming Set

#5336 Edition updates: M3C, MH3
  forge-gui/res/editions/Modern Horizons 3 Commander.txt
  forge-gui/res/editions/Modern Horizons 3.txt
Labels: Upcoming Set

#5338 Fix Infernal Captor
  forge-gui/res/cardsfolder/upcoming/infernal_captor.txt
Labels: Upcoming Set, Card Patch

#5327 Add files via upload
  forge-gui/res/cardsfolder/upcoming/kozileks_command.txt
  forge-gui/res/cardsfolder/upcoming/pinnacle_monk_mystic_peak.txt
  forge-gui/res/cardsfolder/upcoming/territory_culler.txt
  forge-gui/res/cardsfolder/upcoming/voidpouncer.txt
  forge-gui/res/cardsfolder/upcoming/wastescape_battlemage.txt
Labels: Upcoming Set

#5339 Added Depth Defiler, corrected Furnace Hellkite
  forge-gui/res/cardsfolder/upcoming/depth_defiler.txt
  forge-gui/res/cardsfolder/upcoming/furnace_hellkite.txt
Labels: Upcoming Set

#5341 Edition updates: M3C, MH3
  forge-gui/res/editions/Modern Horizons 3 Commander.txt
  forge-gui/res/editions/Modern Horizons 3.txt
Labels: Upcoming Set

#5342 Fix Razorgrass Ambush name
  forge-gui/res/cardsfolder/upcoming/razorgrass_ambush_razorgrass_field.txt
Labels: Card Patch

#5324 3 MH3 cards
  forge-gui/res/cardsfolder/upcoming/emrakul's messenger.txt
  forge-gui/res/cardsfolder/upcoming/hydroelectric_specimen_hydroelectric_laboratory.txt
  forge-gui/res/cardsfolder/upcoming/quest_for_the_necropolis.txt
Labels: Upcoming Set

#5322 MH3: 3 cards that start with A
  forge-game/src/main/java/forge/game/trigger/TriggerCounterAddedOnce.java
  forge-gui/res/cardsfolder/upcoming/aether_revolt.txt
  forge-gui/res/cardsfolder/upcoming/amped_raptor.txt
  forge-gui/res/cardsfolder/upcoming/arena_of_glory.txt
Labels: Upcoming Set

#5343 MH3: Kozilek's Unsealing
  forge-gui/res/cardsfolder/upcoming/kozileks_unsealing.txt
Labels: Upcoming Set

#5344 MH3: 3 cards
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/a/abzan_charm.txt
  forge-gui/res/cardsfolder/upcoming/breaker_of_creation.txt
  forge-gui/res/cardsfolder/upcoming/cursed_wombat.txt
  forge-gui/res/cardsfolder/upcoming/deem_inferior.txt
Labels: Upcoming Set
