Repository Card-Forge/forge, pull requests merged in 2024-04, with the labels that each got.

#4930 Support "As Long As" duration
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/a/abuelo_ancestral_echo.txt
  forge-gui/res/cardsfolder/a/aegis_angel.txt
  forge-gui/res/cardsfolder/a/aerial_surveyor.txt
  forge-gui/res/cardsfolder/a/angel_of_condemnation.txt
  forge-gui/res/cardsfolder/a/angel_of_flight_alabaster.txt
  forge-gui/res/cardsfolder/a/archaeomancers_map.txt
  forge-gui/res/cardsfolder/a/armored_scrapgorger.txt
  forge-gui/res/cardsfolder/a/ashioks_erasure.txt
  forge-gui/res/cardsfolder/a/ashnods_harvester.txt
  forge-gui/res/cardsfolder/a/avatar_of_growth.txt
  forge-gui/res/cardsfolder/a/awakener_druid.txt
  forge-gui/res/cardsfolder/b/basris_aegis.txt
  forge-gui/res/cardsfolder/b/binding_the_old_gods.txt
  forge-gui/res/cardsfolder/b/burrog_befuddler.txt
  forge-gui/res/cardsfolder/d/dovins_dismissal.txt
  forge-gui/res/cardsfolder/g/garruks_warsteed.txt
  forge-gui/res/cardsfolder/g/gideons_battle_cry.txt
  forge-gui/res/cardsfolder/g/grand_master_of_flowers.txt
  forge-gui/res/cardsfolder/i/iname_death_aspect.txt
  forge-gui/res/cardsfolder/i/invasion_of_theros_ephara_ever_sheltering.txt
  forge-gui/res/cardsfolder/i/invasion_of_zendikar_awakened_skyclave.txt
  forge-gui/res/cardsfolder/k/kitesail_larcenist.txt
  forge-gui/res/cardsfolder/k/knowledge_exploitation.txt
  forge-gui/res/cardsfolder/k/koth_fire_of_resistance.txt
  forge-gui/res/cardsfolder/k/kyodai_soul_of_kamigawa.txt
  forge-gui/res/cardsfolder/l/liliana_of_the_dark_realms.txt
  forge-gui/res/cardsfolder/l/loyal_warhound.txt
  forge-gui/res/cardsfolder/m/magda_brazen_outlaw.txt
  forge-gui/res/cardsfolder/m/march_of_burgeoning_life.txt
  forge-gui/res/cardsfolder/n/new_frontiers.txt
  forge-gui/res/cardsfolder/n/noble_benefactor.txt
  forge-gui/res/cardsfolder/p/protean_hulk.txt
  forge-gui/res/cardsfolder/q/quenchable_fire.txt
  forge-gui/res/cardsfolder/q/quicksmith_rebel.txt
  forge-gui/res/cardsfolder/q/quicksmith_spy.txt
  forge-gui/res/cardsfolder/r/reclaim_the_wastes.txt
  forge-gui/res/cardsfolder/r/rushed_rebirth.txt
  forge-gui/res/cardsfolder/s/sabertooth_cobra.txt
  forge-gui/res/cardsfolder/s/skilled_animator.txt
  forge-gui/res/cardsfolder/s/stromgald_spy.txt
  forge-gui/res/cardsfolder/s/suncleanser.txt
  forge-gui/res/cardsfolder/t/tale_of_tinuviel.txt
  forge-gui/res/cardsfolder/t/the_phasing_of_zhalfir.txt
  forge-gui/res/cardsfolder/t/the_war_games.txt
  forge-gui/res/cardsfolder/t/tide_shaper.txt
  forge-gui/res/cardsfolder/t/tishanas_tidebinder.txt
  forge-gui/res/cardsfolder/u/unctuss_retrofitter.txt
  forge-gui/res/cardsfolder/v/verdant_succession.txt
  forge-gui/res/cardsfolder/v/veteran_explorer.txt
  forge-gui/res/cardsfolder/v/vislor_turlough.txt
  forge-gui/res/cardsfolder/w/weird_harvest.txt
  forge-gui/res/cardsfolder/w/welcome_to_jurassic_park.txt
  forge-gui/res/cardsfolder/w/winds_of_abandon.txt
Labels: Game Mechanics, Card Patch, Rules compliance

#4933 PIP Junk Jet
  forge-gui/res/cardsfolder/upcoming/junk_jet.txt
Labels: Upcoming Set

#4925 OTJ 16 cards
  forge-gui/res/cardsfolder/upcoming/blacksnag_buzzard.txt
  forge-gui/res/cardsfolder/upcoming/blood_hustler.txt
  forge-gui/res/cardsfolder/upcoming/boneyard_desecrator.txt
  forge-gui/res/cardsfolder/upcoming/boom_box.txt
  forge-gui/res/cardsfolder/upcoming/bounding_felidar.txt
  forge-gui/res/cardsfolder/upcoming/breeches_the_blastmaker.txt
  forge-gui/res/cardsfolder/upcoming/bridled_bighorn.txt
  forge-gui/res/cardsfolder/upcoming/brimstone_roundup.txt
  forge-gui/res/cardsfolder/upcoming/bucolic_ranch.txt
  forge-gui/res/cardsfolder/upcoming/cactusfolk_sureshot.txt
  forge-gui/res/cardsfolder/upcoming/caught_in_the_crossfire.txt
  forge-gui/res/cardsfolder/upcoming/caustic_bronco.txt
  forge-gui/res/cardsfolder/upcoming/congregation_gryff.txt
  forge-gui/res/cardsfolder/upcoming/cunning_coyote.txt
  forge-gui/res/cardsfolder/upcoming/double_down.txt
  forge-gui/res/cardsfolder/upcoming/three_steps_ahead.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/tokenscripts/w_1_1_sheep.txt
Labels: Upcoming Set

#4941 Edition updates: OTJ, OTP
  forge-gui/res/cardsfolder/upcoming/vraska_the_silencer.txt
  forge-gui/res/editions/Breaking News.txt
  forge-gui/res/editions/Outlaws of Thunder Junction.txt
Labels: Upcoming Set

#4936 OTJ 13 cards
  forge-ai/src/main/java/forge/ai/AiBlockController.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ControlGainEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerAttached.java
  forge-game/src/main/java/forge/game/trigger/TriggerChangesZone.java
  forge-game/src/main/java/forge/game/trigger/TriggerDamageDoneOnce.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-gui/res/cardsfolder/f/feign_death.txt
  forge-gui/res/cardsfolder/upcoming/annie_joins_up.txt
  forge-gui/res/cardsfolder/upcoming/desperate_bloodseeker.txt
  forge-gui/res/cardsfolder/upcoming/discerning_peddler.txt
  forge-gui/res/cardsfolder/upcoming/djinn_of_fools_fall.txt
  forge-gui/res/cardsfolder/upcoming/emergent_haunting.txt
  forge-gui/res/cardsfolder/upcoming/eriette_the_beguiler.txt
  forge-gui/res/cardsfolder/upcoming/eriettes_lullaby.txt
  forge-gui/res/cardsfolder/upcoming/explosive_derailment.txt
  forge-gui/res/cardsfolder/upcoming/failed_fording.txt
  forge-gui/res/cardsfolder/upcoming/ferocification.txt
  forge-gui/res/cardsfolder/upcoming/final_showdown.txt
  forge-gui/res/cardsfolder/upcoming/fleeting_reflection.txt
  forge-gui/res/cardsfolder/upcoming/wylie_duke_atiin_hero.txt
Labels: Upcoming Set

#4898 YMKM: tajic_legions_valor + support
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-gui/res/cardsfolder/b/brazen_boarding.txt
  forge-gui/res/cardsfolder/upcoming/tajic_legions_valor.txt
Labels: Game Mechanics

#4861 YMKM 10 cards
  forge-gui/res/cardsfolder/c/case_of_the_locked_hothouse.txt
  forge-gui/res/cardsfolder/upcoming/cackling_observer.txt
  forge-gui/res/cardsfolder/upcoming/case_of_the_lost_witness.txt
  forge-gui/res/cardsfolder/upcoming/construction_arsonist.txt
  forge-gui/res/cardsfolder/upcoming/emmara_voice_of_the_conclave.txt
  forge-gui/res/cardsfolder/upcoming/emporium_thopterist.txt
  forge-gui/res/cardsfolder/upcoming/excogitator_sphinx.txt
  forge-gui/res/cardsfolder/upcoming/mapping_the_maze.txt
  forge-gui/res/cardsfolder/upcoming/scrutiny_of_the_guildpact.txt
  forge-gui/res/cardsfolder/upcoming/spotlight_falcon.txt
  forge-gui/res/cardsfolder/upcoming/woodland_investigation.txt
Labels: Upcoming Set

#4912 tweak for Ward keyword display
  forge-game/src/main/java/forge/game/card/Card.java
Labels: GUI

#4953 Edition updates: BIG, OTJ, OTP, PW24, SPG
  forge-gui/res/editions/Breaking News.txt
  forge-gui/res/editions/Outlaws of Thunder Junction.txt
  forge-gui/res/editions/Special Guests.txt
  forge-gui/res/editions/The Big Score.txt
  forge-gui/res/editions/Wizards Play Network 2024.txt
Labels: Upcoming Set

#4889 YMKM: perforator_crocodile + support
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-gui/res/cardsfolder/upcoming/perforator_crocodile.txt
Labels: Game Mechanics

#4956 OTJ 8 cards
  forge-gui/res/cardsfolder/upcoming/dust_animus.txt
  forge-gui/res/cardsfolder/upcoming/geyser_drake.txt
  forge-gui/res/cardsfolder/upcoming/gold_pan.txt
  forge-gui/res/cardsfolder/upcoming/gold_rush.txt
  forge-gui/res/cardsfolder/upcoming/goldvein_hydra.txt
  forge-gui/res/cardsfolder/upcoming/hardbristle_bandit.txt
  forge-gui/res/cardsfolder/upcoming/hellspur_posse_boss.txt
  forge-gui/res/cardsfolder/upcoming/high_noon.txt
Labels: Upcoming Set

#4948 OTJ 13 cards
  forge-gui/res/cardsfolder/upcoming/ambush_gigapede.txt
  forge-gui/res/cardsfolder/upcoming/consuming_ashes.txt
  forge-gui/res/cardsfolder/upcoming/daring_thunder_thief.txt
  forge-gui/res/cardsfolder/upcoming/deserts_due.txt
  forge-gui/res/cardsfolder/upcoming/form_a_posse.txt
  forge-gui/res/cardsfolder/upcoming/forsaken_miner.txt
  forge-gui/res/cardsfolder/upcoming/freestrider_commando.txt
  forge-gui/res/cardsfolder/upcoming/great_train_heist.txt
  forge-gui/res/cardsfolder/upcoming/harrier_strix.txt
  forge-gui/res/cardsfolder/upcoming/holy_cow.txt
  forge-gui/res/cardsfolder/upcoming/miriam_herd_whisperer.txt
  forge-gui/res/cardsfolder/upcoming/mobile_homestead.txt
  forge-gui/res/cardsfolder/upcoming/spring_splasher.txt
Labels: Upcoming Set

#4952 OTJ: luxurious_locomotive + support
  forge-ai/src/main/java/forge/ai/simulation/GameCopier.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/g/getaway_car.txt
  forge-gui/res/cardsfolder/g/golden_argosy.txt
  forge-gui/res/cardsfolder/s/smogbelcher_chariot.txt
  forge-gui/res/cardsfolder/s/subterranean_schooner.txt
  forge-gui/res/cardsfolder/upcoming/luxurious_locomotive.txt
Labels: Upcoming Set, Game Mechanics

#4970 Some fixes
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/a/asmira_holy_avenger.txt
  forge-gui/res/cardsfolder/g/golden_argosy.txt
  forge-gui/res/cardsfolder/g/grim_reapers_sprint.txt
  forge-gui/res/cardsfolder/n/nahiri_the_unforgiving.txt
  forge-gui/res/cardsfolder/n/nahiris_sacrifice.txt
  forge-gui/res/cardsfolder/upcoming/final_showdown.txt
  forge-gui/res/cardsfolder/upcoming/jace_reawakened.txt
  forge-gui/res/cardsfolder/upcoming/kraum_violent_cacophony.txt
Labels: Card Patch

#4947 OTJ: more saddle support and cards
  forge-ai/src/main/java/forge/ai/simulation/GameCopier.java
  forge-game/src/main/java/forge/game/ability/effects/AlterAttributeEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardCopyService.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/trigger/TriggerBecomesSaddled.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-gui/res/cardsfolder/r/retrieve.txt
  forge-gui/res/cardsfolder/upcoming/calamity_galloping_inferno.txt
  forge-gui/res/cardsfolder/upcoming/fortune_loyal_steed.txt
  forge-gui/res/cardsfolder/upcoming/gila_courser.txt
  forge-gui/res/cardsfolder/upcoming/quilled_charger.txt
  forge-gui/res/cardsfolder/upcoming/rambling_possum.txt
  forge-gui/res/cardsfolder/upcoming/seraphic_steed.txt
  forge-gui/res/cardsfolder/upcoming/stubborn_burrowfiend.txt
  forge-gui/res/cardsfolder/upcoming/the_gitrog_ravenous_ride.txt
  forge-gui/res/cardsfolder/upcoming/trained_arynx.txt
  forge-gui/res/cardsfolder/w/wrenn_and_seven.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Upcoming Set, Game Mechanics

#4951 Affinity keyword tweaks (OTJ + WHO)
  forge-game/src/main/java/forge/game/keyword/KeywordWithType.java
  forge-gui/res/cardsfolder/upcoming/hellspur_brute.txt
Labels: Upcoming Set

#4975 Edition updates: BIG, OTC, OTJ, OTP, SLD
  forge-gui/res/editions/Breaking News.txt
  forge-gui/res/editions/Outlaws of Thunder Junction Commander.txt
  forge-gui/res/editions/Outlaws of Thunder Junction.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/The Big Score.txt
Labels: Upcoming Set

#4976 Fix ChangeZone* not always shuffling
  forge-core/src/main/java/forge/card/CardDb.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ManifestBaseEffect.java
  forge-gui/res/cardsfolder/t/temporary_truce.txt
  forge-gui/res/cardsfolder/t/truce.txt
Labels: Rules compliance

#4980 Edition updates: SLD
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#4988 Add puzzle PS_PIP1
  forge-gui/res/puzzle/PS_PIP1.pzl
Labels: Puzzle Mode

#4963 OTJ 20 cards
  forge-gui/res/cardsfolder/upcoming/full_steam_ahead.txt
  forge-gui/res/cardsfolder/upcoming/highway_robbery.txt
  forge-gui/res/cardsfolder/upcoming/hollow_marauder.txt
  forge-gui/res/cardsfolder/upcoming/intimidation_campaign.txt
  forge-gui/res/cardsfolder/upcoming/inventive_wingsmith.txt
  forge-gui/res/cardsfolder/upcoming/iron_fist_pulverizer.txt
  forge-gui/res/cardsfolder/upcoming/jem_lightfoote_sky_explorer.txt
  forge-gui/res/cardsfolder/upcoming/jolene_plundering_pugilist.txt
  forge-gui/res/cardsfolder/upcoming/kaervek_the_punisher.txt
  forge-gui/res/cardsfolder/upcoming/kambal_profiteering_mayor.txt
  forge-gui/res/cardsfolder/upcoming/lassoed_by_the_law.txt
  forge-gui/res/cardsfolder/upcoming/laughing_jasper_flint.txt
  forge-gui/res/cardsfolder/upcoming/lazav_familiar_stranger.txt
  forge-gui/res/cardsfolder/upcoming/loan_shark.txt
  forge-gui/res/cardsfolder/upcoming/map_the_frontier.txt
  forge-gui/res/cardsfolder/upcoming/mine_raider.txt
  forge-gui/res/cardsfolder/upcoming/mirage_mesa.txt
  forge-gui/res/cardsfolder/upcoming/mourners_surprise.txt
  forge-gui/res/cardsfolder/upcoming/mystical_tether.txt
  forge-gui/res/cardsfolder/upcoming/nezumi_linkbreaker.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set

#4955 OTJ: felix_five_boots + support
  forge-game/src/main/java/forge/game/GameObjectPredicates.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPanharmonicon.java
  forge-game/src/main/java/forge/game/trigger/TriggerDamageDone.java
  forge-gui/res/cardsfolder/b/body_of_knowledge.txt
  forge-gui/res/cardsfolder/g/green_dragon.txt
  forge-gui/res/cardsfolder/o/olivias_attendants.txt
  forge-gui/res/cardsfolder/r/risona_asari_commander.txt
  forge-gui/res/cardsfolder/s/shackles_of_treachery.txt
  forge-gui/res/cardsfolder/s/sower_of_discord.txt
  forge-gui/res/cardsfolder/t/towering_wave_mystic.txt
  forge-gui/res/cardsfolder/upcoming/felix_five_boots.txt
  forge-gui/res/cardsfolder/v/vengeful_pharaoh.txt
  forge-gui/res/cardsfolder/w/wildfire_elemental.txt
  forge-gui/res/cardsfolder/w/wrathful_raptors.txt
  forge-gui/res/cardsfolder/w/wrathful_red_dragon.txt
Labels: Upcoming Set, Game Mechanics

#4992 some more saddle polish
  forge-gui/res/cardsfolder/upcoming/giant_beaver.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectEntitiesFromList.java
Labels: Upcoming Set

#4991 OTJ spree cards
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-gui/res/cardsfolder/a/apprentice_necromancer.txt
  forge-gui/res/cardsfolder/a/archmages_charm.txt
  forge-gui/res/cardsfolder/e/eccentric_apprentice.txt
  forge-gui/res/cardsfolder/t/twining_twins_swift_spiral.txt
  forge-gui/res/cardsfolder/upcoming/getaway_glamer.txt
  forge-gui/res/cardsfolder/upcoming/jailbreak_scheme.txt
  forge-gui/res/cardsfolder/upcoming/lively_dirge.txt
  forge-gui/res/cardsfolder/upcoming/metamorphic_blast.txt
  forge-gui/res/cardsfolder/upcoming/one_last_job.txt
Labels: Upcoming Set, Game Mechanics

#4995 Fix mana doublers not working during payment
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
Labels: bug

#4994 Misc tidy
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantPreventDamage.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPlotZone.java
  forge-gui/res/cardsfolder/b/blood_on_the_snow.txt
  forge-gui/res/cardsfolder/u/umezawas_charm.txt
  forge-gui/res/cardsfolder/v/verdant_command.txt
  forge-gui/res/cardsfolder/w/wild_shape.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectTargets.java
Labels: Card Cleanup

#4997 CardType: Outlaw fix
  forge-core/src/main/java/forge/card/CardType.java
Labels: Upcoming Set, Crash fix

#4990 AI Pump tweaks for abilities with a sacrifice self cost + Witch's Clinic AI hint.
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-ai/src/main/java/forge/ai/ability/PumpAi.java
  forge-gui/res/cardsfolder/w/witchs_clinic.txt
Labels: AI

#4982 OTJ 10 cards
  forge-gui/res/cardsfolder/p/phyrexian_scrapyard.txt
  forge-gui/res/cardsfolder/upcoming/peerless_ropemaster.txt
  forge-gui/res/cardsfolder/upcoming/plan_the_heist.txt
  forge-gui/res/cardsfolder/upcoming/prairie_dog.txt
  forge-gui/res/cardsfolder/upcoming/prickly_pair.txt
  forge-gui/res/cardsfolder/upcoming/prosperity_tycoon.txt
  forge-gui/res/cardsfolder/upcoming/quick_draw.txt
  forge-gui/res/cardsfolder/upcoming/railway_brawler.txt
  forge-gui/res/cardsfolder/upcoming/rakdos_joins_up.txt
  forge-gui/res/cardsfolder/upcoming/rakish_crew.txt
  forge-gui/res/cardsfolder/upcoming/rattleback_apothecary.txt
Labels: Upcoming Set

#5020 Outlast: use Keyword for check
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/spellability/AlternativeCost.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-gui/res/cardsfolder/h/herald_of_anafenza.txt
Labels: Game Mechanics

#5008 fix crashes issue4472
  forge-core/src/main/java/forge/card/CardDb.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Crash fix

#5015 OTJ: taii_wakeen_perfect_shot + support
  forge-game/src/main/java/forge/game/trigger/TriggerDamageDone.java
  forge-gui/res/cardsfolder/upcoming/taii_wakeen_perfect_shot.txt
Labels: Upcoming Set, Game Mechanics

#5012 BIG 10 cards
  forge-gui/res/cardsfolder/upcoming/generous_plunderer.txt
  forge-gui/res/cardsfolder/upcoming/greeds_gambit.txt
  forge-gui/res/cardsfolder/upcoming/harvester_of_misery.txt
  forge-gui/res/cardsfolder/upcoming/hostile_investigator.txt
  forge-gui/res/cardsfolder/upcoming/legion_extruder.txt
  forge-gui/res/cardsfolder/upcoming/loot_the_key_to_everything.txt
  forge-gui/res/cardsfolder/upcoming/lost_jitte.txt
  forge-gui/res/cardsfolder/upcoming/lotus_ring.txt
  forge-gui/res/cardsfolder/upcoming/memory_vessel.txt
  forge-gui/res/cardsfolder/upcoming/molten_duplication.txt
  forge-gui/res/tokenscripts/b_2_1_bat_flying.txt
Labels: Upcoming Set

#5024 BIG 3 cards
  forge-gui/res/cardsfolder/upcoming/omenpath_journey.txt
  forge-gui/res/cardsfolder/upcoming/pest_control.txt
  forge-gui/res/cardsfolder/upcoming/sandstorm_salvager.txt
Labels: Upcoming Set

#5026 Embalm and Eternalize use Keyword and Refactor Copy
  forge-ai/src/main/java/forge/ai/ability/CopyPermanentAi.java
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardState.java
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-gui/res/cardsfolder/v/vizier_of_many_faces.txt
  forge-gui/res/cardsfolder/v/vizier_of_the_anointed.txt
Labels: Game Mechanics

#5030 Ascend: without SpellAbility.blessing flag
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
Labels: Game Mechanics

#5027 BIG 4 cards
  forge-gui/res/cardsfolder/upcoming/simulacrum_synthesizer.txt
  forge-gui/res/cardsfolder/upcoming/tarnation_vista.txt
  forge-gui/res/cardsfolder/upcoming/territory_forge.txt
  forge-gui/res/cardsfolder/upcoming/worldwalker_helm.txt
Labels: Upcoming Set

#5037 Alternative Cost For ActivatedAbilities and Spells
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
  forge-ai/src/main/java/forge/ai/ability/AnimateAi.java
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardPredicates.java
  forge-game/src/main/java/forge/game/cost/CostRemoveCounter.java
  forge-game/src/main/java/forge/game/cost/CostTapType.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityAlternativeCost.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantCrew.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/b/bound_in_gold.txt
  forge-gui/res/cardsfolder/b/bruenor_battlehammer.txt
  forge-gui/res/cardsfolder/c/cho_arrim_legate.txt
  forge-gui/res/cardsfolder/d/deadly_rollick.txt
  forge-gui/res/cardsfolder/d/deepwood_legate.txt
  forge-gui/res/cardsfolder/d/deflecting_swat.txt
  forge-gui/res/cardsfolder/d/dream_halls.txt
  forge-gui/res/cardsfolder/e/etched_oracle_avatar.txt
  forge-gui/res/cardsfolder/f/fierce_guardianship.txt
  forge-gui/res/cardsfolder/f/fist_of_suns.txt
  forge-gui/res/cardsfolder/f/flawless_maneuver.txt
  forge-gui/res/cardsfolder/f/forge_anew.txt
  forge-gui/res/cardsfolder/g/gavi_nest_warden.txt
  forge-gui/res/cardsfolder/h/heart_of_kiran.txt
  forge-gui/res/cardsfolder/i/intercessors_arrest.txt
  forge-gui/res/cardsfolder/j/jodah_archmage_eternal.txt
  forge-gui/res/cardsfolder/k/kyren_legate.txt
  forge-gui/res/cardsfolder/l/land_grant.txt
  forge-gui/res/cardsfolder/m/massacre.txt
  forge-gui/res/cardsfolder/m/mogg_salvage.txt
  forge-gui/res/cardsfolder/n/new_perspectives.txt
  forge-gui/res/cardsfolder/o/obscuring_haze.txt
  forge-gui/res/cardsfolder/o/once_upon_a_time.txt
  forge-gui/res/cardsfolder/r/refreshing_rain.txt
  forge-gui/res/cardsfolder/r/revoke_privileges.txt
  forge-gui/res/cardsfolder/r/rooftop_storm.txt
  forge-gui/res/cardsfolder/r/runeforge_champion.txt
  forge-gui/res/cardsfolder/r/rushwood_legate.txt
  forge-gui/res/cardsfolder/s/saprazzan_legate.txt
  forge-gui/res/cardsfolder/s/sivvis_ruse.txt
  forge-gui/res/cardsfolder/s/submerge.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectEntitiesFromList.java
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Game Mechanics

#5049 GameAction: fix facedown spells via CopyCard$ not changing zone
  forge-game/src/main/java/forge/game/GameAction.java
Labels: bug

#5050 Remove Alternative Cost KW
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityAlternativeCost.java
  forge-gui/res/cardsfolder/k/kentaro_the_smiling_cat.txt
  forge-gui/res/cardsfolder/m/marshland_bloodcaster.txt
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Game Mechanics

#5013 OTJ: obeka_splitter_of_seconds + support
  forge-game/src/main/java/forge/game/ability/effects/AddPhaseEffect.java
  forge-gui/res/cardsfolder/upcoming/obeka_splitter_of_seconds.txt
Labels: Upcoming Set, Game Mechanics

#5010 OTJ: more spree cards and polish
  forge-gui/res/cardsfolder/c/collective_effort.txt
  forge-gui/res/cardsfolder/l/lord_xander_the_collector.txt
  forge-gui/res/cardsfolder/upcoming/phantom_interference.txt
  forge-gui/res/cardsfolder/upcoming/requisition_raid.txt
  forge-gui/res/cardsfolder/upcoming/return_the_favor.txt
  forge-gui/res/cardsfolder/upcoming/rush_of_dread.txt
  forge-gui/res/cardsfolder/upcoming/rustler_rampage.txt
  forge-gui/res/cardsfolder/upcoming/smugglers_surprise.txt
Labels: Upcoming Set

#5058 OTJ: Last three cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/b/bandits_haul.txt
  forge-gui/res/cardsfolder/d/deepmuck_desperado.txt
  forge-gui/res/cardsfolder/o/outcaster_trailblazer.txt
Labels: Upcoming Set

#5059 Add puzzle PS_MKM4
  forge-gui/res/puzzle/PS_MKM4.pzl
Labels: Puzzle Mode

#5065 Add AI implementation for Subterranean Schooler
  forge-ai/src/main/java/forge/ai/ability/ExploreAi.java
Labels: AI

#5067 Some fixes
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-gui/res/cardsfolder/c/celestine_reef.txt
  forge-gui/res/cardsfolder/c/commit_memory.txt
  forge-gui/res/cardsfolder/d/days_undoing.txt
  forge-gui/res/cardsfolder/d/diminishing_returns.txt
  forge-gui/res/cardsfolder/e/echo_of_eons.txt
  forge-gui/res/cardsfolder/e/emergency_powers.txt
  forge-gui/res/cardsfolder/f/finale_of_revelation.txt
  forge-gui/res/cardsfolder/i/island_sanctuary.txt
  forge-gui/res/cardsfolder/i/ivory_tower.txt
  forge-gui/res/cardsfolder/m/merfolk_assassin.txt
  forge-gui/res/cardsfolder/m/mutalith_vortex_beast.txt
  forge-gui/res/cardsfolder/o/once_more_with_feeling.txt
  forge-gui/res/cardsfolder/s/stormtide_leviathan.txt
  forge-gui/res/cardsfolder/s/sway_of_the_stars.txt
  forge-gui/res/cardsfolder/t/temporal_cascade.txt
  forge-gui/res/cardsfolder/t/time_spiral.txt
  forge-gui/res/cardsfolder/t/timetwister.txt
Labels: Card Patch

#5074 OTJ: Migrate last cards from upcoming
  forge-gui/res/cardsfolder/f/forgers_foundry.txt
  forge-gui/res/cardsfolder/s/savvy_trader.txt
  forge-gui/res/cardsfolder/s/smirking_spelljacker.txt
  forge-gui/res/cardsfolder/s/smoldering_stagecoach.txt
Labels: Upcoming Set

#5079 Some fixes
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-gui/res/cardsfolder/a/altar_of_the_goyf.txt
  forge-gui/res/cardsfolder/b/baba_lysaga_night_witch.txt
  forge-gui/res/cardsfolder/c/chimney_goyf.txt
  forge-gui/res/cardsfolder/c/consuming_blob.txt
  forge-gui/res/cardsfolder/d/dusk_feaster.txt
  forge-gui/res/cardsfolder/e/emrakul_the_promised_end.txt
  forge-gui/res/cardsfolder/h/happily_ever_after.txt
  forge-gui/res/cardsfolder/k/korvold_gleeful_glutton.txt
  forge-gui/res/cardsfolder/l/loot_the_key_to_everything.txt
  forge-gui/res/cardsfolder/l/lucid_dreams.txt
  forge-gui/res/cardsfolder/m/matzalantli_the_great_door_the_core.txt
  forge-gui/res/cardsfolder/m/mount_velus_manticore.txt
  forge-gui/res/cardsfolder/n/nighthawk_scavenger.txt
  forge-gui/res/cardsfolder/o/occult_epiphany.txt
  forge-gui/res/cardsfolder/p/prophetic_titan.txt
  forge-gui/res/cardsfolder/rebalanced/a-baba_lysaga_night_witch.txt
  forge-gui/res/cardsfolder/rebalanced/a-unholy_heat.txt
  forge-gui/res/cardsfolder/s/scour_the_laboratory.txt
  forge-gui/res/cardsfolder/s/stella_lee_wild_card.txt
  forge-gui/res/cardsfolder/t/tarmogoyf.txt
  forge-gui/res/cardsfolder/u/unholy_heat.txt
  forge-gui/res/tokenscripts/g_x_y_ooze_types_graveyard.txt
Labels: Card Patch

#5087 Add OTJ achievements by Marek14
  forge-gui/res/lists/planeswalker-achievements.txt
Labels: Upcoming Set

#5090 Remove obsolete logic
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-gui/res/cardsfolder/a/ancestral_vision.txt
  forge-gui/res/cardsfolder/c/crashing_footfalls.txt
  forge-gui/res/cardsfolder/e/evermind.txt
  forge-gui/res/cardsfolder/r/restore_balance.txt
Labels: bug

#5092 Fix ResolvedLimit check always passing during LTB LKI
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardCopyService.java
  forge-gui/res/cardsfolder/c/counterpoint.txt
  forge-gui/res/cardsfolder/n/nexus_of_becoming.txt
Labels: bug

#5089 Basic AI sideboarding framework
  forge-ai/src/main/java/forge/ai/AiProps.java
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/Match.java
  forge-gui/res/ai/Cautious.ai
  forge-gui/res/ai/Default.ai
  forge-gui/res/ai/Experimental.ai
  forge-gui/res/ai/Reckless.ai
Labels: AI

#5102 CardFactoryUtil: fix Squad Trigger for Copy
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
Labels: Game Mechanics

#5122 Edition updates: PCBB, SLD
  forge-gui/res/editions/Cowboy Bebop.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#5113 Deck-based AI hints metadata + predefined sideboarding plan support
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-core/src/main/java/forge/deck/Deck.java
  forge-core/src/main/java/forge/deck/io/DeckFileHeader.java
  forge-core/src/main/java/forge/deck/io/DeckSerializer.java
Labels: AI

#5140 Add puzzle PS_OTJ1, tweak the names of PS_MKM puzzles.
  forge-gui/res/puzzle/PS_MKM1.pzl
  forge-gui/res/puzzle/PS_MKM2.pzl
  forge-gui/res/puzzle/PS_MKM3.pzl
  forge-gui/res/puzzle/PS_MKM4.pzl
  forge-gui/res/puzzle/PS_OTJ1.pzl
Labels: Puzzle Mode

#5136 AI Sideboarding Mode toggle as a Preferences option
  forge-ai/src/main/java/forge/ai/AiProfileUtil.java
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/GameRules.java
  forge-gui-desktop/src/main/java/forge/screens/home/settings/CSubmenuPreferences.java
  forge-gui-desktop/src/main/java/forge/screens/home/settings/VSubmenuPreferences.java
  forge-gui-mobile/src/forge/screens/settings/SettingsPage.java
  forge-gui/res/ai/Cautious.ai
  forge-gui/res/ai/Default.ai
  forge-gui/res/ai/Experimental.ai
  forge-gui/res/ai/Reckless.ai
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/gamemodes/match/HostedMatch.java
  forge-gui/src/main/java/forge/localinstance/properties/ForgePreferences.java
Labels: AI

#4900 YMKM: concert_kaboomist + support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/upcoming/concert_kaboomist.txt
Labels: Game Mechanics

#5181 Edition updates: MC3, MH3, SLD, YOTJ
  forge-gui/res/editions/Alchemy Thunder Junction.txt
  forge-gui/res/editions/Modern Horizons 3 Commander.txt
  forge-gui/res/editions/Modern Horizons 3.txt
  forge-gui/res/editions/Revised Edition.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/formats/Archived/Vintage/1994-04-11.txt
Labels: Upcoming Set
