Repository Card-Forge/forge, pull requests merged in 2024-10, with the labels that each got.

#6210 DSK 2 cards
  forge-gui/res/cardsfolder/upcoming/oblivious_bookworm.txt
  forge-gui/res/cardsfolder/upcoming/paranormal_analyst.txt
Labels: Upcoming Set

#6230 Support second main
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/phase/PhaseType.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-gui/res/cardsfolder/a/arcums_whistle.txt
  forge-gui/res/cardsfolder/d/dredge_the_mire.txt
  forge-gui/res/cardsfolder/e/erg_raiders.txt
  forge-gui/res/cardsfolder/f/fireglass_mentor.txt
  forge-gui/res/cardsfolder/k/keldon_twilight.txt
  forge-gui/res/cardsfolder/n/nettling_imp.txt
  forge-gui/res/cardsfolder/n/norritt.txt
  forge-gui/res/cardsfolder/r/rocket_launcher.txt
  forge-gui/res/cardsfolder/s/sirens_call.txt
  forge-gui/res/cardsfolder/t/total_war.txt
  forge-gui/res/cardsfolder/upcoming/acrobatic_cheerleader.txt
  forge-gui/res/cardsfolder/upcoming/cautious_survivor.txt
  forge-gui/res/cardsfolder/upcoming/cynical_loner.txt
  forge-gui/res/cardsfolder/upcoming/defiant_survivor.txt
  forge-gui/res/cardsfolder/upcoming/glimmer_seeker.txt
  forge-gui/res/cardsfolder/upcoming/house_cartographer.txt
  forge-gui/res/cardsfolder/upcoming/kona_rescue_beastie.txt
  forge-gui/res/cardsfolder/upcoming/niko_light_of_hope.txt
  forge-gui/res/cardsfolder/upcoming/reluctant_role_model.txt
  forge-gui/res/cardsfolder/upcoming/rip_spawn_hunter.txt
  forge-gui/res/cardsfolder/upcoming/rootwise_survivor.txt
  forge-gui/res/cardsfolder/upcoming/savior_of_the_small.txt
  forge-gui/res/cardsfolder/upcoming/shrewd_storyteller.txt
  forge-gui/res/cardsfolder/upcoming/veteran_survivor.txt
  forge-gui/src/main/java/forge/gui/card/CardScriptParser.java
Labels: Rules compliance

#6226 InTurnOrder parameter check for specific cards that force turn order of opponents
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RepeatEachEffect.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/adventure/common/custom_cards/farmers_tools.txt
  forge-gui/res/cardsfolder/a/alliance_of_arms.txt
  forge-gui/res/cardsfolder/c/collective_voyage.txt
  forge-gui/res/cardsfolder/d/disciple_of_caelus_nin.txt
  forge-gui/res/cardsfolder/d/druid_of_purification.txt
  forge-gui/res/cardsfolder/e/eureka.txt
  forge-gui/res/cardsfolder/f/fortunate_few.txt
  forge-gui/res/cardsfolder/h/hypergenesis.txt
  forge-gui/res/cardsfolder/l/liege_of_the_hollows.txt
  forge-gui/res/cardsfolder/m/mana_charged_dragon.txt
  forge-gui/res/cardsfolder/m/manifold_insights.txt
  forge-gui/res/cardsfolder/m/minds_aglow.txt
  forge-gui/res/cardsfolder/m/morphic_tide.txt
  forge-gui/res/cardsfolder/p/plague_of_vermin.txt
  forge-gui/res/cardsfolder/p/protection_racket.txt
  forge-gui/res/cardsfolder/r/reality_shaping.txt
  forge-gui/res/cardsfolder/s/shared_trauma.txt
  forge-gui/res/cardsfolder/t/the_horus_heresy.txt
  forge-gui/res/cardsfolder/t/thieves_auction.txt
  forge-gui/res/cardsfolder/upcoming/sadistic_shell_game.txt
Labels: Game Mechanics, Rules compliance

#5798 Fix ChangeZoneEffect ordering to library; Aetherspouts prompt
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigMultipleEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RearrangeTopOfLibraryEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ReorderZoneEffect.java
  forge-game/src/main/java/forge/game/player/PlayerController.java
  forge-game/src/main/java/forge/game/zone/ZoneType.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: keep

#6044 Room: First Spell Part
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-ai/src/main/java/forge/ai/SpellAbilityAi.java
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-core/src/main/java/forge/card/CardStateName.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/CloneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/UnlockDoorEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/player/PlayerController.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-game/src/main/java/forge/game/trigger/TriggerUnlockDoor.java
  forge-game/src/main/java/forge/trackable/TrackableObject.java
  forge-gui-desktop/src/main/java/forge/gui/CardDetailPanel.java
  forge-gui-desktop/src/main/java/forge/toolbox/imaging/FCardImageRenderer.java
  forge-gui-desktop/src/main/java/forge/view/arcane/CardPanel.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/PlayerControllerForTests.java
  forge-gui-mobile/src/forge/card/CardImageRenderer.java
  forge-gui-mobile/src/forge/card/CardRenderer.java
  forge-gui/res/cardsfolder/upcoming/dollmakers_shop_porcelain_gallery.txt
  forge-gui/res/cardsfolder/upcoming/ghostly_keybearer.txt
  forge-gui/res/cardsfolder/upcoming/glassworks_shattered_yard.txt
  forge-gui/res/tokenscripts/w_1_1_a_toy.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Upcoming Set, Game Mechanics

#6239 Edition updates for rooms: DSC, DSK
  forge-gui/res/editions/Duskmourn House of Horror Commander.txt
  forge-gui/res/editions/Duskmourn House of Horror.txt
Labels: Upcoming Set

#6240 Create inquisitive_glimmer.txt
  forge-gui/res/cardsfolder/upcoming/inquisitive_glimmer.txt
Labels: Upcoming Set

#6242 DSK 10 Room cards
  forge-gui/res/cardsfolder/upcoming/meat_locker_drowned_diner.txt
  forge-gui/res/cardsfolder/upcoming/mirror_room_fractured_realm.txt
  forge-gui/res/cardsfolder/upcoming/moldering_gym_weight_room.txt
  forge-gui/res/cardsfolder/upcoming/painters_studio_defaced_gallery.txt
  forge-gui/res/cardsfolder/upcoming/restricted_office_lecture_hall.txt
  forge-gui/res/cardsfolder/upcoming/roaring_furnace_steaming_sauna.txt
  forge-gui/res/cardsfolder/upcoming/surgical_suite_hospital_room.txt
  forge-gui/res/cardsfolder/upcoming/ticket_booth_tunnel_of_hate.txt
  forge-gui/res/cardsfolder/upcoming/underwater_tunnel_slimy_aquarium.txt
  forge-gui/res/cardsfolder/upcoming/walk_in_closet_forgotten_cellar.txt
Labels: Upcoming Set

#6248 Edition updates: SLD
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#6247 Fix Primo the Indivisible token
  forge-gui/res/cardsfolder/upcoming/zimone_all_questioning.txt
  forge-gui/res/tokenscripts/primo_the_indivisible.txt
Labels: Card Cleanup

#6243 Aerie Typo Fix
  forge-gui/res/adventure/common/maps/map/aerie/aerie_0.tmx
Labels: Adventure

#6246 Add Rampaging Soulrager
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/rampaging_soulrager.txt
Labels: Upcoming Set

#6249 Edition updates: YDSK
  forge-gui/res/editions/Alchemy Duskmourn.txt
Labels: Upcoming Set

#6256 Show chosen mana for mana abilities as symbols
  forge-core/src/main/java/forge/card/MagicColor.java
  forge-game/src/main/java/forge/game/ability/effects/ManaEffect.java
  forge-game/src/main/java/forge/util/MessageUtil.java
  forge-gui-desktop/src/main/java/forge/toolbox/FOptionPane.java
Labels: GUI

#6263 Fix Summary Dismissal
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/a/ajani_nacatl_pariah_ajani_nacatl_avenger.txt
  forge-gui/res/cardsfolder/c/cryptex.txt
  forge-gui/res/cardsfolder/d/disappear.txt
  forge-gui/res/cardsfolder/k/keldon_firebombers.txt
  forge-gui/res/cardsfolder/r/ruhan_of_the_fomori.txt
  forge-gui/res/cardsfolder/t/the_five_doctors.txt
  forge-gui/res/cardsfolder/t/twist_allegiance.txt
  forge-gui/res/cardsfolder/upcoming/i_am_never_alone.txt
Labels: Card Patch

#6269 Add puzzle PS_DSK1 - Possibility Storm - Duskmourn 01
  forge-gui/res/puzzle/PS_DSK1.pzl
Labels: Puzzle Mode

#6281 Fix NPE when creating room token
  forge-game/src/main/java/forge/game/card/CardCopyService.java
  forge-gui/res/cardsfolder/upcoming/entity_tracker.txt
Labels: Crash fix

#6283 Ghostly Dancers and support
  forge-ai/src/main/java/forge/ai/ability/SetStateAi.java
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/ability/effects/VillainousChoiceEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/spellability/AbilityStatic.java
  forge-gui/res/cardsfolder/upcoming/ghostly_dancers.txt
  forge-gui/res/tokenscripts/w_3_1_spirit_flying.txt
Labels: Game Mechanics

#6291 Fix CardZoneTable not using the LastStates before moving
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
Labels: bug

#6287 Fear of Sleep Paralysis and support
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ability/CountersRemoveAi.java
  forge-game/src/main/java/forge/game/GameEntity.java
  forge-game/src/main/java/forge/game/ability/effects/CountersMoveEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutOrRemoveEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersRemoveAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersRemoveEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/cost/CostRemoveAnyCounter.java
  forge-game/src/main/java/forge/game/cost/CostUntap.java
  forge-game/src/main/java/forge/game/cost/CostUntapType.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/upcoming/fear_of_sleep_paralysis.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Game Mechanics

#6326 Fix Demonic Covenant
  forge-gui/res/cardsfolder/upcoming/demonic_covenant.txt
Labels: Card Patch

#6335 Adventure: Minor Booster Pack QoL Changes
  forge-gui-mobile/src/forge/adventure/scene/InventoryScene.java
  forge-gui-mobile/src/forge/adventure/util/AdventureEventController.java
Labels: Adventure

#6373 Sorin tweaks
  forge-gui/res/adventure/common/maps/map/vampirecastle/vampirecastle_4C.tmx
  forge-gui/res/adventure/common/world/enemies.json
Labels: Adventure

#6358 Adventure: Constructed as default mode
  forge-gui-mobile/src/forge/adventure/scene/NewGameScene.java
Labels: Adventure

#6382 Add puzzle PS_DSK2 - Possibility Storm: Duskmourn 02
  forge-gui/res/puzzle/PS_DSK2.pzl
Labels: Puzzle Mode

#6384 Edition updates: PSPL, SLD
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Spotlight Series.txt
Labels: Upcoming Set

#6385 Add Marvel SLD to Vintage & Legacy Archived formats
  forge-gui/res/formats/Archived/Legacy/2024-11-04.txt
  forge-gui/res/formats/Archived/Vintage/2024-11-04.txt
Labels: Format Changes

#6388 Grant abilities based on mana cost even if a card doesn't have one not just for Flashback
  forge-core/src/main/java/forge/card/mana/ManaCost.java
  forge-core/src/main/java/forge/card/mana/ManaCostParser.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PumpEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/spellability/Spell.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
Labels: Game Mechanics, Rules compliance

#6386 SLD: Marvel x MTG Superdrop
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-game/src/main/java/forge/game/GameEntityCounterTable.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/cost/CostUnattach.java
  forge-gui/res/cardsfolder/c/cyclopean_tomb.txt
  forge-gui/res/cardsfolder/upcoming/black_panther_wakandan_king.txt
  forge-gui/res/cardsfolder/upcoming/captain_america_first_avenger.txt
  forge-gui/res/cardsfolder/upcoming/iron_man_titan_of_innovation.txt
  forge-gui/res/cardsfolder/upcoming/storm_force_of_nature.txt
  forge-gui/res/cardsfolder/upcoming/wolverine_best_there_is.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Upcoming Set

#6409 Edition updates: FDN, PW24
  forge-gui/res/editions/Foundations.txt
  forge-gui/res/editions/Wizards Play Network 2024.txt
Labels: Upcoming Set

#6410 Further improvement to PeekAndRevealAi (fix AI paying 0 for X)
  forge-ai/src/main/java/forge/ai/ability/PeekAndRevealAi.java
Labels: AI

#6414 Ban Leyline of Resonance in Arena Standard archive
  forge-gui/res/formats/Archived/Arena Standard/2024-10-22.txt
Labels: Format Changes

#6392 Fix the SpellSmith missing some cards.
  forge-core/src/main/java/forge/card/CardDb.java
  forge-gui-mobile/src/forge/adventure/scene/SpellSmithScene.java
Labels: Adventure

#6418 Various improvements to AI-related logic (Canopy lands, Ugin's Labyrinth, Zuran Orb, Pyrite Spellbomb, Eladamri)
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/ChooseCardAi.java
  forge-ai/src/main/java/forge/ai/ability/DrawAi.java
  forge-ai/src/main/java/forge/ai/ability/LifeGainAi.java
  forge-gui/res/cardsfolder/e/eladamri_korvecdal.txt
  forge-gui/res/cardsfolder/u/ugins_labyrinth.txt
  forge-gui/res/cardsfolder/z/zuran_orb.txt
Labels: AI

#6435 Edition updates: DFT, FDN, INR, PE24, SPG
  forge-gui/res/editions/Aetherdrift.txt
  forge-gui/res/editions/Eternal Weekend 2024.txt
  forge-gui/res/editions/Foundations.txt
  forge-gui/res/editions/Innistrad Remastered.txt
  forge-gui/res/editions/Special Guests.txt
Labels: Upcoming Set

#6433 DFT 3 cards
  forge-gui/res/cardsfolder/upcoming/brightglass_gearhulk.txt
  forge-gui/res/cardsfolder/upcoming/daretti_rocketeer_engineer.txt
  forge-gui/res/cardsfolder/upcoming/earthrumbler.txt
Labels: Upcoming Set

#6439 Edition updates: J25
  forge-gui/res/editions/Foundations Jumpstart.txt
Labels: Upcoming Set

#6437 Qala, Ajani's Pridemate
  forge-gui/res/cardsfolder/upcoming/qala_ajanis_pridemate.txt
Labels: Upcoming Set

#6444 Edition updates: FDC, -PE24, PEWK
  forge-gui/res/editions/Eternal Weekend 2024.txt
  forge-gui/res/editions/Eternal Weekend.txt
  forge-gui/res/editions/Foundations Commander.txt
Labels: Upcoming Set

#6436 15 FDN/J25 cards
  forge-gui/res/cardsfolder/c/clammy_prowler.txt
  forge-gui/res/cardsfolder/upcoming/firespitter_whelp.txt
  forge-gui/res/cardsfolder/upcoming/frontline_heroism.txt
  forge-gui/res/cardsfolder/upcoming/general_kreat_the_boltbringer.txt
  forge-gui/res/cardsfolder/upcoming/generous_pup.txt
  forge-gui/res/cardsfolder/upcoming/hearts_on_fire.txt
  forge-gui/res/cardsfolder/upcoming/hinterland_sanctifier.txt
  forge-gui/res/cardsfolder/upcoming/niv_mizzet_visionary.txt
  forge-gui/res/cardsfolder/upcoming/refute.txt
  forge-gui/res/cardsfolder/upcoming/scythecat_cub.txt
  forge-gui/res/cardsfolder/upcoming/searslicer_goblin.txt
  forge-gui/res/cardsfolder/upcoming/shroofus_sproutsire.txt
  forge-gui/res/cardsfolder/upcoming/taeko_the_patient_avalanche.txt
  forge-gui/res/cardsfolder/upcoming/tinybones_bauble_burglar.txt
  forge-gui/res/cardsfolder/upcoming/twinflame_tyrant.txt
  forge-gui/res/cardsfolder/upcoming/zul_ashur_lich_lord.txt
  forge-gui/res/cardsfolder/w/wind_sail.txt
Labels: Upcoming Set

#6434 FDN 10 cards
  forge-gui/res/cardsfolder/upcoming/arahbo_the_first_fang.txt
  forge-gui/res/cardsfolder/upcoming/arcane_epiphany.txt
  forge-gui/res/cardsfolder/upcoming/archmage_of_runes.txt
  forge-gui/res/cardsfolder/upcoming/bloodthirsty_conqueror.txt
  forge-gui/res/cardsfolder/upcoming/chandra_flameshaper.txt
  forge-gui/res/cardsfolder/upcoming/crypt_feaster.txt
  forge-gui/res/cardsfolder/upcoming/crystal_barricade.txt
  forge-gui/res/cardsfolder/upcoming/herald_of_eternal_dawn.txt
  forge-gui/res/cardsfolder/upcoming/kaito_cunning_infiltrator.txt
  forge-gui/res/cardsfolder/upcoming/mossborn_hydra.txt
  forge-gui/res/tokenscripts/u_2_1_ninja.txt
Labels: Upcoming Set

#6446 Add files via upload
  forge-gui/res/cardsfolder/upcoming/faebloom_trick.txt
  forge-gui/res/cardsfolder/upcoming/homunculus_horde.txt
Labels: Upcoming Set

#6456 Edition updates: FDC, J25, PW24
  forge-gui/res/cardsfolder/upcoming/homunculus_horde.txt
  forge-gui/res/editions/Foundations Jumpstart.txt
  forge-gui/res/editions/Foundations.txt
  forge-gui/res/editions/Wizards Play Network 2024.txt
Labels: Upcoming Set, Card Cleanup

#6453 King of the Oathbreakers should trigger for Changeling (Discord post)
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
  forge-core/src/main/java/forge/card/DeckHints.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/phase/Untap.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/a/arcums_weathervane.txt
  forge-gui/res/cardsfolder/g/graveyard_shovel.txt
  forge-gui/res/cardsfolder/j/jinnie_fay_jetmirs_second.txt
  forge-gui/res/cardsfolder/r/ratonhnhake_ton.txt
  forge-gui/res/cardsfolder/t/the_war_doctor.txt
  forge-gui/res/cardsfolder/t/time_lord_regeneration.txt
  forge-gui/res/cardsfolder/w/wishing_well.txt
Labels: bug

#6458 12 FDN/J25 cards
  forge-gui/res/cardsfolder/upcoming/anep_vizier_of_hazoret.txt
  forge-gui/res/cardsfolder/upcoming/aphelia_viper_whisperer.txt
  forge-gui/res/cardsfolder/upcoming/battlesong_berserker.txt
  forge-gui/res/cardsfolder/upcoming/billowing_shriekmass.txt
  forge-gui/res/cardsfolder/upcoming/braulios_of_pheres_band.txt
  forge-gui/res/cardsfolder/upcoming/brigone_soldier_of_meletis.txt
  forge-gui/res/cardsfolder/upcoming/cat_collector.txt
  forge-gui/res/cardsfolder/upcoming/claws_out.txt
  forge-gui/res/cardsfolder/upcoming/cleon_merry_champion.txt
  forge-gui/res/cardsfolder/upcoming/clinquant_skymage.txt
  forge-gui/res/cardsfolder/upcoming/dawnwing_marshal.txt
  forge-gui/res/cardsfolder/upcoming/delightful_discovery.txt
Labels: Upcoming Set

#6460 Fix some scripts
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ManifestBaseEffect.java
  forge-game/src/main/java/forge/game/card/CardDamageMap.java
  forge-gui/res/cardsfolder/a/anurid_barkripper.txt
  forge-gui/res/cardsfolder/c/centaur_chieftain.txt
  forge-gui/res/cardsfolder/c/cephalid_sage.txt
  forge-gui/res/cardsfolder/c/chlorophant.txt
  forge-gui/res/cardsfolder/g/gloomdrifter.txt
  forge-gui/res/cardsfolder/h/hunting_grounds.txt
  forge-gui/res/cardsfolder/m/mind_drill_assailant.txt
  forge-gui/res/cardsfolder/n/nomad_decoy.txt
  forge-gui/res/cardsfolder/p/pardic_arsonist.txt
  forge-gui/res/cardsfolder/p/persistent_marshstalker.txt
  forge-gui/res/cardsfolder/t/terohs_vanguard.txt
  forge-gui/res/cardsfolder/t/thought_shucker.txt
  forge-gui/res/cardsfolder/t/tidecaller_mentor.txt
Labels: Card Patch

#6464 Fix AbilityResolves timing
  forge-game/src/main/java/forge/game/zone/MagicStack.java
Labels: Rules compliance

#6473 Edition updates: FDN, FDC, J25, SPG
  forge-gui/res/editions/Foundations Commander.txt
  forge-gui/res/editions/Foundations Jumpstart.txt
  forge-gui/res/editions/Foundations.txt
  forge-gui/res/editions/Special Guests.txt
Labels: Upcoming Set

#6477 update keyboardinput, android pom and assets downloader
  forge-core/src/main/java/forge/util/ImageUtil.java
  forge-gui-android/libs/gdx-backend-android-sources.jar
  forge-gui-android/libs/gdx-backend-android.jar
  forge-gui-android/pom.xml
  forge-gui-android/res/drawable/bg_gradient.xml
  forge-gui-android/res/drawable/design_ic_visibility.xml
  forge-gui-android/res/drawable/design_ic_visibility_off.xml
  forge-gui-android/res/layout/main.xml
  forge-gui-android/res/values/colors.xml
  forge-gui-android/src/com/badlogic/gdx/backends/android/AndroidApplication.java
  forge-gui-android/src/com/badlogic/gdx/backends/android/DefaultAndroidInput.java
  forge-gui-android/src/com/badlogic/gdx/backends/android/surfaceview/GLSurfaceView20.java
  forge-gui-android/src/forge/app/Main.java
  forge-gui-mobile/src/forge/Forge.java
  forge-gui-mobile/src/forge/adventure/util/TemplateTmxMapLoader.java
  forge-gui-mobile/src/forge/assets/AssetsDownloader.java
  forge-gui-mobile/src/forge/card/CardImageRenderer.java
  forge-gui-mobile/src/forge/toolbox/FTextField.java
  forge-gui/src/main/java/forge/util/ImageFetcher.java
Labels: Android

#6483 Goodbye mandatory suspend casting
  forge-ai/src/main/java/forge/ai/simulation/GameCopier.java
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/GameSnapshot.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/card/CardDamageMap.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityCondition.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/c/copycrook.txt
  forge-gui/res/cardsfolder/h/hell_to_pay.txt
  forge-gui/res/cardsfolder/l/lacerate_flesh.txt
  forge-gui/res/cardsfolder/s/shakedown_heavy.txt
  forge-gui/res/cardsfolder/s/sword_of_hours.txt
  forge-gui/res/cardsfolder/t/torch_the_witness.txt
Labels: Rules compliance
