Repository Card-Forge/forge, pull requests merged in 2024-06, with the labels that each got.

#5347 Edition updates: M3C, MH3
  forge-gui/res/editions/Modern Horizons 3 Commander.txt
  forge-gui/res/editions/Modern Horizons 3.txt
  forge-gui/res/tokenscripts/u_3_3_fish_hatches_whale.txt
Labels: Upcoming Set

#5348 Fix Conflagrate
  forge-game/src/main/java/forge/game/ability/effects/ManifestBaseEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/a/aether_tide.txt
  forge-gui/res/cardsfolder/t/the_toymakers_trap.txt
  forge-gui/res/cardsfolder/upcoming/white_orchid_phantom.txt
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Card Patch

#5350 Fix Emissary of Soulfire
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
Labels: Rules compliance

#5360 M3C 10 cards
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseTypeEffect.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/e/elesh_norn_mother_of_machines.txt
  forge-gui/res/cardsfolder/p/pteramander.txt
  forge-gui/res/cardsfolder/r/roalesk_apex_hybrid.txt
  forge-gui/res/cardsfolder/upcoming/aurora_shifter.txt
  forge-gui/res/cardsfolder/upcoming/coram_the_undertaker.txt
  forge-gui/res/cardsfolder/upcoming/desert_warfare.txt
  forge-gui/res/cardsfolder/upcoming/etherium_pteramander.txt
  forge-gui/res/cardsfolder/upcoming/march_from_velis_vel.txt
  forge-gui/res/cardsfolder/upcoming/polygoyf.txt
  forge-gui/res/cardsfolder/upcoming/powerbalance.txt
  forge-gui/res/cardsfolder/upcoming/rampant_frogantua.txt
  forge-gui/res/cardsfolder/upcoming/satya_aetherflux_genius.txt
  forge-gui/res/cardsfolder/upcoming/sunken_palace.txt
  forge-gui/res/cardsfolder/upcoming/tarmogoyf_nest.txt
  forge-gui/res/cardsfolder/upcoming/tempt_with_mayhem.txt
  forge-gui/res/cardsfolder/upcoming/wonderscape_sage.txt
Labels: Upcoming Set, Card Patch, Rules compliance

#5298 StaticAbilityAlternativeCost: improve X handling
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityAlternativeCost.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-gui/res/cardsfolder/b/bludgeon_brawl.txt
  forge-gui/res/cardsfolder/g/graywaters_fixer.txt
  forge-gui/res/cardsfolder/k/kentaro_the_smiling_cat.txt
  forge-gui/res/cardsfolder/m/marshland_bloodcaster.txt
  forge-gui/res/cardsfolder/s/sliver_gravemother.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Game Mechanics

#5356 MH3: Added Nadu, Trickster's Elk, Planar Genesis, Springheart Nantuko
  forge-gui/res/cardsfolder/upcoming/nadu_winged_wisdom.txt
  forge-gui/res/cardsfolder/upcoming/planar_genesis.txt
  forge-gui/res/cardsfolder/upcoming/springheart_nantuko.txt
  forge-gui/res/cardsfolder/upcoming/tricksters_elk.txt
Labels: Upcoming Set

#5352 MH3: detectives_phoenix + support
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/mana/ManaRefundService.java
  forge-gui/res/cardsfolder/upcoming/detectives_phoenix.txt
Labels: Upcoming Set, Game Mechanics, Crash fix

#5377 Player counters removed this turn
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/player/Player.java
Labels: Upcoming Set, Game Mechanics

#5365 Support MayPlay on extrinsic AltCost
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/h/hunting_velociraptor.txt
Labels: Game Mechanics

#5379 Include TokenScripts when checking for DeckHints
  forge-core/src/main/java/forge/CardStorageReader.java
  forge-core/src/main/java/forge/StaticData.java
  forge-core/src/main/java/forge/card/CardRules.java
  forge-core/src/main/java/forge/card/DeckHints.java
  forge-gui/res/cardsfolder/r/rivaz_of_the_claw.txt
Labels: enhancement, AI

#5387 Remove erroneous AILogic flag from Ecological Appreciation
  forge-gui/res/cardsfolder/e/ecological_appreciation.txt
Labels: bug, AI

#5386 MH3: izzet_generatorium
  forge-gui/res/cardsfolder/upcoming/izzet_generatorium.txt
Labels: Upcoming Set

#5382 MH3: 2 "easy" cards
  forge-gui/res/cardsfolder/b/bounty_of_the_hunt.txt
  forge-gui/res/cardsfolder/f/furious_rise.txt
  forge-gui/res/cardsfolder/upcoming/drowner_of_truth_drowned_jungle.txt
  forge-gui/res/cardsfolder/upcoming/unstable_amulet.txt
  forge-gui/res/cardsfolder/upcoming/wumpus_aberration.txt
Labels: Upcoming Set, Card Cleanup

#5325 18 M3C cards
  forge-gui/res/cardsfolder/upcoming/angelic_aberration.txt
  forge-gui/res/cardsfolder/upcoming/cayth_famed_mechanist.txt
  forge-gui/res/cardsfolder/upcoming/chittering_dispatcher.txt
  forge-gui/res/cardsfolder/upcoming/conversion_apparatus.txt
  forge-gui/res/cardsfolder/upcoming/copy_land.txt
  forge-gui/res/cardsfolder/upcoming/filigree_racer.txt
  forge-gui/res/cardsfolder/upcoming/hideous_taskmaster.txt
  forge-gui/res/cardsfolder/upcoming/horizon_of_progress.txt
  forge-gui/res/cardsfolder/upcoming/hourglass_of_the_lost.txt
  forge-gui/res/cardsfolder/upcoming/inversion_behemoth.txt
  forge-gui/res/cardsfolder/upcoming/lazotep_quarry.txt
  forge-gui/res/cardsfolder/upcoming/sage_of_the_maze.txt
  forge-gui/res/cardsfolder/upcoming/salvation_colossus.txt
  forge-gui/res/cardsfolder/upcoming/silverquill_lecturer.txt
  forge-gui/res/cardsfolder/upcoming/sphinx_of_the_revelation.txt
  forge-gui/res/cardsfolder/upcoming/stone_idol_generator.txt
  forge-gui/res/cardsfolder/upcoming/talon_gates_of_madara.txt
  forge-gui/res/cardsfolder/upcoming/trenchpost.txt
  forge-gui/res/tokenscripts/c_4_4_eldrazi_angel_flying_vigilance.txt
Labels: Upcoming Set

#5389 Edition updates: SLD, SLP
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Secret Lair Showdown.txt
Labels: Upcoming Set

#5395 CardRules: fix case with null tokens list
  forge-core/src/main/java/forge/card/CardRules.java
  forge-core/src/main/java/forge/card/CardRulesPredicates.java
  forge-game/src/main/java/forge/game/ability/effects/RepeatEachEffect.java
  forge-gui/res/cardsfolder/d/desecrate_reality.txt
  forge-gui/res/cardsfolder/k/korvold_fae_cursed_king.txt
  forge-gui/res/cardsfolder/t/tempting_contract.txt
  forge-gui/res/cardsfolder/upcoming/grist_voracious_larva_grist_the_plague_swarm.txt
  forge-gui/res/cardsfolder/upcoming/tempt_with_mayhem.txt
  forge-gui/src/main/java/forge/itemmanager/SFilterUtil.java
Labels: Card Cleanup, Crash fix

#5396 M3C: 3 "easy" cards
  forge-gui/res/cardsfolder/upcoming/aether_refinery.txt
  forge-gui/res/cardsfolder/upcoming/aether_spike.txt
  forge-gui/res/cardsfolder/upcoming/benthic_anomaly.txt
  forge-gui/res/cardsfolder/upcoming/blaster_hulk.txt
  forge-gui/res/tokenscripts/b_x_x_aetherborn.txt
Labels: Upcoming Set, Card Cleanup

#5385 MH3: volatile_stormdrake + support
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/upcoming/volatile_stormdrake.txt
Labels: Upcoming Set, Game Mechanics

#5401 Add Backup/Restore Data Adventure Mode
  forge-gui-mobile/src/forge/adventure/character/RewardSprite.java
  forge-gui-mobile/src/forge/adventure/data/AdventureEventData.java
  forge-gui-mobile/src/forge/adventure/scene/AdventureDeckEditor.java
  forge-gui-mobile/src/forge/adventure/scene/ArenaScene.java
  forge-gui-mobile/src/forge/adventure/scene/NewGameScene.java
  forge-gui-mobile/src/forge/adventure/scene/PlayerStatisticScene.java
  forge-gui-mobile/src/forge/adventure/scene/SaveLoadScene.java
  forge-gui-mobile/src/forge/adventure/scene/StartScene.java
  forge-gui-mobile/src/forge/adventure/scene/UIScene.java
  forge-gui-mobile/src/forge/adventure/stage/ConsoleCommandInterpreter.java
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
  forge-gui-mobile/src/forge/adventure/stage/WorldStage.java
  forge-gui-mobile/src/forge/adventure/util/Controls.java
  forge-gui-mobile/src/forge/adventure/util/SaveFileData.java
  forge-gui-mobile/src/forge/adventure/util/TemplateTmxMapLoader.java
  forge-gui-mobile/src/forge/adventure/util/pathfinding/NavigationMap.java
  forge-gui-mobile/src/forge/adventure/world/BiomeTexture.java
  forge-gui-mobile/src/forge/animation/AbilityEffect.java
  forge-gui/res/adventure/common/ui/start_menu.json
  forge-gui/res/adventure/common/ui/start_menu_portrait.json
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/localinstance/achievements/Achievement.java
  forge-gui/src/main/java/forge/util/ZipUtil.java
Labels: Adventure

#5397 M3C: exterminator_magmarch
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
  forge-gui/res/cardsfolder/upcoming/exterminator_magmarch.txt
Labels: Upcoming Set

#5408 Edition updates: ACR
  forge-gui/res/editions/Assassin's Creed.txt
Labels: Upcoming Set

#5384 MH3: wheel_of_potential + support
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseGenericEffect.java
  forge-gui/res/cardsfolder/b/borderland_explorer.txt
  forge-gui/res/cardsfolder/r/ruin_grinder.txt
  forge-gui/res/cardsfolder/upcoming/wheel_of_potential.txt
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Upcoming Set, Game Mechanics, Rules compliance

#5410 M3C: final 2 "easy" cards
  forge-gui/res/cardsfolder/upcoming/localized_destruction.txt
  forge-gui/res/cardsfolder/upcoming/selective_obliteration.txt
Labels: Upcoming Set

#5417 fix selectbox visibility
  forge-gui-mobile/src/forge/adventure/scene/SaveLoadScene.java
  forge-gui/res/adventure/common/skin/ui_skin.atlas
  forge-gui/res/adventure/common/skin/ui_skin.json
  forge-gui/res/adventure/common/skin/ui_skin.png
Labels: GUI, Adventure

#5424 Keyword: Protection from each color
  forge-game/src/main/java/forge/game/ability/effects/DebuffEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/a/akromas_will.txt
  forge-gui/res/cardsfolder/e/etched_champion.txt
  forge-gui/res/cardsfolder/f/favor_of_the_mighty.txt
  forge-gui/res/cardsfolder/i/iridescent_angel.txt
  forge-gui/res/cardsfolder/p/pristine_angel.txt
  forge-gui/res/cardsfolder/s/spectra_ward.txt
  forge-gui/res/cardsfolder/upcoming/eldritch_immunity.txt
Labels: Upcoming Set, Game Mechanics

#5403 MH3: Emerge From
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/keyword/Emerge.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
Labels: Upcoming Set, Game Mechanics

#5427 Grolnok collision fix
  forge-gui/res/adventure/common/config.json
  forge-gui/res/adventure/common/maps/map/grolnok/grolnok_f1.tmx
  forge-gui/res/adventure/common/maps/map/grolnok/teferi.tmx
Labels: Adventure

#5380 MH3 9 cards
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-gui/res/cardsfolder/upcoming/eviscerators_insight.txt
  forge-gui/res/cardsfolder/upcoming/expel_the_unworthy.txt
  forge-gui/res/cardsfolder/upcoming/fangs_of_kalonia.txt
  forge-gui/res/cardsfolder/upcoming/glimpse_the_impossible.txt
  forge-gui/res/cardsfolder/upcoming/invert_polarity.txt
  forge-gui/res/cardsfolder/upcoming/jolted_awake.txt
  forge-gui/res/cardsfolder/upcoming/kami_of_jealous_thirst.txt
  forge-gui/res/cardsfolder/upcoming/lethal_throwdown.txt
  forge-gui/res/cardsfolder/upcoming/party_thrasher.txt
Labels: Upcoming Set

#5433 Add puzzle PS_MH31 - Possibility Storm - Modern Horizons 3 #01
  forge-gui/res/puzzle/PS_MH31.pzl
Labels: Puzzle Mode

#5429 Conflict free branches of Fulgur14
  forge-gui/res/cardsfolder/a/aboshan_cephalid_emperor.txt
  forge-gui/res/cardsfolder/b/backstreet_bruiser.txt
  forge-gui/res/cardsfolder/c/callous_oppressor.txt
  forge-gui/res/cardsfolder/c/cephalid_aristocrat.txt
  forge-gui/res/cardsfolder/c/cephalid_broker.txt
  forge-gui/res/cardsfolder/c/cephalid_constable.txt
  forge-gui/res/cardsfolder/c/cephalid_facetaker.txt
  forge-gui/res/cardsfolder/c/cephalid_illusionist.txt
  forge-gui/res/cardsfolder/c/cephalid_inkshrouder.txt
  forge-gui/res/cardsfolder/c/cephalid_looter.txt
  forge-gui/res/cardsfolder/c/cephalid_pathmage.txt
  forge-gui/res/cardsfolder/c/cephalid_retainer.txt
  forge-gui/res/cardsfolder/c/cephalid_sage.txt
  forge-gui/res/cardsfolder/c/cephalid_scout.txt
  forge-gui/res/cardsfolder/c/cephalid_snitch.txt
  forge-gui/res/cardsfolder/c/cephalid_vandal.txt
  forge-gui/res/cardsfolder/d/diviner_of_fates.txt
  forge-gui/res/cardsfolder/f/freejam_regent.txt
  forge-gui/res/cardsfolder/k/kamiz_obscura_oculus.txt
  forge-gui/res/cardsfolder/k/khod_etlan_shiis_envoy.txt
  forge-gui/res/cardsfolder/l/llawan_cephalid_empress.txt
  forge-gui/res/cardsfolder/o/obscura_interceptor.txt
  forge-gui/res/cardsfolder/o/obscura_polymorphist.txt
  forge-gui/res/cardsfolder/o/omen_hawker.txt
  forge-gui/res/cardsfolder/p/psychic_pickpocket.txt
  forge-gui/res/cardsfolder/q/queza_augur_of_agonies.txt
  forge-gui/res/cardsfolder/r/revel_ruiner.txt
  forge-gui/res/cardsfolder/rebalanced/a-queza_augur_of_agonies.txt
  forge-gui/res/cardsfolder/rebalanced/a-revel_ruiner.txt
  forge-gui/res/cardsfolder/s/shield_broker.txt
  forge-gui/res/cardsfolder/s/skyship_stalker.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set

#5442 Edition updates: ACR, SLD
  forge-gui/res/editions/Assassin's Creed.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#5444 Prowl: use sharesCreatureTypeWith
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
Labels: Game Mechanics

#5447 Edition updates: ACR
  forge-gui/res/editions/Assassin's Creed.txt
Labels: Upcoming Set

#5452 Edition updates: ACR, M3C, SLD
  forge-gui/res/editions/Assassin's Creed.txt
  forge-gui/res/editions/Modern Horizons 3 Commander.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#5437 Add Spire Phantasm, Agent of Acquisitions, Cogwork Librarian, Leovold's Operative
  forge-core/src/main/java/forge/deck/Deck.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui-desktop/src/main/java/forge/screens/deckeditor/controllers/CEditorDraftingProcess.java
  forge-gui-desktop/src/test/java/forge/BoosterDraftTest.java
  forge-gui/res/cardsfolder/a/agent_of_acquisitions.txt
  forge-gui/res/cardsfolder/c/cogwork_librarian.txt
  forge-gui/res/cardsfolder/l/leovolds_operative.txt
  forge-gui/res/cardsfolder/s/spire_phantasm.txt
  forge-gui/res/editions/Conspiracy Take the Crown.txt
  forge-gui/res/editions/Conspiracy.txt
  forge-gui/src/main/java/forge/gamemodes/limited/BoosterDraft.java
  forge-gui/src/main/java/forge/gamemodes/limited/CardRanker.java
  forge-gui/src/main/java/forge/gamemodes/limited/DraftPack.java
  forge-gui/src/main/java/forge/gamemodes/limited/IBoosterDraft.java
  forge-gui/src/main/java/forge/gamemodes/limited/LimitedPlayer.java
  forge-gui/src/main/java/forge/gamemodes/limited/LimitedPlayerAI.java
Labels: Drafting

#5454 StaticAbilityBlockRestict: remove Global Rules
  forge-game/src/main/java/forge/game/GlobalRuleChange.java
  forge-game/src/main/java/forge/game/combat/CombatUtil.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityBlockRestrict.java
  forge-gui/res/cardsfolder/a/astral_arena.txt
  forge-gui/res/cardsfolder/c/caverns_of_despair.txt
  forge-gui/res/cardsfolder/d/dueling_grounds.txt
  forge-gui/res/cardsfolder/m/mirri_weatherlight_duelist.txt
  forge-gui/res/cardsfolder/s/silent_arbiter.txt
Labels: Game Mechanics

#5456 Fixed AI ignoring Mogg Bombers damage trigger
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
Labels: bug, AI

#5457 Edition updates: ACR
  forge-gui/res/editions/Assassin's Creed.txt
Labels: Upcoming Set

#5460 map fixes
  forge-gui/res/adventure/common/maps/map/cave/cave_kobold_floor2.tmx
  forge-gui/res/adventure/common/maps/map/fort/fort_colorless_7_multilevel3.tmx
Labels: Adventure

#5458 Invasion Plans using Timestamp instead
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-game/src/main/java/forge/game/GlobalRuleChange.java
  forge-game/src/main/java/forge/game/StaticEffect.java
  forge-game/src/main/java/forge/game/StaticEffects.java
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/DeclareCombatantsEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RestartGameEffect.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-game/src/main/java/forge/game/staticability/StaticAbility.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-gui/res/cardsfolder/b/berserkers_frenzy.txt
  forge-gui/res/cardsfolder/b/brutal_hordechief.txt
  forge-gui/res/cardsfolder/i/invasion_plans.txt
  forge-gui/res/cardsfolder/m/master_warcraft.txt
  forge-gui/res/cardsfolder/m/melee.txt
  forge-gui/res/cardsfolder/o/odric_master_tactician.txt
Labels: Game Mechanics

#5465 Cipher: do it like Epic
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/a/arcane_heist.txt
  forge-gui/res/cardsfolder/c/call_of_the_nightwing.txt
  forge-gui/res/cardsfolder/h/hands_of_binding.txt
  forge-gui/res/cardsfolder/h/hidden_strings.txt
  forge-gui/res/cardsfolder/l/last_thoughts.txt
  forge-gui/res/cardsfolder/m/mental_vapors.txt
  forge-gui/res/cardsfolder/m/midnight_recovery.txt
  forge-gui/res/cardsfolder/p/paranoid_delusions.txt
  forge-gui/res/cardsfolder/s/shadow_slice.txt
  forge-gui/res/cardsfolder/s/stolen_identity.txt
  forge-gui/res/cardsfolder/t/trait_doctoring.txt
  forge-gui/res/cardsfolder/u/undercity_plague.txt
  forge-gui/res/cardsfolder/v/voidwalk.txt
  forge-gui/res/cardsfolder/w/whispering_madness.txt
  forge-gui/res/cardsfolder/w/writ_of_return.txt
Labels: Game Mechanics, Card Cleanup

#5449 ACR 9 cards
  forge-game/src/main/java/forge/game/ability/effects/CloakEffect.java
  forge-gui/res/cardsfolder/upcoming/adrestia.txt
  forge-gui/res/cardsfolder/upcoming/apple_of_eden_isu_relic.txt
  forge-gui/res/cardsfolder/upcoming/become_anonymous.txt
  forge-gui/res/cardsfolder/upcoming/bleeding_effect.txt
  forge-gui/res/cardsfolder/upcoming/chain_assassination.txt
  forge-gui/res/cardsfolder/upcoming/excalibur_sword_of_eden.txt
  forge-gui/res/cardsfolder/upcoming/ezio_auditore_da_firenze.txt
  forge-gui/res/cardsfolder/upcoming/shay_cormac.txt
  forge-gui/res/cardsfolder/upcoming/templar_knight.txt
Labels: Upcoming Set

#5393 M3C: overclocked_electromancer + support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardCopyService.java
  forge-game/src/main/java/forge/game/card/CardDamageMap.java
  forge-gui/res/cardsfolder/upcoming/overclocked_electromancer.txt
Labels: Upcoming Set, Game Mechanics

#5485 Edition updates: BLB, DSK, DSC, FDN
  forge-gui/res/editions/Bloomburrow Commander.txt
  forge-gui/res/editions/Bloomburrow.txt
  forge-gui/res/editions/Duskmourn House of Horror Commander.txt
  forge-gui/res/editions/Duskmourn House of Horror.txt
  forge-gui/res/editions/Foundations.txt
Labels: Upcoming Set

#5476 My final ACR batch
  forge-gui/res/cardsfolder/upcoming/hunters_bow.txt
  forge-gui/res/cardsfolder/upcoming/mary_read_and_anne_bonny.txt
  forge-gui/res/cardsfolder/upcoming/merciless_harlequin.txt
  forge-gui/res/cardsfolder/upcoming/misthioss_fury.txt
  forge-gui/res/cardsfolder/upcoming/mjolnir_storm_hammer.txt
  forge-gui/res/cardsfolder/upcoming/origin_of_the_hidden_ones.txt
  forge-gui/res/cardsfolder/upcoming/overpowering_attack.txt
  forge-gui/res/cardsfolder/upcoming/palazzo_archers.txt
  forge-gui/res/cardsfolder/upcoming/phantom_blade.txt
  forge-gui/res/cardsfolder/upcoming/poison_blade_mentor.txt
  forge-gui/res/cardsfolder/upcoming/ratonhnhake_ton.txt
  forge-gui/res/cardsfolder/upcoming/raven_clan_war_axe.txt
  forge-gui/res/cardsfolder/upcoming/restart_sequence.txt
  forge-gui/res/cardsfolder/upcoming/rooftop_bypass.txt
  forge-gui/res/cardsfolder/upcoming/senu_keen_eyed_protector.txt
  forge-gui/res/cardsfolder/upcoming/settlement_blacksmith.txt
  forge-gui/res/cardsfolder/upcoming/shao_jun.txt
  forge-gui/res/cardsfolder/upcoming/sigurd_jarl_of_ravensthorpe.txt
  forge-gui/res/cardsfolder/upcoming/smoke_bomb.txt
Labels: Upcoming Set
