Repository Card-Forge/forge, pull requests merged in 2024-07, with the labels that each got.

#5425 Update to AdventurePlayer.java
  forge-gui-mobile/src/forge/adventure/player/AdventurePlayer.java
Labels: Adventure

#5500 Edition updates: BLB, BLC, DSK, SLD
  forge-gui/res/editions/Bloomburrow Commander.txt
  forge-gui/res/editions/Bloomburrow.txt
  forge-gui/res/editions/Duskmourn House of Horror.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#5504 If Commander would goto hand, don't move it to command zone
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
Labels: AI

#5480 ACR 8 cards
  forge-gui/res/cardsfolder/m/mycoid_resurrection.txt
  forge-gui/res/cardsfolder/upcoming/alexios_deimos_of_kosmos.txt
  forge-gui/res/cardsfolder/upcoming/jacob_frye.txt
  forge-gui/res/cardsfolder/upcoming/kassandra_eagle_bearer.txt
  forge-gui/res/cardsfolder/upcoming/loyal_inventor.txt
  forge-gui/res/cardsfolder/upcoming/petty_larceny.txt
  forge-gui/res/cardsfolder/upcoming/shaun_and_rebecca_agents.txt
  forge-gui/res/cardsfolder/upcoming/sokrates_athenian_teacher.txt
  forge-gui/res/cardsfolder/upcoming/tax_collector.txt
Labels: Upcoming Set

#5511 Freerunning as calculateAmount
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/upcoming/escape_detection.txt
  forge-gui/res/cardsfolder/upcoming/monastery_raid.txt
Labels: Upcoming Set, Game Mechanics

#5528 Bandit scoundrel crash fix
  forge-gui/res/adventure/common/decks/standard/bandit_mutate.dck
Labels: Adventure

#5531 Fix Bamboozling Beebles
  forge-game/src/main/java/forge/game/ability/effects/ReplaceEffect.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/upcoming/havi_the_all_father.txt
Labels: Card Patch

#5533 Edition updates: BLB, FDN, M3C, PLG24
  forge-gui/res/cardsfolder/upcoming/towering_viewpoint.txt
  forge-gui/res/editions/Bloomburrow.txt
  forge-gui/res/editions/Foundations.txt
  forge-gui/res/editions/Love Your LGS 2024.txt
  forge-gui/res/editions/Modern Horizons 3 Commander.txt
Labels: Upcoming Set

#5534 BLB typo
  forge-gui/res/editions/Bloomburrow.txt
Labels: Upcoming Set

#5542 SacCost AI hint for Cutthroat Centurion
  forge-gui/res/cardsfolder/c/cutthroat_centurion.txt
Labels: AI

#5543 Fix LKI entering battlefield
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-gui/res/cardsfolder/w/wandering_archaic_explore_the_vastlands.txt
Labels: Game Mechanics, Crash fix

#5544 Keyword: Impending
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/spellability/AlternativeCost.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/upcoming/overlord_of_the_hauntwoods.txt
  forge-gui/res/tokenscripts/everywhere.txt
Labels: Upcoming Set, Game Mechanics

#5550 Fix Gerrard Capashen
  forge-game/src/main/java/forge/game/ability/effects/LifeGainEffect.java
Labels: Card Patch

#5565 Edition updates: BLB, BLC
  forge-gui/res/editions/Bloomburrow Commander.txt
  forge-gui/res/editions/Bloomburrow.txt
Labels: Upcoming Set

#5545 The Capitoline Triad
  forge-gui/res/cardsfolder/upcoming/the_capitoline_triad.txt
Labels: Upcoming Set

#5580 Refresh active triggers after statics from ETB
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/PermanentEffect.java
  forge-game/src/main/java/forge/game/card/CardZoneTable.java
Labels: Game Mechanics

#5581 Update ghost_town.txt
  forge-gui/res/cardsfolder/g/ghost_town.txt
Labels: Card Patch

#5584 Add puzzle PS_MH32 - Possibility Storm - Modern Horizons 3 #02
  forge-gui/res/puzzle/PS_MH32.pzl
Labels: Puzzle Mode

#5588 Edition updates: BLB, BLC, M3C, SLD
  forge-gui/res/editions/Bloomburrow Commander.txt
  forge-gui/res/editions/Bloomburrow.txt
  forge-gui/res/editions/Modern Horizons 3 Commander.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#5591 Moonstone Harbinger and support
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/trigger/TriggerLifeChanged.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-gui/res/cardsfolder/upcoming/moonstone_harbinger.txt
Labels: Upcoming Set

#5589 Update senu_keen_eyed_protector.txt
  forge-gui/res/cardsfolder/upcoming/senu_keen_eyed_protector.txt
Labels: Card Patch

#5600 CantPhase checks need to happen simultaneously
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/PhasesEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/phase/Untap.java
Labels: Game Mechanics, Rules compliance

#5594 Support another case of reflexive triggers getting duplicated
  forge-game/src/main/java/forge/game/ability/effects/ImmediateTriggerEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TokenEffectBase.java
  forge-gui/res/cardsfolder/a/ajani_nacatl_pariah_ajani_nacatl_avenger.txt
  forge-gui/res/cardsfolder/d/diregraf_horde.txt
  forge-gui/res/cardsfolder/e/eastfarthing_farmer.txt
  forge-gui/res/cardsfolder/e/explosion_of_riches.txt
  forge-gui/res/cardsfolder/g/generous_plunderer.txt
Labels: Game Mechanics, Rules compliance

#5624 Edition updates: BLB, BLC
  forge-gui/res/editions/Bloomburrow Commander.txt
  forge-gui/res/editions/Bloomburrow.txt
Labels: Upcoming Set

#5630 Update honored_dreyleader.txt
  forge-gui/res/cardsfolder/upcoming/honored_dreyleader.txt
Labels: Card Patch

#5623 Add basic AI for The Capitoline Triad
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-gui/res/cardsfolder/upcoming/the_capitoline_triad.txt
Labels: AI

#5639 Edition updates: BLB, BLC, SLD
  forge-gui/res/editions/Bloomburrow Commander.txt
  forge-gui/res/editions/Bloomburrow.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#5651 ChangesZoneAll: support multiple destination filtering
  forge-game/src/main/java/forge/game/card/CardZoneTable.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPanharmonicon.java
  forge-game/src/main/java/forge/game/trigger/TriggerChangesZoneAll.java
Labels: Crash fix

#5654 Edition updates: BLB, BLC, SPG
  forge-gui/res/editions/Bloomburrow Commander.txt
  forge-gui/res/editions/Bloomburrow.txt
  forge-gui/res/editions/Special Guests.txt
Labels: Upcoming Set

#5655 fix Nightwhorl Hermit name
  forge-gui/res/cardsfolder/upcoming/nightwhorl_hermit.txt
  forge-gui/res/editions/Bloomburrow Commander.txt
Labels: Card Cleanup

#5656 Fix Captain's Hook
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameEntity.java
  forge-game/src/main/java/forge/game/ability/effects/ManaEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardCopyService.java
Labels: Game Mechanics

#5661 Edition updates: BLB, BLC, PW24, SLD
  forge-gui/res/editions/Bloomburrow Commander.txt
  forge-gui/res/editions/Bloomburrow.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Wizards Play Network 2024.txt
Labels: Upcoming Set

#5659 Update hazel_of_the_rootbloom.txt
  forge-gui/res/cardsfolder/upcoming/hazel_of_the_rootbloom.txt
Labels: Card Patch

#5633 Add Forage Cost
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-game/src/main/java/forge/game/cost/Cost.java
  forge-game/src/main/java/forge/game/cost/CostForage.java
  forge-game/src/main/java/forge/game/cost/ICostVisitor.java
  forge-game/src/main/java/forge/game/trigger/TriggerForage.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-gui/res/cardsfolder/upcoming/treetop_sentries.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Upcoming Set, Game Mechanics

#5558 Keyword: Offspring
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-gui/res/cardsfolder/c/chief_engineer.txt
  forge-gui/res/cardsfolder/d/djinn_illuminatus.txt
  forge-gui/res/cardsfolder/f/fallaji_wayfarer.txt
  forge-gui/res/cardsfolder/f/flamekin_herald.txt
  forge-gui/res/cardsfolder/h/hatchery_sliver.txt
  forge-gui/res/cardsfolder/h/henzie_toolbox_torre.txt
  forge-gui/res/cardsfolder/h/herigast_erupting_nullkite.txt
  forge-gui/res/cardsfolder/h/hunting_velociraptor.txt
  forge-gui/res/cardsfolder/i/ian_chesterton.txt
  forge-gui/res/cardsfolder/i/imoti_celebrant_of_bounty.txt
  forge-gui/res/cardsfolder/i/inspiring_statuary.txt
  forge-gui/res/cardsfolder/i/invasion_of_segovia_caetus_sea_tyrant_of_segovia.txt
  forge-gui/res/cardsfolder/m/mycosynth_golem.txt
  forge-gui/res/cardsfolder/p/pearl_ear_imperial_advisor.txt
  forge-gui/res/cardsfolder/s/silverquill_lecturer.txt
  forge-gui/res/cardsfolder/t/tezzeret_master_of_the_bridge.txt
  forge-gui/res/cardsfolder/t/the_first_sliver.txt
  forge-gui/res/cardsfolder/t/threefold_signal.txt
  forge-gui/res/cardsfolder/t/thrumming_stone.txt
  forge-gui/res/cardsfolder/upcoming/ezio_auditore_da_firenze.txt
  forge-gui/res/cardsfolder/upcoming/tender_wildguide.txt
  forge-gui/res/cardsfolder/upcoming/zinnia_valleys_voice.txt
  forge-gui/res/cardsfolder/w/we_ride_at_dawn.txt
  forge-gui/res/cardsfolder/w/wort_the_raidmother.txt
Labels: Upcoming Set, Game Mechanics

#5665 Changing targets shouldn't allow different numbers
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectTargets.java
  forge-gui/src/main/java/forge/player/TargetSelection.java
Labels: Rules compliance

#5666 Text change support for Class + Saga
  forge-game/src/main/java/forge/game/TriggerReplacementBase.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-gui/res/cardsfolder/upcoming/zinnia_valleys_voice.txt
Labels: Game Mechanics

#5671 Ain't a normal month without a Henzie fix
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/a/aerial_extortionist.txt
  forge-gui/res/cardsfolder/c/chainer_nightmare_adept.txt
  forge-gui/res/cardsfolder/e/epochrasite.txt
  forge-gui/res/cardsfolder/f/flaming_tyrannosaurus.txt
  forge-gui/res/cardsfolder/g/ghostly_pilferer.txt
  forge-gui/res/cardsfolder/g/graham_obrien.txt
  forge-gui/res/cardsfolder/i/impending_flux.txt
  forge-gui/res/cardsfolder/i/iraxxa_empress_of_mars.txt
  forge-gui/res/cardsfolder/k/keeper_of_secrets.txt
  forge-gui/res/cardsfolder/k/kellan_the_kid.txt
  forge-gui/res/cardsfolder/m/memory_worm.txt
  forge-gui/res/cardsfolder/m/mizzix_replica_rider.txt
  forge-gui/res/cardsfolder/o/osgood_operation_double.txt
  forge-gui/res/cardsfolder/p/phage_the_untouchable.txt
  forge-gui/res/cardsfolder/p/poxwalkers.txt
  forge-gui/res/cardsfolder/rebalanced/a-vega_the_watcher.txt
  forge-gui/res/cardsfolder/s/sage_of_the_beyond.txt
  forge-gui/res/cardsfolder/s/savvy_trader.txt
  forge-gui/res/cardsfolder/s/sisterhood_of_karn.txt
  forge-gui/res/cardsfolder/s/surge_of_brilliance.txt
  forge-gui/res/cardsfolder/t/the_lost_and_the_damned.txt
  forge-gui/res/cardsfolder/t/the_thirteenth_doctor.txt
  forge-gui/res/cardsfolder/t/the_twelfth_doctor.txt
  forge-gui/res/cardsfolder/u/unstable_amulet.txt
  forge-gui/res/cardsfolder/upcoming/fortune_tellers_talent.txt
  forge-gui/res/cardsfolder/v/vega_the_watcher.txt
  forge-gui/res/cardsfolder/w/wash_away.txt
Labels: Card Cleanup, Crash fix

#5670 MagicStack: apply statics before storing LKI
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/o/overwhelming_splendor.txt
  forge-gui/res/cardsfolder/s/scheming_fence.txt
Labels: Game Mechanics

#5507 UNF 18 attraction cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/b/balloon_stand.txt
  forge-gui/res/cardsfolder/b/black_hole.txt
  forge-gui/res/cardsfolder/b/bumper_cars.txt
  forge-gui/res/cardsfolder/c/coming_attraction.txt
  forge-gui/res/cardsfolder/c/complaints_clerk.txt
  forge-gui/res/cardsfolder/d/deadbeat_attendant.txt
  forge-gui/res/cardsfolder/d/dee_kay_finder_of_the_lost.txt
  forge-gui/res/cardsfolder/d/discourtesy_clerk.txt
  forge-gui/res/cardsfolder/d/down_for_repairs.txt
  forge-gui/res/cardsfolder/d/draconian_gate_bot.txt
  forge-gui/res/cardsfolder/d/drop_tower.txt
  forge-gui/res/cardsfolder/h/hall_of_mirrors.txt
  forge-gui/res/cardsfolder/l/line_cutter.txt
  forge-gui/res/cardsfolder/m/motion_sickness.txt
  forge-gui/res/cardsfolder/s/soul_swindler.txt
  forge-gui/res/cardsfolder/s/spinnerette_arachnobat.txt
  forge-gui/res/cardsfolder/s/step_right_up.txt
  forge-gui/res/cardsfolder/s/storybook_ride.txt
  forge-gui/res/tokenscripts/r_1_1_balloon_flying.txt
Labels: Unfinity

#5676 Update cardstates after creating token from prototype
  forge-game/src/main/java/forge/game/ability/effects/TokenEffectBase.java
  forge-game/src/main/java/forge/game/card/CardState.java
  forge-gui/res/cardsfolder/e/eriette_the_beguiler.txt
Labels: Card Patch

#5680 Add puzzle PS_ACR1
  forge-gui/res/puzzle/PS_ACR1.pzl
Labels: Puzzle Mode

#5681 Add ActivatorThisTurnCastEach
  forge-game/src/main/java/forge/game/trigger/TriggerSpellAbilityCastOrCopy.java
Labels: Upcoming Set, Game Mechanics

#5685 Fix Flowering Lumberknot
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/c/chaos_lord.txt
  forge-gui/res/cardsfolder/f/flowering_lumberknot.txt
  forge-gui/res/cardsfolder/k/kazuuls_toll_collector.txt
  forge-gui/res/cardsfolder/t/thirsting_axe.txt
  forge-gui/res/cardsfolder/upcoming/kassandra_eagle_bearer.txt
  forge-gui/src/main/java/forge/gui/card/CardScriptParser.java
Labels: Card Patch

#5699 Some fixes
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/f/flowering_lumberknot.txt
  forge-gui/res/cardsfolder/upcoming/persistent_marshstalker.txt
  forge-gui/res/cardsfolder/upcoming/thornplate_intimidator.txt
Labels: Card Patch

#5701 Edition updates: SLD
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#5691 Initial Gift development
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/AbilityApiBased.java
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardCopyService.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-game/src/main/java/forge/game/cost/Cost.java
  forge-game/src/main/java/forge/game/cost/CostPromiseGift.java
  forge-game/src/main/java/forge/game/cost/ICostVisitor.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/spellability/OptionalCost.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityCondition.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityVariables.java
  forge-game/src/main/java/forge/game/trigger/TriggerGiveGift.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-game/src/main/java/forge/trackable/TrackableProperty.java
  forge-gui/res/cardsfolder/upcoming/blooming_blast.txt
  forge-gui/res/cardsfolder/upcoming/jolly_gerbils.txt
  forge-gui/res/cardsfolder/upcoming/kitnap.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Upcoming Set, Game Mechanics

#5709 enable Boss dialogue
  forge-gui-mobile/src/forge/Forge.java
  forge-gui-mobile/src/forge/adventure/scene/DuelScene.java
  forge-gui-mobile/src/forge/adventure/stage/ConsoleCommandInterpreter.java
  forge-gui-mobile/src/forge/adventure/util/CardUtil.java
Labels: Adventure

#5710 ChangesZoneAll: stricter LKI filtering
  forge-game/src/main/java/forge/game/ability/effects/RollDiceEffect.java
  forge-game/src/main/java/forge/game/card/CardZoneTable.java
  forge-gui/res/cardsfolder/a/athreos_shroud_veiled.txt
  forge-gui/res/cardsfolder/upcoming/corpseberry_cultivator.txt
Labels: Game Mechanics

#5712 The gift cards of BLB/BLC
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/upcoming/coiling_rebirth.txt
  forge-gui/res/cardsfolder/upcoming/consumed_by_greed.txt
  forge-gui/res/cardsfolder/upcoming/cruelclaws_heist.txt
  forge-gui/res/cardsfolder/upcoming/crumb_and_get_it.txt
  forge-gui/res/cardsfolder/upcoming/dawns_truce.txt
  forge-gui/res/cardsfolder/upcoming/dewdrop_cure.txt
  forge-gui/res/cardsfolder/upcoming/into_the_flood_maw.txt
  forge-gui/res/cardsfolder/upcoming/long_rivers_pull.txt
  forge-gui/res/cardsfolder/upcoming/longstalk_brawl.txt
  forge-gui/res/cardsfolder/upcoming/mind_spiral.txt
  forge-gui/res/cardsfolder/upcoming/nocturnal_hunger.txt
  forge-gui/res/cardsfolder/upcoming/octomancer.txt
  forge-gui/res/cardsfolder/upcoming/parting_gust.txt
  forge-gui/res/cardsfolder/upcoming/peerless_recycling.txt
  forge-gui/res/cardsfolder/upcoming/perch_protection.txt
  forge-gui/res/cardsfolder/upcoming/sazacaps_brew.txt
  forge-gui/res/cardsfolder/upcoming/scrapshooter.txt
  forge-gui/res/cardsfolder/upcoming/starfall_invocation.txt
  forge-gui/res/cardsfolder/upcoming/starforged_sword.txt
  forge-gui/res/cardsfolder/upcoming/valley_rally.txt
  forge-gui/res/cardsfolder/upcoming/wear_down.txt
  forge-gui/res/cardsfolder/upcoming/wildfire_howl.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set

#5718 update Boss dialogue translations
  forge-gui-mobile/src/forge/adventure/scene/DuelScene.java
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Adventure

#5693 Pawprint: first try
  forge-ai/src/main/java/forge/ai/ability/CharmAi.java
  forge-ai/src/main/java/forge/ai/simulation/SpellAbilityChoicesIterator.java
  forge-ai/src/main/java/forge/ai/simulation/SpellAbilityPicker.java
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-gui/res/cardsfolder/upcoming/season_of_loss.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Upcoming Set, Game Mechanics

#5727 Fix Octomancer
  forge-gui/res/cardsfolder/upcoming/octomancer.txt
Labels: Card Patch

#5714 Added Alania, Divergent Storm
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/upcoming/alania_divergent_storm.txt
Labels: Upcoming Set

#5725 Fix stuck dialogue when reloading save
  forge-gui-mobile/src/forge/adventure/scene/DuelScene.java
  forge-gui-mobile/src/forge/screens/match/MatchController.java
  forge-gui-mobile/src/forge/screens/match/winlose/AdventureWinLose.java
Labels: Adventure

#5728 Fix Catastrophe allowing regeneration on land choice for creatures
  forge-game/src/main/java/forge/game/ability/effects/DestroyAllEffect.java
  forge-gui/res/cardsfolder/c/catastrophe.txt
Labels: Card Patch

#5745 Fix casting Chaotic Strike when no attacker gets declared
  forge-ai/src/main/java/forge/ai/ability/SacrificeAi.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityVariables.java
  forge-gui/res/cardsfolder/a/aleatory.txt
  forge-gui/res/cardsfolder/c/chaotic_strike.txt
  forge-gui/res/cardsfolder/c/curtain_of_light.txt
  forge-gui/res/cardsfolder/f/flash_foliage.txt
  forge-gui/res/cardsfolder/t/trap_runner.txt
Labels: Rules compliance
