Repository Card-Forge/forge, pull requests merged in 2024-03, with the labels that each got.

#4764 Dracontes MKM cards
  forge-gui/res/cardsfolder/upcoming/krenkos_buzzcrusher.txt
  forge-gui/res/cardsfolder/upcoming/red_herring.txt
  forge-gui/res/cardsfolder/upcoming/sharp_eyed_rookie.txt
  forge-gui/res/editions/Mystery Booster Playtest Cards.txt
Labels: Upcoming Set

#4747 PIP 11 cards
  forge-gui/res/cardsfolder/upcoming/brotherhood_vertibird.txt
  forge-gui/res/cardsfolder/upcoming/butch_deLoria_tunnel_snake.txt
  forge-gui/res/cardsfolder/upcoming/cait_cage_brawler.txt
  forge-gui/res/cardsfolder/upcoming/cathedral_acolyte.txt
  forge-gui/res/cardsfolder/upcoming/colonel_autumn.txt
  forge-gui/res/cardsfolder/upcoming/commander_sofia_daguerre.txt
  forge-gui/res/cardsfolder/upcoming/contaminated_drink.txt
  forge-gui/res/cardsfolder/upcoming/craig_boone_novac_guard.txt
  forge-gui/res/cardsfolder/upcoming/curie_emergent_intelligence.txt
  forge-gui/res/cardsfolder/upcoming/desdemona_freedoms_edge.txt
  forge-gui/res/cardsfolder/upcoming/diamond_city.txt
Labels: Upcoming Set

#4763 Alchemy Incorporate
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffectBase.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-gui/res/cardsfolder/upcoming/guildpact_greenwalker.txt
Labels: Upcoming Set, Game Mechanics

#4779 Edition updates: GDY, MH3, SIR, SLD, SPG, YMKM
  forge-gui/res/editions/Alchemy Karlov Manor.txt
  forge-gui/res/editions/Game Day Promos.txt
  forge-gui/res/editions/Modern Horizons 3.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Shadows over Innistrad Remastered.txt
  forge-gui/res/editions/Special Guests.txt
Labels: Upcoming Set

#4778 Fix River Song's Diary + Rhuk, Hexgold Nabber
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-gui/res/cardsfolder/g/gut_fanatical_priestess.txt
  forge-gui/res/cardsfolder/p/price_of_fame.txt
  forge-gui/res/cardsfolder/r/rhuk_hexgold_nabber.txt
  forge-gui/res/cardsfolder/r/river_songs_diary.txt
  forge-gui/res/cardsfolder/r/rod_of_absorption.txt
  forge-gui/res/cardsfolder/t/tetsuo_imperial_champion.txt
  forge-gui/res/cardsfolder/w/warchanter_skald.txt
Labels: Game Mechanics, Card Cleanup

#4771 PIP 20 cards
  forge-game/src/main/java/forge/game/cost/CostExile.java
  forge-game/src/main/java/forge/game/cost/CostPayEnergy.java
  forge-gui/res/cardsfolder/upcoming/cass_hand_of_vengeance.txt
  forge-gui/res/cardsfolder/upcoming/codsworth_handy_helper.txt
  forge-gui/res/cardsfolder/upcoming/ed_e_lonesome_eyebot.txt
  forge-gui/res/cardsfolder/upcoming/elder_arthur_maxson.txt
  forge-gui/res/cardsfolder/upcoming/elder_owyn_lyons.txt
  forge-gui/res/cardsfolder/upcoming/electrosiphon.txt
  forge-gui/res/cardsfolder/upcoming/grim_reapers_sprint.txt
  forge-gui/res/cardsfolder/upcoming/gunner_conscript.txt
  forge-gui/res/cardsfolder/upcoming/hancock_ghoulish_mayor.txt
  forge-gui/res/cardsfolder/upcoming/helios_one.txt
  forge-gui/res/cardsfolder/upcoming/ian_the_reckless.txt
  forge-gui/res/cardsfolder/upcoming/inventory_management.txt
  forge-gui/res/cardsfolder/upcoming/james_wandering_dad_follow_him.txt
  forge-gui/res/cardsfolder/upcoming/junktown.txt
  forge-gui/res/cardsfolder/upcoming/kellogg_dangerous_mind.txt
  forge-gui/res/cardsfolder/upcoming/legate_lanius_caesars_ace.txt
  forge-gui/res/cardsfolder/upcoming/lily_bowen_raging_grandma.txt
  forge-gui/res/cardsfolder/upcoming/maccready_lamplight_mayor.txt
  forge-gui/res/cardsfolder/upcoming/marcus_mutant_mayor.txt
  forge-gui/res/cardsfolder/upcoming/mariposa_military_base.txt
Labels: Upcoming Set

#4785 Script fixes
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-gui/res/cardsfolder/d/doomsday_confluence.txt
  forge-gui/res/cardsfolder/g/gathan_raiders.txt
  forge-gui/res/cardsfolder/i/ioreth_of_the_healing_house.txt
  forge-gui/res/cardsfolder/n/nameless_one.txt
  forge-gui/res/cardsfolder/p/parallax_dementia.txt
  forge-gui/res/cardsfolder/p/primal_whisperer.txt
  forge-gui/res/cardsfolder/s/skirk_commando.txt
  forge-gui/res/cardsfolder/s/snapping_thragg.txt
  forge-gui/res/cardsfolder/t/thelonite_hermit.txt
Labels: Card Patch

#4781 Update evilgrove_7_dragon.tmx
  forge-gui/res/adventure/common/maps/map/evilgrove/evilgrove_7_dragon.tmx
Labels: Adventure

#4789 Alchemy Rebalancing for March 04, 2024
  forge-gui/res/cardsfolder/f/fragment_reality.txt
  forge-gui/res/cardsfolder/rebalanced/a-geological_appraiser.txt
  forge-gui/res/editions/Alchemy Karlov Manor.txt
  forge-gui/res/editions/Ravnica Clue Edition.txt
  forge-gui/res/editions/The Lost Caverns of Ixalan.txt
Labels: Rules/Oracle Changes

#4790 Adventure fixes: "No Sell Cards", quest tracking
  forge-gui-mobile/src/forge/adventure/data/AdventureQuestStage.java
  forge-gui-mobile/src/forge/adventure/player/AdventurePlayer.java
Labels: Adventure

#4093 WHO: caught_in_a_parallel_universe.txt + support
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CopyPermanentEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutAllEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/a/aragorn_company_leader.txt
  forge-gui/res/cardsfolder/c/cataclysm.txt
  forge-gui/res/cardsfolder/c/cataclysmic_gearhulk.txt
  forge-gui/res/cardsfolder/c/coward_killer.txt
  forge-gui/res/cardsfolder/g/grenzos_rebuttal.txt
  forge-gui/res/cardsfolder/i/interplanar_tunnel.txt
  forge-gui/res/cardsfolder/m/morphic_tide.txt
  forge-gui/res/cardsfolder/m/mutual_epiphany.txt
  forge-gui/res/cardsfolder/m/mythos_of_snapdax.txt
  forge-gui/res/cardsfolder/p/planewide_disaster.txt
  forge-gui/res/cardsfolder/r/reality_shaping.txt
  forge-gui/res/cardsfolder/s/sculpted_sunburst.txt
  forge-gui/res/cardsfolder/s/stick_together.txt
  forge-gui/res/cardsfolder/t/time_distortion.txt
  forge-gui/res/cardsfolder/upcoming/caught_in_a_parallel_universe.txt
  forge-gui/res/cardsfolder/upcoming/human_time_lord_meta_crisis.txt
  forge-gui/src/main/java/forge/gui/card/CardScriptParser.java
Labels: Game Mechanics, Card Cleanup, keep

#4788 PIP 5 cards
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantAttackBlock.java
  forge-gui/res/cardsfolder/a/anoint_with_affliction.txt
  forge-gui/res/cardsfolder/a/apostle_of_invasion.txt
  forge-gui/res/cardsfolder/b/blightwing_whelp.txt
  forge-gui/res/cardsfolder/b/bonepicker_skirge.txt
  forge-gui/res/cardsfolder/b/bring_the_ending.txt
  forge-gui/res/cardsfolder/c/chittering_skitterling.txt
  forge-gui/res/cardsfolder/c/contaminant_grafter.txt
  forge-gui/res/cardsfolder/c/corrupted_resolve.txt
  forge-gui/res/cardsfolder/d/distorted_curiosity.txt
  forge-gui/res/cardsfolder/f/fleshless_gladiator.txt
  forge-gui/res/cardsfolder/g/glistening_sphere.txt
  forge-gui/res/cardsfolder/g/goliath_hatchery.txt
  forge-gui/res/cardsfolder/i/incisor_glider.txt
  forge-gui/res/cardsfolder/l/leeches.txt
  forge-gui/res/cardsfolder/l/lumbering_megasloth.txt
  forge-gui/res/cardsfolder/n/nettling_host.txt
  forge-gui/res/cardsfolder/n/norns_fetchling.txt
  forge-gui/res/cardsfolder/p/phyresis_outbreak.txt
  forge-gui/res/cardsfolder/r/ravenous_necrotitan.txt
  forge-gui/res/cardsfolder/s/sinew_dancer.txt
  forge-gui/res/cardsfolder/s/skrelvs_hive.txt
  forge-gui/res/cardsfolder/t/the_seedcore.txt
  forge-gui/res/cardsfolder/upcoming/mirelurk_queen.txt
  forge-gui/res/cardsfolder/upcoming/nick_valentine_private_eye.txt
  forge-gui/res/cardsfolder/upcoming/nightkin_ambusher.txt
  forge-gui/res/cardsfolder/upcoming/nuclear_fallout.txt
  forge-gui/res/cardsfolder/upcoming/nuka_nuke_launcher.txt
  forge-gui/res/cardsfolder/v/viral_spawning.txt
  forge-gui/res/cardsfolder/v/vivisection_evangelist.txt
  forge-gui/res/cardsfolder/v/vraska_betrayals_sting.txt
  forge-gui/res/cardsfolder/w/whispering_specter.txt
  forge-gui/res/cardsfolder/z/zealots_conviction.txt
Labels: Upcoming Set

#4799 RadiationRework: use Trigger for InternalRadiation
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-game/src/main/java/forge/game/GameLogFormatter.java
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/InternalRadiationEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RadiationEffect.java
  forge-game/src/main/java/forge/game/event/GameEventPlayerRadiation.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityGainLifeRadiation.java
  forge-gui/res/cardsfolder/a/acquired_mutation.txt
  forge-gui/res/cardsfolder/b/bloatfly_swarm.txt
  forge-gui/res/cardsfolder/c/contaminated_drink.txt
  forge-gui/res/cardsfolder/f/feral_ghoul.txt
  forge-gui/res/cardsfolder/m/mariposa_military_base.txt
  forge-gui/res/cardsfolder/t/the_wise_mothman.txt
  forge-gui/res/cardsfolder/upcoming/mirelurk_queen.txt
  forge-gui/res/cardsfolder/upcoming/nightkin_ambusher.txt
  forge-gui/res/cardsfolder/upcoming/nuclear_fallout.txt
  forge-gui/res/cardsfolder/upcoming/nuka_nuke_launcher.txt
  forge-gui/res/cardsfolder/upcoming/strong_the_brutish_thespian.txt
  forge-gui/res/languages/en-US.properties
Labels: Upcoming Set, Game Mechanics

#4795 PIP 8 cards
  forge-gui/res/cardsfolder/h/harold_and_bob_first_numens.txt
  forge-gui/res/cardsfolder/m/megatons_fate.txt
  forge-gui/res/cardsfolder/m/mister_gutsy.txt
  forge-gui/res/cardsfolder/m/moira_brown_guide_author.txt
  forge-gui/res/cardsfolder/m/mutational_advantage.txt
  forge-gui/res/cardsfolder/s/super_mutant_scavenger.txt
  forge-gui/res/cardsfolder/s/synth_eradicator.txt
  forge-gui/res/cardsfolder/t/thrill_kill_disciple.txt
  forge-gui/res/tokenscripts/wasteland_survival_guide.txt
Labels: Upcoming Set

#4798 PIP 10 cards
  forge-gui/res/cardsfolder/n/nerd_rage.txt
  forge-gui/res/cardsfolder/o/overseer_of_vault_76.txt
  forge-gui/res/cardsfolder/p/paladin_danse_steel_maverick.txt
  forge-gui/res/cardsfolder/p/paladin_elizabeth_taggerdy.txt
  forge-gui/res/cardsfolder/p/pip_boy_3000.txt
  forge-gui/res/cardsfolder/p/piper_wright_publick_reporter.txt
  forge-gui/res/cardsfolder/p/pre_war_formalwear.txt
  forge-gui/res/cardsfolder/r/rampaging_yao_guai.txt
  forge-gui/res/cardsfolder/r/raul_trouble_shooter.txt
  forge-gui/res/cardsfolder/t/the_master_transcendent.txt
Labels: Upcoming Set

#4806 Tinybones, the Pickpocket and support
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-gui/res/cardsfolder/a/agitator_ant.txt
  forge-gui/res/cardsfolder/b/burakos_party_leader.txt
  forge-gui/res/cardsfolder/o/orzhov_advokist.txt
  forge-gui/res/cardsfolder/upcoming/tinybones_the_pickpocket.txt
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#4815 Keyword: Spree
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-gui/res/cardsfolder/upcoming/shifting_grift.txt
Labels: Upcoming Set, Game Mechanics

#4818 Fix Captain's Hook Unattach triggering and sacrificing even if it gets destroyed before Equip ability resolves
  forge-game/src/main/java/forge/game/GlobalRuleChange.java
  forge-game/src/main/java/forge/game/ability/effects/AttachEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigUntilEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DrainManaEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TokenEffectBase.java
  forge-game/src/main/java/forge/game/mana/ManaPool.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityUnspentMana.java
  forge-gui/res/cardsfolder/y/yurlok_of_scorch_thrash.txt
Labels: bug

#4821 Add MKM alt wincon achievement + add puzzle PS_MKM3.
  forge-gui/res/lists/altwin-achievements.txt
  forge-gui/res/puzzle/PS_MKM3.pzl
Labels: Puzzle Mode

#4822 Fix Agitator Ant crashing the game
  forge-gui/res/cardsfolder/a/agitator_ant.txt
Labels: Crash fix

#4820 Improve simultaneous handling with ChangeZoneAll
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigUntilEffect.java
  forge-gui/res/cardsfolder/c/collision_of_realms.txt
  forge-gui/res/cardsfolder/c/crypt_incursion.txt
  forge-gui/res/cardsfolder/d/detention_sphere.txt
  forge-gui/res/cardsfolder/d/duplicity.txt
  forge-gui/res/cardsfolder/h/honor_the_fallen.txt
  forge-gui/res/cardsfolder/l/legions_initiative.txt
  forge-gui/res/cardsfolder/l/living_death.txt
  forge-gui/res/cardsfolder/s/scrap_mastery.txt
Labels: Card Cleanup

#4807 Keyword: Saddle
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-ai/src/main/java/forge/ai/ability/AlterAttributeAi.java
  forge-ai/src/main/java/forge/ai/simulation/GameCopier.java
  forge-game/src/main/java/forge/game/ability/effects/AlterAttributeEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardCopyService.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-gui/res/cardsfolder/upcoming/drover_grizzly.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set, Game Mechanics

#4828 Support for Vault 11: Voter's Dilemma
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-ai/src/main/java/forge/ai/SpellAbilityAi.java
  forge-core/src/main/java/forge/util/Lang.java
  forge-core/src/main/java/forge/util/lang/LangEnglish.java
  forge-core/src/main/java/forge/util/lang/LangFrench.java
  forge-core/src/main/java/forge/util/lang/LangGerman.java
  forge-core/src/main/java/forge/util/lang/LangItalian.java
  forge-core/src/main/java/forge/util/lang/LangSpanish.java
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CounterEffect.java
  forge-game/src/main/java/forge/game/ability/effects/VoteEffect.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/player/PlayerController.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityCondition.java
  forge-game/src/main/java/forge/game/trigger/TriggerCountered.java
  forge-game/src/main/java/forge/game/trigger/WrappedAbility.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/PlayerControllerForTests.java
  forge-gui/res/cardsfolder/m/multanis_presence.txt
  forge-gui/res/cardsfolder/p/pre_war_formalwear.txt
  forge-gui/res/cardsfolder/t/triassic_egg.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Card Patch

#4824 PIP 14 cards
  forge-gui/res/cardsfolder/upcoming/glowing_one.txt
  forge-gui/res/cardsfolder/upcoming/infesting_radroach.txt
  forge-gui/res/cardsfolder/upcoming/power_fist.txt
  forge-gui/res/cardsfolder/upcoming/recon_craft_theta.txt
  forge-gui/res/cardsfolder/upcoming/red_death_shipwrecker.txt
  forge-gui/res/cardsfolder/upcoming/rose_cutthroat_raider.txt
  forge-gui/res/cardsfolder/upcoming/screeching_scorchbeast.txt
  forge-gui/res/cardsfolder/upcoming/sentinel_sarah_lyons.txt
  forge-gui/res/cardsfolder/upcoming/shaun_father_of_synths.txt
  forge-gui/res/cardsfolder/upcoming/sierra_nukas_biggest_fan.txt
  forge-gui/res/cardsfolder/upcoming/silver_shroud_costume.txt
  forge-gui/res/cardsfolder/upcoming/strong_back.txt
  forge-gui/res/cardsfolder/upcoming/struggle_for_project_purity.txt
  forge-gui/res/cardsfolder/upcoming/vault_12_the_necropolis.txt
  forge-gui/res/tokenscripts/b_2_2_zombie_mutant.txt
  forge-gui/res/tokenscripts/u_0_0_alien.txt
Labels: Upcoming Set

#4833 ReplaceDiscard doesn't exist
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/replacement/ReplaceDiscard.java
  forge-game/src/main/java/forge/game/replacement/ReplaceMoved.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-game/src/main/java/forge/game/replacement/ReplacementType.java
  forge-game/src/main/java/forge/game/trigger/TriggerDiscarded.java
  forge-game/src/main/java/forge/game/trigger/TriggerExiled.java
  forge-gui/res/cardsfolder/d/dodecapod.txt
  forge-gui/res/cardsfolder/j/jorn_god_of_winter_kaldring_the_rimestaff.txt
  forge-gui/res/cardsfolder/l/library_of_leng.txt
  forge-gui/res/cardsfolder/l/loxodon_smiter.txt
  forge-gui/res/cardsfolder/n/nephalia_academy.txt
  forge-gui/res/cardsfolder/n/nullhide_ferox.txt
  forge-gui/res/cardsfolder/o/obstinate_baloth.txt
  forge-gui/res/cardsfolder/q/quagnoth.txt
  forge-gui/res/cardsfolder/w/wilt_leaf_liege.txt
Labels: Game Mechanics, Rules compliance

#4838 Script fixes
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityCondition.java
  forge-gui/res/cardsfolder/c/cemetery_gatekeeper.txt
  forge-gui/res/cardsfolder/d/denry_klin_editor_in_chief.txt
  forge-gui/res/cardsfolder/g/garza_zol_plague_queen.txt
  forge-gui/res/cardsfolder/h/hedge_whisperer.txt
  forge-gui/res/cardsfolder/l/library_of_leng.txt
  forge-gui/res/cardsfolder/l/loxodon_smiter.txt
  forge-gui/res/cardsfolder/n/nullhide_ferox.txt
  forge-gui/res/cardsfolder/o/obstinate_baloth.txt
  forge-gui/res/cardsfolder/o/orvar_the_all_form.txt
  forge-gui/res/cardsfolder/upcoming/rose_cutthroat_raider.txt
  forge-gui/res/cardsfolder/v/volcano_hellion.txt
  forge-gui/res/cardsfolder/w/wilt_leaf_liege.txt
Labels: Card Patch

#4839 Adventure minor patches
  forge-gui/res/adventure/common/maps/map/barbariancamp/barbariancamp_goblin_3.tmx
  forge-gui/res/adventure/common/maps/map/cave/cave_snake.tmx
  forge-gui/res/adventure/common/maps/map/lavaforge/lavaforge_3_vulcanodragon.tmx
  forge-gui/res/adventure/common/maps/map/tibalt/tibalt_f3.tmx
  forge-gui/res/adventure/common/world/enemies.json
Labels: Adventure

#4835 fix 4812
  forge-game/src/main/java/forge/game/card/Card.java
Labels: Crash fix

#4845 Fix Pure Intentions
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/trigger/TriggerChangesZone.java
  forge-game/src/main/java/forge/game/trigger/WrappedAbility.java
  forge-gui/res/cardsfolder/a/ajanis_last_stand.txt
  forge-gui/res/cardsfolder/d/dingus_egg.txt
  forge-gui/res/cardsfolder/g/gorilla_tactics.txt
  forge-gui/res/cardsfolder/g/guerrilla_tactics.txt
  forge-gui/res/cardsfolder/m/mangaras_blessing.txt
  forge-gui/res/cardsfolder/m/metrognome.txt
  forge-gui/res/cardsfolder/o/orvar_the_all_form.txt
  forge-gui/res/cardsfolder/p/psychic_purge.txt
  forge-gui/res/cardsfolder/p/pure_intentions.txt
  forge-gui/res/cardsfolder/q/quagnoth.txt
  forge-gui/res/cardsfolder/s/sand_golem.txt
  forge-gui/res/cardsfolder/s/spiritual_focus.txt
Labels: Card Patch

#4829 PIP 5 vault cards + 4 more
  forge-gui/res/cardsfolder/upcoming/survivors_med_kit.txt
  forge-gui/res/cardsfolder/upcoming/t45_power_armor.txt
  forge-gui/res/cardsfolder/upcoming/tato_farmer.txt
  forge-gui/res/cardsfolder/upcoming/the_motherlode_excavator.txt
  forge-gui/res/cardsfolder/upcoming/vault_112_sadistic_simulation.txt
  forge-gui/res/cardsfolder/upcoming/vault_11_voters_dilemma.txt
  forge-gui/res/cardsfolder/upcoming/vault_13_dwellers_journey.txt
  forge-gui/res/cardsfolder/upcoming/vault_75_middle_school.txt
  forge-gui/res/cardsfolder/upcoming/vault_87_forced_evolution.txt
Labels: Upcoming Set

#4855 Fix Turf War targeting freeze with enough lands but only same controller
  forge-gui/res/cardsfolder/b/baba_lysaga_night_witch.txt
  forge-gui/res/cardsfolder/l/legolas_counter_of_kills.txt
  forge-gui/res/cardsfolder/r/ravenous_rotbelly.txt
  forge-gui/src/main/java/forge/player/TargetSelection.java
Labels: Card Patch, GUI

#4853 PIP Jason Bright, Glowing Prophet and support
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/upcoming/jason_bright_glowing_prophet.txt
Labels: Upcoming Set

#4851 AbilityUtils LKI support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/a/astarions_thirst.txt
  forge-gui/res/cardsfolder/c/chastise.txt
  forge-gui/res/cardsfolder/d/deaths_caress.txt
  forge-gui/res/cardsfolder/d/devour_in_shadow.txt
  forge-gui/res/cardsfolder/e/essence_vortex.txt
  forge-gui/res/cardsfolder/e/exile.txt
  forge-gui/res/cardsfolder/g/garruk_apex_predator.txt
  forge-gui/res/cardsfolder/g/garruk_the_slayer.txt
  forge-gui/res/cardsfolder/g/grisly_spectacle.txt
  forge-gui/res/cardsfolder/o/orzhov_charm.txt
  forge-gui/res/cardsfolder/p/pyrotechnic_performer.txt
  forge-gui/res/cardsfolder/r/rashida_scalebane.txt
  forge-gui/res/cardsfolder/s/sever_soul.txt
  forge-gui/res/cardsfolder/s/swords_to_plowshares.txt
  forge-gui/res/cardsfolder/u/urza_academy_headmaster.txt
  forge-gui/res/cardsfolder/v/vendetta.txt
  forge-gui/res/cardsfolder/v/vraskas_stoneglare.txt
  forge-gui/res/cardsfolder/w/weed_strangle.txt
Labels: Game Mechanics

#4860 MKC: prisoners_dilemma + support
  forge-game/src/main/java/forge/game/ability/effects/ChooseGenericEffect.java
  forge-game/src/main/java/forge/game/ability/effects/VoteEffect.java
  forge-game/src/main/java/forge/util/MessageUtil.java
  forge-gui/res/cardsfolder/c/cirdan_the_shipwright.txt
  forge-gui/res/cardsfolder/e/elrond_of_the_white_council.txt
  forge-gui/res/cardsfolder/p/prisoners_dilemma.txt
  forge-gui/res/cardsfolder/t/trap_the_trespassers.txt
  forge-gui/res/cardsfolder/t/truth_or_consequences.txt
  forge-gui/res/cardsfolder/upcoming/vault_11_voters_dilemma.txt
  forge-gui/res/languages/en-US.properties
Labels: Game Mechanics

#4854 CLUE 3 cards
  forge-gui/res/cardsfolder/upcoming/dimir_strandcatcher.txt
  forge-gui/res/cardsfolder/upcoming/furious_spinesplitter.txt
  forge-gui/res/cardsfolder/upcoming/headliner_scarlett.txt
Labels: Upcoming Set

#4863 YMKM: sleuth_instructor + support
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-gui/res/cardsfolder/upcoming/sleuth_instructor.txt
Labels: Game Mechanics

#4862 MKC: feather_radiant_arbiter + support
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/f/feather_radiant_arbiter.txt
Labels: Game Mechanics

#4870 OTJ: Commit Crime
  forge-ai/src/main/java/forge/ai/simulation/GameCopier.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/trigger/TriggerCommitCrime.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/upcoming/raven_of_fell_omens.txt
Labels: Upcoming Set, Game Mechanics

#4880 YMKM: juggle_the_performance + support
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-gui/res/cardsfolder/upcoming/juggle_the_performance.txt
Labels: Game Mechanics

#4850 MKC: Boltbender + support
  forge-game/src/main/java/forge/game/ability/effects/ChangeTargetsEffect.java
  forge-gui/res/cardsfolder/b/boltbender.txt
Labels: Game Mechanics

#4809 Keyword: Plot
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardCopyService.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/spellability/AlternativeCost.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPlotZone.java
  forge-gui/res/cardsfolder/upcoming/fblthp_lost_on_the_range.txt
  forge-gui/res/cardsfolder/upcoming/irascible_wolverine.txt
Labels: Upcoming Set, Game Mechanics

#4893 YMKM: rampaging_ursaguana + support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/CardDamageHistory.java
  forge-gui/res/cardsfolder/upcoming/rampaging_ursaguana.txt
Labels: Game Mechanics

#4891 YMKM: ominous_lockbox + support
  forge-game/src/main/java/forge/game/ability/effects/ChooseNumberEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/e/expert_level_safe.txt
  forge-gui/res/cardsfolder/g/goblin_game.txt
  forge-gui/res/cardsfolder/m/menacing_ogre.txt
  forge-gui/res/cardsfolder/t/the_toymakers_trap.txt
  forge-gui/res/cardsfolder/upcoming/ominous_lockbox.txt
  forge-gui/res/cardsfolder/w/wheel_of_misfortune.txt
Labels: Game Mechanics

#4905 OTJ Remaining 8 deserts + 2 more
  forge-gui/res/cardsfolder/upcoming/abraded_bluffs.txt
  forge-gui/res/cardsfolder/upcoming/bristling_backwoods.txt
  forge-gui/res/cardsfolder/upcoming/cactarantula.txt
  forge-gui/res/cardsfolder/upcoming/colossal_rattlewurm.txt
  forge-gui/res/cardsfolder/upcoming/eroded_canyon.txt
  forge-gui/res/cardsfolder/upcoming/forlorn_flats.txt
  forge-gui/res/cardsfolder/upcoming/jagged_barrens.txt
  forge-gui/res/cardsfolder/upcoming/lonely_arroyo.txt
  forge-gui/res/cardsfolder/upcoming/lush_oasis.txt
  forge-gui/res/cardsfolder/upcoming/soured_springs.txt
Labels: Upcoming Set

#4904 PIP: aradesh_the_founder + support
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/cost/CostEnlist.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-gui/res/cardsfolder/a/aradesh_the_founder.txt
Labels: Game Mechanics

#4903 YMKM: roalesk_prime_specimen + support
  forge-core/src/main/java/forge/card/CardFacePredicates.java
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffectBase.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardNameEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/upcoming/roalesk_prime_specimen.txt
Labels: Game Mechanics

#4873 MagicStack: fix fizzle removing too much Targets
  forge-ai/src/main/java/forge/ai/simulation/GameSimulator.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityCondition.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityVariables.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui-desktop/src/test/java/forge/ai/simulation/GameSimulationTest.java
  forge-gui/res/cardsfolder/d/dead_ringers.txt
  forge-gui/res/cardsfolder/g/goblin_welder.txt
  forge-gui/res/cardsfolder/t/the_fall_of_kroog.txt
  forge-gui/res/cardsfolder/y/yosei_the_morning_star.txt
Labels: Game Mechanics, Rules compliance

#4910 PIP: C.A.M.P. + support
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/a/agathas_soul_cauldron.txt
  forge-gui/res/cardsfolder/c/c_a_m_p_.txt
Labels: Game Mechanics

#4915 OTJ 9 cards + 2 new tokens
  forge-gui/res/cardsfolder/upcoming/bovine_intervention.txt
  forge-gui/res/cardsfolder/upcoming/freestrider_lookout.txt
  forge-gui/res/cardsfolder/upcoming/frontier_seeker.txt
  forge-gui/res/cardsfolder/upcoming/honest_rutstein.txt
  forge-gui/res/cardsfolder/upcoming/magda_the_hoardmaster.txt
  forge-gui/res/cardsfolder/upcoming/ruthless_lawbringer.txt
  forge-gui/res/cardsfolder/upcoming/scorching_shot.txt
  forge-gui/res/cardsfolder/upcoming/slickshot_show_off.txt
  forge-gui/res/cardsfolder/upcoming/tinybones_joins_up.txt
  forge-gui/res/tokenscripts/r_4_4_scorpion_dragon_flying_haste.txt
  forge-gui/res/tokenscripts/w_2_2_ox.txt
Labels: Upcoming Set

#4917 OTJ: "committed a crime this turn" support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-gui/res/cardsfolder/upcoming/oko_the_ringleader.txt
  forge-gui/res/cardsfolder/upcoming/servant_of_the_stinger.txt
  forge-gui/res/tokenscripts/g_3_3_elk.txt
Labels: Upcoming Set, Game Mechanics

#4890 YMKM: lurking_spinecrawler
  forge-gui/res/cardsfolder/k/know_evil.txt
  forge-gui/res/cardsfolder/p/plaguecrafter.txt
  forge-gui/res/cardsfolder/s/skull_storm.txt
  forge-gui/res/cardsfolder/upcoming/lurking_spinecrawler.txt
Labels: Game Mechanics, Card Cleanup

#4919 OTC face cards
  forge-gui/res/cardsfolder/c/captive_weird_completed_conjurer.txt
  forge-gui/res/cardsfolder/o/ore_scale_guardian.txt
  forge-gui/res/cardsfolder/upcoming/gonti_canny_acquisitor.txt
  forge-gui/res/cardsfolder/upcoming/olivia_opulent_outlaw.txt
  forge-gui/res/cardsfolder/upcoming/stella_lee_wild_card.txt
  forge-gui/res/cardsfolder/upcoming/yuma_proud_protector.txt
  forge-gui/res/tokenscripts/g_4_2_plant_warrior_reach.txt
Labels: Upcoming Set

#4926 Edition updates: BIG, OTC, OTJ, OTP, SLD, SPG
  forge-gui/res/editions/Breaking News.txt
  forge-gui/res/editions/Outlaws of Thunder Junction Commander.txt
  forge-gui/res/editions/Outlaws of Thunder Junction.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Special Guests.txt
  forge-gui/res/editions/The Big Score.txt
Labels: Upcoming Set

#4896 YMKM 6 cards
  forge-gui/res/cardsfolder/upcoming/scour_the_scene.txt
  forge-gui/res/cardsfolder/upcoming/shove_aside.txt
  forge-gui/res/cardsfolder/upcoming/snarlfang_vermin.txt
  forge-gui/res/cardsfolder/upcoming/sproutwatch_dryad.txt
  forge-gui/res/cardsfolder/upcoming/thought_string_analyst.txt
  forge-gui/res/cardsfolder/upcoming/veko_deaths_doorkeeper.txt
Labels: Upcoming Set

#4920 OTJ 10 cards
  forge-gui/res/cardsfolder/upcoming/arid_archway.txt
  forge-gui/res/cardsfolder/upcoming/armored_armadillo.txt
  forge-gui/res/cardsfolder/upcoming/assimilation_aegis.txt
  forge-gui/res/cardsfolder/upcoming/badlands_revival.txt
  forge-gui/res/cardsfolder/upcoming/baron_bertram_graywater.txt
  forge-gui/res/cardsfolder/upcoming/beastbond_outcaster.txt
  forge-gui/res/cardsfolder/upcoming/binding_negotiation.txt
  forge-gui/res/cardsfolder/upcoming/bonny_pall_clearcutter.txt
  forge-gui/res/cardsfolder/upcoming/bristly_bill_spine_sower.txt
  forge-gui/res/cardsfolder/upcoming/bruse_tarl_roving_rancher.txt
  forge-gui/res/tokenscripts/b_1_1_vampire_rogue_lifelink.txt
  forge-gui/res/tokenscripts/beau.txt
Labels: Upcoming Set

#4906 OTJ: Annie Flash, Kellan, Gisa
  forge-gui/res/cardsfolder/a/ardent_dustspeaker.txt
  forge-gui/res/cardsfolder/o/ovika_enigma_goliath.txt
  forge-gui/res/cardsfolder/q/quintorius_kand.txt
  forge-gui/res/cardsfolder/r/rob_the_archives.txt
  forge-gui/res/cardsfolder/rebalanced/a-ardent_dustspeaker.txt
  forge-gui/res/cardsfolder/s/sword_of_forge_and_frontier.txt
  forge-gui/res/cardsfolder/upcoming/annie_flash_the_veteran.txt
  forge-gui/res/cardsfolder/upcoming/gisa_the_hellraiser.txt
  forge-gui/res/cardsfolder/upcoming/kellan_the_kid.txt
  forge-gui/res/cardsfolder/w/wild_wasteland.txt
  forge-gui/res/cardsfolder/w/witch_king_sky_scourge.txt
  forge-gui/res/tokenscripts/ub_2_2_zombie_rogue.txt
Labels: Upcoming Set, Card Cleanup

#4929 Edition updates: OTJ, SCH, SPG
  forge-gui/res/editions/Outlaws of Thunder Junction.txt
  forge-gui/res/editions/Special Guests.txt
  forge-gui/res/editions/Store Championships.txt
Labels: Upcoming Set

#4924 Fix Boneyard Scourge triggering from itself dying
  forge-game/src/main/java/forge/game/trigger/TriggerChangesZone.java
  forge-gui/res/cardsfolder/b/boneyard_scourge.txt
Labels: bug
