Repository Card-Forge/forge, pull requests merged in 2024-02, with the labels that each got.

#4617 Add puzzles PS_RVR1 and PS_RVR2
  forge-gui/res/puzzle/PS_RVR1.pzl
  forge-gui/res/puzzle/PS_RVR2.pzl
Labels: Puzzle Mode

#4611 MKM 8 cards
  forge-gui/res/cardsfolder/upcoming/caught_red_handed.txt
  forge-gui/res/cardsfolder/upcoming/cease_desist.txt
  forge-gui/res/cardsfolder/upcoming/cerebral_confiscation.txt
  forge-gui/res/cardsfolder/upcoming/chalk_outline.txt
  forge-gui/res/cardsfolder/upcoming/clandestine_meddler.txt
  forge-gui/res/cardsfolder/upcoming/coerced_to_kill.txt
  forge-gui/res/cardsfolder/upcoming/cold_case_cracker.txt
  forge-gui/res/cardsfolder/upcoming/leyline_of_the_guildpact.txt
Labels: Upcoming Set

#4614 Draw: use Cause if able
  forge-game/src/main/java/forge/game/ability/effects/DrawEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RevealEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/a/academy_loremaster.txt
  forge-gui/res/cardsfolder/a/alms_collector.txt
  forge-gui/res/cardsfolder/a/ancient_excavation.txt
  forge-gui/res/cardsfolder/c/cut_a_deal.txt
  forge-gui/res/cardsfolder/e/explosion_of_riches.txt
  forge-gui/res/cardsfolder/f/force_away.txt
  forge-gui/res/cardsfolder/h/hordewing_skaab.txt
  forge-gui/res/cardsfolder/k/kwain_itinerant_meddler.txt
  forge-gui/res/cardsfolder/l/laquatuss_creativity.txt
  forge-gui/res/cardsfolder/m/messenger_jays.txt
  forge-gui/res/cardsfolder/r/read_the_runes.txt
  forge-gui/res/cardsfolder/t/the_royal_scions.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Card Patch, Rules compliance

#4608 MKM 5 cards
  forge-game/src/main/java/forge/game/cost/CostCollectEvidence.java
  forge-gui/res/cardsfolder/upcoming/fae_flight.txt
  forge-gui/res/cardsfolder/upcoming/kyloxs_voltstrider.txt
  forge-gui/res/cardsfolder/upcoming/lamplight_phoenix.txt
  forge-gui/res/cardsfolder/upcoming/marketwatch_phantom.txt
  forge-gui/res/cardsfolder/upcoming/public_thoroughfare.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Upcoming Set

#4604 MKM 21 cards
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/m/magnifying_glass.txt
  forge-gui/res/cardsfolder/upcoming/agency_coroner.txt
  forge-gui/res/cardsfolder/upcoming/agency_outfitter.txt
  forge-gui/res/cardsfolder/upcoming/analyze_the_pollen.txt
  forge-gui/res/cardsfolder/upcoming/anzrags_rampage.txt
  forge-gui/res/cardsfolder/upcoming/audience_with_trostani.txt
  forge-gui/res/cardsfolder/upcoming/axebane_ferox.txt
  forge-gui/res/cardsfolder/upcoming/call_a_surprise_witness.txt
  forge-gui/res/cardsfolder/upcoming/candlestick.txt
  forge-gui/res/cardsfolder/upcoming/cornered_crook.txt
  forge-gui/res/cardsfolder/upcoming/curious_inquiry.txt
  forge-gui/res/cardsfolder/upcoming/doorkeeper_thrull.txt
  forge-gui/res/cardsfolder/upcoming/gravestone_strider.txt
  forge-gui/res/cardsfolder/upcoming/griffnaut_tracker.txt
  forge-gui/res/cardsfolder/upcoming/haazda_vigilante.txt
  forge-gui/res/cardsfolder/upcoming/hard_hitting_question.txt
  forge-gui/res/cardsfolder/upcoming/hustle_bustle.txt
  forge-gui/res/cardsfolder/upcoming/ill_timed_explosion.txt
  forge-gui/res/cardsfolder/upcoming/illicit_masquerade.txt
  forge-gui/res/cardsfolder/upcoming/rope.txt
  forge-gui/res/cardsfolder/upcoming/thinking_cap.txt
  forge-gui/res/cardsfolder/upcoming/wrench.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Upcoming Set

#4615 MKM 10 cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/t/tishanas_tidebinder.txt
  forge-gui/res/cardsfolder/upcoming/cryptex.txt
  forge-gui/res/cardsfolder/upcoming/detectives_satchel.txt
  forge-gui/res/cardsfolder/upcoming/dog_walker.txt
  forge-gui/res/cardsfolder/upcoming/dramatic_accusation.txt
  forge-gui/res/cardsfolder/upcoming/on_the_job.txt
  forge-gui/res/cardsfolder/upcoming/reenact_the_crime.txt
  forge-gui/res/cardsfolder/upcoming/relive_the_past.txt
  forge-gui/res/cardsfolder/upcoming/repulsive_mutation.txt
  forge-gui/res/cardsfolder/upcoming/riftburst_hellion.txt
  forge-gui/res/cardsfolder/upcoming/rot_farm_mortipede.txt
Labels: Upcoming Set

#4620 MKM last 3 mythics
  forge-gui/res/cardsfolder/upcoming/aurelias_vindicator.txt
  forge-gui/res/cardsfolder/upcoming/etrata_deadly_fugitive.txt
  forge-gui/res/cardsfolder/upcoming/urgent_necropsy.txt
Labels: Upcoming Set

#4634 Always recheck ActivationLimit
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-gui/res/cardsfolder/c/chainer_nightmare_adept.txt
  forge-gui/res/cardsfolder/r/renewed_faith.txt
Labels: Game Mechanics

#4619 Fix ChangeText not being fully applied for trigger effects + traits gained by static
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/ability/effects/AmassEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
Labels: bug

#4630 MKM 10 cards
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/AlterAttributeEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/upcoming/cryptic_coat.txt
  forge-gui/res/cardsfolder/upcoming/eliminate_the_impossible.txt
  forge-gui/res/cardsfolder/upcoming/essence_of_antiquity.txt
  forge-gui/res/cardsfolder/upcoming/exit_specialist.txt
  forge-gui/res/cardsfolder/upcoming/frantic_scapegoat.txt
  forge-gui/res/cardsfolder/upcoming/fugitive_codebreaker.txt
  forge-gui/res/cardsfolder/upcoming/gadget_technician.txt
  forge-gui/res/cardsfolder/upcoming/granite_witness.txt
  forge-gui/res/cardsfolder/upcoming/greenbelt_radical.txt
  forge-gui/res/cardsfolder/upcoming/hunted_bonebrute.txt
Labels: Upcoming Set

#4624 MKM 20 cards
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/alley_assailant.txt
  forge-gui/res/cardsfolder/upcoming/barbed_servitor.txt
  forge-gui/res/cardsfolder/upcoming/basilica_stalker.txt
  forge-gui/res/cardsfolder/upcoming/behind_the_mask.txt
  forge-gui/res/cardsfolder/upcoming/bolrac_clan_basher.txt
  forge-gui/res/cardsfolder/upcoming/branch_of_vitu_ghazi.txt
  forge-gui/res/cardsfolder/upcoming/bubble_smuggler.txt
  forge-gui/res/cardsfolder/upcoming/concealed_weapon.txt
  forge-gui/res/cardsfolder/upcoming/coveted_falcon.txt
  forge-gui/res/cardsfolder/upcoming/furtive_courier.txt
  forge-gui/res/cardsfolder/upcoming/leering_onlooker.txt
  forge-gui/res/cardsfolder/upcoming/living_conundrum.txt
  forge-gui/res/cardsfolder/upcoming/lumbering_laundry.txt
  forge-gui/res/cardsfolder/upcoming/macabre_reconstruction.txt
  forge-gui/res/cardsfolder/upcoming/magnetic_snuffler.txt
  forge-gui/res/cardsfolder/upcoming/makeshift_binding.txt
  forge-gui/res/cardsfolder/upcoming/mistway_spy.txt
  forge-gui/res/cardsfolder/upcoming/worldsouls_rage.txt
  forge-gui/res/cardsfolder/upcoming/yarus_roar_of_the_old_gods.txt
Labels: Upcoming Set

#4612 Fix ResolvedLimit not accounting for multiple controllers
  forge-game/src/main/java/forge/game/card/ActivationTable.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-game/src/main/java/forge/game/trigger/WrappedAbility.java
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Rules compliance

#4599 MKC: serene_sleuth.txt + support
  forge-game/src/main/java/forge/game/ability/effects/GoadEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/upcoming/serene_sleuth.txt
Labels: Upcoming Set, Game Mechanics

#4626 Adventure - Editor fix, minor quest updates
  forge-adventure/src/main/java/forge/adventure/editor/EditorMainWindow.java
  forge-adventure/src/main/java/forge/adventure/editor/QuestStageEdit.java
  forge-gui-mobile/src/forge/adventure/data/AdventureQuestData.java
  forge-gui-mobile/src/forge/adventure/data/AdventureQuestStage.java
  forge-gui-mobile/src/forge/adventure/scene/InventoryScene.java
  forge-gui-mobile/src/forge/adventure/util/AdventureQuestController.java
  forge-gui-mobile/src/forge/adventure/util/AdventureQuestEvent.java
  forge-gui/res/adventure/Shandalar/world/quests.json
Labels: Adventure

#4640 Edition updates: CLU, PW24, SLD, SLP
  forge-gui/res/editions/Ravnica Clue Edition.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Secret Lair Showdown.txt
  forge-gui/res/editions/Wizards Play Network 2024.txt
Labels: Upcoming Set

#4638 Cybership fix
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/combat/Combat.java
  forge-gui/res/cardsfolder/a/anoint_with_affliction.txt
  forge-gui/res/cardsfolder/c/cybership.txt
  forge-gui/res/cardsfolder/m/mishra_claimed_by_gix_mishra_lost_to_phyrexia.txt
  forge-gui/res/cardsfolder/upcoming/yarus_roar_of_the_old_gods.txt
  forge-gui/res/cardsfolder/w/wilfred_mott.txt
Labels: bug

#4650 4 small adventure fixes
  forge-gui/res/adventure/common/custom_cards/jace_boss_effect.txt
  forge-gui/res/adventure/common/maps/map/emrakul/emrakul_legacy.tmx
  forge-gui/res/adventure/common/maps/map/fort/fort_green_3_forestcastle.tmx
  forge-gui/res/adventure/common/maps/map/grove/grove_8_hydra.tmx
Labels: Adventure

#4649 PlayEffect: support AltCosts
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilAbility.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCombat.java
  forge-ai/src/main/java/forge/ai/ability/DiscoverAi.java
  forge-ai/src/main/java/forge/ai/ability/PlayAi.java
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DiscoverEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/combat/Combat.java
  forge-game/src/main/java/forge/game/spellability/Spell.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-gui/res/cardsfolder/i/inventive_iteration_living_breakthrough.txt
  forge-gui/res/cardsfolder/k/karn_the_great_creator.txt
  forge-gui/res/cardsfolder/l/linvala_keeper_of_silence.txt
  forge-gui/res/cardsfolder/p/press_the_enemy.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputPayMana.java
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Game Mechanics, Rules compliance

#4651 MKM 9 cards
  forge-gui/res/cardsfolder/upcoming/extract_a_confession.txt
  forge-gui/res/cardsfolder/upcoming/faerie_snoop.txt
  forge-gui/res/cardsfolder/upcoming/flotsam_flotsam.txt
  forge-gui/res/cardsfolder/upcoming/flourishing_bloom_kin.txt
  forge-gui/res/cardsfolder/upcoming/lazav_wearer_of_faces.txt
  forge-gui/res/cardsfolder/upcoming/seasoned_consultant.txt
  forge-gui/res/cardsfolder/upcoming/shady_informant.txt
  forge-gui/res/cardsfolder/upcoming/slice_from_the_shadows.txt
  forge-gui/res/cardsfolder/upcoming/slimy_dualleech.txt
Labels: Upcoming Set

#4655 Update grove_8_hydra.tmx
  forge-gui/res/adventure/common/maps/map/grove/grove_8_hydra.tmx
Labels: Adventure

#4652 Simplyfy Cloak and Manifest Effects
  forge-ai/src/main/java/forge/ai/ability/CloakAi.java
  forge-ai/src/main/java/forge/ai/ability/ManifestAi.java
  forge-ai/src/main/java/forge/ai/ability/ManifestBaseAi.java
  forge-game/src/main/java/forge/game/ability/effects/CloakEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ManifestBaseEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ManifestEffect.java
Labels: Upcoming Set, Game Mechanics

#4660 Red castle gate fix
  forge-gui/res/adventure/common/maps/map/fort/fort_colorless_2_wizards.tmx
  forge-gui/res/adventure/common/maps/map/main_story/castles/red_castle.tmx
Labels: Adventure

#4662 Few fixes
  forge-game/src/main/java/forge/game/ability/effects/DamageDealEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SetStateEffect.java
  forge-game/src/main/java/forge/game/cost/CostDiscard.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/c/conundrum_sphinx.txt
  forge-gui/res/cardsfolder/s/sunder_the_gateway.txt
  forge-gui/res/cardsfolder/u/ugins_mastery.txt
  forge-gui/res/cardsfolder/upcoming/hustle_bustle.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Card Cleanup

#4666 Fix Disguise Ward not triggering
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
Labels: bug

#4657 MKM 10 cards
  forge-gui/res/cardsfolder/p/pine_walker.txt
  forge-gui/res/cardsfolder/upcoming/officious_interrogation.txt
  forge-gui/res/cardsfolder/upcoming/pyrotechnic_performer.txt
  forge-gui/res/cardsfolder/upcoming/sample_collector.txt
  forge-gui/res/cardsfolder/upcoming/sanctuary_wall.txt
  forge-gui/res/cardsfolder/upcoming/sanitation_automaton.txt
  forge-gui/res/cardsfolder/upcoming/snarling_gorehound.txt
  forge-gui/res/cardsfolder/upcoming/soul_enervation.txt
  forge-gui/res/cardsfolder/upcoming/steamcore_scholar.txt
  forge-gui/res/cardsfolder/upcoming/tenth_district_hero.txt
  forge-gui/res/cardsfolder/upcoming/unyielding_gatekeeper.txt
Labels: Upcoming Set

#4679 MKM 6 cards
  forge-gui/res/cardsfolder/upcoming/offender_at_large.txt
  forge-gui/res/cardsfolder/upcoming/perimeter_enforcer.txt
  forge-gui/res/cardsfolder/upcoming/person_of_interest.txt
  forge-gui/res/cardsfolder/upcoming/persuasive_interrogators.txt
  forge-gui/res/cardsfolder/upcoming/polygraph_orb.txt
  forge-gui/res/cardsfolder/upcoming/presumed_dead.txt
Labels: Upcoming Set

#4665 MKM 13 cards
  forge-gui/res/cardsfolder/upcoming/case_of_the_gateway_express.txt
  forge-gui/res/cardsfolder/upcoming/case_of_the_shattered_pact.txt
  forge-gui/res/cardsfolder/upcoming/case_of_the_uneaten_feast.txt
  forge-gui/res/cardsfolder/upcoming/convenient_target.txt
  forge-gui/res/cardsfolder/upcoming/crowd_control_warden.txt
  forge-gui/res/cardsfolder/upcoming/culvert_ambusher.txt
  forge-gui/res/cardsfolder/upcoming/deadly_complication.txt
  forge-gui/res/cardsfolder/upcoming/expose_the_culprit.txt
  forge-gui/res/cardsfolder/upcoming/museum_nightwatch.txt
  forge-gui/res/cardsfolder/upcoming/neighborhood_guardian.txt
  forge-gui/res/cardsfolder/upcoming/nervous_gardener.txt
  forge-gui/res/cardsfolder/upcoming/nightdrinker_moroii.txt
  forge-gui/res/cardsfolder/upcoming/sanguine_savior.txt
Labels: Upcoming Set

#4688 MKM 6 cards
  forge-gui/res/cardsfolder/upcoming/rakish_scoundrel.txt
  forge-gui/res/cardsfolder/upcoming/reasonable_doubt.txt
  forge-gui/res/cardsfolder/upcoming/reckless_detective.txt
  forge-gui/res/cardsfolder/upcoming/rubblebelt_braggart.txt
  forge-gui/res/cardsfolder/upcoming/rubblebelt_maverick.txt
  forge-gui/res/cardsfolder/upcoming/rune_brand_juggler.txt
Labels: Upcoming Set

#4698 MKM: add hasNoName
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/upcoming/pompous_gadabout.txt
Labels: Upcoming Set, Game Mechanics

#4699 Fix scripts
  forge-gui/res/cardsfolder/a/axgard_armory.txt
  forge-gui/res/cardsfolder/c/cavalcade_of_calamity.txt
  forge-gui/res/cardsfolder/f/fathom_fleet_swordjack.txt
  forge-gui/res/cardsfolder/h/hellrider.txt
  forge-gui/res/cardsfolder/i/invert_invent.txt
  forge-gui/res/cardsfolder/m/mage_slayer.txt
  forge-gui/res/cardsfolder/m/myr_battlesphere.txt
  forge-gui/res/cardsfolder/r/raid_bombardment.txt
  forge-gui/res/cardsfolder/r/rakdos_roustabout.txt
  forge-gui/res/cardsfolder/s/scorch_spitter.txt
  forge-gui/res/cardsfolder/t/thran_vigil.txt
Labels: Card Patch

#4697 MKM 11 cards
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/PumpEffect.java
  forge-gui/res/cardsfolder/upcoming/airtight_alibi.txt
  forge-gui/res/cardsfolder/upcoming/bite_down_on_crime.txt
  forge-gui/res/cardsfolder/upcoming/case_of_the_burning_masks.txt
  forge-gui/res/cardsfolder/upcoming/deadly_cover_up.txt
  forge-gui/res/cardsfolder/upcoming/hide_in_plain_sight.txt
  forge-gui/res/cardsfolder/upcoming/projektor_inspector.txt
  forge-gui/res/cardsfolder/upcoming/push_pull.txt
  forge-gui/res/cardsfolder/upcoming/soul_search.txt
  forge-gui/res/cardsfolder/upcoming/sudden_setback.txt
  forge-gui/res/cardsfolder/upcoming/suspicious_detonation.txt
  forge-gui/res/cardsfolder/upcoming/vitu_ghazi_inspector.txt
Labels: Upcoming Set

#4702 MKC 8 cards
  forge-gui/res/cardsfolder/upcoming/follow_the_bodies.txt
  forge-gui/res/cardsfolder/upcoming/on_the_trail.txt
  forge-gui/res/cardsfolder/upcoming/ransom_note.txt
  forge-gui/res/cardsfolder/upcoming/redemption_arc.txt
  forge-gui/res/cardsfolder/upcoming/tangletrove_kelp.txt
  forge-gui/res/cardsfolder/upcoming/tesak_judiths_hellhound.txt
  forge-gui/res/cardsfolder/upcoming/trouble_in_pairs.txt
  forge-gui/res/cardsfolder/upcoming/unshakable_tail.txt
Labels: Upcoming Set

#4706 AbilityUtils: add DifferentColorPair
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/niv_mizzet_guildpact.txt
Labels: Upcoming Set, Game Mechanics

#4707 MKC 5 cards
  forge-gui/res/cardsfolder/upcoming/armed_with_proof.txt
  forge-gui/res/cardsfolder/upcoming/charnel_serenade.txt
  forge-gui/res/cardsfolder/upcoming/copy_catchers.txt
  forge-gui/res/cardsfolder/upcoming/counterpoint.txt
  forge-gui/res/cardsfolder/upcoming/detective_of_the_month.txt
Labels: Upcoming Set

#4710 Script updates
  forge-gui/res/cardsfolder/a/alluring_suitor_deadly_dancer.txt
  forge-gui/res/cardsfolder/b/brotherhoods_end.txt
  forge-gui/res/cardsfolder/c/cankerbloom.txt
  forge-gui/res/cardsfolder/c/chivalric_alliance.txt
  forge-gui/res/cardsfolder/f/firemane_commando.txt
  forge-gui/res/cardsfolder/f/flummoxed_cyclops.txt
  forge-gui/res/cardsfolder/g/gallia_of_the_endless_dance.txt
  forge-gui/res/cardsfolder/g/gideon_the_oathsworn.txt
  forge-gui/res/cardsfolder/h/harbin_vanguard_aviator.txt
  forge-gui/res/cardsfolder/i/inniaz_the_gale_force.txt
  forge-gui/res/cardsfolder/l/legions_landing_adanto_the_first_fort.txt
  forge-gui/res/cardsfolder/m/military_intelligence.txt
  forge-gui/res/cardsfolder/o/overwhelming_instinct.txt
  forge-gui/res/cardsfolder/p/phoenix_chick.txt
  forge-gui/res/cardsfolder/p/plargg_dean_of_chaos_augusta_dean_of_order.txt
  forge-gui/res/cardsfolder/t/tide_skimmer.txt
  forge-gui/res/cardsfolder/upcoming/aurelia_the_law_above.txt
  forge-gui/res/cardsfolder/upcoming/behind_the_mask.txt
  forge-gui/res/cardsfolder/upcoming/deadly_cover_up.txt
  forge-gui/res/cardsfolder/upcoming/karlov_watchdog.txt
  forge-gui/res/cardsfolder/upcoming/meddling_youths.txt
  forge-gui/res/cardsfolder/upcoming/perimeter_enforcer.txt
  forge-gui/res/cardsfolder/upcoming/seasoned_consultant.txt
  forge-gui/res/cardsfolder/w/warcry_phoenix.txt
Labels: Card Cleanup

#4717 Edition updates: CLU, MKC, MKM, PH22, PIP, SLD, SLP
  forge-gui/res/editions/2022 Heroes of the Realm.txt
  forge-gui/res/editions/Fallout Commander.txt
  forge-gui/res/editions/Murders at Karlov Manor Commander.txt
  forge-gui/res/editions/Murders at Karlov Manor.txt
  forge-gui/res/editions/Ravnica Clue Edition.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Secret Lair Showdown.txt
Labels: Upcoming Set

#4720 Add puzzle PS_MKM1
  forge-gui/res/puzzle/PS_MKM1.pzl
Labels: Puzzle Mode

#4714 Card: add surveilledThisTurn
  forge-game/src/main/java/forge/game/ability/effects/SurveilEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/upcoming/eye_of_duskmantle.txt
Labels: Upcoming Set, Game Mechanics

#4724 Card: Suspected use 'CARDNAME can't block' StaticAbility
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/combat/CombatUtil.java
Labels: Game Mechanics

#4727 Refactor StaticAbilityCantPhaseIn and StaticAbilityCantPhaseOut
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/phase/Untap.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantPhase.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantPhaseIn.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantPhaseOut.java
Labels: good first issue, Game Mechanics

#4712 MKC 7 cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/final_word_phantom.txt
  forge-gui/res/cardsfolder/upcoming/foreboding_steamboat.txt
  forge-gui/res/cardsfolder/upcoming/havoc_eater.txt
  forge-gui/res/cardsfolder/upcoming/immortal_obligation.txt
  forge-gui/res/cardsfolder/upcoming/innocuous_researcher.txt
  forge-gui/res/cardsfolder/upcoming/knowledge_is_power.txt
  forge-gui/res/cardsfolder/upcoming/merchant_of_truth.txt
Labels: Upcoming Set

#4729 Edition updates: PIP
  forge-gui/res/editions/Fallout Commander.txt
Labels: Upcoming Set

#4715 CLUE 10 cards + 1 MKM
  forge-gui/res/cardsfolder/upcoming/amzu_swarms_hunger.txt
  forge-gui/res/cardsfolder/upcoming/boros_strike_captain.txt
  forge-gui/res/cardsfolder/upcoming/carnage_interpreter.txt
  forge-gui/res/cardsfolder/upcoming/conclave_evangelist.txt
  forge-gui/res/cardsfolder/upcoming/corporeal_projection.txt
  forge-gui/res/cardsfolder/upcoming/covetous_elegy.txt
  forge-gui/res/cardsfolder/upcoming/ecstatic_electromancer.txt
  forge-gui/res/cardsfolder/upcoming/emissary_green.txt
  forge-gui/res/cardsfolder/upcoming/forum_familiar.txt
  forge-gui/res/cardsfolder/upcoming/frenzied_gorespawn.txt
  forge-gui/res/cardsfolder/upcoming/mastermind_plum.txt
Labels: Upcoming Set

#4730 Fix Profane Command
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/b/breena_the_demagogue.txt
  forge-gui/res/cardsfolder/c/confront_the_past.txt
  forge-gui/res/cardsfolder/c/crawling_sensation.txt
  forge-gui/res/cardsfolder/d/doomsday_confluence.txt
  forge-gui/res/cardsfolder/f/frontier_warmonger.txt
  forge-gui/res/cardsfolder/l/lord_of_the_nazgul.txt
  forge-gui/res/cardsfolder/o/orcus_prince_of_undeath.txt
  forge-gui/res/cardsfolder/p/profane_command.txt
  forge-gui/res/cardsfolder/s/stonebinders_familiar.txt
  forge-gui/src/main/java/forge/gamemodes/puzzle/Puzzle.java
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Card Patch

#4732 Edition updates: ACR, BIG, BLB, BLC, M3C, MH3, OTC, OTJ, OTP, PIP
  forge-gui/res/editions/Assassin's Creed.txt
  forge-gui/res/editions/Bloomburrow Commander.txt
  forge-gui/res/editions/Bloomburrow.txt
  forge-gui/res/editions/Breaking News.txt
  forge-gui/res/editions/Fallout Commander.txt
  forge-gui/res/editions/Modern Horizons 3 Commander.txt
  forge-gui/res/editions/Modern Horizons 3.txt
  forge-gui/res/editions/Outlaws of Thunder Junction Commander.txt
  forge-gui/res/editions/Outlaws of Thunder Junction.txt
  forge-gui/res/editions/The Big Score.txt
Labels: Upcoming Set

#4733 Edition fixes: ACR, MH3
  forge-gui/res/editions/Assassin's Creed.txt
  forge-gui/res/editions/Modern Horizons 3.txt
Labels: Upcoming Set

#4731 PIP 10 cards
  forge-gui/res/cardsfolder/upcoming/agility_bobblehead.txt
  forge-gui/res/cardsfolder/upcoming/charisma_bobblehead.txt
  forge-gui/res/cardsfolder/upcoming/desolate_mire.txt
  forge-gui/res/cardsfolder/upcoming/endurance_bobblehead.txt
  forge-gui/res/cardsfolder/upcoming/ferrous_lake.txt
  forge-gui/res/cardsfolder/upcoming/overflowing_basin.txt
  forge-gui/res/cardsfolder/upcoming/perception_bobblehead.txt
  forge-gui/res/cardsfolder/upcoming/strength_bobblehead.txt
  forge-gui/res/cardsfolder/upcoming/sunscorched_divide.txt
  forge-gui/res/cardsfolder/upcoming/viridescent_bog.txt
Labels: Upcoming Set

#4736 PIP 14 cards
  forge-game/src/main/java/forge/game/GameEntityCounterTable.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/upcoming/assaultron_dominator.txt
  forge-gui/res/cardsfolder/upcoming/brotherhood_outcast.txt
  forge-gui/res/cardsfolder/upcoming/crimson_caravaneer.txt
  forge-gui/res/cardsfolder/upcoming/duchess_wayward_tavernkeep.txt
  forge-gui/res/cardsfolder/upcoming/liberty_prime_recharged.txt
  forge-gui/res/cardsfolder/upcoming/lumbering_megasloth.txt
  forge-gui/res/cardsfolder/upcoming/plasma_caster.txt
  forge-gui/res/cardsfolder/upcoming/powder_ganger.txt
  forge-gui/res/cardsfolder/upcoming/robobrain_war_mind.txt
  forge-gui/res/cardsfolder/upcoming/ruthless_radrat.txt
  forge-gui/res/cardsfolder/upcoming/securitron_squadron.txt
  forge-gui/res/cardsfolder/upcoming/sentry_bot.txt
  forge-gui/res/cardsfolder/upcoming/synth_infiltrator.txt
  forge-gui/res/cardsfolder/upcoming/watchful_radstag.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set

#4737 Edition updates: PIP, SLD
  forge-gui/res/editions/Fallout Commander.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#4739 Edition updates: MH3, PIP, SLD, SPG
  forge-gui/res/editions/Fallout Commander.txt
  forge-gui/res/editions/Modern Horizons 3.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Special Guests.txt
Labels: Upcoming Set

#4738 PIP 15 cards
  forge-gui/res/cardsfolder/upcoming/acquired_mutation.txt
  forge-gui/res/cardsfolder/upcoming/almost_perfect.txt
  forge-gui/res/cardsfolder/upcoming/animal_friend.txt
  forge-gui/res/cardsfolder/upcoming/arcade_gannon.txt
  forge-gui/res/cardsfolder/upcoming/armory_paladin.txt
  forge-gui/res/cardsfolder/upcoming/atomize.txt
  forge-gui/res/cardsfolder/upcoming/automated_assembly_line.txt
  forge-gui/res/cardsfolder/upcoming/battle_of_hoover_dam.txt
  forge-gui/res/cardsfolder/upcoming/behemoth_of_vault_0.txt
  forge-gui/res/cardsfolder/upcoming/bighorner_rancher.txt
  forge-gui/res/cardsfolder/upcoming/bloatfly_swarm.txt
  forge-gui/res/cardsfolder/upcoming/boomer_scrapper.txt
  forge-gui/res/cardsfolder/upcoming/bottle_cap_blast.txt
  forge-gui/res/cardsfolder/upcoming/break_down.txt
  forge-gui/res/cardsfolder/upcoming/brotherhood_scribe.txt
Labels: Upcoming Set

#4735 Support for The Master, Transcendent
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
  forge-gui/res/cardsfolder/e/evolving_adaptive.txt
Labels: Upcoming Set

#4749 Edition updates: BIG, MH3, OTJ, SLD, YMKM
  forge-gui/res/editions/Alchemy Karlov Manor.txt
  forge-gui/res/editions/Modern Horizons 3.txt
  forge-gui/res/editions/Outlaws of Thunder Junction.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/The Big Score.txt
Labels: Upcoming Set

#4632 CantExile: add checks for Effects and Costs
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/AddTurnEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CounterEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DamagePreventEffectBase.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigMultipleEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DraftEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/ability/effects/FogEffect.java
  forge-game/src/main/java/forge/game/ability/effects/MeldEffect.java
  forge-game/src/main/java/forge/game/ability/effects/MutateEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RegenerateBaseEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ReplaceDamageEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ReplaceSplitDamageEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SetInMotionEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SkipPhaseEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SkipTurnEffect.java
  forge-game/src/main/java/forge/game/ability/effects/VentureEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardPredicates.java
  forge-game/src/main/java/forge/game/cost/CostCollectEvidence.java
  forge-game/src/main/java/forge/game/cost/CostExile.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/AbilityManaPart.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantExile.java
  forge-gui/res/cardsfolder/upcoming/the_master_multiplied.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Upcoming Set, Game Mechanics

#4750 MKM: case_file_auditor + support
  forge-game/src/main/java/forge/game/ability/effects/AlterAttributeEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerCaseSolved.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-gui/res/cardsfolder/upcoming/case_file_auditor.txt
  forge-gui/res/cardsfolder/upcoming/evidence_examiner.txt
Labels: Upcoming Set, Game Mechanics

#4744 Fix Crawling Sensation + related tweaks
  forge-ai/src/main/java/forge/ai/ability/FightAi.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ConniveEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CounterEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EndCombatPhaseEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EndTurnEffect.java
  forge-game/src/main/java/forge/game/ability/effects/HauntEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardZoneTable.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/trigger/TriggerChangesZoneAll.java
  forge-game/src/main/java/forge/game/zone/Zone.java
  forge-gui/res/cardsfolder/c/crawling_sensation.txt
  forge-gui/res/cardsfolder/g/graceful_takedown.txt
  forge-gui/res/cardsfolder/l/last_night_together.txt
  forge-gui/res/cardsfolder/upcoming/assaultron_dominator.txt
  forge-gui/res/cardsfolder/w/warlords_elite.txt
Labels: Game Mechanics, Card Patch, Rules compliance

#4751 Consolidate CardZoneTable logic
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ConniveEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CounterEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DestroyAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DestroyEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EncodeEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EndCombatPhaseEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EndTurnEffect.java
  forge-game/src/main/java/forge/game/ability/effects/HauntEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ManifestBaseEffect.java
  forge-game/src/main/java/forge/game/ability/effects/MeldEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SacrificeAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SacrificeEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardZoneTable.java
  forge-game/src/main/java/forge/game/combat/Combat.java
  forge-game/src/main/java/forge/game/cost/CostExileFromStack.java
  forge-game/src/main/java/forge/game/cost/CostMill.java
Labels: Game Mechanics

#4759 Add puzzle PS_MKM2.
  forge-gui/res/puzzle/PS_MKM2.pzl
Labels: Puzzle Mode
