Repository Card-Forge/forge, pull requests merged in 2024-11, with the labels that each got.

#6500 Edition updates: FDN, J25, PLTC
  forge-gui/res/editions/Foundations Jumpstart.txt
  forge-gui/res/editions/Foundations.txt
  forge-gui/res/editions/Tales of Middle-earth Deluxe Commander Kit.txt
Labels: Upcoming Set

#6501 Fix Hungry Ghoul
  forge-gui/res/cardsfolder/upcoming/hungry_ghoul.txt
Labels: Card Cleanup

#6509 Edition updates: FDN
  forge-gui/res/editions/Foundations.txt
Labels: Upcoming Set

#6512 Fix Strix Lookout
  forge-gui/res/cardsfolder/upcoming/strix_lookout.txt
Labels: Card Cleanup

#6506 Improve AI for Scry when X payment is necessary (avoid X=0)
  forge-ai/src/main/java/forge/ai/ability/ScryAi.java
Labels: bug, AI

#6535 Edition updates: FDN
  forge-gui/res/editions/Foundations.txt
Labels: Upcoming Set

#6537 update format filters for Adventure Deck Editor
  forge-gui-mobile/src/forge/adventure/scene/AdventureDeckEditor.java
  forge-gui-mobile/src/forge/itemmanager/ItemManager.java
  forge-gui-mobile/src/forge/itemmanager/filters/FormatFilter.java
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/itemmanager/ItemManagerConfig.java
Labels: Adventure

#6539 prevent townPriceModifier NPE
  forge-gui-mobile/src/forge/adventure/character/ShopActor.java
  forge-gui-mobile/src/forge/adventure/data/AdventureEventData.java
  forge-gui-mobile/src/forge/adventure/player/AdventurePlayer.java
  forge-gui-mobile/src/forge/adventure/scene/EventScene.java
  forge-gui-mobile/src/forge/adventure/scene/InnScene.java
  forge-gui-mobile/src/forge/adventure/scene/ShopScene.java
  forge-gui-mobile/src/forge/adventure/util/AdventureEventController.java
Labels: Adventure

#6540 Edition updates: FDN, J25, PLG24, PMEI
  forge-gui/res/editions/Foundations Jumpstart.txt
  forge-gui/res/editions/Foundations.txt
  forge-gui/res/editions/Love Your LGS 2024.txt
  forge-gui/res/editions/Media Inserts.txt
Labels: Upcoming Set

#6542 add confirm to autoSell, update ImageView
  forge-core/src/main/java/forge/item/PaperCard.java
  forge-gui-mobile/src/forge/adventure/player/AdventurePlayer.java
  forge-gui-mobile/src/forge/adventure/scene/AdventureDeckEditor.java
  forge-gui-mobile/src/forge/adventure/scene/DeckEditScene.java
  forge-gui-mobile/src/forge/adventure/scene/SettingsScene.java
  forge-gui-mobile/src/forge/adventure/scene/ShopScene.java
  forge-gui-mobile/src/forge/adventure/stage/ConsoleCommandInterpreter.java
  forge-gui-mobile/src/forge/itemmanager/filters/FormatFilter.java
  forge-gui-mobile/src/forge/itemmanager/views/ImageView.java
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/localinstance/properties/ForgePreferences.java
Labels: Adventure

#6546 Add FDN planeswalker achievement by Marek
  forge-gui/res/lists/planeswalker-achievements.txt
Labels: Upcoming Set

#6547 AI hint for Evolved Sleeper
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
Labels: AI

#6549 fix SealedScreen
  forge-gui-mobile/src/forge/deck/FDeckEditor.java
  forge-gui-mobile/src/forge/screens/limited/NewSealedScreen.java
Labels: Mobile

#6552 Edition updates: PMEI, SLD
  forge-gui/res/editions/Media Inserts.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#6561 Add puzzle PS_DSK4 - Possibility Storm - Duskmourn 04
  forge-gui/res/puzzle/PS_DSK4.pzl
Labels: Puzzle Mode

#6567 Banned and Restricted Announcement for November 12, 2024
  forge-gui/res/formats/Archived/Alchemy/2024-11-12.txt
  forge-gui/res/formats/Archived/Historic/2024-11-12.txt
  forge-gui/res/formats/Sanctioned/Historic.txt
Labels: Format Changes

#6560 Attempt to fix Warlord's Elite AI payment
  forge-gui/res/cardsfolder/w/warlords_elite.txt
Labels: AI

#6568 Alchemy Rebalancing for November 12, 2024
  forge-gui/res/cardsfolder/a/apothecary_stomper.txt
  forge-gui/res/cardsfolder/f/fountainport_charmer.txt
  forge-gui/res/cardsfolder/g/grenzo_crooked_jailer.txt
  forge-gui/res/cardsfolder/h/hymn_to_the_ages.txt
  forge-gui/res/cardsfolder/n/nashi_illusion_gadgeteer.txt
  forge-gui/res/cardsfolder/r/ribald_shanty.txt
  forge-gui/res/cardsfolder/rebalanced/a-heartfire_hero.txt
  forge-gui/res/cardsfolder/rebalanced/a-leyline_of_resonance.txt
  forge-gui/res/cardsfolder/rebalanced/a-nadu_winged_wisdom.txt
  forge-gui/res/cardsfolder/s/stalwart_speartail.txt
  forge-gui/res/cardsfolder/t/talions_throneguard.txt
  forge-gui/res/cardsfolder/t/tome_of_gadwick.txt
  forge-gui/res/cardsfolder/upcoming/apothecary stomper.txt
  forge-gui/res/editions/Bloomburrow.txt
  forge-gui/res/editions/Duskmourn House of Horror.txt
  forge-gui/res/editions/Modern Horizons 3.txt
  forge-gui/res/editions/Starter 2000.txt
Labels: Card Cleanup, Rules/Oracle Changes

#6578 Fix DontPayTapCostWithManaSources
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/replacement/ReplaceDamage.java
  forge-gui/res/cardsfolder/p/pariahs_shield.txt
  forge-gui/res/cardsfolder/s/sephara_skys_blade.txt
  forge-gui/res/cardsfolder/w/warlords_elite.txt
  forge-gui/res/cardsfolder/z/zahid_djinn_of_the_lamp.txt
Labels: AI

#6585 ColorSet: use Stream to map ManaSymbol
  forge-gui-mobile/src/forge/itemmanager/views/ImageView.java
  forge-gui/src/main/java/forge/gui/card/CardDetailUtil.java
Labels: GUI, Android

#6593 fix layout params
  forge-gui-android/src/forge/app/Main.java
Labels: Android

#6619 ChooseCardNameEffect.getStackDescription small fixes
  forge-game/src/main/java/forge/game/ability/effects/ChooseCardNameEffect.java
Labels: StackDesc, Low priority

#6606 Miracle&Madness: use ManaCost instead of CardManaCost
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-game/src/main/java/forge/game/trigger/TriggerExiled.java
  forge-gui/res/cardsfolder/a/aminatou_veil_piercer.txt
  forge-gui/res/cardsfolder/f/falkenrath_gorger.txt
Labels: Game Mechanics

#6615 YDSK: lurker_in_the_deep.txt + support
  forge-game/src/main/java/forge/game/ability/effects/SeekEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerSeekAll.java
  forge-gui/res/cardsfolder/l/lurker_in_the_deep.txt
Labels: Game Mechanics

#6609 YDSK: improvising_aerialist.txt + support
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/i/improvising_aerialist.txt
Labels: Game Mechanics

#6610 YDSK: valiant_emberkin.txt + support
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPanharmonicon.java
  forge-gui/res/cardsfolder/v/valiant_emberkin.txt
Labels: Game Mechanics

#6627 Only set Resizable to false on non-fullscreen setups in mobile Forge
  forge-gui-mobile-dev/src/forge/app/GameLauncher.java
Labels: bug

#6629 Add puzzle PS_FDN1 - Possibility Storm - Foundations 01
  forge-gui/res/puzzle/PS_FDN1.pzl
Labels: Puzzle Mode

#6632 Edition updates: PIO
  forge-gui/res/editions/Pioneer Masters.txt
Labels: Upcoming Set

#6614 YDSK: harrowing_swarm.txt + support
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-gui/res/cardsfolder/h/harrowing_swarm.txt
Labels: Game Mechanics

#6616 UNF: eelectrocute.txt + support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/RollDiceEffect.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/a/adorable_kitten.txt
  forge-gui/res/cardsfolder/e/eelectrocute.txt
Labels: Game Mechanics, Unfinity

#6618 magar_of_the_magic_strings.txt bug fix
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
Labels: Card Patch, Unfinity

#6639 Edition updates: PIO, PMEI, SLD
  forge-gui/res/editions/Media Inserts.txt
  forge-gui/res/editions/Pioneer Masters.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#6641 Class level ai
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-ai/src/main/java/forge/ai/ability/ClassLevelUpAi.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
Labels: Game Mechanics, AI

#6642 Kayla's Reconstruction AI hint
  forge-gui/res/cardsfolder/k/kaylas_reconstruction.txt
Labels: AI

#6643 Fix cheating class level 3 by copying level 2 activation
  forge-game/src/main/java/forge/game/ability/effects/ClassLevelUpEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RollDiceEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RunChaosEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SeekEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SetInMotionEffect.java
  forge-game/src/main/java/forge/game/ability/effects/UnlockDoorEffect.java
  forge-game/src/main/java/forge/game/ability/effects/VentureEffect.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/a/anointed_peacekeeper.txt
  forge-gui/res/cardsfolder/c/carrionette.txt
  forge-gui/res/cardsfolder/d/dream_chisel.txt
  forge-gui/res/cardsfolder/i/iron_mastiff.txt
  forge-gui/res/cardsfolder/o/obscuring_aether.txt
  forge-gui/res/cardsfolder/s/suppression_field.txt
  forge-gui/res/cardsfolder/z/zirda_the_dawnwaker.txt
Labels: Rules compliance
