Repository Card-Forge/forge, pull requests merged in 2024-01, with the labels that each got.

#4463 Adventure: generate random enemy if definition is not found
  forge-gui-mobile/src/forge/adventure/stage/MapStage.java
Labels: Adventure

#4462 Support for Genesis of the Daleks
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ControlGainEffect.java
  forge-game/src/main/java/forge/game/cost/Cost.java
  forge-game/src/main/java/forge/game/cost/CostRemoveCounter.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-gui/res/cardsfolder/c/churning_reservoir.txt
  forge-gui/res/cardsfolder/d/diseased_vermin.txt
  forge-gui/res/cardsfolder/g/gandalf_the_grey.txt
  forge-gui/res/cardsfolder/r/rift_elemental.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Game Mechanics, Card Patch, Rules compliance

#4401 Adventure: check for decks in user plane directory too
  forge-gui-mobile/src/forge/adventure/util/CardUtil.java
Labels: Adventure

#4473 Adventure - Enable "Continue" button for BO3 duels
  forge-gui-mobile/src/forge/screens/match/winlose/ViewWinLose.java
Labels: Adventure

#4476 Adventure Hotfixes
  forge-gui-mobile/src/forge/adventure/util/AdventureQuestEvent.java
  forge-gui/res/adventure/Shandalar/world/quests.json
Labels: Adventure

#4478 Support for Midnight Crusader Shuttle
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeCombatantsEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ControlGainEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigUntilEffect.java
  forge-game/src/main/java/forge/game/ability/effects/MeldEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TokenEffectBase.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/a/adeline_resplendent_cathar.txt
  forge-gui/res/cardsfolder/c/capricopian.txt
  forge-gui/res/cardsfolder/h/hans_eriksson.txt
  forge-gui/res/cardsfolder/m/misleading_signpost.txt
  forge-gui/res/cardsfolder/p/portal_mage.txt
  forge-gui/res/cardsfolder/t/tahngarth_first_mate.txt
  forge-gui/res/cardsfolder/w/windshaper_planetar.txt
  forge-gui/res/cardsfolder/z/zara_renegade_recruiter.txt
Labels: Game Mechanics

#4477 Adventure hotfixes
  forge-gui-mobile/src/forge/adventure/data/AdventureQuestStage.java
  forge-gui-mobile/src/forge/adventure/data/EnemyData.java
  forge-gui/res/adventure/common/decks/standard/redwizard_easy_1.dck
Labels: Adventure

#4481 Adventure - POIChanges & reputation fix
  forge-gui-mobile/src/forge/adventure/data/AdventureQuestStage.java
  forge-gui-mobile/src/forge/adventure/scene/NewGameScene.java
  forge-gui-mobile/src/forge/adventure/scene/TileMapScene.java
  forge-gui-mobile/src/forge/adventure/util/AdventureQuestController.java
  forge-gui/res/adventure/Shandalar/world/quests.json
Labels: Adventure

#4490 Adventure quest fixes
  forge-gui-mobile/src/forge/adventure/util/AdventureQuestController.java
  forge-gui/res/adventure/Shandalar/world/quests.json
  forge-gui/res/adventure/common/maps/map/main_story_explore/library_of_varsil_3.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/library_of_varsil_4.tmx
Labels: Adventure

#4488 Fix Fatal Lore
  forge-ai/src/main/java/forge/ai/ability/CharmAi.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/f/fatal_lore.txt
  forge-gui/res/cardsfolder/m/misfortune.txt
  forge-gui/src/main/java/forge/player/HumanPlaySpellAbility.java
Labels: Game Mechanics

#4479 LCI and WOE alchemy draft
  forge-gui/res/blockdata/blocks.txt
  forge-gui/res/editions/Alchemy Eldraine.txt
  forge-gui/res/editions/Alchemy Ixalan.txt
Labels: enhancement

#4450 WHO 5 cards with Villainous Choice
  forge-gui/res/cardsfolder/e/ensnared_by_the_mara.txt
  forge-gui/res/cardsfolder/g/genesis_of_the_daleks.txt
  forge-gui/res/cardsfolder/h/hunted_by_the_family.txt
  forge-gui/res/cardsfolder/m/midnight_crusader_shuttle.txt
  forge-gui/res/cardsfolder/m/missy.txt
Labels: Upcoming Set

#4484 Improve TriggerHandler accuracy
  forge-ai/src/main/java/forge/ai/ComputerUtilAbility.java
  forge-ai/src/main/java/forge/ai/ability/UntapAi.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-game/src/main/java/forge/game/trigger/TriggerWaiting.java
  forge-gui/res/cardsfolder/b/blind_with_anger.txt
  forge-gui/res/cardsfolder/b/bringer_of_the_red_dawn.txt
  forge-gui/res/cardsfolder/c/contested_game_ball.txt
  forge-gui/res/cardsfolder/f/flash_conscription.txt
  forge-gui/res/cardsfolder/g/goatnapper.txt
  forge-gui/res/cardsfolder/k/kytheon_hero_of_akros_gideon_battle_forged.txt
  forge-gui/res/cardsfolder/o/overtaker.txt
  forge-gui/res/cardsfolder/r/ray_of_command.txt
  forge-gui/res/cardsfolder/s/spinal_embrace.txt
  forge-gui/res/cardsfolder/t/temporary_insanity.txt
  forge-gui/res/cardsfolder/t/threaten.txt
  forge-gui/res/cardsfolder/w/word_of_seizing.txt
Labels: Game Mechanics, Rules compliance

#4493 Skip ChangesZoneAll inside Moved replacement
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/BalanceEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ConniveEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CounterEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DestroyAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DestroyEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigUntilEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DiscardEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ExploreEffect.java
  forge-game/src/main/java/forge/game/ability/effects/LearnEffect.java
  forge-game/src/main/java/forge/game/ability/effects/MillEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SacrificeAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SacrificeEffect.java
  forge-game/src/main/java/forge/game/card/CardZoneTable.java
  forge-game/src/main/java/forge/game/cost/CostDiscard.java
  forge-game/src/main/java/forge/game/cost/CostExile.java
  forge-game/src/main/java/forge/game/cost/CostExiledMoveToGrave.java
  forge-game/src/main/java/forge/game/cost/CostMill.java
  forge-game/src/main/java/forge/game/cost/CostPartWithList.java
  forge-game/src/main/java/forge/game/cost/CostPayment.java
  forge-game/src/main/java/forge/game/cost/CostPutCardToLib.java
  forge-game/src/main/java/forge/game/cost/CostReturn.java
  forge-game/src/main/java/forge/game/cost/CostSacrifice.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Game Mechanics

#4515 Adventure - Arena quest tracking correction
  forge-gui-mobile/src/forge/adventure/data/AdventureQuestStage.java
Labels: Adventure

#4502 Fix UntilHostLeavesPlay being dropped when replaced
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
Labels: Game Mechanics

#4521 Fix typo in waker_of_the_dead spellbook
  forge-gui/res/adventure/common/custom_cards/waker_of_the_dead.txt
Labels: Adventure

#4527 Fix ProtectEffect
  forge-ai/src/main/java/forge/ai/ability/ProtectAi.java
  forge-game/src/main/java/forge/game/ability/effects/ProtectAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ProtectEffect.java
  forge-gui/res/cardsfolder/a/apostles_blessing.txt
  forge-gui/res/cardsfolder/j/jareth_leonine_titan.txt
  forge-gui/res/cardsfolder/j/jeweled_spirit.txt
  forge-gui/res/cardsfolder/r/razor_barrier.txt
  forge-gui/res/cardsfolder/t/tel_jilad_defiance.txt
  forge-gui/res/cardsfolder/t/tower_of_the_magistrate.txt
Labels: Crash fix

#4536 Edition Updates: CLU, MKC, MKM, PSS4, SCH, SPG
  forge-gui/res/editions/MKM Standard Showdown.txt
  forge-gui/res/editions/Murders at Karlov Manor Commander.txt
  forge-gui/res/editions/Murders at Karlov Manor.txt
  forge-gui/res/editions/Ravnica Clue Edition.txt
  forge-gui/res/editions/Special Guests.txt
  forge-gui/res/editions/Store Championships.txt
Labels: Upcoming Set

#4518 Support duplicate objects per effect
  forge-ai/src/main/java/forge/ai/SpecialCardAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DrawEffect.java
  forge-game/src/main/java/forge/game/ability/effects/FightEffect.java
  forge-game/src/main/java/forge/game/ability/effects/LifeGainEffect.java
  forge-gui/res/cardsfolder/a/adeline_resplendent_cathar.txt
  forge-gui/res/cardsfolder/a/angel_of_destiny.txt
  forge-gui/res/cardsfolder/c/conjured_currency.txt
  forge-gui/res/cardsfolder/c/cunning_strike.txt
  forge-gui/res/cardsfolder/d/diviner_spirit.txt
  forge-gui/res/cardsfolder/e/ezuris_predation.txt
  forge-gui/res/cardsfolder/f/first_volley.txt
  forge-gui/res/cardsfolder/g/grothama_all_devouring.txt
  forge-gui/res/cardsfolder/h/hans_eriksson.txt
  forge-gui/res/cardsfolder/h/hungry_flames.txt
  forge-gui/res/cardsfolder/l/lunge.txt
  forge-gui/res/cardsfolder/n/neonates_rush.txt
  forge-gui/res/cardsfolder/p/psionic_entity.txt
  forge-gui/res/cardsfolder/s/sergeant_john_benton.txt
  forge-gui/res/cardsfolder/s/shauku_endbringer.txt
  forge-gui/res/cardsfolder/s/shower_of_sparks.txt
  forge-gui/res/cardsfolder/s/skophos_maze_warden.txt
  forge-gui/res/cardsfolder/t/tahngarth_first_mate.txt
  forge-gui/res/cardsfolder/x/xyris_the_writhing_storm.txt
  forge-gui/res/cardsfolder/z/zara_renegade_recruiter.txt
Labels: Game Mechanics

#4539 CostSacrifice toString improve
  forge-game/src/main/java/forge/game/cost/CostSacrifice.java
  forge-gui/res/cardsfolder/a/acolyte_of_aclazotz.txt
  forge-gui/res/cardsfolder/q/questing_druid_seek_the_beast.txt
Labels: Card Cleanup

#4544 MKM new rare land cycle
  forge-gui/res/cardsfolder/upcoming/commercial_district.txt
  forge-gui/res/cardsfolder/upcoming/elegant_parlor.txt
  forge-gui/res/cardsfolder/upcoming/hedge_maze.txt
  forge-gui/res/cardsfolder/upcoming/lush_portico.txt
  forge-gui/res/cardsfolder/upcoming/meticulous_archive.txt
  forge-gui/res/cardsfolder/upcoming/raucous_theater.txt
  forge-gui/res/cardsfolder/upcoming/shadowy_backstreet.txt
  forge-gui/res/cardsfolder/upcoming/thundering_falls.txt
  forge-gui/res/cardsfolder/upcoming/undercity_sewers.txt
  forge-gui/res/cardsfolder/upcoming/underground_mortuary.txt
Labels: Upcoming Set

#4526 MKM: Judith, Carnage Connoisseur + Imp token
  forge-gui/res/cardsfolder/upcoming/judith_carnage_connoisseur.txt
  forge-gui/res/tokenscripts/r_2_2_imp_burn_opp.txt
Labels: Upcoming Set

#4531 MKM: Kaya, Spirits' Justice
  forge-gui/res/cardsfolder/upcoming/kaya_spirits_justice.txt
Labels: Upcoming Set

#4541 Fix some rebalanced errors
  forge-gui/res/cardsfolder/rebalanced/a-visions_of_phyrexia.txt
  forge-gui/res/editions/Dominaria United.txt
  forge-gui/res/editions/Multiverse Legends.txt
Labels: Card Cleanup, Card Patch

#4555 Make Flash interact with Dryad Arbor
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/LandAbility.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCastWithFlash.java
  forge-gui/res/cardsfolder/s/scouts_warning.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Game Mechanics, Rules compliance

#4548 Use fresh LastState for costs
  forge-game/src/main/java/forge/game/ability/effects/DestroyAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DestroyEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SacrificeAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/SacrificeEffect.java
  forge-game/src/main/java/forge/game/card/CardZoneTable.java
  forge-game/src/main/java/forge/game/cost/CostExile.java
  forge-game/src/main/java/forge/game/cost/CostPartWithList.java
  forge-game/src/main/java/forge/game/cost/CostSacrifice.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
Labels: Game Mechanics

#4550 MKM 5 cards
  forge-gui/res/cardsfolder/upcoming/crime_novelist.txt
  forge-gui/res/cardsfolder/upcoming/private_eye.txt
  forge-gui/res/cardsfolder/upcoming/the_pride_of_hull_clade.txt
  forge-gui/res/cardsfolder/upcoming/tolsimir_midnights_light.txt
  forge-gui/res/cardsfolder/upcoming/voja_jaws_of_the_conclave.txt
  forge-gui/res/tokenscripts/voja_fenstalker.txt
Labels: Upcoming Set

#4558 Adventure Tibalt Dungeon Cleanup
  forge-gui/res/adventure/common/maps/map/tibalt/tibalt.tmx
  forge-gui/res/adventure/common/maps/map/tibalt/tibalt_f0.tmx
  forge-gui/res/adventure/common/maps/map/tibalt/tibalt_f1.tmx
  forge-gui/res/adventure/common/maps/map/tibalt/tibalt_f2.tmx
  forge-gui/res/adventure/common/maps/map/tibalt/tibalt_f3.tmx
  forge-gui/res/adventure/common/maps/map/tibalt/tibalt_f4.tmx
  forge-gui/res/adventure/common/maps/tileset/dungeon/animatedtiles.tsx
  forge-gui/res/adventure/common/world/enemies.json
Labels: Adventure

#4563 Edition updates: MKM
  forge-gui/res/editions/Murders at Karlov Manor.txt
Labels: Upcoming Set

#4565 MKM 9 cards
  forge-gui/res/cardsfolder/upcoming/anzrag_the_quake_mole.txt
  forge-gui/res/cardsfolder/upcoming/auspicious_arrival.txt
  forge-gui/res/cardsfolder/upcoming/drag_the_canal.txt
  forge-gui/res/cardsfolder/upcoming/escape_tunnel.txt
  forge-gui/res/cardsfolder/upcoming/galvanize.txt
  forge-gui/res/cardsfolder/upcoming/homicide_investigator.txt
  forge-gui/res/cardsfolder/upcoming/melek_reforged_researcher.txt
  forge-gui/res/cardsfolder/upcoming/tunnel_tipster.txt
  forge-gui/res/cardsfolder/upcoming/vein_ripper.txt
  forge-gui/res/tokenscripts/wu_2_2_detective.txt
Labels: Upcoming Set

#4567 MKC: kaust_eyes_of_the_glade.txt + support
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/q/qarsi_deceiver.txt
  forge-gui/res/cardsfolder/q/qarsi_high_priest.txt
  forge-gui/res/cardsfolder/upcoming/kaust_eyes_of_the_glade.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#4562 Kylox, Visionary Inventor + Alchemy cleanup
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/trigger/TriggerIsForetold.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-gui/res/cardsfolder/a/adeline_resplendent_cathar.txt
  forge-gui/res/cardsfolder/l/lupine_harbingers.txt
  forge-gui/res/cardsfolder/t/tahngarth_first_mate.txt
  forge-gui/res/cardsfolder/upcoming/kylox_visionary_inventor.txt
Labels: Upcoming Set, Card Cleanup

#4570 5 MKM cards
  forge-gui/res/cardsfolder/upcoming/slime_against_humanity.txt
  forge-gui/res/cardsfolder/upcoming/sumala_sentry.txt
  forge-gui/res/cardsfolder/upcoming/teysa_opulent_oligarch.txt
  forge-gui/res/cardsfolder/upcoming/they_went_this_way.txt
  forge-gui/res/cardsfolder/upcoming/undercity_eliminator.txt
  forge-gui/res/tokenscripts/g_0_0_ooze_trample.txt
Labels: Upcoming Set

#4566 MKM - Case stuff
  forge-game/src/main/java/forge/game/ability/effects/AlterAttributeEffect.java
  forge-gui-desktop/src/main/java/forge/toolbox/imaging/FCardImageRenderer.java
  forge-gui-mobile/src/forge/card/CardImageRenderer.java
  forge-gui/res/cardsfolder/upcoming/case_of_the_filched_falcon.txt
  forge-gui/res/cardsfolder/upcoming/case_of_the_gorgons_kiss.txt
  forge-gui/res/cardsfolder/upcoming/case_of_the_pilfered_proof.txt
  forge-gui/res/cardsfolder/upcoming/case_of_the_ransacked_lab.txt
Labels: Upcoming Set, GUI

#4568 MKC: 2 easy commanders with basically the same name
  forge-gui/res/cardsfolder/b/balduvian_atrocity.txt
  forge-gui/res/cardsfolder/b/bishop_of_rebirth.txt
  forge-gui/res/cardsfolder/m/midnight_scavengers.txt
  forge-gui/res/cardsfolder/p/pillardrop_rescuer.txt
  forge-gui/res/cardsfolder/t/teshar_ancestors_apostle.txt
  forge-gui/res/cardsfolder/upcoming/mirko_obsessive_theorist.txt
  forge-gui/res/cardsfolder/upcoming/morska_undersea_sleuth.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectTargets.java
Labels: Upcoming Set, Card Cleanup

#4574 MKM: a_killer_among_us.txt + support
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-game/src/main/java/forge/game/ability/effects/ChoosePlayerEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChooseTypeEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/cost/Cost.java
  forge-game/src/main/java/forge/game/cost/CostRevealChosen.java
  forge-game/src/main/java/forge/game/cost/ICostVisitor.java
  forge-gui/res/cardsfolder/e/emissary_of_grudges.txt
  forge-gui/res/cardsfolder/g/guardian_archon.txt
  forge-gui/res/cardsfolder/s/stalking_leonin.txt
  forge-gui/res/cardsfolder/upcoming/a_killer_among_us.txt
  forge-gui/res/languages/en-US.properties
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#4573 MKM 10 cards
  forge-game/src/main/java/forge/game/card/CounterEnumType.java
  forge-gui/res/cardsfolder/upcoming/aftermath_analyst.txt
  forge-gui/res/cardsfolder/upcoming/blood_spatter_analysis.txt
  forge-gui/res/cardsfolder/upcoming/ezrim_agency_chief.txt
  forge-gui/res/cardsfolder/upcoming/felonious_rage.txt
  forge-gui/res/cardsfolder/upcoming/knife.txt
  forge-gui/res/cardsfolder/upcoming/lost_in_the_maze.txt
  forge-gui/res/cardsfolder/upcoming/loxodon_eavesdropper.txt
  forge-gui/res/cardsfolder/upcoming/scene_of_the_crime.txt
  forge-gui/res/cardsfolder/upcoming/treacherous_greed.txt
  forge-gui/res/cardsfolder/upcoming/undergrowth_recon.txt
Labels: Upcoming Set

#4577 MKM: innocent_bystander.txt + support
  forge-game/src/main/java/forge/game/trigger/TriggerDamageDoneOnce.java
  forge-gui/res/cardsfolder/upcoming/innocent_bystander.txt
Labels: Upcoming Set, Game Mechanics

#4575 MKM: add Suspected
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-ai/src/main/java/forge/ai/simulation/GameCopier.java
  forge-game/src/main/java/forge/game/ability/effects/AlterAttributeEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/combat/CombatUtil.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantBeSuspected.java
Labels: Upcoming Set, Game Mechanics

#4578 MKM: 5 cards 21/22 Jan
  forge-gui/res/cardsfolder/l/lord_skitters_butcher.txt
  forge-gui/res/cardsfolder/upcoming/gearbane_orangutan.txt
  forge-gui/res/cardsfolder/upcoming/get_a_leg_up.txt
  forge-gui/res/cardsfolder/upcoming/goblin_maskmaker.txt
  forge-gui/res/cardsfolder/upcoming/harried_dronesmith.txt
  forge-gui/res/cardsfolder/upcoming/jaded_analyst.txt
Labels: Upcoming Set, Card Cleanup

#4580 Edition updates: CLU, MKM, SLD
  forge-gui/res/editions/Murders at Karlov Manor.txt
  forge-gui/res/editions/Ravnica Clue Edition.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#4579 Merseine fixes
  forge-ai/src/main/java/forge/ai/simulation/SpellAbilityPicker.java
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutAllEffect.java
  forge-game/src/main/java/forge/game/cost/Cost.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/cost/CostPartMana.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/AbilityActivated.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityCondition.java
  forge-gui/res/cardsfolder/b/back_from_the_brink.txt
  forge-gui/res/cardsfolder/c/consecrate_consume.txt
  forge-gui/res/cardsfolder/l/leafkin_avenger.txt
  forge-gui/res/cardsfolder/m/merseine.txt
  forge-gui/res/cardsfolder/t/tegwyll_duke_of_splendor.txt
  forge-gui/res/cardsfolder/t/tegwylls_scouring.txt
  forge-gui/res/cardsfolder/t/tempt_with_glory.txt
Labels: Rules compliance

#4585 Fix Tormod, the Desecrator not triggering from Gravecrawler
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
  forge-gui/res/cardsfolder/d/dralnus_pet.txt
Labels: bug

#4587 Insidious Roots
  forge-gui/res/cardsfolder/upcoming/insidious_roots.txt
Labels: Upcoming Set

#4589 Edition updates: CLU, MKC, MKM
  forge-gui/res/editions/Murders at Karlov Manor Commander.txt
  forge-gui/res/editions/Murders at Karlov Manor.txt
  forge-gui/res/editions/Ravnica Clue Edition.txt
Labels: Upcoming Set

#4592 Edition updates: MKC, MKM, SLD
  forge-gui-desktop/src/test/java/forge/card/CardDbCardMockTestCase.java
  forge-gui/res/editions/Murders at Karlov Manor Commander.txt
  forge-gui/res/editions/Murders at Karlov Manor.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#4593 MKC: Move embalm token fix
  forge-gui/res/editions/Murders at Karlov Manor Commander.txt
Labels: Upcoming Set

#4598 Update promise_of_loyalty.txt
  forge-gui/res/cardsfolder/p/promise_of_loyalty.txt
Labels: Card Patch

#4591 MKM 9 cards
  forge-gui/res/cardsfolder/upcoming/agrus_kos_spirit_of_justice.txt
  forge-gui/res/cardsfolder/upcoming/case_of_the_crimson_pulse.txt
  forge-gui/res/cardsfolder/upcoming/case_of_the_trampled_garden.txt
  forge-gui/res/cardsfolder/upcoming/connecting_the_dots.txt
  forge-gui/res/cardsfolder/upcoming/conspiracy_unraveler.txt
  forge-gui/res/cardsfolder/upcoming/due_diligence.txt
  forge-gui/res/cardsfolder/upcoming/expedited_inheritance.txt
  forge-gui/res/cardsfolder/upcoming/fuss_bother.txt
  forge-gui/res/cardsfolder/upcoming/make_your_move.txt
Labels: Upcoming Set

#4597 MKC: marvo_deep_operative.txt + support
  forge-game/src/main/java/forge/game/ability/effects/ClashEffect.java
  forge-gui/res/cardsfolder/upcoming/marvo_deep_operative.txt
  forge-gui/res/cardsfolder/v/vaevictis_asmadi_the_dire.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#4601 MKC: panoptic_projektor.txt + support
  forge-game/src/main/java/forge/game/staticability/StaticAbilityPanharmonicon.java
  forge-gui/res/cardsfolder/i/invasion_of_the_giants.txt
  forge-gui/res/cardsfolder/upcoming/panoptic_projektor.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#4602 MKM/MKC - 5 sus cards
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/n/norns_decree.txt
  forge-gui/res/cardsfolder/upcoming/absolving_lammasu.txt
  forge-gui/res/cardsfolder/upcoming/case_of_the_stashed_skeleton.txt
  forge-gui/res/cardsfolder/upcoming/hot_pursuit.txt
  forge-gui/res/cardsfolder/upcoming/nelly_borca_impulsive_accuser.txt
  forge-gui/res/cardsfolder/upcoming/repeat_offender.txt
  forge-gui/res/tokenscripts/b_2_1_skeleton.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup

#4545 DestroyEffect: use Cause if able
  forge-game/src/main/java/forge/game/ability/effects/DestroyEffect.java
Labels: Game Mechanics

#4605 Some fixes
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CountersPutEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/upcoming/case_of_the_gorgons_kiss.txt
  forge-gui/res/cardsfolder/upcoming/conspiracy_unraveler.txt
  forge-gui/res/cardsfolder/upcoming/kellan_inquisitive_prodigy_tail_the_suspect.txt
  forge-gui/res/cardsfolder/upcoming/teysa_opulent_oligarch.txt
Labels: Card Patch

#4610 Fix crash
  forge-ai/src/main/java/forge/ai/ability/PumpAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/AlterAttributeEffect.java
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/CloneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PumpAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PumpEffect.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/cost/CostPartMana.java
  forge-gui/res/cardsfolder/b/breath_of_fury.txt
  forge-gui/res/cardsfolder/t/the_blackstaff_of_waterdeep.txt
  forge-gui/res/cardsfolder/t/thran_weaponry.txt
Labels: Card Cleanup

#4594 MKM: karlov_watchdog.txt + support
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/spellability/AbilityStatic.java
  forge-gui/res/cardsfolder/upcoming/karlov_watchdog.txt
  forge-gui/res/cardsfolder/upcoming/ood_sphere.txt
Labels: Upcoming Set, Game Mechanics, Card Cleanup
