Repository Card-Forge/forge, pull requests merged in 2025-06, with the labels that each got.

#7680 CardState: Refactor LandAbility/Aura/PermSpell
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/ability/effects/PermanentCreatureEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PermanentNoncreatureEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardState.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-game/src/main/java/forge/game/spellability/LandAbility.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/spellability/SpellPermanent.java
Labels: Game Mechanics

#7748 fix: do not steal keyboard focus when "Visually Alert on Receipt of Priority" is enabled
  forge-gui-desktop/src/main/java/forge/gui/framework/SDisplayUtil.java
Labels: GUI

#7666 (Adventure) Fix draft scene transition
  forge-gui-mobile/src/forge/adventure/scene/EventScene.java
Labels: Adventure

#7767 Cleaning upcoming: 2025-06-02
  forge-gui/res/cardsfolder/upcoming/aerith_rescue_mission.txt
  forge-gui/res/cardsfolder/upcoming/audacious_knuckleblade.txt
  forge-gui/res/cardsfolder/upcoming/blitzball_stadium.txt
  forge-gui/res/cardsfolder/upcoming/dion_bahamuts_dominant_bahamut_warden_of_light.txt
  forge-gui/res/cardsfolder/upcoming/goobbue_gardener.txt
  forge-gui/res/cardsfolder/upcoming/hardened_bonds.txt
  forge-gui/res/cardsfolder/upcoming/restoration_magic.txt
  forge-gui/res/cardsfolder/upcoming/rikku_resourceful_guardian.txt
  forge-gui/res/cardsfolder/upcoming/squall_seed_mercenary.txt
  forge-gui/res/cardsfolder/upcoming/summon_esper_ramuh.txt
  forge-gui/res/cardsfolder/upcoming/summon_primal_garuda.txt
  forge-gui/res/cardsfolder/upcoming/summoning_materia.txt
  forge-gui/res/cardsfolder/upcoming/terra_magical_adept_esper_terra.txt
  forge-gui/res/cardsfolder/upcoming/the_wind_crystal.txt
  forge-gui/res/cardsfolder/upcoming/ultimecia_time_sorceress_ultimecia_omnipotent.txt
  forge-gui/res/cardsfolder/upcoming/white_mages_staff.txt
  forge-gui/res/cardsfolder/upcoming/yunas_whistle.txt
Labels: Upcoming Set, Card Cleanup

#7770 fix incorrect resource name (deathknightidle.png)
  forge-gui/res/adventure/common/sprites/enemy/undead/deathknightidle.atlas
Labels: Adventure

#7743 Update cave_bigzombie.tmx
  forge-gui/res/adventure/common/maps/map/cave/cave_bigzombie.tmx
Labels: Adventure

#7669 Adventure: added support for dynamic deck count
  forge-gui-mobile/src/forge/adventure/player/AdventurePlayer.java
  forge-gui-mobile/src/forge/adventure/scene/AdventureDeckEditor.java
  forge-gui-mobile/src/forge/adventure/scene/DeckSelectScene.java
  forge-gui-mobile/src/forge/adventure/util/Controls.java
  forge-gui/res/adventure/common/ui/deck_selector.json
  forge-gui/res/adventure/common/ui/deck_selector_portrait.json
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Adventure

#7800 Incidental fixes: 2025-06-05
  forge-gui/res/cardsfolder/c/clackbridge_troll.txt
  forge-gui/res/cardsfolder/m/monastery_messenger.txt
Labels: Card Cleanup

#7808 Update wicked_slumber.txt
  forge-gui/res/cardsfolder/w/wicked_slumber.txt
Labels: Card Cleanup

#7809 Update tranquil_frillback.txt
  forge-gui/res/cardsfolder/t/tranquil_frillback.txt
Labels: Card Patch

#7812 Update ayula_queen_among_bears.txt
  forge-gui/res/cardsfolder/a/ayula_queen_among_bears.txt
  forge-gui/res/cardsfolder/r/rampaging_yao_guai.txt
  forge-gui/res/cardsfolder/u/ulvenwald_bear.txt
Labels: Card Cleanup

#7815 Update overtaker.txt
  forge-gui/res/cardsfolder/o/overtaker.txt
Labels: Card Patch

#7792 Adventure: AccountingLabel animation update
  forge-gui-mobile/src/forge/adventure/util/Controls.java
Labels: Adventure

#7836 Update getCommander method to enable subfolders
  forge-gui/src/main/java/forge/model/CardCollections.java
Labels: GUI

#7841 Fix Symbols in updated Rankings
  forge-gui/res/draft/rankings/fin.rnk
Labels: Drafting

#7837 Some small edits to CONTRIBUTING docs
  CONTRIBUTING.md
Labels: documentation

#7840 Details Labels and Zooming on Adventure World Map
  forge-gui-mobile/src/forge/adventure/pointofintrest/PointOfInterestChanges.java
  forge-gui-mobile/src/forge/adventure/scene/MapViewScene.java
  forge-gui-mobile/src/forge/adventure/stage/WorldStage.java
  forge-gui/res/adventure/common/ui/map.json
  forge-gui/res/adventure/common/ui/map_portrait.json
Labels: Adventure

#7789 Adventure: Made auto-sell buttons semi-transparent unless selected, fixed transparency issues, increased card flip speed
  forge-gui-mobile/src/forge/adventure/scene/RewardScene.java
  forge-gui-mobile/src/forge/adventure/util/Controls.java
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
Labels: Adventure

#7788 Adventure: Auto and Quick save slots - corrected height and font color if disabled
  forge-gui/res/adventure/common/skin/ui_skin.json
Labels: Adventure

#7855 card: correct sundown pass mana order
  forge-gui/res/cardsfolder/s/sundown_pass.txt
Labels: Card Cleanup

#7787 Adventure: Made tooltips instant and reduced size
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
Labels: Adventure

#7867 Fix ConcurrentModificationException (#7865)
  forge-game/src/main/java/forge/game/cost/CostPayment.java
Labels: Game Mechanics, Crash fix

#7881 Edition updates: EOC, EOE, EOS, PF25, PJSC, PPRO, SLD, TLA
  forge-gui/res/editions/Avatar The Last Airbender.txt
  forge-gui/res/editions/Edge of Eternities Commander.txt
  forge-gui/res/editions/Edge of Eternities Stellar Sights.txt
  forge-gui/res/editions/Edge of Eternities.txt
  forge-gui/res/editions/Japan Standard Cup.txt
  forge-gui/res/editions/MagicFest 2025.txt
  forge-gui/res/editions/Pro Tour Promos.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#7882 Edition updates: EOE, PSPL
  forge-gui/res/editions/Edge of Eternities.txt
  forge-gui/res/editions/Spotlight Series.txt
Labels: Upcoming Set

#7883 Fix Android Keybind for Adventure Mode Console toggle
  forge-gui-mobile/src/forge/adventure/stage/Console.java
  forge-gui-mobile/src/forge/adventure/stage/GameHUD.java
  forge-gui-mobile/src/forge/adventure/util/KeyBinding.java
Labels: Adventure, Android

#7885 Add Spacecraft
  forge-core/src/main/java/forge/card/CardRules.java
  forge-core/src/main/java/forge/card/CardType.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-gui/res/cardsfolder/upcoming/the_seriema.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set, Game Mechanics

#7893 Fix NPE by defeating Invasion of Ikoria while controlling Henzie
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
Labels: Crash fix

#7890 Add Duration handling to TextBoxExchangeEffect and added Exchange of Words
  forge-game/src/main/java/forge/game/ability/effects/TextBoxExchangeEffect.java
  forge-gui/res/cardsfolder/e/exchange_of_words.txt
Labels: Game Mechanics

#7896 Amplify: fix only revealing hardcoded types
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
Labels: Rules compliance
