Repository Card-Forge/forge, pull requests merged in 2025-05, with the labels that each got.

#7484 Some fixes
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/b/bag_of_devouring.txt
  forge-gui/res/cardsfolder/h/havengul_lich.txt
  forge-gui/res/cardsfolder/m/moon_circuit_hacker.txt
  forge-gui/res/cardsfolder/r/rootwater_shaman.txt
Labels: Card Patch

#7492 Volrath's Curse and Lost in Thought with Modes and IgnoreEffectCost
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantAttackBlock.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantBeCast.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-gui/res/cardsfolder/d/damping_engine.txt
  forge-gui/res/cardsfolder/l/lost_in_thought.txt
  forge-gui/res/cardsfolder/v/volraths_curse.txt
Labels: Game Mechanics

#7489 UNF: Added the 4 eternal-format-legal dice modification/reroll cards
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/effects/ReplaceEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RollDiceEffect.java
  forge-game/src/main/java/forge/game/player/PlayerController.java
  forge-game/src/main/java/forge/game/replacement/ReplaceRollDice.java
  forge-game/src/main/java/forge/game/trigger/TriggerRolledDie.java
  forge-gui-desktop/src/test/java/forge/gamesimulationtests/util/PlayerControllerForTests.java
  forge-gui/res/cardsfolder/m/monitor_monitor.txt
  forge-gui/res/cardsfolder/n/night_shift_of_the_living_dead.txt
  forge-gui/res/cardsfolder/v/vedalken_squirrel_whacker.txt
  forge-gui/res/cardsfolder/x/xenosquirrels.txt
  forge-gui/res/languages/en-US.properties
  forge-gui/res/tokenscripts/b_2_2_zombie_employee.txt
  forge-gui/src/main/java/forge/player/PlayerControllerHuman.java
Labels: Game Mechanics, Unfinity

#7499 Adventure 3 small fixes
  forge-gui/res/adventure/common/custom_cards/hall_of_flame.txt
  forge-gui/res/adventure/common/maps/map/grolnok/grolnok_f1.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/bandit_cave.tmx
Labels: Adventure

#7502 Edition updates: FIC, PURL, SLD
  forge-gui/res/editions/Final Fantasy Commander.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/URL Convention Promos.txt
Labels: Upcoming Set

#7501 Fixing an issue in which touching the space the map occupies outside …
  forge-gui-mobile/src/forge/adventure/stage/GameHUD.java
Labels: Adventure

#7508 If the AI cloned your deck, don't use your deck as a reward base if t…
  forge-gui-mobile/src/forge/adventure/character/EnemySprite.java
  forge-gui-mobile/src/forge/adventure/scene/EventScene.java
Labels: Adventure

#7517 Tiered: first example
  forge-game/src/main/java/forge/game/ability/effects/CharmEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-gui/res/cardsfolder/c/caught_in_the_crossfire.txt
  forge-gui/res/cardsfolder/d/dance_of_the_tumbleweeds.txt
  forge-gui/res/cardsfolder/e/explosive_derailment.txt
  forge-gui/res/cardsfolder/f/final_showdown.txt
  forge-gui/res/cardsfolder/g/getaway_glamer.txt
  forge-gui/res/cardsfolder/g/great_train_heist.txt
  forge-gui/res/cardsfolder/i/insatiable_avarice.txt
  forge-gui/res/cardsfolder/j/jailbreak_scheme.txt
  forge-gui/res/cardsfolder/l/lively_dirge.txt
  forge-gui/res/cardsfolder/m/metamorphic_blast.txt
  forge-gui/res/cardsfolder/o/one_last_job.txt
  forge-gui/res/cardsfolder/p/phantom_interference.txt
  forge-gui/res/cardsfolder/r/requisition_raid.txt
  forge-gui/res/cardsfolder/r/return_the_favor.txt
  forge-gui/res/cardsfolder/r/rush_of_dread.txt
  forge-gui/res/cardsfolder/r/rustler_rampage.txt
  forge-gui/res/cardsfolder/s/shifting_grift.txt
  forge-gui/res/cardsfolder/s/smugglers_surprise.txt
  forge-gui/res/cardsfolder/t/three_steps_ahead.txt
  forge-gui/res/cardsfolder/t/trash_the_town.txt
  forge-gui/res/cardsfolder/u/unfortunate_accident.txt
  forge-gui/res/cardsfolder/upcoming/fire_magic.txt
Labels: Upcoming Set, Game Mechanics

#7523 Edition updates: FCA, FIC, FIN, PF25, PLG25, SLD
  forge-gui/res/editions/Final Fantasy Commander.txt
  forge-gui/res/editions/Final Fantasy Through the Ages.txt
  forge-gui/res/editions/Final Fantasy.txt
  forge-gui/res/editions/Love Your LGS 2025.txt
  forge-gui/res/editions/MagicFest 2025.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#7521 Fix mobile deck editor selecting wrong cards under certain conditions
  forge-gui-mobile/src/forge/itemmanager/ItemManager.java
  forge-gui-mobile/src/forge/itemmanager/views/ImageView.java
Labels: bug, Mobile

#7504 CardEdition: add collector number for other
  forge-ai/src/main/java/forge/ai/simulation/GameCopier.java
  forge-core/src/main/java/forge/ImageKeys.java
  forge-core/src/main/java/forge/StaticData.java
  forge-core/src/main/java/forge/card/CardDb.java
  forge-core/src/main/java/forge/card/CardEdition.java
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/GameFormat.java
  forge-game/src/main/java/forge/game/GameSnapshot.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/AscendEffect.java
  forge-game/src/main/java/forge/game/ability/effects/BecomeMonarchEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RestartGameEffect.java
  forge-game/src/main/java/forge/game/ability/effects/RingTemptsYouEffect.java
  forge-game/src/main/java/forge/game/ability/effects/TakeInitiativeEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui-mobile/src/forge/adventure/data/RewardData.java
  forge-gui-mobile/src/forge/adventure/scene/SpellSmithScene.java
  forge-gui-mobile/src/forge/adventure/stage/ConsoleCommandInterpreter.java
  forge-gui/src/main/java/forge/gamemodes/planarconquest/ConquestPlane.java
  forge-gui/src/main/java/forge/gamemodes/quest/QuestEventDraft.java
  forge-gui/src/main/java/forge/util/ImageFetcher.java
Labels: Game Mechanics

#7485 YTDM: 10 cards
  forge-gui/res/cardsfolder/upcoming/amber_plate_ainok.txt
  forge-gui/res/cardsfolder/upcoming/audacious_knuckleblade.txt
  forge-gui/res/cardsfolder/upcoming/call_the_crash.txt
  forge-gui/res/cardsfolder/upcoming/cunning_azurescale_divining_dive.txt
  forge-gui/res/cardsfolder/upcoming/dalkovan_outrider.txt
  forge-gui/res/cardsfolder/upcoming/draconic_fealty.txt
  forge-gui/res/cardsfolder/upcoming/dragon_typhoon.txt
  forge-gui/res/cardsfolder/upcoming/hardened_bonds.txt
  forge-gui/res/cardsfolder/upcoming/illuminating_lash.txt
  forge-gui/res/cardsfolder/upcoming/lam_storm_crane_elder.txt
Labels: Upcoming Set

#7472 2 attraction fixes
  forge-gui/res/cardsfolder/m/motion_sickness.txt
  forge-gui/res/cardsfolder/s/storybook_ride.txt
Labels: Card Patch, Unfinity

#7536 Alchemy Rebalancing for May 13, 2025
  forge-gui/res/cardsfolder/a/awestruck_cygnet.txt
  forge-gui/res/cardsfolder/e/enduring_friendship.txt
  forge-gui/res/cardsfolder/n/naktamun_shines_again.txt
  forge-gui/res/cardsfolder/r/ribald_shanty.txt
Labels: Rules/Oracle Changes

#7510 Lock smith prices when you click the Smith button
  forge-gui-mobile/src/forge/adventure/scene/SpellSmithScene.java
Labels: Adventure

#7511 - Sort inventory by item type
  forge-gui-mobile/src/forge/adventure/scene/InventoryScene.java
Labels: Adventure

#7593 Update Cards with WithMayLook
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-gui/res/cardsfolder/b/blightwing_bandit.txt
  forge-gui/res/cardsfolder/b/bloodsoaked_insight_sanguine_morass.txt
  forge-gui/res/cardsfolder/c/cosima_god_of_the_voyage_the_omenkeel.txt
  forge-gui/res/cardsfolder/d/decadent_dragon_expensive_taste.txt
  forge-gui/res/cardsfolder/d/dream_thiefs_bandana.txt
  forge-gui/res/cardsfolder/e/edward_kenway.txt
  forge-gui/res/cardsfolder/g/gonti_canny_acquisitor.txt
  forge-gui/res/cardsfolder/g/gonti_lord_of_luxury.txt
  forge-gui/res/cardsfolder/g/grimoire_thief.txt
  forge-gui/res/cardsfolder/i/ixhel_scion_of_atraxa.txt
  forge-gui/res/cardsfolder/j/jacob_hauken_inspector_haukens_insight.txt
  forge-gui/res/cardsfolder/j/jesters_scepter.txt
  forge-gui/res/cardsfolder/k/kaylas_music_box.txt
  forge-gui/res/cardsfolder/m/mindleecher.txt
  forge-gui/res/cardsfolder/o/outrageous_robbery.txt
  forge-gui/res/cardsfolder/p/petty_larceny.txt
  forge-gui/res/cardsfolder/p/predators_hour.txt
  forge-gui/res/cardsfolder/r/rev_tithe_extractor.txt
  forge-gui/res/cardsfolder/r/rogue_class.txt
  forge-gui/res/cardsfolder/s/siphon_insight.txt
  forge-gui/res/cardsfolder/t/thief_of_sanity.txt
  forge-gui/res/cardsfolder/t/thought_string_analyst.txt
  forge-gui/res/cardsfolder/t/three_wishes.txt
  forge-gui/res/cardsfolder/upcoming/urianger_augurelt.txt
  forge-gui/res/cardsfolder/v/vivien_champion_of_the_wilds.txt
  forge-gui/src/main/java/forge/player/HumanPlay.java
Labels: Game Mechanics

#7595 Edition updates: FCA, FIC, FIN, RFIN, SLD
  forge-gui/res/editions/Final Fantasy Commander.txt
  forge-gui/res/editions/Final Fantasy Regional Promos.txt
  forge-gui/res/editions/Final Fantasy Through the Ages.txt
  forge-gui/res/editions/Final Fantasy.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#7606 Fix Sanguine Soothsayer
  forge-gui/res/cardsfolder/s/sanguine_soothsayer.txt
Labels: Card Patch

#7608 Fix updating room in exile
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/Card.java
Labels: bug

#7620 Edition updates: FCA, FIC, FIN, PF25, PPRO, PSS5, PW25, SCH, SLD
  forge-gui/res/editions/FIN Standard Showdown.txt
  forge-gui/res/editions/Final Fantasy Commander.txt
  forge-gui/res/editions/Final Fantasy Through the Ages.txt
  forge-gui/res/editions/Final Fantasy.txt
  forge-gui/res/editions/MagicFest 2025.txt
  forge-gui/res/editions/Pro Tour Promos.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Store Championships.txt
  forge-gui/res/editions/Wizards Play Network 2025.txt
Labels: Upcoming Set

#7605 Fix "A Focused Mind" quest (Adventure)
  forge-gui-mobile/src/forge/adventure/util/AdventureQuestController.java
  forge-gui-mobile/src/forge/adventure/util/MapDialog.java
  forge-gui/res/adventure/Shandalar/world/quests.json
Labels: Adventure

#7629 Skep typo fix
  forge-gui/res/adventure/common/maps/map/skep/skep_outer.tmx
Labels: Adventure

#7618 Landscape Sketchbook expansion
  forge-gui-mobile/src/forge/adventure/data/ItemData.java
  forge-gui-mobile/src/forge/adventure/data/RewardData.java
  forge-gui/res/adventure/Shandalar/world/shops.json
  forge-gui/res/adventure/common/world/items.json
Labels: Adventure

#7630 Fix AI logic for Sorin, Vengeful Broodlord
  forge-ai/src/main/java/forge/ai/SpecialCardAi.java
  forge-ai/src/main/java/forge/ai/ability/DamageDealAi.java
Labels: AI

#7635 Update remorseless_punishment.txt
  forge-gui/res/cardsfolder/r/remorseless_punishment.txt
Labels: Card Patch

#7636 Update Libgdx to 1.13.5 (fixes Steam Deck mobile backport crash)
  forge-gui-android/pom.xml
  forge-gui-ios/pom.xml
  forge-gui-mobile-dev/pom.xml
  forge-gui-mobile/pom.xml
Labels: Crash fix, dependencies

#7604 Fix Henzie again with SvarFallback
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/spellability/AbilitySub.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/h/henzie_toolbox_torre.txt
Labels: bug, Game Mechanics

#7651 ImageFetcher: add downloadUrl for HiddenCard
  forge-gui/src/main/java/forge/util/ImageFetcher.java
Labels: GUI

#7645 Edgar, King of Figaro and support
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/DamageEachEffect.java
  forge-game/src/main/java/forge/game/ability/effects/FlipCoinEffect.java
  forge-game/src/main/java/forge/game/cost/CostFlipCoin.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityFlipCoinMod.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityMode.java
  forge-gui/res/cardsfolder/a/amulet_of_quoz.txt
  forge-gui/res/cardsfolder/c/crazed_firecat.txt
  forge-gui/res/cardsfolder/c/crooked_scales.txt
  forge-gui/res/cardsfolder/g/game_of_chaos.txt
  forge-gui/res/cardsfolder/g/goblin_assassin.txt
  forge-gui/res/cardsfolder/g/goblin_kaboomist.txt
  forge-gui/res/cardsfolder/m/mirror_march.txt
  forge-gui/res/cardsfolder/m/mirrored_depths.txt
  forge-gui/res/cardsfolder/p/planar_chaos.txt
  forge-gui/res/cardsfolder/t/tide_of_war.txt
  forge-gui/res/cardsfolder/upcoming/edgar_king_of_figaro.txt
Labels: Game Mechanics

#7679 TokenDb: fix Endure Token Images causing crash on Token Viewer
  forge-core/src/main/java/forge/token/TokenDb.java
Labels: Game Mechanics, GUI

#7694 Update fort_white_4_farm.tmx
  forge-gui/res/adventure/common/maps/map/fort/fort_white_4_farm.tmx
Labels: Adventure

#7701 Adventure cleanup: 2025-05-27
  forge-gui/res/adventure/Amonkhet/world/quests.json
  forge-gui/res/adventure/Shandalar/world/quests.json
  forge-gui/res/adventure/common/maps/map/aerie/aerie_0.tmx
  forge-gui/res/adventure/common/maps/map/demontower/portal_2.tmx
  forge-gui/res/adventure/common/maps/map/grove/grove_8_hydra.tmx
  forge-gui/res/adventure/common/maps/map/main_story/castles/black_castle.tmx
  forge-gui/res/adventure/common/maps/map/main_story/castles/blue_castle.tmx
  forge-gui/res/adventure/common/maps/map/main_story/castles/green_castle.tmx
  forge-gui/res/adventure/common/maps/map/main_story/castles/red_castle.tmx
  forge-gui/res/adventure/common/maps/map/main_story/castles/white_castle.tmx
  forge-gui/res/adventure/common/maps/map/main_story/temple_of_gideon/steppe.tmx
  forge-gui/res/adventure/common/maps/map/main_story/temple_of_gideon/town.tmx
  forge-gui/res/adventure/common/maps/map/main_story/temple_of_liliana/town.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/library_of_varsil_2.tmx
  forge-gui/res/adventure/common/maps/map/skep/skep_outer.tmx
  forge-gui/res/adventure/common/maps/map/vampirecastle/vampirecastle_grave_1.tmx
  forge-gui/res/adventure/common/maps/map/vampirecastle/vampirecastle_grave_2.tmx
  forge-gui/res/adventure/common/maps/map/vampirecastle/vampirecastle_grave_3.tmx
Labels: Adventure

#7711 Prishe's Wanderings: support CantSearch case
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-gui/res/cardsfolder/t/tempt_with_discovery.txt
  forge-gui/res/cardsfolder/upcoming/prishes_wanderings.txt
  forge-gui/res/cardsfolder/w/wave_of_vitriol.txt
Labels: Card Cleanup

#7732 Couple fixes
  forge-gui/res/cardsfolder/b/breaching_hippocamp.txt
  forge-gui/res/cardsfolder/s/skanos_dragon_vassal.txt
Labels: Card Cleanup

#7737 Saga: do State-Based and Turn-Based Action only with Chapters
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardState.java
  forge-game/src/main/java/forge/game/phase/PhaseHandler.java
Labels: Upcoming Set, Game Mechanics

#7727 4 FIN cards
  forge-game/src/main/java/forge/game/ability/effects/PumpEffect.java
  forge-gui/res/cardsfolder/upcoming/sidequest_card_collection_magicked_card.txt
  forge-gui/res/cardsfolder/upcoming/the_wandering_minstrel.txt
  forge-gui/res/cardsfolder/upcoming/tifas_limit_break.txt
  forge-gui/res/cardsfolder/upcoming/vincents_limit_break.txt
  forge-gui/res/tokenscripts/all_2_2_elemental.txt
Labels: Upcoming Set

#7730 Quick cleanup: 2025-05-29
  forge-gui/res/cardsfolder/upcoming/adventurers_airship.txt
  forge-gui/res/cardsfolder/upcoming/ahriman.txt
  forge-gui/res/cardsfolder/upcoming/bards_bow.txt
  forge-gui/res/cardsfolder/upcoming/battle_menu.txt
  forge-gui/res/cardsfolder/upcoming/blazing_bomb.txt
  forge-gui/res/cardsfolder/upcoming/cactuar.txt
  forge-gui/res/cardsfolder/upcoming/call_the_mountain_chocobo.txt
  forge-gui/res/cardsfolder/upcoming/choco_comet.txt
  forge-gui/res/cardsfolder/upcoming/chocobo_racetrack.txt
  forge-gui/res/cardsfolder/upcoming/cloud_of_darkness.txt
  forge-gui/res/cardsfolder/upcoming/combat_tutorial.txt
  forge-gui/res/cardsfolder/upcoming/cornered_by_black_mages.txt
  forge-gui/res/cardsfolder/upcoming/crossroads_village.txt
  forge-gui/res/cardsfolder/upcoming/delivery_moogle.txt
  forge-gui/res/cardsfolder/upcoming/fight_on.txt
  forge-gui/res/cardsfolder/upcoming/gigantoad.txt
  forge-gui/res/cardsfolder/upcoming/golbez_crystal_collector.txt
  forge-gui/res/cardsfolder/upcoming/graha_tia.txt
  forge-gui/res/cardsfolder/upcoming/gran_pulse_ochu.txt
  forge-gui/res/cardsfolder/upcoming/gysahl_greens.txt
  forge-gui/res/cardsfolder/upcoming/hecteyes.txt
  forge-gui/res/cardsfolder/upcoming/hill_gigas.txt
  forge-gui/res/cardsfolder/upcoming/il_mheg_pixie.txt
  forge-gui/res/cardsfolder/upcoming/light_of_judgment.txt
  forge-gui/res/cardsfolder/upcoming/loporrit_scout.txt
  forge-gui/res/cardsfolder/upcoming/lunatic_pandora.txt
  forge-gui/res/cardsfolder/upcoming/magic_pot.txt
  forge-gui/res/cardsfolder/upcoming/monks_fist.txt
  forge-gui/res/cardsfolder/upcoming/mysidian_elder.txt
  forge-gui/res/cardsfolder/upcoming/opera_love_song.txt
  forge-gui/res/cardsfolder/upcoming/prishes_wanderings.txt
  forge-gui/res/cardsfolder/upcoming/qutrub_forayer.txt
  forge-gui/res/cardsfolder/upcoming/red_mages_rapier.txt
  forge-gui/res/cardsfolder/upcoming/relentless_x_atm092.txt
  forge-gui/res/cardsfolder/upcoming/resentful_revelation.txt
  forge-gui/res/cardsfolder/upcoming/restoration_magic.txt
  forge-gui/res/cardsfolder/upcoming/ring_of_the_lucii.txt
  forge-gui/res/cardsfolder/upcoming/rook_turret.txt
  forge-gui/res/cardsfolder/upcoming/rufus_shinra.txt
  forge-gui/res/cardsfolder/upcoming/sabotender.txt
  forge-gui/res/cardsfolder/upcoming/sandworm.txt
  forge-gui/res/cardsfolder/upcoming/seifer_almasy.txt
  forge-gui/res/cardsfolder/upcoming/summon_brynhildr.txt
  forge-gui/res/cardsfolder/upcoming/summon_g_f_cerberus.txt
  forge-gui/res/cardsfolder/upcoming/travel_the_overworld.txt
Labels: Card Cleanup

#7740 Edition updates: FCA, FIC, FIN, SLD
  forge-gui/res/editions/Final Fantasy Commander.txt
  forge-gui/res/editions/Final Fantasy Through the Ages.txt
  forge-gui/res/editions/Final Fantasy.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set
