Repository Card-Forge/forge, pull requests merged in 2025-08, with the labels that each got.

#8283 Update icetill_explorer.txt
  forge-gui/res/cardsfolder/i/icetill_explorer.txt
Labels: Card Patch

#8278 Fixing Ultima, Origin of Oblivion
  forge-gui/res/cardsfolder/u/ultima_origin_of_oblivion.txt
Labels: Card Patch

#8288 Fix scripts
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-gui/res/cardsfolder/c/cavalcade_of_calamity.txt
  forge-gui/res/cardsfolder/f/fathom_fleet_swordjack.txt
  forge-gui/res/cardsfolder/h/hellrider.txt
  forge-gui/res/cardsfolder/m/mage_slayer.txt
  forge-gui/res/cardsfolder/m/myr_battlesphere.txt
  forge-gui/res/cardsfolder/r/raid_bombardment.txt
  forge-gui/res/cardsfolder/r/rakdos_roustabout.txt
  forge-gui/res/cardsfolder/s/scorch_spitter.txt
  forge-gui/res/cardsfolder/w/words_of_wind.txt
  forge-gui/res/cardsfolder/z/zenos_yae_galvus_shinryu_transcendent_rival.txt
Labels: Card Patch

#8286 VoteEffect: use SpellAbility Choices
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/ability/effects/VoteEffect.java
  forge-gui/res/cardsfolder/b/bite_of_the_black_rose.txt
  forge-gui/res/cardsfolder/c/capital_punishment.txt
  forge-gui/res/cardsfolder/c/coercive_portal.txt
  forge-gui/res/cardsfolder/c/council_guardian.txt
  forge-gui/res/cardsfolder/e/elrond_of_the_white_council.txt
  forge-gui/res/cardsfolder/e/emissary_green.txt
  forge-gui/res/cardsfolder/e/expropriate.txt
  forge-gui/res/cardsfolder/g/galadriel_elven_queen.txt
  forge-gui/res/cardsfolder/l/lieutenants_of_the_guard.txt
  forge-gui/res/cardsfolder/m/magister_of_worth.txt
  forge-gui/res/cardsfolder/m/messenger_jays.txt
  forge-gui/res/cardsfolder/o/orchard_elemental.txt
  forge-gui/res/cardsfolder/p/path_of_the_animist.txt
  forge-gui/res/cardsfolder/p/path_of_the_enigma.txt
  forge-gui/res/cardsfolder/p/path_of_the_ghosthunter.txt
  forge-gui/res/cardsfolder/p/path_of_the_pyromancer.txt
  forge-gui/res/cardsfolder/p/path_of_the_schemer.txt
  forge-gui/res/cardsfolder/p/plea_for_power.txt
  forge-gui/res/cardsfolder/s/sail_into_the_west.txt
  forge-gui/res/cardsfolder/s/selvalas_stampede.txt
  forge-gui/res/cardsfolder/s/split_decision.txt
  forge-gui/res/cardsfolder/t/tivit_seller_of_secrets.txt
  forge-gui/res/cardsfolder/t/travel_through_caradhras.txt
  forge-gui/res/cardsfolder/t/trial_of_a_time_lord.txt
  forge-gui/res/cardsfolder/t/truth_or_consequences.txt
  forge-gui/res/cardsfolder/t/tyrants_choice.txt
Labels: Game Mechanics, AI

#8294 Mayhem: add new Cast-from-Graveyard variant
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/spellability/AlternativeCost.java
  forge-gui/res/cardsfolder/upcoming/electros_bolt.txt
  forge-gui/res/cardsfolder/upcoming/spider_islanders.txt
Labels: Upcoming Set, Game Mechanics

#8296 Keyword: Web-slinging
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/spellability/AlternativeCost.java
  forge-gui/res/cardsfolder/upcoming/peter_parker_amazing_spider_man.txt
  forge-gui/res/cardsfolder/upcoming/spider_man_brooklyn_visionary.txt
  forge-gui/res/cardsfolder/upcoming/spider_man_web_slinger.txt
Labels: Upcoming Set, Game Mechanics

#8302 Fix AI timeout still keeping Future in calculation even when infinite loop
  forge-ai/src/main/java/forge/ai/AiController.java
Labels: ai-optimization

#8307 Fixes Vote Protection
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCard.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
Labels: Game Mechanics, AI

#8317 ExiledWith check for keyworded
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
Labels: Game Mechanics

#8319 fix VPrompt
  forge-gui-mobile/src/forge/Forge.java
  forge-gui-mobile/src/forge/screens/match/views/VPrompt.java
  forge-gui-mobile/src/forge/screens/settings/SettingsPage.java
Labels: Crash fix, Mobile

#8338 Edition updates: PSPM, PW25, SLD, SPM
  forge-gui/res/editions/Marvel's Spider-Man Promos.txt
  forge-gui/res/editions/Marvel's Spider-Man.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Wizards Play Network 2025.txt
Labels: Upcoming Set

#8337 Perpetual: use Record for different types
  forge-game/src/main/java/forge/game/ability/effects/AnimateEffectBase.java
  forge-game/src/main/java/forge/game/ability/effects/PowerExchangeEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PumpAllEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PumpEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/perpetual/PerpetualAbilities.java
  forge-game/src/main/java/forge/game/card/perpetual/PerpetualColors.java
  forge-game/src/main/java/forge/game/card/perpetual/PerpetualIncorporate.java
  forge-game/src/main/java/forge/game/card/perpetual/PerpetualInterface.java
  forge-game/src/main/java/forge/game/card/perpetual/PerpetualKeywords.java
  forge-game/src/main/java/forge/game/card/perpetual/PerpetualNewPT.java
  forge-game/src/main/java/forge/game/card/perpetual/PerpetualPTBoost.java
  forge-game/src/main/java/forge/game/card/perpetual/PerpetualTypes.java
Labels: Game Mechanics

#8340 GameEventManaPool: Fix NullPointerException
  forge-game/src/main/java/forge/game/event/GameEventManaPool.java
Labels: Game Mechanics

#8351 add backup/restore classic mode data
  forge-gui-mobile/src/forge/screens/settings/FilesPage.java
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/util/ZipUtil.java
Labels: Mobile

#8362 Update Card.hasNoAbilities
  forge-game/src/main/java/forge/game/card/Card.java
Labels: Game Mechanics

#8357 Fix exact search
  forge-gui/src/main/java/forge/itemmanager/AdvancedSearchParser.java
  forge-gui/src/main/java/forge/itemmanager/SFilterUtil.java
Labels: BUG

#8368 Edition updates: TLA, TLE
  forge-gui/res/editions/Avatar The Last Airbender Eternal.txt
  forge-gui/res/editions/Avatar The Last Airbender.txt
Labels: Upcoming Set

#8355 Try to attack mustAttackEntities first.
  forge-gui/src/main/java/forge/gamemodes/match/input/InputAttack.java
Labels: Game Mechanics, Crash fix

#8370 update Sentry
  forge-game/pom.xml
  forge-gui-android/libs/arm64-v8a/libsentry.so
  forge-gui-android/libs/armeabi-v7a/libsentry.so
  forge-gui-android/libs/x86/libsentry.so
  forge-gui-android/libs/x86_64/libsentry.so
  forge-gui-android/pom.xml
Labels: Android

#8388 add Preload Custom Drafts
  forge-gui-mobile/src/forge/Forge.java
  forge-gui-mobile/src/forge/screens/settings/SettingsPage.java
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
  forge-gui/src/main/java/forge/localinstance/properties/ForgePreferences.java
Labels: Mobile

#8397 Edition updates: TLA, TLE, YEOE
  forge-gui/res/editions/Alchemy Edge of Eternities.txt
  forge-gui/res/editions/Avatar The Last Airbender Eternal.txt
  forge-gui/res/editions/Avatar The Last Airbender.txt
Labels: Upcoming Set

#8399 Fix some crashes from the new editor
  forge-gui-mobile/src/forge/adventure/scene/AdventureDeckEditor.java
  forge-gui-mobile/src/forge/adventure/scene/DuelScene.java
Labels: Crash fix, Adventure

#8402 A few auto-sell section fixes
  forge-gui-mobile/src/forge/adventure/scene/AdventureDeckEditor.java
  forge-gui-mobile/src/forge/deck/FDeckEditor.java
Labels: Adventure

#8411 Fix NPE deserializing old decks
  forge-core/src/main/java/forge/deck/Deck.java
Labels: Crash fix

#8406 CardEdition: getPrintSheetsBySection use collectorNumber
  forge-core/src/main/java/forge/card/CardEdition.java
Labels: Game Mechanics

#8414 Attempt to fix another NPE in deserializing decks
  forge-core/src/main/java/forge/deck/Deck.java
Labels: Crash fix

#8419 TLA: Airbend
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/AirbendEffect.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-gui/res/cardsfolder/upcoming/airbending_lesson.txt
Labels: Upcoming Set, Game Mechanics

#8421 revert fileprovider, add sentryscope
  forge-gui-android/src/forge/app/Main.java
Labels: BUG, Android

#8426 fix Itemmanager portrait layout
  forge-gui-mobile/src/forge/itemmanager/ItemManager.java
Labels: GUI, Mobile

#8432 TLA: Firebending
  forge-game/src/main/java/forge/game/ability/effects/ManaEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/keyword/Firebending.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/keyword/KeywordWithAmount.java
  forge-gui/res/cardsfolder/upcoming/loyal_fire_sage.txt
  forge-gui/res/cardsfolder/upcoming/zuko_exiled_prince.txt
Labels: Upcoming Set, Game Mechanics

#8443 Fix emblem image key
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-gui/res/cardsfolder/d/domri_rade.txt
Labels: Images

#8436 Update claws_out.txt
  forge-gui/res/cardsfolder/c/claws_out.txt
Labels: Card Cleanup

#8448 Edition updates: AA1, AA2
  forge-gui/res/editions/Arena Anthology 1.txt
  forge-gui/res/editions/Arena Anthology 2.txt
Labels: Upcoming Set

#8453 Tweak AI logic for Krumar Initiate
  forge-ai/src/main/java/forge/ai/ability/EndureAi.java
Labels: AI

#8463 Update freyalise_skyshroud_partisan.txt
  forge-gui/res/cardsfolder/f/freyalise_skyshroud_partisan.txt
Labels: Card Cleanup

#8462 Fix missing trigger
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-gui/res/cardsfolder/a/ambrosia_whiteheart.txt
  forge-gui/res/cardsfolder/a/aviary_mechanic.txt
  forge-gui/res/cardsfolder/r/rescuer_chwinga.txt
Labels: AI

#8465 Tidying trigger-granting Slivers
  forge-gui/res/cardsfolder/c/constricting_sliver.txt
  forge-gui/res/cardsfolder/d/dementia_sliver.txt
  forge-gui/res/cardsfolder/f/frenetic_sliver.txt
  forge-gui/res/cardsfolder/f/frenzy_sliver.txt
  forge-gui/res/cardsfolder/f/fungus_sliver.txt
  forge-gui/res/cardsfolder/h/harmonic_sliver.txt
  forge-gui/res/cardsfolder/l/lavabelly_sliver.txt
  forge-gui/res/cardsfolder/m/magma_sliver.txt
  forge-gui/res/cardsfolder/m/mesmeric_sliver.txt
  forge-gui/res/cardsfolder/m/mistform_sliver.txt
  forge-gui/res/cardsfolder/o/opaline_sliver.txt
  forge-gui/res/cardsfolder/p/plague_sliver.txt
  forge-gui/res/cardsfolder/p/psionic_sliver.txt
  forge-gui/res/cardsfolder/p/pulmonic_sliver.txt
  forge-gui/res/cardsfolder/r/regal_sliver.txt
  forge-gui/res/cardsfolder/s/sliv_mizzet_hivemind.txt
  forge-gui/res/cardsfolder/s/spiteful_sliver.txt
  forge-gui/res/cardsfolder/t/taunting_sliver.txt
  forge-gui/res/cardsfolder/t/tempered_sliver.txt
  forge-gui/res/cardsfolder/t/thorncaster_sliver.txt
  forge-gui/res/cardsfolder/v/vampiric_sliver.txt
Labels: Card Cleanup

#8467 Tighten scripts
  forge-gui/res/cardsfolder/a/ancient_vendetta.txt
  forge-gui/res/cardsfolder/m/memoricide.txt
Labels: Card Cleanup

#8469 update device info
  adventure-editor/src/main/java/forge/adventure/Main.java
  forge-gui-android/src/forge/app/Main.java
  forge-gui-ios/src/forge/ios/Main.java
  forge-gui-mobile-dev/pom.xml
  forge-gui-mobile-dev/src/forge/app/GameLauncher.java
  forge-gui-mobile/src/forge/Forge.java
  forge-gui/src/main/java/forge/gui/GuiBase.java
  forge-gui/src/main/java/forge/model/FModel.java
  forge-gui/src/main/java/forge/util/HWInfo.java
Labels: Mobile, Android

#8474 Update darigaaz_shivan_champion.txt
  forge-gui/res/cardsfolder/d/darigaaz_shivan_champion.txt
Labels: Card Patch

#8487 YEOE edition and format updates for check land cycle
  forge-gui/res/editions/Alchemy Edge of Eternities.txt
  forge-gui/res/formats/Archived/Alchemy/2025-07-29.txt
  forge-gui/res/formats/Archived/Alchemy/2025-08-19.txt
Labels: Upcoming Set

#8491 Fix IsDoctor check
  forge-core/src/main/java/forge/card/CardRules.java
Labels: BUG

#8512 Allow custom cards as reward
  forge-gui-mobile/src/forge/adventure/data/RewardData.java
Labels: Adventure

#8518 Edition updates: PSPM
  forge-gui/res/editions/Marvel's Spider-Man Promos.txt
Labels: Upcoming Set

#8525 prevent saving error on inventory
  forge-gui-mobile/src/forge/adventure/data/DialogData.java
Labels: BUG, Adventure

#8527 capture adventure SaveFileData exception to sentry
  forge-gui-mobile/src/forge/adventure/util/SaveFileData.java
Labels: Adventure

#8535 Fix Thief of Blood simultaneous ETB
  forge-game/src/main/java/forge/game/ability/effects/CountersRemoveEffect.java
  forge-gui/res/cardsfolder/s/sin_unending_cataclysm.txt
  forge-gui/res/cardsfolder/s/suncleanser.txt
  forge-gui/res/cardsfolder/t/thief_of_blood.txt
Labels: Rules compliance

#8531 Game: only reverse NonactivePlayers if more than one
  forge-game/src/main/java/forge/game/Game.java
Labels: Game Mechanics

#8544 Option to remove unsupported card from collection
  forge-core/src/main/java/forge/card/CardRules.java
  forge-gui-mobile/src/forge/adventure/scene/AdventureDeckEditor.java
  forge-gui-mobile/src/forge/card/CardRenderer.java
  forge-gui-mobile/src/forge/menu/FDropDownMenu.java
  forge-gui/res/languages/de-DE.properties
  forge-gui/res/languages/en-US.properties
  forge-gui/res/languages/es-ES.properties
  forge-gui/res/languages/fr-FR.properties
  forge-gui/res/languages/it-IT.properties
  forge-gui/res/languages/ja-JP.properties
  forge-gui/res/languages/pt-BR.properties
  forge-gui/res/languages/zh-CN.properties
Labels: Adventure

#8484 YEOE: 5 cards
  forge-gui/res/cardsfolder/upcoming/stoic_star_captain.txt
  forge-gui/res/cardsfolder/upcoming/thendar_the_overminer.txt
  forge-gui/res/cardsfolder/upcoming/val_marooned_surveyor.txt
  forge-gui/res/cardsfolder/upcoming/vvviza_orbital_overseer.txt
  forge-gui/res/cardsfolder/upcoming/worldweave.txt
Labels: Upcoming Set

#8492 Alchemy update 20250818
  forge-gui/res/cardsfolder/a/awestruck_cygnet.txt
  forge-gui/res/cardsfolder/c/caged_sun.txt
  forge-gui/res/cardsfolder/h/housemeld.txt
  forge-gui/res/cardsfolder/r/recruit_instructor.txt
  forge-gui/res/cardsfolder/r/ribald_shanty.txt
  forge-gui/res/cardsfolder/rebalanced/a-cori_steel_cutter.txt
  forge-gui/res/cardsfolder/rebalanced/a-sorin_imperious_bloodlord.txt
  forge-gui/res/cardsfolder/s/shellfish_scholar.txt
  forge-gui/res/cardsfolder/s/speedbrood_stalker.txt
  forge-gui/res/cardsfolder/t/thought_rattle.txt
  forge-gui/res/editions/Core Set 2020.txt
  forge-gui/res/editions/Tarkir Dragonstorm.txt
Labels: Rules/Oracle Changes

#8567 TriggerHandler: no need for APNAP
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
Labels: Game Mechanics

#8580 GameActionUtil: fix getFirstSpellAbility using castSA
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/effects/PermanentCreatureEffect.java
  forge-game/src/main/java/forge/game/card/CardState.java
Labels: Game Mechanics

#8578 Behold the Sinister Six! and support
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/spellability/TargetRestrictions.java
  forge-gui/res/cardsfolder/upcoming/behold_the_sinister_six.txt
  forge-gui/src/main/java/forge/gamemodes/match/input/InputSelectTargets.java
Labels: Upcoming Set, Game Mechanics

#8586 Fix Urza's Miter
  forge-game/src/main/java/forge/game/ability/effects/ImmediateTriggerEffect.java
  forge-game/src/main/java/forge/game/trigger/TriggerHandler.java
  forge-gui/res/cardsfolder/u/urzas_miter.txt
Labels: Card Patch
