Repository Card-Forge/forge, pull requests merged in 2025-10, with the labels that each got.

#8817 Edition updates: ECL, FIC, FIN, SLD, SLP
  forge-gui/res/editions/Final Fantasy Commander.txt
  forge-gui/res/editions/Final Fantasy.txt
  forge-gui/res/editions/Lorwyn Eclipsed.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Secret Lair Showdown.txt
Labels: Upcoming Set

#8823 Different names rework
  forge-ai/src/main/java/forge/ai/AiCostDecision.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardChangedName.java
  forge-game/src/main/java/forge/game/card/CardLists.java
  forge-game/src/main/java/forge/game/cost/CostDiscard.java
  forge-game/src/main/java/forge/game/cost/CostSacrifice.java
  forge-gui/res/cardsfolder/a/all_fates_scroll.txt
  forge-gui/res/cardsfolder/a/audience_with_trostani.txt
  forge-gui/res/cardsfolder/a/awakened_amalgam.txt
  forge-gui/res/cardsfolder/e/eerie_ultimatum.txt
  forge-gui/res/cardsfolder/e/euroakus.txt
  forge-gui/res/cardsfolder/f/field_of_the_dead.txt
  forge-gui/res/cardsfolder/f/fungal_colossus.txt
  forge-gui/res/cardsfolder/g/gimbal_gremlin_prodigy.txt
  forge-gui/res/cardsfolder/l/lilianas_contract.txt
  forge-gui/res/cardsfolder/m/mazes_end.txt
  forge-gui/res/cardsfolder/m/monument_to_perfection.txt
  forge-gui/res/cardsfolder/n/neriv_crackling_vanguard.txt
  forge-gui/res/cardsfolder/o/ormos_archive_keeper.txt
  forge-gui/res/cardsfolder/s/sandsteppe_war_riders.txt
  forge-gui/res/cardsfolder/s/scalpelexis.txt
  forge-gui/res/cardsfolder/s/signal_the_clans.txt
  forge-gui/res/cardsfolder/s/survey_mechan.txt
  forge-gui/res/cardsfolder/s/swine_rebellion.txt
  forge-gui/res/cardsfolder/t/the_necrobloom.txt
  forge-gui/src/main/java/forge/player/HumanCostDecision.java
Labels: Game Mechanics

#8838 AbilityUtils: move SumPower to handlePaid
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/a/adipose_offspring.txt
  forge-gui/res/cardsfolder/a/atarka_beastbreaker.txt
  forge-gui/res/cardsfolder/a/atarka_pummeler.txt
  forge-gui/res/cardsfolder/b/battle_cry_goblin.txt
  forge-gui/res/cardsfolder/b/betor_kin_to_all.txt
  forge-gui/res/cardsfolder/b/bow_to_my_command.txt
  forge-gui/res/cardsfolder/c/case_of_the_trampled_garden.txt
  forge-gui/res/cardsfolder/c/circle_of_elders.txt
  forge-gui/res/cardsfolder/c/crater_elemental.txt
  forge-gui/res/cardsfolder/d/dragon_scarred_bear.txt
  forge-gui/res/cardsfolder/d/dragon_whisperer.txt
  forge-gui/res/cardsfolder/f/finneas_ace_archer.txt
  forge-gui/res/cardsfolder/g/ghalta_primal_hunger.txt
  forge-gui/res/cardsfolder/g/gimlis_reckless_might.txt
  forge-gui/res/cardsfolder/g/glade_watcher.txt
  forge-gui/res/cardsfolder/g/gnoll_hunter.txt
  forge-gui/res/cardsfolder/h/hobgoblin_captain.txt
  forge-gui/res/cardsfolder/i/intrepid_outlander.txt
  forge-gui/res/cardsfolder/k/klauth_unrivaled_ancient.txt
  forge-gui/res/cardsfolder/l/loxodon_lifechanter.txt
  forge-gui/res/cardsfolder/l/lurking_arynx.txt
  forge-gui/res/cardsfolder/m/martial_coup.txt
  forge-gui/res/cardsfolder/m/minion_of_the_mighty.txt
  forge-gui/res/cardsfolder/m/mosswort_bridge.txt
  forge-gui/res/cardsfolder/o/owlbear_shepherd.txt
  forge-gui/res/cardsfolder/p/phyrexian_dreadnought.txt
  forge-gui/res/cardsfolder/s/sabertooth_outrider.txt
  forge-gui/res/cardsfolder/s/shaman_of_forgotten_ways.txt
  forge-gui/res/cardsfolder/s/stampeding_elk_herd.txt
  forge-gui/res/cardsfolder/s/surrak_the_hunt_caller.txt
  forge-gui/res/cardsfolder/t/targ_nar_demon_fang_gnoll.txt
  forge-gui/res/cardsfolder/t/the_pride_of_hull_clade.txt
  forge-gui/res/cardsfolder/t/tiger_tribe_hunter.txt
  forge-gui/res/cardsfolder/t/towering_titan.txt
  forge-gui/res/cardsfolder/u/ugins_mastery.txt
  forge-gui/res/cardsfolder/u/ultra_magnus_tactician_ultra_magnus_armored_carrier.txt
  forge-gui/res/cardsfolder/v/volcanic_salvo.txt
  forge-gui/res/cardsfolder/v/vulpine_harvester.txt
  forge-gui/res/cardsfolder/w/werewolf_pack_leader.txt
Labels: Game Mechanics

#8851 Refactor UnlockedDoors using PlayerProperty
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-gui/res/cardsfolder/c/central_elevator_promising_stairs.txt
  forge-gui/res/cardsfolder/r/rampaging_soulrager.txt
  forge-gui/res/cardsfolder/s/smoky_lounge_misty_salon.txt
Labels: Game Mechanics

#8854 Update the_soul_stone.txt
  forge-gui/res/cardsfolder/t/the_soul_stone.txt
Labels: Card Patch

#8846 Adventure cleanup: 2025-10-04
  forge-gui/res/adventure/Amonkhet/world/shops.json
  forge-gui/res/adventure/Crystal_Kingdoms/world/quests.json
  forge-gui/res/adventure/Crystal_Kingdoms/world/shops.json
  forge-gui/res/adventure/Crystal_Kingdoms/world/town_names_blue.txt
  forge-gui/res/adventure/Innistrad/decks/shops/inn_Missionaries.dck
  forge-gui/res/adventure/Innistrad/decks/shops/inn_Peasants.dck
  forge-gui/res/adventure/Innistrad/decks/standard/INN/inn_peasant_easy.dck
  forge-gui/res/adventure/Innistrad/decks/standard/INN/inn_the_whisperers.dck
  forge-gui/res/adventure/Innistrad/decks/starter/inn/Adventure - INN Low Red.dck
  forge-gui/res/adventure/Innistrad/maps/map/Innistrad/cave/inn_cave_river_entrance.tmx
  forge-gui/res/adventure/Innistrad/maps/map/Innistrad/library/inn_library.tmx
  forge-gui/res/adventure/Innistrad/world/items.json
  forge-gui/res/adventure/Innistrad/world/quests.json
  forge-gui/res/adventure/Innistrad/world/shops.json
  forge-gui/res/adventure/Shandalar Old Border/world/enemies.json
  forge-gui/res/adventure/Shandalar Old Border/world/quests.json
  forge-gui/res/adventure/Shandalar Old Border/world/shops.json
  forge-gui/res/adventure/Shandalar Old Border/world/shops.json.bak
  forge-gui/res/adventure/Shandalar Old Border/world/town_names_black.txt
  forge-gui/res/adventure/Shandalar Old Border/world/town_names_blue.txt
  forge-gui/res/adventure/Shandalar Old Border/world/town_names_green.txt
  forge-gui/res/adventure/Shandalar Old Border/world/town_names_waste.txt
  forge-gui/res/adventure/Shandalar/world/quests.json
  forge-gui/res/adventure/Shandalar/world/shops.json
  forge-gui/res/adventure/Shandalar/world/town_names_blue.txt
  forge-gui/res/adventure/common/maps/map/grove/grove_1_bears.tmx
  forge-gui/res/adventure/common/maps/map/main_story_explore/library_of_varsil_3.tmx
  forge-gui/res/adventure/common/maps/map/maze/maze_2.tmx
Labels: Adventure

#8865 Fix MoveCounters with beneficial counters
  forge-ai/src/main/java/forge/ai/ability/CountersMoveAi.java
Labels: AI
