Repository Card-Forge/forge, pull requests merged in 2025-07, with the labels that each got.

#7911 Adventure church map fix
  forge-gui/res/adventure/common/maps/map/cave/cave_multilevel/cave_16BR3U.tmx
  forge-gui/res/adventure/common/maps/map/magetower/magetower_7_church.tmx
  forge-gui/res/adventure/common/maps/map/minibosses/teferi.tmx
  forge-gui/res/adventure/common/maps/map/tibalt/tibalt_f3.tmx
Labels: Adventure

#7916 Evil Grove crash fix
  forge-gui/res/adventure/common/maps/map/evilgrove/evilgrove_4_cursedforest.tmx
Labels: Adventure

#7933 fix rounded borders for tokens since it gets the full bordered image …
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-gui-mobile/src/forge/assets/ImageCache.java
  forge-gui-mobile/src/forge/card/CardImage.java
  forge-gui-mobile/src/forge/card/CardImageRenderer.java
  forge-gui-mobile/src/forge/card/CardRenderer.java
Labels: Mobile

#7927 Fix updateTarget
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeTargetsEffect.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityStackInstance.java
Labels: bug

#7943 Tapestry Warden and support
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardLists.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityTapPowerValue.java
  forge-gui/res/cardsfolder/upcoming/tapestry_warden.txt
Labels: Upcoming Set, Game Mechanics

#7895 Two cards from EOE uncommon leaks that I can actually read
  forge-gui/res/cardsfolder/n/neva_stalked_by_nightmares.txt
  forge-gui/res/cardsfolder/upcoming/biomechan_engineer.txt
  forge-gui/res/cardsfolder/upcoming/rescue skiff.txt
  forge-gui/res/cardsfolder/upcoming/the_seriema.txt
  forge-gui/res/cardsfolder/upcoming/uthros_scanship.txt
  forge-gui/res/lists/TypeLists.txt
  forge-gui/res/tokenscripts/c_a_lander_sac_search.txt
Labels: Upcoming Set

#7953 fix W and S keys for TextField input
  forge-gui-mobile/src/forge/adventure/scene/UIScene.java
  forge-gui-mobile/src/forge/adventure/util/KeyBinding.java
Labels: Adventure

#7955 Fix typo
  forge-gui-mobile/src/forge/adventure/data/DifficultyData.java
  forge-gui-mobile/src/forge/adventure/player/AdventurePlayer.java
  forge-gui-mobile/src/forge/adventure/scene/NewGameScene.java
  forge-gui/res/adventure/common/config.json
Labels: Adventure

#8012 Update RewardActor
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
  forge-gui/res/adventure/common/sprites/items.atlas
  forge-gui/res/adventure/common/sprites/items.png
Labels: Adventure

#8013 fix crash
  forge-gui-mobile/src/forge/adventure/stage/GameHUD.java
  forge-gui-mobile/src/forge/adventure/util/UIActor.java
Labels: Adventure

#8019 Adventure - old school adventure restricting newest sets
  forge-gui/res/adventure/Shandalar Old Border/config.json
Labels: Adventure

#8027 Add puzzles PS_TDM4-5, PS_FIN1-3.
  forge-gui/res/puzzle/PS_FIN1.pzl
  forge-gui/res/puzzle/PS_FIN2.pzl
  forge-gui/res/puzzle/PS_FIN3.pzl
  forge-gui/res/puzzle/PS_TDM4.pzl
  forge-gui/res/puzzle/PS_TDM5.pzl
Labels: Puzzle Mode

#8024 Fix Spacecraft type collision
  forge-core/src/main/java/forge/card/CardType.java
Labels: Game Mechanics

#8023 update libs for LibGDX 1.13.5
  forge-gui-android/libs/arm64-v8a/libgdx-box2d.so
  forge-gui-android/libs/arm64-v8a/libgdx-freetype.so
  forge-gui-android/libs/arm64-v8a/libgdx.so
  forge-gui-android/libs/armeabi-v7a/libgdx-box2d.so
  forge-gui-android/libs/armeabi-v7a/libgdx-freetype.so
  forge-gui-android/libs/armeabi-v7a/libgdx.so
  forge-gui-android/libs/gdx-backend-android-sources.jar
  forge-gui-android/libs/gdx-backend-android.jar
  forge-gui-android/libs/gdx-controllers-android.jar
  forge-gui-android/libs/gdx-freetype.jar
  forge-gui-android/libs/gdx-sources.jar
  forge-gui-android/libs/gdx.jar
  forge-gui-android/libs/x86/libgdx-box2d.so
  forge-gui-android/libs/x86/libgdx-freetype.so
  forge-gui-android/libs/x86/libgdx.so
  forge-gui-android/libs/x86_64/libgdx-box2d.so
  forge-gui-android/libs/x86_64/libgdx-freetype.so
  forge-gui-android/libs/x86_64/libgdx.so
  forge-gui-android/pom.xml
  forge-gui-android/proguard.cfg
  forge-gui-android/src/com/badlogic/gdx/backends/android/AndroidApplication.java
  forge-gui-android/src/com/badlogic/gdx/backends/android/DefaultAndroidInput.java
  forge-gui-ios/libs/gdx-backend-robovm-sources.jar
  forge-gui-ios/libs/gdx-backend-robovm.jar
  forge-gui-ios/libs/gdx-sources.jar
  forge-gui-ios/libs/gdx.jar
  forge-gui-mobile-dev/libs/gdx-backend-lwjgl-natives.jar
  forge-gui-mobile-dev/libs/gdx-backend-lwjgl-sources.jar
  forge-gui-mobile-dev/libs/gdx-backend-lwjgl.jar
  forge-gui-mobile-dev/libs/gdx-box2d-platform-natives.jar
  forge-gui-mobile-dev/libs/gdx-freetype-natives.jar
  forge-gui-mobile-dev/libs/gdx-natives.jar
  forge-gui-mobile-dev/pom.xml
  forge-gui-mobile/libs/gdx-freetype.jar
  forge-gui-mobile/libs/gdx-natives.jar
  forge-gui-mobile/libs/gdx-sources.jar
  forge-gui-mobile/libs/gdx.jar
  forge-gui-mobile/pom.xml
Labels: Android

#8035 AI hint for Olivia's Wrath
  forge-gui/res/cardsfolder/o/olivias_wrath.txt
Labels: AI

#8082 Edition updates: EOE, EOS, SPG
  forge-gui/res/editions/Edge of Eternities Stellar Sights.txt
  forge-gui/res/editions/Edge of Eternities.txt
  forge-gui/res/editions/Special Guests.txt
Labels: Upcoming Set

#8080 Try to use current set when creating a card from an effect
  forge-core/src/main/java/forge/StaticData.java
  forge-core/src/main/java/forge/card/CardDb.java
  forge-core/src/main/java/forge/card/CardEdition.java
  forge-game/src/main/java/forge/game/GameFormat.java
  forge-game/src/main/java/forge/game/ability/effects/MakeCardEffect.java
  forge-gui-mobile/src/forge/adventure/data/RewardData.java
  forge-gui/res/editions/Alchemy Dominaria.txt
  forge-gui/res/editions/Alchemy Horizons Baldur's Gate.txt
  forge-gui/res/editions/Jumpstart Historic Horizons.txt
  forge-gui/src/main/java/forge/gamemodes/planarconquest/ConquestPlane.java
  forge-gui/src/main/java/forge/gamemodes/quest/BoosterUtils.java
  forge-gui/src/main/java/forge/gamemodes/quest/QuestEventDraft.java
  forge-gui/src/main/java/forge/gamemodes/quest/QuestUtilCards.java
Labels: Images

#8092 Henzie day: fix copied spell gaining Blitz
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/PermanentEffect.java
Labels: Rules compliance

#8091 Remove conjured cards from rewards
  forge-core/src/main/java/forge/card/CardDb.java
  forge-core/src/main/java/forge/card/CardEdition.java
  forge-core/src/main/java/forge/item/PaperCardPredicates.java
  forge-gui-mobile/src/forge/adventure/data/RewardData.java
Labels: bug

#8094 Back to quest list button fix
  forge-gui-mobile/src/forge/adventure/scene/QuestLogScene.java
Labels: bug, Adventure

#8101 Edition updates: EOE, EOS, SLD
  forge-gui/res/editions/Edge of Eternities Stellar Sights.txt
  forge-gui/res/editions/Edge of Eternities.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#8120 Edition updates: EOC, EOE, EOS, SCH
  forge-gui/res/editions/Edge of Eternities Commander.txt
  forge-gui/res/editions/Edge of Eternities Stellar Sights.txt
  forge-gui/res/editions/Edge of Eternities.txt
  forge-gui/res/editions/Store Championships.txt
Labels: Upcoming Set

#8125 EOE Edition Sections
  forge-gui/res/editions/Edge of Eternities.txt
Labels: Upcoming Set

#8128 Quick cleanup: 2025-07-19, pass 2
  forge-gui/res/tokenscripts/c_1_1_a_drone_flying_blockflying.txt
  forge-gui/res/tokenscripts/c_2_2_a_robot.txt
  forge-gui/res/tokenscripts/c_a_lander_sac_search.txt
  forge-gui/res/tokenscripts/munitions.txt
Labels: Card Cleanup

#8131 Fix Lobelia Sackville-Baggins
  forge-gui/res/cardsfolder/l/lobelia_sackville_baggins.txt
Labels: Card Patch

#8048 New 16x16 sprites and avatars for planeswalkers &c.
  forge-gui/res/adventure/common/sprites/enemy/fey/xira.atlas
  forge-gui/res/adventure/common/sprites/enemy/fey/xira.png
  forge-gui/res/adventure/common/sprites/enemy/fiend/tibalt.atlas
  forge-gui/res/adventure/common/sprites/enemy/fiend/tibalt.png
  forge-gui/res/adventure/common/sprites/enemy/humanoid/human/shaman/garruk.atlas
  forge-gui/res/adventure/common/sprites/enemy/humanoid/human/shaman/garruk.png
  forge-gui/res/adventure/common/sprites/enemy/humanoid/human/shaman/garruk2.atlas
  forge-gui/res/adventure/common/sprites/enemy/humanoid/human/shaman/garruk2.png
  forge-gui/res/adventure/common/sprites/enemy/humanoid/human/wizard/jace.atlas
  forge-gui/res/adventure/common/sprites/enemy/humanoid/human/wizard/jace.png
  forge-gui/res/adventure/common/sprites/enemy/humanoid/human/wizard/teferi.atlas
  forge-gui/res/adventure/common/sprites/enemy/humanoid/human/wizard/teferi.png
  forge-gui/res/adventure/common/sprites/enemy/humanoid/kor/nahiri.atlas
  forge-gui/res/adventure/common/sprites/enemy/humanoid/kor/nahiri.png
  forge-gui/res/adventure/common/sprites/enemy/humanoid/merfolk/kiora.atlas
  forge-gui/res/adventure/common/sprites/enemy/humanoid/merfolk/kiora.png
  forge-gui/res/adventure/common/sprites/enemy/humanoid/minotaur/zedru.atlas
  forge-gui/res/adventure/common/sprites/enemy/humanoid/minotaur/zedru.png
  forge-gui/res/adventure/common/sprites/enemy/undead/sorin.atlas
  forge-gui/res/adventure/common/sprites/enemy/undead/sorin.png
  forge-gui/res/adventure/common/world/enemies.json
Labels: Adventure

#8000 Update Arena sets
  forge-gui/res/editions/Arena Beginner Set.txt
  forge-gui/res/editions/Arena New Player Experience Cards.txt
  forge-gui/res/editions/Arena New Player Experience Extras.txt
  forge-gui/res/editions/Arena New Player Experience.txt
  forge-gui/res/editions/M19 Gift Pack.txt
Labels: Images

#8009 Support code2 and alias in sheets
  forge-core/src/main/java/forge/card/CardEdition.java
  forge-core/src/main/java/forge/card/PrintSheet.java
  forge-core/src/main/java/forge/item/generation/BoosterGenerator.java
Labels: bug, Adventure

#8130 Fix Territorial Bruntar
  forge-gui/res/cardsfolder/t/territorial_bruntar.txt
Labels: Card Patch

#8127 Devour: better keyword
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/keyword/Devour.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/keyword/KeywordWithAmountAndType.java
  forge-gui/res/cardsfolder/c/caprichrome.txt
  forge-gui/res/cardsfolder/f/famished_worldsire.txt
  forge-gui/res/cardsfolder/f/feasting_hobbit.txt
  forge-gui/res/cardsfolder/t/thromok_the_insatiable.txt
Labels: Game Mechanics

#7657 Flavor for Equip
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-gui/res/cardsfolder/d/dragoons_lance.txt
  forge-gui/res/cardsfolder/s/summoners_grimoire.txt
Labels: Card Cleanup

#8139 RepeatEach refactoring
  forge-game/src/main/java/forge/game/ability/effects/RepeatEachEffect.java
  forge-gui/res/cardsfolder/a/atraxa_grand_unifier.txt
  forge-gui/res/cardsfolder/c/consuming_tide.txt
  forge-gui/res/cardsfolder/c/crypt_champion.txt
  forge-gui/res/cardsfolder/c/curfew.txt
  forge-gui/res/cardsfolder/d/delirium_skeins.txt
  forge-gui/res/cardsfolder/d/descent_into_madness.txt
  forge-gui/res/cardsfolder/e/enslaved_horror.txt
  forge-gui/res/cardsfolder/e/exhume.txt
  forge-gui/res/cardsfolder/f/fall_of_the_thran.txt
  forge-gui/res/cardsfolder/f/fell_beasts_shriek.txt
  forge-gui/res/cardsfolder/g/gor_muldrak_amphinologist.txt
  forge-gui/res/cardsfolder/g/grime_gorger.txt
  forge-gui/res/cardsfolder/j/jace_architect_of_thought.txt
  forge-gui/res/cardsfolder/k/king_narfis_betrayal.txt
  forge-gui/res/cardsfolder/m/mind_swords.txt
  forge-gui/res/cardsfolder/o/only_i_know_what_awaits.txt
  forge-gui/res/cardsfolder/p/planar_overlay.txt
  forge-gui/res/cardsfolder/p/portent_of_calamity.txt
  forge-gui/res/cardsfolder/s/sail_into_the_west.txt
  forge-gui/res/cardsfolder/s/sculpted_sunburst.txt
  forge-gui/res/cardsfolder/s/sothera_the_supervoid.txt
  forge-gui/res/cardsfolder/s/sporogenesis.txt
  forge-gui/res/cardsfolder/s/summon_esper_valigarmanda.txt
  forge-gui/res/cardsfolder/t/the_three_seasons.txt
  forge-gui/res/cardsfolder/u/urzas_sylex.txt
  forge-gui/res/cardsfolder/v/virtuss_maneuver.txt
  forge-gui/res/cardsfolder/w/words_of_wind.txt
  forge-gui/res/cardsfolder/w/worldpurge.txt
  forge-gui/res/cardsfolder/z/zndrsplts_judgment.txt
Labels: Card Cleanup

#8144 adjust playersprite spawn point on new game
  forge-gui-mobile/src/forge/adventure/character/PlayerSprite.java
  forge-gui-mobile/src/forge/adventure/stage/WorldStage.java
Labels: Adventure

#8145 fix Rewarded Deck dialogs
  forge-gui-mobile/src/forge/adventure/player/AdventurePlayer.java
  forge-gui-mobile/src/forge/adventure/scene/NewGameScene.java
  forge-gui-mobile/src/forge/adventure/scene/SaveLoadScene.java
  forge-gui-mobile/src/forge/adventure/scene/TileMapScene.java
  forge-gui-mobile/src/forge/adventure/stage/ConsoleCommandInterpreter.java
  forge-gui-mobile/src/forge/adventure/stage/GameStage.java
  forge-gui-mobile/src/forge/adventure/stage/WorldStage.java
  forge-gui-mobile/src/forge/adventure/util/MapDialog.java
Labels: Adventure

#8149 EOE Historic bans
  forge-gui/res/formats/Archived/Historic/2025-07-29.txt
  forge-gui/res/formats/Sanctioned/Historic.txt
Labels: Format Changes

#8146 Fix for red castle
  forge-gui/res/adventure/common/maps/map/main_story/castles/red_castle_f1.tmx
Labels: Adventure

#8148 Cast after warping only for owner
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
Labels: Rules compliance

#8156 Update giott_king_of_the_dwarves.txt
  forge-gui/res/cardsfolder/g/giott_king_of_the_dwarves.txt
Labels: Card Cleanup

#8155 Cleanup: 2025-07-22
  forge-gui/res/cardsfolder/g/gilder_bairn.txt
  forge-gui/res/cardsfolder/h/hateflayer.txt
  forge-gui/res/cardsfolder/m/merrow_grimeblotter.txt
  forge-gui/res/cardsfolder/m/merrow_wavebreakers.txt
  forge-gui/res/cardsfolder/o/order_of_whiteclay.txt
  forge-gui/res/cardsfolder/p/pale_wayfarer.txt
  forge-gui/res/cardsfolder/p/patrol_signaler.txt
  forge-gui/res/cardsfolder/p/primeval_bounty.txt
  forge-gui/res/cardsfolder/p/puresight_merrow.txt
  forge-gui/res/cardsfolder/r/restless_fortress.txt
  forge-gui/res/cardsfolder/r/ryu_world_warrior.txt
  forge-gui/res/cardsfolder/s/safehold_sentry.txt
  forge-gui/res/cardsfolder/s/short_circuit.txt
  forge-gui/res/cardsfolder/s/silkbind_faerie.txt
  forge-gui/res/cardsfolder/s/summon_magus_sisters.txt
  forge-gui/res/cardsfolder/t/the_aesir_escape_valhalla.txt
  forge-gui/res/cardsfolder/t/the_creation_of_avacyn.txt
  forge-gui/res/cardsfolder/y/your_plans_mean_nothing.txt
  forge-gui/res/cardsfolder/y/yunas_decision.txt
Labels: Card Cleanup

#8164 update SettingsScene landscape checkbox
  forge-gui-mobile/src/forge/adventure/scene/SettingsScene.java
Labels: Adventure, Android

#8173 Rename rukarumal_biologist.txt to rukarumel_biologist.txt
  forge-gui/res/cardsfolder/r/rukarumel_biologist.txt
Labels: Card Cleanup

#8169 CardFactory: fix Squad TokenNames
  forge-game/src/main/java/forge/game/card/CardFactory.java
Labels: Game Mechanics, Images

#8167 CopyPermanentEffect: fix DefinedName TokenKey
  forge-game/src/main/java/forge/game/ability/effects/CopyPermanentEffect.java
Labels: Game Mechanics, Images

#8162 Fix PlayEffect skipping some checks (e.g. split second on AI)
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/spellability/Spell.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-gui/res/cardsfolder/z/zenos_yae_galvus_shinryu_transcendent_rival.txt
Labels: Game Mechanics

#8175 Basic renderer support for Spacecraft PT
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-gui-desktop/src/main/java/forge/toolbox/imaging/FCardImageRenderer.java
Labels: GUI, Desktop

#8183 Edition updates: SLD, SPE, SPM
  forge-gui/res/editions/Marvel's Spider-Man Eternal.txt
  forge-gui/res/editions/Marvel's Spider-Man.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#8193 fix planechase bg download
  forge-gui-mobile/src/forge/util/LibGDXImageFetcher.java
  forge-gui/src/main/java/forge/util/ImageFetcher.java
Labels: Mobile, Images

#8195 Edition updates: PURL, SPM
  forge-gui/res/editions/Marvel's Spider-Man.txt
  forge-gui/res/editions/URL Convention Promos.txt
Labels: Upcoming Set

#8196 Quick cleanup: 2025-07-24
  forge-gui/res/cardsfolder/upcoming/alchemax_slayer_bots.txt
  forge-gui/res/cardsfolder/upcoming/aunt_may.txt
  forge-gui/res/cardsfolder/upcoming/beetle_legacy_criminal.txt
  forge-gui/res/cardsfolder/upcoming/daily_bugle_reporters.txt
  forge-gui/res/cardsfolder/upcoming/grow_extra_arms.txt
  forge-gui/res/cardsfolder/upcoming/guy_in_the_chair.txt
  forge-gui/res/cardsfolder/upcoming/kapow.txt
  forge-gui/res/cardsfolder/upcoming/mechanical_mobster.txt
  forge-gui/res/cardsfolder/upcoming/shocker_unshakable.txt
  forge-gui/res/cardsfolder/upcoming/spider_man_2099.txt
  forge-gui/res/cardsfolder/upcoming/taxi_driver.txt
  forge-gui/res/cardsfolder/upcoming/tombstone_career_criminal.txt
  forge-gui/res/cardsfolder/upcoming/unstable_experiment.txt
  forge-gui/res/cardsfolder/upcoming/venom_blast.txt
  forge-gui/res/cardsfolder/upcoming/venom_evil_unleashed.txt
  forge-gui/res/cardsfolder/upcoming/venoms_hunger.txt
  forge-gui/res/cardsfolder/upcoming/wild_pack_squad.txt
Labels: Card Cleanup

#8199 Refactor Offering
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardUtil.java
  forge-game/src/main/java/forge/game/cost/CostAdjustment.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-gui/res/cardsfolder/b/blast_furnace_hellkite.txt
  forge-gui/res/cardsfolder/p/patron_of_the_akki.txt
  forge-gui/res/cardsfolder/p/patron_of_the_kitsune.txt
  forge-gui/res/cardsfolder/p/patron_of_the_moon.txt
  forge-gui/res/cardsfolder/p/patron_of_the_nezumi.txt
  forge-gui/res/cardsfolder/p/patron_of_the_orochi.txt
Labels: Card Cleanup

#8200 Spectacular Spider-Man: fixing typos
  forge-gui/res/cardsfolder/upcoming/spectacular_spider_man.txt
Labels: Card Cleanup

#8077 Advanced filtering using the search box
  forge-core/src/main/java/forge/card/CardRarity.java
  forge-core/src/main/java/forge/card/CardRules.java
  forge-core/src/main/java/forge/card/CardRulesPredicates.java
  forge-core/src/main/java/forge/item/PaperCardPredicates.java
  forge-gui/src/main/java/forge/itemmanager/AdvancedSearchParser.java
  forge-gui/src/main/java/forge/itemmanager/SFilterUtil.java
  forge-gui/src/main/java/forge/itemmanager/advancedsearchparsers/InParser.java
  forge-gui/src/main/java/forge/itemmanager/advancedsearchparsers/RarityParser.java
Labels: Enhancement, GUI, QOL

#8008 Allow the display of the placeholder in shops and reward windows.
  forge-gui-mobile/src/forge/adventure/scene/RewardScene.java
  forge-gui-mobile/src/forge/adventure/util/RewardActor.java
  forge-gui-mobile/src/forge/card/CardImageRenderer.java
Labels: Enhancement, GUI, Adventure

#8216 Edition updates: SPM
  forge-gui/res/editions/Marvel's Spider-Man.txt
Labels: Upcoming Set

#8218 fix DualListBox Scrollbounds width and height
  forge-gui-mobile/src/forge/toolbox/DualListBox.java
Labels: GUI, Mobile

#8221 Edition updates: TLA
  forge-gui/res/editions/Avatar The Last Airbender.txt
Labels: Upcoming Set

#8234 Streamline logic so canPlay always before canPay
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-game/src/main/java/forge/game/mana/ManaCostBeingPaid.java
  forge-gui/src/main/java/forge/gamemodes/match/input/InputPayManaOfCostPayment.java
Labels: AI

#8238 Cleanup API handling
  forge-ai/src/main/java/forge/ai/AiAttackController.java
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilCost.java
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-ai/src/main/java/forge/ai/SpellAbilityAi.java
  forge-ai/src/main/java/forge/ai/ability/AlwaysPlayAi.java
  forge-ai/src/main/java/forge/ai/ability/AnimateAi.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/CountersPutAi.java
  forge-ai/src/main/java/forge/ai/ability/CountersRemoveAi.java
  forge-ai/src/main/java/forge/ai/ability/DestroyAi.java
  forge-ai/src/main/java/forge/ai/ability/LifeGainAi.java
  forge-ai/src/main/java/forge/ai/ability/PermanentCreatureAi.java
  forge-ai/src/main/java/forge/ai/ability/ScryAi.java
  forge-ai/src/main/java/forge/ai/ability/SurveilAi.java
  forge-ai/src/main/java/forge/ai/ability/UntapAi.java
  forge-game/src/main/java/forge/game/cost/CostPartMana.java
  forge-gui/res/cardsfolder/c/clives_hideaway.txt
  forge-gui/res/cardsfolder/f/fatal_push.txt
  forge-gui/res/cardsfolder/h/heliods_punishment.txt
  forge-gui/res/cardsfolder/h/howltooth_hollow.txt
  forge-gui/res/cardsfolder/m/mosswort_bridge.txt
  forge-gui/res/cardsfolder/r/repeating_barrage.txt
  forge-gui/res/cardsfolder/s/sasaya_orochi_ascendant_sasayas_essence.txt
  forge-gui/res/cardsfolder/s/scroll_of_origins.txt
  forge-gui/res/cardsfolder/s/shelldock_isle.txt
  forge-gui/res/cardsfolder/s/spinerock_knoll.txt
  forge-gui/res/cardsfolder/t/timely_reinforcements.txt
  forge-gui/res/cardsfolder/w/windbrisk_heights.txt
Labels: ai-optimization

#8205 Cleanup: 2025-07-25
  forge-gui/res/cardsfolder/a/abzan_falconer.txt
  forge-gui/res/cardsfolder/a/akroma_vision_of_ixidor.txt
  forge-gui/res/cardsfolder/c/chaos_terminator_lord.txt
  forge-gui/res/cardsfolder/c/conversion.txt
  forge-gui/res/cardsfolder/d/deathleaper_terror_weapon.txt
  forge-gui/res/cardsfolder/d/djeru_and_hazoret.txt
  forge-gui/res/cardsfolder/e/emberstrike_duo.txt
  forge-gui/res/cardsfolder/e/emerald_dragonfly.txt
  forge-gui/res/cardsfolder/f/fallaji_chaindancer.txt
  forge-gui/res/cardsfolder/g/gorilla_pack.txt
  forge-gui/res/cardsfolder/h/haunted_hellride.txt
  forge-gui/res/cardsfolder/j/jon_irenicus_shattered_one.txt
  forge-gui/res/cardsfolder/l/lance.txt
  forge-gui/res/cardsfolder/m/mardu_charm.txt
  forge-gui/res/cardsfolder/m/marton_stromgald.txt
  forge-gui/res/cardsfolder/n/naktamun_shines_again.txt
  forge-gui/res/cardsfolder/p/primeval_bounty.txt
  forge-gui/res/cardsfolder/r/restless_spire.txt
  forge-gui/res/cardsfolder/rebalanced/a-ancestral_katana.txt
  forge-gui/res/cardsfolder/s/sarevok_the_usurper.txt
  forge-gui/res/cardsfolder/s/sidequest_card_collection_magicked_card.txt
  forge-gui/res/cardsfolder/s/skanos_dragon_vassal.txt
  forge-gui/res/cardsfolder/s/skorpekh_destroyer.txt
  forge-gui/res/cardsfolder/s/skyserpent_seeker.txt
  forge-gui/res/cardsfolder/s/spitting_slug.txt
  forge-gui/res/cardsfolder/t/thunderous_orator.txt
  forge-gui/res/cardsfolder/u/unnatural_summons.txt
  forge-gui/res/cardsfolder/w/warzone_duplicator.txt
  forge-gui/res/cardsfolder/w/wilson_bear_comrade.txt
Labels: Card Cleanup

#8247 Consolidate logic
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/ManaAi.java
  forge-ai/src/main/java/forge/ai/ability/MillAi.java
  forge-ai/src/main/java/forge/ai/ability/PeekAndRevealAi.java
  forge-ai/src/main/java/forge/ai/ability/TokenAi.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-gui/res/cardsfolder/a/aminatous_augury.txt
  forge-gui/res/cardsfolder/d/drowner_of_secrets.txt
  forge-gui/res/cardsfolder/d/duskmantle_house_of_shadow.txt
  forge-gui/res/cardsfolder/e/embalmers_tools.txt
  forge-gui/res/cardsfolder/h/hair_strung_koto.txt
  forge-gui/res/cardsfolder/k/kefnet_the_mindful.txt
  forge-gui/res/cardsfolder/l/liliana_the_last_hope.txt
  forge-gui/res/cardsfolder/l/liliana_the_necromancer.txt
  forge-gui/res/cardsfolder/m/millstone.txt
  forge-gui/res/cardsfolder/s/sands_of_delirium.txt
  forge-gui/res/cardsfolder/s/scrib_nibblers.txt
  forge-gui/res/cardsfolder/s/syr_konrad_the_grim.txt
  forge-gui/res/cardsfolder/t/the_mending_of_dominaria.txt
  forge-gui/res/cardsfolder/t/trenchpost.txt
  forge-gui/res/cardsfolder/v/viviens_grizzly.txt
Labels: Card Cleanup, ai-optimization

#8248 Add puzzle PS_FIN4
  forge-gui/res/puzzle/PS_FIN4.pzl
Labels: Puzzle Mode

#8266 Fix Brave the Wilds
  forge-ai/src/main/java/forge/ai/AiPlayDecision.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ability/AnimateAi.java
  forge-ai/src/main/java/forge/ai/ability/DestroyAi.java
  forge-gui/res/cardsfolder/s/shared_fate.txt
Labels: AI

#8264 Align invalid Player property result with Card (for Lozhan)
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
Labels: Card Patch
