Repository Card-Forge/forge, pull requests merged in 2025-09, with the labels that each got.

#8579 The Soul Stone and support
  forge-game/src/main/java/forge/game/ability/effects/AlterAttributeEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-gui/res/cardsfolder/upcoming/the_soul_stone.txt
  forge-gui/res/lists/TypeLists.txt
Labels: Upcoming Set, Game Mechanics

#8622 Optional fixes
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/ability/effects/PumpEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-gui/res/cardsfolder/a/arclight_phoenix.txt
  forge-gui/res/cardsfolder/f/flourishing_defenses.txt
  forge-gui/res/cardsfolder/g/glowspore_shaman.txt
  forge-gui/res/cardsfolder/i/isperia_supreme_judge.txt
  forge-gui/res/cardsfolder/k/kassandra_eagle_bearer.txt
  forge-gui/res/cardsfolder/l/leonin_iconoclast.txt
  forge-gui/res/cardsfolder/l/liege_of_the_tangle.txt
  forge-gui/res/cardsfolder/p/patron_of_the_kitsune.txt
  forge-gui/res/cardsfolder/p/pawn_of_ulamog.txt
  forge-gui/res/cardsfolder/s/sefris_of_the_hidden_ways.txt
  forge-gui/res/cardsfolder/s/shaun_and_rebecca_agents.txt
  forge-gui/res/cardsfolder/s/sphinx_ambassador.txt
  forge-gui/res/cardsfolder/t/talus_paladin.txt
  forge-gui/res/cardsfolder/t/thicket_elemental.txt
  forge-gui/res/cardsfolder/u/uro_titan_of_natures_wrath.txt
Labels: Card Patch

#8615 Mayhem for Lands
  forge-ai/src/main/java/forge/ai/ability/PermanentCreatureAi.java
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/card/CardFactory.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/player/Player.java
Labels: Game Mechanics

#8625 Fix incorrect conformity in adventure events.
  forge-gui-mobile/src/forge/adventure/scene/DuelScene.java
Labels: Adventure, Drafting

#8632 Delete SetLookup for J21
  forge-gui/res/editions/Jumpstart Historic Horizons.txt
  forge-gui/res/setlookup/J21.txt
Labels: Images

#8619 Fix Arachnus Spinner not choosing a target for the Web
  forge-gui/res/cardsfolder/a/arachnus_spinner.txt
Labels: Card Patch

#8639 Edition updates: MAR, SPM
  forge-gui/res/editions/Marvel Universe.txt
  forge-gui/res/editions/Marvel's Spider-Man.txt
Labels: Upcoming Set

#8649 Remove fake KW
  forge-game/src/main/java/forge/game/combat/AttackRequirement.java
  forge-game/src/main/java/forge/game/combat/CombatUtil.java
  forge-gui/res/cardsfolder/k/kardur_doomscourge.txt
Labels: Game Mechanics

#8651 Edition updates: MAR, OM1, PSPM, SLD, SPM
  forge-gui/res/editions/Marvel Universe.txt
  forge-gui/res/editions/Marvel's Spider-Man Promos.txt
  forge-gui/res/editions/Marvel's Spider-Man.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Through the Omenpaths 1.txt
Labels: Upcoming Set

#8654 Mayhem: add Reminder for Land with no Cost
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/keyword/Mayhem.java
Labels: Upcoming Set

#8660 update VSubmenuSealed panel
  forge-gui-desktop/src/main/java/forge/screens/home/sanctioned/VSubmenuSealed.java
Labels: GUI, Desktop

#8667 announce savefile error
  forge-gui-mobile/src/forge/adventure/util/SaveFileData.java
  forge-gui-mobile/src/forge/adventure/world/WorldSave.java
Labels: Adventure

#8676 Fix crash when equipping The Reaver Cleaver
  forge-gui/res/cardsfolder/t/the_reaver_cleaver.txt
Labels: Card Patch

#8678 Edition updates: OM1, SLD
  forge-gui/res/editions/Secret Lair Drop Series.txt
  forge-gui/res/editions/Through the Omenpaths 1.txt
Labels: Upcoming Set

#8684 Fix tokens and some images ID
  forge-gui/res/editions/Alchemy Horizons Baldur's Gate.txt
  forge-gui/res/editions/Commander Collection Black.txt
  forge-gui/res/editions/Friday Night Magic 2012.txt
  forge-gui/res/editions/Friday Night Magic 2017.txt
  forge-gui/res/editions/Global Series Jiang Yanggu & Mu Yanling.txt
  forge-gui/res/editions/Guilds of Ravnica Guild Kit.txt
  forge-gui/res/editions/Innistrad Crimson Vow.txt
  forge-gui/res/editions/Innistrad Midnight Hunt.txt
  forge-gui/res/editions/Innistrad Remastered.txt
  forge-gui/res/editions/Open the Helvault.txt
Labels: Images

#8685 Update Recruit Instructor
  forge-gui/res/cardsfolder/r/recruit_instructor.txt
Labels: Card Patch

#8703 fix crash Android 8-13 NoSuchMethodError, prevent crash for missing card
  forge-core/src/main/java/forge/StaticData.java
  forge-game/src/main/java/forge/game/card/CardState.java
  forge-gui-mobile/src/forge/adventure/util/CardUtil.java
  forge-gui/src/main/java/forge/deck/DeckImportController.java
  forge-gui/src/main/java/forge/gamemodes/limited/BoosterDraft.java
Labels: Adventure, Android

#8706 Different effect card for Emrakul Castle difficulty
  forge-gui/res/adventure/common/custom_card_pics/Emrakul's Awakening.fullborder.jpg
  forge-gui/res/adventure/common/custom_cards/emrakul_awakening.txt
  forge-gui/res/adventure/common/maps/map/emrakul/emrakul_legacy.tmx
Labels: Adventure

#8707 use player or geneticAI deck for missing decks
  forge-gui-mobile/src/forge/adventure/scene/DuelScene.java
Labels: Adventure

#8719 update AltZoneLayout VCardDisplayArea for Landscape
  forge-gui-mobile/src/forge/Forge.java
  forge-gui-mobile/src/forge/adventure/scene/SettingsScene.java
  forge-gui-mobile/src/forge/screens/match/MatchController.java
  forge-gui-mobile/src/forge/screens/match/views/VCardDisplayArea.java
  forge-gui-mobile/src/forge/screens/match/views/VField.java
  forge-gui-mobile/src/forge/screens/match/views/VManaPool.java
  forge-gui-mobile/src/forge/screens/match/views/VPlayerPanel.java
  forge-gui-mobile/src/forge/screens/match/views/VZoneDisplay.java
  forge-gui-mobile/src/forge/screens/settings/SettingsPage.java
Labels: GUI, Mobile

#8720 ColorSet: store EnumSet and toString as Final
  forge-core/src/main/java/forge/card/ColorSet.java
  forge-core/src/main/java/forge/card/MagicColor.java
  forge-core/src/main/java/forge/deck/DeckRecognizer.java
  forge-core/src/main/java/forge/item/PaperCard.java
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/trackable/TrackableTypes.java
  forge-gui-desktop/src/main/java/forge/itemmanager/views/ColorSetRenderer.java
  forge-gui-desktop/src/main/java/forge/toolbox/CardFaceSymbols.java
  forge-gui-mobile/src/forge/card/CardFaceSymbols.java
  forge-gui-mobile/src/forge/card/ColorSetImage.java
  forge-gui-mobile/src/forge/itemmanager/views/ImageView.java
  forge-gui/src/main/java/forge/gamemodes/planarconquest/ConquestUtil.java
  forge-gui/src/main/java/forge/gui/card/CardDetailUtil.java
  forge-gui/src/main/java/forge/itemmanager/ColumnDef.java
Labels: Game Mechanics, GUI

#8725 fix tab display area size on Horizontal layout
  forge-gui-mobile/src/forge/screens/match/views/VPlayerPanel.java
Labels: Mobile

#8730 Fix Self-Destruct
  forge-game/src/main/java/forge/game/Game.java
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/effects/DamageResolveEffect.java
  forge-gui/res/cardsfolder/s/self_destruct.txt
Labels: Crash fix

#8464 Support named abilities
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/PlayEffect.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/trigger/Trigger.java
Labels: Enhancement

#8744 Fix copied SA using old replacingObjects
  forge-game/src/main/java/forge/game/ability/effects/SacrificeEffect.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
Labels: Game Mechanics

#8745 fix gap and visibility on horizontal layout
  forge-gui-mobile/src/forge/screens/match/views/VPlayerPanel.java
Labels: Mobile

#8747 Cleanup 2025-09-19, pass 1
  forge-gui/res/cardsfolder/a/airbending_lesson.txt
  forge-gui/res/cardsfolder/b/badgermole.txt
  forge-gui/res/cardsfolder/b/behold_the_sinister_six.txt
  forge-gui/res/cardsfolder/b/bumi_eclectic_earthbender.txt
  forge-gui/res/cardsfolder/c/chlorophant.txt
  forge-gui/res/cardsfolder/d/dai_li_indoctrination.txt
  forge-gui/res/cardsfolder/e/earth_village_ruffians.txt
  forge-gui/res/cardsfolder/e/earthbending_student.txt
  forge-gui/res/cardsfolder/e/electros_bolt.txt
  forge-gui/res/cardsfolder/f/fire_lord_zuko.txt
  forge-gui/res/cardsfolder/f/fire_nation_attacks.txt
  forge-gui/res/cardsfolder/f/fire_sages.txt
  forge-gui/res/cardsfolder/h/haru_hidden_talent.txt
  forge-gui/res/cardsfolder/i/inner_demons_gangsters.txt
  forge-gui/res/cardsfolder/n/name_sticker_goblin.txt
  forge-gui/res/cardsfolder/p/peter_parker_amazing_spider_man.txt
  forge-gui/res/cardsfolder/r/rebellious_captives.txt
  forge-gui/res/cardsfolder/r/rough_rhino_cavalry.txt
  forge-gui/res/cardsfolder/t/toph_the_blind_bandit.txt
  forge-gui/res/cardsfolder/t/toph_the_first_metalbender.txt
  forge-gui/res/cardsfolder/v/vindictive_warden.txt
  forge-gui/res/tokenscripts/g_1_1_forest_dryad_squirrel.txt
  forge-gui/res/tokenscripts/r_2_2_soldier_firebending_1.txt
Labels: Card Cleanup

#8777 fix removing item by name
  forge-gui-mobile/src/forge/adventure/player/AdventurePlayer.java
Labels: Adventure

#8787 Edition updates: AA3, AA4, ECL, MAR, PMEI, SLD, TLE
  forge-gui/res/editions/Arena Anthology 3.txt
  forge-gui/res/editions/Arena Anthology 4.txt
  forge-gui/res/editions/Avatar The Last Airbender Eternal.txt
  forge-gui/res/editions/Lorwyn Eclipsed.txt
  forge-gui/res/editions/Marvel Universe.txt
  forge-gui/res/editions/Media and Collaboration Promos.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#8800 Restore fixes
  forge-ai/src/main/java/forge/ai/ability/ConniveAi.java
  forge-ai/src/main/java/forge/ai/ability/ControlExchangeAi.java
  forge-ai/src/main/java/forge/ai/ability/MustBlockAi.java
  forge-ai/src/main/java/forge/ai/ability/PhasesAi.java
  forge-gui/res/cardsfolder/a/axelrod_gunnarson.txt
  forge-gui/res/cardsfolder/b/brudiclad_telchor_engineer.txt
  forge-gui/res/cardsfolder/c/caesar_legions_emperor.txt
  forge-gui/res/cardsfolder/c/crisis_of_conscience.txt
  forge-gui/res/cardsfolder/g/grishnakh_brash_instigator.txt
  forge-gui/res/cardsfolder/p/prosperity_tycoon.txt
  forge-gui/res/cardsfolder/s/soul_collector.txt
Labels: AI

#8794 [ECL] 10 cards
  forge-gui/res/cardsfolder/upcoming/ashling_rekindled_ashling_rimebound.txt
  forge-gui/res/cardsfolder/upcoming/ashlings_command.txt
  forge-gui/res/cardsfolder/upcoming/bitterbloom_bearer.txt
  forge-gui/res/cardsfolder/upcoming/deceit.txt
  forge-gui/res/cardsfolder/upcoming/eirdu_carrier_of_dawn_isilu_carrier_of_twilight.txt
  forge-gui/res/cardsfolder/upcoming/emptiness.txt
  forge-gui/res/cardsfolder/upcoming/figure_of_fable.txt
  forge-gui/res/cardsfolder/upcoming/morningtides_light.txt
  forge-gui/res/cardsfolder/upcoming/mutable_explorer.txt
  forge-gui/res/cardsfolder/upcoming/sygg_wanderwine_wisdom_sygg_wanderbrine_shield.txt
Labels: Upcoming Set

#8797 SLD 11 cards + support for new partner variants
  forge-core/src/main/java/forge/card/CardRules.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-gui/res/cardsfolder/upcoming/abby_merciless_soldier.txt
  forge-gui/res/cardsfolder/upcoming/aloy_savior_of_meridian.txt
  forge-gui/res/cardsfolder/upcoming/atreus_impulsive_son.txt
  forge-gui/res/cardsfolder/upcoming/ellie_brick_master.txt
  forge-gui/res/cardsfolder/upcoming/ellie_vengeful_hunter.txt
  forge-gui/res/cardsfolder/upcoming/jaws_relentless_predator.txt
  forge-gui/res/cardsfolder/upcoming/jin_sakai_ghost_of_tsushima.txt
  forge-gui/res/cardsfolder/upcoming/joel_resolute_survivor.txt
  forge-gui/res/cardsfolder/upcoming/kratos_god_of_war.txt
  forge-gui/res/cardsfolder/upcoming/kratos_stoic_father.txt
  forge-gui/res/cardsfolder/upcoming/nathan_drake_treasure_hunter.txt
  forge-gui/res/tokenscripts/cordyceps_infected.txt
Labels: Upcoming Set

#8499 YEOE: 4 cards, batch 3
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/upcoming/monoist_gravliner.txt
  forge-gui/res/cardsfolder/upcoming/spirited_simulacrum.txt
  forge-gui/res/cardsfolder/upcoming/squadron_carrier.txt
  forge-gui/res/cardsfolder/upcoming/thought_partition.txt
Labels: Upcoming Set

#8814 Update joel_resolute_survivor.txt
  forge-gui/res/cardsfolder/upcoming/joel_resolute_survivor.txt
Labels: Card Cleanup
