Repository Card-Forge/forge, pull requests merged in 2025-01, with the labels that each got.

#6742 Fix Alternative Zone Layout on mobile
  forge-gui-mobile/src/forge/screens/match/views/VPlayerPanel.java
Labels: bug, GUI, Mobile

#6733 Extra cost gift rework
  forge-ai/src/main/java/forge/ai/AiController.java
  forge-ai/src/main/java/forge/ai/ComputerUtil.java
  forge-ai/src/main/java/forge/ai/ComputerUtilAbility.java
  forge-ai/src/main/java/forge/ai/ComputerUtilMana.java
  forge-ai/src/main/java/forge/ai/PlayerControllerAi.java
  forge-ai/src/main/java/forge/ai/SpellAbilityAi.java
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-ai/src/main/java/forge/ai/ability/ChangeZoneAi.java
  forge-ai/src/main/java/forge/ai/ability/ChooseGenericAi.java
  forge-ai/src/main/java/forge/ai/ability/ClassLevelUpAi.java
  forge-ai/src/main/java/forge/ai/ability/CounterAi.java
  forge-ai/src/main/java/forge/ai/ability/DelayedTriggerAi.java
  forge-ai/src/main/java/forge/ai/ability/EffectAi.java
  forge-ai/src/main/java/forge/ai/ability/ImmediateTriggerAi.java
  forge-ai/src/main/java/forge/ai/ability/PeekAndRevealAi.java
  forge-ai/src/main/java/forge/ai/ability/TokenAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeZoneEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-gui/res/cardsfolder/c/coiling_rebirth.txt
  forge-gui/res/cardsfolder/c/consumed_by_greed.txt
  forge-gui/res/cardsfolder/d/dewdrop_cure.txt
  forge-gui/res/cardsfolder/i/into_the_flood_maw.txt
  forge-gui/res/cardsfolder/l/long_rivers_pull.txt
  forge-gui/res/cardsfolder/m/mind_spiral.txt
  forge-gui/res/cardsfolder/p/peerless_recycling.txt
  forge-gui/res/cardsfolder/s/sazacaps_brew.txt
  forge-gui/res/cardsfolder/v/valley_rally.txt
  forge-gui/res/cardsfolder/w/wear_down.txt
  forge-gui/res/cardsfolder/w/wildfire_howl.txt
Labels: Game Mechanics, AI

#6748 Update pom.xml
  forge-gui-desktop/pom.xml
Labels: Desktop

#6753 Update GameAction.java
  forge-game/src/main/java/forge/game/GameAction.java
Labels: bug, Game Mechanics

#6754 Replace Cling with jupnp
  forge-gui-android/proguard.cfg
  forge-gui/pom.xml
  forge-gui/src/main/java/forge/gamemodes/net/server/FServerManager.java
Labels: Android

#6759 Edition updates: INR
  forge-gui/res/editions/Innistrad Remastered.txt
Labels: Upcoming Set

#6760 Move Altar of the Pantheon to its own static
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityDevotion.java
  forge-gui/res/cardsfolder/a/altar_of_the_pantheon.txt
Labels: Game Mechanics

#6762 Averna: use ReplaceCascade Effect
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/effects/DigUntilEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/replacement/ReplaceCascade.java
  forge-game/src/main/java/forge/game/replacement/ReplacementType.java
  forge-gui/res/cardsfolder/a/averna_the_chaos_bloom.txt
Labels: Game Mechanics

#6758 CardView: added extra check for Ward and Annihilator icons
  forge-game/src/main/java/forge/game/card/CardView.java
Labels: GUI

#6776 CharmAi: fix duplicated choice
  forge-ai/src/main/java/forge/ai/ability/CharmAi.java
Labels: bug

#6782 Curse of Vengeance finally works
  forge-game/src/main/java/forge/game/Game.java
Labels: bug

#6185 DA1: The Battle of Dragon Brothers // Fate Reforged
  forge-gui/res/cardsfolder/t/the_battle_of_dragon_brothers_fate_reforged.txt
Labels: keep

#6790 Fix Averna
  forge-gui/res/cardsfolder/a/averna_the_chaos_bloom.txt
Labels: Card Patch

#6792 Card: add RenderForUI to disable Render for Effects
  forge-game/src/main/java/forge/game/GameActionUtil.java
  forge-game/src/main/java/forge/game/ability/effects/DetachedCardEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardView.java
  forge-game/src/main/java/forge/game/replacement/ReplacementHandler.java
Labels: Game Mechanics, GUI

#6806 Reconfigure: use StaticLayer
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
Labels: Game Mechanics

#6813 Edition updates: DFT, DRC, PMEI, SLD
  forge-gui/res/editions/Aetherdrift Commander.txt
  forge-gui/res/editions/Aetherdrift.txt
  forge-gui/res/editions/Media and Collaboration Promos.txt
  forge-gui/res/editions/Secret Lair Drop Series.txt
Labels: Upcoming Set

#6818 Exhaust: add new Flag and Static for bypass
  forge-game/src/main/java/forge/game/ForgeScript.java
  forge-game/src/main/java/forge/game/ability/AbilityFactory.java
  forge-game/src/main/java/forge/game/spellability/SpellAbility.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityExhaust.java
  forge-gui/res/cardsfolder/upcoming/elvish_refueler.txt
Labels: Upcoming Set, Game Mechanics

#6803 Removal of convention cards in adventure
  forge-gui/res/adventure/common/config.json
Labels: Adventure

#6827 Create .gitattributes
  forge-gui/res/cardsfolder/.gitattributes
Labels: Upcoming Set

#6834 Edition updates: DFT, DRC, SPG
  forge-gui/res/editions/Aetherdrift Commander.txt
  forge-gui/res/editions/Aetherdrift.txt
  forge-gui/res/editions/Special Guests.txt
Labels: Upcoming Set

#6849 Edition updates: DFT, PW25, SPG
  forge-gui/res/cardsfolder/upcoming/autarch_mammoth.txt
  forge-gui/res/cardsfolder/upcoming/ketramose_the_new_dawn.txt
  forge-gui/res/cardsfolder/upcoming/marauding_mako.txt
  forge-gui/res/cardsfolder/upcoming/marketback_walker.txt
  forge-gui/res/cardsfolder/upcoming/sab_sunen_luxa_embodied.txt
  forge-gui/res/editions/Aetherdrift.txt
  forge-gui/res/editions/Special Guests.txt
  forge-gui/res/editions/Wizards Play Network 2025.txt
Labels: Upcoming Set

#6863 Edition updates: DFT, DRC, SLP
  forge-gui/res/editions/Aetherdrift Commander.txt
  forge-gui/res/editions/Aetherdrift.txt
  forge-gui/res/editions/Secret Lair Showdown.txt
Labels: Upcoming Set

#6870 Fix pyrewood_gearhulk
  forge-gui/res/cardsfolder/upcoming/pyrewood_gearhulk.txt
  forge-gui/res/cardsfolder/upcoming/territorial_aetherkite.txt
Labels: Card Cleanup

#6866 ReplaceToken: use Param from ReplacementEffect
  forge-game/src/main/java/forge/game/ability/effects/ReplaceTokenEffect.java
  forge-gui/res/cardsfolder/a/academy_manufactor.txt
  forge-gui/res/cardsfolder/a/adrix_and_nev_twincasters.txt
  forge-gui/res/cardsfolder/a/anointed_procession.txt
  forge-gui/res/cardsfolder/b/bloodsplatter_vampire.txt
  forge-gui/res/cardsfolder/c/case_of_the_pilfered_proof.txt
  forge-gui/res/cardsfolder/c/chatterfang_squirrel_general.txt
  forge-gui/res/cardsfolder/c/crafty_cutpurse.txt
  forge-gui/res/cardsfolder/d/divine_visitation.txt
  forge-gui/res/cardsfolder/d/doubling_season.txt
  forge-gui/res/cardsfolder/f/fishers_talent.txt
  forge-gui/res/cardsfolder/h/halving_season.txt
  forge-gui/res/cardsfolder/j/jolene_the_plunder_queen.txt
  forge-gui/res/cardsfolder/k/kaya_geist_hunter.txt
  forge-gui/res/cardsfolder/m/mondrak_glory_dominus.txt
  forge-gui/res/cardsfolder/o/ojer_taq_deepest_foundation_temple_of_civilization.txt
  forge-gui/res/cardsfolder/p/parallel_lives.txt
  forge-gui/res/cardsfolder/p/peregrin_took.txt
  forge-gui/res/cardsfolder/q/queen_allenal_of_ruadach.txt
  forge-gui/res/cardsfolder/w/worldwalker_helm.txt
  forge-gui/res/cardsfolder/x/xorn.txt
Labels: Game Mechanics

#6861 StaticAbility: use getActiveZone functions
  forge-game/src/main/java/forge/game/ability/effects/EffectEffect.java
  forge-game/src/main/java/forge/game/staticability/StaticAbility.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityAlternativeCost.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityCantTarget.java
  forge-game/src/main/java/forge/game/zone/ZoneType.java
  forge-gui/res/cardsfolder/g/gideon_ally_of_zendikar.txt
Labels: bug, Game Mechanics

#6889 weird
  forge-gui/res/cardsfolder/upcoming/adaptive_omnitool.txt
  forge-gui/res/cardsfolder/upcoming/aetherflux_conduit.txt
  forge-gui/res/cardsfolder/upcoming/lost_monarch_of_ifnir.txt
  forge-gui/res/cardsfolder/upcoming/marshals_pathcruiser.txt
  forge-gui/res/cardsfolder/upcoming/nissa_worldsoul_speaker.txt
  forge-gui/res/cardsfolder/upcoming/peema_trailblazer.txt
  forge-gui/res/cardsfolder/upcoming/possession_engine.txt
  forge-gui/res/cardsfolder/upcoming/pyrewood_gearhulk.txt
  forge-gui/res/cardsfolder/upcoming/rampaging_aetherhood.txt
  forge-gui/res/cardsfolder/upcoming/spotcycle_scouter.txt
  forge-gui/res/cardsfolder/upcoming/stridehangar_automaton.txt
  forge-gui/res/cardsfolder/upcoming/wreck_remover.txt
Labels: AI, Card Cleanup

#6888 Speed / Start your engines!
  forge-ai/src/main/java/forge/ai/GameState.java
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-ai/src/main/java/forge/ai/simulation/GameCopier.java
  forge-game/src/main/java/forge/game/CardTraitBase.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/IncreaseSpeedEffect.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/event/GameEventSpeedUp.java
  forge-game/src/main/java/forge/game/event/IGameEventVisitor.java
  forge-game/src/main/java/forge/game/keyword/Keyword.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-game/src/main/java/forge/game/player/PlayerProperty.java
  forge-game/src/main/java/forge/game/player/PlayerView.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityCondition.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityRestriction.java
  forge-game/src/main/java/forge/game/spellability/SpellAbilityVariables.java
  forge-game/src/main/java/forge/trackable/TrackableProperty.java
  forge-gui/res/cardsfolder/upcoming/aether_syphon.txt
  forge-gui/res/cardsfolder/upcoming/amonkhet_raceway.txt
  forge-gui/res/cardsfolder/upcoming/avishkar_raceway.txt
  forge-gui/res/cardsfolder/upcoming/embalmed_ascendant.txt
  forge-gui/res/cardsfolder/upcoming/endrider_catalyzer.txt
  forge-gui/res/cardsfolder/upcoming/far_fortune_end_boss.txt
  forge-gui/res/cardsfolder/upcoming/goblin_surveyor.txt
  forge-gui/res/cardsfolder/upcoming/hazoret_godseeker.txt
  forge-gui/res/cardsfolder/upcoming/hour_of_victory.txt
  forge-gui/res/languages/en-US.properties
  forge-gui/res/sound/speedup.mp3
  forge-gui/src/main/java/forge/sound/EventVisualizer.java
  forge-gui/src/main/java/forge/sound/SoundEffectType.java
Labels: Upcoming Set, Game Mechanics

#6894 Remove some Cost$
  forge-gui/res/cardsfolder/b/blood_chin_rager.txt
  forge-gui/res/cardsfolder/c/clinging_mists.txt
  forge-gui/res/cardsfolder/c/contentious_plan.txt
  forge-gui/res/cardsfolder/c/corrosion.txt
  forge-gui/res/cardsfolder/e/elesh_norn_the_argent_etchings.txt
  forge-gui/res/cardsfolder/f/feat_of_resistance.txt
  forge-gui/res/cardsfolder/h/harvestguard_alseids.txt
  forge-gui/res/cardsfolder/i/inspiring_bard.txt
  forge-gui/res/cardsfolder/i/izzet_charm.txt
  forge-gui/res/cardsfolder/j/jinxed_choker.txt
  forge-gui/res/cardsfolder/m/mirror_mad_phantasm.txt
  forge-gui/res/cardsfolder/o/ogre_painbringer.txt
  forge-gui/res/cardsfolder/p/plundering_barbarian.txt
  forge-gui/res/cardsfolder/p/precognitive_perception.txt
  forge-gui/res/cardsfolder/p/proteus_machine.txt
  forge-gui/res/cardsfolder/q/quandrix_command.txt
  forge-gui/res/cardsfolder/t/temur_charm.txt
  forge-gui/res/cardsfolder/t/tooth_and_nail.txt
Labels: Card Cleanup

#6896 Speed round 2
  forge-game/src/main/java/forge/game/staticability/StaticAbility.java
  forge-gui/res/cardsfolder/upcoming/mendicant_core_guidelight.txt
  forge-gui/res/cardsfolder/upcoming/momentum_breaker.txt
  forge-gui/res/cardsfolder/upcoming/muraganda_raceway.txt
  forge-gui/res/cardsfolder/upcoming/nesting_bot.txt
  forge-gui/res/cardsfolder/upcoming/perilous_snare.txt
  forge-gui/res/cardsfolder/upcoming/samut_the_driving_force.txt
  forge-gui/res/cardsfolder/upcoming/starting_column.txt
  forge-gui/res/cardsfolder/upcoming/streaking_oilgorger.txt
  forge-gui/res/cardsfolder/upcoming/vnwxt_verbose_host.txt
  forge-gui/res/cardsfolder/upcoming/zahur_glorys_past.txt
Labels: Upcoming Set

#6897 TriggerCrewedSaddled: unify
  forge-game/src/main/java/forge/game/ability/AbilityKey.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/card/Card.java
  forge-game/src/main/java/forge/game/card/CardProperty.java
  forge-game/src/main/java/forge/game/trigger/TriggerBecomesCrewed.java
  forge-game/src/main/java/forge/game/trigger/TriggerCrewedSaddled.java
  forge-game/src/main/java/forge/game/trigger/TriggerType.java
  forge-game/src/main/java/forge/game/zone/MagicStack.java
  forge-gui/res/cardsfolder/a/adrestia.txt
  forge-gui/res/cardsfolder/g/gearshift_ace.txt
  forge-gui/res/cardsfolder/g/ghost_ark.txt
  forge-gui/res/cardsfolder/m/mighty_servant_of_leuk_o.txt
  forge-gui/res/cardsfolder/m/mindlink_mech.txt
  forge-gui/res/cardsfolder/m/mobilizer_mech.txt
  forge-gui/res/cardsfolder/p/protean_war_engine.txt
  forge-gui/res/cardsfolder/s/speedway_fanatic.txt
  forge-gui/res/cardsfolder/t/tiana_angelic_mechanic.txt
  forge-gui/res/cardsfolder/upcoming/canyon_vaulter.txt
  forge-gui/res/cardsfolder/v/veteran_motorist.txt
Labels: Game Mechanics

#6901 Roadside Assistance, Reckless Velocitaur, and DRC decks
  forge-gui/res/cardsfolder/upcoming/canyon_vaulter.txt
  forge-gui/res/cardsfolder/upcoming/reckless_velocitaur.txt
  forge-gui/res/cardsfolder/upcoming/roadside_assistance.txt
  forge-gui/res/quest/commanderprecons/Eternal Might [DRC] [2025].dck
  forge-gui/res/quest/commanderprecons/Living Energy [DRC] [2025].dck
Labels: Upcoming Set

#6899 cards that need the new TapPower stuff
  forge-gui/res/cardsfolder/s/shorikai_genesis_engine.txt
  forge-gui/res/cardsfolder/upcoming/back_on_track.txt
  forge-gui/res/cardsfolder/upcoming/cloudspire_captain.txt
  forge-gui/res/cardsfolder/upcoming/cloudspire_coordinator.txt
  forge-gui/res/cardsfolder/upcoming/country_roads.txt
  forge-gui/res/cardsfolder/upcoming/defend_the_rider.txt
  forge-gui/res/cardsfolder/upcoming/foul_roads.txt
  forge-gui/res/cardsfolder/upcoming/interface_ace.txt
  forge-gui/res/cardsfolder/upcoming/reef_roads.txt
  forge-gui/res/cardsfolder/upcoming/rocky_roads.txt
  forge-gui/res/cardsfolder/upcoming/valors_flagship.txt
  forge-gui/res/cardsfolder/upcoming/wild_roads.txt
Labels: Upcoming Set

#6903 risen_necroregent.txt, gas_guzzler.txt
  forge-gui/res/cardsfolder/upcoming/gas_guzzler.txt
  forge-gui/res/cardsfolder/upcoming/risen_necroregent.txt
  forge-gui/res/cardsfolder/upcoming/starting_column.txt
Labels: Upcoming Set

#6907 Edition updates: DFT, DRC
  forge-gui/res/editions/Aetherdrift Commander.txt
  forge-gui/res/editions/Aetherdrift.txt
Labels: Upcoming Set

#6911 Fix split card reset before LKI creation
  forge-game/src/main/java/forge/game/GameAction.java
  forge-gui/res/cardsfolder/s/sanctifier_en_vec.txt
Labels: Game Mechanics, Rules compliance

#6869 Dependency Graphs
  forge-ai/src/main/java/forge/ai/simulation/GameCopier.java
  forge-game/pom.xml
  forge-game/src/main/java/forge/game/GameAction.java
  forge-game/src/main/java/forge/game/StaticEffect.java
  forge-game/src/main/java/forge/game/StaticEffects.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityContinuous.java
  forge-game/src/main/java/forge/game/staticability/StaticAbilityLayer.java
  forge-gui-desktop/src/test/java/forge/ai/simulation/GameSimulationTest.java
Labels: enhancement, Game Mechanics, Rules compliance

#6915 spikeshell_harrier.txt + support
  forge-ai/src/main/java/forge/ai/SpellApiToAi.java
  forge-game/src/main/java/forge/game/ability/AbilityUtils.java
  forge-game/src/main/java/forge/game/ability/ApiType.java
  forge-game/src/main/java/forge/game/ability/effects/ChangeSpeedEffect.java
  forge-game/src/main/java/forge/game/ability/effects/IncreaseSpeedEffect.java
  forge-game/src/main/java/forge/game/card/CardFactoryUtil.java
  forge-game/src/main/java/forge/game/player/Player.java
  forge-gui/res/cardsfolder/upcoming/aetherjacket.txt
  forge-gui/res/cardsfolder/upcoming/pride_of_the_road.txt
  forge-gui/res/cardsfolder/upcoming/slick_imitator.txt
  forge-gui/res/cardsfolder/upcoming/spikeshell_harrier.txt
  forge-gui/res/cardsfolder/upcoming/the_speed_demon.txt
  forge-gui/res/cardsfolder/upcoming/transit_mage.txt
Labels: Upcoming Set, Game Mechanics

#6921 Fix room fully unlocked when turned up from manifest
  forge-game/src/main/java/forge/game/card/Card.java
Labels: bug, Game Mechanics

#6922 19 DFT cards (Mimeoplasm and its imprints)
  forge-gui/res/cardsfolder/upcoming/burnout_bashtronaut.txt
  forge-gui/res/cardsfolder/upcoming/caelorna_coral_tyrant.txt
  forge-gui/res/cardsfolder/upcoming/dracosaur_auxiliary.txt
  forge-gui/res/cardsfolder/upcoming/flood_the_engine.txt
  forge-gui/res/cardsfolder/upcoming/greenbelt_guardian.txt
  forge-gui/res/cardsfolder/upcoming/guardian_sunmare.txt
  forge-gui/res/cardsfolder/upcoming/lumbering_worldwagon.txt
  forge-gui/res/cardsfolder/upcoming/maximum_overdrive.txt
  forge-gui/res/cardsfolder/upcoming/mimeoplasm_revered_one.txt
  forge-gui/res/cardsfolder/upcoming/monument_to_endurance.txt
  forge-gui/res/cardsfolder/upcoming/ooze_patrol.txt
  forge-gui/res/cardsfolder/upcoming/pactdoll_terror.txt
  forge-gui/res/cardsfolder/upcoming/radiant_lotus.txt
  forge-gui/res/cardsfolder/upcoming/regal_imperiosaur.txt
  forge-gui/res/cardsfolder/upcoming/rides_end.txt
  forge-gui/res/cardsfolder/upcoming/ripclaw_wrangler.txt
  forge-gui/res/cardsfolder/upcoming/shefet_archfiend.txt
  forge-gui/res/cardsfolder/upcoming/skyserpent_seeker.txt
  forge-gui/res/cardsfolder/upcoming/unstoppable_plan.txt
  forge-gui/res/cardsfolder/upcoming/webstrike_elite.txt
Labels: Upcoming Set

#6924 gonti_night_minister.txt + support
  forge-game/src/main/java/forge/game/ability/SpellAbilityEffect.java
  forge-game/src/main/java/forge/game/ability/effects/DigEffect.java
  forge-gui/res/cardsfolder/p/phyrexian_boon.txt
  forge-gui/res/cardsfolder/upcoming/afterburner_expert.txt
  forge-gui/res/cardsfolder/upcoming/collision_course.txt
  forge-gui/res/cardsfolder/upcoming/daring_mechanic.txt
  forge-gui/res/cardsfolder/upcoming/detention_chariot.txt
  forge-gui/res/cardsfolder/upcoming/diversion_unit.txt
  forge-gui/res/cardsfolder/upcoming/fang_druid_summoner.txt
  forge-gui/res/cardsfolder/upcoming/gastal_blockbuster.txt
  forge-gui/res/cardsfolder/upcoming/gonti_night_minister.txt
  forge-gui/res/cardsfolder/upcoming/kalakscion_hunger_tyrant.txt
  forge-gui/res/cardsfolder/upcoming/loxodon_surveyor.txt
  forge-gui/res/cardsfolder/upcoming/pit_automaton.txt
  forge-gui/res/cardsfolder/upcoming/rise_from_the_wreck.txt
  forge-gui/res/cardsfolder/upcoming/scrap_compactor.txt
  forge-gui/res/cardsfolder/upcoming/spire_mechcycle.txt
  forge-gui/res/cardsfolder/upcoming/terrian_world_tyrant.txt
  forge-gui/res/cardsfolder/upcoming/trade_the_helm.txt
  forge-gui/res/cardsfolder/upcoming/tyrox_saurid_tyrant.txt
Labels: Upcoming Set

#6936 outpace_oblivion.txt
  forge-gui/res/cardsfolder/upcoming/outpace_oblivion.txt
Labels: Upcoming Set

#6934 another round of whitespace and other fixes
  forge-gui/res/cardsfolder/upcoming/collision_course.txt
  forge-gui/res/cardsfolder/upcoming/daring_mechanic.txt
  forge-gui/res/cardsfolder/upcoming/detention_chariot.txt
  forge-gui/res/cardsfolder/upcoming/diversion_unit.txt
  forge-gui/res/cardsfolder/upcoming/fang_druid_summoner.txt
  forge-gui/res/cardsfolder/upcoming/pit_automaton.txt
  forge-gui/res/cardsfolder/upcoming/rise_from_the_wreck.txt
  forge-gui/res/cardsfolder/upcoming/spire_mechcycle.txt
Labels: AI, Card Cleanup

#6935 grim_bauble.txt and some fixes
  forge-gui/res/cardsfolder/upcoming/adrenaline_jockey.txt
  forge-gui/res/cardsfolder/upcoming/bounce_off.txt
  forge-gui/res/cardsfolder/upcoming/broodheart_engine.txt
  forge-gui/res/cardsfolder/upcoming/burnout_bashtronaut.txt
  forge-gui/res/cardsfolder/upcoming/caelorna_coral_tyrant.txt
  forge-gui/res/cardsfolder/upcoming/crash_and_burn.txt
  forge-gui/res/cardsfolder/upcoming/debris_beetle.txt
  forge-gui/res/cardsfolder/upcoming/dracosaur_auxiliary.txt
  forge-gui/res/cardsfolder/upcoming/flood_the_engine.txt
  forge-gui/res/cardsfolder/upcoming/fuel_the_flames.txt
  forge-gui/res/cardsfolder/upcoming/gastal_thrillroller.txt
  forge-gui/res/cardsfolder/upcoming/greenbelt_guardian.txt
  forge-gui/res/cardsfolder/upcoming/grim_bauble.txt
  forge-gui/res/cardsfolder/upcoming/guardian_sunmare.txt
  forge-gui/res/cardsfolder/upcoming/howlsquad_heavy.txt
  forge-gui/res/cardsfolder/upcoming/lumbering_worldwagon.txt
  forge-gui/res/cardsfolder/upcoming/maximum_overdrive.txt
  forge-gui/res/cardsfolder/upcoming/mimeoplasm_revered_one.txt
  forge-gui/res/cardsfolder/upcoming/monument_to_endurance.txt
  forge-gui/res/cardsfolder/upcoming/ooze_patrol.txt
  forge-gui/res/cardsfolder/upcoming/oviya_automech_artisan.txt
  forge-gui/res/cardsfolder/upcoming/pactdoll_terror.txt
  forge-gui/res/cardsfolder/upcoming/point_the_way.txt
  forge-gui/res/cardsfolder/upcoming/radiant_lotus.txt
  forge-gui/res/cardsfolder/upcoming/regal_imperiosaur.txt
  forge-gui/res/cardsfolder/upcoming/rides_end.txt
  forge-gui/res/cardsfolder/upcoming/ripclaw_wrangler.txt
  forge-gui/res/cardsfolder/upcoming/rover_blades.txt
  forge-gui/res/cardsfolder/upcoming/salvation_engine.txt
  forge-gui/res/cardsfolder/upcoming/shefet_archfiend.txt
  forge-gui/res/cardsfolder/upcoming/skyseers_chariot.txt
  forge-gui/res/cardsfolder/upcoming/skyserpent_seeker.txt
  forge-gui/res/cardsfolder/upcoming/spectacular_pileup.txt
  forge-gui/res/cardsfolder/upcoming/stampeding_scurryfoot.txt
  forge-gui/res/cardsfolder/upcoming/unstoppable_plan.txt
  forge-gui/res/cardsfolder/upcoming/webstrike_elite.txt
  forge-gui/res/cardsfolder/upcoming/wretched_doll.txt
Labels: Upcoming Set, Card Cleanup
